.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc {
  align-items: center;
  background: #000;
  display: flex;
  flex: 1;
  flex-flow: column;
  height: auto;
  justify-content: center;
  padding: var(--padding-top-bottom) var(--padding-sides);
  position: relative;
  text-align: center
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc h5 {
  margin-bottom: 1rem
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form,
.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc h5 {
  position: relative;
  z-index: 2
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form {
  background-color: #000;
  border: 1px solid hsla(0, 0%, 100%, .5);
  display: grid;
  flex-flow: column;
  max-width: 640px;
  padding: 1.25rem;
  text-align: left
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form .rockstargames-modules-core-agegatef8405e61173c4c88818c181a18449963 {
  grid-gap: .5rem;
  align-items: flex-end;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center
}

@media (min-width:768px) {
  .rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form .rockstargames-modules-core-agegatef8405e61173c4c88818c181a18449963 {
    grid-auto-flow: column
  }
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form .rockstargames-modules-core-agegatef8405e61173c4c88818c181a18449963 label {
  color: #999;
  font-size: .8em
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form .rockstargames-modules-core-agegatef8405e61173c4c88818c181a18449963 label input {
  background-color: hsla(0, 0%, 100%, .15);
  border: 0;
  border-bottom: 2px solid #fcaf17;
  color: #fff;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  height: 2.5rem;
  margin-top: 2px;
  text-align: center;
  width: 100%
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form .rockstargames-modules-core-agegatef8405e61173c4c88818c181a18449963 label input:focus {
  outline: none
}

.rockstargames-modules-core-agegatec39defb542dc4e5ef231dbb5cde104dc form button {
  background-color: #fcaf17;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  height: 2.5rem;
  width: 120px
}

.rockstargames-modules-core-agegated241eb8a1bb208791acde5d536c7e295 {
  background: no-repeat 50%/cover;
  filter: blur(5px);
  height: 100%;
  opacity: .25;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}