._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 {
  align-items: center;
  background: #000;
  display: flex;
  flex: 1;
  flex-flow: column;
  height: auto;
  justify-content: center;
  padding: var(--padding-top-bottom) var(--padding-sides);
  position: relative;
  text-align: center
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 h5 {
  margin-bottom: 1rem
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form,
._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 h5 {
  position: relative;
  z-index: 2
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form {
  background-color: #000;
  border: 1px solid hsla(0, 0%, 100%, .5);
  display: grid;
  flex-flow: column;
  max-width: 640px;
  padding: 1.25rem;
  text-align: left
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form ._1c60b0e8e71e15cada2aa579abb1e629fef1 {
  grid-gap: .5rem;
  align-items: flex-end;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center
}

@media (min-width:768px) {
  ._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form ._1c60b0e8e71e15cada2aa579abb1e629fef1 {
    grid-auto-flow: column
  }
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form ._1c60b0e8e71e15cada2aa579abb1e629fef1 label {
  color: #999;
  font-size: .8em
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form ._1c60b0e8e71e15cada2aa579abb1e629fef1 label input {
  background-color: hsla(0, 0%, 100%, .15);
  border: 0;
  border-bottom: 2px solid #fcaf17;
  color: #fff;
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  height: 2.5rem;
  margin-top: 2px;
  text-align: center;
  width: 100%
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form ._1c60b0e8e71e15cada2aa579abb1e629fef1 label input:focus {
  outline: none
}

._1c60b0e8e71e15cae71539fe6bb9b9e28ba7 form button {
  background-color: #fcaf17;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  height: 2.5rem;
  width: 120px
}

._1c60b0e8e71e15cae41bb30580c6f06dbafc {
  background: no-repeat 50%/cover;
  filter: blur(5px);
  height: 100%;
  opacity: .25;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}