.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216:focus,
.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216.rockstargames-sites-legacya8e2ea223dd9d4f3ab8c33b0dd7e8212 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyf8b718491d7051e7d78c4bd691c07216.rockstargames-sites-legacya8e2ea223dd9d4f3ab8c33b0dd7e8212 img {
  filter: invert()
}

.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68:focus,
.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68.rockstargames-sites-legacybfb277f530c95962fcac66bde4d511cf {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyf6e853528f7b70957f74d32dc2924b68.rockstargames-sites-legacybfb277f530c95962fcac66bde4d511cf img {
  filter: invert()
}

.rockstargames-sites-legacyb2b8cd4005cc08e559780a20041d59a2 {
  --hero-content-width: 100%;
  background: var(--black-200);
  color: var(--white-100);
  overflow: hidden;
  position: relative;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyb2b8cd4005cc08e559780a20041d59a2 {
    --hero-text-width: 25rem;
    --hero-content-padding-right: var(--padding-sides);
    --hero-content-padding-tb: var(--padding-sides);
    --hero-content-width: calc(var(--hero-text-width) + var(--padding-sides) + var(--hero-content-padding-right));
    align-items: flex-end;
    background: linear-gradient(180deg, var(--black-200) 50%, var(--black-100) 50.5%);
    display: flex;
    min-height: 45vw
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyb2b8cd4005cc08e559780a20041d59a2 {
    --hero-content-padding-tb: var(--padding-lg);
    --hero-content-padding-right: 5%
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacyb2b8cd4005cc08e559780a20041d59a2 {
    --hero-text-width: 30rem;
    --hero-content-padding-tb: var(--padding-xl)
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacyb2b8cd4005cc08e559780a20041d59a2 {
    background: var(--black-200);
    min-height: unset;
    min-height: 30vw
  }
}

.rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff {
  overflow: hidden
}

@media (max-width:767px) {
  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff {
    --aspect-ratio: 1;
    --aspect-ratio-default: 1;
    position: relative
  }

  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
    width: 100%
  }

  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

@media (max-width:767px) and (min-width:1024px) {
  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff {
    --aspect-ratio-default: 16/9
  }
}

@media (max-width:1023px) {
  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff {
    --aspect-ratio: 16/9;
    --aspect-ratio-default: 1;
    position: relative;
    width: 100%
  }

  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
    width: 100%
  }

  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

@media (max-width:1023px) and (min-width:1024px) {
  .rockstargames-sites-legacyfe52f5c5faace35bc3f20bb6580475ff {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-legacya549b9142dede80e5c6965876c7904de,
.rockstargames-sites-legacyb4cf5e80e44a5fb034aaad3301fa3112,
.rockstargames-sites-legacyf1d77360a413374c6c7010fa517ae81f {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-legacya549b9142dede80e5c6965876c7904de {
  --background-top-offset: var(--spacing-sm);
  background: var(--background-image-mobile);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 178.9344635% 5.61871529%, 357.86895752% 11.23743057%, 414% 135.86395264%, 414% 314.88659668%, 318.09069824% 398.00003052%, 139.06799316% 398%, .00001565% 358.04541016%, .00000783% 179.02270508%, 0 0);
  clip-path: polygon(0 0, 178.9344635% 5.61871529%, 357.86895752% 11.23743057%, 414% 135.86395264%, 414% 314.88659668%, 318.09069824% 398.00003052%, 139.06799316% 398%, .00001565% 358.04541016%, .00000783% 179.02270508%, 0 0);
  top: var(--background-top-offset)
}

@media (min-width:0px) {
  .rockstargames-sites-legacya549b9142dede80e5c6965876c7904de {
    height: calc(100vw - var(--background-top-offset))
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacya549b9142dede80e5c6965876c7904de {
    background: var(--background-image-desktop) top /cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
    height: calc(100% - var(--background-top-offset))
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacya549b9142dede80e5c6965876c7904de {
    background: var(--background-image-desktop) top right /contain no-repeat;
    background-color: var(--black-200);
    width: 100%
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacya549b9142dede80e5c6965876c7904de {
    background: var(--background-image-desktop) top /cover no-repeat;
    margin: 0 auto;
    max-width: calc(var(--max-width-dynamic, var(--content-max-width)) + var(--padding-dynamic, 0px) * 2) !important;
    width: 100%
  }
}

.rockstargames-sites-legacyb4cf5e80e44a5fb034aaad3301fa3112 {
  background: var(--foreground-image-mobile) top /contain no-repeat;
  left: unset;
  top: var(--foreground-vertical-offset-mobile)
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyb4cf5e80e44a5fb034aaad3301fa3112 {
    background-position: top calc(var(--foreground-vertical-offset-desktop)) right var(--foreground-horizontal-offset-desktop);
    background-repeat: no-repeat;
    background-size: var(--foreground-image-width-desktop) auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96.098%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96.098%, 0 100%);
    width: 100vw
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacyb4cf5e80e44a5fb034aaad3301fa3112 {
    --gradient: linear-gradient(90deg, transparent 65%, var(--black-200) 80%);
    background: var(--gradient), var(--foreground-image-desktop) top /contain no-repeat
  }
}

.rockstargames-sites-legacyf1d77360a413374c6c7010fa517ae81f {
  background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .65) 75%, var(--black-200) 90%);
  bottom: -1px;
  top: unset
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyf1d77360a413374c6c7010fa517ae81f {
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacyf1d77360a413374c6c7010fa517ae81f {
    background: linear-gradient(90deg, var(--black-200) 25%, rgba(0, 0, 0, .65) 40%, transparent 75%)
  }
}

.rockstargames-sites-legacyd73f8205a5c6f0fbd72b02659b465f3f {
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: var(--hero-content-padding-tb);
  grid-gap: var(--grid-gap-md);
  align-content: flex-end;
  display: grid;
  justify-content: center;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  position: relative;
  z-index: 1
}

@media (min-width:0px) and (max-width:767px) {
  .rockstargames-sites-legacyd73f8205a5c6f0fbd72b02659b465f3f {
    margin-top: -35%;
    padding-bottom: var(--padding-xl)
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-sites-legacyd73f8205a5c6f0fbd72b02659b465f3f {
    margin-top: -25%;
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyd73f8205a5c6f0fbd72b02659b465f3f {
    justify-content: flex-start;
    min-width: var(--hero-content-width);
    padding-right: var(--hero-content-padding-right) !important
  }
}

.rockstargames-sites-legacyd8c80ca20ea1cb9850a3338c381bfe47 {
  grid-gap: var(--grid-gap-xs);
  display: grid;
  max-width: var(--hero-text-width)
}

.stackButtons .rockstargames-sites-legacyf9f5195498bb7f43b6fe2fc08c6254da {
  display: flex;
  flex-direction: column
}

.stackButtons .rockstargames-sites-legacyf9f5195498bb7f43b6fe2fc08c6254da span a {
  width: 100%
}

.rockstargames-sites-legacyb3a470557134846a3cf55866d9a14e38 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  max-width: var(--hero-text-width)
}

.rockstargames-sites-legacyb3a470557134846a3cf55866d9a14e38 p {
  font-size: inherit !important
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 {
  --shape: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  bottom: 0;
  position: relative;
  right: 0;
  width: 100%;
  z-index: 1
}

@media (max-width:1023px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 {
    background: linear-gradient(180deg, var(--black-200) 60%, var(--black-100) 60%);
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 {
    margin-bottom: calc(var(--margin-lg) * -1);
    width: calc(100% - var(--hero-content-width))
  }
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
  --slides-per-view-multiplier: 1;
  --slides-per-view: 2
}

@media (min-width:500px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
    --slides-per-view: 3
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
    --slides-per-view: 2;
    padding-left: 0
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 [data-size=lg] {
    --slides-per-view: 6
  }
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 h2 {
  color: var(--color-override, var(--color-h)) !important;
  font-family: var(--font-family-h) !important;
  font-size: calc(var(--font-size-6) * var(--header-multiplier)) !important;
  font-weight: var(--font-weight-regular) !important;
  letter-spacing: var(--letter-spacing-h) !important;
  line-height: var(--line-height-md) !important;
  padding-left: var(--padding-sm)
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide {
  --aspect-ratio: 70/101;
  --aspect-ratio-default: 1;
  -webkit-clip-path: var(--shape);
  clip-path: var(--shape);
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide div {
  align-items: flex-end;
  background-image: var(--background-image-mobile);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide div {
    background-image: var(--background-image-desktop)
  }
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide div:before {
  background: var(--gradient-overlay-bottom);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.rockstargames-sites-legacye8d353c992ee63378c5f0128ba9a6484 .swiper-slide div h5 {
  color: var(--color-override, var(--color-h));
  font-family: var(--font-family-h);
  font-size: calc(var(--font-size-4) * var(--header-multiplier));
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  padding: 10%;
  shape-outside: var(--shape);
  width: 100%;
  z-index: 0
}

.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f:focus,
.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f.rockstargames-sites-legacyb94639bd9a1c57c402cbfde17390a218 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyc5cea19b50dcb94ac951990c4648f43f.rockstargames-sites-legacyb94639bd9a1c57c402cbfde17390a218 img {
  filter: invert()
}

.rockstargames-sites-legacybf37f11425aac1777600c17f7c80abc1 {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: var(--spacing-xs);
  justify-content: center;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-sites-legacybf37f11425aac1777600c17f7c80abc1 {
    flex-direction: row;
    padding: 0
  }
}

.rockstargames-sites-legacybf37f11425aac1777600c17f7c80abc1:after {
  background: linear-gradient(180deg, #000, transparent);
  content: "";
  height: 32px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.rockstargames-sites-legacybf37f11425aac1777600c17f7c80abc1 a {
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
  width: 100%;
  z-index: 1
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 {
  align-items: center;
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border: 1px solid var(--white-100, #fff);
  border-radius: var(--border-radius-sm, 4px);
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-xs, .5rem);
  height: var(--button-height-3, 3rem);
  justify-content: center;
  padding: 0 var(--padding-sm);
  transition: all .3s ease-in-out;
  width: 100%
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8[data-brand=reddeadredemption] {
  --font-family-h: RDRUltra
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8[data-brand=reddeadredemption] :lang(pl_pl) {
  --font-family-h: RDRUltra, NeueHelveticaPaneuropean
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 img {
  height: 1.25rem;
  width: auto
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 .rockstargames-sites-legacyf682a83a9cc9b0daea9f8b4d5d018bc6 {
  display: flex;
  flex-shrink: 0;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  text-transform: uppercase
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8.rockstargames-sites-legacyd084abb87c9d33abe723d6c99b89a142 {
  background-color: var(--white-100);
  color: var(--black-100)
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8:hover {
  background-color: var(--btn-active-color);
  border-color: var(--btn-active-color)
}

.rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8:hover.rockstargames-sites-legacyd084abb87c9d33abe723d6c99b89a142 {
  color: var(--white-100)
}

@media (min-width:1280px) {
  .rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 {
    padding: 0 var(--padding-md)
  }
}

@media (min-width:768px) and (max-width:1539px) {
  .rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 {
    height: 2.5rem
  }

  .rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 img {
    height: 1rem
  }

  .rockstargames-sites-legacydbe18fdee3beb156c22dec8ec10023b8 .rockstargames-sites-legacyf682a83a9cc9b0daea9f8b4d5d018bc6 {
    font-family: var(--font-family-h);
    font-size: var(--font-size-4);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-h);
    line-height: var(--line-height-sm);
    text-transform: uppercase
  }
}

.rockstargames-sites-legacyedf583c90c952d581811afc0cf284d2f {
  grid-gap: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%
}

@media (max-width:767px) {
  .rockstargames-sites-legacyedf583c90c952d581811afc0cf284d2f {
    padding: var(--padding-sm) var(--padding-sides)
  }
}

.rockstargames-sites-legacyf40f4cc53f75aa458e19962df29d2396 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/70872fcb201d64ae367f661e8279fcea.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding-bottom: 3rem;
  position: relative
}

.rockstargames-sites-legacyc0517dc3e5cb0b710e6500dc67194240 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-md);
  width: 100%
}

.rockstargames-sites-legacyc0517dc3e5cb0b710e6500dc67194240 .rockstargames-sites-legacyea2879adbed6c35d0c4fa012f54c0935,
.rockstargames-sites-legacyc0517dc3e5cb0b710e6500dc67194240 .rockstargames-sites-legacyc94a05240895b2567b6012f25d313fbe {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-legacyc0517dc3e5cb0b710e6500dc67194240 .rockstargames-sites-legacyea2879adbed6c35d0c4fa012f54c0935 {
  color: var(--white-65, hsla(0, 0%, 100%, .65));
  font-size: var(--font-size-2)
}

.rockstargames-sites-legacyc0517dc3e5cb0b710e6500dc67194240 .rockstargames-sites-legacyc94a05240895b2567b6012f25d313fbe {
  color: var(--white-100, #fff);
  font-size: var(--font-size-2)
}

.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf:focus,
.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf.rockstargames-sites-legacyf7688252019b2caf37a82d5f31c44b19 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacye3686796e38c9d300c93b90c9d2669cf.rockstargames-sites-legacyf7688252019b2caf37a82d5f31c44b19 img {
  filter: invert()
}

.rockstargames-sites-legacyea0cd812f61c556dc76338f78db365d1 {
  --hero-background-height: 85%;
  aspect-ratio: 4/5;
  background: transparent;
  color: var(--white-100);
  overflow: hidden;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-sites-legacyea0cd812f61c556dc76338f78db365d1 {
    aspect-ratio: 2.5/1
  }
}

.rockstargames-sites-legacyfa8e43edc51cf9a0a37b1e68a44b29c0 {
  overflow: hidden
}

.rockstargames-sites-legacyebcb471f3ba23d0d21caaca66ac628af,
.rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100vw
}

.rockstargames-sites-legacyebcb471f3ba23d0d21caaca66ac628af {
  background-clip: content-box;
  background-image: var(--background-image-mobile, none);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-sites-legacyebcb471f3ba23d0d21caaca66ac628af {
    -webkit-mask-image: none;
    mask-image: none
  }
}

.rockstargames-sites-legacyebcb471f3ba23d0d21caaca66ac628af:before {
  background-color: var(--black-200);
  content: "";
  height: calc(100% - var(--hero-background-height));
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

@media (min-width:768px) {
  .rockstargames-sites-legacyebcb471f3ba23d0d21caaca66ac628af {
    background-image: var(--background-image-desktop, var(--background-image-mobile, none))
  }
}

.rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
  background-clip: content-box;
  background-image: var(--foreground-image-mini, var(--foreground-image-mobile, none));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: var(--foreground-vertical-offset-mini, 0);
  height: var(--foreground-image-height-mini, 100%);
  left: var(--foreground-horizontal-offset-mini, 0);
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  overflow: hidden;
  width: var(--foreground-image-width-mini, 100vw)
}

@media (max-width:767px) {
  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
    -webkit-mask-image: none;
    mask-image: none
  }

  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504:after {
    background: linear-gradient(180deg, transparent, #000);
    bottom: 0;
    content: "";
    height: calc(100% - var(--hero-background-height));
    left: 0;
    position: absolute;
    right: 0
  }
}

@media (min-width:0px) {
  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
    background-image: var(--foreground-image-mobile, none);
    bottom: var(--foreground-vertical-offset-mobile, 0);
    height: var(--foreground-image-height-mobile, 100%);
    left: var(--foreground-horizontal-offset-mobile, 0);
    width: var(--foreground-image-width-mobile, 100vw)
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
    background-image: var(--foreground-image-tablet, var(--foreground-image-desktop, none));
    background-size: cover;
    bottom: var(--foreground-vertical-offset-tablet, 0);
    height: var(--foreground-image-height-tablet, 100%);
    left: var(--foreground-horizontal-offset-tablet, 0);
    width: var(--foreground-image-width-tablet, 100vw)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
    background-image: var(--foreground-image-desktop, none);
    bottom: var(--foreground-vertical-offset-desktop, 0);
    height: var(--foreground-image-height-desktop, 100%);
    left: var(--foreground-horizontal-offset-desktop, 0);
    width: var(--foreground-image-width-desktop, 100vw)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyd74d6274647c9a16c7c310528af6a504 {
    background-image: var(--foreground-image-ultrawide, none);
    bottom: var(--foreground-vertical-offset-ultrawide, 0);
    height: var(--foreground-image-height-ultrawide, 100%);
    left: var(--foreground-horizontal-offset-ultrawide, 0);
    width: var(--foreground-image-width-ultrawide, 100vw)
  }
}

.rockstargames-sites-legacye547e26ea026b328f027f873cc6b3612 {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}

.rockstargames-sites-legacybf577292ac1b65c6414efe9d743e18ce {
  display: grid;
  width: 75%
}

@media (min-width:768px) {
  .rockstargames-sites-legacybf577292ac1b65c6414efe9d743e18ce {
    width: 100%
  }
}

.rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs) 0;
  position: relative;
  width: 100vw
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b {
    grid-gap: var(--grid-gap-sm);
    align-items: unset;
    bottom: 0;
    height: var(--hero-background-height);
    justify-content: center;
    padding: 0 0 0 10vw;
    position: absolute;
    width: 40vw
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b {
    padding: 0 0 0 12vw;
    width: 48vw
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b {
    grid-gap: var(--grid-gap-md)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b {
    width: 37vw
  }
}

.rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b [data-brand=rdr1rsp] {
  --brand-icon-size: 70vw
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd5bb9ae3f24dcfc575dcd5f86791276b [data-brand=rdr1rsp] {
    --brand-icon-size: 35vw
  }
}

.rockstargames-sites-legacya4e88d21353d06974334b4ff9c136a19 {
  display: flex;
  flex-direction: row
}

.rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c {
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border-radius: var(--border-radius-md, 8px);
  bottom: 0;
  display: inline-flex;
  gap: var(--grid-gap-sm, 20px);
  margin: var(--margin-sm);
  max-width: 14rem;
  padding: var(--padding-sm, 20px);
  position: absolute;
  right: 0
}

@supports not ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
  .rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c {
    background: var(--black-200)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c {
    max-width: 15rem
  }
}

.rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c .rockstargames-sites-legacya089cc4f3a267ed6939e42a4bf2d9070,
.rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c .rockstargames-sites-legacyb049ce8eaf203c17c1b028f1ce68ccab {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c .rockstargames-sites-legacya089cc4f3a267ed6939e42a4bf2d9070 {
  color: var(--white-65, hsla(0, 0%, 100%, .65))
}

.rockstargames-sites-legacyc464c982229798dd7b6f7e53984a6b2c .rockstargames-sites-legacyb049ce8eaf203c17c1b028f1ce68ccab {
  color: var(--white-100, #fff)
}

/*# sourceMappingURL=95f2b7f4dbdcbec5e2eba43c02a19ae6.css.map*/