._560823421a0f2e0ae3064c7195d1e1cc87b5 {
  align-items: center;
  display: flex;
  height: calc(100vh - var(--header-height));
  justify-content: center
}

._560823421a0f2e0adf9acbb9c23221309797 {
  --modal-content-padding: 0
}

._560823421a0f2e0af1a1063d7c6535afb74c {
  align-items: center;
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border: 1px solid var(--white-100, #fff);
  border-radius: var(--border-radius-sm, 4px);
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-xs, .5rem);
  height: 3rem;
  justify-content: center;
  padding: 0 var(--padding-sm);
  transition: all .3s ease-in-out;
  width: 100%
}

._560823421a0f2e0af1a1063d7c6535afb74c[data-brand=reddeadredemption] {
  --font-family-h: RDRUltra
}

._560823421a0f2e0af1a1063d7c6535afb74c[data-brand=reddeadredemption] :lang(pl_pl) {
  --font-family-h: RDRUltra, NeueHelveticaPaneuropean
}

._560823421a0f2e0af1a1063d7c6535afb74c img {
  height: 1.25rem;
  width: auto
}

._560823421a0f2e0af1a1063d7c6535afb74c ._560823421a0f2e0ad7255291426a493a0694 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  text-transform: uppercase
}

._560823421a0f2e0af1a1063d7c6535afb74c._560823421a0f2e0ad1956a34a9944dd911d2 {
  background-color: var(--white-100);
  color: var(--black-100)
}

._560823421a0f2e0af1a1063d7c6535afb74c:hover {
  background-color: var(--btn-active-color);
  border-color: var(--btn-active-color)
}

._560823421a0f2e0af1a1063d7c6535afb74c:hover._560823421a0f2e0ad1956a34a9944dd911d2 {
  color: var(--white-100)
}

@media (min-width:1280px) {
  ._560823421a0f2e0af1a1063d7c6535afb74c {
    padding: 0 var(--padding-md)
  }
}

@media (min-width:768px) and (max-width:1539px) {
  ._560823421a0f2e0af1a1063d7c6535afb74c {
    height: 2.5rem
  }

  ._560823421a0f2e0af1a1063d7c6535afb74c img {
    height: 1rem
  }

  ._560823421a0f2e0af1a1063d7c6535afb74c ._560823421a0f2e0ad7255291426a493a0694 {
    font-family: var(--font-family-h);
    font-size: var(--font-size-4);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-h);
    line-height: var(--line-height-sm);
    text-transform: uppercase
  }
}

@media (max-width:767px) {
  ._560823421a0f2e0af1a1063d7c6535afb74c {
    display: none
  }
}

._560823421a0f2e0ac88e3bf2c5a3eea47de1 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --logo-size: 1.4rem;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: #000;
  background: rgba(0, 0, 0, .85);
  border-bottom: 1px solid #161616;
  display: flex;
  height: var(--game-header-height);
  position: fixed;
  top: 0;
  transition: transform .3s;
  width: 100%;
  z-index: 99
}

@media (min-width:2560px) {
  ._560823421a0f2e0ac88e3bf2c5a3eea47de1 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  ._560823421a0f2e0ac88e3bf2c5a3eea47de1 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@media (min-width:1920px) {
  ._560823421a0f2e0ac88e3bf2c5a3eea47de1 {
    --logo-size: 1.5rem
  }
}

@supports not ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
  ._560823421a0f2e0ac88e3bf2c5a3eea47de1 {
    background: var(--black-200)
  }
}

._560823421a0f2e0ac88e3bf2c5a3eea47de1._560823421a0f2e0ad47f3266f70158f40c19 {
  transform: translateY(-100%);
  transition: all .3s ease-in-out
}

._560823421a0f2e0aa35aaddc8d7c007c8cb2 {
  grid-gap: 1rem;
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-sides)
}

._560823421a0f2e0abf7406593161f5665612 {
  grid-gap: calc(var(--logo-size) * .375);
  align-items: center;
  display: grid;
  grid-auto-columns: max-content max-content 1fr;
  grid-auto-flow: column;
  justify-content: flex-start
}

._560823421a0f2e0afc35bda511ece88a1b5e {
  background: var(--white-40);
  height: calc(var(--logo-size) + var(--padding-xxs));
  width: 1px
}

._560823421a0f2e0aebb800e1f0823cbb6d54 {
  --aspect-ratio-multiplier-width: 7;
  background: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/d5256eaa0e1e83ed9e7a.svg) no-repeat 0/contain;
  height: calc(var(--logo-size) * var(--aspect-ratio-multiplier-height, 1));
  width: calc(var(--logo-size) * var(--aspect-ratio-multiplier-width, 1))
}

@media (max-width:1023px) {
  ._560823421a0f2e0aebb800e1f0823cbb6d54 {
    --logo-size: 1.6rem;
    background-position: 50% !important;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}

._560823421a0f2e0acb6ce305868876c179c7 {
  align-items: center;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: flex-end
}

._560823421a0f2e0ae349d415f3ebc79dfe7c {
  --game-header-height: 80px;
  display: flex;
  flex: 1;
  flex-flow: column;
  justify-content: center;
  margin-top: var(--game-header-height)
}

._560823421a0f2e0ae349d415f3ebc79dfe7c[data-brand=reddeadredemption] {
  --btn-active-color: #c00
}