.rockstargames-sites-legacyb53b6eca487387fc5c2057daf151691a {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--grid-gap-md);
  justify-content: center
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyb53b6eca487387fc5c2057daf151691a {
    justify-content: flex-start
  }
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09 {
  --brand-icon-size: 6rem;
  height: calc(var(--brand-icon-size) * var(--aspect-ratio-multiplier-height, 1));
  width: calc(var(--brand-icon-size) * var(--aspect-ratio-multiplier-width, 1))
}

@media (min-width:1920px) {
  .rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09 {
    --brand-icon-size: 7rem
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09 {
    --brand-icon-size: 8rem
  }
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtao] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/af2eb343d3709c5af54e1d4983ba9839.svg) 50%/contain no-repeat;
  --aspect-ratio-multiplier-width: 1.02
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtav] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4d580d34037dd454c9fa2bd4c02e5d7a.svg) 50%/contain no-repeat;
  --aspect-ratio-multiplier-width: 1.16
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtaplus] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7563ed0414306d18d4f8401effcab31a.svg) 50%/contain no-repeat;
  --aspect-ratio-multiplier-width: 1.1;
  --aspect-ratio-multiplier-height: 0.77
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=bully] {
  --aspect-ratio-multiplier-width: 1.35;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0431f45407ec6185ae412f6c59708eed.svg) bottom/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=bullySE] {
  --aspect-ratio-multiplier-width: 1.3;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/1beaf0ebfdc80168933966a2323fcc6f.svg) bottom/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fbcb3e0c7e4a26cedfb51fd7ab7dfe28.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta2black] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/66dd4591426b8f363f68f52d2c228d77.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta2white] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ba3c6ab996551fbb8590fc0459cd9c03.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta3black] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/915e513491e3ec732a43dff44a6a9895.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta3white] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a728f054d69b9ff97d3771ddb75bd969.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gta4] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80a40fd0033f7ca37266fdef3e667592.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtatlad] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/23d1d192b9753891c35044ff5a9d5273.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtabogt] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0b2be01268f4d41c05d66e92cf503932.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtacw] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2f2d53f2d297c8c7a3f517451f0b1cc8.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtalc] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bfad9bf8ccf418c5bf115e435d1f5239.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtalcs] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/b254000bc6514b07267c7434e12b29d1.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtasa] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fa64d823fd1f3e42f17ac4cb46402a04.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtavc] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ad3acd23ce0c0050ee4256dfd77f3a1a.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=gtavcs] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2dcd372093da40ccb17dfd1caeb55087.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=lanoire] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4abd4e7bc9890ce3f8b0cb57bab4ba30.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=manhunt1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a91b6716fe7567274cf996af819944a0.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=manhunt2] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/82c9f4faaa19510ae342ce0e234c3a05.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=maxpayne1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/9a7ab4a3303fbdbba4db81b89fa21a82.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=maxpayne2] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0fd7e90090d098e13bc3a3519bd84380.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=maxpayne3] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2fa42af3c85e753b2b9f9929baa37704.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mc1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/01beb619570e2030a9c773a31f5e0e3d.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mc2] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dc324d03cb664ea39479c16571a13167.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mc3] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/97ba353f28e159578a9093e97907dc39.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mc3remix] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/df69dca644a91371947fd92fb16b7867.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mcla] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/530bd549be0cc1d96efcb9d053195073.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=mclaremix] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/b4a066942b454f8c37eacc81f94b6a28.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdo] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cda943443c406b760068f95a48ecfdb4.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdr1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4a6dd22887de18eb60ac7719f611ae1c.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdr1rsp] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6dcab3da727a2607c1d94dc24c52827d.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdr2] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e439bf2f8ddb47b1baeaf42f1d2ff848.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdrevolver] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5e6e03daba81fc7fbb76e1b0409678b4.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=rdrun] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/565d5e9d43bfd7db9b9fa2d48554b7a5.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=sr1] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0058b4413586bc86955369de814e07bf.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=sr2] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a11359c0983d626b7eb640956c021805.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=srwz] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/1ca5f6b683663555b0ce42e26eb30c38.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=tabletennis] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/b55f0446c9e66bb2ccccc2c8a6b1e3b6.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=warriors] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/22f145cbeb5820ad15d3bb1d4767c7cb.svg) 50%/contain no-repeat
}

.rockstargames-sites-legacye8c3be7a76fd7e532e74a9fcf87bee09[data-brand=lossantoscustoms] {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aaed4bedd6ef009789e9a227c3cd9eb6.png) 50%/contain no-repeat;
  --aspect-ratio-multiplier-width: 1.97
}

.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9:focus,
.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9.rockstargames-sites-legacyb6f59bc22c6ca1924963a98a8a7b4ac5 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyc0bc721c6d8914c8be0d8a110d70ade9.rockstargames-sites-legacyb6f59bc22c6ca1924963a98a8a7b4ac5 img {
  filter: invert()
}

.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a:focus,
.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a.rockstargames-sites-legacydafd576a043cdcbf8c9cb6e65cd537fe {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacya57b36799592cf8bb3dfd18fdb47d27a.rockstargames-sites-legacydafd576a043cdcbf8c9cb6e65cd537fe img {
  filter: invert()
}

.rockstargames-sites-legacybe07ac034642f2cd87f687e179775b46 {
  background: var(--black-200);
  color: var(--white-100);
  overflow: hidden;
  position: relative;
  width: 100%;
  --hero-content-width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-legacybe07ac034642f2cd87f687e179775b46 {
    --hero-text-width: 25rem;
    --hero-content-padding-right: var(--padding-sides);
    --hero-content-padding-tb: var(--padding-sides);
    --hero-content-width: calc(var(--hero-text-width) + var(--padding-sides) + var(--hero-content-padding-right));
    align-items: flex-end;
    background: linear-gradient(180deg, var(--black-200) 50%, var(--black-100) 50.5%);
    display: flex;
    min-height: 45vw
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacybe07ac034642f2cd87f687e179775b46 {
    --hero-content-padding-tb: var(--padding-lg);
    --hero-content-padding-right: 5%
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacybe07ac034642f2cd87f687e179775b46 {
    --hero-text-width: 30rem;
    --hero-content-padding-tb: var(--padding-xl)
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacybe07ac034642f2cd87f687e179775b46 {
    background: var(--black-200);
    min-height: unset;
    min-height: 30vw
  }
}

.rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c {
  overflow: hidden
}

@media (max-width:767px) {
  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c {
    --aspect-ratio: 1;
    --aspect-ratio-default: 1;
    position: relative
  }

  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
    width: 100%
  }

  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

@media (max-width:767px) and (min-width:1024px) {
  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c {
    --aspect-ratio-default: 16/9
  }
}

@media (max-width:1023px) {
  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c {
    width: 100%;
    --aspect-ratio: 16/9;
    --aspect-ratio-default: 1;
    position: relative
  }

  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
    width: 100%
  }

  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

@media (max-width:1023px) and (min-width:1024px) {
  .rockstargames-sites-legacycf8ce35c0316542332d22d5ac079b19c {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b,
.rockstargames-sites-legacyda188cc8a6c70083f3b60ab53ec69f90,
.rockstargames-sites-legacybad07e99a98f7af361ad3309ce91d653 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b {
  clip-path: polygon(0 0, 178.9344635% 5.61871529%, 357.86895752% 11.23743057%, 414% 135.86395264%, 414% 314.88659668%, 318.09069824% 398.00003052%, 139.06799316% 398%, .00001565% 358.04541016%, .00000783% 179.02270508%, 0 0);
  --background-top-offset: var(--spacing-sm);
  background: var(--background-image-mobile);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  top: var(--background-top-offset)
}

@media (min-width:0px) {
  .rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b {
    height: calc(100vh - var(--background-top-offset))
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b {
    background: var(--background-image-desktop) top /cover no-repeat;
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
    height: calc(100% - var(--background-top-offset))
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b {
    background: var(--background-image-desktop) top right /contain no-repeat;
    background-color: var(--black-200);
    width: 100%
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacyae8f2a0a0e087a658d3c6c648619a57b {
    background: var(--background-image-desktop) top /cover no-repeat;
    margin: 0 auto;
    max-width: calc(var(--max-width-dynamic, var(--content-max-width)) + var(--padding-dynamic, 0px) * 2) !important;
    width: 100%
  }
}

.rockstargames-sites-legacyda188cc8a6c70083f3b60ab53ec69f90 {
  background: var(--foreground-image-mobile) top /contain no-repeat;
  left: unset;
  top: var(--foreground-vertical-offset-mobile)
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyda188cc8a6c70083f3b60ab53ec69f90 {
    background-position: top calc(var(--foreground-vertical-offset-desktop)) right var(--foreground-horizontal-offset-desktop);
    background-repeat: no-repeat;
    background-size: var(--foreground-image-width-desktop) auto;
    clip-path: polygon(0 0, 100% 0, 100% 96.098%, 0 100%);
    width: 100vw
  }
}

@media (min-width:3840px) {
  .rockstargames-sites-legacyda188cc8a6c70083f3b60ab53ec69f90 {
    --gradient: linear-gradient(90deg, transparent 65%, var(--black-200) 80%);
    background: var(--gradient), var(--foreground-image-desktop) top /contain no-repeat
  }
}

.rockstargames-sites-legacybad07e99a98f7af361ad3309ce91d653 {
  background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .65) 75%, var(--black-200) 90%);
  bottom: -1px;
  top: unset
}

@media (min-width:1024px) {
  .rockstargames-sites-legacybad07e99a98f7af361ad3309ce91d653 {
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-legacybad07e99a98f7af361ad3309ce91d653 {
    background: linear-gradient(90deg, var(--black-200) 25%, rgba(0, 0, 0, .65) 40%, transparent 75%)
  }
}

.rockstargames-sites-legacycaaf52d5f51cbe4667db75fe1196e963 {
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: var(--hero-content-padding-tb);
  align-content: flex-end;
  display: grid;
  justify-content: center;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  grid-gap: var(--grid-gap-md);
  position: relative;
  z-index: 1
}

@media (min-width:0px) and (max-width:767px) {
  .rockstargames-sites-legacycaaf52d5f51cbe4667db75fe1196e963 {
    margin-top: -35%;
    padding-bottom: var(--padding-xl)
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-sites-legacycaaf52d5f51cbe4667db75fe1196e963 {
    margin-top: -25%;
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacycaaf52d5f51cbe4667db75fe1196e963 {
    justify-content: flex-start;
    min-width: var(--hero-content-width);
    padding-right: var(--hero-content-padding-right) !important
  }
}

.rockstargames-sites-legacye90e9f3c81bca50adbb7665f9a299f45 {
  display: grid;
  grid-gap: var(--grid-gap-xs);
  max-width: var(--hero-text-width)
}

.stackButtons .rockstargames-sites-legacye4cc32423855b33738f1a461d46e3523 {
  display: flex;
  flex-direction: column
}

.stackButtons .rockstargames-sites-legacye4cc32423855b33738f1a461d46e3523 span a {
  width: 100%
}

.rockstargames-sites-legacybbe9f89e5d4961d0b190ddda07467458 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  max-width: var(--hero-text-width)
}

.rockstargames-sites-legacybbe9f89e5d4961d0b190ddda07467458 p {
  font-size: inherit !important
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 {
  bottom: 0;
  position: relative;
  right: 0;
  width: 100%;
  --shape: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  z-index: 1
}

@media (max-width:1023px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 {
    background: linear-gradient(180deg, var(--black-200) 60%, var(--black-100) 60%);
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 {
    margin-bottom: calc(var(--margin-lg) * -1);
    width: calc(100% - var(--hero-content-width))
  }
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
  --slides-per-view-multiplier: 1;
  --slides-per-view: 2
}

@media (min-width:500px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
    --slides-per-view: 3
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
    --slides-per-view: 2;
    padding-left: 0
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 [data-size=lg] {
    --slides-per-view: 6
  }
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 h2 {
  color: var(--color-override, var(--color-h)) !important;
  font-family: var(--font-family-h) !important;
  font-size: calc(var(--font-size-6) * var(--header-multiplier)) !important;
  font-weight: var(--font-weight-regular) !important;
  letter-spacing: var(--letter-spacing-h) !important;
  line-height: var(--line-height-md) !important;
  padding-left: var(--padding-sm)
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide {
  clip-path: var(--shape);
  overflow: hidden;
  --aspect-ratio: 70/101;
  --aspect-ratio-default: 1;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide div {
  align-items: flex-end;
  background-image: var(--background-image-mobile);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide div {
    background-image: var(--background-image-desktop)
  }
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide div:before {
  background: var(--gradient-overlay-bottom);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.rockstargames-sites-legacyfcf4d1e47adeb7ccb4a00c01c2b98af1 .swiper-slide div h5 {
  color: var(--color-override, var(--color-h));
  font-family: var(--font-family-h);
  font-size: calc(var(--font-size-4) * var(--header-multiplier));
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  padding: 10%;
  shape-outside: var(--shape);
  width: 100%;
  z-index: 0
}

.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836:focus,
.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836.rockstargames-sites-legacyc1ac4227ecc3c60c4a623f13dd4609b6 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyedb30438bec02a28ec1d06d071bcf836.rockstargames-sites-legacyc1ac4227ecc3c60c4a623f13dd4609b6 img {
  filter: invert()
}

.rockstargames-sites-legacyea8cf4797c830e5b5dad68b2ec814e67 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770:focus,
.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770.rockstargames-sites-legacydbcb068cb06ca907137c7d346305f78f {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacyebfcbbdf3b52e5611c5582d8143d1770.rockstargames-sites-legacydbcb068cb06ca907137c7d346305f78f img {
  filter: invert()
}

.rockstargames-sites-legacyd9e69eb7991e66678223305e061e13f9 {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: var(--spacing-xs);
  justify-content: center;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd9e69eb7991e66678223305e061e13f9 {
    flex-direction: row;
    padding: 0
  }
}

.rockstargames-sites-legacyd9e69eb7991e66678223305e061e13f9:after {
  background: linear-gradient(180deg, #000, transparent);
  content: "";
  height: 32px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.rockstargames-sites-legacyd9e69eb7991e66678223305e061e13f9 a {
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
  width: 100%;
  z-index: 1
}

.rockstargames-sites-legacyad33f216fdbaf16496674b05e91a0300 {
  display: flex;
  flex-direction: column;
  position: relative;
  grid-gap: 1.5rem;
  width: 100%
}

@media (max-width:767px) {
  .rockstargames-sites-legacyad33f216fdbaf16496674b05e91a0300 {
    padding: var(--padding-sm) var(--padding-sides)
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyad33f216fdbaf16496674b05e91a0300 {
    flex-direction: row
  }
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --button-text-color-hover: var(--white-100);
  align-items: center;
  background: var(--button-background-color, var(--black-65, hsla(0, 0%, 7%, .65)));
  border: 1px solid var(--white-100, #fff);
  border-radius: var(--border-radius-sm, 4px);
  color: var(--button-text-color, var(--white-100));
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-xs, .5rem);
  height: var(--button-height-3, 3rem);
  justify-content: center;
  padding: 0 var(--padding-sm);
  transition: all .3s ease-in-out;
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971[data-brand=reddeadredemption],
[data-brand=reddeadredemption] .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
  --accent-color: #c00;
  --font-family-h: RDRUltra
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971[data-brand=reddeadredemption] :lang(pl_pl),
[data-brand=reddeadredemption] .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 :lang(pl_pl) {
  --font-family-h: RDRUltra, NeueHelveticaPaneuropean
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971[data-brand=bully],
[data-brand=bully] .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
  --accent-color: #f8ad00;
  --font-family-h: HelveticaNowDisplayBold;
  --button-background-color: var(--white-100);
  --button-background-color-hover: var(--accent-color);
  --button-text-color: var(--black-100);
  --button-text-color-hover: var(--black-100);
  backdrop-filter: blur(25px);
  padding: 0 var(--padding-md, 32px)
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 img {
  height: 1rem;
  width: auto
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 .rockstargames-sites-legacya47597c182e00e6458bb7a0e0e8c74ca {
  display: flex;
  flex-shrink: 0;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  text-transform: uppercase
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971.rockstargames-sites-legacybcb66a07ecefc51b2835d0311ed95fc1 {
  background-color: var(--white-100);
  color: var(--black-100)
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971:hover {
  background-color: var(--accent-color, var(--btn-active-color));
  border-color: var(--accent-color, var(--btn-active-color));
  color: var(--button-text-color-hover, var(--btn-active-color))
}

.rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971:hover.rockstargames-sites-legacybcb66a07ecefc51b2835d0311ed95fc1 {
  color: var(--button-text-color-hover, var(--white-100))
}

@media (min-width:1280px) {
  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
    padding: 0 var(--padding-md)
  }
}

@media (min-width:768px) and (max-width:1539px) {
  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 {
    height: 2.5rem
  }

  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 img {
    height: 1rem
  }

  .rockstargames-sites-legacyc944d308f9a911490ec5543fb7edd971 .rockstargames-sites-legacya47597c182e00e6458bb7a0e0e8c74ca {
    font-family: var(--font-family-h);
    font-size: var(--font-size-4);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-h);
    line-height: var(--line-height-sm);
    text-transform: uppercase
  }
}

.rockstargames-sites-legacyc2b15cd579d304bc966abb1961fe0a34 {
  background-color: var(--black-200);
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding-bottom: 3rem;
  position: relative
}

.rockstargames-sites-legacyd7b1465ebc419dad07cf53397a329193 {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-md);
  width: 100%
}

.rockstargames-sites-legacyd7b1465ebc419dad07cf53397a329193 .rockstargames-sites-legacyf8c379493c41e65c13253db63176d127,
.rockstargames-sites-legacyd7b1465ebc419dad07cf53397a329193 .rockstargames-sites-legacyfa43220c01647fa4004cc619e7cc3671 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-legacyd7b1465ebc419dad07cf53397a329193 .rockstargames-sites-legacyf8c379493c41e65c13253db63176d127 {
  color: var(--white-65, hsla(0, 0%, 100%, .65));
  font-size: var(--font-size-2)
}

.rockstargames-sites-legacyd7b1465ebc419dad07cf53397a329193 .rockstargames-sites-legacyfa43220c01647fa4004cc619e7cc3671 {
  color: var(--white-100, #fff);
  font-size: var(--font-size-2)
}

.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525:focus,
.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525.rockstargames-sites-legacyb81e371007ea4a9f611731fd2cd360d8 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-legacye4c93cf1ee2ba112bae039a3a1036525.rockstargames-sites-legacyb81e371007ea4a9f611731fd2cd360d8 img {
  filter: invert()
}

.rockstargames-sites-legacyb64c8584ed0174bb171a200d04550f28 {
  aspect-ratio: 4/5;
  background: transparent;
  color: var(--white-100);
  overflow: hidden;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-sites-legacyb64c8584ed0174bb171a200d04550f28 {
    aspect-ratio: 2.5/1
  }
}

.rockstargames-sites-legacyd35666542bcde181abadc7b065e7618c {
  overflow: hidden
}

.rockstargames-sites-legacyd9312e35f03b8a34112033be14e2477b,
.rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100vw
}

.rockstargames-sites-legacyd9312e35f03b8a34112033be14e2477b {
  background-clip: content-box;
  background-color: var(--hero-background-color);
  background-image: var(--background-image-mobile, none);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: calc(100% + (100% - var(--hero-background-height))) auto;
  bottom: 0;
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-sites-legacyd9312e35f03b8a34112033be14e2477b {
    -webkit-mask-image: none;
    mask-image: none
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd9312e35f03b8a34112033be14e2477b {
    background-image: var(--background-image-desktop, var(--background-image-mobile, none))
  }
}

.rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
  background-clip: content-box;
  background-image: var(--foreground-image-mini, var(--foreground-image-mobile, none));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: var(--foreground-vertical-offset-mini, 0);
  height: var(--foreground-image-height-mini, 100%);
  left: var(--foreground-horizontal-offset-mini, 0);
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  overflow: hidden;
  width: var(--foreground-image-width-mini, 100vw)
}

@media (max-width:767px) {
  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
    -webkit-mask-image: none;
    mask-image: none
  }

  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee:after {
    background: linear-gradient(180deg, transparent, #000);
    bottom: 0;
    content: "";
    height: calc(100% - var(--hero-background-height));
    left: 0;
    position: absolute;
    right: 0
  }
}

@media (min-width:0px) {
  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
    background-image: var(--foreground-image-mobile, none);
    bottom: var(--foreground-vertical-offset-mobile, 0);
    height: var(--foreground-image-height-mobile, 100%);
    left: var(--foreground-horizontal-offset-mobile, 0);
    width: var(--foreground-image-width-mobile, 100vw)
  }
}

@media (min-width:768px) {
  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
    background-image: var(--foreground-image-tablet, var(--foreground-image-desktop, none));
    background-size: cover;
    bottom: var(--foreground-vertical-offset-tablet, 0);
    height: var(--foreground-image-height-tablet, 100%);
    left: var(--foreground-horizontal-offset-tablet, 0);
    width: var(--foreground-image-width-tablet, 100vw)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
    background-image: var(--foreground-image-desktop, none);
    bottom: var(--foreground-vertical-offset-desktop, 0);
    height: var(--foreground-image-height-desktop, 100%);
    left: var(--foreground-horizontal-offset-desktop, 0);
    width: var(--foreground-image-width-desktop, 100vw)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyaefa366d32305c5e66bf53fb00a60dee {
    background-image: var(--foreground-image-ultrawide, none);
    bottom: var(--foreground-vertical-offset-ultrawide, 0);
    height: var(--foreground-image-height-ultrawide, 100%);
    left: var(--foreground-horizontal-offset-ultrawide, 0);
    width: var(--foreground-image-width-ultrawide, 100vw)
  }
}

.rockstargames-sites-legacyc4dfdc56934940a1d0365e77b90c35f1 {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}

@media (min-width:768px) and (max-width:1024px) {
  .rockstargames-sites-legacyc4dfdc56934940a1d0365e77b90c35f1 {
    align-items: flex-end
  }
}

.rockstargames-sites-legacyb9557883d26a83b34c7440988e5a62c3 {
  display: grid;
  width: 75%
}

@media (min-width:768px) {
  .rockstargames-sites-legacyb9557883d26a83b34c7440988e5a62c3 {
    width: 100%
  }
}

.rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs) 0;
  position: relative;
  width: 100vw
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 {
    align-items: unset;
    height: 85%;
    justify-content: center;
    position: absolute;
    grid-gap: var(--grid-gap-sm);
    bottom: 0;
    padding: 0 0 0 10vw;
    width: 40vw
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 {
    padding: 0 0 0 8vw;
    position: relative
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 {
    grid-gap: var(--grid-gap-md)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 {
    width: 37vw
  }
}

.rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 [data-brand=rdr1rsp] {
  --brand-icon-size: 70vw
}

@media (min-width:768px) {
  .rockstargames-sites-legacyd31f6e3c88bd0ba1d3848e6d4117fd84 [data-brand=rdr1rsp] {
    --brand-icon-size: 35vw
  }
}

.rockstargames-sites-legacyb2c63a52330cb3172dc377f9caa72e9a {
  display: flex;
  flex-direction: row
}

.rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e {
  align-items: center;
  backdrop-filter: blur(50px);
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border-radius: var(--border-radius-md, 8px);
  bottom: 0;
  display: inline-flex;
  flex-direction: column;
  gap: var(--grid-gap-sm, 20px);
  margin: var(--margin-sm);
  max-width: 14rem;
  padding: var(--padding-sm, 20px);
  position: absolute;
  right: 0
}

@supports not (backdrop-filter:blur(50px)) {
  .rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e {
    background: var(--black-200)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e {
    max-width: 15rem
  }
}

.rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e .rockstargames-sites-legacyace62b06655c1527cd7849bcb5d11955,
.rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e .rockstargames-sites-legacyb8ca1e26cdff51b56d4e2d18bed40b40 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e .rockstargames-sites-legacyace62b06655c1527cd7849bcb5d11955 {
  color: var(--white-65, hsla(0, 0%, 100%, .65))
}

.rockstargames-sites-legacyc7aae84f26ec7b5b4f281346413f465e .rockstargames-sites-legacyb8ca1e26cdff51b56d4e2d18bed40b40 {
  color: var(--white-100, #fff)
}

.rockstargames-sites-legacyba15b62d35d322aa58643e8200bd2d21 {
  --layered-horizontal-offset-xs: 0px;
  --layered-vertical-offset-xs: 0px;
  --layered-image-width-xs: 100vw;
  --layered-horizontal-offset-sm: 0px;
  --layered-vertical-offset-sm: 0px;
  --layered-image-width-sm: 100vw;
  --layered-horizontal-offset-md: 0px;
  --layered-vertical-offset-md: 0px;
  --layered-image-width-md: 100vw;
  --layered-horizontal-offset-lg: 0px;
  --layered-vertical-offset-lg: 0px;
  --layered-image-width-lg: 100vw;
  --layered-horizontal-offset-xl: 0px;
  --layered-vertical-offset-xl: 0px;
  --layered-image-width-xl: 100vw
}

/*# sourceMappingURL=bde1c4e0b23cbfd27b8e58c3e9b9719f.css.map*/