.f831abba98943ab530a4 {
  --image-rounding-dynamic: 3px;
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--image-rounding-static);
  color: #e8e8e8;
  display: flex;
  flex-direction: column;
  font-family: var(--gta-font-family-std);
  margin: auto;
  max-width: 640px;
  overflow: hidden;
  width: 100%
}

@media (min-width:1024px) {
  .f831abba98943ab530a4 {
    flex-direction: row
  }
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2,
.f831abba98943ab530a4 .f619adf04d065f025cfd {
  width: 100%
}

@media (min-width:1024px) {

  .f831abba98943ab530a4 .b74026a5b3890de45ac2,
  .f831abba98943ab530a4 .f619adf04d065f025cfd {
    width: 50%
  }
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 {
  height: auto;
  overflow: hidden;
  position: relative
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .d05fbb21dca24af998e4 {
  height: 100%;
  width: 100%
}

@media (max-width:1023px) {
  .f831abba98943ab530a4 .b74026a5b3890de45ac2 .d05fbb21dca24af998e4 {
    --aspect-ratio: 16/9;
    position: relative
  }

  .f831abba98943ab530a4 .b74026a5b3890de45ac2 .d05fbb21dca24af998e4:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio)))
  }

  .f831abba98943ab530a4 .b74026a5b3890de45ac2 .d05fbb21dca24af998e4>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .bac9c68bfb3726e1f59d {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .c40c15f961a8396c8d9f {
  background: #000;
  border-bottom-right-radius: var(--image-rounding-dynamic);
  border-top-right-radius: var(--image-rounding-dynamic);
  color: #e8e8e8;
  font-size: var(--font-size-1);
  font-weight: 700;
  left: 0;
  padding: .25rem .75rem;
  text-transform: uppercase
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .d9a3187c6e4bf2b26f9c,
.f831abba98943ab530a4 .b74026a5b3890de45ac2 .c40c15f961a8396c8d9f {
  bottom: var(--grid-gap-static-xs);
  position: absolute
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .d9a3187c6e4bf2b26f9c {
  align-items: center;
  background: var(--card-background-color);
  border-radius: 50%;
  display: flex;
  height: var(--font-size-5);
  justify-content: center;
  right: var(--grid-gap-static-xs);
  width: var(--font-size-5)
}

.f831abba98943ab530a4 .b74026a5b3890de45ac2 .d9a3187c6e4bf2b26f9c img {
  filter: invert(1);
  padding: .4rem;
  width: 100%
}

.f831abba98943ab530a4 .f619adf04d065f025cfd {
  grid-gap: var(--grid-gap-static-sm);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: var(--grid-gap-static-sm);
  text-align: left
}

@media (max-width:1023px) {
  .f831abba98943ab530a4 .f619adf04d065f025cfd {
    padding: var(--grid-gap-static-md)
  }
}

.f831abba98943ab530a4 .f619adf04d065f025cfd>div {
  width: 100%
}

@media (max-width:1023px) {
  .f831abba98943ab530a4 .f619adf04d065f025cfd {
    grid-gap: var(--grid-gap-static-sm)
  }
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .beeaec1b8a4df1fd3c3c {
  font-family: var(--gta-font-family-h);
  line-height: 110%;
  text-transform: uppercase
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .fc7f916f17a8f20de16b {
  font-size: var(--font-size-2);
  line-height: 110%;
  padding-bottom: var(--grid-gap-static-xs)
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 {
  border: 1px solid #fff;
  border-radius: 3px;
  display: flex;
  height: 3.5rem;
  max-width: 100%;
  min-width: 235px
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 .f3e40cb62e1821890e19 {
  display: inline-block;
  height: 100%
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 .c38c141c91db89924b1e {
  grid-gap: var(--grid-gap-static-xs);
  display: inline-block;
  padding: var(--grid-gap-static-xs)
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 .c38c141c91db89924b1e .ac6ec278c0009ae8ebce {
  font-size: var(--font-size-2);
  line-height: 110%
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 .c38c141c91db89924b1e .abef1e8fb9e5f26ffda9 {
  background: #fff;
  border-radius: var(--image-rounding-static-xs);
  color: #2d2d2d;
  display: inline-block;
  font-size: var(--font-size-1);
  font-weight: 700;
  padding: 0 .25rem;
  position: relative;
  text-align: center
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .b26e7342eed0484a1e21 .c38c141c91db89924b1e .abef1e8fb9e5f26ffda9:before {
  background-color: var(--crew-color);
  bottom: 0;
  content: "";
  height: 2px;
  left: calc((100% - calc(var(--crew-rank) * 10 * 1%)) / 2);
  position: absolute;
  width: calc(var(--crew-rank) * 10 * 1%)
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .d0b387d2e650443aadd2 {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  justify-content: center;
  justify-content: flex-start
}

@media (min-width:1024px) {
  .f831abba98943ab530a4 .f619adf04d065f025cfd .d0b387d2e650443aadd2 {
    font-size: var(--font-size-2)
  }
}

.f831abba98943ab530a4 .f619adf04d065f025cfd .d0b387d2e650443aadd2 img {
  height: var(--font-size-2);
  margin-right: var(--grid-gap-static-xs)
}