.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836:focus,
.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836.rockstargames-sites-gta-tvc1ac4227ecc3c60c4a623f13dd4609b6 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-tvedb30438bec02a28ec1d06d071bcf836.rockstargames-sites-gta-tvc1ac4227ecc3c60c4a623f13dd4609b6 img {
  filter: invert()
}

.rockstargames-sites-gta-tvea8cf4797c830e5b5dad68b2ec814e67 {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-sites-gta-tvd2818fbf57acfdab6702a79f77b5f709 {
  background: linear-gradient(180deg, #213359 0, #355ca8)
}

.rockstargames-sites-gta-tvdcf6464262c0f8c1aab18d7ba5f104f3 {
  grid-gap: .5rem;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem
}

.rockstargames-sites-gta-tvdcf6464262c0f8c1aab18d7ba5f104f3 h1 {
  font-size: 1rem;
  text-transform: uppercase
}

.rockstargames-sites-gta-tvdcf6464262c0f8c1aab18d7ba5f104f3 h1 strong {
  font-weight: 700
}

.rockstargames-sites-gta-tvdcf6464262c0f8c1aab18d7ba5f104f3 h1 em {
  font-style: normal;
  text-decoration: underline
}

.rockstargames-sites-gta-tvea94f5ebe20a3abe32611486a45fa571 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/607283ed960466b0c1b40f7acaee1db4.png) no-repeat 50%/contain;
  width: 100px
}

.rockstargames-sites-gta-tvea94f5ebe20a3abe32611486a45fa571:after {
  content: "";
  display: block;
  padding-top: 39.42307692%
}

.rockstargames-sites-gta-tve8f8381ecf459ca3cb3238c3b6a6e0ce {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/703fa4b2af2bcd86dc009075594a55a5.svg) no-repeat 50%/contain;
  width: 100px
}

.rockstargames-sites-gta-tve8f8381ecf459ca3cb3238c3b6a6e0ce:after {
  content: "";
  display: block;
  padding-top: 26.04422604%
}

.rockstargames-sites-gta-tvd87037fda2ea106061c7a614036a89df {
  --aspect-ratio-desktop: 64/79;
  --aspect-ratio-mobile: var(--aspect-ratio-desktop);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  aspect-ratio: var(--aspect-ratio-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  width: 100%
}

.rockstargames-sites-gta-tvd87037fda2ea106061c7a614036a89df.rockstargames-sites-gta-tvdc444c089b89129c0a39bc61845d531f {
  --aspect-ratio-desktop: 10/3;
  --aspect-ratio-mobile: 16/9
}

@media (min-width:768px) {
  .rockstargames-sites-gta-tvd87037fda2ea106061c7a614036a89df {
    aspect-ratio: var(--aspect-ratio-desktop)
  }
}

a.rockstargames-sites-gta-tvd30ff40ba02b7ed14124da3ca9cd4f2b {
  box-shadow: 0 0 40px -25px transparent;
  display: flex;
  flex-flow: column;
  transition: transform .3s cubic-bezier(0, 0, .5, 1), box-shadow .3s cubic-bezier(0, 0, .5, 1)
}

a.rockstargames-sites-gta-tvd30ff40ba02b7ed14124da3ca9cd4f2b:hover {
  box-shadow: 0 30px 40px -25px #000;
  transform: scale(1.025)
}

a.rockstargames-sites-gta-tvd30ff40ba02b7ed14124da3ca9cd4f2b.rockstargames-sites-gta-tvc9686ec502f78b05e47568667e90bd17 {
  grid-column: 1/-1
}

.rockstargames-sites-gta-tvc2ed33350ede82ac3fc0ec91356614ac,
.rockstargames-sites-gta-tva23f05777693bdde1bf2a72b3b2b82f4 {
  grid-gap: 1rem;
  display: grid
}

@media (min-width:768px) {
  .rockstargames-sites-gta-tvc2ed33350ede82ac3fc0ec91356614ac {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-gta-tvbfe97336b9e7afbd2a2eb917959214c3 {
  grid-gap: .5rem;
  display: grid;
  text-transform: uppercase
}

.rockstargames-sites-gta-tva9f290c70f40a29f685537afe8addab4 {
  grid-gap: 2rem;
  display: grid
}

.rockstargames-sites-gta-tvdf3e1bd6d77b39d3067d5d098d03cff2 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bef53317335cdfff278766cc305d6d72.png) no-repeat 50%/contain
}

.rockstargames-sites-gta-tvdf3e1bd6d77b39d3067d5d098d03cff2:after {
  content: "";
  display: block;
  padding-top: 32.43243243%
}

.rockstargames-sites-gta-tvf3a814925248cc27ed31e6c8a8a3fc4f,
.rockstargames-sites-gta-tve2374125e6413d62369dffa21cd5ba30 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-gta-tve2374125e6413d62369dffa21cd5ba30 {
  align-items: flex-start
}

@media (min-width:768px) {
  .rockstargames-sites-gta-tve2374125e6413d62369dffa21cd5ba30 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-gta-tvc08be868c5b03d1f049aebfae9735533 {
  grid-gap: .5rem;
  display: grid;
  grid-column: 1/-1
}

.rockstargames-sites-gta-tvc08be868c5b03d1f049aebfae9735533 a {
  text-decoration: underline
}

.rockstargames-sites-gta-tveedfe57501eac60f2e67de0de93f900f {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.rockstargames-sites-gta-tvc708473f77ebcba15ee9062ac5921b9c {
  grid-gap: 2rem;
  display: grid
}

.rockstargames-sites-gta-tvb3ec92f0af66eac421eeebc10316d734 {
  background: #fff;
  color: #000;
  flex: 1
}

.rockstargames-sites-gta-tvb3ec92f0af66eac421eeebc10316d734 h2 {
  border-bottom: 1px solid gray;
  font-size: 125%
}

.rockstargames-sites-gta-tvb3ec92f0af66eac421eeebc10316d734 h2,
.rockstargames-sites-gta-tvb3ec92f0af66eac421eeebc10316d734 h3 {
  color: #909192;
  text-transform: uppercase
}

.rockstargames-sites-gta-tvb3ec92f0af66eac421eeebc10316d734 h3 {
  font-size: 115%
}

.rockstargames-sites-gta-tva1abc388b89589494df434c53aaf3198 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-gta-tvd4698361acb311054e478e1413357320 {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
  width: 100%
}

/*# sourceMappingURL=7e6e4909d0fdd4aaf4a1ac7e294416a3.css.map*/