._9dd10cbd02665c43d4f1cec5dd8b2b22bd52 {
  background: linear-gradient(180deg, #213359 0, #355ca8)
}

._9dd10cbd02665c43ea23ee47c231cf87cc38 {
  grid-gap: .5rem;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem
}

._9dd10cbd02665c43ea23ee47c231cf87cc38 h1 {
  font-size: 1rem;
  text-transform: uppercase
}

._9dd10cbd02665c43ea23ee47c231cf87cc38 h1 strong {
  font-weight: 700
}

._9dd10cbd02665c43ea23ee47c231cf87cc38 h1 em {
  font-style: normal;
  text-decoration: underline
}

._9dd10cbd02665c43ed6b20663ab3d651fa61 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/14a9ecba0b4d9162858f.png) no-repeat 50%/contain;
  width: 100px
}

._9dd10cbd02665c43ed6b20663ab3d651fa61:after {
  content: "";
  display: block;
  padding-top: 39.42307692%
}

._9dd10cbd02665c43b9f6f6b36342c2b2b0b6 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/60de97e83440e09d4dd3.svg) no-repeat 50%/contain;
  width: 100px
}

._9dd10cbd02665c43b9f6f6b36342c2b2b0b6:after {
  content: "";
  display: block;
  padding-top: 26.04422604%
}

._9dd10cbd02665c43dacd11b40562c3ef802d,
._9dd10cbd02665c43b6c299fcfb63d886c48b {
  grid-gap: 1rem;
  display: grid
}

@media (min-width:768px) {
  ._9dd10cbd02665c43dacd11b40562c3ef802d {
    grid-template-columns: repeat(2, 1fr)
  }
}

._9dd10cbd02665c43e21139138fb118469df8 {
  grid-gap: .5rem;
  display: grid;
  text-transform: uppercase
}

._9dd10cbd02665c43c4b20405ad56a3b4dd00 {
  grid-gap: 2rem;
  display: grid
}

._9dd10cbd02665c43e45d0c70a84c0cb2bd4e {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/867d26bfcc9d9c646c8b.png) no-repeat 50%/contain
}

._9dd10cbd02665c43e45d0c70a84c0cb2bd4e:after {
  content: "";
  display: block;
  padding-top: 32.43243243%
}

._9dd10cbd02665c43e10a123dba3026bddcfe,
._9dd10cbd02665c43cbf009aea5e45e56cd7a {
  grid-gap: 1rem;
  display: grid
}

._9dd10cbd02665c43cbf009aea5e45e56cd7a {
  align-items: flex-start
}

@media (min-width:768px) {
  ._9dd10cbd02665c43cbf009aea5e45e56cd7a {
    grid-template-columns: repeat(2, 1fr)
  }
}

._9dd10cbd02665c43bd7ec57e9a60f8c39718 {
  grid-gap: .5rem;
  display: grid
}

._9dd10cbd02665c43bd7ec57e9a60f8c39718 a {
  text-decoration: underline
}

._9dd10cbd02665c43d2e4b47b5533363f8326 {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

._9dd10cbd02665c43c9052727a8c85a5dee2f {
  grid-gap: 2rem;
  display: grid
}

._9dd10cbd02665c43a6a9b44e661a80e61306 {
  background: #fff;
  color: #000;
  flex: 1
}

._9dd10cbd02665c43a6a9b44e661a80e61306 h2 {
  border-bottom: 1px solid gray;
  font-size: 125%
}

._9dd10cbd02665c43a6a9b44e661a80e61306 h2,
._9dd10cbd02665c43a6a9b44e661a80e61306 h3 {
  color: #909192;
  text-transform: uppercase
}

._9dd10cbd02665c43a6a9b44e661a80e61306 h3 {
  font-size: 115%
}

._9dd10cbd02665c43e0c63f1c13c0922fcf66 {
  grid-gap: 1rem;
  display: grid
}

._9dd10cbd02665c43e3e3144f8074bf13ff68 {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
  width: 100%
}