.rockstargames-sites-gta-tve4ffae5513cdc54b869d612536512d93 {
  background: linear-gradient(180deg, #213359 0, #355ca8)
}

.rockstargames-sites-gta-tvce661df9d9541ff15c96e75ad5dc0eba {
  grid-gap: .5rem;
  align-items: center;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem
}

.rockstargames-sites-gta-tvce661df9d9541ff15c96e75ad5dc0eba h1 {
  font-size: 1rem;
  text-transform: uppercase
}

.rockstargames-sites-gta-tvce661df9d9541ff15c96e75ad5dc0eba h1 strong {
  font-weight: 700
}

.rockstargames-sites-gta-tvce661df9d9541ff15c96e75ad5dc0eba h1 em {
  font-style: normal;
  text-decoration: underline
}

.rockstargames-sites-gta-tvc86bed427f2c003a04fcb8f197654d47 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/607283ed960466b0c1b40f7acaee1db4.png) no-repeat 50%/contain;
  width: 100px
}

.rockstargames-sites-gta-tvc86bed427f2c003a04fcb8f197654d47:after {
  content: "";
  display: block;
  padding-top: 39.42307692%
}

.rockstargames-sites-gta-tvc57011fd214f597e263973baff01b68c {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/703fa4b2af2bcd86dc009075594a55a5.svg) no-repeat 50%/contain;
  width: 100px
}

.rockstargames-sites-gta-tvc57011fd214f597e263973baff01b68c:after {
  content: "";
  display: block;
  padding-top: 26.04422604%
}

.rockstargames-sites-gta-tva7c9a7d77f9c6c0f4f903491e817c50a,
.rockstargames-sites-gta-tvd1c3671d748a7bfaa6fe1d5896fbd28a {
  grid-gap: 1rem;
  display: grid
}

@media (min-width:768px) {
  .rockstargames-sites-gta-tva7c9a7d77f9c6c0f4f903491e817c50a {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-gta-tvd305555ee8eebb479324499004e759d1 {
  grid-gap: .5rem;
  display: grid;
  text-transform: uppercase
}

.rockstargames-sites-gta-tvdcf817f11d19ae0ef32bf4b753d292a2 {
  grid-gap: 2rem;
  display: grid
}

.rockstargames-sites-gta-tvfd61339363816e4b0f9a193a081ff163 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bef53317335cdfff278766cc305d6d72.png) no-repeat 50%/contain
}

.rockstargames-sites-gta-tvfd61339363816e4b0f9a193a081ff163:after {
  content: "";
  display: block;
  padding-top: 32.43243243%
}

.rockstargames-sites-gta-tva8e34f6c8e113528a539bdc9a364521a,
.rockstargames-sites-gta-tvc7e8e6119cff55d2d4bed806f96b27a7 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-gta-tvc7e8e6119cff55d2d4bed806f96b27a7 {
  align-items: flex-start
}

@media (min-width:768px) {
  .rockstargames-sites-gta-tvc7e8e6119cff55d2d4bed806f96b27a7 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-gta-tvaa04587a2a8655cb4d51d68c656edc02 {
  grid-gap: .5rem;
  display: grid;
  grid-column: 1/-1
}

.rockstargames-sites-gta-tvaa04587a2a8655cb4d51d68c656edc02 a {
  text-decoration: underline
}

.rockstargames-sites-gta-tvbe98ffe3a55422e301616a867415d286 {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.rockstargames-sites-gta-tvfa6015ba4b01119a15f6a483b23de950 {
  grid-gap: 2rem;
  display: grid
}

.rockstargames-sites-gta-tvb6a0583ad82491ab6f460456bdcd71b2 {
  background: #fff;
  color: #000;
  flex: 1
}

.rockstargames-sites-gta-tvb6a0583ad82491ab6f460456bdcd71b2 h2 {
  border-bottom: 1px solid gray;
  font-size: 125%
}

.rockstargames-sites-gta-tvb6a0583ad82491ab6f460456bdcd71b2 h2,
.rockstargames-sites-gta-tvb6a0583ad82491ab6f460456bdcd71b2 h3 {
  color: #909192;
  text-transform: uppercase
}

.rockstargames-sites-gta-tvb6a0583ad82491ab6f460456bdcd71b2 h3 {
  font-size: 115%
}

.rockstargames-sites-gta-tvf5df5c42f1b4ecb3eea339f0101d7bc9 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-gta-tva089b814cf413051c57d2f057374d046 {
  margin: 0 auto;
  max-width: 1024px;
  padding: 1rem;
  width: 100%
}

/*# sourceMappingURL=e26eee513f4b3d775cdb6a85b04ee006.css.map*/