.rockstargames-sites-red-dead-redemption-2af6dc9efd85f5bbdb94e471a0bd96098 img {
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2ba90ae86aa6de055709a403d6ebb279e {
  grid-gap: 4rem;
  display: grid;
  padding: var(--padding-sides);
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2ba90ae86aa6de055709a403d6ebb279e section {
  grid-gap: 2rem;
  display: grid;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2a252ee0eedfc873650a74584405504e3 {
  grid-gap: 1rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr)
}

@media (min-width:768px) {
  .rockstargames-sites-red-dead-redemption-2a252ee0eedfc873650a74584405504e3 {
    grid-template-columns: repeat(3, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2e80c6dda59a8dc0bd78abb5ec17ec1c7 {
  grid-template-columns: repeat(3, 1fr)
}

@media (min-width:768px) {
  .rockstargames-sites-red-dead-redemption-2e80c6dda59a8dc0bd78abb5ec17ec1c7 {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2e80c6dda59a8dc0bd78abb5ec17ec1c7 {
    grid-template-columns: repeat(5, 1fr)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-red-dead-redemption-2e80c6dda59a8dc0bd78abb5ec17ec1c7 {
    grid-template-columns: repeat(6, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2d490af80bb7a7d52461714f1f77ed5b9,
.rockstargames-sites-red-dead-redemption-2cfa3d8a160689e28230f5201bf0c4272 {
  grid-gap: .5rem;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2cfa3d8a160689e28230f5201bf0c4272 {
  grid-auto-flow: column;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2cfa3d8a160689e28230f5201bf0c4272 a {
  background: #000;
  border: 1px solid #c00;
  color: #c00;
  font-size: 60%;
  padding: .25rem;
  text-transform: uppercase
}

.rockstargames-sites-red-dead-redemption-2cfa3d8a160689e28230f5201bf0c4272 a:hover {
  background: #c00;
  color: #000
}

.rockstargames-sites-red-dead-redemption-2e8ede7f1b37c3fa77494e6e5f21ebb6b {
  margin: 0 auto;
  max-width: 1280px
}

.rockstargames-sites-red-dead-redemption-2dd42e6caa369e1cc0dac60b9edfe868f {
  grid-gap: 2rem;
  display: grid;
  text-align: left
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2dd42e6caa369e1cc0dac60b9edfe868f {
    grid-template-columns: 350px 1fr
  }
}

.rockstargames-sites-red-dead-redemption-2c556cac48897ebe9c0302820fad53268 {
  aspect-ratio: 1;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/eddae2c60d38ca928a68ae420729a43a.png) no-repeat top/contain
}

.rockstargames-sites-red-dead-redemption-2d07b168d776da31dc595e668372e87f7 {
  grid-gap: 1rem;
  align-content: flex-start;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2b4e90aa2058d55a19bb36de6ca3fa13e {
  grid-gap: .5rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.rockstargames-sites-red-dead-redemption-2b336c1984abec3d9f1ac0b3638f6686c {
  grid-gap: .5rem;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2c9117398c14e24a703a78a203f26cf5d {
  aspect-ratio: 2.97959184;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4f3b5db2bdb935c6a56e101f636c6d14.png) no-repeat 50%/contain
}

.rockstargames-sites-red-dead-redemption-2aa402cf8daadc0514fd02481f2194482 {
  aspect-ratio: 2.975;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/97a8e8eca17bce914a4b0c5c6dc07bf0.svg) no-repeat 50%/contain
}

.rockstargames-sites-red-dead-redemption-2cbb88bc010e874a03e36d0e7c6ecb2a0 {
  aspect-ratio: 3.375;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8a442c2f454827d3321b594677917ea2.svg) no-repeat 50%/contain
}

.rockstargames-sites-red-dead-redemption-2a6029395fb1ceb20722af04fa2ff9f5e {
  font-size: 50%;
  grid-column: 1/-1
}

.rockstargames-sites-red-dead-redemption-2a133025b71fc515c267b8dd5b23f5ba8 {
  grid-gap: 1rem;
  align-content: center;
  display: grid;
  justify-items: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: calc(100vh - var(--header-height) - var(--game-header-height));
  padding: var(--padding-sides);
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2f97c21bcc35a364dc2c9b8840f8b5ced {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d7eb22f11094bfec5856e1538f31f922.svg) no-repeat bottom/contain;
  height: 20px;
  padding-top: 5rem;
  width: 20px
}

.rockstargames-sites-red-dead-redemption-2e6d5f8ddd5582311f0bb60bd7ef99881 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2e6d5f8ddd5582311f0bb60bd7ef99881 :empty {
  display: none
}

.rockstargames-sites-red-dead-redemption-2ee28f3bd9ddad687226e9e134b312325 {
  grid-gap: 4rem;
  background: #000;
  display: grid;
  justify-items: center;
  padding: 0 var(--padding-sides);
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2ee28f3bd9ddad687226e9e134b312325 a {
  text-decoration: underline
}

.rockstargames-sites-red-dead-redemption-2ee28f3bd9ddad687226e9e134b312325 a:hover {
  color: #c00
}

.rockstargames-sites-red-dead-redemption-2fe3fbe9a141aa3ae0e5a5fcfae58757c {
  padding: 0 var(--padding-sides)
}

.rockstargames-sites-red-dead-redemption-2cfeb76d7e0044ea71a40a1870e1e85a2,
.rockstargames-sites-red-dead-redemption-2fe3fbe9a141aa3ae0e5a5fcfae58757c {
  grid-gap: 1rem;
  display: grid;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2b33fd96f456e15edb1e4139cb6e5408e {
  aspect-ratio: 16/9;
  background: var(--img-postcard) no-repeat center /contain
}

.rockstargames-sites-red-dead-redemption-2c90fec162a00d247769925a3a2d6c17e {
  grid-gap: 2rem;
  align-items: center;
  background: var(--img-map) no-repeat center /cover;
  display: grid;
  padding: var(--padding-sides)
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2c90fec162a00d247769925a3a2d6c17e {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2f527332867a0bdea245e571a4756707b {
  background: var(--img-logo) no-repeat right /contain;
  background-position: 50%;
  min-height: 150px
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2f527332867a0bdea245e571a4756707b {
    background-position: 100%
  }
}

.rockstargames-sites-red-dead-redemption-2c4ddc0803791266ec64762d761f62c80 {
  display: grid
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2c4ddc0803791266ec64762d761f62c80 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2c4ddc0803791266ec64762d761f62c80 a {
  aspect-ratio: 16/9
}

.rockstargames-sites-red-dead-redemption-2c4ddc0803791266ec64762d761f62c80 a:first-child {
  background: var(--sc-1-thumb) no-repeat right /contain
}

.rockstargames-sites-red-dead-redemption-2c4ddc0803791266ec64762d761f62c80 a:nth-child(2) {
  background: var(--sc-2-thumb) no-repeat right /contain
}

.rockstargames-sites-red-dead-redemption-2e42bae1587759ce2f83d208e7e529809 {
  grid-gap: 1rem;
  display: grid;
  justify-items: center;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2e42bae1587759ce2f83d208e7e529809 iframe {
  border: 0;
  border-radius: 10px;
  height: 250px;
  max-width: 700px;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2c80794076fe3cf98eb23f94b0c302ec0 {
  aspect-ratio: 1;
  border: 1px solid #3d3b3b;
  justify-self: right;
  max-width: 600px;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2b6b117ae38b9ed1c8b6306fb84bdff0a {
  grid-gap: 1.5rem;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.rockstargames-sites-red-dead-redemption-2b327be76e85e91ef107c0c7a0e6e0613 {
  grid-gap: .5rem;
  display: grid;
  margin: 0
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2b327be76e85e91ef107c0c7a0e6e0613 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2b327be76e85e91ef107c0c7a0e6e0613 dl {
  align-content: flex-start;
  display: grid;
  line-height: 1.3;
  margin: 0
}

.rockstargames-sites-red-dead-redemption-2b327be76e85e91ef107c0c7a0e6e0613 dd {
  font-size: 70%;
  margin: 0
}

.rockstargames-sites-red-dead-redemption-2d49dafb039c9603f7998fbc71dda6c74 {
  max-width: 1000px;
  text-align: left
}

.rockstargames-sites-red-dead-redemption-2dcc758c7e53f0550b00d2e525d9dcdf7 {
  grid-gap: 1rem;
  align-content: flex-start;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2b3de82371382fe7ee93bcdb5c66f08bf {
  grid-gap: 1rem;
  display: grid;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2b3de82371382fe7ee93bcdb5c66f08bf h2 {
  grid-column: 1/-1;
  text-align: center
}

@media (min-width:768px) {
  .rockstargames-sites-red-dead-redemption-2b3de82371382fe7ee93bcdb5c66f08bf {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2ce941630c012246a34d0ff5ce8024c16 {
  aspect-ratio: 4.62;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3af3ea7c6ee83c6162795857b2a93a84.svg) no-repeat 50%/contain;
  max-width: 530px;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2aa806a7b9e3a2d029ed18187f3b6904c {
  display: grid;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2d754d4f605fef9250edfe2f91acceccd {
  --font-family-h: Redemption;
  align-content: space-between;
  aspect-ratio: 1080/1556;
  background: var(--mobile) no-repeat center /contain;
  display: grid;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2d754d4f605fef9250edfe2f91acceccd {
    aspect-ratio: 16/9;
    background: var(--desktop) no-repeat left bottom /contain, url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c7183f93924e4730e4e5b0f90cd7b25f.jpg) no-repeat 50% /contain
  }
}

.rockstargames-sites-red-dead-redemption-2d754d4f605fef9250edfe2f91acceccd h2 {
  padding: 1rem;
  text-align: right
}

.rockstargames-sites-red-dead-redemption-2e6b76f9d6204626a9099108bc35bd62d {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/38cf6d10d69560ba676ed4e3ce198253.png) no-repeat 50% 0/cover;
  display: grid;
  justify-items: center;
  padding: 4rem var(--padding-sides) 1rem;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2e6b76f9d6204626a9099108bc35bd62d p {
  max-width: 800px
}

.rockstargames-sites-red-dead-redemption-2e7c71eec56eea681e63a69ed89b07f69 {
  --header-multiplier: 1.2;
  justify-self: right;
  max-width: 700px;
  padding: 1rem;
  text-align: right;
  text-shadow: 2px 2px #000, 0 0 2px #000
}

.rockstargames-sites-red-dead-redemption-2a15b7ed9785c5033acf6ad04fd67b33a img {
  display: block;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2ce40074664512f8c0dcf0d140372d08e {
  justify-items: center
}

.rockstargames-sites-red-dead-redemption-2ce40074664512f8c0dcf0d140372d08e,
.rockstargames-sites-red-dead-redemption-2e398d04ce182524dc4d07a89ef193826,
.rockstargames-sites-red-dead-redemption-2c4f5d65671b6daa23950d716456da493 {
  grid-gap: 1rem;
  display: grid
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2c4f5d65671b6daa23950d716456da493 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2c4f5d65671b6daa23950d716456da493 video {
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2dd2f387dd35afbd48bcebb61656ecd5d {
  aspect-ratio: 16/9;
  background: var(--bg-img) no-repeat center /100% 100%;
  transition: background-size .15s ease, box-shadow .15s ease, filter .15s ease
}

.rockstargames-sites-red-dead-redemption-2dd2f387dd35afbd48bcebb61656ecd5d:hover {
  background-size: 105% 105%;
  box-shadow: inset 0 0 2px 2px #c00;
  filter: sepia(25%)
}

.rockstargames-sites-red-dead-redemption-2e1218dce13928f0b585edafaa99797ed {
  grid-gap: .25rem;
  background: #000;
  display: grid;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-red-dead-redemption-2e1218dce13928f0b585edafaa99797ed {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2e1218dce13928f0b585edafaa99797ed {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-red-dead-redemption-2e1218dce13928f0b585edafaa99797ed {
    grid-template-columns: repeat(4, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2fd61339363816e4b0f9a193a081ff163 img {
  display: block;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2b76f323a7b8cda1218249dd765293574 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/62fd25d16605e42ee0b4d78313a91dac.jpg) no-repeat 50%/cover;
  padding: 2rem
}

.rockstargames-sites-red-dead-redemption-2b76f323a7b8cda1218249dd765293574 p {
  margin: 0 auto;
  max-width: 800px;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2cb2040bbedab0d833038547aaee20d7d {
  grid-gap: 1rem;
  background: #000;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2cb2040bbedab0d833038547aaee20d7d img {
  display: block;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2cb2040bbedab0d833038547aaee20d7d {
    grid-template-columns: repeat(3, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2a2c66d71f9af499eac2e3dffdf69713f {
  grid-gap: 1rem;
  display: grid;
  padding: 1rem;
  text-align: center;
  transition: color .2s ease
}

.rockstargames-sites-red-dead-redemption-2a2c66d71f9af499eac2e3dffdf69713f:hover {
  --color-h3: #c00
}

.rockstargames-sites-red-dead-redemption-2a2c66d71f9af499eac2e3dffdf69713f:hover .rockstargames-sites-red-dead-redemption-2b083360a0ea37792683222c06cf9c8ad img {
  filter: sepia(25%);
  transform: scale(1.1)
}

.rockstargames-sites-red-dead-redemption-2a2c66d71f9af499eac2e3dffdf69713f h3 {
  transition: color .2s
}

.rockstargames-sites-red-dead-redemption-2b083360a0ea37792683222c06cf9c8ad {
  overflow: hidden;
  position: relative
}

.rockstargames-sites-red-dead-redemption-2b083360a0ea37792683222c06cf9c8ad img {
  transition: all .2s
}

.rockstargames-sites-red-dead-redemption-2b083360a0ea37792683222c06cf9c8ad:before {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/17d0e4a9833b67fffd09e8b6e2f920e8.png) no-repeat 50%/cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  z-index: 1
}

.rockstargames-sites-red-dead-redemption-2cf30a245a73ca0dfb281667c82ff1954 {
  --font-family-h: Redemption;
  --line-height-h: 1.5;
  --header-multiplier: 2.2;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d6a3fd6982f03567080c68330307882.jpg) repeat-x 50%/cover;
  margin-bottom: -110px;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2cf30a245a73ca0dfb281667c82ff1954:before {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6b7f68638dccae82265475555782d725.png) no-repeat 50%/cover
}

.rockstargames-sites-red-dead-redemption-2cf30a245a73ca0dfb281667c82ff1954:after,
.rockstargames-sites-red-dead-redemption-2cf30a245a73ca0dfb281667c82ff1954:before {
  content: "";
  display: block;
  height: 100px;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2f80b58805d949ea0fe482c8b81848226 {
  grid-gap: 4rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 2rem
}

@media (min-width:768px) {
  .rockstargames-sites-red-dead-redemption-2f80b58805d949ea0fe482c8b81848226 {
    padding: 2rem 4rem
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2f80b58805d949ea0fe482c8b81848226 {
    grid-template-columns: minmax(360px, 640px) minmax(400px, 640px)
  }
}

.rockstargames-sites-red-dead-redemption-2f80b58805d949ea0fe482c8b81848226 img {
  max-width: 100%
}

.rockstargames-sites-red-dead-redemption-2da2c2b544728e1107b5cac16f4be7894 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2f8be89c7001c6acd9194855c8c4a8d40 {
  display: grid;
  justify-items: center;
  padding: var(--padding-sides)
}

.rockstargames-sites-red-dead-redemption-2bcc84725084bcd79cff7102c53388e80 {
  grid-gap: 2rem;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4d55662ec489b9607723bd778e384e2b.jpg) repeat 50%/contain fixed;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 0 var(--padding-sides);
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2bcc84725084bcd79cff7102c53388e80 a {
  color: #c00
}

.rockstargames-sites-red-dead-redemption-2bcc84725084bcd79cff7102c53388e80 ul {
  margin: 0
}

.rockstargames-sites-red-dead-redemption-2bcc84725084bcd79cff7102c53388e80 span {
  font-weight: 700
}

.rockstargames-sites-red-dead-redemption-2cc4455ef9852735fa718b188b49349cc {
  aspect-ratio: 16/9;
  height: 800px
}

.rockstargames-sites-red-dead-redemption-2fd21e57cf34ccca5dce90a6f8b0cfe09 {
  max-width: 800px;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2e4d0b351df76db4268467ff0a74327ae {
  grid-gap: .5rem;
  display: grid;
  max-width: 640px
}

.rockstargames-sites-red-dead-redemption-2caaacb7d3aecb9ff6ceb04f6b2740012 {
  grid-column: 1/-1;
  max-width: 100%
}

.rockstargames-sites-red-dead-redemption-2b9c9c0a7df3b3c4272a1f6f5a2aec67f {
  font-size: var(--font-size-2);
  line-height: 1;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2b9c9c0a7df3b3c4272a1f6f5a2aec67f:empty {
  display: none
}

.rockstargames-sites-red-dead-redemption-2d7f93642993b61b08d0c43be3cca8c6c {
  aspect-ratio: 16/9;
  background: var(--bg-img) no-repeat center /contain
}

.rockstargames-sites-red-dead-redemption-2bdc855254fa605690248235b769aacb7 {
  grid-gap: 2rem;
  display: grid;
  max-width: 1200px
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2bdc855254fa605690248235b769aacb7 {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2e470fe894daabcc0800587c535aa55bf {
  grid-gap: 1rem;
  display: grid;
  grid-column: 1/-1;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2bb578f7def6b407b9310dee181796779,
.rockstargames-sites-red-dead-redemption-2b3246b0320080ade9bf36407c2a6d42a {
  grid-gap: 1rem;
  display: grid;
  text-align: left
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2b3246b0320080ade9bf36407c2a6d42a {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2ae15b76a38ceb2120e8ef1f2f8cd5ecf {
  background: #000;
  justify-items: center;
  width: 100%
}

.rockstargames-sites-red-dead-redemption-2b6660285ce036a8bd2677b6e8d1ac744,
.rockstargames-sites-red-dead-redemption-2ae15b76a38ceb2120e8ef1f2f8cd5ecf {
  grid-gap: 2rem;
  display: grid
}

.rockstargames-sites-red-dead-redemption-2b6660285ce036a8bd2677b6e8d1ac744 {
  max-width: 1400px
}

.rockstargames-sites-red-dead-redemption-2b2695617db39f7e378c5421ec4d8f5dd {
  grid-gap: 2rem;
  display: grid
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2b2695617db39f7e378c5421ec4d8f5dd {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1 {
  grid-gap: 1rem;
  display: grid;
  text-align: center
}

.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1 h3 {
  transition: color .3s
}

.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1.rockstargames-sites-red-dead-redemption-2bf9203b7684cc06c14fccf37f7b01ef5,
.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1:hover {
  --color-h3: #c00
}

.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1.rockstargames-sites-red-dead-redemption-2bf9203b7684cc06c14fccf37f7b01ef5 .rockstargames-sites-red-dead-redemption-2d4d2930b5e41b602688e6821ff712058,
.rockstargames-sites-red-dead-redemption-2b65616c1ccc863190ca2405d13154ee1:hover .rockstargames-sites-red-dead-redemption-2d4d2930b5e41b602688e6821ff712058 {
  background-size: 105% 105%;
  box-shadow: inset 0 0 2px 2px #c00;
  filter: sepia(25%)
}

.rockstargames-sites-red-dead-redemption-2cad566ec9aa37898131d2cbd0f04275a {
  grid-gap: 1rem;
  display: grid;
  padding: 0 var(--padding-sides)
}

@media (min-width:1024px) {
  .rockstargames-sites-red-dead-redemption-2cad566ec9aa37898131d2cbd0f04275a {
    grid-template-columns: repeat(3, 1fr)
  }
}

.rockstargames-sites-red-dead-redemption-2d4d2930b5e41b602688e6821ff712058 {
  aspect-ratio: 16/9;
  background: var(--bg-img) no-repeat center /100% 100%;
  box-shadow: inset 0 0 0 0 #c00;
  filter: sepia(0);
  transition: background-size .15s ease, box-shadow .15s ease, filter .15s ease
}

@font-face {
  font-family: Redemption;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/d83fe1be4c1e7239c409db49a3850103.woff) format("woff")
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef {
  --standard-color: #c00;
  --game-base-font: var(--rdr-font-family-std, HapnaSlabSerif);
  --game-header-family: var(--rdr-font-family-h, RDRLino-Regular);
  --font-family-h: RDRLino-Regular;
  --game-header-transform: uppercase;
  --game-header-weight: 400;
  --tag-color: #fff;
  --max-width: 1000px;
  --body-color: #fff;
  --padding-top-bottom: var(--padding-sides);
  --font-weight-h: 100;
  background-color: var(--background-color, transparent);
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ba3f2da77296c0464a6d76cdc33ce645.jpg) no-repeat bottom/cover fixed;
  display: grid;
  font-family: var(--rdr-font-family-std)
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h1,
.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h1.rockstargames-sites-red-dead-redemption-2be3b73f0acc30ea8f84b75456651bc9a {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h4,
.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h5,
.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-red-dead-redemption-2f958bac5cd7954363253781e1bcae3ef [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd {
  --background-color: transparent;
  --color-h: var(--color-h-dynamic, #fff);
  align-items: center;
  background-color: var(--background-color, transparent);
  color: var(--body-color, #fff);
  display: flex;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - var(--game-header-height));
  transition: filter .5s;
  width: 100vw
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd.rockstargames-sites-red-dead-redemption-2db3c231c08f1e05744b96d583aca72ee {
  --blur-because-in-bg: 10px
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h1,
.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h1.rockstargames-sites-red-dead-redemption-2be3b73f0acc30ea8f84b75456651bc9a {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h4,
.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h5,
.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-red-dead-redemption-2c9273a68cd5a2b7df4db1249fbe50ebd.rockstargames-sites-red-dead-redemption-2db3c231c08f1e05744b96d583aca72ee {
  filter: sepia(75%) blur(2px)
}

.rockstargames-sites-red-dead-redemption-2d8fd482e45ec65e6ad675f018c4e0a74 {
  grid-gap: 1rem;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/06f351497e9f108950621c33b197e304.png) no-repeat top/cover;
  display: grid;
  padding-bottom: 20px;
  padding-top: 50px;
  position: relative;
  transition: filter .5s;
  z-index: 0
}

.rockstargames-sites-red-dead-redemption-2d8fd482e45ec65e6ad675f018c4e0a74.rockstargames-sites-red-dead-redemption-2db3c231c08f1e05744b96d583aca72ee {
  filter: sepia(75%) blur(2px)
}

.rockstargames-sites-red-dead-redemption-2e7eca144cf3b860d8e4614b7d0eceec4 {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content
}

.rockstargames-sites-red-dead-redemption-2ff641547c939fa076d30aec96e6f0b8f {
  font-family: Redemption, serif;
  font-size: 2.55556em;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto 5px;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content;
  word-spacing: -.07em
}

/*# sourceMappingURL=f591ef29a01f17332a4e20f415b692b1.css.map*/