.f6b60ed0528262116599 {
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 5rem;
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --font-family-h: Raleway;
  --font-family-body: Rubik;
  --font-weight-black: 700;
  --font-weight-semibold: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 340px
}

@media (min-width:0px) {
  .f6b60ed0528262116599 {
    --root-font-size: 16
  }
}

@media (min-width:1024px) {
  .f6b60ed0528262116599 {
    --root-font-size: 18
  }
}

@media (min-width:1920px) {
  .f6b60ed0528262116599 {
    --root-font-size: 20
  }
}

@media (min-width:2560px) {
  .f6b60ed0528262116599 {
    --root-font-size: 22;
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .f6b60ed0528262116599 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.f6b60ed0528262116599 h5 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-weight-black);
  text-transform: uppercase
}

.f6b60ed0528262116599 h6 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase
}

.f6b60ed0528262116599 .eb92e279865c9000b72a {
  background-color: #050505 !important;
  border: 1px solid #2d2d2d;
  border-radius: .625rem;
  contain: content
}

.f6b60ed0528262116599 .eb92e279865c9000b72a img {
  border-radius: 0
}

.f6b60ed0528262116599 .e58bfe52c22f632dc039 {
  grid-gap: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-align: left
}

.f6b60ed0528262116599 .e58bfe52c22f632dc039 .a95eca18e1ad770ea596 {
  color: var(--white-65)
}

.f6b60ed0528262116599 .e58bfe52c22f632dc039 .f45af61905d26c0592eb {
  font-size: 20px;
  font-weight: 400;
  text-transform: none
}