.f3c82db691085629ecd1 {
  display: block
}

.f6e8e857db521f2f02c2 {
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 5rem;
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  align-content: space-between;
  display: flex;
  gap: var(--spacing-xs);
  justify-content: flex-start
}

@media (min-width:0px) {
  .f6e8e857db521f2f02c2 {
    --root-font-size: 16
  }
}

@media (min-width:1024px) {
  .f6e8e857db521f2f02c2 {
    --root-font-size: 18
  }
}

@media (min-width:1920px) {
  .f6e8e857db521f2f02c2 {
    --root-font-size: 20
  }
}

@media (min-width:2560px) {
  .f6e8e857db521f2f02c2 {
    --root-font-size: 22;
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .f6e8e857db521f2f02c2 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.b8bb24e78a7e5e3849fd {
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 5rem;
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --padding: var(--padding-md);
  background: var(--gradient-overlay-bottom);
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: var(--padding);
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 100
}

@media (min-width:0px) {
  .b8bb24e78a7e5e3849fd {
    --root-font-size: 16
  }
}

@media (min-width:1024px) {
  .b8bb24e78a7e5e3849fd {
    --root-font-size: 18
  }
}

@media (min-width:1920px) {
  .b8bb24e78a7e5e3849fd {
    --root-font-size: 20
  }
}

@media (min-width:2560px) {
  .b8bb24e78a7e5e3849fd {
    --root-font-size: 22;
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .b8bb24e78a7e5e3849fd {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.b8bb24e78a7e5e3849fd .a62c2da90114215ae3c8 {
  grid-gap: var(--grid-gap-xs);
  bottom: 0;
  display: grid;
  left: 0;
  padding: var(--padding);
  position: absolute
}

.b8bb24e78a7e5e3849fd .a62c2da90114215ae3c8 h3 {
  font-family: var(--text-overlay-title-font, var(--font-family-h)) !important;
  padding: 0;
  text-transform: var(--text-overlay-text-transform) !important
}

.abf1ce2359a28e402c7a {
  height: 100%;
  padding-bottom: var(--card-image-aspect-ratio);
  position: relative;
  width: 100%
}

@media (min-width:1024px) {
  .abf1ce2359a28e402c7a {
    height: 100%;
    padding-bottom: 0
  }
}

[data-context=newswire-inline] .abf1ce2359a28e402c7a {
  padding-bottom: 16/9
}

@media (max-width:767px) {
  [data-context=newswire-inline] .abf1ce2359a28e402c7a {
    padding-bottom: 1/1
  }
}

[data-type=gallery] .abf1ce2359a28e402c7a {
  --image-with-badge-max-width: 100%;
  border: var(--gallery-border, 1px solid var(--border-color));
  border-radius: var(--border-radius-md);
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  overflow: hidden;
  padding-bottom: 0;
  transition: border-color .3s ease-in-out
}

@media (min-width:1024px) {
  [data-type=gallery] .abf1ce2359a28e402c7a {
    border-bottom-right-radius: var(--thumbs-gallery-border-radius-right, var(--border-radius-md));
    border-top-right-radius: var(--thumbs-gallery-border-radius-right, var(--border-radius-md))
  }
}

[data-type=gallery] .abf1ce2359a28e402c7a figure {
  height: 100%
}

[data-type=gallery] .abf1ce2359a28e402c7a figure div,
[data-type=gallery] .abf1ce2359a28e402c7a figure img {
  height: 100%;
  width: 100%
}

[data-type=gallery] .abf1ce2359a28e402c7a figure img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

@media not all and (hover:none) {
  .abf1ce2359a28e402c7a:hover {
    border-color: var(--white-100)
  }

  .abf1ce2359a28e402c7a:hover figure img {
    transform: var(--card-header-image-transform, scale(1.02))
  }
}

.b26588866b3f8cf68385 {
  --thumbs-gallery-border-radius-right: 0px;
  --grid-template-columns-initial: 100% 1fr;
  --grid-template-columns-animate: 50% 1fr;
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 5rem;
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --text-section-max-width: var(--max-width-sm);
  --disclaimer-max-width: var(--text-section-max-width);
  --image-with-badge-width: 100%;
  --image-with-badge-max-width: var(--max-width-md);
  --image-title-text-background: transparent;
  --description-area-display: grid;
  --description-area-grid-gap: var(--grid-gap-sm);
  --empty-p-tag-display: none;
  --text-block-grid-gap: var(--grid-gap-xs);
  --disclaimer-header-color: var(--rockstar-gold) !important;
  border-radius: var(--border-radius-lg);
  color: var(--color-body, var(--white-100));
  cursor: default;
  display: grid;
  height: 100%;
  transform: translateZ(0)
}

@media (min-width:0px) {
  .b26588866b3f8cf68385 {
    --root-font-size: 16
  }
}

@media (min-width:1024px) {
  .b26588866b3f8cf68385 {
    --root-font-size: 18
  }
}

@media (min-width:1920px) {
  .b26588866b3f8cf68385 {
    --root-font-size: 20
  }
}

@media (min-width:2560px) {
  .b26588866b3f8cf68385 {
    --root-font-size: 22;
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .b26588866b3f8cf68385 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.b26588866b3f8cf68385 span {
  --padding-dynamic: 0;
  color: var(--color-body, var(--white-100))
}

.b26588866b3f8cf68385 .d606f8b2c00b2c32599e {
  grid-gap: var(--grid-gap-sm);
  color: var(--color-h);
  display: grid;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  margin: 0 auto;
  margin-bottom: calc(var(--margin-md) * -1) !important;
  max-width: calc(var(--max-width-dynamic, var(--max-width-sm)) + var(--padding-dynamic, 0px) * 2) !important;
  padding-bottom: var(--padding-sm);
  width: 100%
}

.b26588866b3f8cf68385 .c86efe7469f4c7bea32c {
  grid-gap: var(--grid-gap-md);
  --background-color: transparent;
  align-content: flex-start;
  display: grid;
  justify-content: flex-start;
  margin: 0 auto;
  max-height: 100%;
  padding: var(--padding-md);
  width: 100%
}

@media (min-width:768px) {
  .b26588866b3f8cf68385 .c86efe7469f4c7bea32c {
    padding: var(--padding-lg)
  }
}

.b26588866b3f8cf68385 .c86efe7469f4c7bea32c p {
  margin: auto;
  max-width: var(--max-width-sm);
  width: 100%
}

.b26588866b3f8cf68385[data-type=gallery] {
  --gallery-template-rows: auto 1fr;
  --gallery-aspect-ratio-animate: 1/1
}

@media (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=gallery] {
    --gallery-template-rows: auto;
    --grid-template-columns-initial: 100%;
    --grid-template-columns-animate: 100%;
    --card-image-aspect-ratio-animate: 37%;
    grid-template-rows: min-content
  }

  .b26588866b3f8cf68385[data-type=gallery] header>* {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
  }

  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    background: var(--card-expanded-content-background-color, var(--black-100));
    justify-content: center
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=long] header,
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] header {
    height: 0;
    padding-bottom: var(--card-image-aspect-ratio)
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=long] header>*,
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] header>* {
    height: 100%;
    position: absolute
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --gallery-aspect-ratio-animate: 1/1
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=md],
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xs] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=lg],
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=sm] {
    --gallery-aspect-ratio-initial: 1/1
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] header>div:last-child {
    height: 100%;
    position: absolute
  }
}

@media (max-width:1023px) and (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    grid-gap: var(--grid-gap-lg)
  }

  .b26588866b3f8cf68385[data-type=gallery] .d606f8b2c00b2c32599e {
    margin-bottom: calc(var(--margin-lg) * -1) !important
  }
}

@media (max-width:1023px) and (max-width:1023px) {

  .b26588866b3f8cf68385[data-type=gallery][data-type=long],
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] {
    --card-image-aspect-ratio-animate: 100%
  }
}

@media (max-width:1023px) and (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }
}

@media (max-width:1023px) and (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 3/4
  }
}

@media (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=gallery] {
    --grid-template-columns-initial: 100%;
    --grid-template-columns-animate: 100%;
    --card-image-aspect-ratio-animate: 37%;
    grid-template-rows: min-content
  }

  .b26588866b3f8cf68385[data-type=gallery] header>* {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
  }

  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    background: var(--card-expanded-content-background-color, var(--black-100));
    justify-content: center
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=long] header,
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] header {
    height: 0;
    padding-bottom: var(--card-image-aspect-ratio)
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=long] header>*,
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] header>* {
    height: 100%;
    position: absolute
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --gallery-aspect-ratio-animate: 1/1
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=md],
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xs] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=lg],
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=sm] {
    --gallery-aspect-ratio-initial: 1/1
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] header>div:last-child {
    height: 100%;
    position: absolute
  }
}

@media (orientation:portrait) and (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    grid-gap: var(--grid-gap-lg)
  }

  .b26588866b3f8cf68385[data-type=gallery] .d606f8b2c00b2c32599e {
    margin-bottom: calc(var(--margin-lg) * -1) !important
  }
}

@media (orientation:portrait) and (max-width:1023px) {

  .b26588866b3f8cf68385[data-type=gallery][data-type=long],
  .b26588866b3f8cf68385[data-type=gallery][data-type=short] {
    --card-image-aspect-ratio-animate: 100%
  }
}

@media (orientation:portrait) and (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }
}

@media (orientation:portrait) and (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }

  .b26588866b3f8cf68385[data-type=gallery][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 3/4
  }
}

.b26588866b3f8cf68385[data-type=gallery]:hover figure img {
  --card-header-image-transform: none
}

.b26588866b3f8cf68385[data-type=gallery] span {
  --padding-dynamic: 0 !important
}

@media (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    overflow-y: auto
  }
}

@media (min-width:2560px) {
  .b26588866b3f8cf68385[data-type=gallery] .c86efe7469f4c7bea32c {
    padding: var(--padding-lg) var(--padding-xl)
  }
}

.b26588866b3f8cf68385[data-type=gallery] .d606f8b2c00b2c32599e {
  margin-left: 0;
  margin-right: 0
}

.b26588866b3f8cf68385[data-type=long] header,
.b26588866b3f8cf68385[data-type=short] header {
  pointer-events: none
}

@media (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=short] {
    --grid-template-columns-initial: 100%;
    --grid-template-columns-animate: 100%;
    --card-image-aspect-ratio-animate: 37%;
    --card-image-aspect-ratio-animate: 56.25%;
    grid-template-rows: min-content
  }

  .b26588866b3f8cf68385[data-type=short] header>* {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%
  }

  .b26588866b3f8cf68385[data-type=short] .c86efe7469f4c7bea32c {
    background: var(--card-expanded-content-background-color, var(--black-100));
    justify-content: center
  }

  .b26588866b3f8cf68385[data-type=short][data-type=long] header,
  .b26588866b3f8cf68385[data-type=short][data-type=short] header {
    height: 0;
    padding-bottom: var(--card-image-aspect-ratio)
  }

  .b26588866b3f8cf68385[data-type=short][data-type=long] header>*,
  .b26588866b3f8cf68385[data-type=short][data-type=short] header>* {
    height: 100%;
    position: absolute
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery] {
    --gallery-aspect-ratio-animate: 1/1
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=md],
  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=xs] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=lg],
  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=sm] {
    --gallery-aspect-ratio-initial: 1/1
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 16/9
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery] header>div:last-child {
    height: 100%;
    position: absolute
  }
}

@media (orientation:portrait) and (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=short] .c86efe7469f4c7bea32c {
    grid-gap: var(--grid-gap-lg)
  }

  .b26588866b3f8cf68385[data-type=short] .d606f8b2c00b2c32599e {
    margin-bottom: calc(var(--margin-lg) * -1) !important
  }
}

@media (orientation:portrait) and (max-width:1023px) {

  .b26588866b3f8cf68385[data-type=short][data-type=long],
  .b26588866b3f8cf68385[data-type=short][data-type=short] {
    --card-image-aspect-ratio-animate: 100%
  }
}

@media (orientation:portrait) and (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=short][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }
}

@media (orientation:portrait) and (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=short][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }

  .b26588866b3f8cf68385[data-type=short][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 3/4
  }
}

@media (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=short] .c86efe7469f4c7bea32c {
    overflow-y: auto
  }
}

@media (min-width:2560px) {
  .b26588866b3f8cf68385[data-type=short] .c86efe7469f4c7bea32c {
    padding: var(--padding-lg) var(--padding-xl)
  }
}

.b26588866b3f8cf68385[data-type=long] {
  --grid-template-columns-initial: 100%;
  --grid-template-columns-animate: 100%;
  --card-image-aspect-ratio-animate: 37%;
  grid-template-rows: min-content
}

.b26588866b3f8cf68385[data-type=long] header>* {
  height: auto;
  left: 0;
  position: relative;
  top: 0;
  width: 100%
}

.b26588866b3f8cf68385[data-type=long] .c86efe7469f4c7bea32c {
  background: var(--card-expanded-content-background-color, var(--black-100));
  justify-content: center
}

@media (min-width:1024px) {
  .b26588866b3f8cf68385[data-type=long] .c86efe7469f4c7bea32c {
    grid-gap: var(--grid-gap-lg)
  }

  .b26588866b3f8cf68385[data-type=long] .d606f8b2c00b2c32599e {
    margin-bottom: calc(var(--margin-lg) * -1) !important
  }
}

@media (max-width:1023px) {

  .b26588866b3f8cf68385[data-type=long][data-type=long],
  .b26588866b3f8cf68385[data-type=long][data-type=short] {
    --card-image-aspect-ratio-animate: 100%
  }
}

.b26588866b3f8cf68385[data-type=long][data-type=long] header,
.b26588866b3f8cf68385[data-type=long][data-type=short] header {
  height: 0;
  padding-bottom: var(--card-image-aspect-ratio)
}

.b26588866b3f8cf68385[data-type=long][data-type=long] header>*,
.b26588866b3f8cf68385[data-type=long][data-type=short] header>* {
  height: 100%;
  position: absolute
}

.b26588866b3f8cf68385[data-type=long][data-type=gallery] {
  --gallery-aspect-ratio-animate: 1/1
}

@media (orientation:portrait) {
  .b26588866b3f8cf68385[data-type=long][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }
}

@media (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=long][data-type=gallery] {
    --card-image-aspect-ratio-animate: 110%
  }
}

.b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=md],
.b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=xs] {
  --gallery-aspect-ratio-initial: 16/9
}

.b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=lg],
.b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=sm] {
  --gallery-aspect-ratio-initial: 1/1
}

.b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=xl] {
  --gallery-aspect-ratio-initial: 16/9
}

@media (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=long][data-type=gallery][data-size=xl] {
    --gallery-aspect-ratio-initial: 3/4
  }
}

.b26588866b3f8cf68385[data-type=long][data-type=gallery] header>div:last-child {
  height: 100%;
  position: absolute
}

@media (max-width:1023px) {
  .b26588866b3f8cf68385[data-type=long] {
    --card-image-aspect-ratio-animate: 100%
  }

  .b26588866b3f8cf68385[data-type=long] .c86efe7469f4c7bea32c {
    --content-padding: 0;
    padding: var(--padding-md) 0
  }

  .b26588866b3f8cf68385[data-type=long] .c86efe7469f4c7bea32c>* {
    padding: 0 var(--padding-md)
  }
}

.b26588866b3f8cf68385[data-type=long] .sectionIntro h3,
.b26588866b3f8cf68385[data-type=long] figure~div h3 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.b26588866b3f8cf68385[data-type=long] figure~div h3:not(:first-child) {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.b26588866b3f8cf68385[data-type=long] .subSection figure~div h3 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.b26588866b3f8cf68385[data-type=long] .carousel {
  padding: var(--padding-xl) 0 var(--padding-lg)
}

.b26588866b3f8cf68385[data-type=long] .carousel h3 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.b26588866b3f8cf68385[data-type=long] .paddingTop {
  padding-top: var(--padding-xl)
}

.b26588866b3f8cf68385[data-type=long] .paddingBottom {
  padding-bottom: var(--padding-lg)
}

.b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] header {
  height: auto;
  padding-bottom: 0
}

.b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] header>* {
  position: static
}

.b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] .c86efe7469f4c7bea32c {
  grid-gap: var(--grid-gap-md)
}

@media (min-width:768px) {
  .b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] .c86efe7469f4c7bea32c {
    padding: var(--padding-md)
  }
}

.b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] .c86efe7469f4c7bea32c .d606f8b2c00b2c32599e {
  padding-bottom: var(--grid-gap-md)
}

.b26588866b3f8cf68385[data-type=long][data-context=newswire-inline] .c86efe7469f4c7bea32c span {
  grid-gap: var(--text-block-grid-gap, var(--grid-gap-static-md))
}

.d44e1aa953059f5cf739 {
  --card-aspect-ratio-LG: 16/9;
  --card-aspect-ratio-MD: 1/1;
  --card-aspect-ratio-SM: 16/9;
  --thumbs-gallery-border-radius: var(--border-radius-md);
  background: transparent;
  color: #fff;
  cursor: pointer;
  min-height: 0;
  min-width: 0;
  position: relative
}

@media (max-width:1023px) {
  .d44e1aa953059f5cf739 {
    --card-aspect-ratio-LG: 3/4
  }
}

.d44e1aa953059f5cf739[data-size=sm] {
  --width-dynamic: 100%;
  --aspect-ratio: var(--card-aspect-ratio-SM);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-SM);
  position: relative;
  width: 100%
}

.d44e1aa953059f5cf739[data-size=sm]:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.d44e1aa953059f5cf739[data-size=sm]>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.d44e1aa953059f5cf739[data-size=md] {
  --width-dynamic: 100%;
  --aspect-ratio: var(--card-aspect-ratio-MD);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-MD);
  position: relative;
  width: 100%
}

.d44e1aa953059f5cf739[data-size=md]:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.d44e1aa953059f5cf739[data-size=md]>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.d44e1aa953059f5cf739[data-size=lg] {
  --width-dynamic: 100%;
  --aspect-ratio: var(--card-aspect-ratio-LG);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-LG);
  position: relative;
  width: 100%
}

.d44e1aa953059f5cf739[data-size=lg]:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.d44e1aa953059f5cf739[data-size=lg]>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.d44e1aa953059f5cf739 .ad7f915244524b0b3e74 {
  grid-gap: .3rem;
  display: grid;
  height: 100%;
  width: 100%
}

.d44e1aa953059f5cf739 .e98bb7ffca8939f0b817 {
  display: none
}

.d44e1aa953059f5cf739 .b2bf0078b6a4193e97ad {
  grid-gap: var(--grid-gap-static-sm);
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  padding: var(--grid-gap-static-md)
}

.d44e1aa953059f5cf739[data-type=gallery] {
  --gallery-aspect-ratio: var(--aspect-ratio-dynamic);
  --thumb-aspect-ratio: 1/0;
  --gallery-template-rows: auto 1fr
}

@media (max-width:1023px) {
  .d44e1aa953059f5cf739[data-type=gallery] {
    --gallery-template-rows: auto
  }
}

[data-size=md],
[data-size=xs] {
  --card-image-aspect-ratio-initial: 56.25%
}

[data-size=md] .d44e1aa953059f5cf739,
[data-size=xs] .d44e1aa953059f5cf739 {
  --aspect-ratio: var(--card-aspect-ratio-SM);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-SM);
  position: relative
}

[data-size=md] .d44e1aa953059f5cf739:before,
[data-size=xs] .d44e1aa953059f5cf739:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

[data-size=md] .d44e1aa953059f5cf739>*,
[data-size=xs] .d44e1aa953059f5cf739>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

[data-size=lg],
[data-size=sm] {
  --card-image-aspect-ratio-initial: 100%
}

[data-size=lg] .d44e1aa953059f5cf739,
[data-size=sm] .d44e1aa953059f5cf739 {
  --aspect-ratio: var(--card-aspect-ratio-MD);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-MD);
  position: relative
}

[data-size=lg] .d44e1aa953059f5cf739:before,
[data-size=sm] .d44e1aa953059f5cf739:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

[data-size=lg] .d44e1aa953059f5cf739>*,
[data-size=sm] .d44e1aa953059f5cf739>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

[data-size=xl] {
  --card-image-aspect-ratio-initial: 56.25%
}

@media (max-width:1023px) {
  [data-size=xl] {
    --card-image-aspect-ratio-initial: 133.33%
  }
}

[data-size=xl] .d44e1aa953059f5cf739 {
  --aspect-ratio: var(--card-aspect-ratio-LG);
  --aspect-ratio-dynamic: var(--card-aspect-ratio-LG);
  position: relative
}

[data-size=xl] .d44e1aa953059f5cf739:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

[data-size=xl] .d44e1aa953059f5cf739>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.b14d98c26bd35d8ed13b {
  height: 100%
}

.be654799b10be1d2683c {
  --animation-distance: var(--spacing-xs);
  height: 100%;
  position: relative;
  width: 100%
}

.be654799b10be1d2683c img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%
}

.be654799b10be1d2683c.ddb6c868927fc40f5dec .d7e710282847fb9224de {
  height: calc(100% + var(--padding-sm))
}

.be654799b10be1d2683c.ddb6c868927fc40f5dec .d7e710282847fb9224de .ffc0a2a4179a84c1734b {
  border-color: var(--border-color)
}

@media not all and (hover:none) {

  .be654799b10be1d2683c:hover .d7e710282847fb9224de:first-of-type,
  .be654799b10be1d2683c:hover .ffc0a2a4179a84c1734b:first-of-type {
    border-color: var(--white-100)
  }

  .be654799b10be1d2683c:hover .d7e710282847fb9224de:first-of-type img,
  .be654799b10be1d2683c:hover .ffc0a2a4179a84c1734b:first-of-type img {
    transform: translateX(-50%) scale(1.02)
  }

  .be654799b10be1d2683c:hover.ddb6c868927fc40f5dec .d7e710282847fb9224de img {
    left: calc(50% - var(--animation-distance))
  }
}

.d7e710282847fb9224de,
.ffc0a2a4179a84c1734b {
  --card-foreground-layer-width-animate: 100%;
  --card-expanded-border-radius: var(--card-expanded-border-radius-top-left, var(--border-radius-lg)) var(--card-expanded-border-radius-top-right, 0) var(--card-expanded-border-radius-bottom-right, 0) var(--card-expanded-border-radius-bottom-left, var(--border-radius-lg));
  border: 1px solid transparent;
  border-radius: var(--border-radius-md);
  bottom: 0;
  height: 100%;
  left: 0;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  overflow: hidden;
  position: absolute;
  top: unset;
  transition: border .3s ease-in-out;
  width: 100%
}

@media (orientation:portrait) {

  .d7e710282847fb9224de,
  .ffc0a2a4179a84c1734b {
    --card-expanded-border-radius: var(--card-expanded-border-radius-top-left, var(--border-radius-lg)) var(--card-expanded-border-radius-top-right, var(--border-radius-lg)) var(--card-expanded-border-radius-bottom-right, 0) var(--card-expanded-border-radius-bottom-left, 0)
  }
}

.d7e710282847fb9224de img,
.ffc0a2a4179a84c1734b img {
  --aspect-ratio: "16/9";
  bottom: 0;
  left: 50%;
  min-width: 100%;
  position: relative;
  position: absolute;
  transform: translateX(-50%);
  transition: transform .3s ease-in-out, left .3s ease-in-out;
  width: auto;
  z-index: var(--z-index)
}

.d7e710282847fb9224de img:before,
.ffc0a2a4179a84c1734b img:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.d7e710282847fb9224de img>*,
.ffc0a2a4179a84c1734b img>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.d7e710282847fb9224de.desktop,
.ffc0a2a4179a84c1734b.desktop {
  display: none
}

@media (min-width:1024px) {

  .d7e710282847fb9224de.desktop,
  .ffc0a2a4179a84c1734b.desktop {
    display: block
  }
}

.d7e710282847fb9224de.mobile,
.ffc0a2a4179a84c1734b.mobile {
  display: none
}

@media (max-width:1023px) {

  .d7e710282847fb9224de.mobile,
  .ffc0a2a4179a84c1734b.mobile {
    display: block
  }
}

[data-type=long] .d7e710282847fb9224de {
  --card-foreground-layer-width-animate: 100%;
  left: unset;
  right: 0
}

@media (min-width:1024px) {
  [data-type=long] .d7e710282847fb9224de {
    --card-foreground-layer-width-animate: 91.5%
  }
}

[data-type=long] .d7e710282847fb9224de,
[data-type=long] .ffc0a2a4179a84c1734b {
  --card-expanded-border-radius: var(--card-expanded-border-radius-top-left, var(--border-radius-lg)) var(--card-expanded-border-radius-top-right, var(--border-radius-lg)) var(--card-expanded-border-radius-bottom-right, 0) var(--card-expanded-border-radius-bottom-left, 0)
}

[data-type=long] .d7e710282847fb9224de img,
[data-type=long] .ffc0a2a4179a84c1734b img {
  object-position: top center
}

.fa4275085d6c272146c2 {
  --card-logo-height: 20vw;
  height: calc(var(--card-logo-height) * 1.7);
  left: 2rem;
  position: absolute;
  top: 2rem;
  width: auto
}

@media (min-width:768px) {
  .fa4275085d6c272146c2 {
    height: calc(var(--card-logo-height) * 1.25)
  }
}

@media (min-width:1024px) {
  .fa4275085d6c272146c2 {
    height: calc(var(--card-logo-height) * 1)
  }
}

@media (max-width:1023px) {
  .fa4275085d6c272146c2 {
    --card-logo-y-animate-mobile: -50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, var(--card-logo-y-animate-mobile)) !important;
    z-index: 101
  }
}

.fa4275085d6c272146c2 img {
  object-fit: contain;
  object-position: center;
  width: auto
}

[data-type=long] .fa4275085d6c272146c2 {
  --card-logo-animate-x: 0
}

@media (min-width:1024px) {
  [data-type=long] .fa4275085d6c272146c2 {
    --card-logo-animate-x: 25%;
    --card-logo-top-initial: 2rem;
    --card-logo-top-animate: 0%;
    margin-top: var(--card-logo-marginTop-animate);
    top: calc(var(--card-logo-top-initial) + var(--card-logo-top-animate))
  }

  .fa4275085d6c272146c2 {
    --card-logo-height: 10vw
  }
}

@media (min-width:1920px) {
  .fa4275085d6c272146c2 {
    --card-logo-height: 9vw
  }
}

@media (min-width:2560px) {
  .fa4275085d6c272146c2 {
    --card-logo-height: 8vw
  }
}

.fa4275085d6c272146c2.c7c57379e39dc9e34690 {
  --card-logo-height: 7vw;
  left: 0;
  top: 2rem;
  transform: unset !important;
  width: 100%
}

@media (min-width:1024px) {
  .fa4275085d6c272146c2.c7c57379e39dc9e34690 {
    --card-logo-height: 4vw
  }
}

@media (min-width:1920px) {
  .fa4275085d6c272146c2.c7c57379e39dc9e34690 {
    --card-logo-height: 3rem
  }
}

.fa4275085d6c272146c2.c7c57379e39dc9e34690 img {
  width: 100%
}

.eaaa89d602e502f9ab5a {
  --modal-content-padding: 0 !important;
  max-width: 100%;
  opacity: 1 !important;
  overflow: unset !important;
  width: 100%
}

.e9e7ee7cbb3a089710cc {
  --modal-content-padding: 0 !important;
  --gallery-grid-gap: var(--grid-gap-sm);
  max-width: 100%;
  opacity: 1 !important;
  overflow: unset !important;
  width: 100%
}

@media (max-width:1023px) {
  .e9e7ee7cbb3a089710cc {
    --card-aspect-ratio-LG: 3/4;
    --gallery-grid-gap: var(--grid-gap-xs)
  }
}

.e881a80105cd524eb2bf {
  --font-size-1: 0.5rem;
  --font-size-2: 0.75rem;
  --font-size-3: 1rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1.5rem;
  --font-size-6: 2rem;
  --font-size-7: 2.5rem;
  --font-size-8: 3rem;
  --font-size-9: 4rem;
  --font-size-10: 5rem;
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  background: var(--black-200);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  height: 100%
}

@media (min-width:0px) {
  .e881a80105cd524eb2bf {
    --root-font-size: 16
  }
}

@media (min-width:1024px) {
  .e881a80105cd524eb2bf {
    --root-font-size: 18
  }
}

@media (min-width:1920px) {
  .e881a80105cd524eb2bf {
    --root-font-size: 20
  }
}

@media (min-width:2560px) {
  .e881a80105cd524eb2bf {
    --root-font-size: 22;
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .e881a80105cd524eb2bf {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.e881a80105cd524eb2bf .b950e84d17e2720a8c4a {
  grid-gap: var(--grid-gap-md);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: var(--padding-md);
  width: 100%
}

.e881a80105cd524eb2bf .d4d1e516f8a980e2ce3a {
  background: var(--white-100);
  border-radius: var(--border-radius-sm);
  color: var(--color-h);
  color: var(--black-200);
  font-family: var(--font-family-h);
  font-family: Pricedown;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  padding: var(--padding-xxs) var(--padding-xs);
  place-self: flex-start;
  text-transform: uppercase;
  width: auto
}

.e881a80105cd524eb2bf .afc8dfd2b7b7731fdc0d {
  grid-gap: var(--grid-gap-xs);
  --li-margin-tb: 0;
  --linkout-section-background: transparent;
  --linkout-section-border-color: transparent;
  --linkout-section-padding-sides: 0;
  --linkout-section-padding-tb: 0;
  display: grid;
  height: auto
}

.e881a80105cd524eb2bf .afc8dfd2b7b7731fdc0d h3 {
  font-weight: var(--font-weight-bold);
  padding: 0
}

.e881a80105cd524eb2bf .afc8dfd2b7b7731fdc0d span {
  --padding-dynamic: 0;
  color: var(--color-body, var(--white-100))
}

.e881a80105cd524eb2bf .afc8dfd2b7b7731fdc0d ul {
  grid-gap: var(--grid-gap-xs);
  color: var(--color-body);
  display: grid;
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  padding-left: 0 !important
}