._2b820ae1fad6c6eff6b60ed0528262116599 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --font-family-h: Raleway;
  --font-family-body: Rubik;
  --font-weight-black: 700;
  --font-weight-semibold: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

@media (min-width:2560px) {
  ._2b820ae1fad6c6eff6b60ed0528262116599 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  ._2b820ae1fad6c6eff6b60ed0528262116599 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

._2b820ae1fad6c6eff6b60ed0528262116599 h5 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-3) !important;
  font-weight: var(--font-weight-black);
  text-transform: uppercase
}

@media (max-width:767px) {
  ._2b820ae1fad6c6eff6b60ed0528262116599 h5 {
    font-size: var(--font-size-2) !important
  }
}

._2b820ae1fad6c6eff6b60ed0528262116599 h6 {
  font-family: var(--font-family-body);
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efeb92e279865c9000b72a {
  background-color: #050505 !important;
  border: 1px solid #2d2d2d;
  border-radius: .625rem;
  contain: content;
  transition: transform .2s ease-in-out
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efeb92e279865c9000b72a:hover {
  transform: translateY(-8px)
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efeb92e279865c9000b72a img {
  border-radius: 0
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 {
  grid-gap: var(--spacing-xs);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  text-align: left
}

@media (max-width:767px) {
  ._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 {
    padding: var(--spacing-sm)
  }
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efa95eca18e1ad770ea596 {
  color: var(--white-65)
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efe48b1713bf2de6b8abc0 {
  color: var(--text-light);
  font-size: var(--font-size-3)
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb0aca41f30620c3d2493,
._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efc1e731016dcfde4718af,
._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efe48b1713bf2de6b8abc0,
._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb7acd2f4b0a9d92d8d5d {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold)
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb0aca41f30620c3d2493,
._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efc1e731016dcfde4718af,
._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb7acd2f4b0a9d92d8d5d {
  border-radius: 1px;
  color: var(--white-100);
  font-size: var(--font-size-2);
  padding: 0 4px;
  text-transform: uppercase;
  width: -moz-max-content;
  width: max-content
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb0aca41f30620c3d2493 {
  background-color: green !important
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efb7acd2f4b0a9d92d8d5d {
  background-color: var(--circoloco-red) !important
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efc1e731016dcfde4718af {
  background: hsla(0, 0%, 100%, .4) !important
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efa6c6824725dc7d6616e6 {
  color: var(--white-65);
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-semibold);
  text-decoration: line-through
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efeee54d2e0d1b2ce5b7e3 {
  grid-gap: var(--spacing-xxs);
  display: flex;
  flex-direction: column
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6efeee54d2e0d1b2ce5b7e3 ._2b820ae1fad6c6efda4f70065c6b04b9392e {
  grid-gap: var(--spacing-xxs);
  align-items: center;
  display: flex;
  flex-direction: row
}

._2b820ae1fad6c6eff6b60ed0528262116599 ._2b820ae1fad6c6efe58bfe52c22f632dc039 ._2b820ae1fad6c6eff45af61905d26c0592eb {
  font-size: 20px;
  font-weight: 400;
  text-transform: none
}

@media (max-width:767px) {
  [data-type=news] h5 {
    font-size: var(--font-size-3) !important
  }
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80 {
  --modal-content-padding: 0 !important
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80._2b820ae1fad6c6efe1a0223a78c9aa470ef6 ._2b820ae1fad6c6efd104d01f2048b62b51d8 ._2b820ae1fad6c6efcc5da9e77f92def47e14 {
  --font-family-h: Raleway
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80._2b820ae1fad6c6efe1a0223a78c9aa470ef6 ._2b820ae1fad6c6efd104d01f2048b62b51d8 ._2b820ae1fad6c6efcc5da9e77f92def47e14 h1 {
  font-size: var(--font-size-6) !important
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80._2b820ae1fad6c6efe1a0223a78c9aa470ef6 ._2b820ae1fad6c6efd104d01f2048b62b51d8 span {
  --font-family-body: Rubik
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80._2b820ae1fad6c6efe1a0223a78c9aa470ef6 ._2b820ae1fad6c6efd104d01f2048b62b51d8 ._2b820ae1fad6c6efac6438a76bed0e28cf70 {
  --font-family-h: Raleway
}

._2b820ae1fad6c6efde3a11886ff7c7c01a80._2b820ae1fad6c6efe1a0223a78c9aa470ef6 ._2b820ae1fad6c6efd104d01f2048b62b51d8 ._2b820ae1fad6c6efac6438a76bed0e28cf70 h2 {
  font-size: var(--font-size-5) !important
}

._2b820ae1fad6c6eff348dacb636353b11c51 {
  --modal-content-padding: 0 !important;
  max-width: 100%;
  opacity: 1 !important;
  overflow: unset !important;
  width: 100%
}

._2b820ae1fad6c6efdf95f12ea94658664861 {
  grid-gap: var(--spacing-md);
  display: flex;
  flex-direction: column
}

._2b820ae1fad6c6efdf95f12ea94658664861 h2 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-6);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

._2b820ae1fad6c6efdf95f12ea94658664861 h2,
._2b820ae1fad6c6efdf95f12ea94658664861 p {
  font-weight: var(--font-weight-regular)
}

._2b820ae1fad6c6efdf95f12ea94658664861 p {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

._2b820ae1fad6c6efdf95f12ea94658664861 a {
  align-self: center;
  align-self: flex-start;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: 700;
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: 100%;
  line-height: var(--line-height-sm);
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all .2s ease
}

._2b820ae1fad6c6efdf95f12ea94658664861 a:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb {
    transition: all .2s ease
  }

  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb:hover {
    color: #161616
  }

  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb img {
  display: block
}

@media (min-width:0px) {
  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb:before {
    background: var(--standard-color);
    height: 4px
  }

  ._2b820ae1fad6c6efdf95f12ea94658664861 a._2b820ae1fad6c6efac4425db45829109b6bb:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

._2b820ae1fad6c6efdf95f12ea94658664861 a[disabled] {
  opacity: .5
}

._2b820ae1fad6c6efe0170396b8c6129f37ee {
  width: 10rem
}