.d93abf8c854bf70e6ae4 {
  background-color: #ace;
  color: #000;
  display: block;
  height: 200px;
  line-height: 200px;
  margin: var(--margin-sm) auto;
  max-width: var(--content-max-width);
  padding: var(--content-padding);
  text-align: center;
  width: 84vw
}

.cea2cd0b7399fcd5a0ce {
  display: block;
  height: 0;
  margin: auto;
  width: 86vw
}

.cea2cd0b7399fcd5a0ce[data-modal-mode=true] {
  height: 48.76rem;
  padding: var(--content-padding)
}

.dd9c11d21c9d76e0f525 {
  --eventDeck-itemSize: 22.44rem;
  --eventDeck-itemScaleUpAmount: 1.2;
  --eventDeck-insideMargin: 0.88rem;
  --eventDeck-mobileBreakpoint: 768px;
  --eventDeck-modalGutters: var(--padding-sides);
  --eventDeck-modalBottomGutter: var(--margin-md);
  --eventDeck-modalViewportWidth: calc(100vw - (var(--padding-sides) * 2));
  --eventDeck-modalGuttersMobile: 4rem;
  --eventDeck-modalViewportWidthMobile: calc(100vw - (var(--eventDeck-modalGuttersMobile) * 2));
  --eventDeck-gutterSize: 2.7rem;
  grid-gap: 1rem;
  display: flex;
  flex-direction: column;
  height: calc(48.76rem + var(--margin-sm));
  max-width: var(--content-max-width);
  padding: var(--content-padding);
  z-index: 90
}

.dd9c11d21c9d76e0f525:before {
  background-color: var(--black-200);
  content: "";
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-in-out
}

.dd9c11d21c9d76e0f525:before,
.dd9c11d21c9d76e0f525[data-modal-mode=true] {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100
}

.dd9c11d21c9d76e0f525[data-modal-mode=true] {
  display: block;
  margin: 0
}

.dd9c11d21c9d76e0f525[data-modal-mode=true]:before {
  opacity: .8;
  pointer-events: auto
}

@media (max-width:767px) {
  .dd9c11d21c9d76e0f525 {
    --eventDeck-itemSize: 14.38rem;
    --eventDeck-gutterSize: var(--margin-sm);
    --eventDeck-modalGutters: 4rem;
    height: auto;
    overflow-x: hidden
  }
}

.fe13159c37ea559619ab {
  display: block;
  height: 45.76rem;
  position: relative;
  transition: transform .5s ease-in-out;
  z-index: 101
}

[data-modal-mode=true] .fe13159c37ea559619ab {
  height: calc(var(--eventDeck-modalViewportWidth) * .5);
  max-height: calc(100vh - 3rem - (var(--margin-md) * 3))
}

@media (max-width:767px) {
  .fe13159c37ea559619ab {
    display: block;
    height: 14.38rem;
    transition: transform .5s ease-in-out, height .5s cubic-bezier(.5, -.15, .3, 1)
  }

  [data-modal-mode=true] .fe13159c37ea559619ab {
    height: calc(100vh - 3rem - (var(--margin-sm) * 3));
    margin-left: calc(var(--eventDeck-modalGuttersMobile) - var(--padding-sides));
    max-height: none
  }
}

.fe4a9770ab07662ba456 {
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  position: relative;
  transition: all .6s cubic-bezier(.5, -.15, .3, 1);
  width: 100%;
  z-index: 101
}

[data-modal-mode=true] .fe4a9770ab07662ba456 {
  height: 3rem;
  margin-bottom: var(--margin-md);
  margin-top: var(--margin-md);
  width: var(--eventDeck-modalViewportWidth)
}

@media (max-width:767px) {
  [data-modal-mode=true] .fe4a9770ab07662ba456 {
    margin: var(--margin-sm) 0
  }
}

.bdad5a5a38f931159788 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  transition: all .6s cubic-bezier(.5, -.15, .3, 1);
  transition-delay: .6s
}

[data-modal-mode=true] .bdad5a5a38f931159788 {
  opacity: 0;
  transition-delay: 0s;
  transition-duration: 0s
}

.ed17b4a4a4d4870ae56d {
  border: 1px solid transparent;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .6s cubic-bezier(.5, -.15, .3, 1)
}

[data-modal-mode=true] .ed17b4a4a4d4870ae56d {
  border-color: var(--border-color);
  border-radius: var(--border-radius-sm);
  right: 50%;
  transform: translateX(50%)
}

@media (max-width:767px) {
  .ed17b4a4a4d4870ae56d {
    top: 50%;
    transform: translateY(-50%)
  }

  [data-modal-mode=true] .ed17b4a4a4d4870ae56d {
    transform: translate(50%, -50%)
  }
}

.ab39eebc03685c4f986a {
  background-color: var(--black-200);
  border: none;
  cursor: pointer
}

.ab39eebc03685c4f986a:first-child {
  background: var(--black-65, rgba(0, 0, 0, .65));
  background: var(--black-200);
  border: none;
  border-radius: 50%;
  border-radius: 0;
  border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);
  cursor: pointer;
  height: 3rem;
  position: relative;
  transition: background .3s ease-in-out;
  width: 3rem
}

.ab39eebc03685c4f986a:first-child:after {
  background: url(../img/d5bb5aa47dcc9670eb93.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media not all and (hover:none) {
  .ab39eebc03685c4f986a:first-child:hover {
    background: var(--white-100, #fff)
  }

  .ab39eebc03685c4f986a:first-child:hover:after {
    filter: invert(1)
  }
}

.ab39eebc03685c4f986a:first-child:after {
  background-size: 1.5rem
}

.ab39eebc03685c4f986a:last-child {
  background: var(--black-65, rgba(0, 0, 0, .65));
  background: var(--black-200);
  border: none;
  border-radius: 50%;
  border-radius: 0;
  border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;
  cursor: pointer;
  height: 3rem;
  position: relative;
  transition: background .3s ease-in-out;
  width: 3rem
}

.ab39eebc03685c4f986a:last-child:after {
  background: url(../img/e684cb98f4103b0520a1.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media not all and (hover:none) {
  .ab39eebc03685c4f986a:last-child:hover {
    background: var(--white-100, #fff)
  }

  .ab39eebc03685c4f986a:last-child:hover:after {
    filter: invert(1)
  }
}

.ab39eebc03685c4f986a:last-child:after {
  background-size: 1.5rem
}

.ab39eebc03685c4f986a[disabled] {
  pointer-events: none
}

.ab39eebc03685c4f986a[disabled]:after {
  opacity: .15
}

@media (max-width:767px) {

  .ab39eebc03685c4f986a:first-child,
  .ab39eebc03685c4f986a:last-child {
    height: 32px;
    width: 32px
  }
}

.f213084594141dceb0c4 {
  align-items: center;
  background-color: var(--black-200);
  color: var(--color-h);
  display: flex;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  justify-content: center;
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  overflow: hidden;
  transition: width .5s ease-in-out;
  width: 0
}

[data-modal-mode=true] .f213084594141dceb0c4 {
  width: 60px
}

.d3e4d3e5ce9f0f2ef473 {
  background-color: var(--white-100);
  border-radius: 1px;
  height: .88rem;
  margin: 0 .225rem;
  transform: rotate(15deg) translateY(-.08rem);
  width: .07rem
}

.a940c0c9ba98d3a88a19 {
  background: var(--black-65, rgba(0, 0, 0, .65));
  border: 1px solid var(--white-100, #fff);
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  opacity: 0;
  pointer-events: none;
  position: relative;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background .3s ease-in-out;
  transition: none;
  width: 2rem
}

.a940c0c9ba98d3a88a19:after {
  background: url(../img/e20279ac4433a2ac0422.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media not all and (hover:none) {
  .a940c0c9ba98d3a88a19:hover {
    background: var(--white-100, #fff)
  }

  .a940c0c9ba98d3a88a19:hover:after {
    filter: invert(1)
  }
}

[data-modal-mode=true] .a940c0c9ba98d3a88a19 {
  opacity: 1;
  pointer-events: auto;
  transition: all .5s ease-in-out
}

@media (max-width:767px) {
  [data-modal-mode=true] .a940c0c9ba98d3a88a19 {
    right: 7vw
  }
}

.fde59cc0b211a74fd79f {
  background-color: var(--black-100);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  color: var(--black-100);
  cursor: pointer;
  display: block;
  height: 22.44rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: all .5s ease-in-out;
  width: 22.44rem
}

.fde59cc0b211a74fd79f:active,
.fde59cc0b211a74fd79f:focus {
  transform: scale(.97)
}

.fde59cc0b211a74fd79f:first-child {
  height: 45.76rem;
  left: 0;
  top: 0;
  width: 45.76rem
}

.fde59cc0b211a74fd79f:nth-child(odd):not(:first-child) {
  top: 23.32rem
}

.fde59cc0b211a74fd79f:hover .fa238bf7612b7724abaa:before {
  opacity: 1
}

.fde59cc0b211a74fd79f:hover .d21f276146dec1dcf842 {
  transform: translateY(0)
}

.fde59cc0b211a74fd79f[data-modal-mode=true] {
  border-radius: var(--border-radius-lg);
  margin: 0;
  max-height: 100%;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transition: all .5s ease-in-out;
  z-index: 1
}

.fde59cc0b211a74fd79f[data-modal-mode=true]:first-child {
  height: 22.44rem;
  width: 22.44rem
}

.fde59cc0b211a74fd79f[data-modal-mode=true][data-up-next=true] {
  opacity: .6;
  pointer-events: auto;
  z-index: 2
}

.fde59cc0b211a74fd79f[data-modal-mode=true][data-active-item=true] {
  height: calc(var(--eventDeck-modalViewportWidth) * .5);
  opacity: 1;
  pointer-events: auto;
  width: var(--eventDeck-modalViewportWidth);
  z-index: 3
}

@media (max-width:767px) {
  .fde59cc0b211a74fd79f {
    margin-right: var(--margin-sm);
    transition: all .5s ease-in-out
  }

  .fde59cc0b211a74fd79f,
  .fde59cc0b211a74fd79f:first-child {
    height: 14.38rem;
    top: auto;
    width: 14.38rem
  }

  .fde59cc0b211a74fd79f:first-child {
    display: block;
    min-width: 14.38rem
  }

  .fde59cc0b211a74fd79f:nth-child(odd):not(:first-child) {
    left: auto;
    top: auto
  }

  .fde59cc0b211a74fd79f[data-modal-mode=true] {
    display: flex;
    flex-direction: column;
    height: 100% !important
  }

  .fde59cc0b211a74fd79f[data-modal-mode=true],
  .fde59cc0b211a74fd79f[data-modal-mode=true][data-active-item=true] {
    transition: all .5s ease-in-out;
    width: var(--eventDeck-modalViewportWidthMobile)
  }
}

.fa238bf7612b7724abaa {
  display: flex;
  margin: 0;
  transition: all .5s ease-in-out;
  z-index: 1
}

.fa238bf7612b7724abaa,
.fa238bf7612b7724abaa:before {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%
}

.fa238bf7612b7724abaa:before {
  background: linear-gradient(180.08deg, transparent 26.62%, rgba(0, 0, 0, .5) 65.69%, rgba(0, 0, 0, .6) 99.94%);
  content: "";
  opacity: 0;
  transition: opacity .3s ease-out
}

.fde59cc0b211a74fd79f:hover .fa238bf7612b7724abaa {
  opacity: 1
}

.fde59cc0b211a74fd79f[data-modal-mode=true]:hover .fa238bf7612b7724abaa:before {
  opacity: 0
}

[data-modal-mode=true] .fa238bf7612b7724abaa {
  max-height: calc(var(--eventDeck-modalViewportWidth) * .5);
  max-width: calc(var(--eventDeck-modalViewportWidth) * .5)
}

[data-modal-mode=true][data-active-item=true] .fa238bf7612b7724abaa {
  width: auto
}

@media (max-width:767px) {
  .fa238bf7612b7724abaa {
    position: relative;
    transition: all .5s ease-in-out
  }

  .fa238bf7612b7724abaa:before {
    display: none
  }

  [data-modal-mode=true][data-active-item=false] .fa238bf7612b7724abaa,
  [data-modal-mode=true][data-active-item=true] .fa238bf7612b7724abaa {
    height: auto;
    max-height: none;
    max-width: 100%;
    transition: all .5s ease-in-out;
    width: 100%
  }
}

.f4e66768fabf9ba7abd5 {
  max-height: 100%;
  max-width: 100%;
  pointer-events: none
}

.d21f276146dec1dcf842 {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 32px;
  position: absolute;
  transform: translateY(0);
  transition: all .3s ease-out
}

[data-modal-mode=true] .d21f276146dec1dcf842 {
  opacity: 0;
  pointer-events: none
}

@media (max-width:767px) {
  .d21f276146dec1dcf842 {
    left: var(--padding-sm)
  }

  [data-modal-mode=true] .d21f276146dec1dcf842 {
    opacity: 1
  }
}

.f4efaa263cba6ec12f58 {
  background-color: var(--black-100);
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 0
}

[data-modal-mode=true][data-active-item=true] .f4efaa263cba6ec12f58 {
  padding: var(--padding-lg);
  pointer-events: auto;
  width: 50%
}

@media (max-width:1280px) {
  [data-modal-mode=true][data-active-item=true] .f4efaa263cba6ec12f58 {
    padding: var(--padding-md)
  }
}

@media (max-width:767px) {
  .f4efaa263cba6ec12f58 {
    height: auto;
    transition: all .6s ease
  }

  .f4efaa263cba6ec12f58,
  [data-modal-mode=true][data-active-item=true] .f4efaa263cba6ec12f58 {
    padding: var(--padding-sm);
    width: var(--eventDeck-modalViewportWidthMobile)
  }

  [data-modal-mode=true][data-active-item=true] .f4efaa263cba6ec12f58 {
    max-height: 100%
  }
}

.b98f5b22300490f3feb8,
.d4743b00b93d13770f9b,
.a6f9930ef712a6ae669b,
.d784a6def5f96306e977 {
  opacity: 0;
  transition: opacity .5s ease-in-out .1s;
  transition-delay: 0s;
  transition-duration: 0s
}

[data-modal-mode=true][data-active-item=true] .b98f5b22300490f3feb8,
[data-modal-mode=true][data-active-item=true] .d4743b00b93d13770f9b,
[data-modal-mode=true][data-active-item=true] .a6f9930ef712a6ae669b,
[data-modal-mode=true][data-active-item=true] .d784a6def5f96306e977 {
  opacity: 1;
  transition: opacity .5s ease-in-out .1s;
  transition-delay: .6s
}

@media (max-width:767px) {

  [data-modal-mode=true][data-active-item=false] .b98f5b22300490f3feb8,
  [data-modal-mode=true][data-active-item=false] .d4743b00b93d13770f9b,
  [data-modal-mode=true][data-active-item=false] .a6f9930ef712a6ae669b,
  [data-modal-mode=true][data-active-item=false] .d784a6def5f96306e977,
  [data-modal-mode=true][data-active-item=true] .b98f5b22300490f3feb8,
  [data-modal-mode=true][data-active-item=true] .d4743b00b93d13770f9b,
  [data-modal-mode=true][data-active-item=true] .a6f9930ef712a6ae669b,
  [data-modal-mode=true][data-active-item=true] .d784a6def5f96306e977 {
    opacity: 1;
    transition: opacity .5s ease-in-out .1s;
    transition-delay: .6s
  }
}

.d4743b00b93d13770f9b {
  align-self: flex-start;
  background-color: var(--white-100);
  border-radius: var(--border-radius-sm);
  color: var(--black-200);
  font-family: var(--font-family-h);
  font-family: var(--gta-font-family-badge);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  margin-bottom: var(--margin-sm);
  padding: var(--padding-xs);
  text-transform: uppercase
}

@media (max-width:767px) {

  .d4743b00b93d13770f9b,
  [data-modal-mode=true][data-active-item=false] .d4743b00b93d13770f9b,
  [data-modal-mode=true][data-active-item=true] .d4743b00b93d13770f9b {
    opacity: 0
  }
}

.d9c130714618614ef63c {
  align-self: flex-start;
  background-color: var(--white-100);
  border-radius: var(--border-radius-sm);
  color: var(--black-200);
  font-family: var(--font-family-h);
  font-family: var(--gta-font-family-badge);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  margin-bottom: var(--margin-sm);
  padding: var(--padding-xs);
  text-transform: uppercase
}

@media (max-width:767px) {
  .d9c130714618614ef63c {
    transition: transform .6s ease
  }

  [data-modal-mode=true] .d9c130714618614ef63c {
    margin: 0;
    transform: translateY(3.3rem)
  }
}

.d784a6def5f96306e977 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-bold)
}

.e056f0aa82c811cbadda,
.d784a6def5f96306e977 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.e056f0aa82c811cbadda {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-regular);
  margin-bottom: var(--margin-sm);
  opacity: 0;
  transition: all .3s ease-out
}

[data-full-header=true] .e056f0aa82c811cbadda {
  opacity: 1
}

@media (max-width:767px) {
  .e056f0aa82c811cbadda {
    display: none
  }
}

.b98f5b22300490f3feb8 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.e91e50dd7d33343905a6 {
  --padding-dynamic-tb: initial
}

.e91e50dd7d33343905a6,
.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 {
  --padding-dynamic: var(--padding-static);
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 {
  --background-color: var(--image-title-text-background, transparent);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  --description-area-margin-top: 0px;
  background-color: var(--background-color, transparent)
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h1,
.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h1.ad81ecacb956b13b9d80 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h4,
.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h5,
.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 [template=community] main {
  color: var(--color-h, #161616)
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.e91e50dd7d33343905a6 .c7a8d988e09ad045d3d0 figure>div {
  --padding-sides: 0px
}