.rockstargames-sites-red-dead-onlinec0b299658372e7cfff111eb908a513f5 {
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: 860px;
  padding: var(--padding-top-bottom) var(--padding-sides);
  text-align: center;
  width: 100%
}

.rockstargames-sites-red-dead-onlinec0b299658372e7cfff111eb908a513f5 h1 {
  margin-bottom: 1rem
}

.rockstargames-sites-red-dead-onlinec0b299658372e7cfff111eb908a513f5 form textarea {
  background: #191919;
  border: none;
  color: #fff;
  display: block;
  font-family: inherit;
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
  resize: none;
  text-align: left;
  width: 100%
}

.rockstargames-sites-red-dead-onlinec0b299658372e7cfff111eb908a513f5 form button {
  background: #c00;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 1rem
}

.rockstargames-sites-red-dead-onlinec0b299658372e7cfff111eb908a513f5 form button:hover {
  color: #fff
}

.rockstargames-sites-red-dead-onlineda97feb00e247cefda4f8648ed9601d2 {
  font-size: .825em;
  line-height: 1.3;
  margin-top: .5rem
}

.rockstargames-sites-red-dead-onlineb956fa10b9dd1e3141282729ca66b8ab {
  margin-bottom: var(--section-margin-bottom)
}

.rockstargames-sites-red-dead-onlinec0cd90cf9226c370d9437f6a6923563a {
  padding: 12px
}

.rockstargames-sites-red-dead-onlinec0cd90cf9226c370d9437f6a6923563a:empty {
  display: none
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e {
  font-family: var(--game-header-family)
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e a {
  display: block
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlineebe7435bf42b20b8fd46c465015e296a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/baa032870d03761636b17aac2c11a5fb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinecddea56d770073edb27000b84f5759c7:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2fc6dc87873f88e7bb39f52783630fb7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinea03def07f9babec4718547f312fd1fad:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4e58f8c3b6d8808a9aa17c735978f03e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinef7ed38a0c23b3f3ff8a11c664e5a187c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/296b528dd0f3d88686021eb63b56776d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinec518c6421c7bc2a60164827ca2b7c5c1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/badb4d05a59955b4b58bffa4d7f7ef90.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinecaff8925b6c42730a8eff95b2f4b3662:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebc40b6e6d4a162948865af934ce55cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinea1be63b4a1aaf7747ac2bc693577fe28:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/def0e58e0879b7d1c9a5bdf555e838e5.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinee068839f3dc490d08ff5d2735073ad03:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dd680de47a094378fa317457f99f1b59.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinea6ff4a0372c7eeebc3ec599c3e179a87:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8823ba294e06184db09624bc8146de66.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinec664dbcd5d16b18da454f35d3d10204f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/be42539a97ae0fbb187272a613903928.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinec3f0788cd690e7eff7ab110848f9e1fe:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8dac20aeec043a8c6dab5702d322a28e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinec06b81a0ec32b2a046fcbfb1b565fdb1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/19b94865eef6caef6c0d32810c2bcd48.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinefba3a23ce6633a515bcb2c272b9ce202:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0c35269d4001f4ad49ffa0cd176890f6.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinea676c460ed19d0f2c7f3d50e44a0c779:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/05aa1ea95d3c9b4ce972796ba782de70.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-red-dead-onlinec2c55860b00e0cde31b89e2dfdfa12c1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fe5047d4494cc7f2b917ea03f00500de.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 a {
  border: 1px solid #cfcfd1;
  border-radius: 6px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a {
  border-bottom: 1px solid #cfcfd1
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinea84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  display: none
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineebe7435bf42b20b8fd46c465015e296a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d9dd1f6e7267e80b91394362213baa9.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinebf4ea94fdf1b54048332990ea1a770e1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/54260d9e704246890fdee61a9ee573cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinefa3b86d76a957b590b4af7b378a063ee:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4ec3379fea78b0719b2f8885d75dfefb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinec9c48f11d35be00cacb50d4ca5ad8816:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d2b7bdc21f70d49802f34bfdc36101cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinec9dc9903a673a8944c29c923103c4775:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinea24bc02ca1eaec3706e04d6b40076530:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinea5292a9328677ab05cfae18ec5d7f763:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a7511e9a7a4386d83038af497acc8c0.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineb202ec09f80cc0a590ce74d87ac373a0:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/14725123b261e940fa47593d5f5bd26a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinea09406aba22d0295bb6b2129bc25ee9f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c4d26921f28919b8be95a38836b46bd.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineb646edd702c8c0d7ff6b9db031b3991f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/248ba2222c6510a84a28a16d9d31eac8.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlined7cc35b0aca38b339fa9fab192b6ce6c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineff7ff17d2625fac2a1b3a1bb95ceb04a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4c21f7fffe733af8e4c33202d03a38df.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlined002d2aaeec2d87008b7cb632a66f7b6:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinee80f0f690e22316eb86dac223399ee16:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/af2ba0eb7feee09f172363e5377abe3d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinef94831238186c0f7e6613fcef260d99c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c84d7054b0c9da9cbf72cbcfd034a39.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinee5ab646651d87a9a38574d5361504b92:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d69145b5edb9904a8b437f85fa26219.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinefc49e9c38c6c284202bb16dd750efb8d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebfe0ea93779dddb8bee56e8aa07b3c7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineccbfbea429f3f7ae9f35a08d7a040fbd:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinec02edcd1f33cd9c3449313a59211ca22:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinea03def07f9babec4718547f312fd1fad:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinec376b4e3f131b3719bfb76c2103ba2d0:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlined08da6b016fe7379ea21681c8af0b93f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineff544136c96967ac76ed032a650bd510:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cd121dcbabd8470e0df3dc6f64c4d7a3.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinea10b40981fb579f1c050e64a7cd1b269:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlinedbac115128cc0c247167e66355e4d6ff:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e9ae20545f33df248a25e0c89476d14e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-red-dead-onlineb6c659ddb093c77dc454ac14857804cf:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6798b2316d4cf14e06206e912cffecc7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 a {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/24a9bf775210b3ac386552322ae2e1a9.png)
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a {
  border-bottom: 1px solid #fff
}

.rockstargames-sites-red-dead-onlinef83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-red-dead-onlinee59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  height: 30px;
  margin-right: 12px;
  width: 30px
}

.rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: flex;
  display: grid;
  font-size: 1.1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 a {
  padding: 1rem
}

.rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 a,
.rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 {
  display: flex;
  flex-flow: column
}

.rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 {
  margin-bottom: calc(var(--section-margin-bottom) / 2)
}

.rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a {
  align-items: center;
  color: var(--standard-color);
  display: flex;
  flex: 1 1 100%;
  padding: .75rem
}

.rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58:empty,
.rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9:empty {
  display: none
}

.rockstargames-sites-red-dead-onlinedaa8cc1c70c4f3c67fa9617602d18c58 a:before,
.rockstargames-sites-red-dead-onlineaf7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block
}

/*# sourceMappingURL=883088bdc563779838a6137df3754da7.css.map*/