.rockstargames-componentsed478db3df0bb24d8430e5f2c3db50e7 {
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: flex;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  justify-content: space-around
}

@media (max-width:767px) {
  .rockstargames-componentsed478db3df0bb24d8430e5f2c3db50e7 {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 {
  grid-gap: var(--grid-gap-static-md);
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: grid;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding-left: 0 !important;
  row-gap: 0;
  text-align: left;
  width: 100%;
  width: auto
}

@media (max-width:767px) {
  .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-static-sm, .5rem))
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentse738d52851f09866f9377fd4f69f4b96 {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentse738d52851f09866f9377fd4f69f4b96 li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentse738d52851f09866f9377fd4f69f4b96 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/055974c59ae2fd76f3c8584183967670.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 {
  margin: 0;
  padding-left: 0
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562 li,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562 li:before,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bd62daf191f66403ccb4b8b24bae7de5.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562 li:before,
  .newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before,
  [data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before {
    top: .3rem
  }
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562 li:not(:last-child),
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:not(:last-child),
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c {
  padding-left: var(--grid-gap-static-md)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:last-child,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:last-child,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:last-child {
  margin: 0
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsc83f215f48446acad56b94eefc456562.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:before,
.newswireFull.rdo .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:before,
[data-game=rdo] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsdec6cf56e697288fc7996ac4b87ed90c li:before {
  content: none
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 {
  margin: 0 auto;
  padding-left: 0
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87 li,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2e9206b87feb4567a83a182d243ae0b6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsa086421981acea761fa1a28d49ee8487 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa086421981acea761fa1a28d49ee8487 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa086421981acea761fa1a28d49ee8487 li:before {
  background-image: var(--custom-star, none)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsf3d52db2471886bbb8f13bfe8afdb69d li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf3d52db2471886bbb8f13bfe8afdb69d li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf3d52db2471886bbb8f13bfe8afdb69d li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a52713a70c65e31024b27e83be6847d3.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsa145a18ae8267704d5d421de8e5878c2 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa145a18ae8267704d5d421de8e5878c2 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa145a18ae8267704d5d421de8e5878c2 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2757dccd4c25bb85b00d92fec26d2abe.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsea530c2c0d7eb752771f7c368c9037d3 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsea530c2c0d7eb752771f7c368c9037d3 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsea530c2c0d7eb752771f7c368c9037d3 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80cd85db506133304f8cddad89af1782.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsfe6c65112390936da939c92120c76056 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsfe6c65112390936da939c92120c76056 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsfe6c65112390936da939c92120c76056 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f191d2d6dbd04e4c9768a0a64855d1a6.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentse4671875cdd6d237565d851bc1626a0e li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentse4671875cdd6d237565d851bc1626a0e li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentse4671875cdd6d237565d851bc1626a0e li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e06b78f7ccb432f507dc3be415fba32c.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsf0ca3eff9617c871dd9658ae343b5619 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf0ca3eff9617c871dd9658ae343b5619 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf0ca3eff9617c871dd9658ae343b5619 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/196bc0ec80f9c57e51d21335cc76a671.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsd495633df4c51a02412ce8eac7cf9e24 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsd495633df4c51a02412ce8eac7cf9e24 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsd495633df4c51a02412ce8eac7cf9e24 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0bcb70671487ed8af0621d77e074411c.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsbfcd222c01908eb5cf73f035fc0b7719 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsbfcd222c01908eb5cf73f035fc0b7719 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsbfcd222c01908eb5cf73f035fc0b7719 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/36956250db7dc74d6ca9721c977f3d41.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsd768e1a3c301702a9573e52e3ec00bc0 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsd768e1a3c301702a9573e52e3ec00bc0 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsd768e1a3c301702a9573e52e3ec00bc0 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7b020492bb9714c229ed738928d2e598.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsf1d45b2ea0bb160d7bb06b45ebabe4df li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf1d45b2ea0bb160d7bb06b45ebabe4df li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsf1d45b2ea0bb160d7bb06b45ebabe4df li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aa0f52f2b27a17f3ddc4646a6146fe59.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsa30641b08e9f3c2ce6608a387abf5e62 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa30641b08e9f3c2ce6608a387abf5e62 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa30641b08e9f3c2ce6608a387abf5e62 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/562857802f2942e67d47d893b473abd7.svg)
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentscd87095d9ca8d71d00f3c28284bb0d87.rockstargames-componentsa82bbef0b3177b321657177dd01be991 li:before,
.newswireFull.gtao .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa82bbef0b3177b321657177dd01be991 li:before,
[data-game=gtao] .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0.rockstargames-componentsa82bbef0b3177b321657177dd01be991 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5443c35249177dc987b7561f93e3c12f.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .rockstargames-componentsae1d16253b1fc6703f5efac102a44af0 {
    width: auto
  }
}

.rockstargames-componentsdebe9dcb1f7173c7819134eb6306602e {
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  align-items: flex-start;
  background: var(--black-200, #000);
  border: 2px solid var(--border-color, #282828);
  border-radius: var(--border-radius-md, 8px);
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-xs, 10px);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  justify-content: space-around;
  padding: var(--padding-sm, 20px)
}

@media (max-width:767px) {
  .rockstargames-componentsdebe9dcb1f7173c7819134eb6306602e {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 {
  grid-gap: var(--grid-gap-static-md);
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  counter-reset: my-counter;
  display: grid;
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  list-style-type: none;
  margin: 0;
  padding-left: 0 !important;
  row-gap: 0;
  text-align: left;
  width: auto
}

@media (max-width:767px) {
  .rockstargames-componentsef6c598b9b7622adff2026dec903f790 {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 li {
  counter-increment: my-counter
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 li,
.rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before {
  color: var(--color-body);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before {
  align-items: center;
  background-color: var(--white-15);
  border-radius: 100%;
  content: counter(my-counter);
  font-weight: var(--font-weight-bold);
  height: 1.75rem;
  justify-content: center;
  margin-right: var(--grid-gap-xs, 10px);
  margin-top: -.21875rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  width: 1.75rem
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-xs, 10px))
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd4be04331b6a5f8859df9fbcefe9f96c {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd4be04331b6a5f8859df9fbcefe9f96c li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd4be04331b6a5f8859df9fbcefe9f96c li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/055974c59ae2fd76f3c8584183967670.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 {
  margin: 0;
  padding-left: 0
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b li,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b li:before,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bd62daf191f66403ccb4b8b24bae7de5.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b li:before,
  .newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before,
  [data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before {
    top: .3rem
  }
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b li:not(:last-child),
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:not(:last-child),
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb {
  padding-left: var(--grid-gap-static-md)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:last-child,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:last-child,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:last-child {
  margin: 0
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsaff5c1a135f34b95b6caf0b4120c2a0b.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:before,
.newswireFull.rdo .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:before,
[data-game=rdo] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse22ba35cec3156e742c511e38df6b3fb li:before {
  content: none
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 {
  margin: 0;
  padding-left: 0
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65 li,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2e9206b87feb4567a83a182d243ae0b6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsb306c3d666df0f49beeb0abf1009ca57 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsb306c3d666df0f49beeb0abf1009ca57 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsb306c3d666df0f49beeb0abf1009ca57 li:before {
  background-image: var(--custom-star, none)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsd4194477b8d74d05b2cc47b89b7381f1 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd4194477b8d74d05b2cc47b89b7381f1 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd4194477b8d74d05b2cc47b89b7381f1 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a52713a70c65e31024b27e83be6847d3.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsa084561ccce9e0a8e8be22cb91351542 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsa084561ccce9e0a8e8be22cb91351542 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsa084561ccce9e0a8e8be22cb91351542 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2757dccd4c25bb85b00d92fec26d2abe.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentse96347df2ba00dd709953604edd75075 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse96347df2ba00dd709953604edd75075 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse96347df2ba00dd709953604edd75075 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80cd85db506133304f8cddad89af1782.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsa8331c51f0bc357903fbcc0bcea9862e li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsa8331c51f0bc357903fbcc0bcea9862e li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsa8331c51f0bc357903fbcc0bcea9862e li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f191d2d6dbd04e4c9768a0a64855d1a6.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsb2812084d4bc4da16ad7cd8897d23525 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsb2812084d4bc4da16ad7cd8897d23525 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsb2812084d4bc4da16ad7cd8897d23525 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e06b78f7ccb432f507dc3be415fba32c.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentse132a6b1e366f2fec77f23bf32b497d0 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse132a6b1e366f2fec77f23bf32b497d0 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentse132a6b1e366f2fec77f23bf32b497d0 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/196bc0ec80f9c57e51d21335cc76a671.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsc8a4acf9d4576443a15fcae83d81d791 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsc8a4acf9d4576443a15fcae83d81d791 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsc8a4acf9d4576443a15fcae83d81d791 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0bcb70671487ed8af0621d77e074411c.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsd9e6f12dcca597ca30e9c45921c361c2 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd9e6f12dcca597ca30e9c45921c361c2 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd9e6f12dcca597ca30e9c45921c361c2 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/36956250db7dc74d6ca9721c977f3d41.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsd735aca85c099013a14f720595aa4902 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd735aca85c099013a14f720595aa4902 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd735aca85c099013a14f720595aa4902 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7b020492bb9714c229ed738928d2e598.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsec3bcc6a9e1bfd4adc746d7d8bac1142 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsec3bcc6a9e1bfd4adc746d7d8bac1142 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsec3bcc6a9e1bfd4adc746d7d8bac1142 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aa0f52f2b27a17f3ddc4646a6146fe59.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsbe9a0d659fd5a7b58d3201c931bafd66 li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbe9a0d659fd5a7b58d3201c931bafd66 li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbe9a0d659fd5a7b58d3201c931bafd66 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/562857802f2942e67d47d893b473abd7.svg)
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsbae14e42d7d43f5b95dc42c2aad55e65.rockstargames-componentsd7be25cefb21d3912007e5ec987f35ba li:before,
.newswireFull.gtao .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd7be25cefb21d3912007e5ec987f35ba li:before,
[data-game=gtao] .rockstargames-componentsef6c598b9b7622adff2026dec903f790.rockstargames-componentsd7be25cefb21d3912007e5ec987f35ba li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5443c35249177dc987b7561f93e3c12f.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.rockstargames-componentsef6c598b9b7622adff2026dec903f790 span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .rockstargames-componentsef6c598b9b7622adff2026dec903f790 {
    width: auto
  }
}