.c81dee7fd0870f89a913315bef66f9841193 {
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: flex;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  justify-content: space-around
}

@media (max-width:767px) {
  .c81dee7fd0870f89a913315bef66f9841193 {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a {
  grid-gap: var(--grid-gap-static-md);
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: grid;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding-left: 0 !important;
  row-gap: 0;
  text-align: left;
  width: 100%;
  width: auto
}

@media (max-width:767px) {
  .c81dee7fd0870f89b47c4ec3ee5a7b25272a {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-static-sm, .5rem))
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89f62d53aa88002b52a1ea {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89f62d53aa88002b52a1ea li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89f62d53aa88002b52a1ea li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/f46348780a767e7cbb16.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a {
  margin: 0;
  padding-left: 0
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821 li,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a li,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821 li:before,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9c893c1b460cc05780cc.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821 li:before,
  .newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before,
  [data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before {
    top: .3rem
  }
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821 li:not(:last-child),
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:not(:last-child),
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821.c81dee7fd0870f89d488e38df25c0b9a4c20,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 {
  padding-left: var(--grid-gap-static-md)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821.c81dee7fd0870f89d488e38df25c0b9a4c20 li,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821.c81dee7fd0870f89d488e38df25c0b9a4c20 li:last-child,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li:last-child,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li:last-child {
  margin: 0
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cb929b69e72d0b745821.c81dee7fd0870f89d488e38df25c0b9a4c20 li:before,
.newswireFull.rdo .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li:before,
[data-game=rdo] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d488e38df25c0b9a4c20 li:before {
  content: none
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a {
  margin: 0 auto;
  padding-left: 0
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002 li,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a li,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/de349307277a7bfbc620.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89a1eadd442b1479e27d60 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89a1eadd442b1479e27d60 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89a1eadd442b1479e27d60 li:before {
  background-image: var(--custom-star, none)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89eb8d7b0da6967262905d li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89eb8d7b0da6967262905d li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89eb8d7b0da6967262905d li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/393e0d58615be4021366.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89ef6a35989cf7f2815a81 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ef6a35989cf7f2815a81 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ef6a35989cf7f2815a81 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/ac5ab42905130554a36f.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89f16f93451d76eff119ef li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89f16f93451d76eff119ef li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89f16f93451d76eff119ef li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/38d2cc367b1075d22f80.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89b68b8022cefb15c42493 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89b68b8022cefb15c42493 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89b68b8022cefb15c42493 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/14d8db31ba31665627cb.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89b81f26d04bea51236b12 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89b81f26d04bea51236b12 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89b81f26d04bea51236b12 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/17cb71842d27dd54e7ce.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89eabe5a1697de9f60444b li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89eabe5a1697de9f60444b li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89eabe5a1697de9f60444b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/61ecee0b1ffc5fca1ad9.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89cab0d114386be0534b0a li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cab0d114386be0534b0a li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89cab0d114386be0534b0a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9c9782816f0b95619055.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89e6521308cf3d4cbcd0eb li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89e6521308cf3d4cbcd0eb li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89e6521308cf3d4cbcd0eb li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/66c1122380d396f6b280.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89da07f0da46dc71261efb li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89da07f0da46dc71261efb li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89da07f0da46dc71261efb li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9bb5e5043e8694ad37d3.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89db540e4cd55e1fd039f6 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89db540e4cd55e1fd039f6 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89db540e4cd55e1fd039f6 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/ac1e8c909ec2dd591123.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89d2ccafcdd0dbfba68f90 li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d2ccafcdd0dbfba68f90 li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d2ccafcdd0dbfba68f90 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/de3738240e0b17b6d57a.svg)
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89ce5462c5860712b67002.c81dee7fd0870f89d5f11f6a0da20e30e1cc li:before,
.newswireFull.gtao .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d5f11f6a0da20e30e1cc li:before,
[data-game=gtao] .c81dee7fd0870f89b47c4ec3ee5a7b25272a.c81dee7fd0870f89d5f11f6a0da20e30e1cc li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/f2dbe5eb510f730b43ca.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.c81dee7fd0870f89b47c4ec3ee5a7b25272a span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .c81dee7fd0870f89b47c4ec3ee5a7b25272a {
    width: auto
  }
}

.c81dee7fd0870f89c89161c6ad22d2dc691e {
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  align-items: flex-start;
  background: var(--black-200, #000);
  border: 2px solid var(--border-color, #282828);
  border-radius: var(--border-radius-md, 8px);
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-xs, 10px);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  justify-content: space-around;
  padding: var(--padding-sm, 20px)
}

@media (max-width:767px) {
  .c81dee7fd0870f89c89161c6ad22d2dc691e {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b {
  grid-gap: var(--grid-gap-static-md);
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  counter-reset: my-counter;
  display: grid;
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  list-style-type: none;
  margin: 0;
  padding-left: 0 !important;
  row-gap: 0;
  text-align: left;
  width: auto
}

@media (max-width:767px) {
  .c81dee7fd0870f89aeed45e36e2fc223fb9b {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b li {
  counter-increment: my-counter
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b li,
.c81dee7fd0870f89aeed45e36e2fc223fb9b li:before {
  color: var(--color-body);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b li:before {
  align-items: center;
  background-color: var(--white-15);
  border-radius: 100%;
  content: counter(my-counter);
  font-weight: var(--font-weight-bold);
  height: 1.75rem;
  justify-content: center;
  margin-right: var(--grid-gap-xs, 10px);
  margin-top: -.21875rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  width: 1.75rem
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-xs, 10px))
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a94d8221792ee3d1ee37 {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a94d8221792ee3d1ee37 li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a94d8221792ee3d1ee37 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/f46348780a767e7cbb16.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b {
  margin: 0;
  padding-left: 0
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a li,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b li,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a li:before,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9c893c1b460cc05780cc.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a li:before,
  .newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before,
  [data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before {
    top: .3rem
  }
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a li:not(:last-child),
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b li:not(:last-child),
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a.c81dee7fd0870f89f86567dc9c46964ed881,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 {
  padding-left: var(--grid-gap-static-md)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a.c81dee7fd0870f89f86567dc9c46964ed881 li,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a.c81dee7fd0870f89f86567dc9c46964ed881 li:last-child,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li:last-child,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li:last-child {
  margin: 0
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c9104bac1ba9fe88116a.c81dee7fd0870f89f86567dc9c46964ed881 li:before,
.newswireFull.rdo .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li:before,
[data-game=rdo] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f86567dc9c46964ed881 li:before {
  content: none
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b {
  margin: 0;
  padding-left: 0
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c li,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b li,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/de349307277a7bfbc620.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89c2246e99cd35a0f82086 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c2246e99cd35a0f82086 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c2246e99cd35a0f82086 li:before {
  background-image: var(--custom-star, none)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89a0002aff4143a00a57e4 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a0002aff4143a00a57e4 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a0002aff4143a00a57e4 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/393e0d58615be4021366.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89c6db845149d2b9d0344b li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c6db845149d2b9d0344b li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89c6db845149d2b9d0344b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/ac5ab42905130554a36f.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89a9c7659c95e05538c243 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a9c7659c95e05538c243 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a9c7659c95e05538c243 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/38d2cc367b1075d22f80.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89a5dfc4f60b3837df9ba9 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a5dfc4f60b3837df9ba9 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a5dfc4f60b3837df9ba9 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/14d8db31ba31665627cb.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89bb00befaa9ddecaa642a li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89bb00befaa9ddecaa642a li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89bb00befaa9ddecaa642a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/17cb71842d27dd54e7ce.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89a3c59c6aaa744688a0c0 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a3c59c6aaa744688a0c0 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89a3c59c6aaa744688a0c0 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/61ecee0b1ffc5fca1ad9.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89b64557dc83a6418e621b li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89b64557dc83a6418e621b li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89b64557dc83a6418e621b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9c9782816f0b95619055.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89dcb28fe6e466a3c0a91e li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89dcb28fe6e466a3c0a91e li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89dcb28fe6e466a3c0a91e li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/66c1122380d396f6b280.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89eea2f560977905393a6a li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89eea2f560977905393a6a li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89eea2f560977905393a6a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/9bb5e5043e8694ad37d3.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89e465ba0afc74d677584c li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89e465ba0afc74d677584c li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89e465ba0afc74d677584c li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/ac1e8c909ec2dd591123.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89fd1ceddbe0451d6077f6 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89fd1ceddbe0451d6077f6 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89fd1ceddbe0451d6077f6 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/de3738240e0b17b6d57a.svg)
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f25978c2a77052c2267c.c81dee7fd0870f89f8bb4c9647138419a301 li:before,
.newswireFull.gtao .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f8bb4c9647138419a301 li:before,
[data-game=gtao] .c81dee7fd0870f89aeed45e36e2fc223fb9b.c81dee7fd0870f89f8bb4c9647138419a301 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/f2dbe5eb510f730b43ca.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.c81dee7fd0870f89aeed45e36e2fc223fb9b span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .c81dee7fd0870f89aeed45e36e2fc223fb9b {
    width: auto
  }
}