._93f8151fb9eb5ac4b1b29da799154d1b51b7 {
  --modal-controlsHeight: 3rem;
  --modal-padding: var(--padding-sm, 1rem);
  --modal-heightDesired: calc(100vh - (var(--modal-padding) * 2));
  --modal-height: 50vw;
  --modal-heightMax: calc(100vh - var(--modal-controlsHeight) - (var(--modal-padding) * 4));
  --modal-heightActual: min(var(--modal-height), var(--modal-heightMax));
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000
}

@supports (height:100dvh) {
  ._93f8151fb9eb5ac4b1b29da799154d1b51b7 {
    --modal-heightDesired: calc(100dvh - (var(--modal-padding) * 2))
  }
}

@media (max-width:1024px),
(orientation:portrait) {
  ._93f8151fb9eb5ac4b1b29da799154d1b51b7[data-show-nav=true] {
    --modal-heightDesired: calc(100vh - (var(--modal-controlsHeight)) - (var(--modal-padding) * 3))
  }

  @supports (height:100dvh) {
    ._93f8151fb9eb5ac4b1b29da799154d1b51b7[data-show-nav=true] {
      --modal-heightDesired: calc(100dvh - (var(--modal-controlsHeight)) - (var(--modal-padding) * 3))
    }
  }
}

@supports (height:100dvh) {
  ._93f8151fb9eb5ac4b1b29da799154d1b51b7 {
    --modal-heightMax: calc(100dvh - var(--modal-controlsHeight) - (var(--modal-padding) * 3))
  }
}

@media (min-width:1920px) {
  ._93f8151fb9eb5ac4b1b29da799154d1b51b7 {
    --modal-heightActual: min(1080px, 50vw)
  }
}

@media (orientation:landscape) and (min-width:1024px) and (max-height:1210px) {
  ._93f8151fb9eb5ac4b1b29da799154d1b51b7 {
    --modal-halfScreenWidth: 50vw;
    --modal-heightActual: min(var(--modal-heightMax), var(--modal-halfScreenWidth))
  }
}

._93f8151fb9eb5ac4fcc01a21ba6273e262bd {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 10
}

._93f8151fb9eb5ac4df0821d6f0e927283e86 {
  --modal-content-padding: calc(var(--modal-padding) + var(--padding-xl)) 0;
  display: flex;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--modal-content-padding, 0)
}

@media (min-width:768px) {
  ._93f8151fb9eb5ac4df0821d6f0e927283e86 {
    --modal-content-padding: calc(var(--modal-padding) + var(--padding-lg)) 0
  }
}

@media (min-width:1024px) {
  ._93f8151fb9eb5ac4df0821d6f0e927283e86 {
    --modal-content-padding: calc(var(--modal-padding) + var(--padding-md)) 0
  }
}

@media (min-width:1920px) {
  ._93f8151fb9eb5ac4df0821d6f0e927283e86 {
    --modal-content-padding: calc(var(--modal-padding) + var(--padding-md)) var(--padding-lg) var(--padding-lg)
  }
}

@media (min-width:2560px) {
  ._93f8151fb9eb5ac4df0821d6f0e927283e86 {
    --modal-content-padding: calc(var(--modal-padding) + var(--padding-md)) 0
  }
}

@media (min-width:1920px) {
  ._93f8151fb9eb5ac4df0821d6f0e927283e86 {
    max-width: var(--modal-content-max-width, none)
  }
}

._93f8151fb9eb5ac4df0821d6f0e927283e86>* {
  flex: 1
}

._93f8151fb9eb5ac4b6365baf583b9e283753 {
  background: var(--black-65, rgba(0, 0, 0, .65));
  border: 1px solid var(--white-100, #fff);
  border-radius: 50%;
  cursor: pointer;
  height: 2rem;
  padding: 0;
  position: relative;
  position: absolute;
  right: var(--padding-sm, 1rem);
  top: var(--padding-sm, 1rem);
  transition: background .3s ease-in-out;
  width: 2rem;
  z-index: 1
}

._93f8151fb9eb5ac4b6365baf583b9e283753:after {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/e20279ac4433a2ac0422.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media (pointer:coarse) {

  ._93f8151fb9eb5ac4b6365baf583b9e283753:active,
  ._93f8151fb9eb5ac4b6365baf583b9e283753:focus {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4b6365baf583b9e283753:active:after,
  ._93f8151fb9eb5ac4b6365baf583b9e283753:focus:after {
    filter: invert(1)
  }
}

@media not ((pointer:coarse)) {

  ._93f8151fb9eb5ac4b6365baf583b9e283753:focus,
  ._93f8151fb9eb5ac4b6365baf583b9e283753:hover {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4b6365baf583b9e283753:focus:after,
  ._93f8151fb9eb5ac4b6365baf583b9e283753:hover:after {
    filter: invert(1)
  }
}

[data-show-nav=true] ._93f8151fb9eb5ac4b6365baf583b9e283753 {
  top: 50%;
  transform: translateY(-50%)
}

@media (min-width:1024px) {
  [data-show-nav=false] ._93f8151fb9eb5ac4b6365baf583b9e283753 {
    right: var(--padding-md, 1rem);
    top: var(--padding-md, 1rem)
  }
}

@media (min-width:1920px) {
  [data-show-nav=true] ._93f8151fb9eb5ac4b6365baf583b9e283753 {
    right: 0
  }
}

._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #c00;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6))
}

@media (min-width:2560px) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
  --black-100: #121212;
  border: 1px solid var(--border-color, #2d2d2d);
  border-radius: var(--border-radius-lg, 16px);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000
}

[data-show-nav=true] ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
  margin-top: var(--modal-controlsHeight);
  transition: margin-top .3s ease-in .1s
}

@media (orientation:landscape) and (min-width:1024px) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    max-height: var(--modal-heightMax);
    max-width: 200vh
  }
}

@media (orientation:landscape) and (min-width:1920px) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    max-height: 1080px;
    max-width: 1920px
  }
}

@media (orientation:landscape) and (min-width:1024px) and (max-height:1210px) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    max-height: var(--modal-heightMax);
    max-width: 200vh
  }
}

@media (max-width:1024px),
(orientation:portrait) {
  ._93f8151fb9eb5ac4fe0c0d0b3f72589dfd69 {
    height: var(--modal-heightDesired) !important
  }
}

._93f8151fb9eb5ac4a205bb0837fde83d182f {
  background: rgba(0, 0, 0, .9);
  height: 100vh;
  opacity: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000
}

._93f8151fb9eb5ac4a170a8ff8afa41c02b8d {
  height: var(--modal-controlsHeight);
  left: 50%;
  margin-top: calc((var(--modal-heightActual) * .5) * -1);
  position: fixed;
  top: calc(50% + (var(--modal-controlsHeight) - var(--modal-padding)));
  transform: translate(-50%, calc(-100% - var(--spacing-sm)));
  width: 100%;
  z-index: 1001
}

@media (max-width:1024px),
(orientation:portrait) {
  ._93f8151fb9eb5ac4a170a8ff8afa41c02b8d {
    margin-top: 0;
    top: var(--modal-padding);
    transform: translateX(-50%)
  }
}

@media (orientation:landscape) and (min-width:1024px) {
  ._93f8151fb9eb5ac4a170a8ff8afa41c02b8d {
    max-width: 200vh
  }
}

@media (min-width:1920px) {
  ._93f8151fb9eb5ac4a170a8ff8afa41c02b8d {
    left: 50%;
    max-width: 1920px;
    transform: translate(-50%, calc(-100% - var(--spacing-sm)));
    width: calc(100vw - (var(--modal-padding) * 2))
  }
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 {
  align-items: center;
  background-color: var(--black-200);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  display: flex;
  left: 50%;
  overflow: hidden;
  position: fixed;
  transform: translateX(-50%)
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button {
  border: none;
  cursor: pointer
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child {
  background: var(--black-65, rgba(0, 0, 0, .65));
  background: var(--black-200);
  background-color: initial;
  border: none;
  border-radius: 50%;
  border-radius: 0;
  cursor: pointer;
  height: 3rem;
  padding: 0;
  position: relative;
  transition: background .3s ease-in-out;
  width: 3rem
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:after {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/d5bb5aa47dcc9670eb93.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media (pointer:coarse) {

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:active,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:focus {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:active:after,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:focus:after {
    filter: invert(1)
  }
}

@media not ((pointer:coarse)) {

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:focus,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:hover {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:focus:after,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:hover:after {
    filter: invert(1)
  }
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:first-child:after {
  background-size: 1.5rem
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child {
  background: var(--black-65, rgba(0, 0, 0, .65));
  background: var(--black-200);
  background-color: initial;
  border: none;
  border-radius: 50%;
  border-radius: 0;
  cursor: pointer;
  height: 3rem;
  padding: 0;
  position: relative;
  transition: background .3s ease-in-out;
  width: 3rem
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:after {
  background: url(https://media-rockstargames-com.akamaized.net/mfe5/__common/img/e684cb98f4103b0520a1.svg) no-repeat 50%/1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

@media (pointer:coarse) {

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:active,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:focus {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:active:after,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:focus:after {
    filter: invert(1)
  }
}

@media not ((pointer:coarse)) {

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:focus,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:hover {
    background: var(--white-100, #fff)
  }

  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:focus:after,
  ._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:hover:after {
    filter: invert(1)
  }
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button:last-child:after {
  background-size: 1.5rem
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button[disabled] {
  background-color: var(--black-200);
  pointer-events: none
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 button[disabled]:after {
  filter: none !important;
  opacity: .15
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 ._93f8151fb9eb5ac4bea33fae7718c7fbfdb0 {
  align-items: center;
  color: var(--color-h);
  display: flex;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  justify-content: center;
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  padding: .1875rem var(--padding-xs) 0
}

._93f8151fb9eb5ac4e497f927dc015e9b9629 ._93f8151fb9eb5ac4cb551a1570b2a1e5f5ee {
  background-color: var(--white-100);
  border-radius: 1px;
  height: 1rem;
  margin: 0 .3rem;
  transform: rotate(15deg) translateY(-.08rem);
  width: .1rem
}

._93f8151fb9eb5ac4f2858aa2b04e3da87391 {
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0
}