.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129 {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all .2s ease
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129:focus,
.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:focus:before,
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 {
  position: relative
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 {
  background: var(--background-color);
  border-radius: 0 0 var(--image-rounding-static-xs) var(--image-rounding-static-xs);
  box-shadow: 0 0 0 transparent;
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  left: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 5
}

.rockstargames-sites-rockstargamesdf17f0cb21e0947d4f391f915bd797d2.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  max-height: 1007px
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 a {
  display: block;
  flex: 1;
  margin: 5px;
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm);
  width: calc(100% - 10px)
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 a:hover {
  background: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
  text-transform: uppercase;
  transition: all .2s ease;
  white-space: nowrap;
  width: 100%
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:focus,
.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:focus:before,
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargamesdf17f0cb21e0947d4f391f915bd797d2.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  background-size: 75%;
  right: var(--base-pixel-size);
  width: 30px
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:hover:after {
  filter: invert(1)
}

.rockstargames-sites-rockstargamesb660bb706132d84852c02df01cc6ed5a {
  color: var(--tag-color, var(--body-color));
  display: inline-block;
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6;
  padding: 0 .75rem 0 0
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  flex-flow: column;
  overflow: hidden;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f {
  animation: globalFadeInUp .75s;
  animation-play-state: paused
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
  background: var(--card-background-color);
  border: none;
  border-radius: 0;
  display: grid;
  grid-template-columns: 100%;
  justify-content: flex-start;
  margin-bottom: var(--grid-gap-static-lg);
  margin-left: calc(var(--padding-sides) * 2 / -2);
  margin-top: calc(var(--padding-top-bottom) * -1);
  overflow: hidden;
  position: relative;
  width: 100vw
}

@media (min-width:1125px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 70% 1fr
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 65% 1fr;
    margin-left: calc(((100vw - var(--max-width-static-lg)) + (var(--padding-sides) * 2)) / -2)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 60% 1fr
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  align-items: center;
  background-size: cover;
  display: none;
  position: relative;
  transition: transform .3s;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    display: block
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-size: contain;
  display: block;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
    display: none
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
  display: flex;
  flex-direction: column;
  padding: var(--grid-gap-static-lg) var(--grid-gap-static-md)
}

@media (max-width:1124px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    grid-gap: var(--grid-gap-static-xs);
    display: grid
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    grid-gap: var(--grid-gap-static-sm);
    max-width: 1024px
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    padding: var(--grid-gap-static-lg)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    padding: var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  font-size: var(--font-size-5)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-6)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-7)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-8)
  }

  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargameseee9c5d3b714a61ac265369800a6d4e0 div,
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 time {
    font-size: var(--font-size-3) !important
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f.rockstargames-sites-rockstargamesa56af3c95449fe8452485dfb6c89fc29 {
  animation-play-state: running
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f iframe {
  pointer-events: none
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  font-weight: 400;
  line-height: 1.6;
  opacity: .65
}

.rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargameseee9c5d3b714a61ac265369800a6d4e0 {
  grid-row-gap: vaR(--grid-gap-static-xs);
  display: flex;
  flex-wrap: wrap-reverse
}

.rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b {
  grid-gap: 1rem;
  align-content: center;
  background: #000;
  display: grid;
  grid-auto-rows: max-content;
  height: 100%;
  justify-items: center;
  padding: .5rem
}

.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b,
.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b h1 {
  color: #fff
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  background-color: var(--black-200);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: #000;
  display: grid;
  font-size: 10px;
  margin: 0 auto;
  max-width: 270px;
  padding: var(--padding-sm)
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc.rockstargames-sites-rockstargamesb98963abfc7a63295bebc6c6d15b391a {
  grid-gap: var(--grid-gap-sm);
  grid-template-columns: 72px 1fr
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc.rockstargames-sites-rockstargamesb6339480b5fd086fb0c025930bfb7dcd {
  max-width: calc(72px + (2 * var(--padding-sm)))
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc hr {
  background: var(--white-15);
  border: 0;
  height: 1px;
  margin: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc img {
  width: 100%
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 {
  grid-gap: var(--grid-gap-xs);
  align-content: center;
  display: grid
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 p {
  color: var(--white-100) !important;
  font-family: var(--font-family-body) !important;
  font-size: 10px !important;
  line-height: 1.25 !important
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 p:empty {
  display: none !important
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 a {
  font-weight: 700
}

a.rockstargames-sites-rockstargamesa626ad482ff0be0336e75929516654d5 {
  transition: color .2s ease, opacity .2s ease
}

a.rockstargames-sites-rockstargamesa626ad482ff0be0336e75929516654d5:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a .rockstargames-sites-rockstargamesdabce30c906fad181d7cc188f1632c04 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a .rockstargames-sites-rockstargamesdabce30c906fad181d7cc188f1632c04 .rockstargames-sites-rockstargamesfd87597d0f90ed6d8a2081da933f53bc {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a .rockstargames-sites-rockstargamesdabce30c906fad181d7cc188f1632c04 {
  padding: 1.5rem
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a .rockstargames-sites-rockstargamesfd87597d0f90ed6d8a2081da933f53bc {
  font-size: var(--font-size-3);
  font-weight: 400
}

.rockstargames-sites-rockstargamesf93031694e202c791c00e5ae3497250a .rockstargames-sites-rockstargamesdabce30c906fad181d7cc188f1632c04 {
  display: var(--video-card-display, block)
}

.rockstargames-sites-rockstargamesfd37974f16cd1f2376fef29d4af8d948 {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  background: #000;
  color: #fff;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity 1s;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesfd37974f16cd1f2376fef29d4af8d948 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesfd37974f16cd1f2376fef29d4af8d948:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesfd37974f16cd1f2376fef29d4af8d948>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesfd37974f16cd1f2376fef29d4af8d948.rockstargames-sites-rockstargamesb8d4ef3e1a73c58f4002eab351d4eec2 {
  opacity: 1
}

.rockstargames-sites-rockstargamesfd87597d0f90ed6d8a2081da933f53bc {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesa1fe577b937c0e16250bf38e9d775061 {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df {
  --aspect-ratio-desktop: 64/79;
  --aspect-ratio-mobile: var(--aspect-ratio-desktop);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  aspect-ratio: var(--aspect-ratio-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  width: 100%
}

.rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df.rockstargames-sites-rockstargamesdc444c089b89129c0a39bc61845d531f {
  --aspect-ratio-desktop: 10/3;
  --aspect-ratio-mobile: 16/9
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df {
    aspect-ratio: var(--aspect-ratio-desktop)
  }
}

.rockstargames-sites-rockstargamesb9f3c994ce8a97ac6530cf0a85e5abe0 {
  --aspect-ratio-desktop: 4/5
}

a.rockstargames-sites-rockstargamesd30ff40ba02b7ed14124da3ca9cd4f2b {
  box-shadow: 0 0 40px -25px transparent;
  display: flex;
  flex-flow: column;
  transition: transform .3s cubic-bezier(0, 0, .5, 1), box-shadow .3s cubic-bezier(0, 0, .5, 1)
}

a.rockstargames-sites-rockstargamesd30ff40ba02b7ed14124da3ca9cd4f2b:hover {
  box-shadow: 0 30px 40px -25px #000;
  transform: scale(1.025)
}

a.rockstargames-sites-rockstargamesd30ff40ba02b7ed14124da3ca9cd4f2b.rockstargames-sites-rockstargamesc9686ec502f78b05e47568667e90bd17 {
  grid-column: 1/-1
}

.rockstargames-sites-rockstargamesa781ca361caa47e247f5734a9c28e212,
.rockstargames-sites-rockstargamesf681812afa193178d2747f442d8a6f9d {
  grid-gap: var(--standard-grid-gap);
  display: grid
}

.rockstargames-sites-rockstargamesf681812afa193178d2747f442d8a6f9d {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.rockstargames-sites-rockstargamesf681812afa193178d2747f442d8a6f9d img {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%
}

.rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 {
  grid-gap: var(--grid-gap-static-xl);
  display: grid;
  grid-template-areas: "left" "right";
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: unset;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 {
    grid-column-gap: 0;
    grid-template-areas: "left right";
    grid-template-columns: 35% 1fr;
    padding: 0
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 {
    grid-template-columns: 40% 1fr
  }
}

.rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 section {
  width: 100%
}

.rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 section .rockstargames-sites-rockstargamesa2b8fdb05372993030b9b4edb2e4ce48 {
  --line-height-h: 1.3;
  font-family: var(--font-family-h);
  font-size: var(--font-size-5);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-h);
  margin: 0 0 1.5rem
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 section .rockstargames-sites-rockstargamesa2b8fdb05372993030b9b4edb2e4ce48 {
    font-size: var(--font-size-6);
    font-size: var(--font-size-5)
  }
}

.rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 section.rockstargames-sites-rockstargamesaabdad361a37079b4bd2c4e02318871b,
.rockstargames-sites-rockstargamesee9c29389aef51002d44ee7e1e0c4546 section.rockstargames-sites-rockstargamesda8dc17916740860c74e2b3c1a25faa9 {
  display: flex;
  flex-flow: column
}

.rockstargames-sites-rockstargamese45ef7fa485eb150b99f5e23264ee21a {
  grid-gap: var(--grid-gap-static-sm);
  display: flex;
  flex-wrap: wrap
}

.rockstargames-sites-rockstargamese45ef7fa485eb150b99f5e23264ee21a:empty {
  display: none
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamese45ef7fa485eb150b99f5e23264ee21a {
    justify-content: space-between
  }
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese45ef7fa485eb150b99f5e23264ee21a {
    grid-template-columns: max-content max-content
  }
}

.rockstargames-sites-rockstargamese45ef7fa485eb150b99f5e23264ee21a a {
  justify-self: left
}

.rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 {
  grid-gap: var(--grid-gap-static-lg);
  display: flex;
  flex-direction: column
}

.rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9>:last-child {
  border-radius: 0
}

.rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9>:last-child:before {
  display: block
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 {
    background: var(--card-background-color);
    height: -moz-max-content;
    height: max-content;
    justify-content: unset;
    justify-content: flex-start;
    left: 0;
    padding: var(--padding-sides);
    position: sticky;
    top: calc(var(--header-height));
    z-index: 2
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 {
    padding: var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 .rockstargames-sites-rockstargamesd763727e875c30ff3b2dfc71ac3c5a13 {
  grid-gap: var(--grid-gap-static-md);
  display: flex;
  flex-direction: column
}

.rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 .rockstargames-sites-rockstargamesf9b064b798a23f041ff11e6810169e32 {
  font-size: var(--font-size-6)
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 .rockstargames-sites-rockstargamesf9b064b798a23f041ff11e6810169e32 {
    font-size: var(--font-size-5)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 .rockstargames-sites-rockstargamesf9b064b798a23f041ff11e6810169e32 {
    font-size: var(--font-size-6)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamescb89183ee51acb4f1abbc67a50d90ac9 .rockstargames-sites-rockstargamesf9b064b798a23f041ff11e6810169e32 {
    font-size: var(--font-size-7)
  }
}

.rockstargames-sites-rockstargamesa879fe6862783116ef26ce110c03bf86 {
  grid-gap: var(--grid-gap-static-xl);
  align-items: center;
  display: flex;
  flex-flow: column;
  grid-area: right;
  justify-content: center
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesa879fe6862783116ef26ce110c03bf86 {
    align-self: flex-start;
    justify-content: center
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesa879fe6862783116ef26ce110c03bf86 {
    padding: var(--padding-sides)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesa879fe6862783116ef26ce110c03bf86 {
    max-width: 1920px;
    padding: var(--padding-top-bottom) var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesc5ccfc6e9100bc73be95187414ac0893,
.rockstargames-sites-rockstargamesec79287ca93eceb8e0834f49bad57b32 {
  grid-row-gap: var(--padding-top-bottom);
  grid-column-gap: var(--padding-top-bottom);
  grid-gap: var(--standard-grid-gap);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: var(--grid-gap-static-lg)
}

@media (min-width:768px) {

  .rockstargames-sites-rockstargamesc5ccfc6e9100bc73be95187414ac0893,
  .rockstargames-sites-rockstargamesec79287ca93eceb8e0834f49bad57b32 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

.rockstargames-sites-rockstargamese580554f30fb535d2cd430a947bd07ef p {
  margin-bottom: var(--grid-gap-static-sm);
  max-width: 800px
}

.rockstargames-sites-rockstargamese94c9d8e930a2f20fb906b31e68eca52 dl {
  grid-column-gap: var(--grid-gap-static-sm);
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin: 0 0 var(--grid-gap-static-sm) 0
}

.rockstargames-sites-rockstargamese94c9d8e930a2f20fb906b31e68eca52 dl.rockstargames-sites-rockstargamescd6c3dc3c77888153389cde565c8b669 {
  display: inline-grid
}

.rockstargames-sites-rockstargamese94c9d8e930a2f20fb906b31e68eca52 dd {
  font-weight: 700;
  margin: 0
}

.rockstargames-sites-rockstargameseee85500f16a01fcb7e7c62936e17d11 {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-rockstargamesa51dec4f27b0a95f82c67d360e99a87b {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/39cb18ab8db8127c2c0b7022ede8b07c.svg) no-repeat 0/contain;
  height: 2rem
}

.rockstargames-sites-rockstargamesb875cad94e523a19f3219bd7de10c224 a {
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  padding: 1rem
}

/*# sourceMappingURL=000aebb26d91ae00487d6997b3d6336b.css.map*/