.rockstargames-sites-rockstargamesf38982805188b64825a72d2c5fac938c {
  overflow-x: hidden;
  overflow-y: auto
}

.rockstargames-sites-rockstargamesc1ad787ad6429786650325edac0ffe42 {
  overflow-x: hidden;
  overflow-y: auto
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 {
  --grid-position: var(--grid-position-mobile);
  --grid-num-columns: var(--grid-num-columns-mobile, 1);
  --grid-template-override: var(--grid-template-mobile-override);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  background-color: var(--background-color, transparent);
  border-radius: var(--image-rounding-dynamic, 0);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  position: var(--grid-position);
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 {
    --grid-position: var(--grid-position-desktop);
    --grid-num-columns: var(--grid-num-columns-desktop, 1);
    --grid-template-override: var(--grid-template-desktop-override);
    position: var(--grid-position)
  }
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 .rockstargames-sites-rockstargamesdfbda195073626bc6a7690dc73fba873 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=twitch-drops] {
  align-items: flex-start;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1440px !important;
  padding: var(--foundry-global-spacing-gap-600) 0
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article] {
  --grid-gap-dynamic: var(--grid-gap-static-md)
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article] {
    --grid-gap-dynamic: var(--grid-gap-static-lg)
  }
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article] p a {
  font-weight: 700;
  text-decoration: underline
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article] li span,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article] p span span {
  color: var(--newswire-post-font-color, inherit);
  font-weight: var(--newswire-post-font-weight, 700)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-template=community] {
  --font-family-std: var(--rsg-font-family-std);
  --font-family-h: var(--rsg-font-family-h);
  --game-base-font: var(--rsg-font-family-std);
  --game-header-family: var(--rsg-font-family-h);
  --game-header-transform: none;
  --padding-dynamic: 0px;
  --padding-dynamic-tb: var(--grid-gap-static-lg);
  font-family: var(--rsg-font-family-std);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-template=community] a:not(:last-child):after {
  filter: contrast(0)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-template=community] [data-game^=gta] {
  --gta-font-family-std: var(--rsg-font-family-std);
  --gta-font-family-h: var(--rsg-font-family-h);
  --color-h-dynamic: #161616;
  --game-header-transform: none
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-template=community] [data-game=rdo],
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-template=community] [data-game^=rdr] {
  --rdr-font-family-std: var(--rsg-font-family-std);
  --rdr-font-family-h: var(--rsg-font-family-h);
  --rdr-background-color-dynamic: #fff
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-game=rdo][data-template=halloween] {
  --background-color: transparent;
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d952addc6f96ee01558b4718851e74da.jpg) 50%/contain
}

:not(:lang(en_us)) .rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-game=rdo][data-template=halloween] {
  --font-family-h-halloween: RDRLino-Regular
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-game=rdo][data-template=halloween] h1 {
  font-family: var(--font-family-h-halloween)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article][data-game=rdo][data-template=halloween] h3[data-context=newswire-subtitle] {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-template]) {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-template]) main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-template]) p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(pl_pl) h1,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(pl_pl) h3 {
  --font-family-h: NeueHelveticaPaneuropean
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(pl_pl) p {
  font-family: Chalet
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(ru_ru) h1,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(ru_ru) h3 {
  --font-family-h: NeueHelveticaW05
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=newswire-article]:not([data-game]) :lang(ru_ru) p {
  font-family: Chalet
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-theme=rdo-telegram] {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4d103e043203ec65df4c5ac788f230bf.jpg);
  background-position: 50%;
  background-size: cover;
  font-family: Droid-Serif-Pro
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-theme=rdo-telegram] strong {
  font-family: Cabrito-Nordem
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=readable-text] {
  --max-width-dynamic: var(--max-width-static);
  --grid-gap-dynamic: var(--grid-gap-static-sm);
  --padding-dynamic: var(--padding-static)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=grid-inset] {
  --padding-dynamic-tb: var(--grid-gap-static-xl, 2rem)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=clr-article] {
  --grid-gap-dynamic: 0
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653[data-context=clr-article] h6 {
  font-family: Rubik;
  font-size: var(--font-size-2);
  font-weight: 500
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h1,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h1.rockstargames-sites-rockstargamesebe718025e5523245571e9ddbc063d35 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h4,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h5,
.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-rockstargamesda87ead760b989fbe90a0b89c60b0653 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b {
  grid-gap: 1rem;
  align-content: center;
  background: #000;
  display: grid;
  grid-auto-rows: max-content;
  height: 100%;
  justify-items: center;
  padding: .5rem
}

.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b,
.rockstargames-sites-rockstargamesd5c408a8b618087ef4bb452f96526b2b h1 {
  color: #fff
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  background-color: var(--black-200);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: #000;
  display: grid;
  font-size: 10px;
  margin: 0 auto;
  max-width: 270px;
  padding: var(--padding-sm)
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc.rockstargames-sites-rockstargamesb98963abfc7a63295bebc6c6d15b391a {
  grid-gap: var(--grid-gap-sm);
  grid-template-columns: 72px 1fr
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc.rockstargames-sites-rockstargamesb6339480b5fd086fb0c025930bfb7dcd {
  max-width: calc(72px + (2 * var(--padding-sm)))
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc hr {
  background: var(--white-15);
  border: 0;
  height: 1px;
  margin: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesc3e95c84902dd75b827d3c95532e22dc img {
  width: 100%
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 {
  grid-gap: var(--grid-gap-xs);
  align-content: center;
  display: grid
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 p {
  color: var(--white-100) !important;
  font-family: var(--font-family-body) !important;
  font-size: 10px !important;
  line-height: 1.25 !important
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 p:empty {
  display: none !important
}

.rockstargames-sites-rockstargamesbabdd6ae2ff83f380dadc6982effa011 a {
  font-weight: 700
}

.rockstargames-sites-rockstargamesf1a35f6eed1910ca78558ab44d84cf74 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesf1a35f6eed1910ca78558ab44d84cf74 {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesc8ef64cf9e065f3427b3194a51df0db8 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesc8ef64cf9e065f3427b3194a51df0db8 {
    display: none
  }
}

.rockstargames-sites-rockstargamescfd24e0ee2b1f559661d5cfeb52dc42e {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamescfd24e0ee2b1f559661d5cfeb52dc42e {
    display: none
  }

  .rockstargames-sites-rockstargamesded4ff39e5e25d76a418d7e3f7d11995 {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesc891d9386ba4301fc21465d3c801ba30 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesc891d9386ba4301fc21465d3c801ba30 {
    display: none
  }

  .rockstargames-sites-rockstargamesd066a56fe459189cf5d35eb48ba72d41 {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesb23ab84f8471b4ab942a4ed5fe620e69 {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb23ab84f8471b4ab942a4ed5fe620e69 {
    display: none
  }

  .rockstargames-sites-rockstargamesedef0f977948583cd14fa7ec3c39655c {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamescc198febff50b94067bae55bc185e3bc {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamescc198febff50b94067bae55bc185e3bc {
    display: none
  }

  .rockstargames-sites-rockstargamesb73fd4ce556a1c51082ed54d5dda337f {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesd849433c43d0224911924ec5469b0950 {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesd849433c43d0224911924ec5469b0950 {
    display: none
  }

  .rockstargames-sites-rockstargamesff44a535fb8dea98395f263608dd2a72 {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesbf7b7e158634f4d4d1208a51cb8433b8 {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesaeaef325bdb67e90aeff3ecb79f4a111 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-sites-rockstargamesa6a02bdd09ffc00b19d101a703c7ba56 {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-sites-rockstargamesbfe9c75ba21bc5e7e8b98810ed5478cd {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesbfe9c75ba21bc5e7e8b98810ed5478cd {
    --padding-dynamic: 0
  }
}

.rockstargames-sites-rockstargamesb2a41f46cd7e76fd7bdac129e1beeca3 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb2a41f46cd7e76fd7bdac129e1beeca3 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-sites-rockstargamesc2ff26d2a543d32cd724508049805636 {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesc2ff26d2a543d32cd724508049805636 {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-sites-rockstargamesc2ff26d2a543d32cd724508049805636.rockstargames-sites-rockstargamesd7206e59268cd0c0c0991aaab8f5303e {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

[data-game^=gta] {
  --image-rounding-dynamic: var(--image-rounding-static, 16px)
}

.rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f {
  --padding-t: initial;
  --padding-b: initial;
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img {
  border: var(--image-border-style);
  border-radius: var(--image-border-radius);
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none
}

[data-game=gtao] .rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img {
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-sites-rockstargamese995406abbc00a5dd2a4d0d34c40f082 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-sites-rockstargamese995406abbc00a5dd2a4d0d34c40f082 {
    display: var(--display-original, block)
  }
}

.rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-sites-rockstargamesa6a06e2d5c4f1811ea39d17312ca2e67 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-sites-rockstargamesa6a06e2d5c4f1811ea39d17312ca2e67 {
    display: none
  }
}

.rockstargames-sites-rockstargamesc8dc03880ce2e12f3fdea5b5b587f27f iframe {
  left: 0;
  position: absolute;
  top: 0
}

.rockstargames-sites-rockstargamesddf5b3edc2c13950953ba868208bf0ad,
.rockstargames-sites-rockstargamesddf5b3edc2c13950953ba868208bf0ad img {
  height: 100%;
  width: 100%
}

.rockstargames-sites-rockstargamesddf5b3edc2c13950953ba868208bf0ad img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

[data-game^=gta] .rockstargames-sites-rockstargamesad13916e888a5e46287a5a46c9c53a87 {
  --image-rounding-dynamic: 0
}

.frame_1 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_2 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_3 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_4 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_5 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_6 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/0cd5b1e38f54ef83942d288ce01980e6.woff) format("woff")
}

@font-face {
  font-family: NotoSansJP;
  font-style: normal;
  font-weight: 900;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/7935b57c9db57ab14bd5a876dbfb87f4.woff) format("woff")
}

@font-face {
  font-family: ChaletComprime;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/aa2a7321d65db9f2de3cafabeb37e354.woff) format("woff")
}

@font-face {
  font-family: Chalet;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ef44f43ca79bb1aee29fbc2d457e7dee.woff) format("woff")
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --font-family-h: Chalet, NotoSansJP;
  --font-family-body: Hiragino Kaku Gothic ProN;
  --cta-position: relative;
  --grid-gap-dynamic: var(--grid-gap-static-sm);
  grid-gap: var(--grid-gap-dynamic);
  --padding-dynamic: var(--padding-lg);
  --padding-dynamic-tb: 0;
  border-top: 1px solid #424242;
  color: var(--white-100);
  display: grid;
  font-family: Chalet, NotoSansJP;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  padding-bottom: var(--padding-lg);
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamesd6571f3c513cb7926df8940a17fe82a9 {
  --news-intro-max-width: var(--max-width-static);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--news-intro-max-width)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamese661a856095375f44e305b2e551ab5cc {
  max-height: 70vh;
  min-height: 30vw
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b {
  background: transparent;
  padding: 0;
  position: relative;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamescde5a6432fe77cd30e39fb39a713e18b img {
  display: block
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamese86794fbd2c629ecdc5cfe79e36e8a20,
.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb h1,
.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb p {
  padding: 0 var(--padding-lg)
}

@media (min-width:1024px) {

  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamese86794fbd2c629ecdc5cfe79e36e8a20,
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb h1,
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb p {
    padding: 0 var(--padding-md)
  }
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamesdd203ba094cb4638fb07da8f328d6495 {
  font-family: ChaletComprime, NotoSansJP;
  font-size: var(--font-size-5);
  font-style: normal;
  font-weight: 900;
  line-height: 30px
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamesdd203ba094cb4638fb07da8f328d6495 {
    font-size: var(--font-size-4)
  }
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamesd208f114e7bbcf73734a8971494445f9 {
  font-family: ChaletComprime, NotoSansJP;
  font-size: var(--font-size-6);
  font-style: normal;
  font-weight: 900;
  letter-spacing: -1.11px;
  line-height: 42px
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamesd208f114e7bbcf73734a8971494445f9 {
    font-size: var(--font-size-3)
  }
}

.rockstargames-sites-rockstargamesb395b520b33f1a7d6532fd66000fd1cb .rockstargames-sites-rockstargamese3d1b26e1b9c5d5204ecaa20ff62abcc {
  font-family: Chalet;
  font-size: 18px;
  line-height: 24px
}

/*# sourceMappingURL=144813c8a1b279a1aa2f315dad7784b9.css.map*/