.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a:focus,
.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a.rockstargames-sites-rockstargamesc8d830449553569742d757ae227652a2 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamese8dcaf1da67df629b0da2086ee116e7a.rockstargames-sites-rockstargamesc8d830449553569742d757ae227652a2 img {
  filter: invert()
}

.rockstargames-sites-rockstargamese688ae11bba38a9723018b024df142ee {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a+.rockstargames-sites-rockstargamese688ae11bba38a9723018b024df142ee {
  padding-top: 2rem
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamese688ae11bba38a9723018b024df142ee {
    grid-template-columns: repeat(2, 1fr)
  }
}

.rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  grid-gap: var(--spacing-sm);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-top-bottom) var(--padding-sides);
  padding-bottom: 0;
  padding-top: var(--spacing-md);
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@media (max-width:541px) {
  .rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a {
    justify-content: flex-start;
    overflow-x: auto;
    position: relative
  }

  .rockstargames-sites-rockstargamesb93e4bf01a8e70ce548e30c84e0eb21a:after {
    background: var(--gradient-overlay-right);
    content: "";
    height: 100%;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 2.625rem
  }
}

.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out;
  white-space: nowrap
}

.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a:focus,
.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a.rockstargames-sites-rockstargamesc8d830449553569742d757ae227652a2 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesd74a6f3cae5e6003975cb9113a592a3a.rockstargames-sites-rockstargamesc8d830449553569742d757ae227652a2 img {
  filter: invert()
}

/*# sourceMappingURL=5394e3fda9dad34593c493839d670019.css.map*/