.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all .2s ease
}

.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a:focus,
.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3 {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3 {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3 img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:focus:before,
  .rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a.rockstargames-sites-rockstargamesd340cf27f380a4347994e59544432eb3:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamese056494c33cff1fe89431f279fdb6b9a[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 {
  position: relative
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac {
  background: var(--background-color);
  border-radius: 0 0 var(--image-rounding-static-xs) var(--image-rounding-static-xs);
  box-shadow: 0 0 0 transparent;
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  left: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 5
}

.rockstargames-sites-rockstargamesf5eb88111734e6e70d34ef2b095c44f6.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  max-height: 1007px
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac a {
  display: block;
  flex: 1;
  margin: 5px;
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm);
  width: calc(100% - 10px)
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac a:hover {
  background: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73 {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
  text-transform: uppercase;
  transition: all .2s ease;
  white-space: nowrap;
  width: 100%
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:focus,
.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:focus:before,
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargamesf5eb88111734e6e70d34ef2b095c44f6.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  background-size: 75%;
  right: var(--base-pixel-size);
  width: 30px
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:hover:after {
  filter: invert(1)
}

.rockstargames-sites-rockstargamesed77774d2704bc0ebc0ac156542ae053 {
  color: var(--tag-color, var(--body-color));
  display: inline-block;
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6;
  padding: 0 .75rem 0 0
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  flex-flow: column;
  overflow: hidden;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 {
  animation: globalFadeInUp .75s;
  animation-play-state: paused
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child {
  background: var(--card-background-color);
  border: none;
  border-radius: 0;
  display: grid;
  grid-template-columns: 100%;
  justify-content: flex-start;
  margin-bottom: var(--grid-gap-static-lg);
  margin-left: calc(var(--padding-sides) * 2 / -2);
  margin-top: calc(var(--padding-top-bottom) * -1);
  overflow: hidden;
  position: relative;
  width: 100vw
}

@media (min-width:1125px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child {
    grid-template-columns: 70% 1fr
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child {
    grid-template-columns: 65% 1fr;
    margin-left: calc(((100vw - var(--max-width-static-lg)) + (var(--padding-sides) * 2)) / -2)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child {
    grid-template-columns: 60% 1fr
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475 {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  align-items: center;
  background-size: cover;
  display: none;
  position: relative;
  transition: transform .3s;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475 {
    display: block
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesf88852766488b21a28c42d230ea529a1 {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-size: contain;
  display: block;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesf88852766488b21a28c42d230ea529a1 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesf88852766488b21a28c42d230ea529a1:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesf88852766488b21a28c42d230ea529a1>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesf88852766488b21a28c42d230ea529a1 {
    display: none
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
  display: flex;
  flex-direction: column;
  padding: var(--grid-gap-static-lg) var(--grid-gap-static-md)
}

@media (max-width:1124px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
    grid-gap: var(--grid-gap-static-xs);
    display: grid
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
    grid-gap: var(--grid-gap-static-sm);
    max-width: 1024px
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
    padding: var(--grid-gap-static-lg)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 {
    padding: var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
  font-size: var(--font-size-5)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
    font-size: var(--font-size-6)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
    font-size: var(--font-size-7)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
    font-size: var(--font-size-8)
  }

  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamesfa1a6f4c7d94b94f5af2dc1ac9af79f1 div,
  .rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811:not(.rockstargames-sites-rockstargamesffd167124f27c8e26a147f49c88796e5):first-child .rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 time {
    font-size: var(--font-size-3) !important
  }
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811.rockstargames-sites-rockstargamese380e8c67066df6f33fc018341ea96e5 {
  animation-play-state: running
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 iframe {
  pointer-events: none
}

.rockstargames-sites-rockstargamesa793f470884d207243d6c3caac8ad811 time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  font-weight: 400;
  line-height: 1.6;
  opacity: .65
}

.rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamesfa1a6f4c7d94b94f5af2dc1ac9af79f1 {
  grid-row-gap: vaR(--grid-gap-static-xs);
  display: flex;
  flex-wrap: wrap-reverse
}

.rockstargames-sites-rockstargamesd50f6d2bc5f983c05311292acb4c78a5 .rockstargames-sites-rockstargamescc389449dc1495fc9c323fc2c547857d {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475 {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesbbfbcf32c8c892ea29f4178949643475>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesf903c45f8ecc18bd55f702e202f3763a {
  grid-gap: 1rem;
  align-content: center;
  background: #000;
  display: grid;
  grid-auto-rows: max-content;
  height: 100%;
  justify-items: center;
  padding: .5rem
}

.rockstargames-sites-rockstargamesf903c45f8ecc18bd55f702e202f3763a,
.rockstargames-sites-rockstargamesf903c45f8ecc18bd55f702e202f3763a h1 {
  color: #fff
}

.rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  background-color: var(--black-200);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  color: #000;
  display: grid;
  font-size: 10px;
  margin: 0 auto;
  max-width: 270px;
  padding: var(--padding-sm)
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808.rockstargames-sites-rockstargamescba248edc2520d3f1ad195a8495dc1f8 {
  grid-gap: var(--grid-gap-sm);
  grid-template-columns: 72px 1fr
}

.rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808.rockstargames-sites-rockstargamesff919f7a60b854473b61075a671deb6a {
  max-width: calc(72px + (2 * var(--padding-sm)))
}

.rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808 hr {
  background: var(--white-15);
  border: 0;
  height: 1px;
  margin: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesa1271bbed316bf567eb67e78d2143808 img {
  width: 100%
}

.rockstargames-sites-rockstargamesd47cd2b7c7415cb44cddef00b1c9b35f {
  grid-gap: var(--grid-gap-xs);
  align-content: center;
  display: grid
}

.rockstargames-sites-rockstargamesd47cd2b7c7415cb44cddef00b1c9b35f p {
  color: var(--white-100) !important;
  font-family: var(--font-family-body) !important;
  font-size: 10px !important;
  line-height: 1.25 !important
}

.rockstargames-sites-rockstargamesd47cd2b7c7415cb44cddef00b1c9b35f p:empty {
  display: none !important
}

.rockstargames-sites-rockstargamesd47cd2b7c7415cb44cddef00b1c9b35f a {
  font-weight: 700
}

a.rockstargames-sites-rockstargamesc6739cc628fda235abe2bafeb30ad7cf {
  transition: color .2s ease, opacity .2s ease
}

a.rockstargames-sites-rockstargamesc6739cc628fda235abe2bafeb30ad7cf:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 .rockstargames-sites-rockstargamesab8da127fbcdb98f874bc3f1377669a2 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 .rockstargames-sites-rockstargamesab8da127fbcdb98f874bc3f1377669a2 .rockstargames-sites-rockstargamese84fa4b2b140994c96a13607410d30a3 {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 .rockstargames-sites-rockstargamesab8da127fbcdb98f874bc3f1377669a2 {
  padding: 1.5rem
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 .rockstargames-sites-rockstargamese84fa4b2b140994c96a13607410d30a3 {
  font-size: var(--font-size-3);
  font-weight: 400
}

.rockstargames-sites-rockstargamesec6e68ffa1188155be202dfef3f92829 .rockstargames-sites-rockstargamesab8da127fbcdb98f874bc3f1377669a2 {
  display: var(--video-card-display, block)
}

.rockstargames-sites-rockstargamesa322c3d2275cedd594a3b17800154066 {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  background: #000;
  color: #fff;
  display: flex;
  flex-flow: column;
  flex-shrink: 0;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  position: relative;
  transition: opacity 1s;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesa322c3d2275cedd594a3b17800154066 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesa322c3d2275cedd594a3b17800154066:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesa322c3d2275cedd594a3b17800154066>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesa322c3d2275cedd594a3b17800154066.rockstargames-sites-rockstargamesf68c57f5459778024e5a98918ae61ab2 {
  opacity: 1
}

.rockstargames-sites-rockstargamese84fa4b2b140994c96a13607410d30a3 {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesdebff452a4923aded7de826c081bab5d {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd {
  --aspect-ratio-desktop: 64/79;
  --aspect-ratio-mobile: var(--aspect-ratio-desktop);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  aspect-ratio: var(--aspect-ratio-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  width: 100%
}

.rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd.rockstargames-sites-rockstargamesc3a6d60e0087f92bbf7062fe2f36e200 {
  --aspect-ratio-desktop: 10/3;
  --aspect-ratio-mobile: 16/9
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd {
    aspect-ratio: var(--aspect-ratio-desktop)
  }
}

a.rockstargames-sites-rockstargamesfded54fb94f7325c5a0b57590585b175 {
  box-shadow: 0 0 40px -25px transparent;
  display: flex;
  flex-flow: column;
  transition: transform .3s cubic-bezier(0, 0, .5, 1), box-shadow .3s cubic-bezier(0, 0, .5, 1)
}

a.rockstargames-sites-rockstargamesfded54fb94f7325c5a0b57590585b175:hover {
  box-shadow: 0 30px 40px -25px #000;
  transform: scale(1.025)
}

a.rockstargames-sites-rockstargamesfded54fb94f7325c5a0b57590585b175.rockstargames-sites-rockstargamesa9b41f96042bda8a8c77b7b7b10f84d5 {
  grid-column: 1/-1
}

.rockstargames-sites-rockstargamesce984aeed9e1c477617aafca4e2a361c,
.rockstargames-sites-rockstargamesa0146fc7f6e43f88d5ccba78ecdc6399 {
  grid-gap: var(--standard-grid-gap);
  display: grid
}

.rockstargames-sites-rockstargamesa0146fc7f6e43f88d5ccba78ecdc6399 {
  grid-template-columns: repeat(2, minmax(0, 1fr))
}

.rockstargames-sites-rockstargamesa0146fc7f6e43f88d5ccba78ecdc6399 img {
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%
}

.rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 {
  grid-gap: var(--grid-gap-static-xl);
  display: grid;
  grid-template-areas: "left" "right";
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: unset;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 {
    grid-column-gap: 0;
    grid-template-areas: "left right";
    grid-template-columns: 35% 1fr;
    padding: 0
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 {
    grid-template-columns: 40% 1fr
  }
}

.rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 section {
  width: 100%
}

.rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 section .rockstargames-sites-rockstargamesd3ae0f7bea78620d460ed1de4bfb1546 {
  --line-height-h: 1.3;
  font-family: var(--font-family-h);
  font-size: var(--font-size-5);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-h);
  margin: 0 0 1.5rem
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 section .rockstargames-sites-rockstargamesd3ae0f7bea78620d460ed1de4bfb1546 {
    font-size: var(--font-size-6);
    font-size: var(--font-size-5)
  }
}

.rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 section.rockstargames-sites-rockstargamesae6f169b7d8b535785cbab042d17b2f3,
.rockstargames-sites-rockstargamesf3214996ae18b839cbe8d74436e33569 section.rockstargames-sites-rockstargamesea974aced4784cc236949e23461151c5 {
  display: flex;
  flex-flow: column
}

.rockstargames-sites-rockstargamese117d55b425e388a7f3ef0036fad9045 {
  grid-gap: var(--grid-gap-static-sm);
  display: flex;
  flex-wrap: wrap
}

.rockstargames-sites-rockstargamese117d55b425e388a7f3ef0036fad9045:empty {
  display: none
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamese117d55b425e388a7f3ef0036fad9045 {
    justify-content: space-between
  }
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese117d55b425e388a7f3ef0036fad9045 {
    grid-template-columns: max-content max-content
  }
}

.rockstargames-sites-rockstargamese117d55b425e388a7f3ef0036fad9045 a {
  justify-self: left
}

.rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 {
  grid-gap: var(--grid-gap-static-lg);
  display: flex;
  flex-direction: column
}

.rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327>:last-child {
  border-radius: 0
}

.rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327>:last-child:before {
  display: block
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 {
    background: var(--card-background-color);
    height: -moz-max-content;
    height: max-content;
    justify-content: unset;
    justify-content: flex-start;
    left: 0;
    padding: var(--padding-sides);
    position: sticky;
    top: calc(var(--header-height));
    z-index: 2
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 {
    padding: var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 .rockstargames-sites-rockstargamesb12200c67941853e210bfa8ec2a2151b {
  grid-gap: var(--grid-gap-static-md);
  display: flex;
  flex-direction: column
}

.rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 .rockstargames-sites-rockstargamesd999c131d523164f20bad2d6c322c7b0 {
  font-size: var(--font-size-6)
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 .rockstargames-sites-rockstargamesd999c131d523164f20bad2d6c322c7b0 {
    font-size: var(--font-size-5)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 .rockstargames-sites-rockstargamesd999c131d523164f20bad2d6c322c7b0 {
    font-size: var(--font-size-6)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesad748c74afaaac7ae3742ea01deb9327 .rockstargames-sites-rockstargamesd999c131d523164f20bad2d6c322c7b0 {
    font-size: var(--font-size-7)
  }
}

.rockstargames-sites-rockstargamesce487783cab9e36402d70d80e6d9d778 {
  grid-gap: var(--grid-gap-static-xl);
  align-items: center;
  display: flex;
  flex-flow: column;
  grid-area: right;
  justify-content: center
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesce487783cab9e36402d70d80e6d9d778 {
    align-self: flex-start;
    justify-content: center
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesce487783cab9e36402d70d80e6d9d778 {
    padding: var(--padding-sides)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesce487783cab9e36402d70d80e6d9d778 {
    max-width: 1920px;
    padding: var(--padding-top-bottom) var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesf4370b320e728cb6f2ebfe098d24dd9a,
.rockstargames-sites-rockstargamese1adbaf782c177537eee8ed7acdb33a9 {
  grid-row-gap: var(--padding-top-bottom);
  grid-column-gap: var(--padding-top-bottom);
  grid-gap: var(--standard-grid-gap);
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: var(--grid-gap-static-lg)
}

@media (min-width:768px) {

  .rockstargames-sites-rockstargamesf4370b320e728cb6f2ebfe098d24dd9a,
  .rockstargames-sites-rockstargamese1adbaf782c177537eee8ed7acdb33a9 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

.rockstargames-sites-rockstargamesbb3bcfffbb0324212ca756bbcf0b331d p {
  margin-bottom: var(--grid-gap-static-sm);
  max-width: 800px
}

.rockstargames-sites-rockstargamesa3be2ad0c6089bcc99dc39a07f1c8556 dl {
  grid-column-gap: var(--grid-gap-static-sm);
  display: grid;
  grid-template-columns: 7rem 1fr;
  margin: 0 0 var(--grid-gap-static-sm) 0
}

.rockstargames-sites-rockstargamesa3be2ad0c6089bcc99dc39a07f1c8556 dl.rockstargames-sites-rockstargamesb2e21b26b02b2f01abbfafaa61d2132f {
  display: inline-grid
}

.rockstargames-sites-rockstargamesa3be2ad0c6089bcc99dc39a07f1c8556 dd {
  font-weight: 700;
  margin: 0
}

.rockstargames-sites-rockstargamesbb187beb63c639e6ee81536d2ec853cc {
  grid-gap: 1rem;
  display: grid
}

.rockstargames-sites-rockstargamesf6106c12ee39ddbd58cb459de26ba30f {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/39cb18ab8db8127c2c0b7022ede8b07c.svg) no-repeat 0/contain;
  height: 2rem
}

.rockstargames-sites-rockstargamesb5467f85ce68945b514336a3bc44fd48 a {
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  padding: 1rem
}

/*# sourceMappingURL=5e14cc975a0ef45fe66fad05a9550d48.css.map*/