.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051:focus,
.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051.rockstargames-sites-rockstargamesaf32c1adeafee2cb582196b5e1a74d7e {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesc29b2b868a473fd77a5f4824d8ebf051.rockstargames-sites-rockstargamesaf32c1adeafee2cb582196b5e1a74d7e img {
  filter: invert()
}

.rockstargames-sites-rockstargamesff481c537a56a6fcdb1be85dfbc8944e {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-sites-rockstargamesc90ab7e2d9702e1e823580125ae83856 {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: var(--font-family-h);
  transition: all .3s;
  z-index: 10
}

.rockstargames-sites-rockstargamesc90ab7e2d9702e1e823580125ae83856.rockstargames-sites-rockstargamesd0624dc88a8c5ca33e6b5fb04b6ea9f4 {
  height: 0
}

.rockstargames-sites-rockstargamesd76052c10bb8fdce136cc402afe3f750 {
  display: flex;
  justify-content: center
}

.rockstargames-sites-rockstargamesd76052c10bb8fdce136cc402afe3f750 a:not(:first-child):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%277%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23161616%27 fill-opacity=%27.4%27 fill-rule=%27evenodd%27 d=%27M6.75.313a.2.2 0 0 1 .15.24L1.617 23.804a.2.2 0 0 1-.24.15l-1.181-.268a.2.2 0 0 1-.15-.24L5.328.196a.2.2 0 0 1 .24-.15L6.75.312Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
  content: "";
  display: inline-block;
  filter: var(--breadcrumb-separator-filter-invert, invert(1));
  height: 24px;
  margin: 0 .5rem;
  position: static;
  vertical-align: middle;
  width: 7px
}

@media (min-width:0px) and (max-width:414px) {
  .rockstargames-sites-rockstargamesd76052c10bb8fdce136cc402afe3f750 a:not(:first-child) {
    display: none
  }
}

.rockstargames-sites-rockstargamesd039e1de72c486f4e273d5b796149dcf {
  display: flex;
  font-weight: 700;
  justify-content: flex-end
}

.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be:focus,
.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be.rockstargames-sites-rockstargamesae965e085473c207e9a10acc9a738de8 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesfda4d2bca53039660f62c17d7fd7c0be.rockstargames-sites-rockstargamesae965e085473c207e9a10acc9a738de8 img {
  filter: invert()
}

@font-face {
  font-family: ChaletComprime;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/95ca59e1c2cf140daa8b024c6a139e4c.woff) format("woff")
}

@font-face {
  font-family: RDRLino-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/a0a8cf635f2f27fc761850d82537fd01.woff) format("woff")
}

@font-face {
  font-family: SIGNPAINTER-HOUSESCRIPT;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/c0257a179038b1bb283cadde55a79754.woff) format("woff")
}

.rockstargames-sites-rockstargamesd44f4cd5799ef5a32e7845fd16d4b850 {
  background: var(--background-color)
}

.rockstargames-sites-rockstargamesd44f4cd5799ef5a32e7845fd16d4b850 ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 !important
}

.rockstargames-sites-rockstargamesd44f4cd5799ef5a32e7845fd16d4b850[data-title=v] {
  --font-family-h: ChaletComprime;
  --position-opacity: 0.75;
  --bg-img: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a4552a53cb5a8dcb534bbadad91a2dc.jpg);
  --logo-left: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/810cc0e03ed55fec946f09be5c6835a7.svg);
  --logo-right: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/957df389ecb82872649ee4a2d24cfce8.svg);
  --logo-left-ratio: 1.16230366;
  --logo-right-ratio: 1.01315789
}

.rockstargames-sites-rockstargamesd44f4cd5799ef5a32e7845fd16d4b850[data-title=rdr2] {
  --font-family-h: RDRLino-Regular;
  --position-color: #c00;
  --position-opacity: 1;
  --bg-img: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/9a166befe9687a81dc78d037b632f769.jpg);
  --logo-left: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/65920a68214deec38639190cf9506fd0.svg);
  --logo-right: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/76e71e4362cea80794e0585bb0899a76.svg);
  --logo-left-ratio: 2.77916667;
  --logo-right-ratio: 2.2;
  --foo-left: 667;
  --foo-right: 528;
  --foo-left-fr: (667/1195);
  font-size: 1.11631799fr
}

.rockstargames-sites-rockstargamesea0f134055b31ee8bd57f66171b24c25 {
  background: var(--bg-img) bottom /cover no-repeat;
  color: #fff;
  display: grid;
  min-height: calc(100vh - var(--header-height))
}

@media (min-width:3400px) {
  .rockstargames-sites-rockstargamesea0f134055b31ee8bd57f66171b24c25 {
    height: 75vh
  }
}

.rockstargames-sites-rockstargamesea0f134055b31ee8bd57f66171b24c25[data-game=rdr2] {
  --font-family-std: RDRLino-Regular !important
}

.rockstargames-sites-rockstargamesb8b2665e20837e9d1531b85b0c36a1a3 {
  background: var(--logo-left) no-repeat center /contain
}

.rockstargames-sites-rockstargamese48432108cee6098c5f8444df6c50548 {
  background: var(--logo-right) no-repeat center /contain
}

.rockstargames-sites-rockstargamesb8b2665e20837e9d1531b85b0c36a1a3,
.rockstargames-sites-rockstargamese48432108cee6098c5f8444df6c50548 {
  max-height: 240px
}

[data-title=rdr2] .rockstargames-sites-rockstargamesb8b2665e20837e9d1531b85b0c36a1a3,
[data-title=rdr2] .rockstargames-sites-rockstargamese48432108cee6098c5f8444df6c50548 {
  max-height: 140px
}

.rockstargames-sites-rockstargamese0116d16749fa6aeb274346c2040ab67 {
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: var(--padding-sides);
  grid-gap: var(--grid-gap-static-md);
  align-content: center;
  display: grid;
  height: 100%;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese0116d16749fa6aeb274346c2040ab67 {
    --padding-dynamic: var(--padding-sides);
    --padding-dynamic-tb: var(--grid-gap-static-xl);
    padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamese0116d16749fa6aeb274346c2040ab67 {
    --padding-dynamic: var(--grid-gap-static-xl);
    --padding-dynamic-tb: var(--grid-gap-static-xl);
    grid-gap: var(--grid-gap-static-lg);
    padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
  }
}

.rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d {
  grid-gap: var(--grid-gap-static-lg);
  --logo-size: 30vw;
  --left-logo: calc(var(--logo-size) * var(--logo-left-ratio));
  --right-logo: calc(var(--logo-size) * var(--logo-right-ratio));
  display: grid;
  grid-template-rows: var(--logo-size);
  justify-content: center;
  width: 100%
}

.rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d[data-title=rdr2] {
  grid-template-columns: 1.11631799fr 1fr
}

.rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d[data-title=v] {
  grid-template-columns: 1.07117008fr 1fr
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d {
    --logo-size: 25vw
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d {
    --logo-size: 10rem
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d {
    --logo-size: 11.5rem
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesfdbb15829817568c0c2e3199fc245f1d {
    --logo-size: 13rem
  }
}

.rockstargames-sites-rockstargamesb0eeea201eaf58749c7100a6d1ebf7c0 {
  --font-size-h2: 72px;
  width: 100%
}

.rockstargames-sites-rockstargamesf252c1294611de36b909a5c794c91262 {
  margin: 0 auto !important;
  max-width: 800px;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
  width: 100%
}

.rockstargames-sites-rockstargamesf252c1294611de36b909a5c794c91262[data-title=v] {
  font-weight: 700
}

.rockstargames-sites-rockstargamesf252c1294611de36b909a5c794c91262 a {
  text-decoration: underline !important
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesf252c1294611de36b909a5c794c91262 {
    font-size: var(--font-size-4)
  }
}

.rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 {
  --font-weight-h1: 400;
  --font-size-7: 3.5rem;
  grid-gap: 4rem;
  display: grid;
  font-family: var(--font-family-h);
  padding: 2rem
}

.rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 h1 {
  font-size: 130% !importat;
  margin-bottom: -.525rem !important;
  text-align: center;
  text-transform: uppercase !important
}

.rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 ul {
  grid-gap: 1.5rem;
  display: grid;
  line-height: 1
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 ul {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75vw
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 ul {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70vw
  }
}

.rockstargames-sites-rockstargamesee7dfe680a170c24e12daa53d713f559 li {
  grid-gap: .25rem;
  align-content: flex-start;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center
}

.rockstargames-sites-rockstargamesc4b996811025113be22562b69586bd28 {
  grid-column: 1/-1
}

.rockstargames-sites-rockstargamesf83aebec46890445f8f9e32da5f87dcf {
  font-size: var(--font-size-4);
  text-transform: uppercase
}

.rockstargames-sites-rockstargamese0f2feb6e0f00bac73012396b7cc88b1 {
  color: var(--position-color);
  font-size: var(--font-size-3);
  line-height: 1.1;
  opacity: var(--position-opacity)
}

[data-title=rdr2] .rockstargames-sites-rockstargamese0f2feb6e0f00bac73012396b7cc88b1 {
  font-size: var(--font-size-2)
}

.rockstargames-sites-rockstargamescb86b5c3e7f4d56ebea3f1cdfcf1d005 {
  --font-family-h: SIGNPAINTER-HOUSESCRIPT;
  --font-weight-h2: 400;
  --font-weight-h3: 400;
  --text-transform-h3: uppercase;
  grid-gap: 8rem;
  display: grid;
  justify-items: center;
  padding: 6rem 1rem;
  text-align: center
}

.rockstargames-sites-rockstargamescb86b5c3e7f4d56ebea3f1cdfcf1d005 h2 {
  font-size: 72px !important;
  grid-column: 1/-1
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamescb86b5c3e7f4d56ebea3f1cdfcf1d005 h2 {
    font-size: var(--font-size-h2-mobile) !important
  }
}

.rockstargames-sites-rockstargamescb86b5c3e7f4d56ebea3f1cdfcf1d005 h3 {
  --font-family-h: Chalet;
  font-size: 48px !important;
  text-transform: uppercase
}

.rockstargames-sites-rockstargamescb86b5c3e7f4d56ebea3f1cdfcf1d005 h4 {
  --letter-spacing-h: normal;
  font-size: 42px !important;
  font-weight: 400
}

.rockstargames-sites-rockstargamesacfe2b29bfae063a113593e32bd50874 {
  grid-gap: .5rem;
  display: grid;
  font-family: ChaletComprime;
  font-size: 36px
}

.rockstargames-sites-rockstargamese262f76846296cfec08d0d76a4c8801b {
  grid-gap: 3rem;
  display: grid
}

.rockstargames-sites-rockstargamesbe8350e3adcd5f871a61505541dd920f {
  grid-gap: .5rem;
  display: grid
}

.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7:focus,
.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7.rockstargames-sites-rockstargamesc951b9f5173e8a37be389854c40995ee {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamescb792ef8796eaa09f8b5c1ee0230fcd7.rockstargames-sites-rockstargamesc951b9f5173e8a37be389854c40995ee img {
  filter: invert()
}

.rockstargames-sites-rockstargamesfa91a55e22ad688cba0bc1210eaf4726 {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 1rem 0 var(--black-65)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a {
  --languageSelector-width: max-content;
  --font-family-std: NeueHelveticaPaneuropean, sans-serif;
  --leter-spacing-std: 0;
  font-family: var(--font-family-std);
  font-size: var(--font-size-2);
  max-width: var(--languageSelector-width);
  position: relative
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a,
.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button {
  letter-spacing: var(--leter-spacing-std)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: .5rem
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button span {
  padding-right: calc(var(--grid-gap-static-xs) + 24px);
  position: relative;
  width: var(--languageSelector-width)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button span:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargamesedc598921a872174190475d0ad016d15.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button span:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button i {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM2 12h20%27/%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10v0Z%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--grid-gap-static-xs);
  width: calc(var(--base-pixel-size) * 1.75)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button i:after {
  content: "";
  display: block;
  padding-top: 100%
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a button:focus {
  outline: 1px solid #fff
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a .rockstargames-sites-rockstargamesc4b7087d1fcbaad6967e61b84160ff79 {
  bottom: calc(100% + 6px);
  box-shadow: 0 0 0 transparent;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: all .3s ease-in-out, opacity .1s ease-out;
  width: var(--languageSelector-width);
  z-index: 2
}

.rockstargames-sites-rockstargamesedc598921a872174190475d0ad016d15.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a .rockstargames-sites-rockstargamesc4b7087d1fcbaad6967e61b84160ff79 {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  opacity: 1;
  pointer-events: auto
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] {
  --languageSelector-width: 100%;
  background-color: var(--black-100);
  border-radius: var(--border-radius-md);
  overflow: hidden
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 1rem 0 var(--black-65);
  font-family: var(--font-family-body);
  padding: var(--padding-sm);
  transition: background .3s ease-in-out, border-radius .3s ease-in-out, border .3s ease-in-out;
  width: var(--languageSelector-width)
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button:focus,
.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button:hover {
  background-color: var(--white-15);
  outline: none
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button span {
  font-size: 16px;
  line-height: 25.6px;
  text-align: left
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button span:after {
  right: -.25rem;
  width: 1rem
}

.rockstargames-sites-rockstargamesedc598921a872174190475d0ad016d15.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] button {
    font-size: 16px;
    line-height: 25.6px
  }
}

.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] .rockstargames-sites-rockstargamesc4b7087d1fcbaad6967e61b84160ff79 {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: calc(100% - 6px);
  box-shadow: 0 0 1rem 0 var(--black-65);
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .3s ease-in-out, opacity .1s ease-out
}

.rockstargames-sites-rockstargamesedc598921a872174190475d0ad016d15.rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] .rockstargames-sites-rockstargamesc4b7087d1fcbaad6967e61b84160ff79 {
  height: var(--ls-linkWrapper-opened-height)
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb631f2ce92e4a89f8eddebd32e8ed30a[data-theme=sc-menu] {
    border-radius: var(--border-radius-md)
  }
}

.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 {
  background: var(--background-color);
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  overflow: hidden
}

.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88,
.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a {
  min-width: -moz-max-content;
  min-width: max-content
}

.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a {
  font-family: var(--font-family-std);
  padding: calc(var(--grid-gap-static-xs) * .5) 0;
  padding-left: 0
}

.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:after,
.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:before {
  content: "";
  display: inline-block;
  width: calc(var(--base-pixel-size) * 1.75 + calc(.5rem) + calc(var(--grid-gap-static-xs)))
}

.rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:hover {
  background: #fff;
  color: #161616
}

[data-theme=sc-menu] .rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 {
  background-color: var(--black-100)
}

[data-theme=sc-menu] .rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a {
  font-family: var(--font-family-body);
  font-size: 16px;
  line-height: 25.6px;
  padding: .5rem .5rem .5rem 2.4rem;
  position: relative;
  transition: background .3s ease-in-out, color .3s ease-in-out
}

[data-theme=sc-menu] .rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:before {
  display: none
}

[data-theme=sc-menu] .rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:focus,
[data-theme=sc-menu] .rockstargames-sites-rockstargamesc7d345d5c7e567e0ee75b792d5bdfb88 a:hover {
  background-color: var(--white-15);
  color: var(--body-color);
  outline: none
}

.rockstargames-sites-rockstargamese3e55a10507405de05ae92006ec0d02b {
  position: relative
}

.rockstargames-sites-rockstargamese3e55a10507405de05ae92006ec0d02b:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM2 12h20%27/%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10v0Z%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  left: 1rem
}

.rockstargames-sites-rockstargamese3e55a10507405de05ae92006ec0d02b:after,
.rockstargames-sites-rockstargamese3e55a10507405de05ae92006ec0d02b:before {
  content: "";
  display: block;
  height: 1rem;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(var(--base-pixel-size) * 1.75);
  z-index: 1
}

.rockstargames-sites-rockstargamese3e55a10507405de05ae92006ec0d02b:after {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dd73beaf06cda8c7936703f23f90bd6f.svg) no-repeat 50%/1rem;
  background-size: contain;
  right: .6rem
}

.rockstargames-sites-rockstargamesc646a2bff16ec3003b027857488cd612 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--black-100);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  box-shadow: 0 0 1rem 0 var(--black-65);
  box-shadow: none;
  color: var(--color-body);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  padding: var(--padding-sm);
  position: relative;
  text-indent: 1.5rem;
  width: 100%
}

.rockstargames-sites-rockstargamesbcccd1077d13d7fe1585655e5c5f8363 {
  font-size: 16px
}

.rockstargames-sites-rockstargamesf7f61ab4bc6dd2a49f80662ead7d8a51 {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 {
  grid-row-gap: var(--grid-gap-static-lg);
  background: var(--card-background-color);
  color: var(--body-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--padding-top-bottom) var(--padding-sides)
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 div {
  flex-basis: 50%
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesfdd719ae056828c8d6e0ab71b95026f4:after {
  display: none !important
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff {
  flex-basis: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  order: 0
}

@media (min-width:768px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff {
    align-items: center;
    flex-basis: 70%
  }
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 {
  justify-content: flex-start;
  order: 2
}

@media (min-width:768px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 {
    flex-basis: 70%
  }
}

@media (min-width:1920px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 {
    align-items: center
  }
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesa32f976108d7a8491bcbb000f2450d1a {
  flex: 0;
  order: 1
}

@media (min-width:768px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesa32f976108d7a8491bcbb000f2450d1a {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end
  }
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c {
  justify-content: flex-end;
  order: 3
}

@media (min-width:768px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c {
    flex-basis: 30%
  }
}

footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495 {
  flex-basis: 100%;
  order: 4
}

@media (max-width:1023px) {
  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 {
    grid-row-gap: var(--grid-gap-static-xl);
    padding: var(--grid-gap-static-xl) var(--padding-sides)
  }

  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 div {
    flex-basis: 100%
  }

  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff {
    flex-basis: 50%
  }

  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c {
    justify-content: flex-start;
    order: 2
  }

  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 {
    order: 3
  }

  footer.rockstargames-sites-rockstargamesb09dd7fc17f8fe2828d82a908d4c76a9 .rockstargames-sites-rockstargamesa32f976108d7a8491bcbb000f2450d1a {
    order: 2
  }
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 button {
  text-wrap: nowrap;
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: initial;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: var(--font-size-1);
  margin: 0;
  opacity: .65;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: color .2s ease, opacity .2s ease
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 button:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758,
.rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

@media (max-width:767px) {

  .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758,
  .rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff {
    flex-direction: column
  }
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 a,
.rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff a {
  text-wrap: nowrap;
  transition: color .2s ease, opacity .2s ease
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 a:hover,
.rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff a:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 a[href^=http]:after,
.rockstargames-sites-rockstargamese2dc9e7d2ed91f615f39a77bfac250ff a[href^=http]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3%27/%3E%3C/svg%3E");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 75%;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: var(--grid-gap-static-xs);
  vertical-align: initial;
  width: 1rem
}

@media (max-width:1919px) {
  .rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 {
    flex-direction: column
  }
}

.rockstargames-sites-rockstargamesc21db3bc5f9a4dc9a2ff06df01efc758 a {
  text-wrap: nowrap;
  font-size: var(--font-size-1);
  opacity: .65
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 100%;
  height: calc(var(--base-pixel-size) * 2);
  width: calc(var(--base-pixel-size) * 2)
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesbdc8b41577615151078edf78304154aa {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M21 11.996a9 9 0 1 0-11.174 8.735v-5.984H7.97v-2.75h1.856V10.81c0-3.063 1.386-4.483 4.393-4.483.57 0 1.555.112 1.957.224v2.493a11.549 11.549 0 0 0-1.04-.034c-1.475 0-2.046.56-2.046 2.013v.972h2.94l-.505 2.75H13.09v6.184A9 9 0 0 0 21 11.995Z%27/%3E%3C/svg%3E")
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesbdc8b41577615151078edf78304154aa,
.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamescd4bf392354cdf321691d5c849da8e01 {
  border: 8px solid transparent;
  box-sizing: initial
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamescd4bf392354cdf321691d5c849da8e01 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M11.999 7.377a4.624 4.624 0 1 0 0 9.248 4.624 4.624 0 0 0 0-9.248Zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008Zm4.807-6.719a1.078 1.078 0 1 0 0-2.156 1.078 1.078 0 0 0 0 2.156Z%27/%3E%3Cpath fill=%27%23fff%27 d=%27M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.607 6.607 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.583 6.583 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.616 6.616 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.583 6.583 0 0 0-.421-2.217Zm-1.218 9.532a5.046 5.046 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.99 4.99 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.961 4.961 0 0 1-1.67-.311 2.985 2.985 0 0 1-1.718-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.95-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.99 2.99 0 0 1 1.712 1.712c.197.535.302 1.1.311 1.669.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011v-.001Z%27/%3E%3C/svg%3E")
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesb7cf279144176613f73c2876aac3ed23 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M22.963 6.517A2.863 2.863 0 0 0 20.95 4.5C19.16 4.008 12 4 12 4s-7.158-.008-8.949.462a2.925 2.925 0 0 0-2.018 2.031c-.472 1.79-.476 5.502-.476 5.502s-.005 3.73.464 5.5a2.863 2.863 0 0 0 2.014 2.018c1.808.491 8.948.499 8.948.499s7.16.008 8.949-.46a2.874 2.874 0 0 0 2.019-2.015c.473-1.788.476-5.499.476-5.499s.023-3.731-.465-5.52ZM9.711 15.433l.006-6.856 5.95 3.434-5.956 3.422Z%27/%3E%3C/svg%3E")
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesb659954dea320fdfdd3944fcb0a89e8d,
.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesb7cf279144176613f73c2876aac3ed23 {
  border: 8px solid transparent;
  box-sizing: initial
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesb659954dea320fdfdd3944fcb0a89e8d {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M13.61 11.003 19.634 4h-1.428l-5.23 6.08L8.796 4H3.98l6.317 9.195-6.317 7.343h1.427l5.524-6.42 4.413 6.42h4.818l-6.552-9.535Zm-1.956 2.273-.64-.916-5.093-7.285h2.192l4.11 5.88.641.915 5.343 7.643h-2.193l-4.36-6.237Z%27/%3E%3C/svg%3E")
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a.rockstargames-sites-rockstargamesa694ea3b701e1fcb06893f6f174f5d33 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 fill-rule=%27evenodd%27 d=%27m6.998 3-3.57 3.571V19.43h4.285V23l3.57-3.571h2.857L20.567 13V3H6.998Zm12.14 9.286-2.856 2.857h-2.857l-2.499 2.5v-2.5H7.713V4.429h11.426v7.857Zm-2.142-5.357h-1.428v4.285h1.428V6.93Zm-5.355 0h1.428v4.285H11.64V6.93Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E");
  border: 8px solid transparent;
  box-sizing: initial
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a {
    background-size: 75%
  }
}

.rockstargames-sites-rockstargamesc959853ce1f81d4be07f28591c92503c a:hover {
  background-color: hsla(0, 0%, 100%, .15)
}

.rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495 {
  grid-gap: var(--grid-gap-static-sm);
  color: #fff;
  display: grid;
  font-family: var(--font-family-h);
  font-size: 75%;
  font-weight: 700;
  justify-items: center;
  margin-top: var(--grid-gap-static-md)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495 {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between
  }

  .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495>:first-child,
  .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495>:last-child {
    width: 100%
  }

  .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495>:last-child {
    text-align: right
  }
}

.rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495 .rockstargames-sites-rockstargamese7ffce03c46b70f8b7b4675e284c5970 {
  grid-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesa9bb0bfaf10e8ebdb8661d786df67495 .rockstargames-sites-rockstargamese7ffce03c46b70f8b7b4675e284c5970 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
  }
}

footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191 {
  grid-gap: 1rem;
  background: #000;
  color: #fff;
  display: grid;
  font-size: 75%;
  font-weight: 700;
  justify-items: center;
  padding: var(--padding-top-bottom) var(--padding-sides);
  z-index: 2
}

footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191.rockstargames-sites-rockstargamesa774c32c11812cb72771a2bc436774ee {
  display: none
}

@media (min-width:768px) {
  footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191 {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between
  }

  footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191>:first-child,
  footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191>:last-child {
    width: 100%
  }

  footer.rockstargames-sites-rockstargamesb7aea9dbcc6eb1c65bdfebffb4b54191>:last-child {
    text-align: right
  }
}

.rockstargames-sites-rockstargamese15ec1ee22e9df0619d7e972457de5bf {
  grid-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese15ec1ee22e9df0619d7e972457de5bf {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
  }
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 {
  background: #111;
  border-radius: var(--image-rounding-static-xs);
  display: flex;
  position: relative
}

@media (min-width:768px) {
  form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 {
    min-width: 20rem
  }
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 input {
  background-color: initial;
  border: none;
  color: #fff;
  outline: none;
  padding: var(--grid-gap-static-sm);
  width: 100%
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 input::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, .65);
  font-style: normal;
  letter-spacing: var(--letter-spacing-std)
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 input:-moz-placeholder,
form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 input::-moz-placeholder {
  color: hsla(0, 0%, 100%, .65);
  font-style: normal;
  letter-spacing: var(--letter-spacing-std)
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 input:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, .65);
  font-style: normal;
  letter-spacing: var(--letter-spacing-std)
}

form.rockstargames-sites-rockstargamesb82052ce07e004075e77261c373bfc50 button {
  background-color: initial;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M11 19a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm9.998 2-4.35-4.35%27/%3E%3C/svg%3E");
  background-origin: content-box;
  background-position: 0;
  background-repeat: no-repeat;
  border: none;
  content: "";
  cursor: pointer;
  margin: 0 0 0 var(--grid-gap-static-sm);
  width: 36px
}

body.rockstargames-sites-rockstargamesf4d030ad7c017d6c53519057c0689bc0 {
  -webkit-overflow-scrolling: touch
}

.rockstargames-sites-rockstargamese164223fc0618098d0fa76f053b6b59b {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-position: 50%;
  background-size: cover;
  background: rgba(0, 0, 0, .85);
  border: none;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: var(--privacy-banner-height);
  transform: translateX(calc(-100% - 10px));
  transition: transform .3s ease-in-out;
  width: 100vw;
  z-index: 200
}

.rockstargames-sites-rockstargamese164223fc0618098d0fa76f053b6b59b.rockstargames-sites-rockstargamesf4d030ad7c017d6c53519057c0689bc0 {
  transform: translateX(0)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese164223fc0618098d0fa76f053b6b59b {
    border-right: 1px solid #161616;
    width: -moz-min-content;
    width: min-content
  }
}

.rockstargames-sites-rockstargamesa5ae6c39b7508cde9ec042684752db3f {
  background: transparent;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  transition: background .4s ease-out;
  width: 100vw;
  z-index: 100
}

.rockstargames-sites-rockstargamesf4d030ad7c017d6c53519057c0689bc0~.rockstargames-sites-rockstargamesa5ae6c39b7508cde9ec042684752db3f {
  background: rgba(0, 0, 0, .7);
  pointer-events: all
}

.rockstargames-sites-rockstargamesf4d030ad7c017d6c53519057c0689bc0 .rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 {
  opacity: 1
}

.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 {
  grid-gap: var(--grid-gap-static-sm);
  color: var(--color-h);
  display: grid;
  font-family: var(--font-family-h);
  font-size: var(--font-size-5);
  font-weight: 700;
  grid-auto-rows: max-content;
  margin-bottom: var(--grid-gap-static-md);
  opacity: 0;
  padding-bottom: var(--padding-top-bottom);
  transition: opacity .4s ease-in
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 {
    font-size: var(--font-size-6)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 {
    font-size: var(--font-size-7)
  }
}

.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 a {
  min-width: -moz-max-content;
  min-width: max-content;
  text-decoration: none;
  transition: color .3s ease;
  width: 100%
}

.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 a.rockstargames-sites-rockstargamesf68a3dccd3ec8f47385c88b9a7e25f84,
.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 a:hover {
  color: var(--standard-color)
}

.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56 a[href^=http]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3%27/%3E%3C/svg%3E");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: var(--grid-gap-static-xs);
  vertical-align: initial;
  width: 1rem
}

.rockstargames-sites-rockstargameseac080290fd8ab9ffccc83da9aecd201 {
  grid-gap: var(--grid-gap-static-md);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow-y: auto;
  padding-top: calc(var(--header-height) + var(--grid-gap-static-md))
}

.rockstargames-sites-rockstargamesfef6702786d66922413b85e4c7200f56,
.rockstargames-sites-rockstargamesa57c9419cdcf587ec0f298b73c1da8d9 {
  margin: 0 auto;
  max-width: var(--max-width);
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);
  width: 100%
}

.rockstargames-sites-rockstargamesa57c9419cdcf587ec0f298b73c1da8d9 form {
  background: #111
}

/*# sourceMappingURL=5e5ff5a1dd480c7c9abffb6b66e1aa12.css.map*/