.da5c9e4eca60c874705b {
  background: #fcaf17;
  border: 1px solid #fff;
  border-radius: 8px;
  box-shadow: none;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  left: 50%;
  padding: 20px;
  position: absolute;
  transform: translateY(-100%);
  transition: transform .3s
}

.da5c9e4eca60c874705b:focus {
  border: 1px solid #fff;
  transform: translateY(0);
  z-index: 100
}

.d66078ecc21fc876edca {
  align-items: center;
  color: #fff;
  display: flex;
  font-family: var(--font-family-h);
  transition: all .3s;
  z-index: 10
}

.d66078ecc21fc876edca.e864460048fa56b5d5d9 {
  height: 0
}

.b4b8f1f467f93b7b62e4 {
  display: flex;
  justify-content: center
}

.b4b8f1f467f93b7b62e4 a:not(:first-child):before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%277%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M6.75.313a.2.2 0 0 1 .15.24L1.617 23.804a.2.2 0 0 1-.24.15l-1.181-.268a.2.2 0 0 1-.15-.24L5.328.196a.2.2 0 0 1 .24-.15L6.75.312Z%27 fill=%27%23161616%27 fill-opacity=%27.4%27/%3E%3C/svg%3E");
  content: "";
  display: inline-block;
  filter: var(--breadcrumb-separator-filter-invert, invert(1));
  height: 24px;
  margin: 0 .5rem;
  position: static;
  vertical-align: middle;
  width: 7px
}

@media (min-width:0px) and (max-width:414px) {
  .b4b8f1f467f93b7b62e4 a:not(:first-child) {
    display: none
  }
}

.d6a49923db59e647d2ac {
  display: flex;
  font-weight: 700;
  justify-content: flex-end
}

@font-face {
  font-family: ChaletComprime;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/fonts/0b050e3931bdee7b4e47.woff) format("woff")
}

@font-face {
  font-family: RDRLino-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/fonts/5d64fc45d52e2bdd2d4c.woff) format("woff")
}

@font-face {
  font-family: SIGNPAINTER-HOUSESCRIPT;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/fonts/e5637694d19c5544408e.woff) format("woff")
}

.c07b2ed65fca19c621e0 {
  background: var(--background-color)
}

.c07b2ed65fca19c621e0 ul {
  list-style: none;
  margin: 0 auto;
  padding: 0 !important
}

.c07b2ed65fca19c621e0[data-title=v] {
  --font-family-h: ChaletComprime;
  --position-opacity: 0.75;
  --bg-img: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/ecd5c19e3acac50c5a75.jpg);
  --logo-left: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/31958fc81f4434a889e7.svg);
  --logo-right: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/1cd0b5fd3c9b6c1e0907.svg);
  --logo-left-ratio: 1.16230366;
  --logo-right-ratio: 1.01315789
}

.c07b2ed65fca19c621e0[data-title=rdr2] {
  --font-family-h: RDRLino-Regular;
  --position-color: #c00;
  --position-opacity: 1;
  --bg-img: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/696379cb0b7310ee2a60.jpg);
  --logo-left: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/2f984bfb272ca2ee9ce8.svg);
  --logo-right: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/a9589971326c38b22cd2.svg);
  --logo-left-ratio: 2.77916667;
  --logo-right-ratio: 2.2;
  --foo-left: 667;
  --foo-right: 528;
  --foo-left-fr: (667/1195);
  font-size: 1.11631799fr
}

.e4765147ad7c6364a729 {
  background: var(--bg-img) bottom /cover no-repeat;
  color: #fff;
  display: grid;
  min-height: calc(100vh - var(--header-height))
}

@media (min-width:3400px) {
  .e4765147ad7c6364a729 {
    height: 75vh
  }
}

.e4765147ad7c6364a729[data-game=rdr2] {
  --font-family-std: RDRLino-Regular !important
}

.e78c6fd15fe9a1174cb4 {
  background: var(--logo-left) no-repeat center /contain
}

.c42998f1e8f170f8838f {
  background: var(--logo-right) no-repeat center /contain
}

.e78c6fd15fe9a1174cb4,
.c42998f1e8f170f8838f {
  max-height: 240px
}

[data-title=rdr2] .e78c6fd15fe9a1174cb4,
[data-title=rdr2] .c42998f1e8f170f8838f {
  max-height: 140px
}

.a77548a5e07b708620ad {
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: var(--padding-sides);
  grid-gap: var(--grid-gap-static-md);
  align-content: center;
  display: grid;
  height: 100%;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

@media (min-width:768px) {
  .a77548a5e07b708620ad {
    --padding-dynamic: var(--padding-sides);
    --padding-dynamic-tb: var(--grid-gap-static-xl);
    padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
  }
}

@media (min-width:1920px) {
  .a77548a5e07b708620ad {
    --padding-dynamic: var(--grid-gap-static-xl);
    --padding-dynamic-tb: var(--grid-gap-static-xl);
    grid-gap: var(--grid-gap-static-lg);
    padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
  }
}

.a0ce72b55890f76a22b5 {
  grid-gap: var(--grid-gap-static-lg);
  --logo-size: 30vw;
  --left-logo: calc(var(--logo-size) * var(--logo-left-ratio));
  --right-logo: calc(var(--logo-size) * var(--logo-right-ratio));
  display: grid;
  grid-template-rows: var(--logo-size);
  justify-content: center;
  width: 100%
}

.a0ce72b55890f76a22b5[data-title=rdr2] {
  grid-template-columns: 1.11631799fr 1fr
}

.a0ce72b55890f76a22b5[data-title=v] {
  grid-template-columns: 1.07117008fr 1fr
}

@media (min-width:768px) {
  .a0ce72b55890f76a22b5 {
    --logo-size: 25vw
  }
}

@media (min-width:1024px) {
  .a0ce72b55890f76a22b5 {
    --logo-size: 10rem
  }
}

@media (min-width:1920px) {
  .a0ce72b55890f76a22b5 {
    --logo-size: 11.5rem
  }
}

@media (min-width:2560px) {
  .a0ce72b55890f76a22b5 {
    --logo-size: 13rem
  }
}

.d938226fd75bfeccc0cc {
  --font-size-h2: 72px;
  width: 100%
}

.f4baa7c9e33b6836a685 {
  margin: 0 auto !important;
  max-width: 800px;
  text-align: center;
  text-shadow: 2px 2px 6px #000;
  width: 100%
}

.f4baa7c9e33b6836a685[data-title=v] {
  font-weight: 700
}

.f4baa7c9e33b6836a685 a {
  text-decoration: underline !important
}

@media (min-width:768px) {
  .f4baa7c9e33b6836a685 {
    font-size: var(--font-size-4)
  }
}

.ac1b38ff6e67b0beefe5 {
  --font-weight-h1: 400;
  --font-size-7: 3.5rem;
  grid-gap: 4rem;
  display: grid;
  font-family: var(--font-family-h);
  padding: 2rem
}

.ac1b38ff6e67b0beefe5 h1 {
  font-size: 130% !importat;
  margin-bottom: -.525rem !important;
  text-align: center;
  text-transform: uppercase !important
}

.ac1b38ff6e67b0beefe5 ul {
  grid-gap: 1.5rem;
  display: grid;
  line-height: 1
}

@media (min-width:768px) {
  .ac1b38ff6e67b0beefe5 ul {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75vw
  }
}

@media (min-width:1024px) {
  .ac1b38ff6e67b0beefe5 ul {
    grid-template-columns: repeat(3, 1fr);
    max-width: 70vw
  }
}

.ac1b38ff6e67b0beefe5 li {
  grid-gap: .25rem;
  align-content: flex-start;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center
}

.ff3d94ece3b9ef692ac0 {
  grid-column: 1/-1
}

.d7f647444651c6fce61b {
  font-size: var(--font-size-4);
  text-transform: uppercase
}

.f290b96e3db8eb329493 {
  color: var(--position-color);
  font-size: var(--font-size-3);
  line-height: 1.1;
  opacity: var(--position-opacity)
}

[data-title=rdr2] .f290b96e3db8eb329493 {
  font-size: var(--font-size-2)
}

.cc9341b097fa77c7994e {
  --font-family-h: SIGNPAINTER-HOUSESCRIPT;
  --font-weight-h2: 400;
  --font-weight-h3: 400;
  --text-transform-h3: uppercase;
  grid-gap: 8rem;
  display: grid;
  justify-items: center;
  padding: 6rem 1rem;
  text-align: center
}

.cc9341b097fa77c7994e h2 {
  font-size: 72px !important;
  grid-column: 1/-1
}

@media (max-width:767px) {
  .cc9341b097fa77c7994e h2 {
    font-size: var(--font-size-h2-mobile) !important
  }
}

.cc9341b097fa77c7994e h3 {
  --font-family-h: Chalet;
  font-size: 48px !important;
  text-transform: uppercase
}

.cc9341b097fa77c7994e h4 {
  --letter-spacing-h: normal;
  font-size: 42px !important;
  font-weight: 400
}

.e266e79c67ec9931cca1 {
  grid-gap: .5rem;
  display: grid;
  font-family: ChaletComprime;
  font-size: 36px
}

.bd995b9c9192e418a156 {
  grid-gap: 3rem;
  display: grid
}

.b2e6df498b9b13e29968 {
  grid-gap: .5rem;
  display: grid
}

.ab2e3bf0a18721c0132d {
  position: relative
}

.ab2e3bf0a18721c0132d button {
  align-items: center;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0
}

.ab2e3bf0a18721c0132d button span {
  padding-right: calc(var(--grid-gap-static-xs) + 24px);
  position: relative;
  width: -moz-max-content;
  width: max-content
}

.ab2e3bf0a18721c0132d button span:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m6 9 6 6 6-6%27 stroke=%27%23fff%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.c899ada4ccfb1e0b6a40.ab2e3bf0a18721c0132d button span:after {
  transform: rotate(180deg)
}

.ab2e3bf0a18721c0132d button i {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10ZM2 12h20%27 stroke=%27%23fff%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3Cpath d=%27M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10v0Z%27 stroke=%27%23fff%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: var(--grid-gap-static-xs);
  width: calc(var(--base-pixel-size) * 1.75)
}

.ab2e3bf0a18721c0132d button i:after {
  content: "";
  display: block;
  padding-top: 100%
}

.ab2e3bf0a18721c0132d .e1dd165b83c3c26f374f {
  bottom: calc(100% + 4px);
  box-shadow: 0 0 0 transparent;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition: all .3s ease-in-out, opacity .1s ease-out
}

@media (max-width:767px) {
  .ab2e3bf0a18721c0132d .e1dd165b83c3c26f374f {
    left: 25%
  }
}

.c899ada4ccfb1e0b6a40.ab2e3bf0a18721c0132d .e1dd165b83c3c26f374f {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  opacity: 1;
  pointer-events: auto
}

.ca45261b340ce8994f8a {
  background: var(--background-color);
  border-radius: var(--image-rounding-static-xs);
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  overflow: hidden
}

.ca45261b340ce8994f8a,
.ca45261b340ce8994f8a a {
  min-width: -moz-max-content;
  min-width: max-content
}

.ca45261b340ce8994f8a a {
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm)
}

.ca45261b340ce8994f8a a:hover {
  background: var(--standard-color);
  color: #161616
}

footer.ecbbc05fd3faa36dba4a {
  grid-row-gap: var(--grid-gap-static-lg);
  background: var(--card-background-color);
  color: var(--body-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--padding-top-bottom) var(--padding-sides)
}

footer.ecbbc05fd3faa36dba4a div {
  flex-basis: 50%
}

footer.ecbbc05fd3faa36dba4a .e44b26d66ba891a4d80e {
  justify-content: flex-start;
  order: 0
}

footer.ecbbc05fd3faa36dba4a .d0e946a638ab5a428656 {
  justify-content: flex-start;
  order: 2
}

footer.ecbbc05fd3faa36dba4a .d9cc5285f787ce8e53ae {
  flex: 0;
  order: 1
}

footer.ecbbc05fd3faa36dba4a .e6baf472ef8443dc591b {
  justify-content: flex-end;
  order: 3
}

footer.ecbbc05fd3faa36dba4a .ee46bac0c9bc4ec4f375 {
  flex-basis: 100%;
  order: 4
}

@media (max-width:767px) {
  footer.ecbbc05fd3faa36dba4a {
    grid-row-gap: var(--grid-gap-static-xl);
    padding: var(--grid-gap-static-xl) var(--padding-sides)
  }

  footer.ecbbc05fd3faa36dba4a div {
    flex-basis: 100%
  }

  footer.ecbbc05fd3faa36dba4a .e44b26d66ba891a4d80e {
    flex-basis: 50%
  }

  footer.ecbbc05fd3faa36dba4a .e6baf472ef8443dc591b {
    justify-content: flex-start;
    order: 2
  }

  footer.ecbbc05fd3faa36dba4a .d0e946a638ab5a428656 {
    order: 3
  }

  footer.ecbbc05fd3faa36dba4a .d9cc5285f787ce8e53ae {
    order: 2
  }
}

.d0e946a638ab5a428656,
.e44b26d66ba891a4d80e {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

@media (max-width:767px) {

  .d0e946a638ab5a428656,
  .e44b26d66ba891a4d80e {
    flex-direction: column
  }
}

.d0e946a638ab5a428656 a,
.e44b26d66ba891a4d80e a {
  transition: color .2s ease, opacity .2s ease
}

.d0e946a638ab5a428656 a:hover,
.e44b26d66ba891a4d80e a:hover {
  color: var(--standard-color);
  opacity: 1
}

.d0e946a638ab5a428656 a[href^=http]:after,
.e44b26d66ba891a4d80e a[href^=http]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3%27 stroke=%27%23fff%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 75%;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: var(--grid-gap-static-xs);
  vertical-align: initial;
  width: 1rem
}

@media (max-width:1023px) {
  .d0e946a638ab5a428656 {
    flex-direction: column
  }
}

.d0e946a638ab5a428656 a {
  font-size: var(--font-size-1);
  opacity: .65
}

.e6baf472ef8443dc591b {
  grid-gap: var(--grid-gap-static-md);
  display: flex
}

.e6baf472ef8443dc591b a {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: calc(var(--base-pixel-size) * 2);
  width: calc(var(--base-pixel-size) * 2)
}

.e6baf472ef8443dc591b a:hover {
  filter: brightness(0) saturate(100%) invert(76%) sepia(15%) saturate(5173%) hue-rotate(348deg) brightness(105%) contrast(98%)
}

.e6baf472ef8443dc591b a.d2a8143fa921032dabae {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127c-.82-.088-1.643-.13-2.467-.127-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

.e6baf472ef8443dc591b a.b2ee25d5c3fb319beb35 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M11.999 7.377a4.624 4.624 0 1 0 0 9.248 4.624 4.624 0 0 0 0-9.248Zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008Zm4.806-6.719a1.078 1.078 0 1 0 0-2.156 1.078 1.078 0 0 0 0 2.156Z%27 fill=%27%23fff%27/%3E%3Cpath d=%27M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.607 6.607 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.583 6.583 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.616 6.616 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.583 6.583 0 0 0-.421-2.217Zm-1.218 9.532a5.046 5.046 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.99 4.99 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.961 4.961 0 0 1-1.67-.311 2.985 2.985 0 0 1-1.718-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.95-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.99 2.99 0 0 1 1.712 1.712c.197.535.302 1.1.311 1.669.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011v-.001Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

.e6baf472ef8443dc591b a.df0dfd940893eed27b7e {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766c-1.566-.43-7.83-.437-7.83-.437s-6.265-.007-7.832.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831ZM9.996 15.005l.005-6 5.207 3.005-5.212 2.995Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

.e6baf472ef8443dc591b a.d58d5f701d3b06b9ff74 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.026 4.026 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.021 4.021 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.024 4.024 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973c-.3.93-.93 1.72-1.771 2.22a8.073 8.073 0 0 0 2.319-.624 8.646 8.646 0 0 1-2.019 2.083Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

.e6baf472ef8443dc591b a.d3847882a8850df2d293 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M4.265 3 3 6.236v13.223h4.502V21l2.531.85 2.392-2.391h3.658l4.923-4.924V3H4.265Zm15.052 10.691-2.813 2.814h-4.502l-2.391 2.391v-2.391H5.813V4.688h13.504v9.003Zm-2.812-5.767v4.923h-1.688V7.924h1.688Zm-4.502 0v4.923h-1.688V7.924h1.688Z%27 fill=%27%23fff%27/%3E%3C/svg%3E")
}

@media (max-width:767px) {
  .e6baf472ef8443dc591b a {
    background-size: 75%
  }
}

.ee46bac0c9bc4ec4f375 {
  grid-gap: var(--grid-gap-static-sm);
  color: #fff;
  display: grid;
  font-family: var(--font-family-h);
  font-size: 75%;
  font-weight: 700;
  justify-items: center;
  margin-top: var(--grid-gap-static-md)
}

@media (min-width:768px) {
  .ee46bac0c9bc4ec4f375 {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between
  }

  .ee46bac0c9bc4ec4f375>:first-child,
  .ee46bac0c9bc4ec4f375>:last-child {
    width: 100%
  }

  .ee46bac0c9bc4ec4f375>:last-child {
    text-align: right
  }
}

.ee46bac0c9bc4ec4f375 .d8bee1cef3aca55c2baa {
  grid-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center
}

@media (min-width:768px) {
  .ee46bac0c9bc4ec4f375 .d8bee1cef3aca55c2baa {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
  }
}

footer.c66421b47ad45455dfb2 {
  grid-gap: 1rem;
  background: #000;
  color: #fff;
  display: grid;
  font-size: 75%;
  font-weight: 700;
  justify-items: center;
  padding: var(--padding-top-bottom) var(--padding-sides);
  z-index: 2
}

footer.c66421b47ad45455dfb2.b3e4d7fbda382c75e905 {
  display: none
}

@media (min-width:768px) {
  footer.c66421b47ad45455dfb2 {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between
  }

  footer.c66421b47ad45455dfb2>:first-child,
  footer.c66421b47ad45455dfb2>:last-child {
    width: 100%
  }

  footer.c66421b47ad45455dfb2>:last-child {
    text-align: right
  }
}

.ae62e3bd463d4ba42fa5 {
  grid-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center
}

@media (min-width:768px) {
  .ae62e3bd463d4ba42fa5 {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
  }
}

body.e029674651c019a50f11 {
  -webkit-overflow-scrolling: touch
}

.ab6a2621d310cc5aa5fd {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background-position: 50%;
  background-size: cover;
  background: rgba(0, 0, 0, .85);
  border: none;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: var(--privacy-banner-height);
  transform: translateX(calc(-100% - 10px));
  transition: transform .3s ease-in-out;
  width: 100vw;
  z-index: 200
}

.ab6a2621d310cc5aa5fd.e029674651c019a50f11 {
  transform: translateX(0)
}

@media (min-width:768px) {
  .ab6a2621d310cc5aa5fd {
    border-right: 1px solid #161616;
    width: -moz-min-content;
    width: min-content
  }
}

.be70dc914c76529cea45 {
  background: transparent;
  height: 100vh;
  pointer-events: none;
  position: fixed;
  transition: background .4s ease-out;
  width: 100vw;
  z-index: 100
}

.e029674651c019a50f11~.be70dc914c76529cea45 {
  background: rgba(0, 0, 0, .7);
  pointer-events: all
}

.e029674651c019a50f11 .cc3f6ea321e1707fa0eb {
  opacity: 1
}

.cc3f6ea321e1707fa0eb {
  grid-gap: var(--grid-gap-static-sm);
  color: var(--color-h);
  display: grid;
  font-family: var(--font-family-h);
  font-size: var(--font-size-5);
  font-weight: 700;
  grid-auto-rows: max-content;
  margin-bottom: var(--grid-gap-static-md);
  opacity: 0;
  padding-bottom: var(--padding-top-bottom);
  transition: opacity .4s ease-in
}

@media (min-width:1920px) {
  .cc3f6ea321e1707fa0eb {
    font-size: var(--font-size-6)
  }
}

@media (min-width:2560px) {
  .cc3f6ea321e1707fa0eb {
    font-size: var(--font-size-7)
  }
}

.cc3f6ea321e1707fa0eb a {
  min-width: -moz-max-content;
  min-width: max-content;
  text-decoration: none;
  transition: color .3s ease;
  width: 100%
}

.cc3f6ea321e1707fa0eb a.f838ca03c1c58ff6578c,
.cc3f6ea321e1707fa0eb a:hover {
  color: var(--standard-color)
}

.cc3f6ea321e1707fa0eb a[href^=http]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2724%27 height=%2724%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3%27 stroke=%27%23fff%27 stroke-width=%272%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27/%3E%3C/svg%3E");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: var(--grid-gap-static-xs);
  vertical-align: initial;
  width: 1rem
}

.ff7185c4155fa032f25a {
  grid-gap: var(--grid-gap-static-md);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow-y: auto;
  padding-top: calc(var(--header-height) + var(--grid-gap-static-md))
}

.cc3f6ea321e1707fa0eb,
.a53d5435910c93787e42 {
  margin: 0 auto;
  max-width: var(--max-width);
  padding-left: var(--padding-sides);
  padding-right: var(--padding-sides);
  width: 100%
}

.a53d5435910c93787e42 form {
  background: #111
}

.c88e3bf2c5a3eea47de1 {
  align-items: stretch;
  border: none;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 74px 1fr;
  grid-template-rows: 100%;
  height: var(--header-height);
  justify-content: space-between;
  padding: var(--base-pixel-size) var(--padding-sides);
  position: fixed;
  top: var(--privacy-banner-height);
  transform: translateY(0);
  transition: transform .3s;
  width: 100%;
  z-index: 250
}

.c88e3bf2c5a3eea47de1.d47f3266f70158f40c19 {
  transform: translateY(-100%)
}

.c88e3bf2c5a3eea47de1.de5fe6dbf601131bf572 {
  display: none
}

.c88e3bf2c5a3eea47de1.e40a03373925b1f43678 {
  transform: translateY(-100%)
}

.ac8debfb2b628b833f4c a {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%
}

.ac8debfb2b628b833f4c a .f093360455b13454b6bb,
.ac8debfb2b628b833f4c a .a3664df75f1e5452d7d8 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity .3s;
  width: 100%
}

.ac8debfb2b628b833f4c a .f093360455b13454b6bb.edee6ccaf0d7182160ee,
.ac8debfb2b628b833f4c a .a3664df75f1e5452d7d8.edee6ccaf0d7182160ee {
  opacity: 1
}

.ac8debfb2b628b833f4c a .a3664df75f1e5452d7d8 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.83%27%3E%3Cg data-name=%27Layer 2%27%3E%3Cg data-name=%27Layer 1%27%3E%3Cpath d=%27M214.55 197.37a4.94 4.94 0 1 1 1.45-3.5 4.75 4.75 0 0 1-1.45 3.5Zm-6.52-6.5a4.27 4.27 0 0 0 0 6 4.25 4.25 0 0 0 6 0 4.26 4.26 0 0 0-6-6Zm2.92.27a4.24 4.24 0 0 1 1.5.2 1.36 1.36 0 0 1 .84 1.38 1.17 1.17 0 0 1-.53 1.08 2.45 2.45 0 0 1-.78.26 1.32 1.32 0 0 1 .93.52 1.57 1.57 0 0 1 .3.84v.8a1.2 1.2 0 0 0 0 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.43Zm1 .89a2.38 2.38 0 0 0-1.16-.2H210v1.94h.87a2.48 2.48 0 0 0 .93-.13.94.94 0 0 0 .2-1.64Z%27/%3E%3Cpath d=%27M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86Z%27 style=%27fill:%23fcaf17%27/%3E%3Cpath d=%27M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 0 1-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93ZM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Z%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}

.ac8debfb2b628b833f4c a .f093360455b13454b6bb {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.62%27%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff}%3C/style%3E%3C/defs%3E%3Cg id=%27Layer_2%27 data-name=%27Layer 2%27%3E%3Cg id=%27Layer_1-2%27 data-name=%27Layer 1%27%3E%3Cpath class=%27cls-1%27 d=%27M213.22 196.01c0-.14-.01-.28-.01-.41v-.39a1.565 1.565 0 0 0-.3-.84 1.316 1.316 0 0 0-.93-.52 2.222 2.222 0 0 0 .78-.26 1.172 1.172 0 0 0 .53-1.08 1.34 1.34 0 0 0-.84-1.37 4.018 4.018 0 0 0-1.5-.2h-1.9v5.42h.95v-2.12h.77a2.45 2.45 0 0 1 1.07.17 1.312 1.312 0 0 1 .52 1.24v.43l.02.16c0 .03.01.05.01.07s.01.04.01.05h.89l-.04-.07a1.2 1.2 0 0 1-.03-.28Zm-1.42-2.58a2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.942.942 0 0 1-.19 1.61Zm1.42 2.58c0-.14-.01-.28-.01-.41v-.39a1.565 1.565 0 0 0-.3-.84 1.316 1.316 0 0 0-.93-.52 2.222 2.222 0 0 0 .78-.26 1.172 1.172 0 0 0 .53-1.08 1.34 1.34 0 0 0-.84-1.37 4.018 4.018 0 0 0-1.5-.2h-1.9v5.42h.95v-2.12h.77a2.45 2.45 0 0 1 1.07.17 1.312 1.312 0 0 1 .52 1.24v.43l.02.16c0 .03.01.05.01.07s.01.04.01.05h.89l-.04-.07a1.2 1.2 0 0 1-.03-.28Zm-1.42-2.58a2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.942.942 0 0 1-.19 1.61Zm2.75-3.26a4.943 4.943 0 0 0-6.99 6.99 4.913 4.913 0 0 0 6.99 0 4.937 4.937 0 0 0 0-6.99Zm-.48 6.51a4.264 4.264 0 1 1-3.02-7.27 4.271 4.271 0 0 1 3.02 7.27Zm-.78-4.17a1.34 1.34 0 0 0-.84-1.37 4.018 4.018 0 0 0-1.5-.2h-1.9v5.42h.95v-2.12h.77a2.45 2.45 0 0 1 1.07.17 1.312 1.312 0 0 1 .52 1.24v.43l.02.16c0 .03.01.05.01.07s.01.04.01.05h.89l-.04-.07a1.2 1.2 0 0 1-.03-.28c0-.14-.01-.28-.01-.41v-.39a1.565 1.565 0 0 0-.3-.84 1.316 1.316 0 0 0-.93-.52 2.222 2.222 0 0 0 .78-.26 1.172 1.172 0 0 0 .53-1.08Zm-1.49.92a2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.942.942 0 0 1-.19 1.61Zm1.42 2.58c0-.14-.01-.28-.01-.41v-.39a1.565 1.565 0 0 0-.3-.84 1.316 1.316 0 0 0-.93-.52 2.222 2.222 0 0 0 .78-.26 1.172 1.172 0 0 0 .53-1.08 1.34 1.34 0 0 0-.84-1.37 4.018 4.018 0 0 0-1.5-.2h-1.9v5.42h.95v-2.12h.77a2.45 2.45 0 0 1 1.07.17 1.312 1.312 0 0 1 .52 1.24v.43l.02.16c0 .03.01.05.01.07s.01.04.01.05h.89l-.04-.07a1.2 1.2 0 0 1-.03-.28Zm-1.42-2.58a2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.942.942 0 0 1-.19 1.61Zm1.42 2.58c0-.14-.01-.28-.01-.41v-.39a1.565 1.565 0 0 0-.3-.84 1.316 1.316 0 0 0-.93-.52 2.222 2.222 0 0 0 .78-.26 1.172 1.172 0 0 0 .53-1.08 1.34 1.34 0 0 0-.84-1.37 4.018 4.018 0 0 0-1.5-.2h-1.9v5.42h.95v-2.12h.77a2.45 2.45 0 0 1 1.07.17 1.312 1.312 0 0 1 .52 1.24v.43l.02.16c0 .03.01.05.01.07s.01.04.01.05h.89l-.04-.07a1.2 1.2 0 0 1-.03-.28Zm-1.42-2.58a2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.942.942 0 0 1-.19 1.61Z%27/%3E%3Cpath d=%27M214.07 190.66a4.264 4.264 0 0 0-6.04 6.02 4.249 4.249 0 0 0 6.04 0 4.3 4.3 0 0 0 0-6.02Zm-1.16 3.71a1.565 1.565 0 0 1 .3.84v.39c0 .13.01.27.01.41a1.2 1.2 0 0 0 .03.28l.04.07h-.89c0-.01 0-.04-.01-.05s-.01-.04-.01-.07l-.02-.16v-.43a1.312 1.312 0 0 0-.52-1.24 2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.42h1.9a4.018 4.018 0 0 1 1.5.2 1.34 1.34 0 0 1 .84 1.37 1.172 1.172 0 0 1-.53 1.08 2.222 2.222 0 0 1-.78.26 1.316 1.316 0 0 1 .93.52Z%27/%3E%3Cpath d=%27M212.36 192.6a.8.8 0 0 1-.56.83 2.484 2.484 0 0 1-.93.13H210v-1.94h.83a2.383 2.383 0 0 1 1.16.2.792.792 0 0 1 .37.78Z%27/%3E%3Cpath class=%27cls-1%27 d=%27M178.43 0H38.26C17.17 0 0 16.65 0 37.11v124.51c0 20.75 16.65 37 37.92 37h140.16c21.26 0 37.92-16.25 37.92-37V37.11C216 16.3 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.74-33.66 32.74H37.92c-18.88 0-33.67-14.38-33.67-32.74V37.1c0-18.42 14.95-32.85 34.01-32.85h140.17c18.68 0 33.31 14.43 33.31 32.85Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26C19.2 4.25 4.25 18.68 4.25 37.1v124.52c0 18.36 14.79 32.74 33.67 32.74h140.16c18.88 0 33.66-14.38 33.66-32.74V37.1c0-18.42-14.63-32.85-33.31-32.85Zm-17.36 131.04 3.95 26.94-21.16-16.26-28.39 16.87 13.27-28.55s-15.43-16.27-15.43-16.28c-1.03-1.39-1.38-4.96-1.38-6.49 0-4.15.56-8.42.56-13.82 0-7.08-3.1-10.79-10.67-10.79H87.63l-6.18 29.25H60.11l16.97-80.39h40.18c14.93 0 26.32 3.71 26.32 20.84 0 12.05-5.87 20.62-18.81 22.41v.23c6.09 1.47 8.37 5.63 8.37 13.39 0 5.85-.34 10.34-.34 14.95a23.135 23.135 0 0 0 2.52 10.42h2.96l15.86-26.79 4.29 26.98h27.06Z%27/%3E%3Cpath class=%27cls-1%27 d=%27M185.49 118.2h-27.06l-4.29-26.98-15.86 26.79h-2.96a23.135 23.135 0 0 1-2.52-10.42c0-4.61.34-9.1.34-14.95 0-7.76-2.28-11.92-8.37-13.39v-.23c12.94-1.79 18.81-10.36 18.81-22.41 0-17.13-11.39-20.84-26.32-20.84H77.08l-16.97 80.39h21.34l6.18-29.25h14.19c7.57 0 10.67 3.71 10.67 10.79 0 5.4-.56 9.67-.56 13.82 0 1.53.35 5.1 1.38 6.49 0 .01 15.43 16.28 15.43 16.28l-13.27 28.55 28.39-16.87 21.16 16.26-3.95-26.94ZM108.2 71.86H91.23l4.07-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Zm35.96 69.37-19.78 11.74 9.05-19.44-11.01-11.59h18.11l11.44-19.34 3.11 19.53h17.96l-16.2 11.33 2.9 19.75Z%27/%3E%3Cpath d=%27m156.84 133.46 2.9 19.75-15.58-11.98-19.78 11.74 9.05-19.44-11.01-11.59h18.11l11.44-19.34 3.11 19.53h17.96l-16.2 11.33zm-34.29-72.64c0 8.67-6.65 11.04-14.35 11.04H91.23l4.07-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34Z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E")
}

.eb89905202a9ce235483 {
  display: flex;
  justify-content: flex-end
}

.b87c9cb79dc665de220b {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, .85);
  border: none;
  height: 100%;
  top: 0;
  z-index: -1
}

.b87c9cb79dc665de220b,
.bd84e6c23181dcddf241 {
  left: 0;
  position: absolute;
  width: 100%
}

.bd84e6c23181dcddf241 {
  background-color: #161616;
  bottom: 0;
  height: 2px;
  transition: all .3s
}

.bd84e6c23181dcddf241.bb09144de38feaa10e6d {
  background-color: var(--standard-color)
}

.f03aa693d57989d2268d {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

.a69f93a42729f8a8c895 a {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  outline: none;
  position: relative;
  width: 24px
}

.a69f93a42729f8a8c895 a span {
  background: #fff;
  border-radius: 1rem;
  height: 2px;
  position: absolute;
  transform-origin: left center;
  transition: .2s;
  width: 100%
}

.a69f93a42729f8a8c895 a span:first-child {
  transform: translateY(-400%)
}

.a69f93a42729f8a8c895 a span:last-child {
  transform: translateY(400%)
}

.c88e3bf2c5a3eea47de1.c9b3960def8d1c6e2ba0 .a69f93a42729f8a8c895 a span {
  background: #fff
}

.c88e3bf2c5a3eea47de1.c9b3960def8d1c6e2ba0 .a69f93a42729f8a8c895 a span:first-child,
.c88e3bf2c5a3eea47de1.c9b3960def8d1c6e2ba0 .a69f93a42729f8a8c895 a span:last-child {
  transform: translateY(0)
}