.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026:focus,
.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026.rockstargames-sites-rockstargamesafa34f9c322624ce348b44689030024a {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesad02e55dce6b935162a9ca7a802b8026.rockstargames-sites-rockstargamesafa34f9c322624ce348b44689030024a img {
  filter: invert()
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878,
.rockstargames-sites-rockstargamesa6b96f1aa331851eea3b9fad5cb04a8f {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.rockstargames-sites-rockstargamesc0e4a01d8eeef3f28aaaeea0249d53e8 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr))
}

section.rockstargames-sites-rockstargamescdc8dd93ce6946707dab221c0a16845e {
  grid-gap: var(--grid-gap-static-md);
  display: grid;
  margin: 0 auto var(--grid-gap-static-md);
  max-width: var(--max-width-static);
  text-align: center
}

section.rockstargames-sites-rockstargamescdc8dd93ce6946707dab221c0a16845e .rockstargames-sites-rockstargamesdb7089be3c829293f97a953a4211ae13 {
  grid-gap: var(--grid-gap-static-sm);
  display: grid
}

section.rockstargames-sites-rockstargamescdc8dd93ce6946707dab221c0a16845e h4 {
  opacity: .65
}

section.rockstargames-sites-rockstargamesa72fe9961d3a58ad57509263ccc9668e,
section.rockstargames-sites-rockstargamescdc8dd93ce6946707dab221c0a16845e h1 {
  text-transform: capitalize
}

section.rockstargames-sites-rockstargamesa72fe9961d3a58ad57509263ccc9668e {
  font-size: var(--font-size-3);
  font-weight: 700;
  margin-bottom: var(--grid-gap-static-lg);
  text-align: center
}

section.rockstargames-sites-rockstargamesa72fe9961d3a58ad57509263ccc9668e a:not(:last-child) {
  margin-right: var(--base-rem-size)
}

section.rockstargames-sites-rockstargamesa72fe9961d3a58ad57509263ccc9668e a span {
  font-size: 80%;
  font-weight: 400;
  vertical-align: top
}

section.rockstargames-sites-rockstargamesa72fe9961d3a58ad57509263ccc9668e a.rockstargames-sites-rockstargamesbd51c8a3e1ef36541ede6a6f86a73fbb {
  color: var(--standard-color)
}

section.rockstargames-sites-rockstargamesc024862ad35278cedeff9669a4045d22 {
  text-align: center
}

section.rockstargames-sites-rockstargamesc024862ad35278cedeff9669a4045d22:empty {
  display: none
}

section.rockstargames-sites-rockstargamesb6a41ef752e979cced54d95e69679ae9 {
  margin-bottom: var(--section-margin-bottom)
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --font-family-h: HelveticaNowText;
  grid-gap: 1.25rem;
  display: grid;
  margin-top: 6.25rem;
  padding-top: 3rem
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@media screen and (min-width:1024px) {
  .rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 {
    --font-family-h: HelveticaNowDisplayBold;
    grid-gap: var(--grid-gap-md);
    margin-top: 0
  }
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb54a20d6c2a28171fc3b24fa6d2df86f {
  align-items: flex-start;
  display: flex;
  flex-direction: row
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb54a20d6c2a28171fc3b24fa6d2df86f h4 {
  color: var(--white-65, hsla(0, 0%, 100%, .65)) !important;
  font-weight: 400
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb54a20d6c2a28171fc3b24fa6d2df86f span.rockstargames-sites-rockstargamesc396a7460982460f718f495155de8358 {
  text-transform: capitalize
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb54a20d6c2a28171fc3b24fa6d2df86f span {
  color: var(--white-100);
  font-weight: 700
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb408f6bebfeb1b3462c8dabcb36e0d9b {
  grid-gap: var(--grid-gap-sm);
  align-items: center;
  display: flex;
  flex-direction: column
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb408f6bebfeb1b3462c8dabcb36e0d9b h4 {
  color: var(--white-100);
  font-weight: 700
}

.rockstargames-sites-rockstargamesfb53bedab2c55d1a3c602f6d22cbf878 section.rockstargames-sites-rockstargamesb408f6bebfeb1b3462c8dabcb36e0d9b .rockstargames-sites-rockstargamesc6f00c8492b7f5d1a7ae1cc143faa1ae {
  background-color: var(--white-100);
  height: 4rem;
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a23741c5dc2fc53b734869f88ff259d.svg);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a23741c5dc2fc53b734869f88ff259d.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 4rem
}

/*# sourceMappingURL=991720d673b8301b0475f7737e318565.css.map*/