.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 {
  position: relative
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac {
  background: var(--background-color);
  border-radius: 0 0 var(--image-rounding-static-xs) var(--image-rounding-static-xs);
  box-shadow: 0 0 0 transparent;
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  left: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 5
}

.rockstargames-sites-rockstargamesf5eb88111734e6e70d34ef2b095c44f6.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  max-height: 1007px
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac a {
  display: block;
  flex: 1;
  margin: 5px;
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm);
  width: calc(100% - 10px)
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesb0a8f220641417f889d4fd6039fe6bac a:hover {
  background: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73 {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
  text-transform: uppercase;
  transition: all .2s ease;
  white-space: nowrap;
  width: 100%
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:focus,
.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81 img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:focus:before,
  .rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73.rockstargames-sites-rockstargamesb64c3515fcd91f6b84410bd14640da81:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargamesf5eb88111734e6e70d34ef2b095c44f6.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:after {
  background-size: 75%;
  right: var(--base-pixel-size);
  width: 30px
}

.rockstargames-sites-rockstargamesb951912c02de0e5e881fedd391d04810 .rockstargames-sites-rockstargamesecb577af64f747d0d39cf03939ee3c73:hover:after {
  filter: invert(1)
}

.rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd {
  --aspect-ratio-desktop: 64/79;
  --aspect-ratio-mobile: var(--aspect-ratio-desktop);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  aspect-ratio: var(--aspect-ratio-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  width: 100%
}

.rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd.rockstargames-sites-rockstargamesc3a6d60e0087f92bbf7062fe2f36e200 {
  --aspect-ratio-desktop: 10/3;
  --aspect-ratio-mobile: 16/9
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamese3f505a2281df28eb1acdf2d586e7fbd {
    aspect-ratio: var(--aspect-ratio-desktop)
  }
}

/*# sourceMappingURL=9ee3b0bf54b5d0add905da7178c66eb5.css.map*/