.yki68e0 {
  color: var(--foundry_d5502516);
}

.yki68e1 {
  color: var(--foundry_c0780da4);
}

.yki68e2 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_05387de1);
}

.yki68e3 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_7f268a13);
}

.yki68e4 {
  color: var(--foundry_d5502516);
  font-size: var(--foundry_caf3b782);
  line-height: 150%;
  letter-spacing: -0.4px;
}

body {
  --_1betujy3: 2560px;
}

._1betujy4 {
  padding: 0 var(--_1betujy1);
  margin: 0 auto;
  width: 100%;
  max-width: var(--_1betujy3);
}

._1betujy5 {
  display: grid;
  gap: var(--_1betujy2);
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  grid-template-columns: repeat(var(--_1betujy0), 1fr);
  box-sizing: border-box;
}

@media (min-width: 0px) and (max-width: 767px) {
  body {
    --_1betujy0: 4;
    --_1betujy1: 7.5vw;
    --_1betujy2: var(--foundry_7d922174);
  }
}

@media (min-width: 768px) {
  body {
    --_1betujy0: 12;
    --_1betujy1: min(7.5vw, calc(var(--_1betujy3) * (7.5 / 100)));
    --_1betujy2: var(--foundry_7d922174);
  }
}

._18bk45a0 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_4ee30294);
  padding: var(--foundry_4ee30294) 0px;
}

._18bk45a1 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_f21302a9);
  max-width: 640px;
}

._18bk45a2 {
  color: var(--foundry_2d241861);
}

._18bk45a3 {
  display: flex;
  align-items: center;
  height: calc(100vh - var(--header-height));
  justify-content: center;
}

._18bk45a4 {
  display: grid;
  grid-column: span 10;
  gap: var(--foundry_2f9fe0c5);
  max-width: 1440px;
}

._18bk45a2 p,
._18bk45a2 li {
  line-height: 150%;
}

._18bk45a2 section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--foundry_4ee30294);
}

._18bk45a2 span {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_ae99fc48);
}

._18bk45a2 div {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_f21302a9);
}

._18bk45a2 hr {
  width: 100%;
  border-top: 1px solid var(--foundry_678f338a);
  border-bottom: none;
  border-right: none;
  border-left: none;
}

._18bk45a2 h2 {
  color: var(--foundry_c0780da4);
  font-size: var(--foundry_beb13840);
  font-weight: var(--foundry_751d319e);
  line-height: 130%;
  letter-spacing: 0.075px;
}

._18bk45a2 h3 {
  color: var(--foundry_c0780da4);
  font-size: 25px;
  font-weight: var(--foundry_751d319e);
  line-height: 130%;
  letter-spacing: -0.0625px;
}

._18bk45a2 ol {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 0px;
}

._18bk45a2 ul {
  list-style-type: disc;
}

.tableOfContents li {
  padding: var(--foundry_05387de1) 0px;
}

.smallIndent {
  margin-left: var(--foundry_d63af5f3);
}

._18bk45a2 a {
  text-decoration: underline;
  word-break: break-all;
}

@media (min-width: 0px) and (max-width: 767px) {
  ._18bk45a0 {
    grid-column: span var(--_1betujy0);
  }
}

@media (min-width: 768px) {
  ._18bk45a0 {
    grid-column: span var(--_1betujy0);
    align-items: center;
  }
}

@media (min-width: 768px) {
  ._18bk45a4 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  ._18bk45a4 {
    grid-column: span var(--_1betujy0);
  }
}

.vto3kr0 {
  padding: var(--foundry_4ee30294);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--foundry_ee21f32b);
  border-radius: var(--foundry_ca109bc3);
  border: 1px solid var(--foundry_9f37e9b9);
  background: var(--foundry_eddb4873);
}

.vto3kr1 {
  transition: background ease-out 0.3s;
  background: var(--foundry_eddb4873);
}

.vto3kr1:hover {
  background: var(--foundry_eddb4873);
}

@media (min-width: 1440px) {
  .vto3kr0 {
    padding: var(--foundry_4ee30294);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .vto3kr0 {
    padding: var(--foundry_d02b9116) var(--foundry_f21302a9);
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .vto3kr0 {
    padding: var(--foundry_d02b9116);
  }
}

._13srfpf0 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_ee21f32b);
  align-items: flex-start;
}

._13srfpf1 {
  display: flex;
  align-items: center;
  height: var(--foundry_72b67c3c);
}

._13srfpf2 {
  height: var(--foundry_b120da78);
}

._13srfpf3 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_05387de1);
}

._13srfpf4 {
  width: var(--foundry_72b67c3c);
  height: var(--foundry_72b67c3c);
}

/*# sourceMappingURL=a0090a0a57b90a4b87c210475e8e0bdf.css.map*/