@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/63cfc284c204bd1597bc68464e18042b.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ddff8a927395b3bbeb442818124b332e.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/064abecda5d2f269d95fa7fd0f340e87.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/8a7bed18c779bf815ff56c24ab6207e5.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/2182248632b4e44ebf3764bc8ac7aba2.woff) format("woff");
}

.foundry_1tmxzf01 {
  --foundry_1tmxzf02: 0px;
  --foundry_1tmxzf03: 2px;
  --foundry_1tmxzf04: 4px;
  --foundry_1tmxzf05: 8px;
  --foundry_1tmxzf06: 12px;
  --foundry_1tmxzf07: 16px;
  --foundry_1tmxzf08: 24px;
  --foundry_1tmxzf09: 32px;
  --foundry_1tmxzf0a: 9999px;
  --foundry_1tmxzf0b: 1000px;
  --foundry_1tmxzf0c: 0px;
  --foundry_1tmxzf0d: 1px;
  --foundry_1tmxzf0e: 2px;
  --foundry_1tmxzf0f: 3px;
  --foundry_1tmxzf0g: 4px;
  --foundry_1tmxzf0h: calc(2px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0i: calc(4px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0j: calc(8px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0k: calc(12px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0l: calc(14px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0m: calc(16px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0n: calc(20px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0o: calc(24px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0p: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0q: calc(40px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0r: calc(48px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0s: calc(56px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0t: calc(64px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0u: calc(72px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0v: calc(80px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0w: calc(88px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0x: calc(96px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0y: calc(112px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf0z: calc(128px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf010: calc(2px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf011: calc(4px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf012: calc(8px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf013: calc(12px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf014: calc(14px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf015: calc(16px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf016: calc(20px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf017: calc(24px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf018: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf019: calc(40px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01a: calc(48px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01b: calc(56px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01c: calc(64px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01d: calc(72px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01e: calc(80px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01f: calc(88px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01g: calc(96px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01h: calc(112px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01i: calc(128px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01j: calc(144px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01k: calc(160px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01l: calc(176px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01m: calc(200px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01n: calc(240px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01o: calc(280px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01p: calc(320px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01q: calc(360px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01r: calc(400px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01s: calc(500px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf01t: Arial;
  --foundry_1tmxzf01u: Helvetica Now Display;
  --foundry_1tmxzf01v: Helvetica Now Text;
  --foundry_1tmxzf01w: Consolas;
  --foundry_1tmxzf01x: 400;
  --foundry_1tmxzf01y: 700;
  --foundry_1tmxzf01z: calc(12px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf020: calc(14px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf021: calc(16px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf022: calc(20px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf023: calc(24px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf024: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf025: calc(40px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf026: calc(56px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf027: 0%;
  --foundry_1tmxzf028: 1%;
  --foundry_1tmxzf029: 2.5%;
  --foundry_1tmxzf02a: -2.5%;
  --foundry_1tmxzf02b: -1%;
  --foundry_1tmxzf02c: 130%;
  --foundry_1tmxzf02d: 150%;
  --foundry_1tmxzf02e: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02f: Helvetica Now Display;
  --foundry_1tmxzf02g: Arial;
  --foundry_1tmxzf02h: Helvetica Now Text;
  --foundry_1tmxzf02i: Arial;
  --foundry_1tmxzf02j: Consolas;
  --foundry_1tmxzf02k: Consolas;
  --foundry_1tmxzf02l: -2.5%;
  --foundry_1tmxzf02m: -2.5%;
  --foundry_1tmxzf02n: -2.5%;
  --foundry_1tmxzf02o: -2.5%;
  --foundry_1tmxzf02p: 1%;
  --foundry_1tmxzf02q: 1%;
  --foundry_1tmxzf02r: 400;
  --foundry_1tmxzf02s: 700;
  --foundry_1tmxzf02t: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02u: calc(56px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02v: calc(40px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02w: calc(32px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02x: calc(24px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02y: calc(20px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf02z: calc(20px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf030: calc(16px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf031: calc(14px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf032: calc(12px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf033: calc(12px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf034: calc(16px * var(--foundry_1tmxzf00));
  --foundry_1tmxzf035: 130%;
  --foundry_1tmxzf036: 150%;
}

.foundry_1tmxzf0a8 {
  --foundry_1tmxzf037: #fdfdfd;
  --foundry_1tmxzf038: #fdfdfd;
  --foundry_1tmxzf039: #fdfdfd;
  --foundry_1tmxzf03a: #fdfdfd;
  --foundry_1tmxzf03b: #eaeaea;
  --foundry_1tmxzf03c: #d8d8d8;
  --foundry_1tmxzf03d: #b2b2b2;
  --foundry_1tmxzf03e: #919191;
  --foundry_1tmxzf03f: #6d6d6d;
  --foundry_1tmxzf03g: #464646;
  --foundry_1tmxzf03h: #212121;
  --foundry_1tmxzf03i: #000000;
  --foundry_1tmxzf03j: #ffffff;
  --foundry_1tmxzf03k: #ffffff;
  --foundry_1tmxzf03l: #f5f5f5;
  --foundry_1tmxzf03m: #e4e4e4;
  --foundry_1tmxzf03n: #d0d0d0;
  --foundry_1tmxzf03o: #b1b1b1;
  --foundry_1tmxzf03p: #8e8e8e;
  --foundry_1tmxzf03q: #6d6d6d;
  --foundry_1tmxzf03r: #525252;
  --foundry_1tmxzf03s: #3d3d3d;
  --foundry_1tmxzf03t: #2d2d2d;
  --foundry_1tmxzf03u: #1f1f1f;
  --foundry_1tmxzf03v: #fff3f3;
  --foundry_1tmxzf03w: #ffe3e3;
  --foundry_1tmxzf03x: #ffd3d3;
  --foundry_1tmxzf03y: #ffbdbd;
  --foundry_1tmxzf03z: #ffa5a5;
  --foundry_1tmxzf040: #ff8181;
  --foundry_1tmxzf041: #ff5c5c;
  --foundry_1tmxzf042: #e74646;
  --foundry_1tmxzf043: #c93838;
  --foundry_1tmxzf044: #a92d2d;
  --foundry_1tmxzf045: #8b2323;
  --foundry_1tmxzf046: #6d1c1c;
  --foundry_1tmxzf047: #541515;
  --foundry_1tmxzf048: #401010;
  --foundry_1tmxzf049: #fecccc;
  --foundry_1tmxzf04a: #feb6b6;
  --foundry_1tmxzf04b: #fd9d9d;
  --foundry_1tmxzf04c: #fd7d7d;
  --foundry_1tmxzf04d: #fc5858;
  --foundry_1tmxzf04e: #fb1e1e;
  --foundry_1tmxzf04f: #e10404;
  --foundry_1tmxzf04g: #c50303;
  --foundry_1tmxzf04h: #aa0303;
  --foundry_1tmxzf04i: #920303;
  --foundry_1tmxzf04j: #7e0202;
  --foundry_1tmxzf04k: #690202;
  --foundry_1tmxzf04l: #570202;
  --foundry_1tmxzf04m: #480101;
  --foundry_1tmxzf04n: #fff4d4;
  --foundry_1tmxzf04o: #ffe8a4;
  --foundry_1tmxzf04p: #ffdb72;
  --foundry_1tmxzf04q: #ffc539;
  --foundry_1tmxzf04r: #fcaf17;
  --foundry_1tmxzf04s: #e19808;
  --foundry_1tmxzf04t: #ca8602;
  --foundry_1tmxzf04u: #b07400;
  --foundry_1tmxzf04v: #976300;
  --foundry_1tmxzf04w: #7e5200;
  --foundry_1tmxzf04x: #654200;
  --foundry_1tmxzf04y: #503400;
  --foundry_1tmxzf04z: #3c2800;
  --foundry_1tmxzf050: #2e1e00;
  --foundry_1tmxzf051: #ffd258;
  --foundry_1tmxzf052: #ffbd29;
  --foundry_1tmxzf053: #f4a811;
  --foundry_1tmxzf054: #dd9507;
  --foundry_1tmxzf055: #c68402;
  --foundry_1tmxzf056: #af7400;
  --foundry_1tmxzf057: #9a6500;
  --foundry_1tmxzf058: #855800;
  --foundry_1tmxzf059: #734b00;
  --foundry_1tmxzf05a: #624000;
  --foundry_1tmxzf05b: #523600;
  --foundry_1tmxzf05c: #442c00;
  --foundry_1tmxzf05d: #372400;
  --foundry_1tmxzf05e: #2d1d00;
  --foundry_1tmxzf05f: #e0fbea;
  --foundry_1tmxzf05g: #bef7d5;
  --foundry_1tmxzf05h: #93f2b9;
  --foundry_1tmxzf05i: #5ce693;
  --foundry_1tmxzf05j: #39d878;
  --foundry_1tmxzf05k: #20c05f;
  --foundry_1tmxzf05l: #15aa51;
  --foundry_1tmxzf05m: #0f9444;
  --foundry_1tmxzf05n: #0b7f39;
  --foundry_1tmxzf05o: #08692f;
  --foundry_1tmxzf05p: #065626;
  --foundry_1tmxzf05q: #05431e;
  --foundry_1tmxzf05r: #043317;
  --foundry_1tmxzf05s: #032712;
  --foundry_1tmxzf05t: #96eab8;
  --foundry_1tmxzf05u: #64e096;
  --foundry_1tmxzf05v: #2ad16c;
  --foundry_1tmxzf05w: #26bb61;
  --foundry_1tmxzf05x: #21a657;
  --foundry_1tmxzf05y: #1e934c;
  --foundry_1tmxzf05z: #1a8043;
  --foundry_1tmxzf060: #166f3a;
  --foundry_1tmxzf061: #135f32;
  --foundry_1tmxzf062: #10522a;
  --foundry_1tmxzf063: #0e4424;
  --foundry_1tmxzf064: #0b381d;
  --foundry_1tmxzf065: #092e18;
  --foundry_1tmxzf066: #082513;
  --foundry_1tmxzf067: #f1f4f9;
  --foundry_1tmxzf068: #e3eaf4;
  --foundry_1tmxzf069: #d4dfee;
  --foundry_1tmxzf06a: #bdcfe6;
  --foundry_1tmxzf06b: #a9c0de;
  --foundry_1tmxzf06c: #8ba9d2;
  --foundry_1tmxzf06d: #7296c8;
  --foundry_1tmxzf06e: #5882bc;
  --foundry_1tmxzf06f: #406faf;
  --foundry_1tmxzf06g: #295b9f;
  --foundry_1tmxzf06h: #17498b;
  --foundry_1tmxzf06i: #0c3874;
  --foundry_1tmxzf06j: #062a5b;
  --foundry_1tmxzf06k: #032047;
  --foundry_1tmxzf06l: #ccd9eb;
  --foundry_1tmxzf06m: #b7cae4;
  --foundry_1tmxzf06n: #9fb9db;
  --foundry_1tmxzf06o: #86a6d1;
  --foundry_1tmxzf06p: #6e94c6;
  --foundry_1tmxzf06q: #5782bc;
  --foundry_1tmxzf06r: #4271b0;
  --foundry_1tmxzf06s: #2f61a4;
  --foundry_1tmxzf06t: #205396;
  --foundry_1tmxzf06u: #144587;
  --foundry_1tmxzf06v: #0d3a76;
  --foundry_1tmxzf06w: #082f64;
  --foundry_1tmxzf06x: #052654;
  --foundry_1tmxzf06y: #031f45;
  --foundry_1tmxzf06z: #f2f4f6;
  --foundry_1tmxzf070: #e7ebee;
  --foundry_1tmxzf071: #d9dfe4;
  --foundry_1tmxzf072: #c5cfd6;
  --foundry_1tmxzf073: #b2c0c8;
  --foundry_1tmxzf074: #98aab6;
  --foundry_1tmxzf075: #8297a5;
  --foundry_1tmxzf076: #6b8495;
  --foundry_1tmxzf077: #5a717f;
  --foundry_1tmxzf078: #4b5e6a;
  --foundry_1tmxzf079: #3d4c55;
  --foundry_1tmxzf07a: #303b43;
  --foundry_1tmxzf07b: #242d33;
  --foundry_1tmxzf07c: #1b2226;
  --foundry_1tmxzf07d: #d6d8da;
  --foundry_1tmxzf07e: #c6cacc;
  --foundry_1tmxzf07f: #b3b7ba;
  --foundry_1tmxzf07g: #9fa5a9;
  --foundry_1tmxzf07h: #8b9297;
  --foundry_1tmxzf07i: #798187;
  --foundry_1tmxzf07j: #697177;
  --foundry_1tmxzf07k: #596269;
  --foundry_1tmxzf07l: #4a555b;
  --foundry_1tmxzf07m: #3e484f;
  --foundry_1tmxzf07n: #323d43;
  --foundry_1tmxzf07o: #273239;
  --foundry_1tmxzf07p: #1f2930;
  --foundry_1tmxzf07q: #182128;
  --foundry_1tmxzf07r: #ffffff;
  --foundry_1tmxzf07s: #000000;
  --foundry_1tmxzf07t: rgba(0, 0, 0, 0);
  --foundry_1tmxzf07u: #b1b1b1;
  --foundry_1tmxzf07v: #d0d0d0;
  --foundry_1tmxzf07w: #8e8e8e;
  --foundry_1tmxzf07x: #525252;
  --foundry_1tmxzf07y: #4271b0;
  --foundry_1tmxzf07z: #5782bc;
  --foundry_1tmxzf080: #2f61a4;
  --foundry_1tmxzf081: #1a8043;
  --foundry_1tmxzf082: #1e934c;
  --foundry_1tmxzf083: #166f3a;
  --foundry_1tmxzf084: #9a6500;
  --foundry_1tmxzf085: #af7400;
  --foundry_1tmxzf086: #855800;
  --foundry_1tmxzf087: #e10404;
  --foundry_1tmxzf088: #fb1e1e;
  --foundry_1tmxzf089: #c50303;
  --foundry_1tmxzf08a: #697177;
  --foundry_1tmxzf08b: #798187;
  --foundry_1tmxzf08c: #596269;
  --foundry_1tmxzf08d: #d0d0d0;
  --foundry_1tmxzf08e: #ffffff;
  --foundry_1tmxzf08f: #f5f5f5;
  --foundry_1tmxzf08g: #e4e4e4;
  --foundry_1tmxzf08h: #ffffff;
  --foundry_1tmxzf08i: #f5f5f5;
  --foundry_1tmxzf08j: #e4e4e4;
  --foundry_1tmxzf08k: #ffffff;
  --foundry_1tmxzf08l: #96eab8;
  --foundry_1tmxzf08m: #ccd9eb;
  --foundry_1tmxzf08n: #ffd258;
  --foundry_1tmxzf08o: #fecccc;
  --foundry_1tmxzf08p: #d6d8da;
  --foundry_1tmxzf08q: #2d2d2d;
  --foundry_1tmxzf08r: #6d6d6d;
  --foundry_1tmxzf08s: #525252;
  --foundry_1tmxzf08t: #1f1f1f;
  --foundry_1tmxzf08u: #135f32;
  --foundry_1tmxzf08v: #205396;
  --foundry_1tmxzf08w: #734b00;
  --foundry_1tmxzf08x: #aa0303;
  --foundry_1tmxzf08y: #4a555b;
  --foundry_1tmxzf08z: #2d2d2d;
  --foundry_1tmxzf090: #8e8e8e;
  --foundry_1tmxzf091: #6d6d6d;
  --foundry_1tmxzf092: #3d3d3d;
  --foundry_1tmxzf093: #525252;
  --foundry_1tmxzf094: #205396;
  --foundry_1tmxzf095: #2f61a4;
  --foundry_1tmxzf096: #144587;
  --foundry_1tmxzf097: #4271b0;
  --foundry_1tmxzf098: #0d3a76;
  --foundry_1tmxzf099: #135f32;
  --foundry_1tmxzf09a: #166f3a;
  --foundry_1tmxzf09b: #10522a;
  --foundry_1tmxzf09c: #1a8043;
  --foundry_1tmxzf09d: #0e4424;
  --foundry_1tmxzf09e: #734b00;
  --foundry_1tmxzf09f: #855800;
  --foundry_1tmxzf09g: #624000;
  --foundry_1tmxzf09h: #9a6500;
  --foundry_1tmxzf09i: #523600;
  --foundry_1tmxzf09j: #aa0303;
  --foundry_1tmxzf09k: #c50303;
  --foundry_1tmxzf09l: #920303;
  --foundry_1tmxzf09m: #e10404;
  --foundry_1tmxzf09n: #7e0202;
  --foundry_1tmxzf09o: #4a555b;
  --foundry_1tmxzf09p: #596269;
  --foundry_1tmxzf09q: #3e484f;
  --foundry_1tmxzf09r: #697177;
  --foundry_1tmxzf09s: #323d43;
  --foundry_1tmxzf09t: #6e94c6;
  --foundry_1tmxzf09u: #86a6d1;
  --foundry_1tmxzf09v: #5782bc;
  --foundry_1tmxzf09w: #21a657;
  --foundry_1tmxzf09x: #26bb61;
  --foundry_1tmxzf09y: #1e934c;
  --foundry_1tmxzf09z: #c68402;
  --foundry_1tmxzf0a0: #dd9507;
  --foundry_1tmxzf0a1: #af7400;
  --foundry_1tmxzf0a2: #fc5858;
  --foundry_1tmxzf0a3: #fd7d7d;
  --foundry_1tmxzf0a4: #fb1e1e;
  --foundry_1tmxzf0a5: #8b9297;
  --foundry_1tmxzf0a6: #9fa5a9;
  --foundry_1tmxzf0a7: #798187;
}

.foundry_1tmxzf0a9 {
  --foundry_1tmxzf037: #fdfdfd;
  --foundry_1tmxzf038: #fdfdfd;
  --foundry_1tmxzf039: #fdfdfd;
  --foundry_1tmxzf03a: #fdfdfd;
  --foundry_1tmxzf03b: #cdcdcd;
  --foundry_1tmxzf03c: #adadad;
  --foundry_1tmxzf03d: #797979;
  --foundry_1tmxzf03e: #555555;
  --foundry_1tmxzf03f: #2e2e2e;
  --foundry_1tmxzf03g: #000000;
  --foundry_1tmxzf03h: #000000;
  --foundry_1tmxzf03i: #000000;
  --foundry_1tmxzf03j: #ffffff;
  --foundry_1tmxzf03k: #ffffff;
  --foundry_1tmxzf03l: #ffffff;
  --foundry_1tmxzf03m: #e4e4e4;
  --foundry_1tmxzf03n: #b4b4b4;
  --foundry_1tmxzf03o: #818181;
  --foundry_1tmxzf03p: #565656;
  --foundry_1tmxzf03q: #313131;
  --foundry_1tmxzf03r: #010101;
  --foundry_1tmxzf03s: #000000;
  --foundry_1tmxzf03t: #000000;
  --foundry_1tmxzf03u: #000000;
  --foundry_1tmxzf03v: #ffdddd;
  --foundry_1tmxzf03w: #ffbdbd;
  --foundry_1tmxzf03x: #ff9c9c;
  --foundry_1tmxzf03y: #ff6d6d;
  --foundry_1tmxzf03z: #f04c4c;
  --foundry_1tmxzf040: #c73737;
  --foundry_1tmxzf041: #a42b2b;
  --foundry_1tmxzf042: #802121;
  --foundry_1tmxzf043: #5a1717;
  --foundry_1tmxzf044: #290b0b;
  --foundry_1tmxzf045: #000000;
  --foundry_1tmxzf046: #000000;
  --foundry_1tmxzf047: #000000;
  --foundry_1tmxzf048: #000000;
  --foundry_1tmxzf049: #feb1b1;
  --foundry_1tmxzf04a: #fd8181;
  --foundry_1tmxzf04b: #fc4242;
  --foundry_1tmxzf04c: #e20404;
  --foundry_1tmxzf04d: #b90303;
  --foundry_1tmxzf04e: #940303;
  --foundry_1tmxzf04f: #710202;
  --foundry_1tmxzf04g: #4b0101;
  --foundry_1tmxzf04h: #130000;
  --foundry_1tmxzf04i: #000000;
  --foundry_1tmxzf04j: #000000;
  --foundry_1tmxzf04k: #000000;
  --foundry_1tmxzf04l: #000000;
  --foundry_1tmxzf04m: #000000;
  --foundry_1tmxzf04n: #ffe492;
  --foundry_1tmxzf04o: #ffc539;
  --foundry_1tmxzf04p: #f4a811;
  --foundry_1tmxzf04q: #d48e04;
  --foundry_1tmxzf04r: #b87a00;
  --foundry_1tmxzf04s: #966200;
  --foundry_1tmxzf04t: #7a5000;
  --foundry_1tmxzf04u: #5e3e00;
  --foundry_1tmxzf04v: #412b00;
  --foundry_1tmxzf04w: #1d1300;
  --foundry_1tmxzf04x: #000000;
  --foundry_1tmxzf04y: #000000;
  --foundry_1tmxzf04z: #000000;
  --foundry_1tmxzf050: #000000;
  --foundry_1tmxzf051: #ffb720;
  --foundry_1tmxzf052: #e19808;
  --foundry_1tmxzf053: #bb7c00;
  --foundry_1tmxzf054: #9a6500;
  --foundry_1tmxzf055: #7c5200;
  --foundry_1tmxzf056: #624000;
  --foundry_1tmxzf057: #483000;
  --foundry_1tmxzf058: #2e1e00;
  --foundry_1tmxzf059: #070400;
  --foundry_1tmxzf05a: #000000;
  --foundry_1tmxzf05b: #000000;
  --foundry_1tmxzf05c: #000000;
  --foundry_1tmxzf05d: #000000;
  --foundry_1tmxzf05e: #000000;
  --foundry_1tmxzf05f: #adf5ca;
  --foundry_1tmxzf05g: #5ce693;
  --foundry_1tmxzf05h: #2ed16f;
  --foundry_1tmxzf05i: #19b357;
  --foundry_1tmxzf05j: #119c48;
  --foundry_1tmxzf05k: #0a7e38;
  --foundry_1tmxzf05l: #07662d;
  --foundry_1tmxzf05m: #064f23;
  --foundry_1tmxzf05n: #043719;
  --foundry_1tmxzf05o: #03190c;
  --foundry_1tmxzf05p: #000000;
  --foundry_1tmxzf05q: #000000;
  --foundry_1tmxzf05r: #000000;
  --foundry_1tmxzf05s: #000000;
  --foundry_1tmxzf05t: #57dd8c;
  --foundry_1tmxzf05u: #26be63;
  --foundry_1tmxzf05v: #1f9d51;
  --foundry_1tmxzf05w: #1a8043;
  --foundry_1tmxzf05x: #156836;
  --foundry_1tmxzf05y: #10522b;
  --foundry_1tmxzf05z: #0c3d1f;
  --foundry_1tmxzf060: #082614;
  --foundry_1tmxzf061: #010603;
  --foundry_1tmxzf062: #000000;
  --foundry_1tmxzf063: #000000;
  --foundry_1tmxzf064: #000000;
  --foundry_1tmxzf065: #000000;
  --foundry_1tmxzf066: #000000;
  --foundry_1tmxzf067: #dee6f2;
  --foundry_1tmxzf068: #bdcfe6;
  --foundry_1tmxzf069: #9fb9db;
  --foundry_1tmxzf06a: #7c9fcc;
  --foundry_1tmxzf06b: #6189c0;
  --foundry_1tmxzf06c: #3e6eae;
  --foundry_1tmxzf06d: #26589c;
  --foundry_1tmxzf06e: #134384;
  --foundry_1tmxzf06f: #072e62;
  --foundry_1tmxzf06g: #02152e;
  --foundry_1tmxzf06h: #000000;
  --foundry_1tmxzf06i: #000000;
  --foundry_1tmxzf06j: #000000;
  --foundry_1tmxzf06k: #000000;
  --foundry_1tmxzf06l: #b2c7e2;
  --foundry_1tmxzf06m: #8aa9d2;
  --foundry_1tmxzf06n: #638bc1;
  --foundry_1tmxzf06o: #4271b0;
  --foundry_1tmxzf06p: #285a9e;
  --foundry_1tmxzf06q: #154688;
  --foundry_1tmxzf06r: #09336c;
  --foundry_1tmxzf06s: #032047;
  --foundry_1tmxzf06t: #01050b;
  --foundry_1tmxzf06u: #000000;
  --foundry_1tmxzf06v: #000000;
  --foundry_1tmxzf06w: #000000;
  --foundry_1tmxzf06x: #000000;
  --foundry_1tmxzf06y: #000000;
  --foundry_1tmxzf06z: #e0e6e9;
  --foundry_1tmxzf070: #c5cfd6;
  --foundry_1tmxzf071: #aab9c2;
  --foundry_1tmxzf072: #8b9fac;
  --foundry_1tmxzf073: #728a9a;
  --foundry_1tmxzf074: #5a707e;
  --foundry_1tmxzf075: #495b67;
  --foundry_1tmxzf076: #39464f;
  --foundry_1tmxzf077: #273037;
  --foundry_1tmxzf078: #111518;
  --foundry_1tmxzf079: #000000;
  --foundry_1tmxzf07a: #000000;
  --foundry_1tmxzf07b: #000000;
  --foundry_1tmxzf07c: #000000;
  --foundry_1tmxzf07d: #c1c5c8;
  --foundry_1tmxzf07e: #a1a7ab;
  --foundry_1tmxzf07f: #838a8f;
  --foundry_1tmxzf07g: #697177;
  --foundry_1tmxzf07h: #525c62;
  --foundry_1tmxzf07i: #3e484f;
  --foundry_1tmxzf07j: #2b363d;
  --foundry_1tmxzf07k: #182229;
  --foundry_1tmxzf07l: #030506;
  --foundry_1tmxzf07m: #000000;
  --foundry_1tmxzf07n: #000000;
  --foundry_1tmxzf07o: #000000;
  --foundry_1tmxzf07p: #000000;
  --foundry_1tmxzf07q: #000000;
  --foundry_1tmxzf07r: #ffffff;
  --foundry_1tmxzf07s: #000000;
  --foundry_1tmxzf07t: rgba(0, 0, 0, 0);
  --foundry_1tmxzf07u: #818181;
  --foundry_1tmxzf07v: #b4b4b4;
  --foundry_1tmxzf07w: #565656;
  --foundry_1tmxzf07x: #010101;
  --foundry_1tmxzf07y: #09336c;
  --foundry_1tmxzf07z: #154688;
  --foundry_1tmxzf080: #032047;
  --foundry_1tmxzf081: #0c3d1f;
  --foundry_1tmxzf082: #10522b;
  --foundry_1tmxzf083: #082614;
  --foundry_1tmxzf084: #483000;
  --foundry_1tmxzf085: #624000;
  --foundry_1tmxzf086: #2e1e00;
  --foundry_1tmxzf087: #710202;
  --foundry_1tmxzf088: #940303;
  --foundry_1tmxzf089: #4b0101;
  --foundry_1tmxzf08a: #2b363d;
  --foundry_1tmxzf08b: #3e484f;
  --foundry_1tmxzf08c: #182229;
  --foundry_1tmxzf08d: #b4b4b4;
  --foundry_1tmxzf08e: #ffffff;
  --foundry_1tmxzf08f: #ffffff;
  --foundry_1tmxzf08g: #e4e4e4;
  --foundry_1tmxzf08h: #ffffff;
  --foundry_1tmxzf08i: #ffffff;
  --foundry_1tmxzf08j: #e4e4e4;
  --foundry_1tmxzf08k: #ffffff;
  --foundry_1tmxzf08l: #57dd8c;
  --foundry_1tmxzf08m: #b2c7e2;
  --foundry_1tmxzf08n: #ffb720;
  --foundry_1tmxzf08o: #feb1b1;
  --foundry_1tmxzf08p: #c1c5c8;
  --foundry_1tmxzf08q: #000000;
  --foundry_1tmxzf08r: #313131;
  --foundry_1tmxzf08s: #010101;
  --foundry_1tmxzf08t: #000000;
  --foundry_1tmxzf08u: #010603;
  --foundry_1tmxzf08v: #01050b;
  --foundry_1tmxzf08w: #070400;
  --foundry_1tmxzf08x: #130000;
  --foundry_1tmxzf08y: #030506;
  --foundry_1tmxzf08z: #000000;
  --foundry_1tmxzf090: #565656;
  --foundry_1tmxzf091: #313131;
  --foundry_1tmxzf092: #000000;
  --foundry_1tmxzf093: #010101;
  --foundry_1tmxzf094: #01050b;
  --foundry_1tmxzf095: #032047;
  --foundry_1tmxzf096: #000000;
  --foundry_1tmxzf097: #09336c;
  --foundry_1tmxzf098: #000000;
  --foundry_1tmxzf099: #010603;
  --foundry_1tmxzf09a: #082614;
  --foundry_1tmxzf09b: #000000;
  --foundry_1tmxzf09c: #0c3d1f;
  --foundry_1tmxzf09d: #000000;
  --foundry_1tmxzf09e: #070400;
  --foundry_1tmxzf09f: #2e1e00;
  --foundry_1tmxzf09g: #000000;
  --foundry_1tmxzf09h: #483000;
  --foundry_1tmxzf09i: #000000;
  --foundry_1tmxzf09j: #130000;
  --foundry_1tmxzf09k: #4b0101;
  --foundry_1tmxzf09l: #000000;
  --foundry_1tmxzf09m: #710202;
  --foundry_1tmxzf09n: #000000;
  --foundry_1tmxzf09o: #030506;
  --foundry_1tmxzf09p: #182229;
  --foundry_1tmxzf09q: #000000;
  --foundry_1tmxzf09r: #2b363d;
  --foundry_1tmxzf09s: #000000;
  --foundry_1tmxzf09t: #285a9e;
  --foundry_1tmxzf09u: #4271b0;
  --foundry_1tmxzf09v: #154688;
  --foundry_1tmxzf09w: #156836;
  --foundry_1tmxzf09x: #1a8043;
  --foundry_1tmxzf09y: #10522b;
  --foundry_1tmxzf09z: #7c5200;
  --foundry_1tmxzf0a0: #9a6500;
  --foundry_1tmxzf0a1: #624000;
  --foundry_1tmxzf0a2: #b90303;
  --foundry_1tmxzf0a3: #e20404;
  --foundry_1tmxzf0a4: #940303;
  --foundry_1tmxzf0a5: #525c62;
  --foundry_1tmxzf0a6: #697177;
  --foundry_1tmxzf0a7: #3e484f;
}

.foundry_1tmxzf0aa {
  --foundry_1tmxzf037: #fdfdfd;
  --foundry_1tmxzf038: #fdfdfd;
  --foundry_1tmxzf039: #fdfdfd;
  --foundry_1tmxzf03a: #fdfdfd;
  --foundry_1tmxzf03b: #eaeaea;
  --foundry_1tmxzf03c: #d8d8d8;
  --foundry_1tmxzf03d: #b2b2b2;
  --foundry_1tmxzf03e: #919191;
  --foundry_1tmxzf03f: #6d6d6d;
  --foundry_1tmxzf03g: #464646;
  --foundry_1tmxzf03h: #212121;
  --foundry_1tmxzf03i: #000000;
  --foundry_1tmxzf03j: #000000;
  --foundry_1tmxzf03k: #0e0e0e;
  --foundry_1tmxzf03l: #141414;
  --foundry_1tmxzf03m: #1a1a1a;
  --foundry_1tmxzf03n: #222222;
  --foundry_1tmxzf03o: #3f3f3f;
  --foundry_1tmxzf03p: #5b5b5b;
  --foundry_1tmxzf03q: #797979;
  --foundry_1tmxzf03r: #989898;
  --foundry_1tmxzf03s: #b3b3b3;
  --foundry_1tmxzf03t: #cacaca;
  --foundry_1tmxzf03u: #dcdcdc;
  --foundry_1tmxzf03v: #fff3f3;
  --foundry_1tmxzf03w: #ffe3e3;
  --foundry_1tmxzf03x: #ffd3d3;
  --foundry_1tmxzf03y: #ffbdbd;
  --foundry_1tmxzf03z: #ffa5a5;
  --foundry_1tmxzf040: #ff8181;
  --foundry_1tmxzf041: #ff5c5c;
  --foundry_1tmxzf042: #e74646;
  --foundry_1tmxzf043: #c93838;
  --foundry_1tmxzf044: #a92d2d;
  --foundry_1tmxzf045: #8b2323;
  --foundry_1tmxzf046: #6d1c1c;
  --foundry_1tmxzf047: #541515;
  --foundry_1tmxzf048: #401010;
  --foundry_1tmxzf049: #4b0808;
  --foundry_1tmxzf04a: #610b0b;
  --foundry_1tmxzf04b: #7a0e0e;
  --foundry_1tmxzf04c: #941111;
  --foundry_1tmxzf04d: #b01414;
  --foundry_1tmxzf04e: #cc1717;
  --foundry_1tmxzf04f: #e72424;
  --foundry_1tmxzf04g: #eb5050;
  --foundry_1tmxzf04h: #ef6f6f;
  --foundry_1tmxzf04i: #f28989;
  --foundry_1tmxzf04j: #f5a4a4;
  --foundry_1tmxzf04k: #f7b5b5;
  --foundry_1tmxzf04l: #f9c5c5;
  --foundry_1tmxzf04m: #fad3d3;
  --foundry_1tmxzf04n: #fff4d4;
  --foundry_1tmxzf04o: #ffe8a4;
  --foundry_1tmxzf04p: #ffdb72;
  --foundry_1tmxzf04q: #ffc539;
  --foundry_1tmxzf04r: #fcaf17;
  --foundry_1tmxzf04s: #e19808;
  --foundry_1tmxzf04t: #ca8602;
  --foundry_1tmxzf04u: #b07400;
  --foundry_1tmxzf04v: #976300;
  --foundry_1tmxzf04w: #7e5200;
  --foundry_1tmxzf04x: #654200;
  --foundry_1tmxzf04y: #503400;
  --foundry_1tmxzf04z: #3c2800;
  --foundry_1tmxzf050: #2e1e00;
  --foundry_1tmxzf051: #312000;
  --foundry_1tmxzf052: #402a00;
  --foundry_1tmxzf053: #533600;
  --foundry_1tmxzf054: #654200;
  --foundry_1tmxzf055: #794f00;
  --foundry_1tmxzf056: #8e5d00;
  --foundry_1tmxzf057: #a36b00;
  --foundry_1tmxzf058: #b87a00;
  --foundry_1tmxzf059: #ce8903;
  --foundry_1tmxzf05a: #e29808;
  --foundry_1tmxzf05b: #f7aa13;
  --foundry_1tmxzf05c: #ffb923;
  --foundry_1tmxzf05d: #ffcb47;
  --foundry_1tmxzf05e: #ffd86c;
  --foundry_1tmxzf05f: #e0fbea;
  --foundry_1tmxzf05g: #bef7d5;
  --foundry_1tmxzf05h: #93f2b9;
  --foundry_1tmxzf05i: #5ce693;
  --foundry_1tmxzf05j: #39d878;
  --foundry_1tmxzf05k: #20c05f;
  --foundry_1tmxzf05l: #15aa51;
  --foundry_1tmxzf05m: #0f9444;
  --foundry_1tmxzf05n: #0b7f39;
  --foundry_1tmxzf05o: #08692f;
  --foundry_1tmxzf05p: #065626;
  --foundry_1tmxzf05q: #05431e;
  --foundry_1tmxzf05r: #043317;
  --foundry_1tmxzf05s: #032712;
  --foundry_1tmxzf05t: #082915;
  --foundry_1tmxzf05u: #0b361c;
  --foundry_1tmxzf05v: #0e4524;
  --foundry_1tmxzf05w: #11552c;
  --foundry_1tmxzf05x: #146535;
  --foundry_1tmxzf05y: #18763d;
  --foundry_1tmxzf05z: #1b8847;
  --foundry_1tmxzf060: #1f9a50;
  --foundry_1tmxzf061: #23ad5a;
  --foundry_1tmxzf062: #26bf63;
  --foundry_1tmxzf063: #2bd46f;
  --foundry_1tmxzf064: #58dd8d;
  --foundry_1tmxzf065: #84e6ab;
  --foundry_1tmxzf066: #a3ecc0;
  --foundry_1tmxzf067: #f1f4f9;
  --foundry_1tmxzf068: #e3eaf4;
  --foundry_1tmxzf069: #d4dfee;
  --foundry_1tmxzf06a: #bdcfe6;
  --foundry_1tmxzf06b: #a9c0de;
  --foundry_1tmxzf06c: #8ba9d2;
  --foundry_1tmxzf06d: #7296c8;
  --foundry_1tmxzf06e: #5882bc;
  --foundry_1tmxzf06f: #406faf;
  --foundry_1tmxzf06g: #295b9f;
  --foundry_1tmxzf06h: #17498b;
  --foundry_1tmxzf06i: #0c3874;
  --foundry_1tmxzf06j: #062a5b;
  --foundry_1tmxzf06k: #032047;
  --foundry_1tmxzf06l: #02234c;
  --foundry_1tmxzf06m: #052e61;
  --foundry_1tmxzf06n: #0c3b76;
  --foundry_1tmxzf06o: #17498a;
  --foundry_1tmxzf06p: #265899;
  --foundry_1tmxzf06q: #3868a6;
  --foundry_1tmxzf06r: #4c78b2;
  --foundry_1tmxzf06s: #6189bd;
  --foundry_1tmxzf06t: #7699c7;
  --foundry_1tmxzf06u: #8baad0;
  --foundry_1tmxzf06v: #a4bbda;
  --foundry_1tmxzf06w: #b4c7e0;
  --foundry_1tmxzf06x: #c4d3e7;
  --foundry_1tmxzf06y: #d2ddec;
  --foundry_1tmxzf06z: #f2f4f6;
  --foundry_1tmxzf070: #e7ebee;
  --foundry_1tmxzf071: #d9dfe4;
  --foundry_1tmxzf072: #c5cfd6;
  --foundry_1tmxzf073: #b2c0c8;
  --foundry_1tmxzf074: #98aab6;
  --foundry_1tmxzf075: #8297a5;
  --foundry_1tmxzf076: #6b8495;
  --foundry_1tmxzf077: #5a717f;
  --foundry_1tmxzf078: #4b5e6a;
  --foundry_1tmxzf079: #3d4c55;
  --foundry_1tmxzf07a: #303b43;
  --foundry_1tmxzf07b: #242d33;
  --foundry_1tmxzf07c: #1b2226;
  --foundry_1tmxzf07d: #1b252c;
  --foundry_1tmxzf07e: #253037;
  --foundry_1tmxzf07f: #323d44;
  --foundry_1tmxzf07g: #404b52;
  --foundry_1tmxzf07h: #4f5960;
  --foundry_1tmxzf07i: #5f686e;
  --foundry_1tmxzf07j: #6f787d;
  --foundry_1tmxzf07k: #80888c;
  --foundry_1tmxzf07l: #92989c;
  --foundry_1tmxzf07m: #a3a8ac;
  --foundry_1tmxzf07n: #b6babd;
  --foundry_1tmxzf07o: #c2c6c8;
  --foundry_1tmxzf07p: #d0d2d4;
  --foundry_1tmxzf07q: #dadcde;
  --foundry_1tmxzf07r: #ffffff;
  --foundry_1tmxzf07s: #000000;
  --foundry_1tmxzf07t: #222222;
  --foundry_1tmxzf07u: #3f3f3f;
  --foundry_1tmxzf07v: #222222;
  --foundry_1tmxzf07w: #5b5b5b;
  --foundry_1tmxzf07x: #989898;
  --foundry_1tmxzf07y: #4c78b2;
  --foundry_1tmxzf07z: #3868a6;
  --foundry_1tmxzf080: #6189bd;
  --foundry_1tmxzf081: #1b8847;
  --foundry_1tmxzf082: #18763d;
  --foundry_1tmxzf083: #1f9a50;
  --foundry_1tmxzf084: #a36b00;
  --foundry_1tmxzf085: #8e5d00;
  --foundry_1tmxzf086: #b87a00;
  --foundry_1tmxzf087: #e72424;
  --foundry_1tmxzf088: #cc1717;
  --foundry_1tmxzf089: #eb5050;
  --foundry_1tmxzf08a: #6f787d;
  --foundry_1tmxzf08b: #5f686e;
  --foundry_1tmxzf08c: #80888c;
  --foundry_1tmxzf08d: #222222;
  --foundry_1tmxzf08e: #000000;
  --foundry_1tmxzf08f: #141414;
  --foundry_1tmxzf08g: #222222;
  --foundry_1tmxzf08h: #3f3f3f;
  --foundry_1tmxzf08i: #1a1a1a;
  --foundry_1tmxzf08j: #141414;
  --foundry_1tmxzf08k: #0e0e0e;
  --foundry_1tmxzf08l: #082915;
  --foundry_1tmxzf08m: #02234c;
  --foundry_1tmxzf08n: #312000;
  --foundry_1tmxzf08o: #4b0808;
  --foundry_1tmxzf08p: #1b252c;
  --foundry_1tmxzf08q: #cacaca;
  --foundry_1tmxzf08r: #797979;
  --foundry_1tmxzf08s: #989898;
  --foundry_1tmxzf08t: #dcdcdc;
  --foundry_1tmxzf08u: #23ad5a;
  --foundry_1tmxzf08v: #7699c7;
  --foundry_1tmxzf08w: #ce8903;
  --foundry_1tmxzf08x: #ef6f6f;
  --foundry_1tmxzf08y: #92989c;
  --foundry_1tmxzf08z: #cacaca;
  --foundry_1tmxzf090: #5b5b5b;
  --foundry_1tmxzf091: #797979;
  --foundry_1tmxzf092: #b3b3b3;
  --foundry_1tmxzf093: #989898;
  --foundry_1tmxzf094: #7699c7;
  --foundry_1tmxzf095: #6189bd;
  --foundry_1tmxzf096: #8baad0;
  --foundry_1tmxzf097: #4c78b2;
  --foundry_1tmxzf098: #a4bbda;
  --foundry_1tmxzf099: #23ad5a;
  --foundry_1tmxzf09a: #1f9a50;
  --foundry_1tmxzf09b: #26bf63;
  --foundry_1tmxzf09c: #1b8847;
  --foundry_1tmxzf09d: #2bd46f;
  --foundry_1tmxzf09e: #ce8903;
  --foundry_1tmxzf09f: #b87a00;
  --foundry_1tmxzf09g: #e29808;
  --foundry_1tmxzf09h: #a36b00;
  --foundry_1tmxzf09i: #f7aa13;
  --foundry_1tmxzf09j: #ef6f6f;
  --foundry_1tmxzf09k: #eb5050;
  --foundry_1tmxzf09l: #f28989;
  --foundry_1tmxzf09m: #e72424;
  --foundry_1tmxzf09n: #f5a4a4;
  --foundry_1tmxzf09o: #92989c;
  --foundry_1tmxzf09p: #80888c;
  --foundry_1tmxzf09q: #a3a8ac;
  --foundry_1tmxzf09r: #6f787d;
  --foundry_1tmxzf09s: #b6babd;
  --foundry_1tmxzf09t: #265899;
  --foundry_1tmxzf09u: #17498a;
  --foundry_1tmxzf09v: #3868a6;
  --foundry_1tmxzf09w: #146535;
  --foundry_1tmxzf09x: #11552c;
  --foundry_1tmxzf09y: #18763d;
  --foundry_1tmxzf09z: #794f00;
  --foundry_1tmxzf0a0: #654200;
  --foundry_1tmxzf0a1: #8e5d00;
  --foundry_1tmxzf0a2: #b01414;
  --foundry_1tmxzf0a3: #941111;
  --foundry_1tmxzf0a4: #cc1717;
  --foundry_1tmxzf0a5: #4f5960;
  --foundry_1tmxzf0a6: #404b52;
  --foundry_1tmxzf0a7: #5f686e;
}

.foundry_1tmxzf0ab {
  --foundry_1tmxzf037: #fdfdfd;
  --foundry_1tmxzf038: #fdfdfd;
  --foundry_1tmxzf039: #fdfdfd;
  --foundry_1tmxzf03a: #fdfdfd;
  --foundry_1tmxzf03b: #cdcdcd;
  --foundry_1tmxzf03c: #adadad;
  --foundry_1tmxzf03d: #797979;
  --foundry_1tmxzf03e: #555555;
  --foundry_1tmxzf03f: #2e2e2e;
  --foundry_1tmxzf03g: #000000;
  --foundry_1tmxzf03h: #000000;
  --foundry_1tmxzf03i: #000000;
  --foundry_1tmxzf03j: #000000;
  --foundry_1tmxzf03k: #000000;
  --foundry_1tmxzf03l: #070707;
  --foundry_1tmxzf03m: #1a1a1a;
  --foundry_1tmxzf03n: #2f2f2f;
  --foundry_1tmxzf03o: #656565;
  --foundry_1tmxzf03p: #939393;
  --foundry_1tmxzf03q: #c4c4c4;
  --foundry_1tmxzf03r: #f5f5f5;
  --foundry_1tmxzf03s: #ffffff;
  --foundry_1tmxzf03t: #ffffff;
  --foundry_1tmxzf03u: #ffffff;
  --foundry_1tmxzf03v: #ffdddd;
  --foundry_1tmxzf03w: #ffbdbd;
  --foundry_1tmxzf03x: #ff9c9c;
  --foundry_1tmxzf03y: #ff6d6d;
  --foundry_1tmxzf03z: #f04c4c;
  --foundry_1tmxzf040: #c73737;
  --foundry_1tmxzf041: #a42b2b;
  --foundry_1tmxzf042: #802121;
  --foundry_1tmxzf043: #5a1717;
  --foundry_1tmxzf044: #290b0b;
  --foundry_1tmxzf045: #000000;
  --foundry_1tmxzf046: #000000;
  --foundry_1tmxzf047: #000000;
  --foundry_1tmxzf048: #000000;
  --foundry_1tmxzf049: #670b0b;
  --foundry_1tmxzf04a: #911010;
  --foundry_1tmxzf04b: #bd1515;
  --foundry_1tmxzf04c: #e62323;
  --foundry_1tmxzf04d: #ed6060;
  --foundry_1tmxzf04e: #f28989;
  --foundry_1tmxzf04f: #f6aeae;
  --foundry_1tmxzf04g: #fad0d0;
  --foundry_1tmxzf04h: #fef2f2;
  --foundry_1tmxzf04i: #ffffff;
  --foundry_1tmxzf04j: #ffffff;
  --foundry_1tmxzf04k: #ffffff;
  --foundry_1tmxzf04l: #ffffff;
  --foundry_1tmxzf04m: #ffffff;
  --foundry_1tmxzf04n: #ffe492;
  --foundry_1tmxzf04o: #ffc539;
  --foundry_1tmxzf04p: #f4a811;
  --foundry_1tmxzf04q: #d48e04;
  --foundry_1tmxzf04r: #b87a00;
  --foundry_1tmxzf04s: #966200;
  --foundry_1tmxzf04t: #7a5000;
  --foundry_1tmxzf04u: #5e3e00;
  --foundry_1tmxzf04v: #412b00;
  --foundry_1tmxzf04w: #1d1300;
  --foundry_1tmxzf04x: #000000;
  --foundry_1tmxzf04y: #000000;
  --foundry_1tmxzf04z: #000000;
  --foundry_1tmxzf050: #000000;
  --foundry_1tmxzf051: #442d00;
  --foundry_1tmxzf052: #634100;
  --foundry_1tmxzf053: #825600;
  --foundry_1tmxzf054: #a26b00;
  --foundry_1tmxzf055: #c28101;
  --foundry_1tmxzf056: #e29808;
  --foundry_1tmxzf057: #feb21a;
  --foundry_1tmxzf058: #ffd665;
  --foundry_1tmxzf059: #fff4d7;
  --foundry_1tmxzf05a: #ffffff;
  --foundry_1tmxzf05b: #ffffff;
  --foundry_1tmxzf05c: #ffffff;
  --foundry_1tmxzf05d: #ffffff;
  --foundry_1tmxzf05e: #ffffff;
  --foundry_1tmxzf05f: #adf5ca;
  --foundry_1tmxzf05g: #5ce693;
  --foundry_1tmxzf05h: #2ed16f;
  --foundry_1tmxzf05i: #19b357;
  --foundry_1tmxzf05j: #119c48;
  --foundry_1tmxzf05k: #0a7e38;
  --foundry_1tmxzf05l: #07662d;
  --foundry_1tmxzf05m: #064f23;
  --foundry_1tmxzf05n: #043719;
  --foundry_1tmxzf05o: #03190c;
  --foundry_1tmxzf05p: #000000;
  --foundry_1tmxzf05q: #000000;
  --foundry_1tmxzf05r: #000000;
  --foundry_1tmxzf05s: #000000;
  --foundry_1tmxzf05t: #0c3a1e;
  --foundry_1tmxzf05u: #11522b;
  --foundry_1tmxzf05v: #166d39;
  --foundry_1tmxzf05w: #1b8746;
  --foundry_1tmxzf05x: #21a355;
  --foundry_1tmxzf05y: #26bf63;
  --foundry_1tmxzf05z: #44da80;
  --foundry_1tmxzf060: #9eebbd;
  --foundry_1tmxzf061: #e4faec;
  --foundry_1tmxzf062: #ffffff;
  --foundry_1tmxzf063: #ffffff;
  --foundry_1tmxzf064: #ffffff;
  --foundry_1tmxzf065: #ffffff;
  --foundry_1tmxzf066: #ffffff;
  --foundry_1tmxzf067: #dee6f2;
  --foundry_1tmxzf068: #bdcfe6;
  --foundry_1tmxzf069: #9fb9db;
  --foundry_1tmxzf06a: #7c9fcc;
  --foundry_1tmxzf06b: #6189c0;
  --foundry_1tmxzf06c: #3e6eae;
  --foundry_1tmxzf06d: #26589c;
  --foundry_1tmxzf06e: #134384;
  --foundry_1tmxzf06f: #072e62;
  --foundry_1tmxzf06g: #02152e;
  --foundry_1tmxzf06h: #000000;
  --foundry_1tmxzf06i: #000000;
  --foundry_1tmxzf06j: #000000;
  --foundry_1tmxzf06k: #000000;
  --foundry_1tmxzf06l: #073065;
  --foundry_1tmxzf06m: #154787;
  --foundry_1tmxzf06n: #2e609f;
  --foundry_1tmxzf06o: #4b78b2;
  --foundry_1tmxzf06p: #6a91c1;
  --foundry_1tmxzf06q: #8ba9d0;
  --foundry_1tmxzf06r: #adc2de;
  --foundry_1tmxzf06s: #cfdbeb;
  --foundry_1tmxzf06t: #f1f5f9;
  --foundry_1tmxzf06u: #ffffff;
  --foundry_1tmxzf06v: #ffffff;
  --foundry_1tmxzf06w: #ffffff;
  --foundry_1tmxzf06x: #ffffff;
  --foundry_1tmxzf06y: #ffffff;
  --foundry_1tmxzf06z: #e0e6e9;
  --foundry_1tmxzf070: #c5cfd6;
  --foundry_1tmxzf071: #aab9c2;
  --foundry_1tmxzf072: #8b9fac;
  --foundry_1tmxzf073: #728a9a;
  --foundry_1tmxzf074: #5a707e;
  --foundry_1tmxzf075: #495b67;
  --foundry_1tmxzf076: #39464f;
  --foundry_1tmxzf077: #273037;
  --foundry_1tmxzf078: #111518;
  --foundry_1tmxzf079: #000000;
  --foundry_1tmxzf07a: #000000;
  --foundry_1tmxzf07b: #000000;
  --foundry_1tmxzf07c: #000000;
  --foundry_1tmxzf07d: #28333a;
  --foundry_1tmxzf07e: #3e4950;
  --foundry_1tmxzf07f: #576067;
  --foundry_1tmxzf07g: #6f777d;
  --foundry_1tmxzf07h: #888f94;
  --foundry_1tmxzf07i: #a2a8ab;
  --foundry_1tmxzf07j: #bdc1c4;
  --foundry_1tmxzf07k: #d8dadc;
  --foundry_1tmxzf07l: #f4f4f5;
  --foundry_1tmxzf07m: #ffffff;
  --foundry_1tmxzf07n: #ffffff;
  --foundry_1tmxzf07o: #ffffff;
  --foundry_1tmxzf07p: #ffffff;
  --foundry_1tmxzf07q: #ffffff;
  --foundry_1tmxzf07r: #ffffff;
  --foundry_1tmxzf07s: #000000;
  --foundry_1tmxzf07t: #2f2f2f;
  --foundry_1tmxzf07u: #656565;
  --foundry_1tmxzf07v: #2f2f2f;
  --foundry_1tmxzf07w: #939393;
  --foundry_1tmxzf07x: #f5f5f5;
  --foundry_1tmxzf07y: #adc2de;
  --foundry_1tmxzf07z: #8ba9d0;
  --foundry_1tmxzf080: #cfdbeb;
  --foundry_1tmxzf081: #44da80;
  --foundry_1tmxzf082: #26bf63;
  --foundry_1tmxzf083: #9eebbd;
  --foundry_1tmxzf084: #feb21a;
  --foundry_1tmxzf085: #e29808;
  --foundry_1tmxzf086: #ffd665;
  --foundry_1tmxzf087: #f6aeae;
  --foundry_1tmxzf088: #f28989;
  --foundry_1tmxzf089: #fad0d0;
  --foundry_1tmxzf08a: #bdc1c4;
  --foundry_1tmxzf08b: #a2a8ab;
  --foundry_1tmxzf08c: #d8dadc;
  --foundry_1tmxzf08d: #2f2f2f;
  --foundry_1tmxzf08e: #000000;
  --foundry_1tmxzf08f: #070707;
  --foundry_1tmxzf08g: #2f2f2f;
  --foundry_1tmxzf08h: #656565;
  --foundry_1tmxzf08i: #1a1a1a;
  --foundry_1tmxzf08j: #070707;
  --foundry_1tmxzf08k: #000000;
  --foundry_1tmxzf08l: #0c3a1e;
  --foundry_1tmxzf08m: #073065;
  --foundry_1tmxzf08n: #442d00;
  --foundry_1tmxzf08o: #670b0b;
  --foundry_1tmxzf08p: #28333a;
  --foundry_1tmxzf08q: #ffffff;
  --foundry_1tmxzf08r: #c4c4c4;
  --foundry_1tmxzf08s: #f5f5f5;
  --foundry_1tmxzf08t: #ffffff;
  --foundry_1tmxzf08u: #e4faec;
  --foundry_1tmxzf08v: #f1f5f9;
  --foundry_1tmxzf08w: #fff4d7;
  --foundry_1tmxzf08x: #fef2f2;
  --foundry_1tmxzf08y: #f4f4f5;
  --foundry_1tmxzf08z: #ffffff;
  --foundry_1tmxzf090: #939393;
  --foundry_1tmxzf091: #c4c4c4;
  --foundry_1tmxzf092: #ffffff;
  --foundry_1tmxzf093: #f5f5f5;
  --foundry_1tmxzf094: #f1f5f9;
  --foundry_1tmxzf095: #cfdbeb;
  --foundry_1tmxzf096: #ffffff;
  --foundry_1tmxzf097: #adc2de;
  --foundry_1tmxzf098: #ffffff;
  --foundry_1tmxzf099: #e4faec;
  --foundry_1tmxzf09a: #9eebbd;
  --foundry_1tmxzf09b: #ffffff;
  --foundry_1tmxzf09c: #44da80;
  --foundry_1tmxzf09d: #ffffff;
  --foundry_1tmxzf09e: #fff4d7;
  --foundry_1tmxzf09f: #ffd665;
  --foundry_1tmxzf09g: #ffffff;
  --foundry_1tmxzf09h: #feb21a;
  --foundry_1tmxzf09i: #ffffff;
  --foundry_1tmxzf09j: #fef2f2;
  --foundry_1tmxzf09k: #fad0d0;
  --foundry_1tmxzf09l: #ffffff;
  --foundry_1tmxzf09m: #f6aeae;
  --foundry_1tmxzf09n: #ffffff;
  --foundry_1tmxzf09o: #f4f4f5;
  --foundry_1tmxzf09p: #d8dadc;
  --foundry_1tmxzf09q: #ffffff;
  --foundry_1tmxzf09r: #bdc1c4;
  --foundry_1tmxzf09s: #ffffff;
  --foundry_1tmxzf09t: #6a91c1;
  --foundry_1tmxzf09u: #4b78b2;
  --foundry_1tmxzf09v: #8ba9d0;
  --foundry_1tmxzf09w: #21a355;
  --foundry_1tmxzf09x: #1b8746;
  --foundry_1tmxzf09y: #26bf63;
  --foundry_1tmxzf09z: #c28101;
  --foundry_1tmxzf0a0: #a26b00;
  --foundry_1tmxzf0a1: #e29808;
  --foundry_1tmxzf0a2: #ed6060;
  --foundry_1tmxzf0a3: #e62323;
  --foundry_1tmxzf0a4: #f28989;
  --foundry_1tmxzf0a5: #888f94;
  --foundry_1tmxzf0a6: #6f777d;
  --foundry_1tmxzf0a7: #a2a8ab;
}

/*# sourceMappingURL=a2ed73535f946736c217c6a045f39877.css.map*/