.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 {
  position: relative
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 {
  background: var(--background-color);
  border-radius: 0 0 var(--image-rounding-static-xs) var(--image-rounding-static-xs);
  box-shadow: 0 0 0 transparent;
  color: var(--body-color);
  display: flex;
  flex-flow: column;
  left: 0;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 5
}

.rockstargames-sites-rockstargamesdf17f0cb21e0947d4f391f915bd797d2.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  max-height: 1007px
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 a {
  display: block;
  flex: 1;
  margin: 5px;
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm);
  width: calc(100% - 10px)
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamesa9afd60434d032bdba4ce040dbeb13b7 a:hover {
  background: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  outline: none;
  padding: 1rem 3rem 1rem 2rem;
  text-align: left;
  text-transform: uppercase;
  transition: all .2s ease;
  white-space: nowrap;
  width: 100%
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:focus,
.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50 img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:focus:before,
  .rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f.rockstargames-sites-rockstargamesfe6babf9fc35bb59a2b5225e4d6e7a50:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27 viewBox=%270 0 24 24%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargamesdf17f0cb21e0947d4f391f915bd797d2.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:after {
  background-size: 75%;
  right: var(--base-pixel-size);
  width: 30px
}

.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:focus:after,
.rockstargames-sites-rockstargamesbbf48ac7e790ff47ad1d5ee6fb7da4d9 .rockstargames-sites-rockstargamescb53c003fd165ccb31dee0f32edca90f:hover:after {
  filter: invert(1)
}

.rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df {
  --aspect-ratio-desktop: 64/79;
  --aspect-ratio-mobile: var(--aspect-ratio-desktop);
  border-radius: var(--image-rounding-dynamic, 0);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  aspect-ratio: var(--aspect-ratio-mobile);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%
}

.rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df.rockstargames-sites-rockstargamesdc444c089b89129c0a39bc61845d531f {
  --aspect-ratio-desktop: 10/3;
  --aspect-ratio-mobile: 16/9
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesd87037fda2ea106061c7a614036a89df {
    aspect-ratio: var(--aspect-ratio-desktop)
  }
}

.rockstargames-sites-rockstargamesb9f3c994ce8a97ac6530cf0a85e5abe0 {
  --aspect-ratio-desktop: 4/5
}

/*# sourceMappingURL=d1c5a7c85877957d958bd57a965400ac.css.map*/