.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129 {
  align-self: center;
  background: transparent;
  border: 1px solid var(--color-h);
  border-radius: .25rem;
  color: inherit;
  color: var(--color-h);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 100%;
  padding: 1rem 3rem;
  text-transform: uppercase;
  transition: all .2s ease
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129:focus,
.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129:hover {
  background: var(--standard-color);
  border-color: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c {
  background: transparent;
  border: none;
  font-weight: 400;
  line-height: unset;
  outline: none;
  padding: 0;
  position: relative;
  text-transform: none;
  z-index: 1
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c {
    transition: all .2s ease
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:before {
    background: var(--body-color);
    border-radius: .25rem;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: -.1rem;
    position: absolute;
    transition: all .2s ease;
    width: calc(100% + .2rem);
    z-index: -1
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover {
    color: #161616
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover:before {
    height: 100%;
    left: -.25rem;
    width: calc(100% + .5rem)
  }
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c img {
  display: block
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:before {
    background: var(--standard-color);
    height: 4px
  }

  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:focus:before,
  .rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129.rockstargames-sites-rockstargamesa3e6439dcaa4870840298d683db4831c:hover:before {
    height: 100%;
    left: -.5rem;
    width: calc(100% + 1rem)
  }
}

.rockstargames-sites-rockstargamesbc25ec64410308d56e4dc097e81fb129[disabled] {
  opacity: .5
}

.rockstargames-sites-rockstargamesb660bb706132d84852c02df01cc6ed5a {
  color: var(--tag-color, var(--body-color));
  display: inline-block;
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6;
  padding: 0 .75rem 0 0
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f {
  border-radius: var(--image-rounding-dynamic, 0);
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  background: var(--card-background-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-flow: column;
  overflow: hidden;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f {
  animation: globalFadeInUp .75s;
  animation-play-state: paused
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
  background: var(--card-background-color);
  border: none;
  border-radius: 0;
  display: grid;
  grid-template-columns: 100%;
  justify-content: flex-start;
  margin-bottom: var(--grid-gap-static-lg);
  margin-left: calc(var(--padding-sides) * 2 / -2);
  margin-top: calc(var(--padding-top-bottom) * -1);
  overflow: hidden;
  position: relative;
  width: 100vw
}

@media (min-width:1125px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 70% 1fr
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 65% 1fr;
    margin-left: calc(((100vw - var(--max-width-static-lg)) + (var(--padding-sides) * 2)) / -2)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child {
    grid-template-columns: 60% 1fr
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  align-items: center;
  background-size: cover;
  display: none;
  position: relative;
  transition: transform .3s;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    display: block
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-size: contain;
  display: block;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesb3d4a8cfcc371ae39ce6220d009c5954 {
    display: none
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
  display: flex;
  flex-direction: column;
  padding: var(--grid-gap-static-lg) var(--grid-gap-static-md)
}

@media (max-width:1124px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    display: grid;
    grid-gap: var(--grid-gap-static-xs)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    grid-gap: var(--grid-gap-static-sm);
    max-width: 1024px
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    padding: var(--grid-gap-static-lg)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 {
    padding: var(--grid-gap-static-xl)
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  font-size: var(--font-size-5)
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-6)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-7)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
    font-size: var(--font-size-8)
  }
}

@media (min-width:2560px) {

  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargameseee9c5d3b714a61ac265369800a6d4e0 div,
  .rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f:not(.rockstargames-sites-rockstargamesc06d09374e8b5cc41f1732c691ee8e25):first-child .rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 time {
    font-size: var(--font-size-3) !important
  }
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f.rockstargames-sites-rockstargamesa56af3c95449fe8452485dfb6c89fc29 {
  animation-play-state: running
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f iframe {
  pointer-events: none
}

.rockstargames-sites-rockstargamesb394b56c31488c36155ca82090c66e6f time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  font-weight: 400;
  line-height: 1.6;
  opacity: .65
}

.rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargameseee9c5d3b714a61ac265369800a6d4e0 {
  display: flex;
  flex-wrap: wrap-reverse;
  grid-row-gap: vaR(--grid-gap-static-xs)
}

.rockstargames-sites-rockstargamesea1c51ae745531c2aeabbe3fcf603842 .rockstargames-sites-rockstargamesf1dfe59c3d981dbe132559620885ecea {
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
  --aspect-ratio: 1/1;
  --aspect-ratio-default: 1;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-sites-rockstargamesca2b587572d3c9a74cfc2fedf400ce8c>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c:focus,
.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c.rockstargames-sites-rockstargamesf94728c4a438800b9abab11a8b3e3c0a {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesf2d003dd0e6a129a56ea07208548787c.rockstargames-sites-rockstargamesf94728c4a438800b9abab11a8b3e3c0a img {
  filter: invert()
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 {
  --padding-b: var(--grid-gap-static-xl);
  --max-width-dynamic: var(--max-width-static-xl);
  --grid-gap-dynamic: 0;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%;
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: initial;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  --grid-gap-dynamic: var(--grid-gap-static-md);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self)
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --font-family-h: HelveticaNowDisplayBold;
  overflow: scroll;
  padding-bottom: var(--padding-xs);
  -ms-overflow-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: var(--standard-grid-gap);
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  --per-page: 4;
  grid-auto-columns: calc(100% / var(--per-page) - (var(--per-page) - 1) / var(--per-page) * var(--standard-grid-gap));
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  scrollbar-width: auto
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a ::-webkit-scrollbar {
  display: none
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a>* {
  scroll-snap-align: start
}

@media (max-width:1919px) {
  .rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
    --per-page: 3
  }
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
    --per-page: 2
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a {
    --per-page: 1
  }
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a::-webkit-scrollbar {
  width: 8px
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a::-webkit-scrollbar-track {
  background: transparent
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 .rockstargames-sites-rockstargamescfe09d4dc8447b1e606404300d040e7a::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border: none;
  border-radius: 10px
}

.rockstargames-sites-rockstargamesb8a63bb419c1f2a8f94e099e1e650e48 h2 {
  text-align: center
}

.rockstargames-sites-rockstargamesd46374473ed68a4121f88b44eba06359 {
  justify-content: center
}

.rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2 {
  display: grid;
  grid-gap: var(--standard-grid-gap);
  margin-bottom: var(--grid-gap-static-md)
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
  }
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:first-child {
    grid-column: 1/-1
  }
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:first-child {
    grid-column: 1/-1
  }

  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:nth-child(n+2) {
    grid-column: span 2
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:first-child {
    grid-column: 1/-1
  }

  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:nth-child(2) {
    grid-column: span 2
  }

  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:nth-child(3) {
    grid-column: span 2
  }

  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2:not(.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76)>:nth-child(n+4) {
    grid-column: span 2
  }
}

@media (min-width:0px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76>:nth-child(n) {
    grid-column: span 1
  }
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76>:nth-child(n) {
    grid-column: span 2
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargamesea687097d9239d4830bc03090f0116f2.rockstargames-sites-rockstargamesd301334a72b626f8cc2f5b9733299e76>:nth-child(n) {
    grid-column: span 2
  }
}

.rockstargames-sites-rockstargamese125d510192feb4ce2844cb97084b838 {
  display: block;
  margin: auto
}

.rockstargames-sites-rockstargamesb28a6ee32abeb20049b97677a86a4314,
.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970 {
  display: block;
  height: calc(var(--logo-size, 50px) * .85);
  position: relative;
  width: calc(var(--logo-size, 50px) * .85)
}

.rockstargames-sites-rockstargamesb28a6ee32abeb20049b97677a86a4314,
.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg) no-repeat 50%/contain
}

@keyframes rockstargames-sites-rockstargamesd6728a4f86b3fc0b6ef1440dc156a483 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 3px)
  }

  40% {
    transform: translate(-1px, -1px)
  }

  60% {
    transform: translate(1px, 2px)
  }

  80% {
    transform: translate(1px, 1px)
  }

  to {
    transform: translate(0)
  }
}

@keyframes rockstargames-sites-rockstargamese719e0ff7fd6e7b303d7422ade6f5fb5 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(1px, -2px)
  }

  40% {
    transform: translate(-1px, 1px)
  }

  60% {
    transform: translate(-1px, -1px)
  }

  80% {
    transform: translateY(1px)
  }

  to {
    transform: translate(0)
  }
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:after,
.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:before {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg) no-repeat 50%/contain;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: filter .1s;
  width: 100%
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:before {
  z-index: -1
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:after {
  z-index: -2
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:hover:after,
.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:hover:before {
  opacity: 1
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:hover:before {
  animation: rockstargames-sites-rockstargamesd6728a4f86b3fc0b6ef1440dc156a483 .4s 2 both;
  filter: invert(55%) sepia(80%) saturate(301%) hue-rotate(148deg) brightness(93%) contrast(91%)
}

.rockstargames-sites-rockstargamesa3d920a1139575706b914bc3a0100970:hover:after {
  animation: rockstargames-sites-rockstargamese719e0ff7fd6e7b303d7422ade6f5fb5 .4s 2 both;
  filter: invert(48%) sepia(83%) saturate(4695%) hue-rotate(329deg) brightness(84%) contrast(107%)
}

.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec:focus,
.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec.rockstargames-sites-rockstargamesa6cab397bf3a16564fcc531ef4c16130 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesb403f298c2eff00899432c93daa15aec.rockstargames-sites-rockstargamesa6cab397bf3a16564fcc531ef4c16130 img {
  filter: invert()
}

@keyframes rockstargames-sites-rockstargamese30057881578a38b5dc6f50854c6b56d {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes rockstargames-sites-rockstargamesb2b3117a07a11b3ec5897e4718e24373 {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }

  to {
    opacity: 1;
    transform: translateY(0)
  }
}

.rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  font-family: var(--family-body, "Helvetica Now Text")
}

@media (min-width:2560px) {
  .rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a[open] {
  animation: rockstargames-sites-rockstargamesb2b3117a07a11b3ec5897e4718e24373 .3s ease-in-out;
  background: var(--foundry-alias-color-background-bold-layer-1);
  border: none;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .45);
  color: var(--foundry-alias-color-text-standard);
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-300);
  height: auto;
  max-width: unset;
  padding: var(--foundry-global-spacing-gap-600);
  pointer-events: all;
  text-align: left;
  top: unset;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a[open] {
    animation: rockstargames-sites-rockstargamese30057881578a38b5dc6f50854c6b56d .3s ease-in-out;
    border-radius: var(--foundry-global-border-radius-100);
    height: -moz-fit-content;
    height: fit-content;
    max-width: none;
    top: revert;
    width: 35rem
  }
}

@media screen and (max-width:320px) {
  .rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a[open] {
    padding: var(--foundry-global-spacing-gap-400)
  }
}

.rockstargames-sites-rockstargamesd2c9ef0a70d425745a27c169c594199a[open]::backdrop {
  animation: rockstargames-sites-rockstargamese30057881578a38b5dc6f50854c6b56d .15s ease-in-out;
  background-color: rgba(0, 0, 0, .8)
}

h3.rockstargames-sites-rockstargamesdab9a8f190197c99405cebe1e9a992d6 {
  font-family: inherit;
  font-size: var(--foundry-alias-font-size-heading-04);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-bold);
  letter-spacing: -.75px;
  line-height: 130%
}

.rockstargames-sites-rockstargamesf7cd64be4f94a272222f88f34789734a {
  color: var(--foundry-alias-color-text-standard);
  font-size: var(--foundry-alias-font-size-body-paragraph);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-regular);
  letter-spacing: -.5px;
  line-height: 150%
}

.rockstargames-sites-rockstargamesbc1e57fee27452c58670e4f60e492246 {
  height: 3rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  min-height: 3rem;
  min-width: 3rem;
  width: 3rem
}

.rockstargames-sites-rockstargamesbc1e57fee27452c58670e4f60e492246.rockstargames-sites-rockstargamesb63b9588fb98b439d19028797670c6c5 {
  background-color: var(--foundry-alias-color-icon-success);
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cff5397b33c598c8fb52d0c4bd6a091d.svg);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cff5397b33c598c8fb52d0c4bd6a091d.svg)
}

.rockstargames-sites-rockstargamesbc1e57fee27452c58670e4f60e492246.rockstargames-sites-rockstargamesf654f7a2bf475a939f8c05fb569bfd5e {
  background-color: var(--foundry-alias-color-border-danger);
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a23741c5dc2fc53b734869f88ff259d.svg);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a23741c5dc2fc53b734869f88ff259d.svg)
}

.rockstargames-sites-rockstargamesbc1e57fee27452c58670e4f60e492246.rockstargames-sites-rockstargamesb120386c4c2485c587f87173721d63be {
  background-color: var(--foundry-alias-color-border-control);
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/932e06e3e1872187a1c6da57786f0fa1.svg);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/932e06e3e1872187a1c6da57786f0fa1.svg)
}

.rockstargames-sites-rockstargamesefe65f5c39de5d044fdc6b13c1771125 {
  display: grid;
  grid-column: 1fr;
  grid-gap: var(--grid-gap-xs);
  text-align: left
}

.rockstargames-sites-rockstargamesd35d1125eabb9ae0e941bd585003c4fc {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-sm);
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-rockstargamesd35d1125eabb9ae0e941bd585003c4fc {
    flex-direction: row;
    width: auto
  }
}

.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4:focus,
.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4.rockstargames-sites-rockstargamesfccc728f8062fedd21dda9ff20af4447 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-rockstargamesbcc802c8f4e672f115f1074115c966e4.rockstargames-sites-rockstargamesfccc728f8062fedd21dda9ff20af4447 img {
  filter: invert()
}

@keyframes rockstargames-sites-rockstargamesf96d40bc7df11b0cd20585fb7b275d60 {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.rockstargames-sites-rockstargamesd4657bdad910613ab1c913eac69cc03a {
  animation: rockstargames-sites-rockstargamesf96d40bc7df11b0cd20585fb7b275d60 .25s ease-in-out
}

.rockstargames-sites-rockstargamesc06351d3974c9778756737586bbe2117 {
  --newsletter-min-height: 560px;
  --newsletter-background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6a6451bd8ecdc225f087859e32b19a25.png) repeat;
  --newsletter-background-size: 9.5rem
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesc06351d3974c9778756737586bbe2117 {
    --newsletter-background-size: 13.5rem
  }
}

.rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f {
  align-items: center;
  align-self: stretch;
  background: linear-gradient(0deg, #000 .02%, transparent 74.02%);
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-300);
  justify-content: center;
  min-height: var(--newsletter-min-height);
  padding: var(--foundry-global-spacing-gap-1600) var(--padding-sides);
  position: relative
}

.rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f:before {
  background: var(--newsletter-background);
  background-size: var(--newsletter-background-size);
  bottom: 0;
  content: "";
  left: 0;
  -webkit-mask-image: radial-gradient(75% 50% at 50% 50%, #000, transparent);
  mask-image: radial-gradient(75% 50% at 50% 50%, #000, transparent);
  opacity: .1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f:before {
    -webkit-mask-image: radial-gradient(75% 75% at 50% 50%, #000, transparent);
    mask-image: radial-gradient(75% 75% at 50% 50%, #000, transparent)
  }
}

.rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f h4.rockstargames-sites-rockstargamesce3bcff18b4587d306e54fc607d1c872 {
  color: var(--foundry-alias-color-text-header);
  font-family: var(--family-heading, "Helvetica Now Display");
  font-size: var(--foundry-alias-font-size-heading-04);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-bold);
  letter-spacing: -.6px;
  line-height: 130%
}

.rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f p.rockstargames-sites-rockstargamesfd7cac31d4bc18c4c27f90dfbb6f7f49 {
  color: var(--foundry-alias-color-text-standard);
  font-family: var(--family-body, "Helvetica Now Text");
  font-size: var(--foundry-alias-font-size-body-paragraph);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-regular);
  letter-spacing: -.4px;
  line-height: 150%
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargamesa031b97fa036ddae4bbadc6680558a2f {
    padding: var(--foundry-global-spacing-gap-800) var(--padding-sides)
  }
}

.rockstargames-sites-rockstargamesd5512a5e255d98ac193b89292a6f908e {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-300);
  justify-content: center;
  max-width: 30rem;
  position: relative;
  transition: opacity .3s ease-in-out;
  z-index: 2
}

@media screen and (min-width:576px) {
  .rockstargames-sites-rockstargamesd5512a5e255d98ac193b89292a6f908e {
    align-items: center;
    text-align: center
  }
}

.rockstargames-sites-rockstargamesb47d60d510ae51d65a0f6fb1eb459c89 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-100)
}

.rockstargames-sites-rockstargamesa365a6b8f3c57e3ff39bdfe300b076f4 {
  opacity: 0
}

.rockstargames-sites-rockstargamesf302edb669d15d02ca82b40e4abacebb {
  margin: calc(var(--foundry-global-spacing-gap-200) * -1)
}

.rockstargames-sites-rockstargamesfd4f6875c71d228cd0e8c766e33bca79 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  max-width: var(--max-width);
  min-height: 100vh;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

/*# sourceMappingURL=ee4a29b6762ebd6902fa7a58e6bf3986.css.map*/