@layer foundry_nk7jgu_8kowh40;

@layer foundry_nk7jgu_8kowh40 {
  .foundry_nk7jgu_8kowh41 {
    all: unset;
  }
}

.foundry_nk7jgu_1d5mo5m0 {
  outline-width: 2px;
  outline-style: solid;
  outline-offset: 4px;
  outline-color: transparent;
}

.foundry_nk7jgu_1d5mo5m0:focus-visible {
  outline-color: var(--foundry_b430db7d);
}

.foundry_nk7jgu_1qqcnua0:disabled {
  color: var(--foundry_6c1b5f99);
  border-color: var(--foundry_02700b85);
  background-color: var(--foundry_02700b85);
}

.foundry_nk7jgu_1qqcnua0:focus-visible {
  outline-color: var(--foundry_b430db7d);
}

.foundry_nk7jgu_1qqcnua1 {
  color: var(--foundry_4181979c);
  border-color: var(--foundry_020dfb1f);
  background-color: var(--foundry_020dfb1f);
}

.foundry_nk7jgu_1qqcnua1[data-pressed="true"] {
  border-color: var(--foundry_e3418aa4);
  background-color: var(--foundry_e3418aa4);
}

.foundry_nk7jgu_1qqcnua1:not([data-pressed="true"]):not([disabled]):hover {
  border-color: var(--foundry_59c03dd7);
  background-color: var(--foundry_59c03dd7);
}

.foundry_nk7jgu_1qqcnua1:not([data-pressed="true"]):focus-visible {
  border-color: var(--foundry_59c03dd7);
  background-color: var(--foundry_59c03dd7);
}

.foundry_nk7jgu_1qqcnua2 {
  color: var(--foundry_2d241861);
  border-color: var(--foundry_5c75d572);
  background-color: transparent;
}

.foundry_nk7jgu_1qqcnua2[data-pressed="true"] {
  border-color: var(--foundry_02700b85);
  background-color: var(--foundry_02700b85);
}

.foundry_nk7jgu_1qqcnua2:not([data-pressed="true"]):not([disabled]):hover {
  border-color: var(--foundry_fb12d031);
  background-color: var(--foundry_fb12d031);
}

.foundry_nk7jgu_1qqcnua2:not([data-pressed="true"]):focus-visible {
  border-color: var(--foundry_fb12d031);
  background-color: var(--foundry_fb12d031);
}

.foundry_nk7jgu_1qqcnua2:disabled {
  border-color: var(--foundry_cacdfb33);
  background-color: transparent;
}

.foundry_nk7jgu_1qqcnua3 {
  color: var(--foundry_c0780da4);
  border-color: var(--foundry_2f911b2f);
  background-color: var(--foundry_2f911b2f);
  background-clip: padding-box;
}

.foundry_nk7jgu_1qqcnua3[data-pressed="true"] {
  border-color: var(--foundry_8e38b04d);
  background-color: var(--foundry_8e38b04d);
}

.foundry_nk7jgu_1qqcnua3:not([data-pressed="true"]):not([disabled]):hover {
  border-color: var(--foundry_695b3a30);
  background-color: var(--foundry_695b3a30);
}

.foundry_nk7jgu_1qqcnua3:not([data-pressed="true"]):focus-visible {
  border-color: var(--foundry_695b3a30);
  background-color: var(--foundry_695b3a30);
}

.foundry_nk7jgu_1qqcnua3:disabled {
  border-color: var(--foundry_2f911b2f);
  background-color: var(--foundry_2f911b2f);
}

.foundry_nk7jgu_1qqcnua4 {
  color: var(--foundry_2d241861);
  border-color: transparent;
  background-color: transparent;
}

.foundry_nk7jgu_1qqcnua4[data-pressed="true"] {
  color: var(--foundry_ddc3fb78);
}

.foundry_nk7jgu_1qqcnua4:not([data-pressed="true"]):not([disabled]):hover {
  color: var(--foundry_e8d9db01);
}

.foundry_nk7jgu_1qqcnua4:not([data-pressed="true"]):focus-visible {
  color: var(--foundry_e8d9db01);
}

.foundry_nk7jgu_1qqcnua4:disabled {
  border-color: transparent;
  background-color: transparent;
}

.foundry_nk7jgu_1qqcnua5 {
  color: var(--foundry_d44db539);
  border-color: var(--foundry_cc0c4d91);
  background-color: var(--foundry_cc0c4d91);
}

.foundry_nk7jgu_1qqcnua5[data-pressed="true"] {
  border-color: var(--foundry_81ade28f);
  background-color: var(--foundry_81ade28f);
}

.foundry_nk7jgu_1qqcnua5:not([data-pressed="true"]):not([disabled]):hover {
  border-color: var(--foundry_674881c3);
  background-color: var(--foundry_674881c3);
}

.foundry_nk7jgu_1qqcnua5:not([data-pressed="true"]):focus-visible {
  border-color: var(--foundry_674881c3);
  background-color: var(--foundry_674881c3);
}

.foundry_nk7jgu_1qqcnua5:focus-visible {
  outline-color: var(--foundry_f0d799e8);
}

.foundry_nk7jgu_1qqcnua6 {
  color: var(--foundry_d44db539);
  border-color: var(--foundry_55f69265);
  background-color: var(--foundry_55f69265);
}

.foundry_nk7jgu_1qqcnua6[data-pressed="true"] {
  border-color: var(--foundry_284ef4c0);
  background-color: var(--foundry_284ef4c0);
}

.foundry_nk7jgu_1qqcnua6:not([data-pressed="true"]):not([disabled]):hover {
  border-color: var(--foundry_12c1e6bb);
  background-color: var(--foundry_12c1e6bb);
}

.foundry_nk7jgu_1qqcnua6:not([data-pressed="true"]):focus-visible {
  border-color: var(--foundry_12c1e6bb);
  background-color: var(--foundry_12c1e6bb);
}

.foundry_nk7jgu_1qqcnua6:focus-visible {
  outline-color: var(--foundry_20c326c5);
}

.foundry_nk7jgu_tdsdcd0 {
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'ss01' on, 'salt' on;
}

.foundry_nk7jgu_tdsdcd1 {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  line-height: var(--foundry_f2a1d21c);
  font-style: normal;
  font-weight: var(--foundry_751d319e);
  font-size: var(--foundry_a2892c71);
  letter-spacing: var(--foundry_247e228b);
}

.foundry_nk7jgu_tdsdcd2 {
  font-style: normal;
  font-weight: var(--foundry_751d319e);
  font-family: var(--foundry_fab3091b), var(--foundry_197c505b);
}

.foundry_nk7jgu_tdsdcd4 {
  font-size: var(--foundry_1e8a0727);
  line-height: var(--foundry_f2a1d21c);
  letter-spacing: var(--foundry_247e228b);
}

.foundry_nk7jgu_tdsdcd5 {
  font-size: var(--foundry_0fd2c0d9);
  line-height: var(--foundry_f2a1d21c);
  letter-spacing: var(--foundry_247e228b);
}

.foundry_nk7jgu_tdsdcd6 {
  font-size: var(--foundry_9a73c535);
  line-height: var(--foundry_114ddbcd);
  letter-spacing: var(--foundry_11d3b242);
}

.foundry_nk7jgu_tdsdcd7 {
  font-size: var(--foundry_1fdd08c0);
  line-height: var(--foundry_114ddbcd);
  letter-spacing: var(--foundry_e01b7d49);
}

.foundry_nk7jgu_tdsdcd8 {
  font-size: var(--foundry_beb13840);
  line-height: var(--foundry_1468e63f);
  letter-spacing: var(--foundry_e01b7d49);
}

.foundry_nk7jgu_tdsdcd9 {
  font-size: var(--foundry_40a06748);
  line-height: var(--foundry_1468e63f);
  letter-spacing: var(--foundry_e01b7d49);
}

.foundry_nk7jgu_tdsdcda {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  line-height: var(--foundry_3e320cc8);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  font-size: var(--foundry_cf241758);
  letter-spacing: var(--foundry_ab7f3c8d);
  text-transform: uppercase;
}

.foundry_nk7jgu_tdsdcdd {
  font-weight: var(--foundry_751d319e);
}

.foundry_nk7jgu_tdsdcde {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  line-height: var(--foundry_3e320cc8);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  font-size: var(--foundry_bec4de18);
  letter-spacing: var(--foundry_36e0f114);
}

.foundry_nk7jgu_tdsdcdh {
  font-weight: var(--foundry_751d319e);
}

.foundry_nk7jgu_tdsdcdi {
  font-weight: var(--foundry_751d319e);
  text-decoration-line: underline;
}

.foundry_nk7jgu_tdsdcdj {
  font-weight: var(--foundry_751d319e);
  letter-spacing: var(--foundry_ab7f3c8d);
  text-transform: uppercase;
}

.foundry_nk7jgu_tdsdcdk {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  line-height: var(--foundry_3e320cc8);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  font-size: var(--foundry_caf3b782);
  letter-spacing: var(--foundry_36e0f114);
}

.foundry_nk7jgu_tdsdcdn {
  font-weight: var(--foundry_751d319e);
}

.foundry_nk7jgu_tdsdcdo {
  font-weight: var(--foundry_751d319e);
  text-decoration-line: underline;
}

.foundry_nk7jgu_tdsdcdp {
  font-weight: var(--foundry_751d319e);
  letter-spacing: var(--foundry_ab7f3c8d);
  text-transform: uppercase;
}

.foundry_nk7jgu_tdsdcdq {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  line-height: var(--foundry_3e320cc8);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  font-size: var(--foundry_2a8e6da3);
  letter-spacing: var(--foundry_36e0f114);
}

.foundry_nk7jgu_tdsdcdt {
  font-weight: var(--foundry_751d319e);
}

.foundry_nk7jgu_tdsdcdu {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  line-height: var(--foundry_dc282d1f);
  letter-spacing: var(--foundry_d0c75081);
}

.foundry_nk7jgu_tdsdcdw {
  font-size: var(--foundry_bec4de18);
}

.foundry_nk7jgu_tdsdcdx {
  font-size: var(--foundry_caf3b782);
}

.foundry_nk7jgu_tdsdcdy {
  font-size: var(--foundry_2a8e6da3);
}

.foundry_nk7jgu_tdsdcdz {
  font-size: var(--foundry_cf241758);
}

.foundry_nk7jgu_tdsdcd11 {
  font-weight: var(--foundry_751d319e);
  letter-spacing: var(--foundry_2f64a6bc);
}

.foundry_nk7jgu_tdsdcd12 {
  font-weight: var(--foundry_751d319e);
  text-decoration-line: underline;
  letter-spacing: var(--foundry_2f64a6bc);
}

.foundry_nk7jgu_tdsdcd13 {
  font-family: var(--foundry_a0f2e156), var(--foundry_aa2c93c5);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  line-height: var(--foundry_d7ba3e93);
  letter-spacing: var(--foundry_3d4cc27a);
  text-transform: uppercase;
}

.foundry_nk7jgu_tdsdcd15 {
  font-size: var(--foundry_bec4de18);
}

.foundry_nk7jgu_tdsdcd16 {
  font-size: var(--foundry_caf3b782);
}

.foundry_nk7jgu_tdsdcd17 {
  font-size: var(--foundry_2a8e6da3);
}

.foundry_nk7jgu_tdsdcd18 {
  font-size: var(--foundry_cf241758);
}

.foundry_nk7jgu_tdsdcd1a {
  font-weight: var(--foundry_751d319e);
}

.foundry_nk7jgu_tdsdcd1b {
  font-family: var(--foundry_0731b8b8), var(--foundry_65a5a9e6);
  line-height: var(--foundry_dc282d1f);
  font-style: normal;
  font-weight: var(--foundry_c2af3245);
  font-size: var(--foundry_17a5a27f);
  letter-spacing: var(--foundry_11d3b242);
}

.foundry_nk7jgu_tdsdcd1e {
  font-weight: var(--foundry_751d319e);
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/63cfc284c204bd1597bc68464e18042b.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ddff8a927395b3bbeb442818124b332e.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/064abecda5d2f269d95fa7fd0f340e87.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/8a7bed18c779bf815ff56c24ab6207e5.woff) format("woff");
}

@font-face {
  font-family: "Helvetica Now Display";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/2182248632b4e44ebf3764bc8ac7aba2.woff) format("woff");
}

.foundry_nk7jgu_nu8bkp0 {
  --foundry_df9394ed: 0px;
  --foundry_00f8ef97: 2px;
  --foundry_5b3f01bf: 4px;
  --foundry_742803b2: 8px;
  --foundry_ca109bc3: 12px;
  --foundry_ece22bd6: 16px;
  --foundry_7c6d4daf: 24px;
  --foundry_ddbb88dd: 32px;
  --foundry_a97600a9: 9999px;
  --foundry_8c8d51e6: 1000px;
  --foundry_b149a800: 0px;
  --foundry_8d34e94d: 1px;
  --foundry_52cee49a: 2px;
  --foundry_d4281be2: 3px;
  --foundry_ed6ae051: 4px;
  --foundry_2a51e690: calc(2px * var(--foundry_65afb887));
  --foundry_ae99fc48: calc(4px * var(--foundry_65afb887));
  --foundry_05387de1: calc(8px * var(--foundry_65afb887));
  --foundry_7f268a13: calc(12px * var(--foundry_65afb887));
  --foundry_d63af5f3: calc(14px * var(--foundry_65afb887));
  --foundry_7d922174: calc(16px * var(--foundry_65afb887));
  --foundry_ee21f32b: calc(20px * var(--foundry_65afb887));
  --foundry_2f9fe0c5: calc(24px * var(--foundry_65afb887));
  --foundry_f21302a9: calc(32px * var(--foundry_65afb887));
  --foundry_0fe0ec68: calc(40px * var(--foundry_65afb887));
  --foundry_d02b9116: calc(48px * var(--foundry_65afb887));
  --foundry_936963d7: calc(56px * var(--foundry_65afb887));
  --foundry_4ee30294: calc(64px * var(--foundry_65afb887));
  --foundry_9531b9b6: calc(72px * var(--foundry_65afb887));
  --foundry_af3eeb0f: calc(80px * var(--foundry_65afb887));
  --foundry_6d6ab862: calc(88px * var(--foundry_65afb887));
  --foundry_5eb7c00a: calc(96px * var(--foundry_65afb887));
  --foundry_302a953d: calc(112px * var(--foundry_65afb887));
  --foundry_f3e8c303: calc(128px * var(--foundry_65afb887));
  --foundry_9826a3ad: calc(144px * var(--foundry_65afb887));
  --foundry_c24e1178: calc(160px * var(--foundry_65afb887));
  --foundry_8192be37: calc(176px * var(--foundry_65afb887));
  --foundry_c9462d01: calc(192px * var(--foundry_65afb887));
  --foundry_442ef530: calc(200px * var(--foundry_65afb887));
  --foundry_eec1a90b: calc(2px * var(--foundry_65afb887));
  --foundry_b85610c2: calc(4px * var(--foundry_65afb887));
  --foundry_97e13da9: calc(8px * var(--foundry_65afb887));
  --foundry_ea1fb93c: calc(12px * var(--foundry_65afb887));
  --foundry_6d1e42fb: calc(14px * var(--foundry_65afb887));
  --foundry_2fbf5420: calc(16px * var(--foundry_65afb887));
  --foundry_1db78665: calc(20px * var(--foundry_65afb887));
  --foundry_8149e8c1: calc(24px * var(--foundry_65afb887));
  --foundry_b120da78: calc(32px * var(--foundry_65afb887));
  --foundry_72b67c3c: calc(40px * var(--foundry_65afb887));
  --foundry_552f3071: calc(48px * var(--foundry_65afb887));
  --foundry_523e51c1: calc(56px * var(--foundry_65afb887));
  --foundry_bbdfa298: calc(64px * var(--foundry_65afb887));
  --foundry_efcdb6bf: calc(72px * var(--foundry_65afb887));
  --foundry_7e8c9b30: calc(80px * var(--foundry_65afb887));
  --foundry_aca957c8: calc(88px * var(--foundry_65afb887));
  --foundry_71972197: calc(96px * var(--foundry_65afb887));
  --foundry_8f4cc278: calc(112px * var(--foundry_65afb887));
  --foundry_b5e74cd0: calc(128px * var(--foundry_65afb887));
  --foundry_94e4f433: calc(144px * var(--foundry_65afb887));
  --foundry_d510a4b4: calc(160px * var(--foundry_65afb887));
  --foundry_93c325ca: calc(176px * var(--foundry_65afb887));
  --foundry_4ab359ad: calc(200px * var(--foundry_65afb887));
  --foundry_27404208: calc(240px * var(--foundry_65afb887));
  --foundry_832dd3e8: calc(280px * var(--foundry_65afb887));
  --foundry_981888ae: calc(320px * var(--foundry_65afb887));
  --foundry_2f90e66f: calc(360px * var(--foundry_65afb887));
  --foundry_7c37a31a: calc(400px * var(--foundry_65afb887));
  --foundry_aabe7f2f: calc(500px * var(--foundry_65afb887));
  --foundry_29a7d878: Arial;
  --foundry_15e86e06: Helvetica Now Display;
  --foundry_2f039cca: Helvetica Now Text;
  --foundry_b260a4d8: Consolas;
  --foundry_c543d620: 400;
  --foundry_4d05ca0a: 700;
  --foundry_198f06c7: calc(12px * var(--foundry_65afb887));
  --foundry_7c044718: calc(14px * var(--foundry_65afb887));
  --foundry_9b30a1c2: calc(16px * var(--foundry_65afb887));
  --foundry_6b268615: calc(18px * var(--foundry_65afb887));
  --foundry_7c909c36: calc(20px * var(--foundry_65afb887));
  --foundry_ed2e8eb5: calc(24px * var(--foundry_65afb887));
  --foundry_310f384e: calc(32px * var(--foundry_65afb887));
  --foundry_ae4c1498: calc(40px * var(--foundry_65afb887));
  --foundry_f98b9cf9: calc(48px * var(--foundry_65afb887));
  --foundry_e55fff7d: calc(56px * var(--foundry_65afb887));
  --foundry_cbeeb437: calc(64px * var(--foundry_65afb887));
  --foundry_195dff23: calc(72px * var(--foundry_65afb887));
  --foundry_de0d9aba: calc(80px * var(--foundry_65afb887));
  --foundry_a7f67440: calc(88px * var(--foundry_65afb887));
  --foundry_11d3b242: 0%;
  --foundry_e01b7d49: 0.25%;
  --foundry_823e8792: 1%;
  --foundry_3d4cc27a: 2%;
  --foundry_c0a207ff: 2.5%;
  --foundry_6c4f28af: -2.5%;
  --foundry_d0c75081: -1.5%;
  --foundry_d1dce193: -1%;
  --foundry_247e228b: -0.75%;
  --foundry_2f64a6bc: -0.5%;
  --foundry_d7ba3e93: 100%;
  --foundry_f2a1d21c: 110%;
  --foundry_114ddbcd: 120%;
  --foundry_1468e63f: 130%;
  --foundry_dc282d1f: 150%;
  --foundry_d05cce10: calc(32px * var(--foundry_65afb887));
  --foundry_fab3091b: Helvetica Now Display;
  --foundry_197c505b: Arial;
  --foundry_a0f2e156: Helvetica Now Text;
  --foundry_aa2c93c5: Arial;
  --foundry_0731b8b8: Consolas;
  --foundry_65a5a9e6: Consolas;
  --foundry_4052fb4d: -2.5%;
  --foundry_0c565619: -2.5%;
  --foundry_36e0f114: -2.5%;
  --foundry_1bae4182: -2.5%;
  --foundry_ab7f3c8d: 2%;
  --foundry_1226b09e: 2%;
  --foundry_c2af3245: 400;
  --foundry_751d319e: 700;
  --foundry_cdd6040b: calc(32px * var(--foundry_65afb887));
  --foundry_a2892c71: calc(64px * var(--foundry_65afb887));
  --foundry_1e8a0727: calc(56px * var(--foundry_65afb887));
  --foundry_0fd2c0d9: calc(48px * var(--foundry_65afb887));
  --foundry_9a73c535: calc(40px * var(--foundry_65afb887));
  --foundry_1fdd08c0: calc(32px * var(--foundry_65afb887));
  --foundry_beb13840: calc(24px * var(--foundry_65afb887));
  --foundry_40a06748: calc(20px * var(--foundry_65afb887));
  --foundry_bec4de18: calc(18px * var(--foundry_65afb887));
  --foundry_caf3b782: calc(16px * var(--foundry_65afb887));
  --foundry_2a8e6da3: calc(14px * var(--foundry_65afb887));
  --foundry_cf241758: calc(12px * var(--foundry_65afb887));
  --foundry_17a5a27f: calc(16px * var(--foundry_65afb887));
  --foundry_5379287f: 130%;
  --foundry_3e320cc8: 150%;
}

.foundry_nk7jgu_nu8bkp1 {
  --foundry_05dae190: #fdfdfd;
  --foundry_767699a7: #fdfdfd;
  --foundry_a2172132: #fdfdfd;
  --foundry_01811cdb: #fdfdfd;
  --foundry_8230761c: #eaeaea;
  --foundry_60d2d1b8: #d8d8d8;
  --foundry_b9847fcb: #b2b2b2;
  --foundry_c92b4dd8: #919191;
  --foundry_048e9067: #6d6d6d;
  --foundry_6ebcd800: #464646;
  --foundry_35f77231: #212121;
  --foundry_a85ec23d: #000000;
  --foundry_4181979c: #ffffff;
  --foundry_2026f5f9: #ffffff;
  --foundry_e832421c: #f5f5f5;
  --foundry_ed36bf65: #e4e4e4;
  --foundry_fb12d031: #d1d1d1;
  --foundry_02700b85: #c0c0c0;
  --foundry_54ccd69e: #9f9f9f;
  --foundry_ddc3fb78: #767676;
  --foundry_e8d9db01: #585858;
  --foundry_e3418aa4: #414141;
  --foundry_59c03dd7: #2d2d2d;
  --foundry_bbecd7df: #151515;
  --foundry_020dfb1f: #000000;
  --foundry_5234bf51: #fff3f3;
  --foundry_9b555022: #ffe3e3;
  --foundry_6ef42061: #ffd3d3;
  --foundry_bd31684b: #ffbdbd;
  --foundry_b89c22c5: #ffa5a5;
  --foundry_ed4f7808: #ff8181;
  --foundry_20c326c5: #ff5c5c;
  --foundry_60c90a7b: #e74646;
  --foundry_55f69265: #c93838;
  --foundry_12c1e6bb: #a92d2d;
  --foundry_284ef4c0: #8b2323;
  --foundry_5d3f7911: #6d1c1c;
  --foundry_43fd11f8: #541515;
  --foundry_dff9f9a5: #401010;
  --foundry_9f218b31: #fecccc;
  --foundry_b287e195: #feb6b6;
  --foundry_3513afa6: #fd9d9d;
  --foundry_2e43b523: #fd7d7d;
  --foundry_d198b061: #fc5858;
  --foundry_7da276f6: #fb1e1e;
  --foundry_6f634812: #e10404;
  --foundry_7f423e03: #c50303;
  --foundry_43f71e11: #aa0303;
  --foundry_9f5e2924: #920303;
  --foundry_f2f72614: #7e0202;
  --foundry_aef5078c: #690202;
  --foundry_3c79c39b: #570202;
  --foundry_918ac2c6: #480101;
  --foundry_2887d8ce: #fff4d4;
  --foundry_1dceac31: #ffe8a4;
  --foundry_bda8dae5: #ffdb72;
  --foundry_e603ca1c: #ffc539;
  --foundry_b9703bbc: #fcaf17;
  --foundry_828a39a0: #e19808;
  --foundry_cb059cba: #ca8602;
  --foundry_e49b6916: #b07400;
  --foundry_ff35761e: #976300;
  --foundry_7c6c4551: #7e5200;
  --foundry_2e821a8c: #654200;
  --foundry_aea00231: #503400;
  --foundry_7eec7bd0: #3c2800;
  --foundry_0ff6b89d: #2e1e00;
  --foundry_8f09820e: #ffd258;
  --foundry_63c3f5ee: #ffbd29;
  --foundry_4deab2f6: #f4a811;
  --foundry_78286ac3: #dd9507;
  --foundry_f0427a70: #c68402;
  --foundry_3f6d60dc: #af7400;
  --foundry_959c799c: #9a6500;
  --foundry_099fea86: #855800;
  --foundry_9443df02: #734b00;
  --foundry_abbedd59: #624000;
  --foundry_ff18d083: #523600;
  --foundry_4bc40f51: #442c00;
  --foundry_b3a4b5b4: #372400;
  --foundry_3048335a: #2d1d00;
  --foundry_753f09df: #e0fbea;
  --foundry_b1b43708: #bef7d5;
  --foundry_d66b3241: #93f2b9;
  --foundry_a93942e5: #5ce693;
  --foundry_2888e254: #39d878;
  --foundry_aebbfb3a: #20c05f;
  --foundry_89b4ffdc: #15aa51;
  --foundry_87b9bb4f: #0f9444;
  --foundry_b42b84da: #0b7f39;
  --foundry_43ecb25e: #08692f;
  --foundry_d4597796: #065626;
  --foundry_a4dad299: #05431e;
  --foundry_7861b376: #043317;
  --foundry_4d463023: #032712;
  --foundry_e36f5da3: #96eab8;
  --foundry_e50d247c: #64e096;
  --foundry_e74a73b3: #2ad16c;
  --foundry_3e375ae0: #26bb61;
  --foundry_5eb32af8: #21a657;
  --foundry_67db0104: #1e934c;
  --foundry_b46c5b6e: #1a8043;
  --foundry_62f4ea41: #166f3a;
  --foundry_456c793d: #135f32;
  --foundry_ebe84050: #10522a;
  --foundry_7d1a8857: #0e4424;
  --foundry_f5a760b2: #0b381d;
  --foundry_98111c27: #092e18;
  --foundry_c7a2c7e4: #082513;
  --foundry_e67c243c: #f1f4f9;
  --foundry_d053fe98: #e3eaf4;
  --foundry_564f6a4f: #d4dfee;
  --foundry_803833dc: #bdcfe6;
  --foundry_029df7ec: #a9c0de;
  --foundry_55155611: #8ba9d2;
  --foundry_f0d799e8: #7296c8;
  --foundry_6d071594: #5882bc;
  --foundry_92d3b7cc: #406faf;
  --foundry_cc0c4d91: #295b9f;
  --foundry_674881c3: #17498b;
  --foundry_81ade28f: #0c3874;
  --foundry_92c235c9: #062a5b;
  --foundry_1b5feb14: #032047;
  --foundry_b6c46a86: #ccd9eb;
  --foundry_0ccc0c81: #b7cae4;
  --foundry_e5d80c0e: #9fb9db;
  --foundry_44a2af0b: #86a6d1;
  --foundry_64093fc7: #6e94c6;
  --foundry_41bcc0d5: #5782bc;
  --foundry_6f985a0d: #4271b0;
  --foundry_c66fae2b: #2f61a4;
  --foundry_f87fb7ab: #205396;
  --foundry_129c45a7: #144587;
  --foundry_579d2d7f: #0d3a76;
  --foundry_5b826b61: #082f64;
  --foundry_5864a192: #052654;
  --foundry_b9e5f8ab: #031f45;
  --foundry_a401f55d: #f2f4f6;
  --foundry_157f98a6: #e7ebee;
  --foundry_f057cb2a: #d9dfe4;
  --foundry_5c314058: #c5cfd6;
  --foundry_4eba9472: #b2c0c8;
  --foundry_bb39e74b: #98aab6;
  --foundry_97a0e42c: #8297a5;
  --foundry_c898779d: #6b8495;
  --foundry_ca1e00fd: #5a717f;
  --foundry_97b36592: #4b5e6a;
  --foundry_7a540639: #3d4c55;
  --foundry_9d613b2f: #303b43;
  --foundry_5d82dc91: #242d33;
  --foundry_c9f1799c: #1b2226;
  --foundry_9fd7898d: #d6d8da;
  --foundry_ad5ea160: #c6cacc;
  --foundry_339db442: #b3b7ba;
  --foundry_bacc52ab: #9fa5a9;
  --foundry_24d9f0ae: #8b9297;
  --foundry_28f1d217: #798187;
  --foundry_f8862c98: #697177;
  --foundry_240ff22d: #596269;
  --foundry_30744fa2: #4a555b;
  --foundry_cecc3b2f: #3e484f;
  --foundry_307fe74e: #323d43;
  --foundry_1d61b617: #273239;
  --foundry_26c82681: #1f2930;
  --foundry_6cf3df35: #182128;
  --foundry_d44db539: #ffffff;
  --foundry_16a76e5e: rgba(0, 0, 0, 0.1);
  --foundry_d198b2a6: rgba(0, 0, 0, 0.15);
  --foundry_32fa6bf3: rgba(0, 0, 0, 0.4);
  --foundry_e761096d: rgba(0, 0, 0, 0.5);
  --foundry_1c288c8d: rgba(0, 0, 0, 0.65);
  --foundry_ceca67af: rgba(0, 0, 0, 0.8);
  --foundry_45219d0a: rgba(0, 0, 0, 0.9);
  --foundry_43aea341: #000000;
  --foundry_b141acdd: rgba(0, 0, 0, 0.05);
  --foundry_2f911b2f: rgba(0, 0, 0, 0.10);
  --foundry_695b3a30: rgba(0, 0, 0, 0.15);
  --foundry_8e38b04d: rgba(0, 0, 0, 0.20);
  --foundry_f9b0b74d: rgba(0, 0, 0, 0.35);
  --foundry_f61afb4a: rgba(0, 0, 0, 0.50);
  --foundry_5c75d572: rgba(0, 0, 0, 0.65);
  --foundry_6e56c3f3: rgba(0, 0, 0, 0.80);
  --foundry_130819b2: rgba(0, 0, 0, 0.85);
  --foundry_a416f5ef: rgba(0, 0, 0, 0.90);
  --foundry_68274c65: rgba(0, 0, 0, 0.95);
  --foundry_aee211b5: #96eab8;
  --foundry_433f71ca: #ccd9eb;
  --foundry_1b16c91e: #ffd258;
  --foundry_89bb8777: #fecccc;
  --foundry_bbb55e0c: #d6d8da;
  --foundry_f947e8a3: #ffffff;
  --foundry_a2bc128b: #f5f5f5;
  --foundry_eddb4873: #e4e4e4;
  --foundry_aaaf37c3: #ffffff;
  --foundry_3f1d20b0: #f5f5f5;
  --foundry_74c1dd2f: #e4e4e4;
  --foundry_b67c0bd1: #ffffff;
  --foundry_791bcb22: #464646;
  --foundry_2d241861: #2d2d2d;
  --foundry_6c1b5f99: #767676;
  --foundry_d5502516: #585858;
  --foundry_c0780da4: #151515;
  --foundry_5fcd04d6: #135f32;
  --foundry_5657d70d: #205396;
  --foundry_c0b6f339: #734b00;
  --foundry_bcdfc5ff: #aa0303;
  --foundry_62ff1b40: #4a555b;
  --foundry_3eef4ce2: #2d2d2d;
  --foundry_34e2f46b: #767676;
  --foundry_9b2d1c8c: #585858;
  --foundry_a7a37139: #414141;
  --foundry_6e35947c: #585858;
  --foundry_139f1e42: #205396;
  --foundry_bf7ca27d: #2f61a4;
  --foundry_1dc79bef: #144587;
  --foundry_c97926f1: #4271b0;
  --foundry_5a450ba5: #0d3a76;
  --foundry_e23133ed: #135f32;
  --foundry_a88e4244: #166f3a;
  --foundry_574d0db3: #10522a;
  --foundry_bbecce8c: #1a8043;
  --foundry_1add093c: #0e4424;
  --foundry_72f96436: #734b00;
  --foundry_b6e0d50b: #855800;
  --foundry_0bba028d: #624000;
  --foundry_c396ad20: #9a6500;
  --foundry_78003698: #523600;
  --foundry_615a4836: #aa0303;
  --foundry_92eb2f13: #c50303;
  --foundry_c78869be: #920303;
  --foundry_af0106b8: #e10404;
  --foundry_ef621d13: #7e0202;
  --foundry_7c088ef5: #4a555b;
  --foundry_ec6e11bf: #596269;
  --foundry_7245aa5c: #3e484f;
  --foundry_64031f29: #697177;
  --foundry_4a2ef321: #323d43;
  --foundry_678f338a: #c0c0c0;
  --foundry_f8bbcfca: #d1d1d1;
  --foundry_d535e421: #9f9f9f;
  --foundry_192e0629: #585858;
  --foundry_b430db7d: #4271b0;
  --foundry_9d4cedd9: #5782bc;
  --foundry_d8396f29: #2f61a4;
  --foundry_d9400b20: #1a8043;
  --foundry_e656d81a: #1e934c;
  --foundry_4e576195: #166f3a;
  --foundry_83f5d462: #9a6500;
  --foundry_fd52fff8: #af7400;
  --foundry_6f1f8d51: #855800;
  --foundry_c58a5d4f: #e10404;
  --foundry_e645825b: #fb1e1e;
  --foundry_783d81da: #c50303;
  --foundry_152722dd: #697177;
  --foundry_83343f40: #798187;
  --foundry_e1935bc9: #596269;
  --foundry_cacdfb33: #c0c0c0;
  --foundry_9f37e9b9: rgba(0, 0, 0, 0);
  --foundry_6d17b386: #6e94c6;
  --foundry_a34024fd: #86a6d1;
  --foundry_68ba8e34: #5782bc;
  --foundry_e509717f: #21a657;
  --foundry_9a2a33f9: #26bb61;
  --foundry_1fe42830: #1e934c;
  --foundry_5a28cd24: #c68402;
  --foundry_3c247b72: #dd9507;
  --foundry_a50141af: #af7400;
  --foundry_e7f85ac4: #fc5858;
  --foundry_7692d49b: #fd7d7d;
  --foundry_ace7b335: #fb1e1e;
  --foundry_9f1d83a7: #8b9297;
  --foundry_7bfe0e03: #9fa5a9;
  --foundry_194ae5a1: #798187;
  --foundry_09f992d6: #003366;
  --foundry_6124e706: #FFAA00;
  --foundry_d730e332: #CC0000;
  --foundry_28436c1a: #fcaf17;
}

.foundry_nk7jgu_nu8bkp2 {
  --foundry_05dae190: #fdfdfd;
  --foundry_767699a7: #fdfdfd;
  --foundry_a2172132: #fdfdfd;
  --foundry_01811cdb: #fdfdfd;
  --foundry_8230761c: #eaeaea;
  --foundry_60d2d1b8: #d8d8d8;
  --foundry_b9847fcb: #b2b2b2;
  --foundry_c92b4dd8: #919191;
  --foundry_048e9067: #6d6d6d;
  --foundry_6ebcd800: #464646;
  --foundry_35f77231: #212121;
  --foundry_a85ec23d: #000000;
  --foundry_4181979c: #000000;
  --foundry_2026f5f9: #0e0e0e;
  --foundry_e832421c: #141414;
  --foundry_ed36bf65: #1a1a1a;
  --foundry_fb12d031: #222222;
  --foundry_02700b85: #3f3f3f;
  --foundry_54ccd69e: #5b5b5b;
  --foundry_ddc3fb78: #797979;
  --foundry_e8d9db01: #989898;
  --foundry_e3418aa4: #b3b3b3;
  --foundry_59c03dd7: #cecece;
  --foundry_bbecd7df: #ebebeb;
  --foundry_020dfb1f: #ffffff;
  --foundry_5234bf51: #fff3f3;
  --foundry_9b555022: #ffe3e3;
  --foundry_6ef42061: #ffd3d3;
  --foundry_bd31684b: #ffbdbd;
  --foundry_b89c22c5: #ffa5a5;
  --foundry_ed4f7808: #ff8181;
  --foundry_20c326c5: #ff5c5c;
  --foundry_60c90a7b: #e74646;
  --foundry_55f69265: #c93838;
  --foundry_12c1e6bb: #a92d2d;
  --foundry_284ef4c0: #8b2323;
  --foundry_5d3f7911: #6d1c1c;
  --foundry_43fd11f8: #541515;
  --foundry_dff9f9a5: #401010;
  --foundry_9f218b31: #4b0808;
  --foundry_b287e195: #610b0b;
  --foundry_3513afa6: #7a0e0e;
  --foundry_2e43b523: #941111;
  --foundry_d198b061: #b01414;
  --foundry_7da276f6: #cc1717;
  --foundry_6f634812: #e72424;
  --foundry_7f423e03: #eb5050;
  --foundry_43f71e11: #ef6f6f;
  --foundry_9f5e2924: #f28989;
  --foundry_f2f72614: #f5a4a4;
  --foundry_aef5078c: #f7b5b5;
  --foundry_3c79c39b: #f9c5c5;
  --foundry_918ac2c6: #fad3d3;
  --foundry_2887d8ce: #fff4d4;
  --foundry_1dceac31: #ffe8a4;
  --foundry_bda8dae5: #ffdb72;
  --foundry_e603ca1c: #ffc539;
  --foundry_b9703bbc: #fcaf17;
  --foundry_828a39a0: #e19808;
  --foundry_cb059cba: #ca8602;
  --foundry_e49b6916: #b07400;
  --foundry_ff35761e: #976300;
  --foundry_7c6c4551: #7e5200;
  --foundry_2e821a8c: #654200;
  --foundry_aea00231: #503400;
  --foundry_7eec7bd0: #3c2800;
  --foundry_0ff6b89d: #2e1e00;
  --foundry_8f09820e: #312000;
  --foundry_63c3f5ee: #402a00;
  --foundry_4deab2f6: #533600;
  --foundry_78286ac3: #654200;
  --foundry_f0427a70: #794f00;
  --foundry_3f6d60dc: #8e5d00;
  --foundry_959c799c: #a36b00;
  --foundry_099fea86: #b87a00;
  --foundry_9443df02: #ce8903;
  --foundry_abbedd59: #e29808;
  --foundry_ff18d083: #f7aa13;
  --foundry_4bc40f51: #ffb923;
  --foundry_b3a4b5b4: #ffcb47;
  --foundry_3048335a: #ffd86c;
  --foundry_753f09df: #e0fbea;
  --foundry_b1b43708: #bef7d5;
  --foundry_d66b3241: #93f2b9;
  --foundry_a93942e5: #5ce693;
  --foundry_2888e254: #39d878;
  --foundry_aebbfb3a: #20c05f;
  --foundry_89b4ffdc: #15aa51;
  --foundry_87b9bb4f: #0f9444;
  --foundry_b42b84da: #0b7f39;
  --foundry_43ecb25e: #08692f;
  --foundry_d4597796: #065626;
  --foundry_a4dad299: #05431e;
  --foundry_7861b376: #043317;
  --foundry_4d463023: #032712;
  --foundry_e36f5da3: #082915;
  --foundry_e50d247c: #0b361c;
  --foundry_e74a73b3: #0e4524;
  --foundry_3e375ae0: #11552c;
  --foundry_5eb32af8: #146535;
  --foundry_67db0104: #18763d;
  --foundry_b46c5b6e: #1b8847;
  --foundry_62f4ea41: #1f9a50;
  --foundry_456c793d: #23ad5a;
  --foundry_ebe84050: #26bf63;
  --foundry_7d1a8857: #2bd46f;
  --foundry_f5a760b2: #58dd8d;
  --foundry_98111c27: #84e6ab;
  --foundry_c7a2c7e4: #a3ecc0;
  --foundry_e67c243c: #f1f4f9;
  --foundry_d053fe98: #e3eaf4;
  --foundry_564f6a4f: #d4dfee;
  --foundry_803833dc: #bdcfe6;
  --foundry_029df7ec: #a9c0de;
  --foundry_55155611: #8ba9d2;
  --foundry_f0d799e8: #7296c8;
  --foundry_6d071594: #5882bc;
  --foundry_92d3b7cc: #406faf;
  --foundry_cc0c4d91: #295b9f;
  --foundry_674881c3: #17498b;
  --foundry_81ade28f: #0c3874;
  --foundry_92c235c9: #062a5b;
  --foundry_1b5feb14: #032047;
  --foundry_b6c46a86: #02234c;
  --foundry_0ccc0c81: #052e61;
  --foundry_e5d80c0e: #0c3b76;
  --foundry_44a2af0b: #17498a;
  --foundry_64093fc7: #265899;
  --foundry_41bcc0d5: #3868a6;
  --foundry_6f985a0d: #4c78b2;
  --foundry_c66fae2b: #6189bd;
  --foundry_f87fb7ab: #7699c7;
  --foundry_129c45a7: #8baad0;
  --foundry_579d2d7f: #a4bbda;
  --foundry_5b826b61: #b4c7e0;
  --foundry_5864a192: #c4d3e7;
  --foundry_b9e5f8ab: #d2ddec;
  --foundry_a401f55d: #f2f4f6;
  --foundry_157f98a6: #e7ebee;
  --foundry_f057cb2a: #d9dfe4;
  --foundry_5c314058: #c5cfd6;
  --foundry_4eba9472: #b2c0c8;
  --foundry_bb39e74b: #98aab6;
  --foundry_97a0e42c: #8297a5;
  --foundry_c898779d: #6b8495;
  --foundry_ca1e00fd: #5a717f;
  --foundry_97b36592: #4b5e6a;
  --foundry_7a540639: #3d4c55;
  --foundry_9d613b2f: #303b43;
  --foundry_5d82dc91: #242d33;
  --foundry_c9f1799c: #1b2226;
  --foundry_9fd7898d: #1b252c;
  --foundry_ad5ea160: #253037;
  --foundry_339db442: #323d44;
  --foundry_bacc52ab: #404b52;
  --foundry_24d9f0ae: #4f5960;
  --foundry_28f1d217: #5f686e;
  --foundry_f8862c98: #6f787d;
  --foundry_240ff22d: #80888c;
  --foundry_30744fa2: #92989c;
  --foundry_cecc3b2f: #a3a8ac;
  --foundry_307fe74e: #b6babd;
  --foundry_1d61b617: #c2c6c8;
  --foundry_26c82681: #d0d2d4;
  --foundry_6cf3df35: #dadcde;
  --foundry_d44db539: #ffffff;
  --foundry_16a76e5e: rgba(0, 0, 0, 0.1);
  --foundry_d198b2a6: rgba(0, 0, 0, 0.15);
  --foundry_32fa6bf3: rgba(0, 0, 0, 0.4);
  --foundry_e761096d: rgba(0, 0, 0, 0.5);
  --foundry_1c288c8d: rgba(0, 0, 0, 0.65);
  --foundry_ceca67af: rgba(0, 0, 0, 0.8);
  --foundry_45219d0a: rgba(0, 0, 0, 0.9);
  --foundry_43aea341: #000000;
  --foundry_b141acdd: rgba(255, 255, 255, 0.05);
  --foundry_2f911b2f: rgba(255, 255, 255, 0.10);
  --foundry_695b3a30: rgba(255, 255, 255, 0.15);
  --foundry_8e38b04d: rgba(255, 255, 255, 0.20);
  --foundry_f9b0b74d: rgba(255, 255, 255, 0.35);
  --foundry_f61afb4a: rgba(255, 255, 255, 0.50);
  --foundry_5c75d572: rgba(255, 255, 255, 0.65);
  --foundry_6e56c3f3: rgba(255, 255, 255, 0.80);
  --foundry_130819b2: rgba(255, 255, 255, 0.85);
  --foundry_a416f5ef: rgba(255, 255, 255, 0.90);
  --foundry_68274c65: rgba(255, 255, 255, 0.95);
  --foundry_aee211b5: #082915;
  --foundry_433f71ca: #02234c;
  --foundry_1b16c91e: #312000;
  --foundry_89bb8777: #4b0808;
  --foundry_bbb55e0c: #1b252c;
  --foundry_f947e8a3: #000000;
  --foundry_a2bc128b: #141414;
  --foundry_eddb4873: #222222;
  --foundry_aaaf37c3: #3f3f3f;
  --foundry_3f1d20b0: #1a1a1a;
  --foundry_74c1dd2f: #141414;
  --foundry_b67c0bd1: #0e0e0e;
  --foundry_791bcb22: #212121;
  --foundry_2d241861: #cecece;
  --foundry_6c1b5f99: #797979;
  --foundry_d5502516: #989898;
  --foundry_c0780da4: #ebebeb;
  --foundry_5fcd04d6: #23ad5a;
  --foundry_5657d70d: #7699c7;
  --foundry_c0b6f339: #ce8903;
  --foundry_bcdfc5ff: #ef6f6f;
  --foundry_62ff1b40: #92989c;
  --foundry_3eef4ce2: #cecece;
  --foundry_34e2f46b: #797979;
  --foundry_9b2d1c8c: #989898;
  --foundry_a7a37139: #b3b3b3;
  --foundry_6e35947c: #989898;
  --foundry_139f1e42: #7699c7;
  --foundry_bf7ca27d: #6189bd;
  --foundry_1dc79bef: #8baad0;
  --foundry_c97926f1: #4c78b2;
  --foundry_5a450ba5: #a4bbda;
  --foundry_e23133ed: #23ad5a;
  --foundry_a88e4244: #1f9a50;
  --foundry_574d0db3: #26bf63;
  --foundry_bbecce8c: #1b8847;
  --foundry_1add093c: #2bd46f;
  --foundry_72f96436: #ce8903;
  --foundry_b6e0d50b: #b87a00;
  --foundry_0bba028d: #e29808;
  --foundry_c396ad20: #a36b00;
  --foundry_78003698: #f7aa13;
  --foundry_615a4836: #ef6f6f;
  --foundry_92eb2f13: #eb5050;
  --foundry_c78869be: #f28989;
  --foundry_af0106b8: #e72424;
  --foundry_ef621d13: #f5a4a4;
  --foundry_7c088ef5: #92989c;
  --foundry_ec6e11bf: #80888c;
  --foundry_7245aa5c: #a3a8ac;
  --foundry_64031f29: #6f787d;
  --foundry_4a2ef321: #b6babd;
  --foundry_678f338a: #3f3f3f;
  --foundry_f8bbcfca: #222222;
  --foundry_d535e421: #5b5b5b;
  --foundry_192e0629: #989898;
  --foundry_b430db7d: #4c78b2;
  --foundry_9d4cedd9: #3868a6;
  --foundry_d8396f29: #6189bd;
  --foundry_d9400b20: #1b8847;
  --foundry_e656d81a: #18763d;
  --foundry_4e576195: #1f9a50;
  --foundry_83f5d462: #a36b00;
  --foundry_fd52fff8: #8e5d00;
  --foundry_6f1f8d51: #b87a00;
  --foundry_c58a5d4f: #e72424;
  --foundry_e645825b: #cc1717;
  --foundry_783d81da: #eb5050;
  --foundry_152722dd: #6f787d;
  --foundry_83343f40: #5f686e;
  --foundry_e1935bc9: #80888c;
  --foundry_cacdfb33: #3f3f3f;
  --foundry_9f37e9b9: #222222;
  --foundry_6d17b386: #265899;
  --foundry_a34024fd: #17498a;
  --foundry_68ba8e34: #3868a6;
  --foundry_e509717f: #146535;
  --foundry_9a2a33f9: #11552c;
  --foundry_1fe42830: #18763d;
  --foundry_5a28cd24: #794f00;
  --foundry_3c247b72: #654200;
  --foundry_a50141af: #8e5d00;
  --foundry_e7f85ac4: #b01414;
  --foundry_7692d49b: #941111;
  --foundry_ace7b335: #cc1717;
  --foundry_9f1d83a7: #4f5960;
  --foundry_7bfe0e03: #404b52;
  --foundry_194ae5a1: #5f686e;
  --foundry_09f992d6: #003366;
  --foundry_6124e706: #FFAA00;
  --foundry_d730e332: #CC0000;
  --foundry_28436c1a: #fcaf17;
}

.foundry_nk7jgu_nu8bkp3 {
  --foundry_05dae190: #fdfdfd;
  --foundry_767699a7: #fdfdfd;
  --foundry_a2172132: #fdfdfd;
  --foundry_01811cdb: #fdfdfd;
  --foundry_8230761c: #cdcdcd;
  --foundry_60d2d1b8: #adadad;
  --foundry_b9847fcb: #797979;
  --foundry_c92b4dd8: #555555;
  --foundry_048e9067: #2e2e2e;
  --foundry_6ebcd800: #000000;
  --foundry_35f77231: #000000;
  --foundry_a85ec23d: #000000;
  --foundry_4181979c: #ffffff;
  --foundry_2026f5f9: #ffffff;
  --foundry_e832421c: #ffffff;
  --foundry_ed36bf65: #e4e4e4;
  --foundry_fb12d031: #b5b5b5;
  --foundry_02700b85: #979797;
  --foundry_54ccd69e: #6a6a6a;
  --foundry_ddc3fb78: #3c3c3c;
  --foundry_e8d9db01: #111111;
  --foundry_e3418aa4: #000000;
  --foundry_59c03dd7: #000000;
  --foundry_bbecd7df: #000000;
  --foundry_020dfb1f: #000000;
  --foundry_5234bf51: #ffdddd;
  --foundry_9b555022: #ffbdbd;
  --foundry_6ef42061: #ff9c9c;
  --foundry_bd31684b: #ff6d6d;
  --foundry_b89c22c5: #f04c4c;
  --foundry_ed4f7808: #c73737;
  --foundry_20c326c5: #a42b2b;
  --foundry_60c90a7b: #802121;
  --foundry_55f69265: #5a1717;
  --foundry_12c1e6bb: #290b0b;
  --foundry_284ef4c0: #000000;
  --foundry_5d3f7911: #000000;
  --foundry_43fd11f8: #000000;
  --foundry_dff9f9a5: #000000;
  --foundry_9f218b31: #feb1b1;
  --foundry_b287e195: #fd8181;
  --foundry_3513afa6: #fc4242;
  --foundry_2e43b523: #e20404;
  --foundry_d198b061: #b90303;
  --foundry_7da276f6: #940303;
  --foundry_6f634812: #710202;
  --foundry_7f423e03: #4b0101;
  --foundry_43f71e11: #130000;
  --foundry_9f5e2924: #000000;
  --foundry_f2f72614: #000000;
  --foundry_aef5078c: #000000;
  --foundry_3c79c39b: #000000;
  --foundry_918ac2c6: #000000;
  --foundry_2887d8ce: #ffe492;
  --foundry_1dceac31: #ffc539;
  --foundry_bda8dae5: #f4a811;
  --foundry_e603ca1c: #d48e04;
  --foundry_b9703bbc: #b87a00;
  --foundry_828a39a0: #966200;
  --foundry_cb059cba: #7a5000;
  --foundry_e49b6916: #5e3e00;
  --foundry_ff35761e: #412b00;
  --foundry_7c6c4551: #1d1300;
  --foundry_2e821a8c: #000000;
  --foundry_aea00231: #000000;
  --foundry_7eec7bd0: #000000;
  --foundry_0ff6b89d: #000000;
  --foundry_8f09820e: #ffb720;
  --foundry_63c3f5ee: #e19808;
  --foundry_4deab2f6: #bb7c00;
  --foundry_78286ac3: #9a6500;
  --foundry_f0427a70: #7c5200;
  --foundry_3f6d60dc: #624000;
  --foundry_959c799c: #483000;
  --foundry_099fea86: #2e1e00;
  --foundry_9443df02: #070400;
  --foundry_abbedd59: #000000;
  --foundry_ff18d083: #000000;
  --foundry_4bc40f51: #000000;
  --foundry_b3a4b5b4: #000000;
  --foundry_3048335a: #000000;
  --foundry_753f09df: #adf5ca;
  --foundry_b1b43708: #5ce693;
  --foundry_d66b3241: #2ed16f;
  --foundry_a93942e5: #19b357;
  --foundry_2888e254: #119c48;
  --foundry_aebbfb3a: #0a7e38;
  --foundry_89b4ffdc: #07662d;
  --foundry_87b9bb4f: #064f23;
  --foundry_b42b84da: #043719;
  --foundry_43ecb25e: #03190c;
  --foundry_d4597796: #000000;
  --foundry_a4dad299: #000000;
  --foundry_7861b376: #000000;
  --foundry_4d463023: #000000;
  --foundry_e36f5da3: #57dd8c;
  --foundry_e50d247c: #26be63;
  --foundry_e74a73b3: #1f9d51;
  --foundry_3e375ae0: #1a8043;
  --foundry_5eb32af8: #156836;
  --foundry_67db0104: #10522b;
  --foundry_b46c5b6e: #0c3d1f;
  --foundry_62f4ea41: #082614;
  --foundry_456c793d: #010603;
  --foundry_ebe84050: #000000;
  --foundry_7d1a8857: #000000;
  --foundry_f5a760b2: #000000;
  --foundry_98111c27: #000000;
  --foundry_c7a2c7e4: #000000;
  --foundry_e67c243c: #dee6f2;
  --foundry_d053fe98: #bdcfe6;
  --foundry_564f6a4f: #9fb9db;
  --foundry_803833dc: #7c9fcc;
  --foundry_029df7ec: #6189c0;
  --foundry_55155611: #3e6eae;
  --foundry_f0d799e8: #26589c;
  --foundry_6d071594: #134384;
  --foundry_92d3b7cc: #072e62;
  --foundry_cc0c4d91: #02152e;
  --foundry_674881c3: #000000;
  --foundry_81ade28f: #000000;
  --foundry_92c235c9: #000000;
  --foundry_1b5feb14: #000000;
  --foundry_b6c46a86: #b2c7e2;
  --foundry_0ccc0c81: #8aa9d2;
  --foundry_e5d80c0e: #638bc1;
  --foundry_44a2af0b: #4271b0;
  --foundry_64093fc7: #285a9e;
  --foundry_41bcc0d5: #154688;
  --foundry_6f985a0d: #09336c;
  --foundry_c66fae2b: #032047;
  --foundry_f87fb7ab: #01050b;
  --foundry_129c45a7: #000000;
  --foundry_579d2d7f: #000000;
  --foundry_5b826b61: #000000;
  --foundry_5864a192: #000000;
  --foundry_b9e5f8ab: #000000;
  --foundry_a401f55d: #e0e6e9;
  --foundry_157f98a6: #c5cfd6;
  --foundry_f057cb2a: #aab9c2;
  --foundry_5c314058: #8b9fac;
  --foundry_4eba9472: #728a9a;
  --foundry_bb39e74b: #5a707e;
  --foundry_97a0e42c: #495b67;
  --foundry_c898779d: #39464f;
  --foundry_ca1e00fd: #273037;
  --foundry_97b36592: #111518;
  --foundry_7a540639: #000000;
  --foundry_9d613b2f: #000000;
  --foundry_5d82dc91: #000000;
  --foundry_c9f1799c: #000000;
  --foundry_9fd7898d: #c1c5c8;
  --foundry_ad5ea160: #a1a7ab;
  --foundry_339db442: #838a8f;
  --foundry_bacc52ab: #697177;
  --foundry_24d9f0ae: #525c62;
  --foundry_28f1d217: #3e484f;
  --foundry_f8862c98: #2b363d;
  --foundry_240ff22d: #182229;
  --foundry_30744fa2: #030506;
  --foundry_cecc3b2f: #000000;
  --foundry_307fe74e: #000000;
  --foundry_1d61b617: #000000;
  --foundry_26c82681: #000000;
  --foundry_6cf3df35: #000000;
  --foundry_d44db539: #ffffff;
  --foundry_16a76e5e: rgba(0, 0, 0, 0.1);
  --foundry_d198b2a6: rgba(0, 0, 0, 0.15);
  --foundry_32fa6bf3: rgba(0, 0, 0, 0.4);
  --foundry_e761096d: rgba(0, 0, 0, 0.5);
  --foundry_1c288c8d: rgba(0, 0, 0, 0.65);
  --foundry_ceca67af: rgba(0, 0, 0, 0.8);
  --foundry_45219d0a: rgba(0, 0, 0, 0.9);
  --foundry_43aea341: #000000;
  --foundry_b141acdd: rgba(0, 0, 0, 0.05);
  --foundry_2f911b2f: rgba(0, 0, 0, 0.10);
  --foundry_695b3a30: rgba(0, 0, 0, 0.15);
  --foundry_8e38b04d: rgba(0, 0, 0, 0.20);
  --foundry_f9b0b74d: rgba(0, 0, 0, 0.35);
  --foundry_f61afb4a: rgba(0, 0, 0, 0.50);
  --foundry_5c75d572: rgba(0, 0, 0, 0.65);
  --foundry_6e56c3f3: rgba(0, 0, 0, 0.80);
  --foundry_130819b2: rgba(0, 0, 0, 0.85);
  --foundry_a416f5ef: rgba(0, 0, 0, 0.90);
  --foundry_68274c65: rgba(0, 0, 0, 0.95);
  --foundry_aee211b5: #57dd8c;
  --foundry_433f71ca: #b2c7e2;
  --foundry_1b16c91e: #ffb720;
  --foundry_89bb8777: #feb1b1;
  --foundry_bbb55e0c: #c1c5c8;
  --foundry_f947e8a3: #ffffff;
  --foundry_a2bc128b: #ffffff;
  --foundry_eddb4873: #e4e4e4;
  --foundry_aaaf37c3: #ffffff;
  --foundry_3f1d20b0: #ffffff;
  --foundry_74c1dd2f: #e4e4e4;
  --foundry_b67c0bd1: #ffffff;
  --foundry_791bcb22: #000000;
  --foundry_2d241861: #000000;
  --foundry_6c1b5f99: #3c3c3c;
  --foundry_d5502516: #111111;
  --foundry_c0780da4: #000000;
  --foundry_5fcd04d6: #010603;
  --foundry_5657d70d: #01050b;
  --foundry_c0b6f339: #070400;
  --foundry_bcdfc5ff: #130000;
  --foundry_62ff1b40: #030506;
  --foundry_3eef4ce2: #000000;
  --foundry_34e2f46b: #3c3c3c;
  --foundry_9b2d1c8c: #111111;
  --foundry_a7a37139: #000000;
  --foundry_6e35947c: #111111;
  --foundry_139f1e42: #01050b;
  --foundry_bf7ca27d: #032047;
  --foundry_1dc79bef: #000000;
  --foundry_c97926f1: #09336c;
  --foundry_5a450ba5: #000000;
  --foundry_e23133ed: #010603;
  --foundry_a88e4244: #082614;
  --foundry_574d0db3: #000000;
  --foundry_bbecce8c: #0c3d1f;
  --foundry_1add093c: #000000;
  --foundry_72f96436: #070400;
  --foundry_b6e0d50b: #2e1e00;
  --foundry_0bba028d: #000000;
  --foundry_c396ad20: #483000;
  --foundry_78003698: #000000;
  --foundry_615a4836: #130000;
  --foundry_92eb2f13: #4b0101;
  --foundry_c78869be: #000000;
  --foundry_af0106b8: #710202;
  --foundry_ef621d13: #000000;
  --foundry_7c088ef5: #030506;
  --foundry_ec6e11bf: #182229;
  --foundry_7245aa5c: #000000;
  --foundry_64031f29: #2b363d;
  --foundry_4a2ef321: #000000;
  --foundry_678f338a: #979797;
  --foundry_f8bbcfca: #b5b5b5;
  --foundry_d535e421: #6a6a6a;
  --foundry_192e0629: #111111;
  --foundry_b430db7d: #09336c;
  --foundry_9d4cedd9: #154688;
  --foundry_d8396f29: #032047;
  --foundry_d9400b20: #0c3d1f;
  --foundry_e656d81a: #10522b;
  --foundry_4e576195: #082614;
  --foundry_83f5d462: #483000;
  --foundry_fd52fff8: #624000;
  --foundry_6f1f8d51: #2e1e00;
  --foundry_c58a5d4f: #710202;
  --foundry_e645825b: #940303;
  --foundry_783d81da: #4b0101;
  --foundry_152722dd: #2b363d;
  --foundry_83343f40: #3e484f;
  --foundry_e1935bc9: #182229;
  --foundry_cacdfb33: #979797;
  --foundry_9f37e9b9: rgba(0, 0, 0, 0);
  --foundry_6d17b386: #285a9e;
  --foundry_a34024fd: #4271b0;
  --foundry_68ba8e34: #154688;
  --foundry_e509717f: #156836;
  --foundry_9a2a33f9: #1a8043;
  --foundry_1fe42830: #10522b;
  --foundry_5a28cd24: #7c5200;
  --foundry_3c247b72: #9a6500;
  --foundry_a50141af: #624000;
  --foundry_e7f85ac4: #b90303;
  --foundry_7692d49b: #e20404;
  --foundry_ace7b335: #940303;
  --foundry_9f1d83a7: #525c62;
  --foundry_7bfe0e03: #697177;
  --foundry_194ae5a1: #3e484f;
  --foundry_09f992d6: #003366;
  --foundry_6124e706: #FFAA00;
  --foundry_d730e332: #CC0000;
  --foundry_28436c1a: #b87a00;
}

.foundry_nk7jgu_nu8bkp4 {
  --foundry_05dae190: #fdfdfd;
  --foundry_767699a7: #fdfdfd;
  --foundry_a2172132: #fdfdfd;
  --foundry_01811cdb: #fdfdfd;
  --foundry_8230761c: #cdcdcd;
  --foundry_60d2d1b8: #adadad;
  --foundry_b9847fcb: #797979;
  --foundry_c92b4dd8: #555555;
  --foundry_048e9067: #2e2e2e;
  --foundry_6ebcd800: #000000;
  --foundry_35f77231: #000000;
  --foundry_a85ec23d: #000000;
  --foundry_4181979c: #000000;
  --foundry_2026f5f9: #000000;
  --foundry_e832421c: #070707;
  --foundry_ed36bf65: #1a1a1a;
  --foundry_fb12d031: #2f2f2f;
  --foundry_02700b85: #656565;
  --foundry_54ccd69e: #939393;
  --foundry_ddc3fb78: #c4c4c4;
  --foundry_e8d9db01: #f5f5f5;
  --foundry_e3418aa4: #ffffff;
  --foundry_59c03dd7: #ffffff;
  --foundry_bbecd7df: #ffffff;
  --foundry_020dfb1f: #ffffff;
  --foundry_5234bf51: #ffdddd;
  --foundry_9b555022: #ffbdbd;
  --foundry_6ef42061: #ff9c9c;
  --foundry_bd31684b: #ff6d6d;
  --foundry_b89c22c5: #f04c4c;
  --foundry_ed4f7808: #c73737;
  --foundry_20c326c5: #a42b2b;
  --foundry_60c90a7b: #802121;
  --foundry_55f69265: #5a1717;
  --foundry_12c1e6bb: #290b0b;
  --foundry_284ef4c0: #000000;
  --foundry_5d3f7911: #000000;
  --foundry_43fd11f8: #000000;
  --foundry_dff9f9a5: #000000;
  --foundry_9f218b31: #670b0b;
  --foundry_b287e195: #911010;
  --foundry_3513afa6: #bd1515;
  --foundry_2e43b523: #e62323;
  --foundry_d198b061: #ed6060;
  --foundry_7da276f6: #f28989;
  --foundry_6f634812: #f6aeae;
  --foundry_7f423e03: #fad0d0;
  --foundry_43f71e11: #fef2f2;
  --foundry_9f5e2924: #ffffff;
  --foundry_f2f72614: #ffffff;
  --foundry_aef5078c: #ffffff;
  --foundry_3c79c39b: #ffffff;
  --foundry_918ac2c6: #ffffff;
  --foundry_2887d8ce: #ffe492;
  --foundry_1dceac31: #ffc539;
  --foundry_bda8dae5: #f4a811;
  --foundry_e603ca1c: #d48e04;
  --foundry_b9703bbc: #b87a00;
  --foundry_828a39a0: #966200;
  --foundry_cb059cba: #7a5000;
  --foundry_e49b6916: #5e3e00;
  --foundry_ff35761e: #412b00;
  --foundry_7c6c4551: #1d1300;
  --foundry_2e821a8c: #000000;
  --foundry_aea00231: #000000;
  --foundry_7eec7bd0: #000000;
  --foundry_0ff6b89d: #000000;
  --foundry_8f09820e: #442d00;
  --foundry_63c3f5ee: #634100;
  --foundry_4deab2f6: #825600;
  --foundry_78286ac3: #a26b00;
  --foundry_f0427a70: #c28101;
  --foundry_3f6d60dc: #e29808;
  --foundry_959c799c: #feb21a;
  --foundry_099fea86: #ffd665;
  --foundry_9443df02: #fff4d7;
  --foundry_abbedd59: #ffffff;
  --foundry_ff18d083: #ffffff;
  --foundry_4bc40f51: #ffffff;
  --foundry_b3a4b5b4: #ffffff;
  --foundry_3048335a: #ffffff;
  --foundry_753f09df: #adf5ca;
  --foundry_b1b43708: #5ce693;
  --foundry_d66b3241: #2ed16f;
  --foundry_a93942e5: #19b357;
  --foundry_2888e254: #119c48;
  --foundry_aebbfb3a: #0a7e38;
  --foundry_89b4ffdc: #07662d;
  --foundry_87b9bb4f: #064f23;
  --foundry_b42b84da: #043719;
  --foundry_43ecb25e: #03190c;
  --foundry_d4597796: #000000;
  --foundry_a4dad299: #000000;
  --foundry_7861b376: #000000;
  --foundry_4d463023: #000000;
  --foundry_e36f5da3: #0c3a1e;
  --foundry_e50d247c: #11522b;
  --foundry_e74a73b3: #166d39;
  --foundry_3e375ae0: #1b8746;
  --foundry_5eb32af8: #21a355;
  --foundry_67db0104: #26bf63;
  --foundry_b46c5b6e: #44da80;
  --foundry_62f4ea41: #9eebbd;
  --foundry_456c793d: #e4faec;
  --foundry_ebe84050: #ffffff;
  --foundry_7d1a8857: #ffffff;
  --foundry_f5a760b2: #ffffff;
  --foundry_98111c27: #ffffff;
  --foundry_c7a2c7e4: #ffffff;
  --foundry_e67c243c: #dee6f2;
  --foundry_d053fe98: #bdcfe6;
  --foundry_564f6a4f: #9fb9db;
  --foundry_803833dc: #7c9fcc;
  --foundry_029df7ec: #6189c0;
  --foundry_55155611: #3e6eae;
  --foundry_f0d799e8: #26589c;
  --foundry_6d071594: #134384;
  --foundry_92d3b7cc: #072e62;
  --foundry_cc0c4d91: #02152e;
  --foundry_674881c3: #000000;
  --foundry_81ade28f: #000000;
  --foundry_92c235c9: #000000;
  --foundry_1b5feb14: #000000;
  --foundry_b6c46a86: #073065;
  --foundry_0ccc0c81: #154787;
  --foundry_e5d80c0e: #2e609f;
  --foundry_44a2af0b: #4b78b2;
  --foundry_64093fc7: #6a91c1;
  --foundry_41bcc0d5: #8ba9d0;
  --foundry_6f985a0d: #adc2de;
  --foundry_c66fae2b: #cfdbeb;
  --foundry_f87fb7ab: #f1f5f9;
  --foundry_129c45a7: #ffffff;
  --foundry_579d2d7f: #ffffff;
  --foundry_5b826b61: #ffffff;
  --foundry_5864a192: #ffffff;
  --foundry_b9e5f8ab: #ffffff;
  --foundry_a401f55d: #e0e6e9;
  --foundry_157f98a6: #c5cfd6;
  --foundry_f057cb2a: #aab9c2;
  --foundry_5c314058: #8b9fac;
  --foundry_4eba9472: #728a9a;
  --foundry_bb39e74b: #5a707e;
  --foundry_97a0e42c: #495b67;
  --foundry_c898779d: #39464f;
  --foundry_ca1e00fd: #273037;
  --foundry_97b36592: #111518;
  --foundry_7a540639: #000000;
  --foundry_9d613b2f: #000000;
  --foundry_5d82dc91: #000000;
  --foundry_c9f1799c: #000000;
  --foundry_9fd7898d: #28333a;
  --foundry_ad5ea160: #3e4950;
  --foundry_339db442: #576067;
  --foundry_bacc52ab: #6f777d;
  --foundry_24d9f0ae: #888f94;
  --foundry_28f1d217: #a2a8ab;
  --foundry_f8862c98: #bdc1c4;
  --foundry_240ff22d: #d8dadc;
  --foundry_30744fa2: #f4f4f5;
  --foundry_cecc3b2f: #ffffff;
  --foundry_307fe74e: #ffffff;
  --foundry_1d61b617: #ffffff;
  --foundry_26c82681: #ffffff;
  --foundry_6cf3df35: #ffffff;
  --foundry_d44db539: #ffffff;
  --foundry_16a76e5e: rgba(0, 0, 0, 0.1);
  --foundry_d198b2a6: rgba(0, 0, 0, 0.15);
  --foundry_32fa6bf3: rgba(0, 0, 0, 0.4);
  --foundry_e761096d: rgba(0, 0, 0, 0.5);
  --foundry_1c288c8d: rgba(0, 0, 0, 0.65);
  --foundry_ceca67af: rgba(0, 0, 0, 0.8);
  --foundry_45219d0a: rgba(0, 0, 0, 0.9);
  --foundry_43aea341: #000000;
  --foundry_b141acdd: rgba(255, 255, 255, 0.05);
  --foundry_2f911b2f: rgba(255, 255, 255, 0.10);
  --foundry_695b3a30: rgba(255, 255, 255, 0.15);
  --foundry_8e38b04d: rgba(255, 255, 255, 0.20);
  --foundry_f9b0b74d: rgba(255, 255, 255, 0.35);
  --foundry_f61afb4a: rgba(255, 255, 255, 0.50);
  --foundry_5c75d572: rgba(255, 255, 255, 0.65);
  --foundry_6e56c3f3: rgba(255, 255, 255, 0.80);
  --foundry_130819b2: rgba(255, 255, 255, 0.85);
  --foundry_a416f5ef: rgba(255, 255, 255, 0.90);
  --foundry_68274c65: rgba(255, 255, 255, 0.95);
  --foundry_aee211b5: #0c3a1e;
  --foundry_433f71ca: #073065;
  --foundry_1b16c91e: #442d00;
  --foundry_89bb8777: #670b0b;
  --foundry_bbb55e0c: #28333a;
  --foundry_f947e8a3: #000000;
  --foundry_a2bc128b: #070707;
  --foundry_eddb4873: #2f2f2f;
  --foundry_aaaf37c3: #656565;
  --foundry_3f1d20b0: #1a1a1a;
  --foundry_74c1dd2f: #070707;
  --foundry_b67c0bd1: #000000;
  --foundry_791bcb22: #000000;
  --foundry_2d241861: #ffffff;
  --foundry_6c1b5f99: #c4c4c4;
  --foundry_d5502516: #f5f5f5;
  --foundry_c0780da4: #ffffff;
  --foundry_5fcd04d6: #e4faec;
  --foundry_5657d70d: #f1f5f9;
  --foundry_c0b6f339: #fff4d7;
  --foundry_bcdfc5ff: #fef2f2;
  --foundry_62ff1b40: #f4f4f5;
  --foundry_3eef4ce2: #ffffff;
  --foundry_34e2f46b: #c4c4c4;
  --foundry_9b2d1c8c: #f5f5f5;
  --foundry_a7a37139: #ffffff;
  --foundry_6e35947c: #f5f5f5;
  --foundry_139f1e42: #f1f5f9;
  --foundry_bf7ca27d: #cfdbeb;
  --foundry_1dc79bef: #ffffff;
  --foundry_c97926f1: #adc2de;
  --foundry_5a450ba5: #ffffff;
  --foundry_e23133ed: #e4faec;
  --foundry_a88e4244: #9eebbd;
  --foundry_574d0db3: #ffffff;
  --foundry_bbecce8c: #44da80;
  --foundry_1add093c: #ffffff;
  --foundry_72f96436: #fff4d7;
  --foundry_b6e0d50b: #ffd665;
  --foundry_0bba028d: #ffffff;
  --foundry_c396ad20: #feb21a;
  --foundry_78003698: #ffffff;
  --foundry_615a4836: #fef2f2;
  --foundry_92eb2f13: #fad0d0;
  --foundry_c78869be: #ffffff;
  --foundry_af0106b8: #f6aeae;
  --foundry_ef621d13: #ffffff;
  --foundry_7c088ef5: #f4f4f5;
  --foundry_ec6e11bf: #d8dadc;
  --foundry_7245aa5c: #ffffff;
  --foundry_64031f29: #bdc1c4;
  --foundry_4a2ef321: #ffffff;
  --foundry_678f338a: #656565;
  --foundry_f8bbcfca: #2f2f2f;
  --foundry_d535e421: #939393;
  --foundry_192e0629: #f5f5f5;
  --foundry_b430db7d: #adc2de;
  --foundry_9d4cedd9: #8ba9d0;
  --foundry_d8396f29: #cfdbeb;
  --foundry_d9400b20: #44da80;
  --foundry_e656d81a: #26bf63;
  --foundry_4e576195: #9eebbd;
  --foundry_83f5d462: #feb21a;
  --foundry_fd52fff8: #e29808;
  --foundry_6f1f8d51: #ffd665;
  --foundry_c58a5d4f: #f6aeae;
  --foundry_e645825b: #f28989;
  --foundry_783d81da: #fad0d0;
  --foundry_152722dd: #bdc1c4;
  --foundry_83343f40: #a2a8ab;
  --foundry_e1935bc9: #d8dadc;
  --foundry_cacdfb33: #656565;
  --foundry_9f37e9b9: #2f2f2f;
  --foundry_6d17b386: #6a91c1;
  --foundry_a34024fd: #4b78b2;
  --foundry_68ba8e34: #8ba9d0;
  --foundry_e509717f: #21a355;
  --foundry_9a2a33f9: #1b8746;
  --foundry_1fe42830: #26bf63;
  --foundry_5a28cd24: #c28101;
  --foundry_3c247b72: #a26b00;
  --foundry_a50141af: #e29808;
  --foundry_e7f85ac4: #ed6060;
  --foundry_7692d49b: #e62323;
  --foundry_ace7b335: #f28989;
  --foundry_9f1d83a7: #888f94;
  --foundry_7bfe0e03: #6f777d;
  --foundry_194ae5a1: #a2a8ab;
  --foundry_09f992d6: #003366;
  --foundry_6124e706: #FFAA00;
  --foundry_d730e332: #CC0000;
  --foundry_28436c1a: #b87a00;
}

/*# sourceMappingURL=136cc3f3aa219b97687bdb39e57010f8.css.map*/