.rockstargames-modules-core-newswire-articlef073fd2a0c5625655ae87cf89a725225 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlef073fd2a0c5625655ae87cf89a725225 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlede69a6bf128f30de6df513f299eacf7c {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlede69a6bf128f30de6df513f299eacf7c {
    display: none
  }
}

.rockstargames-modules-core-newswire-articleb69b254d2cda9aa72806f30b0162262d {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articleb69b254d2cda9aa72806f30b0162262d {
    display: none
  }

  .rockstargames-modules-core-newswire-articled270a0d8864df937bcafc539c843cb39 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articledcfab64d29bb60600f767c06dc8318fa {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articledcfab64d29bb60600f767c06dc8318fa {
    display: none
  }

  .rockstargames-modules-core-newswire-articlebbbddf0e998a54717c05f3897b516826 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec8b423f60992c19f547ff7b97d238fdf {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlec8b423f60992c19f547ff7b97d238fdf {
    display: none
  }

  .rockstargames-modules-core-newswire-articlefa0962218b97da3cd5f8d2a11218fbc5 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articleedc493c4dc6a431b9e01b551165005c2 {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articleedc493c4dc6a431b9e01b551165005c2 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlef6406baac7c8c649c6bfa7e41407c408 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled38a2ee2369c44c0101ed794db3e6d7c {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articled38a2ee2369c44c0101ed794db3e6d7c {
    display: none
  }

  .rockstargames-modules-core-newswire-articlefd182098708651bf76f0317a8f3e2cad {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlebc491c5e4ac096c56ef8bc08c94649ac {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articled173fce991436b4975efa61007e46664 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-modules-core-newswire-articleb671a3f888ca9817a7e3a64f610c544e {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-modules-core-newswire-articlee064dc64e8760250a95995af1e10a6a7 {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlee064dc64e8760250a95995af1e10a6a7 {
    --padding-dynamic: 0
  }
}

.rockstargames-modules-core-newswire-articlee9d043aed6c85510ca63f6f2f5c98a83 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlee9d043aed6c85510ca63f6f2f5c98a83 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-modules-core-newswire-articledfb715e84d97ba5d0641284920678f52 {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articledfb715e84d97ba5d0641284920678f52 {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-modules-core-newswire-articledfb715e84d97ba5d0641284920678f52.rockstargames-modules-core-newswire-articledd5b3428a548bed8a08ec1c64a273fce {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

[data-game^=gta] {
  --image-rounding-dynamic: var(--image-rounding-static, 16px)
}

.rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 {
  --padding-t: initial;
  --padding-b: initial;
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img {
  border: var(--image-border-style);
  border-radius: var(--image-border-radius);
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none
}

[data-game=gtao] .rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img {
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img.rockstargames-modules-core-newswire-articlecc9a6fdcc84b758d60987ea9a5ddfd81 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img.rockstargames-modules-core-newswire-articlecc9a6fdcc84b758d60987ea9a5ddfd81 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img.rockstargames-modules-core-newswire-articleee609f31f3685766122c2c6fc0ef0710 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 img.rockstargames-modules-core-newswire-articleee609f31f3685766122c2c6fc0ef0710 {
    display: none
  }
}

.rockstargames-modules-core-newswire-articleeb64520e04e486931cd65dc5b3fa61e8 iframe {
  left: 0;
  position: absolute;
  top: 0
}

.rockstargames-modules-core-newswire-articlecd47c486c8b1a2e1a06ecedb74979589,
.rockstargames-modules-core-newswire-articlecd47c486c8b1a2e1a06ecedb74979589 img {
  height: 100%;
  width: 100%
}

.rockstargames-modules-core-newswire-articlecd47c486c8b1a2e1a06ecedb74979589 img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

[data-game^=gta] .rockstargames-modules-core-newswire-articleae6b90a31bcec2fa95556995526e81c2 {
  --image-rounding-dynamic: 0
}

.frame_1 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_2 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_3 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_4 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_5 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_6 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824:focus,
.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824.rockstargames-modules-core-newswire-articlebcce8ac50552b225f30d185d876a3e14 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-newswire-articlea89792e50dfe5470a67f42b9e143c824.rockstargames-modules-core-newswire-articlebcce8ac50552b225f30d185d876a3e14 img {
  filter: invert()
}

.rockstargames-modules-core-newswire-articleac295ed5b9cb441ed17843b34e83ea17 {
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: flex;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  justify-content: space-around
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articleac295ed5b9cb441ed17843b34e83ea17 {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 {
  grid-gap: var(--grid-gap-static-md);
  --unordered-list-grid-column-responsive: var(--unordered-list-grid-column, 1);
  display: grid;
  grid-template-columns: repeat(var(--unordered-list-grid-column-responsive), 1fr);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding-left: 0 !important;
  row-gap: 0;
  text-align: left;
  width: 100%;
  width: auto
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 {
    --unordered-list-grid-column-responsive: var(--unordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li {
  color: var(--color-body);
  color: var(--list-color-span, var(--foundry-alias-color-text-standard, var(--color-body, inherit)));
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-static-sm, .5rem))
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb291112adcf994a0f6acadd86f73b78a {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb291112adcf994a0f6acadd86f73b78a li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb291112adcf994a0f6acadd86f73b78a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/055974c59ae2fd76f3c8584183967670.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 {
  margin: 0;
  padding-left: 0
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e li,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e li:before,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bd62daf191f66403ccb4b8b24bae7de5.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e li:before,
  .newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before,
  [data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before {
    top: .3rem
  }
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e li:not(:last-child),
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:not(:last-child),
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac {
  padding-left: var(--grid-gap-static-md)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:last-child,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:last-child,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:last-child {
  margin: 0
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled146e8f862baefb60e91be5aa3c17b6e.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:before,
.newswireFull.rdo .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:before,
[data-game=rdo] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleba9b5ae08642b0213a3f04b3db9a9dac li:before {
  content: none
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 {
  margin: 0 auto;
  padding-left: 0
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b li,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2e9206b87feb4567a83a182d243ae0b6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articleaf89164a043648d1464686ff13363ee4 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleaf89164a043648d1464686ff13363ee4 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleaf89164a043648d1464686ff13363ee4 li:before {
  background-image: var(--custom-star, none)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articled244b17b74fc46269e8a106a99ab0f87 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled244b17b74fc46269e8a106a99ab0f87 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled244b17b74fc46269e8a106a99ab0f87 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a52713a70c65e31024b27e83be6847d3.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articled90b28503318563cfd6059146d1fb6b6 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled90b28503318563cfd6059146d1fb6b6 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled90b28503318563cfd6059146d1fb6b6 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2757dccd4c25bb85b00d92fec26d2abe.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlec3f8a8706901874d906f94c626be3c1e li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlec3f8a8706901874d906f94c626be3c1e li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlec3f8a8706901874d906f94c626be3c1e li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80cd85db506133304f8cddad89af1782.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlefe2ec36e92e2bb4d453fdc4b05966418 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlefe2ec36e92e2bb4d453fdc4b05966418 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlefe2ec36e92e2bb4d453fdc4b05966418 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f191d2d6dbd04e4c9768a0a64855d1a6.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlef5f7baf5b56f5b2ada053a93392bbf7a li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef5f7baf5b56f5b2ada053a93392bbf7a li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef5f7baf5b56f5b2ada053a93392bbf7a li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e06b78f7ccb432f507dc3be415fba32c.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlef4a229f41cd20f181d810c311416e3f2 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef4a229f41cd20f181d810c311416e3f2 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef4a229f41cd20f181d810c311416e3f2 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/196bc0ec80f9c57e51d21335cc76a671.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlef6f689d687bcd482ea2cd2990fd66878 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef6f689d687bcd482ea2cd2990fd66878 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlef6f689d687bcd482ea2cd2990fd66878 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0bcb70671487ed8af0621d77e074411c.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articleab270f1b4d3ad43e7bc51393b7c5c089 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleab270f1b4d3ad43e7bc51393b7c5c089 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleab270f1b4d3ad43e7bc51393b7c5c089 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/36956250db7dc74d6ca9721c977f3d41.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articledc24ce78d962f3472b06955bf8855103 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articledc24ce78d962f3472b06955bf8855103 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articledc24ce78d962f3472b06955bf8855103 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7b020492bb9714c229ed738928d2e598.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articleb354493baac7389b21b511009f287428 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb354493baac7389b21b511009f287428 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb354493baac7389b21b511009f287428 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aa0f52f2b27a17f3ddc4646a6146fe59.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articlee4a078efee11d24c64e93ccf0744a33f li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlee4a078efee11d24c64e93ccf0744a33f li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articlee4a078efee11d24c64e93ccf0744a33f li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/562857802f2942e67d47d893b473abd7.svg)
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articleb6f2bdfd6a1d57b7ce840f7a56cc510b.rockstargames-modules-core-newswire-articled4581a495de14e6762bb15debe5bb810 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled4581a495de14e6762bb15debe5bb810 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3.rockstargames-modules-core-newswire-articled4581a495de14e6762bb15debe5bb810 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5443c35249177dc987b7561f93e3c12f.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .rockstargames-modules-core-newswire-articlecaf5589ddeca00ed09213e547674b1f3 {
    width: auto
  }
}

/*# sourceMappingURL=14e901cdb3151040ad44fc13b493452e.css.map*/