.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92:focus,
.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92.rockstargames-modules-core-newswire-articlee49b5a5fd4ab934ece172fffe9f6577e {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-newswire-articlec1ed14af6fceaba7c99728a81676dd92.rockstargames-modules-core-newswire-articlee49b5a5fd4ab934ece172fffe9f6577e img {
  filter: invert()
}

.rockstargames-modules-core-newswire-articlebe627ae18a7bd3cff72d3f11aeed67df {
  display: flex;
  justify-content: space-around;
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  align-items: flex-start;
  background: var(--black-200, #000);
  border: 2px solid var(--border-color, #282828);
  border-radius: var(--border-radius-md, 8px);
  flex-direction: column;
  gap: var(--grid-gap-xs, 10px);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  padding: var(--padding-sm, 20px)
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articlebe627ae18a7bd3cff72d3f11aeed67df {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 {
  counter-reset: my-counter;
  display: grid;
  list-style-type: none;
  grid-gap: var(--grid-gap-static-md);
  row-gap: 0;
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  margin: 0;
  padding: var(--padding-t, 0) var(--padding-dynamic, 0) var(--padding-b, 0);
  text-align: left;
  width: auto
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li {
  color: var(--color-body);
  counter-increment: my-counter;
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before {
  align-items: center;
  background-color: var(--white-15);
  border-radius: 100%;
  color: var(--color-body);
  content: counter(my-counter);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  height: 1.75rem;
  justify-content: center;
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  margin-right: var(--grid-gap-xs, 10px);
  margin-top: -.21875rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  width: 1.75rem
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-xs, 10px))
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlefbf343ed03c1bd513ea4cadc9726af76 {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlefbf343ed03c1bd513ea4cadc9726af76 li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlefbf343ed03c1bd513ea4cadc9726af76 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/055974c59ae2fd76f3c8584183967670.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 {
  margin: 0;
  padding-left: 0
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13 li,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13 li:before,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bd62daf191f66403ccb4b8b24bae7de5.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13 li:before,
  .newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before,
  [data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before {
    top: .3rem
  }
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13 li:not(:last-child),
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:not(:last-child),
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 {
  padding-left: var(--grid-gap-static-md)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:last-child,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:last-child,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:last-child {
  margin: 0
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2194fe129aa210950dcb07b88a28c13.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:before,
.newswireFull.rdo .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:before,
[data-game=rdo] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebbb7247d5d7a836d755491e85639f1a3 li:before {
  content: none
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 {
  margin: 0;
  padding-left: 0
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc li,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2e9206b87feb4567a83a182d243ae0b6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlecc2c26a3dd80cf9db62c4c7f389b7859 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlecc2c26a3dd80cf9db62c4c7f389b7859 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlecc2c26a3dd80cf9db62c4c7f389b7859 li:before {
  background-image: var(--custom-star, none)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlece372826eac3cc73094d69c0c5d9a530 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlece372826eac3cc73094d69c0c5d9a530 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlece372826eac3cc73094d69c0c5d9a530 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a52713a70c65e31024b27e83be6847d3.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articleedb9998d6516a5aa1aece9c07c1768be li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleedb9998d6516a5aa1aece9c07c1768be li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleedb9998d6516a5aa1aece9c07c1768be li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2757dccd4c25bb85b00d92fec26d2abe.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlef674d6037f10af1a1fe41a83c1e5da17 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlef674d6037f10af1a1fe41a83c1e5da17 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlef674d6037f10af1a1fe41a83c1e5da17 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80cd85db506133304f8cddad89af1782.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlee211b0b8ae00897d696af259b3ddd837 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee211b0b8ae00897d696af259b3ddd837 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee211b0b8ae00897d696af259b3ddd837 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f191d2d6dbd04e4c9768a0a64855d1a6.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlee61db4af0805bb4c9bf820c26ac8a85f li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee61db4af0805bb4c9bf820c26ac8a85f li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee61db4af0805bb4c9bf820c26ac8a85f li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e06b78f7ccb432f507dc3be415fba32c.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlea379d41268f4f002d5ac257f67461f1d li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlea379d41268f4f002d5ac257f67461f1d li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlea379d41268f4f002d5ac257f67461f1d li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/196bc0ec80f9c57e51d21335cc76a671.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlebffe0939bda9e26ad14f6b01669338a8 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebffe0939bda9e26ad14f6b01669338a8 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlebffe0939bda9e26ad14f6b01669338a8 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0bcb70671487ed8af0621d77e074411c.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlef9c1eebf59650cd8ee84191d8fc62874 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlef9c1eebf59650cd8ee84191d8fc62874 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlef9c1eebf59650cd8ee84191d8fc62874 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/36956250db7dc74d6ca9721c977f3d41.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articled44e2fc53f269ccf2b8fbe032ef6cec9 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articled44e2fc53f269ccf2b8fbe032ef6cec9 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articled44e2fc53f269ccf2b8fbe032ef6cec9 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7b020492bb9714c229ed738928d2e598.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlee2b6f722952b5d61d2a3b725166bfc9b li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee2b6f722952b5d61d2a3b725166bfc9b li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlee2b6f722952b5d61d2a3b725166bfc9b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aa0f52f2b27a17f3ddc4646a6146fe59.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articlea365c5895cfd6c9f94fc994d71ba402c li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlea365c5895cfd6c9f94fc994d71ba402c li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articlea365c5895cfd6c9f94fc994d71ba402c li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/562857802f2942e67d47d893b473abd7.svg)
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleffaf58c543b36fd7fb4efec24b3564bc.rockstargames-modules-core-newswire-articleb2a1c0b367b250fe0606dffece9e1c02 li:before,
.newswireFull.gtao .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2a1c0b367b250fe0606dffece9e1c02 li:before,
[data-game=gtao] .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992.rockstargames-modules-core-newswire-articleb2a1c0b367b250fe0606dffece9e1c02 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5443c35249177dc987b7561f93e3c12f.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .rockstargames-modules-core-newswire-articled9620ae764026da5584e0f0a5886c992 {
    width: auto
  }
}

.rockstargames-modules-core-newswire-articlef642b754e0efd503262ab7ca0c7b9f5b {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 {
  margin-bottom: var(--tina-padding-big, 20px);
  position: relative
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67,
.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 * {
  box-sizing: border-box;
  font-family: Inter, sans-serif
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 .rockstargames-modules-core-newswire-articleceac2b2784e621f05ce51dade558df8d {
  all: unset;
  color: var(--tina-color-grey-8, #433e52);
  display: block;
  font-family: Inter, sans-serif;
  font-size: var(--tina-font-size-1, 13px);
  font-weight: 600;
  -webkit-letter-spacing: .01em;
  -moz-letter-spacing: .01em;
  -ms-letter-spacing: .01em;
  letter-spacing: .01em;
  line-height: 1.35;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 .rockstargames-modules-core-newswire-articlea0b2c6a5b66b849b487834caa1f6e3c8 {
  all: unset;
  color: var(--tina-color-grey-6, #716c7f);
  display: block;
  font-family: Inter, sans-serif;
  font-size: var(--tina-font-size-0, 12px);
  font-style: italic;
  font-weight: lighter;
  margin: 0;
  padding-top: 4px;
  white-space: normal
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 input {
  box-shadow: 0 0 0 2px transparent
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 input,
.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 select {
  background: var(--tina-color-grey-0, #fff);
  background-color: var(--tina-color-grey-0, #fff);
  border: 1px solid var(--tina-color-grey-2, #edecf3);
  border-radius: var(--tina-radius-small, 5px);
  font-size: var(--tina-font-size-2, 15px);
  line-height: 1.35;
  margin: 0;
  outline: none;
  padding: var(--tina-padding-small, 12px);
  position: relative;
  transition: all 85ms ease-out;
  width: 100%
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: right .7em top 50%;
  background-repeat: no-repeat;
  background-size: .65em auto;
  display: block;
  font-family: inherit;
  max-width: 100%
}

.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 .rockstargames-modules-core-newswire-articled9b75ea1bc84f8562bd9c7c730ce7317,
.rockstargames-modules-core-newswire-articlee8a5daf12553885a40529a38c92c1d67 .rockstargames-modules-core-newswire-articled84706d08967f65d5d2384427474feb5 {
  color: var(--tina-color-error, #ec4815)
}

[class^=BlockMenuList-] button {
  color: #000
}

button[class^=CreateButton-] {
  color: #000
}

.rockstargames-modules-core-newswire-articlec3a08254db141676fff1ac7bf9484218 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec3a08254db141676fff1ac7bf9484218 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled38319419aba2f42e721ab08a26208fb {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articled38319419aba2f42e721ab08a26208fb {
    display: none
  }
}

.rockstargames-modules-core-newswire-articlede4a014046acaad99dc53bb2c03f8719 {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articlede4a014046acaad99dc53bb2c03f8719 {
    display: none
  }

  .rockstargames-modules-core-newswire-articleb540a7274484859d8ab14a6c04f62b4f {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlef1c15a75853dbb6189625b636a6d1baf {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlef1c15a75853dbb6189625b636a6d1baf {
    display: none
  }

  .rockstargames-modules-core-newswire-articled6cabd1c7dce349d9e7e1598ead4503e {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlee53c219095a6cea2942bb53c4bf66259 {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlee53c219095a6cea2942bb53c4bf66259 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlea0529cc3561a81f9b96939b579caa623 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articleb104796d98a3d67dde4b44e2c676b08e {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articleb104796d98a3d67dde4b44e2c676b08e {
    display: none
  }

  .rockstargames-modules-core-newswire-articlee13f7a8d45b3fec8db6dedc3321f89f2 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled1034e839209be1d4f103fc2c29bf531 {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articled1034e839209be1d4f103fc2c29bf531 {
    display: none
  }

  .rockstargames-modules-core-newswire-articled350dc14eb32714ed0230fe9f53591cd {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled506082984d54d056e358cfbc0dde795 {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articlefc45ea13bab881368ae51d327eb77243 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-modules-core-newswire-articlef2fa26d0f173f3d967cd339102390c4a {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-modules-core-newswire-articledef459f80eeef54bcb18d93a9ed91ef7 {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articledef459f80eeef54bcb18d93a9ed91ef7 {
    --padding-dynamic: 0
  }
}

.rockstargames-modules-core-newswire-articledeff228b0e0b37e77569d72317854418 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articledeff228b0e0b37e77569d72317854418 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-modules-core-newswire-articleba39f5e2ce30b99a045454ac97a6f707 {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articleba39f5e2ce30b99a045454ac97a6f707 {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-modules-core-newswire-articleba39f5e2ce30b99a045454ac97a6f707.rockstargames-modules-core-newswire-articleadff1577bb3952ea5b448144560148e1 {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

.rockstargames-modules-core-newswire-articled17c20c4aa402388a4d4b23d6ff41a3b {
  --image-rounding: 0px;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  overflow: hidden
}

.rockstargames-modules-core-newswire-articled17c20c4aa402388a4d4b23d6ff41a3b,
.rockstargames-modules-core-newswire-articleaa419a38f6bffb372db81c2df3ec23ae {
  max-height: 70vh;
  min-height: 30vw;
  width: 100%
}

.rockstargames-modules-core-newswire-articleaa419a38f6bffb372db81c2df3ec23ae {
  background-size: contain !important
}

.rockstargames-modules-core-newswire-articlee70c0545b9c94794421dac5b59959c39 {
  margin: 0 auto
}

/*# sourceMappingURL=165fa99f963184aba806d81f713ae37c.css.map*/