.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 {
  --image-rounding-dynamic: 0px;
  --module-height: 100vw;
  --highlight-color: #c1a14b;
  --navigation-width: calc(100vw - var(--padding-sides) - var(--padding-sides));
  --navigation-height: 3rem;
  --slot-width: calc(var(--navigation-height) * 2.5);
  --navigation-bottom: 1rem;
  --navigation-font-size: var(--font-size-5);
  --navigation-arrow-size: 1rem;
  --padding-sides: var(--grid-gap-static-sm)
}

@font-face {
  font-family: swiper-icons;
  font-style: normal;
  font-weight: 400;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 :root {
  --swiper-theme-color: #007aff
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 :host {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper {
  display: block;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 1
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-vertical>.swiper-wrapper {
  flex-direction: column
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-wrapper {
  box-sizing: content-box;
  display: flex;
  height: 100%;
  position: relative;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  width: 100%;
  z-index: 1
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-android .swiper-slide,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-ios .swiper-slide,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-wrapper {
  transform: translateZ(0)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-horizontal {
  touch-action: pan-y
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-vertical {
  touch-action: pan-x
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-slide {
  display: block;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
  width: 100%
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-slide-invisible-blank {
  visibility: hidden
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-autoheight,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-autoheight .swiper-slide {
  height: auto
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-backface-hidden .swiper-slide {
  backface-visibility: hidden;
  transform: translateZ(0)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d {
  perspective: 1200px
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-cube-shadow,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide {
  transform-style: preserve-3d
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode>.swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
  display: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: start start
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-horizontal>.swiper-wrapper {
  scroll-snap-type: x mandatory
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-vertical>.swiper-wrapper {
  scroll-snap-type: y mandatory
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-free-mode>.swiper-wrapper {
  scroll-snap-type: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-free-mode>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered>.swiper-wrapper:before {
  content: "";
  flex-shrink: 0;
  order: 9999
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered>.swiper-wrapper>.swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered.swiper-horizontal>.swiper-wrapper:before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-css-mode.swiper-centered.swiper-vertical>.swiper-wrapper:before {
  height: var(--swiper-centered-offset-after);
  min-width: 1px;
  width: 100%
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-bottom,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-left,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-right,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-top {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, .15)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-lazy-preloader {
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top: 4px solid transparent;
  box-sizing: border-box;
  height: 42px;
  left: 50%;
  margin-left: -21px;
  margin-top: -21px;
  position: absolute;
  top: 50%;
  transform-origin: 50%;
  width: 42px;
  z-index: 10
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s linear infinite
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-lazy-preloader-black {
  --swiper-preloader-color: #000
}

@keyframes rockstargames-modules-core-newswire-articledfaec79c93eeafe2c26c2f2e0c576afd {
  0% {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(1turn)
  }
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 :root {
  --swiper-navigation-size: 44px
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev {
  align-items: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
  cursor: pointer;
  display: flex;
  height: var(--swiper-navigation-size);
  justify-content: center;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%);
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  z-index: 10
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next.swiper-button-disabled,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev.swiper-button-disabled {
  cursor: auto;
  opacity: .35;
  pointer-events: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next.swiper-button-hidden,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev.swiper-button-hidden {
  cursor: auto;
  opacity: 0;
  pointer-events: none
}

.rockstargames-modules-core-newswire-articled20ad0b7e7720a75082106c87130274f .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next,
.rockstargames-modules-core-newswire-articled20ad0b7e7720a75082106c87130274f .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev {
  display: none !important
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next svg,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev svg {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  transform-origin: center;
  width: 100%
}

.rockstargames-modules-core-newswire-articlec658d9e1c69cce7a4a70ef2d52858eba .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next svg,
.rockstargames-modules-core-newswire-articlec658d9e1c69cce7a4a70ef2d52858eba .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev svg {
  transform: rotate(180deg)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 10px);
  right: auto
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-lock {
  display: none
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next:after,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  font-variant: normal;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none !important
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev:after,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-rtl .swiper-button-next:after {
  content: "prev"
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-rtl .swiper-button-prev {
  left: auto;
  right: var(--swiper-navigation-sides-offset, 10px)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next:after,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-rtl .swiper-button-prev:after {
  content: "next"
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 {
    --module-height: 80vw;
    --navigation-width: 18rem;
    --padding-sides: var(--grid-gap-static-md)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 {
    --navigation-width: 20rem;
    --module-height: 90vh;
    --navigation-bottom: 5rem;
    --padding-sides: var(--grid-gap-static-lg)
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 {
    --module-height: 85vh;
    --navigation-width: 30rem;
    --navigation-height: 4rem;
    --navigation-bottom: 7rem;
    --navigation-font-size: var(--font-size-6)
  }
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 {
    --navigation-width: 40rem;
    --navigation-height: 5rem;
    --slot-width: calc(var(--navigation-height) * 4);
    --navigation-bottom: 8rem;
    --navigation-font-size: var(--font-size-7);
    --navigation-arrow-size: 1.5rem;
    --padding-sides: var(--grid-gap-static-xl)
  }
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-slide {
  --image-rounding-dynamic: 0px
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next,
.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev {
  bottom: var(--navigation-bottom);
  top: unset;
  z-index: 9999;
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: var(--navigation-arrow-size);
  height: var(--navigation-height);
  width: var(--navigation-height)
}

@media (hover:hover) {

  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next:hover,
  .rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev:hover {
    background-color: var(--highlight-color);
    color: var(--background-color)
  }
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-prev {
  border-radius: var(--image-rounding-static) 0 0 var(--image-rounding-static);
  left: calc((100% - var(--navigation-width)) / 2)
}

.rockstargames-modules-core-newswire-articleb4ada92c1921a931c699aafbbfb90d13 .swiper-button-next {
  border-radius: 0 var(--image-rounding-static) var(--image-rounding-static) 0;
  right: calc((100% - var(--navigation-width)) / 2)
}

.rockstargames-modules-core-newswire-articlebd483b684147d4885faa226c74eb7d1d {
  opacity: 0;
  transition: opacity .5s ease-out
}

.rockstargames-modules-core-newswire-articlebd483b684147d4885faa226c74eb7d1d.rockstargames-modules-core-newswire-articleff176766f8bcd61f0d409caa3d43cdef {
  opacity: 1;
  transition: opacity 1s ease-in-out
}

.rockstargames-modules-core-newswire-articled4781b21716aa12e5b05f8f31172f10b {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background: rgba(0, 0, 0, .8);
  border-radius: var(--image-rounding-static);
  bottom: var(--navigation-bottom);
  font-family: var(--font-family-h);
  font-size: var(--navigation-font-size);
  font-weight: 700;
  height: var(--navigation-height);
  justify-content: center;
  left: calc((100% - var(--navigation-width)) / 2);
  width: var(--navigation-width);
  z-index: 9990
}

.rockstargames-modules-core-newswire-articled4781b21716aa12e5b05f8f31172f10b,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7 {
  align-items: center;
  display: flex;
  position: absolute
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7 {
  flex-direction: row;
  left: 0;
  width: 100vw;
  z-index: 999
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 {
  top: var(--padding-sides)
}

@media (max-width:1023px) {

  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20,
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37 {
    top: 0
  }
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e {
  bottom: var(--navigation-bottom)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e {
    bottom: calc(var(--navigation-height) + 4rem)
  }
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e {
    bottom: calc(var(--navigation-height) / 2)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e {
    bottom: calc(var(--navigation-bottom) + var(--navigation-height) / 2)
  }
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e figure img,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 figure img {
  height: var(--navigation-height);
  -o-object-fit: contain;
  object-fit: contain;
  width: calc(var(--navigation-height) * 4)
}

@media (min-width:0px) {

  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e figure img,
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 figure img {
    width: calc(var(--navigation-height) * 2)
  }
}

@media (min-width:768px) {

  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e figure img,
  .rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 figure img {
    width: calc(var(--navigation-height) * 2.5)
  }
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37 {
  position: absolute
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20 {
  left: var(--padding-sides)
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20 figure img,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleca8f1364250e53c94ffb4a0147702b20 figure img {
  -o-object-position: center left;
  object-position: center left
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37 {
  right: var(--padding-sides)
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articlee515362b60fbd4b87445a327de93234e .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37 figure img,
.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7.rockstargames-modules-core-newswire-articleec807ccbb44eb584b15097ea4127de46 .rockstargames-modules-core-newswire-articleada7cdbc241d461551ac775229986a37 figure img {
  -o-object-position: center right;
  object-position: center right
}

.rockstargames-modules-core-newswire-articlef7f1e5026f11d0cc5e371f990c3620e7 figure img {
  height: var(--navigation-height);
  -o-object-fit: contain;
  object-fit: contain;
  width: var(--slot-width)
}

.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab {
  height: var(--module-height);
  position: relative
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab {
    width: var(--module-height)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab {
    min-height: 50vw
  }
}

.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefbee414bfae93f3621f4445ff9c4bf7c,
.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefee922e055933776f0d9fc3b3ee8aaab {
  height: auto;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%
}

.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefbee414bfae93f3621f4445ff9c4bf7c img,
.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefee922e055933776f0d9fc3b3ee8aaab img {
  height: 100%;
  width: 100%
}

.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefee922e055933776f0d9fc3b3ee8aaab {
  z-index: 99
}

.rockstargames-modules-core-newswire-articled8c6874e2f33425124e575a60fa339ab .rockstargames-modules-core-newswire-articlefbee414bfae93f3621f4445ff9c4bf7c {
  z-index: 1
}

/*# sourceMappingURL=2185f6eb10d4c7769c05f1a343298050.css.map*/