.rockstargames-modules-core-newswire-articlee1811c65983d2df02484c7bd49620f6d {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: var(--grid-gap-static-lg);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

[data-game=rdo][data-template=halloween] .rockstargames-modules-core-newswire-articlee1811c65983d2df02484c7bd49620f6d {
  --grid-gap-static-lg: 0
}

:root [data-game^=gta] .rockstargames-modules-core-newswire-articledaf8d6c749fa379c43a098df8a842f62 h4 {
  font-family: var(--font-family-std);
  font-size: var(--font-size-4)
}

:root [data-game=rdo] .rockstargames-modules-core-newswire-articledaf8d6c749fa379c43a098df8a842f62 h4,
:root [data-game^=rdr] .rockstargames-modules-core-newswire-articledaf8d6c749fa379c43a098df8a842f62 h4 {
  --color-h: #e8e8e8;
  font-family: var(--font-family-std)
}

.rockstargames-modules-core-newswire-articleffab2486abb58ef9090c19d6d5bdd44c {
  padding-top: 1.5rem
}

.rockstargames-modules-core-newswire-articlefbb6b44c6d90c22144e4fbed29bc540b {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: initial;
  --grid-gap-dynamic: var(--grid-gap-static-lg);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3,
.rockstargames-modules-core-newswire-articlefbb6b44c6d90c22144e4fbed29bc540b {
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  --background-color: var(--image-title-text-background, transparent);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  background-color: var(--background-color, transparent)
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h1,
.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h1.rockstargames-modules-core-newswire-articlee6636a32760cf4382b6902e31dffb078 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h4,
.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h5,
.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 figure>div {
  --padding-sides: 0px
}

.rockstargames-modules-core-newswire-articlec6ef137c3cc0ba12d735aedb6db0cae3 .rockstargames-modules-core-newswire-articlea953f78a1d15741f11ef44c196dbb9c4 {
  --description-area-margin-top: 0px
}

/*# sourceMappingURL=2d1c0b9b67883648652d608f8448f059.css.map*/