.foundry_vsn8np0 {
  margin: 0;
  color: var(--foundry_nu8bkp8m);
}

.foundry_kwp8su0 {
  margin: 0;
  color: var(--foundry_nu8bkp8j);
}

.foundry_kwp8su0+.foundry_kwp8su0 {
  margin-top: var(--foundry_nu8bkp2z);
}

.foundry_tv8xa40 {
  display: block;
  color: var(--foundry_nu8bkp8j);
}

.foundry_13plll30 {
  display: block;
  color: var(--foundry_nu8bkp8j);
}

.foundry_xnp8ik0 {
  margin: 0;
  color: var(--foundry_nu8bkp8j);
}

.foundry_12nwidl1 {
  text-decoration-line: underline;
}

.foundry_12nwidl2 {
  font-style: italic;
}

.foundry_12nwidl3 {
  font-style: italic;
}

.foundry_12nwidl4 {
  font-style: italic;
}

.foundry_12nwidl5 {
  background: var(--foundry_nu8bkp4x);
  color: var(--foundry_nu8bkp85);
}

.foundry_12nwidl6 {
  text-decoration-line: strikethrough;
}

.foundry_12nwidl7 {
  font-weight: bold;
}

.foundry_12nwidla {
  text-decoration-line: underline;
}

.foundry_v1yii71 {
  width: var(--foundry_nu8bkp15);
  height: var(--foundry_nu8bkp15);
}

.foundry_v1yii72 {
  width: var(--foundry_nu8bkp17);
  height: var(--foundry_nu8bkp17);
}

.foundry_v1yii73 {
  width: var(--foundry_nu8bkp18);
  height: var(--foundry_nu8bkp18);
}

.foundry_vq8c3j0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--foundry_nu8bkpj);
  width: 100%;
}

.foundry_vq8c3j1 {
  display: grid;
  grid-template-areas: "label hint";
  grid-template-columns: 1fr max(20%, 100px);
  gap: var(--foundry_nu8bkpj);
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.foundry_vq8c3j2 {
  grid-area: label;
  word-break: break-all;
}

.foundry_vq8c3j3 {
  grid-area: hint;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--foundry_nu8bkp8l);
}

.foundry_vq8c3j4 {
  color: var(--foundry_nu8bkp8l);
}

.foundry_vq8c3j5 {
  color: var(--foundry_nu8bkp8q);
}

.foundry_vq8c3j6 {
  padding-top: 3px;
  vertical-align: text-top;
  margin-right: var(--foundry_nu8bkpi);
}

.foundry_vq8c3j7 {
  color: var(--foundry_nu8bkp8q);
  margin-left: var(--foundry_nu8bkpi);
}

.foundry_vq8c3j8 {
  color: var(--foundry_nu8bkp8k);
}

.foundry_vq8c3j9 {
  resize: none;
  padding: var(--foundry_nu8bkpk);
  padding-right: 0;
  border-radius: var(--foundry_nu8bkp5);
  background: var(--foundry_nu8bkp3p);
  border-width: 1px;
  border-style: solid;
  border-color: var(--foundry_nu8bkp9o);
  color: var(--foundry_nu8bkp8j);
  width: 100%;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

.foundry_vq8c3j9:hover {
  border-color: var(--foundry_nu8bkp3z);
}

.foundry_vq8c3j9:focus-visible {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-offset: -2px;
  outline-color: var(--foundry_nu8bkp9q);
}

.foundry_vq8c3j9::placeholder {
  color: var(--foundry_nu8bkp8k);
}

.foundry_vq8c3j9:disabled {
  background: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkpa5);
  color: var(--foundry_nu8bkp8k);
  cursor: not-allowed;
}

.foundry_vq8c3j9:read-only {
  background: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkpa5);
  color: var(--foundry_nu8bkp8k);
}

.foundry_vq8c3j9::-webkit-scrollbar {
  width: calc(var(--foundry_nu8bkpm) + var(--foundry_nu8bkpj));
}

.foundry_vq8c3j9::-webkit-scrollbar-track {
  display: none;
  user-select: none;
  touch-action: none;
}

.foundry_vq8c3j9::-webkit-scrollbar-thumb {
  border-width: calc((var(--foundry_nu8bkpm) + var(--foundry_nu8bkpj) - 6px) / 2);
  border-style: solid;
  border-color: transparent;
  background-color: var(--foundry_nu8bkp9m);
  border-radius: var(--foundry_nu8bkpb);
  background-clip: content-box;
}

.foundry_vq8c3j9:hover::placeholder {
  color: var(--foundry_nu8bkp8l);
}

.foundry_vq8c3j9[aria-invalid="true"]:disabled,
.foundry_vq8c3j9[aria-invalid="true"][readonly] {
  border-color: var(--foundry_nu8bkp9z);
}

.foundry_vq8c3jb {
  border-width: 2px;
  border-color: var(--foundry_nu8bkp9z);
}

.foundry_vq8c3jb:hover {
  border-color: var(--foundry_nu8bkp4m);
}

.foundry_vq8c3jb:focus-visible {
  border-color: transparent;
}

.foundry_17pcofy1 {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--foundry_nu8bkp5);
  border-width: 1px;
  border-style: solid;
  transition: all 0.15s ease-out;
  transition-property: color, background-color, border-color, outline-color;
}

.foundry_17pcofy1:disabled {
  cursor: not-allowed;
}

.foundry_17pcofya {
  --foundry_17pcofy0: var(--foundry_nu8bkpj);
  padding: var(--foundry_nu8bkpk) var(--foundry_nu8bkpo);
}

.foundry_17pcofyb {
  --foundry_17pcofy0: var(--foundry_nu8bkpk);
  padding: var(--foundry_nu8bkpm) var(--foundry_nu8bkpp);
}

.foundry_17pcofyc {
  width: 100%;
}

.foundry_17pcofyk {
  margin-right: var(--foundry_17pcofy0);
}

.foundry_17pcofym {
  margin-left: auto;
}

.foundry_17pcofyn {
  margin-left: var(--foundry_17pcofy0);
}

.foundry_17pcofyo {
  height: var(--foundry_nu8bkp15);
  width: var(--foundry_nu8bkp15);
  margin-right: auto;
}

.foundry_148vt480 {
  z-index: 1;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.foundry_148vt481 {
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

.foundry_a5x3kh0 {
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  transition: all 0.15s ease-out;
  transition-property: color, background-color, border-color, outline-color;
}

.foundry_a5x3kh0:disabled {
  cursor: not-allowed;
}

.foundry_a5x3kh9 {
  padding: var(--foundry_nu8bkpj);
  border-radius: var(--foundry_nu8bkp4);
}

.foundry_a5x3kha {
  padding: var(--foundry_nu8bkpk);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_a5x3khb {
  padding: calc(var(--foundry_nu8bkpj) + 2.5px);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_a5x3khc {
  padding: var(--foundry_nu8bkpm);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_a5x3khd {
  width: 100%;
}

.foundry_bc732x0 {
  background: var(--foundry_nu8bkp3r);
  color: var(--foundry_nu8bkp8j);
  border-radius: var(--foundry_nu8bkp4);
  padding: var(--foundry_nu8bkp11) var(--foundry_nu8bkp12);
  border-style: solid;
  border-width: 1px;
  border-color: var(--foundry_nu8bkp9m);
  user-select: none;
  font-family: var(--foundry_nu8bkp2n);
  font-size: var(--foundry_nu8bkp38);
  white-space: nowrap;
}

.foundry_bc732x1 {
  display: inline;
  padding: 0 var(--foundry_nu8bkp11);
}

.foundry_h3lgaa0 {
  border-radius: var(--foundry_nu8bkp4);
  background-color: var(--foundry_nu8bkp8i);
  border-width: 1px;
  border-style: solid;
  border-color: var(--foundry_nu8bkp8i);
  box-shadow: 0 0 2px var(--foundry_nu8bkp7z), 0 8px 24px var(--foundry_nu8bkp7z);
  user-select: none;
  max-width: var(--foundry_nu8bkp1p);
  position: relative;
  z-index: 110;
}

.foundry_h3lgaa1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--foundry_nu8bkpi) var(--foundry_nu8bkpk);
  gap: var(--foundry_nu8bkpj);
  color: var(--foundry_nu8bkp7x);
}

.foundry_h3lgaa2 {
  fill: var(--foundry_nu8bkp8i);
  width: var(--foundry_nu8bkp12);
  height: var(--foundry_nu8bkp11);
}

.foundry_bwy1ds0 {
  display: block;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 3;
}

.foundry_bwy1ds1:disabled {
  border-color: var(--foundry_nu8bkp3t);
  background-color: var(--foundry_nu8bkp3t);
}

.foundry_bwy1ds1:not(:disabled) {
  pointer-events: auto;
}

.foundry_bwy1ds2 {
  position: fixed;
  top: var(--foundry_nu8bkp15);
  left: var(--foundry_nu8bkp15);
}

.foundry_bwy1ds3 {
  top: var(--foundry_nu8bkp15);
  right: var(--foundry_nu8bkp15);
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: var(--foundry_nu8bkpj);
}

.foundry_bwy1ds4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--foundry_nu8bkpj);
  border-color: var(--foundry_nu8bkp3n);
  background-color: var(--foundry_nu8bkp3n);
  border-radius: var(--foundry_nu8bkp6);
  pointer-events: auto;
}

.foundry_bwy1ds5 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.foundry_bwy1ds6 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.foundry_bwy1ds8 {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--foundry_nu8bkpm);
  padding: 0 var(--foundry_nu8bkp15) var(--foundry_nu8bkp15);
  box-sizing: border-box;
}

.foundry_bwy1ds9 {
  margin-left: auto;
}

.foundry_bwy1dsa {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 64px;
}

.foundry_bwy1dsb {
  background-color: var(--foundry_nu8bkp3l);
  position: relative;
  flex-grow: 1;
  width: var(--foundry_nu8bkp10);
}

.foundry_bwy1dsc {
  position: absolute;
  background-color: var(--foundry_nu8bkp3l);
  height: 100%;
}

.foundry_bwy1dsb+span {
  width: 100%;
  pointer-events: none;
}

.foundry_bwy1dsd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.foundry_bwy1dsd:focus-visible {
  outline: none;
}

.foundry_bwy1dse {
  display: block;
  width: var(--foundry_nu8bkp13);
  height: var(--foundry_nu8bkp13);
  background-color: var(--foundry_nu8bkp3d);
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  pointer-events: auto;
}

.foundry_bwy1dsd:focus-visible .foundry_bwy1dse {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9q);
}

.foundry_bwy1dsf {
  display: flex;
  flex-direction: column;
}

.foundry_bwy1dsf .foundry_bwy1dsg {
  color: var(--foundry_nu8bkp3j);
}

.foundry_bwy1dsh {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: var(--foundry_nu8bkp1l);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.65) 75%);
  z-index: -1;
}

@media screen and (min-width: 1024px) {
  .foundry_bwy1ds2 {
    top: var(--foundry_nu8bkp18);
    left: var(--foundry_nu8bkp18);
  }

  .foundry_bwy1ds3 {
    top: var(--foundry_nu8bkp18);
    right: var(--foundry_nu8bkp18);
  }

  .foundry_bwy1ds8 {
    padding: 0 var(--foundry_nu8bkp18) var(--foundry_nu8bkp18);
  }
}

.foundry_1a74xwb0 {
  position: relative;
  display: block;
}

.foundry_1a74xwb1 {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: zoom-in;
  position: relative;
  width: 100%;
  transform-origin: center;
  object-fit: cover;
  object-position: center;
  display: block;
  will-change: transform, width, height, top, left, aspect-ratio, position, object-fit, object-position, opacity;
}

.foundry_1a74xwb2 {
  opacity: 0;
  position: fixed;
  overflow: hidden;
  pointer-events: none;
  z-index: 8003;
}

.foundry_1a74xwb3 {
  outline-width: 4px;
  outline-offset: -4px;
}

.foundry_1a74xwb3:focus-visible {
  outline-color: var(--foundry_nu8bkp7x);
}

.foundry_1a74xwb3[data-idle="false"]:focus-visible {
  outline-color: transparent !important;
}

.foundry_1a74xwb3>* {
  max-width: 100%;
  max-height: 100%;
}

.foundry_1a74xwb4 {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: inherit;
  object-position: inherit;
}

.foundry_1a74xwb5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--foundry_nu8bkp1a);
  width: var(--foundry_nu8bkp1a);
  position: absolute;
  bottom: var(--foundry_nu8bkp17);
  right: var(--foundry_nu8bkp17);
  color: var(--foundry_nu8bkp3g);
  background-color: color-mix(in srgb, var(--foundry_nu8bkp85), transparent 50%);
  border-radius: var(--foundry_nu8bkpa);
  backdrop-filter: blur(5px);
  transition: all 0.15s ease-out;
  will-change: opacity;
}

.foundry_1a74xwb3:hover .foundry_1a74xwb5,
.foundry_1a74xwb3:focus-visible .foundry_1a74xwb5 {
  background-color: var(--foundry_nu8bkp3g);
  color: var(--foundry_nu8bkp3n);
}

.foundry_1a74xwb6 {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  z-index: 8002;
  will-change: opacity;
}

.foundry_1a74xwb7 {
  touch-action: none;
  will-change: transform;
  cursor: grab;
}

.foundry_1a74xwb8 {
  position: fixed;
  inset: 0;
  background-color: var(--foundry_nu8bkp85);
  z-index: 8001;
  will-change: opacity;
}

.foundry_1a74xwb9 {
  position: relative;
  z-index: 8004;
  will-change: opacity;
}

.foundry_1a74xwba {
  display: block;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.foundry_uaq1gw0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--foundry_nu8bkpj);
  width: 100%;
}

.foundry_uaq1gw1 {
  display: grid;
  grid-template-areas: "label hint";
  grid-template-columns: 1fr max(20%, 100px);
  gap: var(--foundry_nu8bkpj);
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}

.foundry_uaq1gw2 {
  grid-area: label;
  word-break: break-all;
}

.foundry_uaq1gw3 {
  grid-area: hint;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--foundry_nu8bkp8l);
}

.foundry_uaq1gw4 {
  color: var(--foundry_nu8bkp8q);
  margin-left: var(--foundry_nu8bkpi);
}

.foundry_uaq1gw5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: var(--foundry_nu8bkpk);
  width: 100%;
  background: var(--foundry_nu8bkp3p);
  color: var(--foundry_nu8bkp8k);
  border: 1px solid var(--foundry_nu8bkp9o);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_uaq1gw5:hover {
  border-color: var(--foundry_nu8bkp3z);
  color: var(--foundry_nu8bkp8l);
}

.foundry_uaq1gw5:focus-visible {
  outline: 2px solid var(--foundry_nu8bkp9q);
  z-index: 1;
}

.foundry_uaq1gw5:disabled {
  background: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkpa5);
  color: var(--foundry_nu8bkp8k);
  cursor: not-allowed;
}

.foundry_uaq1gw5:not([data-placeholder]) {
  color: var(--foundry_nu8bkp8j);
}

.foundry_uaq1gw5[data-state="open"] {
  color: var(--foundry_nu8bkp8j);
}

.foundry_uaq1gw6 {
  background: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkpa5);
  color: var(--foundry_nu8bkp8k);
}

.foundry_uaq1gw6:hover {
  color: var(--foundry_nu8bkp8j);
}

.foundry_uaq1gw7 {
  border-color: var(--foundry_nu8bkp9z);
  border-width: 2px;
}

.foundry_uaq1gw7:hover {
  border-color: var(--foundry_nu8bkp4m);
}

.foundry_uaq1gw7:focus-visible {
  outline: 2px solid var(--foundry_nu8bkp9q);
  outline-offset: -2px;
  z-index: 1;
}

.foundry_uaq1gw8 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.foundry_uaq1gw9 {
  color: var(--foundry_nu8bkp8s);
  flex: none;
}

.foundry_uaq1gwa {
  color: var(--foundry_nu8bkp8t);
}

.foundry_uaq1gwb {
  border: 1px solid var(--foundry_nu8bkpa6);
  width: var(--radix-select-trigger-width);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_uaq1gwc {
  margin: 0;
  padding: 0;
  background: var(--foundry_nu8bkp3p);
  border-radius: var(--foundry_nu8bkp5);
  box-shadow: 0px 0px 2px 0px var(--foundry_nu8bkp7z), 0px 8px 24px 0px var(--foundry_nu8bkp7z);
  width: var(--radix-select-trigger-width);
  max-height: calc(var(--radix-select-trigger-height) * 5);
}

.foundry_uaq1gwe {
  margin: 0;
  padding: var(--foundry_nu8bkpk);
  color: var(--foundry_nu8bkp8j);
  border-radius: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--foundry_nu8bkpk);
}

.foundry_uaq1gwe::after {
  content: "";
  position: absolute;
  margin: auto;
  bottom: 3px;
  left: 0;
  right: 0;
  width: calc(100% - (var(--foundry_nu8bkp13) * 2));
  height: 1px;
  background: var(--foundry_nu8bkp3t);
}

.foundry_uaq1gwe:focus {
  outline: none;
}

.foundry_uaq1gwe:hover {
  background: var(--foundry_nu8bkp3s);
}

.foundry_uaq1gwe:active {
  background: var(--foundry_nu8bkp3t);
}

.foundry_uaq1gwe:hover:not(:focus-visible) {
  background: var(--foundry_nu8bkp3s);
}

.foundry_uaq1gwe:not(:hover):focus-visible {
  outline: 2px solid var(--foundry_nu8bkp9q);
  outline-offset: -2px;
  z-index: 1;
}

.foundry_uaq1gwe[data-state="checked"] {
  font-weight: var(--foundry_nu8bkp2y);
}

.foundry_uaq1gwe[data-disabled] {
  background: var(--foundry_nu8bkp3r);
  color: var(--foundry_nu8bkp8k);
  cursor: not-allowed;
}

.foundry_uaq1gwe[data-disabled]:hover {
  background: var(--foundry_nu8bkp3r);
}

.foundry_uaq1gwc .foundry_uaq1gwe:first-of-type {
  border-top-left-radius: var(--foundry_nu8bkp5);
  border-top-right-radius: var(--foundry_nu8bkp5);
}

.foundry_uaq1gwc .foundry_uaq1gwe:last-of-type {
  border-bottom-left-radius: var(--foundry_nu8bkp5);
  border-bottom-right-radius: var(--foundry_nu8bkp5);
}

.foundry_uaq1gwc .foundry_uaq1gwe:last-of-type:after {
  display: none;
}

.foundry_uaq1gwd .foundry_uaq1gwe:after {
  display: none;
}

.foundry_uaq1gwf {
  color: var(--foundry_nu8bkp8l);
}

.foundry_uaq1gwg {
  color: var(--foundry_nu8bkp8q);
}

.foundry_uaq1gwh {
  padding-top: 3px;
  vertical-align: text-top;
  margin-right: var(--foundry_nu8bkpi);
}

.foundry_uaq1gwi {
  margin-left: auto;
}

.foundry_uaq1gwj {
  width: 100%;
  height: 100%;
}

.foundry_uaq1gwk {
  width: 100%;
  height: 100%;
}

.foundry_uaq1gwl {
  width: 6px;
  padding: 8px 5px;
}

.foundry_uaq1gwm {
  background: var(--foundry_nu8bkp3u);
  border-radius: var(--foundry_nu8bkpb);
}

.foundry_uaq1gwn {
  color: var(--foundry_nu8bkp8k);
}

.foundry_m1icrx0 {
  position: relative;
  width: 100%;
}

.foundry_m1icrx1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.foundry_m1icrx2 {
  gap: var(--foundry_nu8bkph);
}

.foundry_m1icrx3 {
  gap: var(--foundry_nu8bkpi);
}

.foundry_m1icrx4 {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.foundry_m1icrx7 {
  color: var(--foundry_nu8bkp3x);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--foundry_nu8bkpi);
}

.foundry_m1icrx7:after {
  content: "/";
  padding: 0 var(--foundry_nu8bkpi);
}

.foundry_m1icrx7:hover {
  color: var(--foundry_nu8bkp8l);
}

.foundry_m1icrx7:last-child:after {
  content: "";
}

.foundry_m1icrxa {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--foundry_nu8bkp3x);
  border-radius: var(--foundry_nu8bkp3);
  text-decoration: none;
  outline-offset: -1px;
  white-space: nowrap;
}

.foundry_m1icrxa:hover {
  color: var(--foundry_nu8bkp8l);
  text-decoration: underline;
}

.foundry_m1icrxb {
  padding: var(--foundry_nu8bkph) var(--foundry_nu8bkpi) var(--foundry_nu8bkph) var(--foundry_nu8bkph);
  gap: var(--foundry_nu8bkph);
}

.foundry_m1icrxc {
  padding: var(--foundry_nu8bkpi) var(--foundry_nu8bkpj) var(--foundry_nu8bkpi) var(--foundry_nu8bkpi);
  gap: var(--foundry_nu8bkpi);
}

.foundry_m1icrxd {
  color: var(--foundry_nu8bkp8j);
  white-space: normal;
}

.foundry_m1icrxd:hover {
  color: var(--foundry_nu8bkp8j);
  text-decoration: none;
}

.foundry_m1icrxe {
  background: transparent;
  color: var(--foundry_nu8bkp3x);
  border-radius: var(--foundry_nu8bkp3);
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.foundry_m1icrxe:hover {
  color: var(--foundry_nu8bkp8l);
  text-decoration: underline;
}

.foundry_m1icrxe[data-state="open"] {
  color: var(--foundry_nu8bkp8l);
  text-decoration: underline;
}

.foundry_m1icrxf {
  border: 1px solid var(--foundry_nu8bkpa6);
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_m1icrxg {
  margin: 0;
  padding: 0;
  background: var(--foundry_nu8bkp3p);
  border-radius: var(--foundry_nu8bkp5);
  box-shadow: 0px 0px 2px 0px var(--foundry_nu8bkp7z), 0px 8px 24px 0px var(--foundry_nu8bkp7z);
  min-width: var(--foundry_nu8bkp1l);
}

.foundry_m1icrxh {
  margin: 0;
  padding: var(--foundry_nu8bkpk);
  color: var(--foundry_nu8bkp8j);
  border-radius: 0;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--foundry_nu8bkpk);
}

.foundry_m1icrxh:focus {
  outline: none;
}

.foundry_m1icrxh:hover {
  background: var(--foundry_nu8bkp3s);
}

.foundry_m1icrxh:active {
  background: var(--foundry_nu8bkp3t);
}

.foundry_m1icrxh:hover:not(:focus-visible) {
  background: var(--foundry_nu8bkp3s);
}

.foundry_m1icrxh:not(:hover):focus-visible {
  outline: 2px solid var(--foundry_nu8bkp9q);
  outline-offset: -2px;
  z-index: 1;
}

.foundry_m1icrxh[data-state="checked"] {
  font-weight: var(--foundry_nu8bkp2y);
}

.foundry_m1icrxh[data-disabled] {
  background: var(--foundry_nu8bkp3r);
  color: var(--foundry_nu8bkp8k);
  cursor: not-allowed;
}

.foundry_m1icrxh[data-disabled]:hover {
  background: var(--foundry_nu8bkp3r);
}

.foundry_m1icrxg .foundry_m1icrxh:first-of-type {
  border-top-left-radius: var(--foundry_nu8bkp5);
  border-top-right-radius: var(--foundry_nu8bkp5);
}

.foundry_m1icrxg .foundry_m1icrxh:last-of-type {
  border-bottom-left-radius: var(--foundry_nu8bkp5);
  border-bottom-right-radius: var(--foundry_nu8bkp5);
}

.foundry_11gbdty0 {
  color: var(--foundry_nu8bkp8j);
  display: flex;
  justify-content: center;
  gap: var(--foundry_nu8bkpk);
}

.foundry_11gbdty2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.foundry_11gbdty2:has(.foundry_11gbdty1[aria-invalid="true"]) {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9z);
}

.foundry_11gbdty2:has(.foundry_11gbdty1[aria-invalid="true"]):hover {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp4m);
}

.foundry_11gbdty2:has(.foundry_11gbdty1:focus-visible) {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9q);
}

.foundry_11gbdty3 {
  height: var(--foundry_nu8bkp15);
  width: var(--foundry_nu8bkp15);
  padding: 2px;
  border-radius: var(--foundry_nu8bkp4);
}

.foundry_11gbdty4 {
  height: var(--foundry_nu8bkp17);
  width: var(--foundry_nu8bkp17);
  padding: 3px;
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_11gbdty5 {
  height: var(--foundry_nu8bkp18);
  width: var(--foundry_nu8bkp18);
  padding: 4px;
  border-radius: var(--foundry_nu8bkp5);
}

.foundry_11gbdty6 {
  height: 100%;
  width: 100%;
  border-radius: var(--foundry_nu8bkp3);
  box-sizing: border-box;
  border-width: var(--foundry_nu8bkpe);
}

.foundry_11gbdty8 {
  border-radius: var(--foundry_nu8bkp4);
}

.foundry_11gbdty9 {
  border-radius: var(--foundry_nu8bkp4);
}

.foundry_11gbdtya {
  background-color: transparent;
  border-style: solid;
  border-color: var(--foundry_nu8bkp8v);
  color: var(--foundry_nu8bkp85);
}

.foundry_11gbdtya:hover {
  border-color: var(--foundry_nu8bkpap);
}

.foundry_11gbdtya[data-state="checked"],
.foundry_11gbdtya[data-state="mixed"] {
  border-color: var(--foundry_nu8bkpap);
  background-color: var(--foundry_nu8bkpap);
}

.foundry_11gbdtya[data-disabled="true"],
.foundry_11gbdtya[data-disabled="true"]:hover {
  color: var(--foundry_nu8bkp8t);
  background-color: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkp3u);
  cursor: not-allowed;
}

.foundry_11gbdtyb {
  background-color: transparent;
  border-style: solid;
  border-color: var(--foundry_nu8bkp8v);
  color: var(--foundry_nu8bkp3q);
}

.foundry_11gbdtyb:hover {
  border-color: var(--foundry_nu8bkp40);
}

.foundry_11gbdtyb[data-state="checked"],
.foundry_11gbdtyb[data-state="mixed"] {
  border-color: var(--foundry_nu8bkp40);
  background-color: var(--foundry_nu8bkp40);
}

.foundry_11gbdtyb[data-disabled="true"],
.foundry_11gbdtyb[data-disabled="true"]:hover {
  color: var(--foundry_nu8bkp8t);
  background-color: var(--foundry_nu8bkp3u);
  border-color: var(--foundry_nu8bkp3u);
  cursor: not-allowed;
}

.foundry_11gbdtyc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.15s ease-out;
}

.foundry_11gbdtyd {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_nu8bkpi);
}

.foundry_11gbdtyf {
  padding-top: var(--foundry_nu8bkph);
}

.foundry_11gbdtyg {
  padding-top: var(--foundry_nu8bkpi);
  gap: var(--foundry_nu8bkpj);
}

.foundry_11gbdtyh {
  color: var(--foundry_nu8bkp8k);
}

.foundry_11gbdtyi {
  margin: 0;
}

.foundry_11gbdtym {
  color: var(--foundry_nu8bkp8l);
}

.foundry_11gbdtyn {
  color: var(--foundry_nu8bkp8q);
}

.foundry_njguqn0 {
  color: var(--foundry_nu8bkp8j);
  display: flex;
  flex-direction: column;
  gap: var(--foundry_nu8bkpo);
}

.foundry_njguqn1 {
  display: flex;
  align-items: flex-start;
}

.foundry_njguqn2 {
  gap: var(--foundry_nu8bkpm);
}

.foundry_njguqn3 {
  gap: var(--foundry_nu8bkpm);
}

.foundry_njguqn4 {
  gap: var(--foundry_nu8bkpn);
}

.foundry_njguqn5 {
  flex-direction: row;
}

.foundry_njguqn6 {
  flex-direction: column;
}

.foundry_njguqn7 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_nu8bkpj);
}

.foundry_njguqn8 {
  margin: 0;
}

.foundry_njguqn9 {
  color: var(--foundry_nu8bkp8q);
  margin-left: var(--foundry_nu8bkpi);
}

.foundry_njguqna {
  color: var(--foundry_nu8bkp8l);
}

.foundry_njguqnb {
  color: var(--foundry_nu8bkp8q);
}

.foundry_njguqnc {
  padding-top: 3px;
  vertical-align: text-top;
  margin-right: var(--foundry_nu8bkpi);
}

.foundry_1pfduet0 {
  color: var(--foundry_nu8bkp8j);
  display: flex;
  justify-content: center;
  gap: var(--foundry_nu8bkpk);
}

.foundry_1pfduet2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--foundry_nu8bkpa);
}

.foundry_1pfduet2:has(.foundry_1pfduet1[aria-invalid="true"]) {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9z);
}

.foundry_1pfduet2:has(.foundry_1pfduet1[aria-invalid="true"]):hover {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp4m);
}

.foundry_1pfduet2:has(.foundry_1pfduet1:focus-visible) {
  border-color: transparent;
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9q);
}

.foundry_1pfduet3 {
  height: var(--foundry_nu8bkp15);
  width: var(--foundry_nu8bkp15);
  padding: 1px;
}

.foundry_1pfduet4 {
  height: var(--foundry_nu8bkp17);
  width: var(--foundry_nu8bkp17);
  padding: 2px;
}

.foundry_1pfduet5 {
  height: var(--foundry_nu8bkp18);
  width: var(--foundry_nu8bkp18);
  padding: 3px;
}

.foundry_1pfduet6 {
  height: 100%;
  width: 100%;
  border-radius: var(--foundry_nu8bkpa);
  box-sizing: border-box;
  border-width: var(--foundry_nu8bkpe);
}

.foundry_1pfduet7 {
  background-color: transparent;
  border-style: solid;
  border-color: var(--foundry_nu8bkp8v);
  color: var(--foundry_nu8bkp85);
}

.foundry_1pfduet7:hover {
  border-color: var(--foundry_nu8bkpap);
}

.foundry_1pfduet7[data-state="checked"] {
  border-color: var(--foundry_nu8bkpap);
  background-color: var(--foundry_nu8bkpap);
}

.foundry_1pfduet7[data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
  cursor: not-allowed;
}

.foundry_1pfduet7[data-state="checked"][data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
}

.foundry_1pfduet8 {
  background-color: transparent;
  border-style: solid;
  border-color: var(--foundry_nu8bkp8v);
  color: var(--foundry_nu8bkp3q);
}

.foundry_1pfduet8:hover {
  border-color: var(--foundry_nu8bkp40);
}

.foundry_1pfduet8[data-state="checked"] {
  border-color: var(--foundry_nu8bkp40);
  background-color: var(--foundry_nu8bkp40);
}

.foundry_1pfduet8[data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
  cursor: not-allowed;
}

.foundry_1pfduet8[data-state="checked"][data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
}

.foundry_1pfduet9 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: all 0.15s ease-out;
}

.foundry_1pfdueta {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_nu8bkpi);
}

.foundry_1pfduetc {
  padding-top: var(--foundry_nu8bkph);
}

.foundry_1pfduetd {
  padding-top: var(--foundry_nu8bkpi);
  gap: var(--foundry_nu8bkpj);
}

.foundry_1pfduete {
  margin: 0;
}

.foundry_1pfdueti {
  color: var(--foundry_nu8bkp8k);
}

.foundry_1pfduetj {
  color: var(--foundry_nu8bkp8l);
}

.foundry_1pfduetk {
  color: var(--foundry_nu8bkp8q);
}

.foundry_thj3a31 {
  border: none;
  margin: 0;
  background-color: var(--foundry_nu8bkp3u);
}

.foundry_thj3a32 {
  --foundry_thj3a30: 1px;
}

.foundry_thj3a33 {
  --foundry_thj3a30: 2px;
}

.foundry_thj3a34 {
  --foundry_thj3a30: 3px;
}

.foundry_thj3a35 {
  --foundry_thj3a30: 4px;
}

.foundry_thj3a36 {
  height: var(--foundry_thj3a30);
  width: 100%;
}

.foundry_thj3a37 {
  width: var(--foundry_thj3a30);
  height: 100%;
}

.foundry_okz6z20 {
  color: var(--foundry_nu8bkp8j);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--foundry_nu8bkpk);
}

.foundry_okz6z21 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: var(--foundry_nu8bkpb);
  border-width: var(--foundry_nu8bkpe);
  border-style: solid;
  border-color: var(--foundry_nu8bkp8v);
  transition: all 100ms ease-in-out;
}

.foundry_okz6z21:has(input:focus-visible) {
  outline-width: 2px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: var(--foundry_nu8bkp9q);
}

.foundry_okz6z22 {
  background-color: transparent;
  color: var(--foundry_nu8bkp8v);
}

.foundry_okz6z22:hover {
  border-color: var(--foundry_nu8bkpap);
  color: var(--foundry_nu8bkpap);
}

.foundry_okz6z22[data-state="selected"],
.foundry_okz6z22[data-state="selected"]:hover {
  border-color: var(--foundry_nu8bkpap);
  background-color: var(--foundry_nu8bkpap);
  color: var(--foundry_nu8bkp85);
}

.foundry_okz6z22[data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3v);
  color: var(--foundry_nu8bkp3v);
  cursor: not-allowed;
}

.foundry_okz6z22[data-state="selected"][data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
  color: var(--foundry_nu8bkp8t);
}

.foundry_okz6z23 {
  background-color: transparent;
  border-color: var(--foundry_nu8bkp8s);
  color: var(--foundry_nu8bkp8s);
}

.foundry_okz6z23:hover {
  border-color: var(--foundry_nu8bkp40);
  color: var(--foundry_nu8bkp40);
}

.foundry_okz6z23[data-state="selected"],
.foundry_okz6z23[data-state="selected"]:hover {
  background-color: var(--foundry_nu8bkp40);
  color: var(--foundry_nu8bkp3q);
}

.foundry_okz6z23[data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3v);
  color: var(--foundry_nu8bkp3v);
  cursor: not-allowed;
}

.foundry_okz6z23[data-state="selected"][data-disabled="true"] {
  border-color: var(--foundry_nu8bkp3u);
  background-color: var(--foundry_nu8bkp3u);
  color: var(--foundry_nu8bkp8t);
}

.foundry_okz6z24 {
  width: var(--foundry_nu8bkp19);
}

.foundry_okz6z25 {
  height: var(--foundry_nu8bkp16);
}

.foundry_okz6z26 {
  width: var(--foundry_nu8bkp1a);
}

.foundry_okz6z27 {
  height: var(--foundry_nu8bkp17);
}

.foundry_okz6z28 {
  box-sizing: border-box;
  border-radius: var(--foundry_nu8bkpb);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.foundry_okz6z29 {
  padding-left: 4px;
}

.foundry_okz6z2a {
  padding-left: 5px;
}

.foundry_okz6z2b {
  display: flex;
  flex-direction: column;
  gap: var(--foundry_nu8bkpi);
}

.foundry_okz6z2c {
  color: var(--foundry_nu8bkp8k);
}

.foundry_okz6z2d {
  padding-top: var(--foundry_nu8bkph);
}

.foundry_okz6z2e {
  padding-top: var(--foundry_nu8bkpi);
  gap: var(--foundry_nu8bkpj);
}

.foundry_okz6z2f {
  margin: 0;
}

.foundry_okz6z2i {
  color: var(--foundry_nu8bkp8l);
}

.foundry_okz6z2k {
  width: var(--foundry_nu8bkp15);
}

.foundry_okz6z2l {
  height: var(--foundry_nu8bkp15);
}

.foundry_okz6z2m {
  width: var(--foundry_nu8bkp15);
}

.foundry_okz6z2n {
  height: var(--foundry_nu8bkp15);
}

.foundry_okz6z2o {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  margin: auto;
  transition: opacity 50ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.foundry_okz6z2p {
  --foundry_okz6z2j: 5px;
}

.foundry_okz6z2q {
  --foundry_okz6z2j: 7px;
}

.foundry_okz6z2r {
  left: var(--foundry_okz6z2j);
  right: auto;
}

.foundry_okz6z2s {
  left: auto;
  right: var(--foundry_okz6z2j);
}

.foundry_okz6z2v {
  opacity: 1;
}

.foundry_okz6z2w {
  opacity: 1;
}

.foundry_okz6z2y {
  width: var(--foundry_nu8bkp13);
}

.foundry_okz6z2z {
  height: var(--foundry_nu8bkp13);
}

.foundry_okz6z210 {
  width: var(--foundry_nu8bkp14);
}

.foundry_okz6z211 {
  height: var(--foundry_nu8bkp14);
}

.foundry_okz6z212 {
  display: flex;
  transition: transform 80ms ease-out;
  will-change: transform;
}

.foundry_okz6z213 {
  --foundry_okz6z2x: var(--foundry_nu8bkp16);
}

.foundry_okz6z214 {
  --foundry_okz6z2x: var(--foundry_nu8bkp17);
}

.foundry_okz6z215 {
  transform: translateX(var(--foundry_okz6z2x));
}

@supports (width: round(1px, 1px)) {
  .foundry_okz6z24 {
    width: round(var(--foundry_nu8bkp19), 2px);
  }

  .foundry_okz6z26 {
    width: round(var(--foundry_nu8bkp1a), 2px);
  }

  .foundry_okz6z2k {
    width: round(var(--foundry_nu8bkp15), 2px);
  }

  .foundry_okz6z2m {
    width: round(var(--foundry_nu8bkp15), 2px);
  }

  .foundry_okz6z2y {
    width: round(var(--foundry_nu8bkp13), 2px);
  }

  .foundry_okz6z210 {
    width: round(var(--foundry_nu8bkp14), 2px);
  }
}

@supports (height: round(1px, 1px)) {
  .foundry_okz6z25 {
    height: round(var(--foundry_nu8bkp16), 2px);
  }

  .foundry_okz6z27 {
    height: round(var(--foundry_nu8bkp17), 2px);
  }

  .foundry_okz6z2l {
    height: round(var(--foundry_nu8bkp15), 2px);
  }

  .foundry_okz6z2n {
    height: round(var(--foundry_nu8bkp15), 2px);
  }

  .foundry_okz6z2z {
    height: round(var(--foundry_nu8bkp13), 2px);
  }

  .foundry_okz6z211 {
    height: round(var(--foundry_nu8bkp14), 2px);
  }
}

.foundry_1m368qh2 {
  width: 100%;
  box-sizing: border-box;
  padding: var(--foundry_nu8bkpn);
  border-width: 1px;
  border-radius: var(--foundry_nu8bkp5);
  border-style: solid;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--foundry_nu8bkpm);
}

.foundry_1m368qh3 {
  --foundry_1m368qh0: var(--foundry_nu8bkp89);
  --foundry_1m368qh1: var(--foundry_nu8bkp4h);
}

.foundry_1m368qh4 {
  --foundry_1m368qh0: var(--foundry_nu8bkp87);
  --foundry_1m368qh1: var(--foundry_nu8bkp6t);
}

.foundry_1m368qh5 {
  --foundry_1m368qh0: var(--foundry_nu8bkp86);
  --foundry_1m368qh1: var(--foundry_nu8bkp61);
}

.foundry_1m368qh6 {
  --foundry_1m368qh0: var(--foundry_nu8bkp88);
  --foundry_1m368qh1: var(--foundry_nu8bkp59);
}

.foundry_1m368qh7 {
  background-color: var(--foundry_1m368qh0);
  border-color: var(--foundry_1m368qh1);
}

.foundry_1m368qh8 {
  background-color: var(--foundry_nu8bkp3s);
  border-color: var(--foundry_nu8bkp9n);
}

.foundry_1m368qh9 {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.foundry_1m368qha {
  display: grid;
  grid-template-areas: "icon title";
  grid-template-columns: min-content 1fr;
  grid-column-gap: var(--foundry_nu8bkpk);
  grid-row-gap: var(--foundry_nu8bkpm);
  padding-right: var(--foundry_nu8bkpq);
  position: relative;
}

.foundry_1m368qhb {
  display: grid;
  grid-row-gap: var(--foundry_nu8bkpi);
}

.foundry_1m368qhc {
  height: var(--foundry_nu8bkp18);
  display: flex;
  align-items: center;
}

.foundry_1m368qhd {
  grid-area: icon;
}

.foundry_1m368qhe {
  color: var(--foundry_nu8bkp90);
}

.foundry_1m368qhf {
  color: var(--foundry_nu8bkp9f);
}

.foundry_1m368qhg {
  color: var(--foundry_nu8bkp95);
}

.foundry_1m368qhh {
  color: var(--foundry_nu8bkp9a);
}

.foundry_1m368qhi {
  color: var(--foundry_nu8bkp8j);
  display: inline-flex;
  align-items: center;
  min-height: var(--foundry_nu8bkp18);
}

.foundry_1m368qhj {
  color: var(--foundry_nu8bkp8j);
  display: inline-flex;
  align-items: center;
  min-height: var(--foundry_nu8bkp18);
}

.foundry_1m368qhk {
  width: max-content;
  display: inline-flex;
  align-items: center;
  min-height: var(--foundry_nu8bkp18);
  color: var(--foundry_nu8bkp8m);
  border-radius: var(--foundry_nu8bkp3);
  outline-offset: 2px;
}

.foundry_1m368qhk:not([data-pressed="true"]):not([disabled]):hover {
  color: var(--foundry_nu8bkp3x);
}

.foundry_1m368qhk[data-pressed="true"] {
  color: var(--foundry_nu8bkp3y);
  outline-color: transparent;
}

.foundry_1m368qhk:disabled {
  color: var(--foundry_nu8bkp8k);
}

.foundry_1m368qhk:visited {
  color: var(--foundry_nu8bkp40);
}

.foundry_1m368qhl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--foundry_nu8bkpj);
  color: var(--foundry_nu8bkp8l);
  border-top: 1px solid var(--foundry_nu8bkp3w);
  padding-top: var(--foundry_nu8bkp15);
}

.foundry_1m368qhm {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--foundry_nu8bkpj);
  outline-offset: 0;
}

.foundry_1m368qhm[data-pressed="true"] {
  background-color: var(--foundry_nu8bkp7z);
  border-color: var(--foundry_nu8bkp7z);
}

.foundry_1m368qhm:not([data-pressed="true"]):not([disabled]):hover {
  background-color: var(--foundry_nu8bkp7y);
  border-color: var(--foundry_nu8bkp7y);
}

.foundry_1m368qhm:not([data-pressed="true"]):focus-visible {
  background-color: var(--foundry_nu8bkp7y);
  border-color: var(--foundry_nu8bkp7y);
}

.foundry_1m368qhn {
  top: 0;
  right: 0;
}

.foundry_1m368qho {
  color: var(--foundry_nu8bkp8l);
}

/*# sourceMappingURL=691d4f39e23bcff413a388e9a01eccf8.css.map*/