.rockstargames-modules-core-newswire-articlef1a35f6eed1910ca78558ab44d84cf74 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlef1a35f6eed1910ca78558ab44d84cf74 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec8ef64cf9e065f3427b3194a51df0db8 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec8ef64cf9e065f3427b3194a51df0db8 {
    display: none
  }
}

.rockstargames-modules-core-newswire-articlecfd24e0ee2b1f559661d5cfeb52dc42e {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articlecfd24e0ee2b1f559661d5cfeb52dc42e {
    display: none
  }

  .rockstargames-modules-core-newswire-articleded4ff39e5e25d76a418d7e3f7d11995 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec891d9386ba4301fc21465d3c801ba30 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec891d9386ba4301fc21465d3c801ba30 {
    display: none
  }

  .rockstargames-modules-core-newswire-articled066a56fe459189cf5d35eb48ba72d41 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articleb23ab84f8471b4ab942a4ed5fe620e69 {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articleb23ab84f8471b4ab942a4ed5fe620e69 {
    display: none
  }

  .rockstargames-modules-core-newswire-articleedef0f977948583cd14fa7ec3c39655c {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlecc198febff50b94067bae55bc185e3bc {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articlecc198febff50b94067bae55bc185e3bc {
    display: none
  }

  .rockstargames-modules-core-newswire-articleb73fd4ce556a1c51082ed54d5dda337f {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled849433c43d0224911924ec5469b0950 {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articled849433c43d0224911924ec5469b0950 {
    display: none
  }

  .rockstargames-modules-core-newswire-articleff44a535fb8dea98395f263608dd2a72 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlebf7b7e158634f4d4d1208a51cb8433b8 {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articleaeaef325bdb67e90aeff3ecb79f4a111 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-modules-core-newswire-articlea6a02bdd09ffc00b19d101a703c7ba56 {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-modules-core-newswire-articlebfe9c75ba21bc5e7e8b98810ed5478cd {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlebfe9c75ba21bc5e7e8b98810ed5478cd {
    --padding-dynamic: 0
  }
}

.rockstargames-modules-core-newswire-articleb2a41f46cd7e76fd7bdac129e1beeca3 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articleb2a41f46cd7e76fd7bdac129e1beeca3 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-modules-core-newswire-articlec2ff26d2a543d32cd724508049805636 {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articlec2ff26d2a543d32cd724508049805636 {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-modules-core-newswire-articlec2ff26d2a543d32cd724508049805636.rockstargames-modules-core-newswire-articled7206e59268cd0c0c0991aaab8f5303e {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

[data-game^=gta] {
  --image-rounding-dynamic: var(--image-rounding-static, 16px)
}

.rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f {
  --padding-t: initial;
  --padding-b: initial;
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img {
  border: var(--image-border-style);
  border-radius: var(--image-border-radius);
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none
}

[data-game=gtao] .rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img {
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-modules-core-newswire-articlee995406abbc00a5dd2a4d0d34c40f082 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-modules-core-newswire-articlee995406abbc00a5dd2a4d0d34c40f082 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-modules-core-newswire-articlea6a06e2d5c4f1811ea39d17312ca2e67 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f img.rockstargames-modules-core-newswire-articlea6a06e2d5c4f1811ea39d17312ca2e67 {
    display: none
  }
}

.rockstargames-modules-core-newswire-articlec8dc03880ce2e12f3fdea5b5b587f27f iframe {
  left: 0;
  position: absolute;
  top: 0
}

.rockstargames-modules-core-newswire-articleddf5b3edc2c13950953ba868208bf0ad,
.rockstargames-modules-core-newswire-articleddf5b3edc2c13950953ba868208bf0ad img {
  height: 100%;
  width: 100%
}

.rockstargames-modules-core-newswire-articleddf5b3edc2c13950953ba868208bf0ad img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

[data-game^=gta] .rockstargames-modules-core-newswire-articlead13916e888a5e46287a5a46c9c53a87 {
  --image-rounding-dynamic: 0
}

.frame_1 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_2 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_3 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_4 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_5 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_6 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
  border-radius: var(--badge-border-radius, 0);
  bottom: var(--badge-position-bottom, 0);
  display: flex;
  flex-direction: column;
  font-family: var(--badge-font, inherit);
  height: var(--badge-height, 3rem);
  justify-content: center;
  left: var(--badge-position-left, 0);
  margin: var(--badge-margin, 1rem);
  min-height: var(--badge-height, 3rem);
  padding: var(--badge-padding, .5rem);
  position: var(--badge-position, absolute);
  right: var(--badge-position-right, unset);
  text-transform: uppercase;
  top: var(--badge-position-top, unset);
  width: var(--badge-width, 3rem);
  z-index: var(--badge-z-index, 1)
}

.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 div,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 div {
  width: 100%
}

.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3>*,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3>* {
  line-height: 80%
}

@media (min-width:1024px) {

  .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3,
  [style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
    height: var(--badge-height, 5.5rem);
    margin: var(--badge-margin, 1.5rem);
    padding: var(--badge-padding, 1rem);
    width: var(--badge-width, 5.5rem)
  }
}

@media (min-width:2560px) {

  .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3,
  [style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
    height: var(--badge-height, 7.5rem);
    padding: var(--badge-padding, 1.25rem);
    width: var(--badge-width, 7.5rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c6d9756f8d8a34c2c2751c707569c9b8.png);
  background-size: cover;
  border-radius: var(--badge-border-radius, 0);
  color: var(--badge-text-color, #2e2e2e);
  text-align: center
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c {
  --badge-padding: 1.4rem 1rem 1rem;
  width: var(--badge-width, 6rem)
}

@media (max-width:767px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c {
    height: 60px;
    padding: 1rem;
    width: 60px
  }
}

@media (min-width:1024px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c {
    --badge-padding: 2rem 1.6rem 1.6rem;
    width: var(--badge-width, 8rem)
  }
}

@media (min-width:2560px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlece8632d7464b556158a1d549f653498c {
    --badge-padding: 2.4rem 2rem 2rem;
    width: var(--badge-width, 10rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/543023d161a2fcefa37e1d03ccd31682.png);
  width: var(--badge-width, 6rem);
  --badge-position-bottom: 0;
  --badge-padding: 1.4rem 1rem 1rem;
  --badge-width: 80px;
  --badge-height: 80px;
  --badge-padding: 1rem;
  --badge-margin: 0;
  top: 0
}

@media (max-width:767px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313 {
    height: 60px;
    padding: 1rem;
    width: 60px
  }
}

@media (min-width:1024px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313 {
    --badge-padding: 1.5rem;
    width: var(--badge-width, 8rem)
  }
}

@media (min-width:2560px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articled08ce7145bc9562355a3984f8ccc9313 {
    --badge-padding: 2.4rem 2rem 2rem;
    width: var(--badge-width, 10rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7 {
  align-items: center;
  display: flex;
  justify-content: center;
  --badge-text-color: #fff;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/468a9877ad5f9fa787e4223fa6531d66.png);
  font-family: var(--badge-font, "RDRLino-Regular");
  text-align: center
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7>div,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7>div {
  line-height: 100%;
  margin: auto;
  width: 80%
}

[data-game=rdo] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7 img,
[data-game^=rdr] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3.rockstargames-modules-core-newswire-articlec7c60cfb12b6e9be68893c60814b3ed7 img {
  margin: 0 auto var(--grid-gap-static-xs) auto;
  width: 50%
}

[data-game^=gta] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--badge-background, hsla(0, 0%, 9%, .65));
  border-radius: var(--badge-border-radius, .5rem);
  color: var(--badge-text-color, #fff);
  font-family: var(--badge-font, Pricedown, NeueHelveticaW05, NotoSansJP, NotoSansSC, NotoSansTC, "sans-serif");
  font-weight: 900;
  height: auto;
  text-align: center
}

@media (min-width:1024px) {
  [data-game^=gta] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
    --badge-border-radius: 0.5rem
  }
}

[data-game^=gta] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 img {
  width: 100%
}

[data-theme=gtao-halloween-2022] .rockstargames-modules-core-newswire-articleb7268b0e907630904b6689af83fee8e3 {
  --badge-text-color: #ff7541;
  --badge-background: transparent url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f7bffa196d6bf8afd15d674cf99f739e.png) no-repeat center center;
  background-size: cover;
  overflow: hidden
}

.rockstargames-modules-core-newswire-articleaa1b728001d236fbc3e21ca5337347be {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleaa1b728001d236fbc3e21ca5337347be {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec9834efb49798309556288669fefa74c {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec9834efb49798309556288669fefa74c {
    display: none
  }
}

.rockstargames-modules-core-newswire-articlec4f36011f9bc6f63f5de7732aa20a3f8 {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articlec4f36011f9bc6f63f5de7732aa20a3f8 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlef40366fc84c8bcc0e237087a94a48581 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec426b9725d882b12db47ee8e3f5b4127 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec426b9725d882b12db47ee8e3f5b4127 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlefc330e1861c872688d8f00acded4fe33 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled43817da36557f0495053d177b3cdc44 {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articled43817da36557f0495053d177b3cdc44 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlee68147724efa4db1d18e09dc3769e824 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled0676045412547d1cc27e66483ea588b {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articled0676045412547d1cc27e66483ea588b {
    display: none
  }

  .rockstargames-modules-core-newswire-articledbc39c99dae75644b4243bf695523118 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec3145a3068a9ef813a5d7a46c5c01d8b {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articlec3145a3068a9ef813a5d7a46c5c01d8b {
    display: none
  }

  .rockstargames-modules-core-newswire-articlea8198ee5f4dff07ca53dbe8a776331cd {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlee87f89ac7ed0d957999a832562b036a9 {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articlef0d47134dbac9fc1c7cfa402a1bdad65 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-modules-core-newswire-articlebd44c02ddea9bfb1dd58a0b36c6b3f26 {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-modules-core-newswire-articled25697a3e54b2ff198c2de867e25f184 {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articled25697a3e54b2ff198c2de867e25f184 {
    --padding-dynamic: 0
  }
}

.rockstargames-modules-core-newswire-articlec317e1d8c06777360e6a68f60215c114 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlec317e1d8c06777360e6a68f60215c114 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-modules-core-newswire-articleb4c6010772e1d73889f701c3c7eca095 {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articleb4c6010772e1d73889f701c3c7eca095 {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-modules-core-newswire-articleb4c6010772e1d73889f701c3c7eca095.rockstargames-modules-core-newswire-articlea37d9fb2108ad77a6d1025e9823409b9 {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

[data-game^=gta] {
  --image-rounding-dynamic: var(--image-rounding-static, 16px)
}

.rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 {
  --padding-t: initial;
  --padding-b: initial;
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img {
  border: var(--image-border-style);
  border-radius: var(--image-border-radius);
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none
}

[data-game=gtao] .rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img {
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img.rockstargames-modules-core-newswire-articlea366917b1ed7cd164458c648498b429b {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img.rockstargames-modules-core-newswire-articlea366917b1ed7cd164458c648498b429b {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img.rockstargames-modules-core-newswire-articleaf965a1eedecdad66d68018b5dfe2541 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 img.rockstargames-modules-core-newswire-articleaf965a1eedecdad66d68018b5dfe2541 {
    display: none
  }
}

.rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 iframe {
  left: 0;
  position: absolute;
  top: 0
}

.rockstargames-modules-core-newswire-articled607bc4432988983a470a583d04ac153,
.rockstargames-modules-core-newswire-articled607bc4432988983a470a583d04ac153 img {
  height: 100%;
  width: 100%
}

.rockstargames-modules-core-newswire-articled607bc4432988983a470a583d04ac153 img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

[data-game^=gta] .rockstargames-modules-core-newswire-articlea429886d721550d02521f7f5c9de7f5b {
  --image-rounding-dynamic: 0
}

.frame_1 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_2 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_3 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_4 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_5 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_6 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b {
  height: -moz-fit-content;
  height: fit-content;
  max-width: var(--image-with-badge-max-width);
  overflow: hidden;
  position: relative;
  width: var(--image-with-badge-width);
  --badge-position-bottom: 0
}

.rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b figcaption {
  font-style: var(--image-figcaption-font-style, normal)
}

[template=community] .rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b {
  --max-width-dynamic: var(--max-width-static-md);
  max-width: calc(var(--max-width-dynamic, --max-width-dynamic) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%;
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

[template=community] .rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b figure>div {
  --padding-sides: 0px
}

[template=community] .rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b img {
  border-radius: var(--image-rounding-static)
}

@media (min-width:640px) {

  [template=community] .rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b+caption,
  [template=community] .rockstargames-modules-core-newswire-articled9ac792281efe15bcd4589b028d1c27b+figcaption {
    margin: var(--grid-gap-static-sm) auto 0;
    width: var(--max-width-static)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlea429886d721550d02521f7f5c9de7f5b {
    align-items: center;
    display: flex;
    justify-content: center
  }

  .rockstargames-modules-core-newswire-articlea429886d721550d02521f7f5c9de7f5b .rockstargames-modules-core-newswire-articlee430c4662cd185f58259d4a8d8b322de {
    position: relative;
    width: auto
  }

  .rockstargames-modules-core-newswire-articlea429886d721550d02521f7f5c9de7f5b .rockstargames-modules-core-newswire-articlee430c4662cd185f58259d4a8d8b322de .rockstargames-modules-core-newswire-articledf4c232bcf88ee35aae779328f3461c2 {
    display: inline-block;
    width: auto
  }

  .rockstargames-modules-core-newswire-articlea429886d721550d02521f7f5c9de7f5b .rockstargames-modules-core-newswire-articlee430c4662cd185f58259d4a8d8b322de img {
    max-height: 70vh;
    min-height: 30vw;
    object-fit: cover;
    object-position: center
  }
}

/*# sourceMappingURL=9997228c3a403f7217e4c92e428d0359.css.map*/