.rockstargames-modules-core-newswire-articleed77774d2704bc0ebc0ac156542ae053 {
  color: var(--tag-color, var(--body-color));
  display: inline-block;
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6;
  padding: 0 .75rem 0 0
}

@font-face {
  font-family: BarlowCondensed;
  font-style: normal;
  font-weight: 500;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/53708fece531282d2deb34075a43a51b.woff) format("woff")
}

@font-face {
  font-family: BarlowCondensed;
  font-style: normal;
  font-weight: 900;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/8398e82f870571cbbdb6629268975bbb.woff) format("woff")
}

.rockstargames-modules-core-newswire-articlebb43df423657efcc0f1f38630a24e5e8 {
  -webkit-font-smoothing: antialiased;
  --icon-size: 1.5rem;
  --burger-size: 1.25rem;
  --ornamental-offset: 3rem;
  --controls-padding: 1rem;
  display: grid;
  font-family: BarlowCondensed;
  grid-template-columns: 8rem 1fr;
  height: 8rem;
  letter-spacing: 0;
  line-height: 1;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlebb43df423657efcc0f1f38630a24e5e8 {
    --icon-size: 2rem;
    --controls-padding: 2rem
  }
}

.rockstargames-modules-core-newswire-articlebb43df423657efcc0f1f38630a24e5e8.rockstargames-modules-core-newswire-articlee1f497e3ec34c2fd721b124969e27dd5 {
  bottom: 0;
  position: sticky;
  z-index: 20
}

.rockstargames-modules-core-newswire-articlebb43df423657efcc0f1f38630a24e5e8.rockstargames-modules-core-newswire-articlee8f2736f0ae21a56045104071a7a9fd7 .rockstargames-modules-core-newswire-articleea84096a931648765b1db46f708f70aa {
  opacity: 1;
  pointer-events: auto
}

.rockstargames-modules-core-newswire-articlebb43df423657efcc0f1f38630a24e5e8,
.rockstargames-modules-core-newswire-articleea84096a931648765b1db46f708f70aa {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  background: hsla(0, 0%, 4%, .8)
}

.rockstargames-modules-core-newswire-articleb91aad66a2102668715c5ddaaecede2e {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2795%27 height=%2776%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M14.1 0H2.7C1.2 0 0 1.2 0 2.7V14c0 1.5 1.2 2.7 2.7 2.7H14c1.5 0 2.7-1.2 2.7-2.7V2.8c.1-1.5-1.1-2.8-2.6-2.8Zm78.2 0H30.8c-1.5 0-2.7 1.2-2.7 2.7V14c0 1.5 1.2 2.7 2.7 2.7h61.5c1.5 0 2.7-1.2 2.7-2.7V2.8C95 1.3 93.8 0 92.3 0ZM14.1 29.5H2.7c-1.5 0-2.7 1.2-2.7 2.7v11.3c0 1.5 1.2 2.7 2.7 2.7H14c1.5 0 2.7-1.2 2.7-2.7V32.2c.1-1.5-1.1-2.7-2.6-2.7Zm78.2 0H30.8c-1.5 0-2.7 1.2-2.7 2.7v11.3c0 1.5 1.2 2.7 2.7 2.7h61.5c1.5 0 2.7-1.2 2.7-2.7V32.2c0-1.5-1.2-2.7-2.7-2.7ZM14.1 59H2.7C1.2 59 0 60.2 0 61.7V73c0 1.5 1.2 2.7 2.7 2.7H14c1.5 0 2.7-1.2 2.7-2.7V61.7c.1-1.5-1.1-2.7-2.6-2.7Zm78.2 0H30.8c-1.5 0-2.7 1.2-2.7 2.7V73c0 1.5 1.2 2.7 2.7 2.7h61.5c1.5 0 2.7-1.2 2.7-2.7V61.7c0-1.5-1.2-2.7-2.7-2.7Z%27/%3E%3C/svg%3E") top /contain no-repeat;
  cursor: pointer;
  height: var(--burger-size);
  width: var(--burger-size)
}

.rockstargames-modules-core-newswire-articleea84096a931648765b1db46f708f70aa {
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  opacity: 0;
  padding: var(--padding-static);
  pointer-events: none;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  transform: translateY(-100%);
  transition: opacity .3s
}

.rockstargames-modules-core-newswire-articleea84096a931648765b1db46f708f70aa h4 {
  margin: 0 0 1rem
}

.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e {
  font-size: 1.25rem
}

.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e a {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1.5em 1fr 2em;
  padding: 8px 0;
  transition: color .3s
}

.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e a span:last-of-type {
  text-align: right
}

.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e a.rockstargames-modules-core-newswire-articleac7826f934fc777f58017b1a5752419a,
.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e a:hover {
  color: var(--highlight-color, inherit)
}

.rockstargames-modules-core-newswire-articlec44536ca7b7fa7236e86c65ae309057e a:not(:last-child) {
  border-bottom: 2px solid hsla(0, 0%, 100%, .15)
}

.rockstargames-modules-core-newswire-articleaafc522e642572d5ff93c7408b941829 {
  font-weight: 900
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleaafc522e642572d5ff93c7408b941829 {
    min-width: 320px
  }
}

.rockstargames-modules-core-newswire-articleb880baa4707c71eb543f905816d8e952 {
  color: hsla(0, 0%, 100%, .65)
}

.rockstargames-modules-core-newswire-articleff92c8eddfc0a0fa7bc7f444973e4f28 {
  grid-gap: 1rem;
  align-content: center;
  color: #fff;
  display: grid;
  flex: 1;
  grid-template-columns: 1fr var(--burger-size);
  padding: 0 var(--controls-padding);
  position: relative;
  text-transform: uppercase;
  transition: all .3s;
  z-index: 0
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleff92c8eddfc0a0fa7bc7f444973e4f28 {
    grid-gap: 1.5rem;
    grid-template-columns: 1fr max-content 1fr
  }
}

.rockstargames-modules-core-newswire-articlea81d9465f14d65e8e20800d7b25f77d9 {
  background: var(--track-color);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: calc((var(--ornamental-offset) + var(--controls-padding)) + var(--current-pct) * calc(100% - ((var(--ornamental-offset) + var(--controls-padding)) * 2)));
  z-index: -1
}

.rockstargames-modules-core-newswire-articlea81d9465f14d65e8e20800d7b25f77d9.rockstargames-modules-core-newswire-articlec87bd14d2bbc9248d9c197b77454f345 {
  opacity: 1
}

.rockstargames-modules-core-newswire-articlec23bf574089d1af93750f6af8ebb489f {
  font-size: 1.563rem;
  overflow: hidden;
  position: relative;
  white-space: nowrap
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec23bf574089d1af93750f6af8ebb489f {
    font-size: 1.9563rem
  }
}

@keyframes rockstargames-modules-core-newswire-articlefd9c80e5afaa1ed38ce85f2c3d70eae4 {
  0% {
    left: 0;
    transform: translateX(0)
  }

  50% {
    left: 100%;
    transform: translateX(-100%)
  }

  to {
    left: 0;
    transform: translateX(0)
  }
}

.rockstargames-modules-core-newswire-articlee4b77d29e904f9928cca1de93f5c7745 {
  font-weight: 900;
  position: absolute
}

.rockstargames-modules-core-newswire-articlee4b77d29e904f9928cca1de93f5c7745.rockstargames-modules-core-newswire-articleba49949a9cd8c22385708f267c625029 {
  animation: rockstargames-modules-core-newswire-articlefd9c80e5afaa1ed38ce85f2c3d70eae4 10s linear 0s infinite alternate
}

.rockstargames-modules-core-newswire-articlec93c1e5399d9fd5e96ca246fdbfb307b {
  font-size: .75em
}

.rockstargames-modules-core-newswire-articlec23bf574089d1af93750f6af8ebb489f,
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
  flex: 1
}

.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
  align-items: flex-end;
  align-self: flex-start;
  grid-column: 2;
  grid-row: 1
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
    grid-column: 3
  }
}

.rockstargames-modules-core-newswire-articled136125994c1d0db1449fce51af559ca,
.rockstargames-modules-core-newswire-articlec23bf574089d1af93750f6af8ebb489f,
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
  display: flex;
  flex-flow: column;
  justify-content: center
}

.rockstargames-modules-core-newswire-articled136125994c1d0db1449fce51af559ca,
.rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff,
.rockstargames-modules-core-newswire-articlec23bf574089d1af93750f6af8ebb489f,
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
  mix-blend-mode: var(--track-mix-blend-mode, difference);
  will-change: opacity
}

.rockstargames-modules-core-newswire-articled136125994c1d0db1449fce51af559ca {
  align-items: center;
  flex-flow: row;
  grid-column: 1/-1;
  justify-content: space-between
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articled136125994c1d0db1449fce51af559ca {
    grid-column: 2;
    grid-row: 1;
    justify-content: unset
  }
}

.rockstargames-modules-core-newswire-articlef5de7526c8cee98bdd7363fd7f2cf8ae {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%27 height=%27100%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M84.2 43.6 24.4 3.8c-5.1-3.4-12 .3-12 6.4v79.5c0 6.2 6.9 9.8 12 6.4l59.8-39.8c4.5-2.9 4.5-9.7 0-12.7Z%27/%3E%3C/svg%3E") 50% /contain no-repeat;
  cursor: pointer;
  height: var(--icon-size);
  margin: 0 2rem;
  width: var(--icon-size)
}

.rockstargames-modules-core-newswire-articlef5de7526c8cee98bdd7363fd7f2cf8ae.rockstargames-modules-core-newswire-articleefb6194f0df966e6c8c759937d2fb826 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%27 height=%27100%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M35.7 2.5H13.4c-2.1 0-3.9 1.7-3.9 3.9v87.3c0 2.1 1.7 3.9 3.9 3.9h22.2c2.1 0 3.9-1.7 3.9-3.9V6.4c0-2.2-1.7-3.9-3.8-3.9Zm51.1 0H64.5c-2.1 0-3.9 1.7-3.9 3.9v87.3c0 2.1 1.7 3.9 3.9 3.9h22.2c2.1 0 3.9-1.7 3.9-3.9V6.4c0-2.2-1.7-3.9-3.8-3.9Z%27/%3E%3C/svg%3E") 50% /contain no-repeat
}

.rockstargames-modules-core-newswire-articlef286e0ce01c5401e56dd579b076f1aae,
.rockstargames-modules-core-newswire-articlef5de7526c8cee98bdd7363fd7f2cf8ae,
.rockstargames-modules-core-newswire-articlea56bb7cb4b0e2de481777d1f09c3f2f2,
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856 {
  opacity: .75;
  transition: opacity .3s
}

.rockstargames-modules-core-newswire-articlef286e0ce01c5401e56dd579b076f1aae:hover,
.rockstargames-modules-core-newswire-articlef286e0ce01c5401e56dd579b076f1aae[active],
.rockstargames-modules-core-newswire-articlef5de7526c8cee98bdd7363fd7f2cf8ae:hover,
.rockstargames-modules-core-newswire-articlef5de7526c8cee98bdd7363fd7f2cf8ae[active],
.rockstargames-modules-core-newswire-articlea56bb7cb4b0e2de481777d1f09c3f2f2:hover,
.rockstargames-modules-core-newswire-articlea56bb7cb4b0e2de481777d1f09c3f2f2[active],
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856:hover,
.rockstargames-modules-core-newswire-articleb4e1a16e3460b40c1aacd92afe219856[active] {
  opacity: 1
}

.rockstargames-modules-core-newswire-articlef286e0ce01c5401e56dd579b076f1aae,
.rockstargames-modules-core-newswire-articlea56bb7cb4b0e2de481777d1f09c3f2f2 {
  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size)
}

.rockstargames-modules-core-newswire-articlea56bb7cb4b0e2de481777d1f09c3f2f2 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%27 height=%27100%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M87.3 88.8 37.1 55.4c-3.9-2.6-3.9-8.2 0-10.8l50.2-33.4c4.3-2.9 10.1.2 10.1 5.4v66.8c0 5.2-5.8 8.3-10.1 5.4Zm-67.5 1.1H5.7c-1.8 0-3.2-1.5-3.2-3.2V13.3c0-1.8 1.5-3.2 3.2-3.2h14.1c1.8 0 3.2 1.5 3.2 3.2v73.3c0 1.9-1.5 3.3-3.2 3.3Z%27/%3E%3C/svg%3E") 50% /contain no-repeat
}

.rockstargames-modules-core-newswire-articlef286e0ce01c5401e56dd579b076f1aae {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%27 height=%27100%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27m12.6 88.8 50.2-33.4c3.9-2.6 3.9-8.2 0-10.8L12.6 11.2c-4.3-2.9-10.1.2-10.1 5.4v66.8c0 5.2 5.8 8.3 10.1 5.4Zm67.5 1.1h14.1c1.8 0 3.2-1.5 3.2-3.2V13.3c0-1.8-1.5-3.2-3.2-3.2H80.1c-1.8 0-3.2 1.5-3.2 3.2v73.3c0 1.9 1.5 3.3 3.2 3.3Z%27/%3E%3C/svg%3E") 50% /contain no-repeat
}

.rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff {
  align-items: stretch;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: var(--ornamental-offset) 1fr var(--ornamental-offset)
}

.rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff span {
  font-size: .8rem;
  font-weight: 500
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff span {
    font-size: 1rem
  }
}

.rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff span:first-of-type {
  text-align: left
}

.rockstargames-modules-core-newswire-articled3d935648408f71928bd49d2f7c5a9ff span:last-of-type {
  text-align: right
}

.rockstargames-modules-core-newswire-articleb8f38f45353fa54fcb6f9e2a3d0d5a85 {
  cursor: pointer;
  flex: 1;
  position: relative
}

.rockstargames-modules-core-newswire-articleb8f38f45353fa54fcb6f9e2a3d0d5a85:after {
  --offset-height: 4px;
  background: #3f3f3f;
  content: "";
  height: calc(100% - var(--offset-height));
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articleb8f38f45353fa54fcb6f9e2a3d0d5a85:after {
    --offset-height: 8px
  }
}

@keyframes rockstargames-modules-core-newswire-articlea4b99f54f3ce3987765143d8a151360a {
  0% {
    width: 0
  }
}

@keyframes rockstargames-modules-core-newswire-articlef9c3869a2a1e10490bdfbcb3ee89d7da {
  0% {
    opacity: 0;
    transform: translateX(100px)
  }

  to {
    opacity: 1;
    transform: translateX(0)
  }
}

.rockstargames-modules-core-newswire-articlee9374e74c542c1028a2068dfbd1e85a3 {
  opacity: 0
}

.rockstargames-modules-core-newswire-articlea63de5cdf9849ac45a0f6b4f7617cfa5 {
  opacity: 0;
  transition: all .5s;
  transition-delay: .5s
}

.rockstargames-modules-core-newswire-articlea63de5cdf9849ac45a0f6b4f7617cfa5.rockstargames-modules-core-newswire-articled7458685114194d602f94e2581de0f08 {
  opacity: 1
}

.rockstargames-modules-core-newswire-articlea63de5cdf9849ac45a0f6b4f7617cfa5.rockstargames-modules-core-newswire-articled7458685114194d602f94e2581de0f08 .rockstargames-modules-core-newswire-articleb0f4d843b626e3741c9dd38fcb3f56b0 {
  animation: rockstargames-modules-core-newswire-articlea4b99f54f3ce3987765143d8a151360a 2s .5s forwards
}

.rockstargames-modules-core-newswire-articlea63de5cdf9849ac45a0f6b4f7617cfa5.rockstargames-modules-core-newswire-articled7458685114194d602f94e2581de0f08 .rockstargames-modules-core-newswire-articlee9374e74c542c1028a2068dfbd1e85a3 {
  animation: rockstargames-modules-core-newswire-articlef9c3869a2a1e10490bdfbcb3ee89d7da 1s 1s forwards
}

.rockstargames-modules-core-newswire-articlecef355ba53827b9ec44655c80b247b2e {
  display: flex;
  flex-flow: column;
  position: relative
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articlecef355ba53827b9ec44655c80b247b2e {
    flex-flow: column
  }

  .rockstargames-modules-core-newswire-articlecef355ba53827b9ec44655c80b247b2e .rockstargames-modules-core-newswire-articlea8f5d10f689c3d40c8378e3ae8a07517 {
    width: 100% !important
  }

  .rockstargames-modules-core-newswire-articlecef355ba53827b9ec44655c80b247b2e .rockstargames-modules-core-newswire-articlea8f5d10f689c3d40c8378e3ae8a07517 .rockstargames-modules-core-newswire-articlebee8268780b292e5bc0da0b497e2c28f {
    height: auto !important
  }
}

.rockstargames-modules-core-newswire-articleae579f6183cf73c897e68c8aae5c9d9d {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  width: 50%
}

@media (max-width:767px) {
  flex-flow: column;

  .rockstargames-modules-core-newswire-articleae579f6183cf73c897e68c8aae5c9d9d {
    width: 100% !important
  }
}

/*# sourceMappingURL=af1976a95468a9f35efdb14bf4778e0b.css.map*/