.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
  border-radius: var(--badge-border-radius, 0);
  bottom: var(--badge-position-bottom, 0);
  display: flex;
  flex-direction: column;
  font-family: var(--badge-font, inherit);
  height: var(--badge-height, 3rem);
  justify-content: center;
  left: var(--badge-position-left, 0);
  margin: var(--badge-margin, 1rem);
  min-height: var(--badge-height, 3rem);
  padding: var(--badge-padding, .5rem);
  position: var(--badge-position, absolute);
  right: var(--badge-position-right, unset);
  text-transform: uppercase;
  top: var(--badge-position-top, unset);
  width: var(--badge-width, 3rem);
  z-index: var(--badge-z-index, 1)
}

.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 div,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 div {
  width: 100%
}

.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836>*,
[style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836>* {
  line-height: 80%
}

@media (min-width:1024px) {

  .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836,
  [style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
    height: var(--badge-height, 5.5rem);
    margin: var(--badge-margin, 1.5rem);
    padding: var(--badge-padding, 1rem);
    width: var(--badge-width, 5.5rem)
  }
}

@media (min-width:2560px) {

  .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836,
  [style*="--aspect-ratio"]>.rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
    height: var(--badge-height, 7.5rem);
    padding: var(--badge-padding, 1.25rem);
    width: var(--badge-width, 7.5rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c6d9756f8d8a34c2c2751c707569c9b8.png);
  background-size: cover;
  border-radius: var(--badge-border-radius, 0);
  color: var(--badge-text-color, #2e2e2e);
  text-align: center
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340 {
  --badge-padding: 1.4rem 1rem 1rem;
  width: var(--badge-width, 6rem)
}

@media (max-width:767px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340 {
    height: 60px;
    padding: 1rem;
    width: 60px
  }
}

@media (min-width:1024px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340 {
    --badge-padding: 2rem 1.6rem 1.6rem;
    width: var(--badge-width, 8rem)
  }
}

@media (min-width:2560px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled7362a3e27ccaad9d2aadd2f31691340 {
    --badge-padding: 2.4rem 2rem 2rem;
    width: var(--badge-width, 10rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a {
  --badge-position-bottom: 0;
  --badge-padding: 1.4rem 1rem 1rem;
  --badge-width: 80px;
  --badge-height: 80px;
  --badge-padding: 1rem;
  --badge-margin: 0;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/543023d161a2fcefa37e1d03ccd31682.png);
  top: 0;
  width: var(--badge-width, 6rem)
}

@media (max-width:767px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a {
    height: 60px;
    padding: 1rem;
    width: 60px
  }
}

@media (min-width:1024px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a {
    --badge-padding: 1.5rem;
    width: var(--badge-width, 8rem)
  }
}

@media (min-width:2560px) {

  [data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a,
  [data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articled697f4a5f7c876d5e540a96da1e0ca3a {
    --badge-padding: 2.4rem 2rem 2rem;
    width: var(--badge-width, 10rem)
  }
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5 {
  --badge-text-color: #fff;
  align-items: center;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/468a9877ad5f9fa787e4223fa6531d66.png);
  display: flex;
  font-family: var(--badge-font, "RDRLino-Regular");
  justify-content: center;
  text-align: center
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5>div,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5>div {
  line-height: 100%;
  margin: auto;
  width: 80%
}

[data-game=rdo] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5 img,
[data-game^=rdr] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836.rockstargames-modules-core-newswire-articlee1bba3cd4554abbb48a030af24bbada5 img {
  margin: 0 auto var(--grid-gap-static-xs) auto;
  width: 50%
}

[data-game^=gta] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: var(--badge-background, hsla(0, 0%, 9%, .65));
  border-radius: var(--badge-border-radius, .5rem);
  color: var(--badge-text-color, #fff);
  font-family: var(--badge-font, Pricedown, NeueHelveticaW05, NotoSansJP, NotoSansSC, NotoSansTC, "sans-serif");
  font-weight: 900;
  height: auto;
  text-align: center
}

@media (min-width:1024px) {
  [data-game^=gta] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
    --badge-border-radius: 0.5rem
  }
}

[data-game^=gta] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 img {
  width: 100%
}

[data-theme=gtao-halloween-2022] .rockstargames-modules-core-newswire-articlee279e2cebfa338f34b03fd732416e836 {
  --badge-text-color: #ff7541;
  --badge-background: transparent url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f7bffa196d6bf8afd15d674cf99f739e.png) no-repeat center center;
  background-size: cover;
  overflow: hidden
}

.rockstargames-modules-core-newswire-articlece469c041e0e45bf32c16cf3d298c307 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlece469c041e0e45bf32c16cf3d298c307 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articled1d67889c7758376b5922343cff2665a {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articled1d67889c7758376b5922343cff2665a {
    display: none
  }
}

.rockstargames-modules-core-newswire-articleca3400f4635baad6d902c73cd4fc0795 {
  display: var(--display-original, block)
}

@media (min-width:0px) {
  .rockstargames-modules-core-newswire-articleca3400f4635baad6d902c73cd4fc0795 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlece677690a2424e77eb466cf4d4318281 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlee8ff510dd52aeed115ec32aa18372ac4 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlee8ff510dd52aeed115ec32aa18372ac4 {
    display: none
  }

  .rockstargames-modules-core-newswire-articled31a1945b7d46a0add418260812cb52c {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlebc3afe2aee22f209672558f91cd4cae8 {
  display: var(--display-original, block)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlebc3afe2aee22f209672558f91cd4cae8 {
    display: none
  }

  .rockstargames-modules-core-newswire-articledf6a9fbadc14997479c4599f3615e8b9 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articleff304b833f3dd0f394a8a193dae80c13 {
  display: var(--display-original, block)
}

@media (min-width:1920px) {
  .rockstargames-modules-core-newswire-articleff304b833f3dd0f394a8a193dae80c13 {
    display: none
  }

  .rockstargames-modules-core-newswire-articlef5dc71f9663c4326a5b36c7ec59c8ba2 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlee30ac121cdc6917a153cf41e1662bc1f {
  display: var(--display-original, block)
}

@media (min-width:2560px) {
  .rockstargames-modules-core-newswire-articlee30ac121cdc6917a153cf41e1662bc1f {
    display: none
  }

  .rockstargames-modules-core-newswire-articlee4fee046db7bdea3708be52b3d805f4b {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlecfaa5f4ee3c991ecf036bb19c76d97a7 {
  left: 50%;
  margin-left: calc((100vw / 2) * -1);
  margin-right: calc((100vw / 2) * -1);
  max-width: 100vw !important;
  position: relative;
  right: 50%;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-newswire-articledf795515a9ca12dc6908babf9ecdc4d6 {
    display: flex;
    flex-direction: column-reverse
  }
}

.rockstargames-modules-core-newswire-articleb0ae39bec5dd1c3d07d326d3f98c46f8 {
  align-items: center;
  display: flex;
  justify-content: center
}

.rockstargames-modules-core-newswire-articled0f1d5b70400ea68ed97d016bef6f2e0 {
  --padding-dynamic: var(--padding-static)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articled0f1d5b70400ea68ed97d016bef6f2e0 {
    --padding-dynamic: 0
  }
}

.rockstargames-modules-core-newswire-articlea21c2aff92949c1ece923ba10a8d0d03 {
  --padding-dynamic: 0
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articlea21c2aff92949c1ece923ba10a8d0d03 {
    --padding-dynamic: var(--padding-static)
  }
}

.rockstargames-modules-core-newswire-articlec6f5818865af328d420e79e1e8684b2c {
  background: #fff;
  height: 2px;
  margin-top: var(--grid-gap-static-sm);
  width: 100%
}

@media (max-width:1023px) {
  .rockstargames-modules-core-newswire-articlec6f5818865af328d420e79e1e8684b2c {
    margin-top: var(--grid-gap-static-xs)
  }
}

.rockstargames-modules-core-newswire-articlec6f5818865af328d420e79e1e8684b2c.rockstargames-modules-core-newswire-articlef6ce88121c68d070f39e63cbd0146cd5 {
  background: linear-gradient(96deg, #977b52 18%, #ded0a4 51%, #b19b6b 85%)
}

[data-game^=gta] {
  --image-rounding-dynamic: var(--image-rounding-static, 16px)
}

.rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 {
  --padding-t: initial;
  --padding-b: initial;
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, 1000000px) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

.rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img {
  border: var(--image-border-style);
  border-radius: var(--image-border-radius);
  display: block;
  margin: auto;
  max-width: 100%;
  pointer-events: none
}

[data-game=gtao] .rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img {
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img.rockstargames-modules-core-newswire-articleb7b0c61d02d217177873ed7060e3ebb6 {
  display: none
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img.rockstargames-modules-core-newswire-articleb7b0c61d02d217177873ed7060e3ebb6 {
    display: var(--display-original, block)
  }
}

.rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img.rockstargames-modules-core-newswire-articleb9d9c0ee2bd1ec0638fce3a6574cb8c1 {
  display: var(--display-original, block)
}

@media (min-width:768px) {
  .rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 img.rockstargames-modules-core-newswire-articleb9d9c0ee2bd1ec0638fce3a6574cb8c1 {
    display: none
  }
}

.rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 iframe {
  left: 0;
  position: absolute;
  top: 0
}

.rockstargames-modules-core-newswire-articleb68b3a0099ce3e2e6abdf6c6f4f3877f,
.rockstargames-modules-core-newswire-articleb68b3a0099ce3e2e6abdf6c6f4f3877f img {
  height: 100%;
  width: 100%
}

.rockstargames-modules-core-newswire-articleb68b3a0099ce3e2e6abdf6c6f4f3877f img {
  object-fit: cover;
  transition: transform .3s ease-in-out
}

[data-game^=gta] .rockstargames-modules-core-newswire-articleefc561ad30f5dfe75c79d939737650dc {
  --image-rounding-dynamic: 0
}

.frame_1 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6d9c2b86d9a8adf37ac9f6fb54dcd7e0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_2 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/828856a8c6ebb8fae3cd99a64c9dbbe3.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_3 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/78be29806da81e39b2ea5897518418d0.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_4 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3fea9d7c3ac2c41177166e9a02c78c2b.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_5 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f0d6a56435c9c8dbda517918b6fef54d.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.frame_6 {
  -webkit-mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  mask-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/3db6dd6dbfaf899a2f004a0f7bb1579c.png);
  -webkit-mask-size: cover;
  mask-size: cover
}

.rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8 {
  --badge-position-bottom: 0;
  height: -moz-fit-content;
  height: fit-content;
  max-width: var(--image-with-badge-max-width);
  overflow: hidden;
  position: relative;
  width: var(--image-with-badge-width)
}

.rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8 figcaption {
  font-style: var(--image-figcaption-font-style, normal)
}

[template=community] .rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8 {
  --max-width-dynamic: var(--max-width-static-md);
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: initial;
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, --max-width-dynamic) + var(--padding-dynamic, 0px) * 2) !important;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  width: 100%
}

[template=community] .rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8 figure>div {
  --padding-sides: 0px
}

[template=community] .rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8 img {
  border-radius: var(--image-rounding-static)
}

@media (min-width:640px) {

  [template=community] .rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8+caption,
  [template=community] .rockstargames-modules-core-newswire-articlecab262c98c7f5bb3e982d9b075b3c2a8+figcaption {
    margin: var(--grid-gap-static-sm) auto 0;
    width: var(--max-width-static)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-newswire-articleefc561ad30f5dfe75c79d939737650dc {
    align-items: center;
    display: flex;
    justify-content: center
  }

  .rockstargames-modules-core-newswire-articleefc561ad30f5dfe75c79d939737650dc .rockstargames-modules-core-newswire-articlecefd6d8859aeec1057caed28caa160c3 {
    position: relative;
    width: auto
  }

  .rockstargames-modules-core-newswire-articleefc561ad30f5dfe75c79d939737650dc .rockstargames-modules-core-newswire-articlecefd6d8859aeec1057caed28caa160c3 .rockstargames-modules-core-newswire-articlec227c1759db93e5aee37b2bb66dc3279 {
    display: inline-block;
    width: auto
  }

  .rockstargames-modules-core-newswire-articleefc561ad30f5dfe75c79d939737650dc .rockstargames-modules-core-newswire-articlecefd6d8859aeec1057caed28caa160c3 img {
    max-height: 70vh;
    min-height: 30vw;
    object-fit: cover;
    object-position: center
  }
}

.rockstargames-modules-core-newswire-articlef7c6c7f374a964c878d2d276e933ee0b {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: var(--grid-gap-static-lg);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

[data-game=rdo][data-template=halloween] .rockstargames-modules-core-newswire-articlef7c6c7f374a964c878d2d276e933ee0b {
  --grid-gap-static-lg: 0
}

:root [data-game^=gta] .rockstargames-modules-core-newswire-articleea6dc08aea9d51a8db44ed608c891705 h4 {
  font-family: var(--font-family-std);
  font-size: var(--font-size-4)
}

:root [data-game=rdo] .rockstargames-modules-core-newswire-articleea6dc08aea9d51a8db44ed608c891705 h4,
:root [data-game^=rdr] .rockstargames-modules-core-newswire-articleea6dc08aea9d51a8db44ed608c891705 h4 {
  --color-h: #e8e8e8;
  font-family: var(--font-family-std)
}

.rockstargames-modules-core-newswire-articleeeecd14725803dea4b8848410b644b27 {
  padding-top: 1.5rem
}

.rockstargames-modules-core-newswire-articlec84f82c9ba8b58c3cfcc3834228a96d7 {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: initial;
  --grid-gap-dynamic: var(--grid-gap-static-lg);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0,
.rockstargames-modules-core-newswire-articlec84f82c9ba8b58c3cfcc3834228a96d7 {
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  --background-color: var(--image-title-text-background, transparent);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  background-color: var(--background-color, transparent)
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h1,
.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h1.rockstargames-modules-core-newswire-articled0d6b3240859af898664c31afd5aaab3 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h4,
.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h5,
.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 figure>div {
  --padding-sides: 0px
}

.rockstargames-modules-core-newswire-articleea3df4f9076c3f017962a018b926c3e0 .rockstargames-modules-core-newswire-articlee9ece151c1b5c70da591c9192e29ef50 {
  --description-area-margin-top: 0px
}

/*# sourceMappingURL=b08ca19edfaeb652f00d0630da87be9c.css.map*/