.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836:focus,
.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836.rockstargames-modules-core-footerc1ac4227ecc3c60c4a623f13dd4609b6 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-footeredb30438bec02a28ec1d06d071bcf836.rockstargames-modules-core-footerc1ac4227ecc3c60c4a623f13dd4609b6 img {
  filter: invert()
}

.rockstargames-modules-core-footerea8cf4797c830e5b5dad68b2ec814e67 {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-modules-core-footeracd86b7f5778381df8fac4a3f7489f60 {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 {
  grid-row-gap: var(--grid-gap-static-lg);
  background: var(--card-background-color);
  color: var(--body-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: var(--padding-top-bottom) var(--padding-sides)
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 div {
  flex-basis: 50%
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerbcf27b773b5b1ff535b821ee12e9617f:after {
  display: none !important
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 {
  flex-basis: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
  order: 0
}

@media (min-width:768px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 {
    align-items: center;
    flex-basis: 70%
  }
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b {
  justify-content: flex-start;
  order: 2
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b a:focus-visible,
footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b button:focus-visible {
  outline: auto
}

@media (min-width:768px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b {
    flex-basis: 70%
  }
}

@media (min-width:1920px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b {
    align-items: center
  }
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerb37b059d7f0363ae1c3ecdcbaa550800 {
  flex: 0;
  order: 1
}

@media (min-width:768px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerb37b059d7f0363ae1c3ecdcbaa550800 {
    display: flex;
    flex-basis: 30%;
    justify-content: flex-end
  }
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 {
  justify-content: flex-end;
  order: 3
}

@media (min-width:768px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 {
    flex-basis: 30%
  }
}

footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea {
  flex-basis: 100%;
  order: 4
}

@media (max-width:1023px) {
  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 {
    grid-row-gap: var(--grid-gap-static-xl);
    padding: var(--grid-gap-static-xl) var(--padding-sides)
  }

  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 div {
    flex-basis: 100%
  }

  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 {
    flex-basis: 50%
  }

  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 {
    justify-content: flex-start;
    order: 2
  }

  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b {
    order: 3
  }

  footer.rockstargames-modules-core-footerdc7cba777cf6589cf69816c269336f00 .rockstargames-modules-core-footerb37b059d7f0363ae1c3ecdcbaa550800 {
    order: 2
  }
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b button {
  text-wrap: nowrap;
  all: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: initial;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: var(--font-size-1);
  margin: 0;
  opacity: .65;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition: color .2s ease, opacity .2s ease
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b button:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b,
.rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

@media (max-width:767px) {

  .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b,
  .rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 {
    flex-direction: column
  }
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b a,
.rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 a {
  text-wrap: nowrap;
  transition: color .2s ease, opacity .2s ease
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b a:hover,
.rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 a:hover {
  color: var(--standard-color);
  opacity: 1
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b a[href^=http]:after,
.rockstargames-modules-core-footerbc3b6d69483f851dc763cf158d4cdab4 a[href^=http]:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6m4-3h6v6m-11 5L21 3%27/%3E%3C/svg%3E");
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 75%;
  content: "";
  display: inline-block;
  height: 1rem;
  margin-left: var(--grid-gap-static-xs);
  vertical-align: initial;
  width: 1rem
}

@media (max-width:1919px) {
  .rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b {
    flex-direction: column
  }
}

.rockstargames-modules-core-footerf853a5b845e59b2b47bfced9acc1007b a {
  text-wrap: nowrap;
  font-size: var(--font-size-1);
  opacity: .65
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 {
  grid-gap: var(--grid-gap-static-sm);
  display: flex
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 100%;
  height: calc(var(--base-pixel-size) * 2);
  width: calc(var(--base-pixel-size) * 2)
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footere0e1bcda46cda1dd75267cead52480ba {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M21 11.996a9 9 0 1 0-11.174 8.735v-5.984H7.97v-2.75h1.856V10.81c0-3.063 1.386-4.483 4.393-4.483.57 0 1.555.112 1.957.224v2.493a11.549 11.549 0 0 0-1.04-.034c-1.475 0-2.046.56-2.046 2.013v.972h2.94l-.505 2.75H13.09v6.184A9 9 0 0 0 21 11.995Z%27/%3E%3C/svg%3E")
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footere0e1bcda46cda1dd75267cead52480ba,
.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerd78334a62b571485ce1486cca503b093 {
  border: 8px solid transparent;
  box-sizing: initial
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerd78334a62b571485ce1486cca503b093 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M11.999 7.377a4.624 4.624 0 1 0 0 9.248 4.624 4.624 0 0 0 0-9.248Zm0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008Zm4.807-6.719a1.078 1.078 0 1 0 0-2.156 1.078 1.078 0 0 0 0 2.156Z%27/%3E%3Cpath fill=%27%23fff%27 d=%27M20.533 6.111A4.605 4.605 0 0 0 17.9 3.479a6.607 6.607 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.554 6.554 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.585 6.585 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71 0 2.442 0 2.753.056 3.71.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632 6.583 6.583 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.616 6.616 0 0 0 2.186-.419 4.613 4.613 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.583 6.583 0 0 0-.421-2.217Zm-1.218 9.532a5.046 5.046 0 0 1-.311 1.688 2.987 2.987 0 0 1-1.712 1.711 4.99 4.99 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a4.961 4.961 0 0 1-1.67-.311 2.985 2.985 0 0 1-1.718-1.711 5.08 5.08 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654 0-2.437 0-2.686.053-3.655a5.038 5.038 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5.01 5.01 0 0 1 1.669-.311c.95-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a4.96 4.96 0 0 1 1.67.311 2.99 2.99 0 0 1 1.712 1.712c.197.535.302 1.1.311 1.669.043.951.054 1.218.054 3.655 0 2.436 0 2.698-.043 3.654h-.011v-.001Z%27/%3E%3C/svg%3E")
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footera3569ad44c06400848d0532bac55e45f {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M22.963 6.517A2.863 2.863 0 0 0 20.95 4.5C19.16 4.008 12 4 12 4s-7.158-.008-8.949.462a2.925 2.925 0 0 0-2.018 2.031c-.472 1.79-.476 5.502-.476 5.502s-.005 3.73.464 5.5a2.863 2.863 0 0 0 2.014 2.018c1.808.491 8.948.499 8.948.499s7.16.008 8.949-.46a2.874 2.874 0 0 0 2.019-2.015c.473-1.788.476-5.499.476-5.499s.023-3.731-.465-5.52ZM9.711 15.433l.006-6.856 5.95 3.434-5.956 3.422Z%27/%3E%3C/svg%3E")
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerb40fc281fa4feb0138cf108246128331,
.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footera3569ad44c06400848d0532bac55e45f {
  border: 8px solid transparent;
  box-sizing: initial
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerb40fc281fa4feb0138cf108246128331 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 d=%27M13.61 11.003 19.634 4h-1.428l-5.23 6.08L8.796 4H3.98l6.317 9.195-6.317 7.343h1.427l5.524-6.42 4.413 6.42h4.818l-6.552-9.535Zm-1.956 2.273-.64-.916-5.093-7.285h2.192l4.11 5.88.641.915 5.343 7.643h-2.193l-4.36-6.237Z%27/%3E%3C/svg%3E")
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footeraabade562127b2d302f9dc3243057eca {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath fill=%27%23fff%27 fill-rule=%27evenodd%27 d=%27m6.998 3-3.57 3.571V19.43h4.285V23l3.57-3.571h2.857L20.567 13V3H6.998Zm12.14 9.286-2.856 2.857h-2.857l-2.499 2.5v-2.5H7.713V4.429h11.426v7.857Zm-2.142-5.357h-1.428v4.285h1.428V6.93Zm-5.355 0h1.428v4.285H11.64V6.93Z%27 clip-rule=%27evenodd%27/%3E%3C/svg%3E")
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerb0694e2043e208c34007295a1fd66056,
.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footeraabade562127b2d302f9dc3243057eca {
  border: 8px solid transparent;
  box-sizing: initial
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a.rockstargames-modules-core-footerb0694e2043e208c34007295a1fd66056 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 127.14 96.36%27%3E%3Cpath fill=%27%23fff%27 d=%27M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z%27/%3E%3C/svg%3E")
}

@media (max-width:767px) {
  .rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a {
    background-size: 75%
  }
}

.rockstargames-modules-core-footerce74f0f639a40e4a7c4a4e8fa02f6863 a:hover {
  background-color: hsla(0, 0%, 100%, .15)
}

.rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea {
  grid-gap: var(--grid-gap-static-sm);
  color: #fff;
  display: grid;
  font-family: var(--font-family-h);
  font-size: 75%;
  font-weight: 700;
  justify-items: center;
  margin-top: var(--grid-gap-static-md)
}

@media (min-width:768px) {
  .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    justify-content: space-between
  }

  .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea>:first-child,
  .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea>:last-child {
    width: 100%
  }

  .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea>:last-child {
    text-align: right
  }
}

.rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea .rockstargames-modules-core-footerf78ce296f6d4330685b053726a4ba8ec {
  grid-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: center
}

@media (min-width:768px) {
  .rockstargames-modules-core-footerfad3756f2a2b53d24b20c5038d31c4ea .rockstargames-modules-core-footerf78ce296f6d4330685b053726a4ba8ec {
    left: 50%;
    position: absolute;
    transform: translateX(-50%)
  }
}

/*# sourceMappingURL=4d906c9f180ecfaebb20ac4e50772fa2.css.map*/