.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7:focus,
.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7.rockstargames-sites-gta-gen9e5cce3088e494e8ddb9b0cf5528697a3 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9e6891f053f06919f1ef0dc72cafe9ae7.rockstargames-sites-gta-gen9e5cce3088e494e8ddb9b0cf5528697a3 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9eee874b61946e2a65886d622445e1c38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  gap: var(--grid-gap-xxs, 4px);
  height: .25rem
}

.rockstargames-sites-gta-gen9eee874b61946e2a65886d622445e1c38 .rockstargames-sites-gta-gen9bf9ed66cb83cf9a38bfc6fbb8e105fb7 {
  background-color: var(--white-40, hsla(0, 0%, 100%, .4));
  height: 4px;
  width: 100%
}

.rockstargames-sites-gta-gen9eee874b61946e2a65886d622445e1c38 .rockstargames-sites-gta-gen9cfa711252c08391d3a0f1ecd8728a61a {
  background-color: var(--white-100, #fff)
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa:focus,
.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b img {
  filter: invert()
}

.rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f {
  background-color: var(--white-15);
  border: 1px solid transparent;
  border-radius: 100px;
  color: var(--color-body);
  color: var(--white-100);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  min-width: 5rem;
  padding: var(--padding-xxs) var(--padding-sm);
  transition: background-color .3s ease-in-out, color .3s ease-in-out
}

.rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b {
  background-color: hsla(0, 0%, 100%, .15);
  background-color: var(--white-100);
  color: var(--black-200)
}

@media (hover:hover) {
  .rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f:not(.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b):hover {
    background-color: hsla(0, 0%, 100%, .15);
    background-color: var(--white-40)
  }
}

@media screen and (min-width:769px) {
  .rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f {
    padding: var(--padding-xs) var(--padding-sm)
  }
}

.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56:focus,
.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56.rockstargames-sites-gta-gen9ff5c3c023fc12b68c6bf92b560c479b1 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9e2e4b892ddcbdb2e09d3c3599a7e6c56.rockstargames-sites-gta-gen9ff5c3c023fc12b68c6bf92b560c479b1 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9d6ef486c5f60d41c5662b092336c1f52 {
  --cardHoverTransform: 1.02;
  --cardHoverTransition: 0.3s ease-in-out;
  aspect-ratio: 1;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  display: block;
  overflow: hidden;
  position: relative;
  transition: border .3s ease-in-out
}

.rockstargames-sites-gta-gen9d6ef486c5f60d41c5662b092336c1f52:hover {
  border-color: var(--white-100)
}

.rockstargames-sites-gta-gen9d6ef486c5f60d41c5662b092336c1f52:hover .rockstargames-sites-gta-gen9eb4637cb1c81d1def1fd92252f90d675 {
  background-size: calc(100% * var(--cardHoverTransform))
}

.rockstargames-sites-gta-gen9d6ef486c5f60d41c5662b092336c1f52:after {
  background: linear-gradient(180deg, transparent 30%, rgba(2, 2, 2, .9));
  bottom: 0;
  content: ""
}

.rockstargames-sites-gta-gen9d6ef486c5f60d41c5662b092336c1f52:after,
.rockstargames-sites-gta-gen9eb4637cb1c81d1def1fd92252f90d675 {
  height: 100%;
  position: absolute;
  width: 100%
}

.rockstargames-sites-gta-gen9eb4637cb1c81d1def1fd92252f90d675 {
  align-items: flex-start;
  background-image: var(--background-image);
  background-position: 50%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm, 16px);
  transition: background-size .3s ease-in-out
}

.rockstargames-sites-gta-gen9fcd5bbd0d1e3ebd45cf2cb372468e62c:before {
  background-color: var(--black-65);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.rockstargames-sites-gta-gen9a124ee1b0383d30157e84108cf10b83b {
  align-items: flex-start;
  align-self: stretch;
  bottom: 0;
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-h);
  gap: var(--grid-gap-xs, 8px);
  left: 0;
  line-height: var(--line-height-sm);
  padding: var(--padding-sm, 16px);
  position: absolute;
  width: 100%;
  z-index: 1
}

.rockstargames-sites-gta-gen9d42fb1fd7d553d75675a251df2a255ee {
  align-items: center;
  background: var(--white-100, #fff);
  border-radius: var(--border-radius-sm, 4px);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .35);
  display: flex;
  gap: .125rem;
  justify-content: center;
  padding: var(--padding-xxs, 4px) var(--padding-xs, 8px) var(--padding-xxs, 4px) var(--padding-xxs, 4px);
  z-index: 1
}

.rockstargames-sites-gta-gen9d42fb1fd7d553d75675a251df2a255ee .rockstargames-sites-gta-gen9cbc69eda17393995ac9d41a8b4b531e8 {
  cursor: pointer;
  filter: invert(1);
  height: 2rem;
  height: 1.25rem;
  padding: 0;
  position: relative;
  width: 2rem;
  width: 1.25rem
}

.rockstargames-sites-gta-gen9d42fb1fd7d553d75675a251df2a255ee .rockstargames-sites-gta-gen9cbc69eda17393995ac9d41a8b4b531e8:after {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cff5397b33c598c8fb52d0c4bd6a091d.svg) no-repeat 50%/1.5rem;
  background-size: 1rem;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s ease-in-out;
  width: 100%
}

.rockstargames-sites-gta-gen9d4649f3812d37e7407503d49dcaaba04 {
  color: var(--black-200, #000);
  font-family: ChaletComprime;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  line-height: 1;
  padding-top: 3px;
  text-align: center;
  text-transform: uppercase
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1:focus,
.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1.rockstargames-sites-gta-gen9f05732bff172f32532936ffdf636a215 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1.rockstargames-sites-gta-gen9f05732bff172f32532936ffdf636a215 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34 {
  align-items: center;
  background: var(--black-100);
  border: 1px solid var(--white-100, #fff);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  transition: filter .3s ease-in-out
}

@media (pointer:coarse) {

  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:active,
  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:focus {
    filter: invert(1)
  }
}

@media not ((pointer:coarse)) {

  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:focus,
  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:hover {
    filter: invert(1)
  }
}

.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a:focus,
.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a.rockstargames-sites-gta-gen9ff76988869bea7d18917be00339b2434 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9c0607ec9e0a3925181496fc555721e0a.rockstargames-sites-gta-gen9ff76988869bea7d18917be00339b2434 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f {
  height: calc(80vh);
  height: calc(80dvh);
  overflow-y: auto;
  padding-bottom: calc(var(--game-header-height) - 1rem);
  scrollbar-color: var(--white-15) transparent;
  scrollbar-width: auto
}

.rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f::-webkit-scrollbar {
  width: 8px
}

.rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f::-webkit-scrollbar-track {
  background: transparent
}

.rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f::-webkit-scrollbar-thumb {
  background-color: var(--white-15);
  border: none;
  border-radius: 10px
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f.rockstargames-sites-gta-gen9f6652e03be6ce55bd8f068900093a707 {
    height: calc(80vh - var(--game-header-height));
    height: calc(80dvh - var(--game-header-height))
  }
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f {
    height: calc(80vh - var(--game-header-height) - var(--game-header-height));
    height: calc(80dvh - var(--game-header-height) - var(--game-header-height))
  }
}

@supports not (aspect-ratio:16/9) {
  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f {
    position: relative
  }

  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f:before {
    content: "";
    display: block;
    padding-top: calc((9 / 16) * 100%);
    width: 100%
  }

  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f>.rockstargames-sites-gta-gen9a53b37fe7ab10b353eceea86123258a1 {
    bottom: 0;
    height: 100% !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important
  }
}

@supports (aspect-ratio:16/9) {
  .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f .rockstargames-sites-gta-gen9a53b37fe7ab10b353eceea86123258a1 {
    aspect-ratio: 16/9 !important;
    height: auto !important;
    width: 100% !important
  }
}

@media (min-width:768px) {
  @supports not (aspect-ratio:1/1) {
    .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f {
      position: relative
    }

    .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f:before {
      content: "";
      display: block;
      padding-top: calc((1 / 1) * 100%);
      width: 100%
    }

    .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f>.rockstargames-sites-gta-gen9a53b37fe7ab10b353eceea86123258a1 {
      bottom: 0;
      height: 100% !important;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100% !important
    }
  }

  @supports (aspect-ratio:1/1) {
    .rockstargames-sites-gta-gen9ffeeb1f272f99c5cb4711e4956c65f7f .rockstargames-sites-gta-gen9a53b37fe7ab10b353eceea86123258a1 {
      aspect-ratio: 1/1 !important;
      height: auto !important;
      width: 100% !important
    }
  }
}

.rockstargames-sites-gta-gen9a53b37fe7ab10b353eceea86123258a1 {
  opacity: 0;
  transform: translateY(50px)
}

.rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
  display: grid;
  gap: var(--grid-gap-sm);
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr)
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media screen and (min-width:1440px) {
  .rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
    grid-template-columns: repeat(5, 1fr)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9b85775dc95fb3881171ee42e49076cbf {
    grid-template-columns: repeat(6, 1fr)
  }
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b:focus,
.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b.rockstargames-sites-gta-gen9b7277764b073fb1731f97500d63602dd {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b.rockstargames-sites-gta-gen9b7277764b073fb1731f97500d63602dd img {
  filter: invert()
}

.rockstargames-sites-gta-gen9b12cbbc254604b2d0a9e23a794cc306b {
  position: relative
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93,
.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div {
  display: flex
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 1px
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div>* {
  flex: 0 0 auto;
  margin-right: var(--margin-xs)
}

.rockstargames-sites-gta-gen9e753e2314e48a7d59ead26e77cac50aa,
.rockstargames-sites-gta-gen9ce3553d0304e228596f67c2308240648 {
  align-items: center;
  background: var(--black-200);
  bottom: 0;
  display: flex;
  -webkit-mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-200) 70%);
  mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-200) 70%);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 4rem;
  z-index: 3
}

.rockstargames-sites-gta-gen9ce3553d0304e228596f67c2308240648 {
  --backgroundDegree: -90deg;
  left: -1px
}

.rockstargames-sites-gta-gen9e753e2314e48a7d59ead26e77cac50aa {
  --backgroundDegree: 90deg;
  justify-content: flex-end;
  right: -1px
}

.rockstargames-sites-gta-gen9ef938f00847374bd89f70d0e5b1f97a8,
.rockstargames-sites-gta-gen9f750c5a49886ae190c14e52aa026a417 {
  align-self: center;
  background: transparent;
  border: none;
  height: 2rem;
  pointer-events: all;
  position: relative;
  width: 2rem;
  z-index: 1
}

.rockstargames-sites-gta-gen9ef938f00847374bd89f70d0e5b1f97a8:hover,
.rockstargames-sites-gta-gen9f750c5a49886ae190c14e52aa026a417:hover {
  filter: none
}

.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9:focus,
.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9.rockstargames-sites-gta-gen9cce410d6b0f750e4332a82432812a32f {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9a06d15859ff923574165bb46a5f3d0c9.rockstargames-sites-gta-gen9cce410d6b0f750e4332a82432812a32f img {
  filter: invert()
}

.rockstargames-sites-gta-gen9aa2ce15f29ac99fe06895664698bb6cc {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  align-items: flex-end;
  background-color: var(--black-100);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9aa2ce15f29ac99fe06895664698bb6cc {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9aa2ce15f29ac99fe06895664698bb6cc {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-gta-gen9f2f85d11f6ee99282db61467ebdbd00f {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100dvh;
  max-height: calc(100vh - var(--dropdown-bar-height));
  max-height: calc(100dvh - var(--dropdown-bar-height));
  width: 100%
}

@media screen and (min-width:769px) {
  .rockstargames-sites-gta-gen9f2f85d11f6ee99282db61467ebdbd00f {
    max-height: calc(80vh - var(--dropdown-bar-height));
    max-height: calc(80dvh - var(--dropdown-bar-height))
  }
}

.rockstargames-sites-gta-gen9c5288c05172905ec86e3fb56c010d6d3 {
  padding: 1.5rem var(--padding-sm);
  position: relative
}

@media screen and (min-width:769px) {
  .rockstargames-sites-gta-gen9c5288c05172905ec86e3fb56c010d6d3 {
    padding: 1.5rem var(--padding-md)
  }
}

.rockstargames-sites-gta-gen9c8a45e31d035c8e867358deea365ceac,
.rockstargames-sites-gta-gen9e9684050ab2f4aa408ae565c740cf50c {
  background: var(--black-100);
  -webkit-mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-100) 70%);
  mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-100) 70%)
}

.rockstargames-sites-gta-gen9f1adea94eb32de966a0e622247370f4e {
  padding: 0 var(--padding-sm) var(--padding-sm)
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9f1adea94eb32de966a0e622247370f4e {
    padding: 0 var(--padding-md) var(--padding-md)
  }
}

/*# sourceMappingURL=03be0feb39d05214e93cc14a00f7af38.css.map*/