.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa:focus,
.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9db4bf6cb61b2370932e4811235d51afa.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b img {
  filter: invert()
}

.rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f {
  background-color: var(--white-15);
  border: 1px solid transparent;
  border-radius: 100px;
  color: var(--color-body);
  color: var(--white-100);
  cursor: pointer;
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  min-width: 5rem;
  padding: var(--padding-xxs) var(--padding-sm);
  transition: background-color .3s ease-in-out, color .3s ease-in-out
}

.rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b {
  background-color: hsla(0, 0%, 100%, .15);
  background-color: var(--white-100);
  color: var(--black-200)
}

@media (hover:hover) {
  .rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f:not(.rockstargames-sites-gta-gen9b691088f1c9719532c68ca7b97487e5b):hover {
    background-color: hsla(0, 0%, 100%, .15);
    background-color: var(--white-40)
  }
}

@media screen and (min-width:769px) {
  .rockstargames-sites-gta-gen9bfe6fefc1068ed81c8b38519a854285f {
    padding: var(--padding-xs) var(--padding-sm)
  }
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1:focus,
.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1.rockstargames-sites-gta-gen9f05732bff172f32532936ffdf636a215 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9f5c8cbcdc2408c602e1d5c5ef98091a1.rockstargames-sites-gta-gen9f05732bff172f32532936ffdf636a215 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34 {
  align-items: center;
  background: var(--black-100);
  border: 1px solid var(--white-100, #fff);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0;
  transition: filter .3s ease-in-out
}

@media (pointer:coarse) {

  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:active,
  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:focus {
    filter: invert(1)
  }
}

@media not ((pointer:coarse)) {

  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:focus,
  .rockstargames-sites-gta-gen9ef8ca38f98b731ff5dfe07937b1bbe34:hover {
    filter: invert(1)
  }
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b:focus,
.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b.rockstargames-sites-gta-gen9b7277764b073fb1731f97500d63602dd {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9c07e609b8b71ab690ceb8c0ce0a10e3b.rockstargames-sites-gta-gen9b7277764b073fb1731f97500d63602dd img {
  filter: invert()
}

.rockstargames-sites-gta-gen9b12cbbc254604b2d0a9e23a794cc306b {
  position: relative
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93,
.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div {
  display: flex
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 1px
}

.rockstargames-sites-gta-gen9fde4c31ca848c29a1064a0fee3686f93>div>* {
  flex: 0 0 auto;
  margin-right: var(--margin-xs)
}

.rockstargames-sites-gta-gen9e753e2314e48a7d59ead26e77cac50aa,
.rockstargames-sites-gta-gen9ce3553d0304e228596f67c2308240648 {
  align-items: center;
  background: var(--black-200);
  bottom: 0;
  display: flex;
  -webkit-mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-200) 70%);
  mask-image: linear-gradient(var(--backgroundDegree), transparent, var(--black-200) 70%);
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 4rem;
  z-index: 3
}

.rockstargames-sites-gta-gen9ce3553d0304e228596f67c2308240648 {
  --backgroundDegree: -90deg;
  left: -1px
}

.rockstargames-sites-gta-gen9e753e2314e48a7d59ead26e77cac50aa {
  --backgroundDegree: 90deg;
  justify-content: flex-end;
  right: -1px
}

.rockstargames-sites-gta-gen9ef938f00847374bd89f70d0e5b1f97a8,
.rockstargames-sites-gta-gen9f750c5a49886ae190c14e52aa026a417 {
  align-self: center;
  background: transparent;
  border: none;
  height: 2rem;
  pointer-events: all;
  position: relative;
  width: 2rem;
  z-index: 1
}

.rockstargames-sites-gta-gen9ef938f00847374bd89f70d0e5b1f97a8:hover,
.rockstargames-sites-gta-gen9f750c5a49886ae190c14e52aa026a417:hover {
  filter: none
}

/*# sourceMappingURL=0683eb8bf2cd76c21d931fd8f9cd21d9.css.map*/