.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1:focus,
.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1.rockstargames-sites-gta-gen9a78625dd99b3b7e1f813f9edd11b5d55 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9de6a134c9245d58a11473eb55bd5acb1.rockstargames-sites-gta-gen9a78625dd99b3b7e1f813f9edd11b5d55 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 {
  align-content: flex-start;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, .85);
  display: grid;
  height: 100vh;
  left: 0;
  padding: var(--header-height) 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: translateY(-100%);
  transition: transform .3s ease-in-out .1s;
  width: 100vw;
  z-index: 99
}

@supports not ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
  .rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 {
    background: var(--black-200)
  }
}

.rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 a {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  opacity: 0;
  padding: var(--padding-sm) var(--padding-sides);
  transition: background .3s ease-in-out, opacity .1s ease-out
}

.rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 a:hover {
  background: var(--white-15)
}

@media (min-width:1024px) {
  .rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 {
    display: none
  }
}

.rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 a[href^=http] {
  grid-gap: var(--grid-gap-xs);
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start
}

.rockstargames-sites-gta-gen9d84f65970dcf088120c73ce75722e823 a[href^=http]:before {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e72676e3d94dc300e2fa2e5db09b843b.svg) 50%/contain no-repeat;
  content: "";
  order: 1;
  width: .75rem
}

.rockstargames-sites-gta-gen9f9ca04b26905897a1bd181dedf274082 {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: transform .3s ease-in
}

.rockstargames-sites-gta-gen9f9ca04b26905897a1bd181dedf274082 a {
  opacity: 1;
  transition: background .3s ease-in-out, opacity .3s ease-in .3s
}

.rockstargames-sites-gta-gen9fdeda17c572603d3f44074da466a065a {
  color: var(--standard-color) !important
}

.rockstargames-sites-gta-gen9dba59499dbf2e8e419dd99a9fc7d6076 {
  padding-bottom: 0;
  padding-top: 0
}

.rockstargames-sites-gta-gen9b0873f44e23d9e10070f02bfaddaadec {
  padding: 0
}

.rockstargames-sites-gta-gen9c0b299658372e7cfff111eb908a513f5 {
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: 860px;
  padding: var(--padding-top-bottom) var(--padding-sides);
  text-align: center;
  width: 100%
}

.rockstargames-sites-gta-gen9c0b299658372e7cfff111eb908a513f5 h1 {
  margin-bottom: 1rem
}

.rockstargames-sites-gta-gen9c0b299658372e7cfff111eb908a513f5 form textarea {
  background: #191919;
  border: none;
  color: #fff;
  display: block;
  font-family: inherit;
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
  resize: none;
  text-align: left;
  width: 100%
}

.rockstargames-sites-gta-gen9c0b299658372e7cfff111eb908a513f5 form button {
  background: #c00;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 1rem
}

.rockstargames-sites-gta-gen9c0b299658372e7cfff111eb908a513f5 form button:hover {
  color: #fff
}

.rockstargames-sites-gta-gen9da97feb00e247cefda4f8648ed9601d2 {
  font-size: .825em;
  line-height: 1.3;
  margin-top: .5rem
}

.rockstargames-sites-gta-gen9b956fa10b9dd1e3141282729ca66b8ab {
  margin-bottom: var(--section-margin-bottom)
}

.rockstargames-sites-gta-gen9c0cd90cf9226c370d9437f6a6923563a {
  padding: 12px
}

.rockstargames-sites-gta-gen9c0cd90cf9226c370d9437f6a6923563a:empty {
  display: none
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e {
  font-family: var(--game-header-family)
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e a {
  display: block
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9ebe7435bf42b20b8fd46c465015e296a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/baa032870d03761636b17aac2c11a5fb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9cddea56d770073edb27000b84f5759c7:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2fc6dc87873f88e7bb39f52783630fb7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9a03def07f9babec4718547f312fd1fad:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4e58f8c3b6d8808a9aa17c735978f03e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9f7ed38a0c23b3f3ff8a11c664e5a187c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/296b528dd0f3d88686021eb63b56776d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9c518c6421c7bc2a60164827ca2b7c5c1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/badb4d05a59955b4b58bffa4d7f7ef90.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9caff8925b6c42730a8eff95b2f4b3662:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebc40b6e6d4a162948865af934ce55cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9a1be63b4a1aaf7747ac2bc693577fe28:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/def0e58e0879b7d1c9a5bdf555e838e5.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9e068839f3dc490d08ff5d2735073ad03:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dd680de47a094378fa317457f99f1b59.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9a6ff4a0372c7eeebc3ec599c3e179a87:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8823ba294e06184db09624bc8146de66.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9c664dbcd5d16b18da454f35d3d10204f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/be42539a97ae0fbb187272a613903928.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9c3f0788cd690e7eff7ab110848f9e1fe:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8dac20aeec043a8c6dab5702d322a28e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9c06b81a0ec32b2a046fcbfb1b565fdb1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/19b94865eef6caef6c0d32810c2bcd48.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9fba3a23ce6633a515bcb2c272b9ce202:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0c35269d4001f4ad49ffa0cd176890f6.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9a676c460ed19d0f2c7f3d50e44a0c779:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/05aa1ea95d3c9b4ce972796ba782de70.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 a.rockstargames-sites-gta-gen9c2c55860b00e0cde31b89e2dfdfa12c1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fe5047d4494cc7f2b917ea03f00500de.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 a {
  border: 1px solid #cfcfd1;
  border-radius: 6px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a {
  border-bottom: 1px solid #cfcfd1
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9a84a1d2ca90298d816b08b78a8a598b3 .rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  display: none
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9ebe7435bf42b20b8fd46c465015e296a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d9dd1f6e7267e80b91394362213baa9.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9bf4ea94fdf1b54048332990ea1a770e1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/54260d9e704246890fdee61a9ee573cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9fa3b86d76a957b590b4af7b378a063ee:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4ec3379fea78b0719b2f8885d75dfefb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9c9c48f11d35be00cacb50d4ca5ad8816:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d2b7bdc21f70d49802f34bfdc36101cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9c9dc9903a673a8944c29c923103c4775:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9a24bc02ca1eaec3706e04d6b40076530:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9a5292a9328677ab05cfae18ec5d7f763:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a7511e9a7a4386d83038af497acc8c0.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9b202ec09f80cc0a590ce74d87ac373a0:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/14725123b261e940fa47593d5f5bd26a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9a09406aba22d0295bb6b2129bc25ee9f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c4d26921f28919b8be95a38836b46bd.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9b646edd702c8c0d7ff6b9db031b3991f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/248ba2222c6510a84a28a16d9d31eac8.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9d7cc35b0aca38b339fa9fab192b6ce6c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9ff7ff17d2625fac2a1b3a1bb95ceb04a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4c21f7fffe733af8e4c33202d03a38df.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9d002d2aaeec2d87008b7cb632a66f7b6:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9e80f0f690e22316eb86dac223399ee16:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/af2ba0eb7feee09f172363e5377abe3d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9f94831238186c0f7e6613fcef260d99c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c84d7054b0c9da9cbf72cbcfd034a39.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9e5ab646651d87a9a38574d5361504b92:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d69145b5edb9904a8b437f85fa26219.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9fc49e9c38c6c284202bb16dd750efb8d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebfe0ea93779dddb8bee56e8aa07b3c7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9ccbfbea429f3f7ae9f35a08d7a040fbd:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9c02edcd1f33cd9c3449313a59211ca22:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9a03def07f9babec4718547f312fd1fad:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9c376b4e3f131b3719bfb76c2103ba2d0:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9d08da6b016fe7379ea21681c8af0b93f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9ff544136c96967ac76ed032a650bd510:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cd121dcbabd8470e0df3dc6f64c4d7a3.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9a10b40981fb579f1c050e64a7cd1b269:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9dbac115128cc0c247167e66355e4d6ff:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e9ae20545f33df248a25e0c89476d14e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af a.rockstargames-sites-gta-gen9b6c659ddb093c77dc454ac14857804cf:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6798b2316d4cf14e06206e912cffecc7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 a {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/24a9bf775210b3ac386552322ae2e1a9.png)
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a {
  border-bottom: 1px solid #fff
}

.rockstargames-sites-gta-gen9f83ef3f9961d98fb6cae662610fc2c5e.rockstargames-sites-gta-gen9e59cc897c2f88470fcb45c4d3563e8af .rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  height: 30px;
  margin-right: 12px;
  width: 30px
}

.rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: flex;
  display: grid;
  font-size: 1.1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 a {
  padding: 1rem
}

.rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 a,
.rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 {
  display: flex;
  flex-flow: column
}

.rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 {
  margin-bottom: calc(var(--section-margin-bottom) / 2)
}

.rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a {
  align-items: center;
  color: var(--standard-color);
  display: flex;
  flex: 1 1 100%;
  padding: .75rem
}

.rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58:empty,
.rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9:empty {
  display: none
}

.rockstargames-sites-gta-gen9daa8cc1c70c4f3c67fa9617602d18c58 a:before,
.rockstargames-sites-gta-gen9af7b6ca5158f8ccc18e615ec5c03b3e9 a:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block
}

.rockstargames-sites-gta-gen9f070763a1255e4312a53341b5fd10fbc {
  --padding-sides: 1rem;
  --standard-color: #fff
}

.rockstargames-sites-gta-gen9f070763a1255e4312a53341b5fd10fbc * :before {
  filter: invert(100%) sepia(0) saturate(7484%) hue-rotate(239deg) brightness(104%) contrast(105%)
}

.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079:focus,
.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079.rockstargames-sites-gta-gen9edbd3978d17b9c2b7bc65ff7a5ebdb5b {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9aeebc224bd5adfd96a98f9736ee33079.rockstargames-sites-gta-gen9edbd3978d17b9c2b7bc65ff7a5ebdb5b img {
  filter: invert()
}

.rockstargames-sites-gta-gen9dc8c1ccf7688e80181a16b7b473a312b {
  bottom: 0;
  position: sticky
}

@media (min-width:1024px) {
  .rockstargames-sites-gta-gen9dc8c1ccf7688e80181a16b7b473a312b {
    display: none
  }
}

.rockstargames-sites-gta-gen9e3de050ace77d95d7776b954bee219bd {
  display: flex;
  flex-flow: column;
  position: relative
}

.rockstargames-sites-gta-gen9e3de050ace77d95d7776b954bee219bd button {
  all: unset
}

.rockstargames-sites-gta-gen9e3de050ace77d95d7776b954bee219bd button,
.rockstargames-sites-gta-gen9b5aebbbb5f6341a92b3202462cfb9f6f {
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: rgba(0, 0, 0, .7);
  padding: var(--padding-sm) calc(var(--padding-sm) + var(--padding-sides))
}

.rockstargames-sites-gta-gen9b5aebbbb5f6341a92b3202462cfb9f6f {
  bottom: 100%;
  display: grid;
  left: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity .3s ease-in-out;
  width: 100%
}

.rockstargames-sites-gta-gen9b5aebbbb5f6341a92b3202462cfb9f6f a {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  padding: var(--padding-sm) calc(var(--padding-sides) + var(--padding-xs))
}

.rockstargames-sites-gta-gen9b5aebbbb5f6341a92b3202462cfb9f6f a.rockstargames-sites-gta-gen9f30de8480b4801fa119e54ae7141ee0c {
  font-weight: 700
}

.rockstargames-sites-gta-gen9ffd5c0107796ecaf1116e380395f148e {
  opacity: 1;
  pointer-events: auto
}

.rockstargames-sites-gta-gen9eaeb117af03214aa0f78fd85d4028bb7 {
  --guide-nav-width: 27.5vw;
  --carousel-max-width: 100vw;
  --carousel-swiper-max-width: 100vw;
  align-content: flex-start;
  display: grid;
  height: 100%
}

@media (min-width:1024px) {
  .rockstargames-sites-gta-gen9eaeb117af03214aa0f78fd85d4028bb7 {
    --carousel-max-width: calc(100vw - var(--guide-nav-width));
    --carousel-swiper-max-width: calc(100vw - var(--guide-nav-width));
    align-content: stretch;
    grid-auto-flow: column;
    grid-template-columns: var(--guide-nav-width) 1fr
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-gta-gen9eaeb117af03214aa0f78fd85d4028bb7 {
    --guide-nav-width: 25vw
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-gta-gen9eaeb117af03214aa0f78fd85d4028bb7 {
    --guide-nav-width: 20vw
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9eaeb117af03214aa0f78fd85d4028bb7 {
    --guide-nav-width: 15vw
  }
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] {
  --text-overlay-title-font: var(--gta-font-family-h) !important;
  --text-overlay-text-transform: none !important;
  --callout-section-header-font: var(--gta-font-family-h) !important;
  --callout-section-header-text-transform: none !important;
  --callout-section-subheader-text-transform: none !important
}

@font-face {
  font-family: ITCMachine;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/e2bc5e1de875d695135d15db92a6e7a1.woff) format("woff")
}

@font-face {
  font-family: ITCMachine;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/19c1282af6518115a47ce33574933452.woff) format("woff")
}

@font-face {
  font-family: ITCMachineCyr;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/833df8714c622b68b15fc955690d73a0.woff) format("woff")
}

@font-face {
  font-family: ITCMachineCyr;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/0d54f0bec90d46ed006fe854aeb4e142.woff) format("woff")
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"],
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] {
  --gold-9998: #f4c220;
  --theme-header-fonts: "ITCMachineCyr", CorporateW05, ChaletComprime, NeueHelveticaW05, NotoSansJP, NotoSansSC, NotoSansTC, Helvetica, Arial, sans-serif;
  --badge-text-color: var(--black-200, #000);
  --badge-background: var(--gold-9998);
  --badge-margin: 1rem;
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/84fd9d5fdcee26ee997e1aa122d2f748.jpg);
  background-position: top;
  background-repeat: repeat;
  background-size: contain
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] .rockstargames-sites-gta-gen9c5cd4bc6637d72e40bbf84066616c876,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] [data-context=discounts] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] h3,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] .rockstargames-sites-gta-gen9c5cd4bc6637d72e40bbf84066616c876,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] [data-context=discounts] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] h3 {
  --color-h-dynamic: var(--gold-9998);
  font-family: var(--theme-header-fonts);
  font-weight: 400;
  text-transform: uppercase
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] [data-context=discounts] h3,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] [data-context=discounts] h3 {
  font-family: var(--theme-header-fonts)
}

@media (min-width:1024px) {

  .rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] [data-context=parallax-wrapper],
  .rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] [data-context=parallax-wrapper] {
    height: 55vh
  }
}

@media (min-width:2350px) {

  .rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9998"] [data-context=parallax-wrapper],
  .rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9998"] [data-context=parallax-wrapper] {
    height: 60vh
  }
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9997"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9997"] h2,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9997"] h3,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9997"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9997"] h2,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9997"] h3 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(75.23deg, #94979a 3.33%, #94979a 14.64%, #c4c5ca 26.9%, #c4c5ca 31.62%, #c4c5ca 38.02%, #acafb2 58.02%, #b4b9bd 68.96%, #94979a 97.62%);
  -webkit-background-clip: text
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9996"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9996"] h2,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9996"] h3,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9996"] h1,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9996"] h2,
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9996"] h3 {
  --font-family-h: RDRUltraHeadline;
  --font-weight-h: 400
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9996"] :lang(pl_pl),
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] [data-theme="9996"] :lang(ru_ru),
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9996"] :lang(pl_pl),
.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"][data-theme="9996"] :lang(ru_ru) {
  --font-family-h: Impact !important;
  --text-transform-h1: uppercase;
  --text-transform-newswire-subtitle: uppercase
}

.rockstargames-sites-gta-gen9f7e42e7491093e80b413a2892ed61ffe[data-root="/gta-plus"] [data-theme="9998"] h2 {
  --color-h: var(--gold-9998);
  --color-h-dynamic: var(--gold-9998);
  --claim-countdown-left-color: #fff !important;
  --claim-countdown-right-color: var(--gold-9998);
  font-family: var(--theme-header-fonts);
  font-weight: 400;
  text-transform: uppercase
}

.rockstargames-sites-gta-gen9b0093976ff3d5d9725a25fa8bf9ef956 {
  background: var(--black-100);
  display: flex;
  flex-direction: column;
  width: 100%
}

.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800:focus,
.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800.rockstargames-sites-gta-gen9c9d60d7622c55fdb3bff46f0ff22be92 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9a9a064625c29810f9bf1de38aba96800.rockstargames-sites-gta-gen9c9d60d7622c55fdb3bff46f0ff22be92 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --gen9-max-width: 2560px;
  --content-max-width: var(--gen9-max-width);
  --padding-sides: var(--padding-lg);
  --content-padding: 0 var(--padding-sides);
  display: flex;
  flex: 1;
  justify-content: center
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@font-face {
  font-family: ChaletComprime;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/95ca59e1c2cf140daa8b024c6a139e4c.woff) format("woff")
}

@font-face {
  font-family: ChaletComprime;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/aa2a7321d65db9f2de3cafabeb37e354.woff) format("woff")
}

@font-face {
  font-family: Chalet;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ee9fe642d516bd426445b83dfe08cd39.woff) format("woff")
}

@font-face {
  font-family: Chalet;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ef44f43ca79bb1aee29fbc2d457e7dee.woff) format("woff")
}

@font-face {
  font-family: Pricedown;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/099c158b47220bfa6b52c3aaf2ff3753.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaW05;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/a531a5aaeac0ada2930fd697606d7e9e.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaW05;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/0c60fa85dfc771ab4d15d175246263b5.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaW05;
  font-style: normal;
  font-weight: 900;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/acbb38cbe0ae2cdfc5f72a96cd32fe86.woff) format("woff")
}

@font-face {
  font-family: FrizQuadrataW05;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/e4be9aed1e8beccc21ffb995f0a89da0.woff) format("woff")
}

@font-face {
  font-family: FrizQuadrataW05;
  font-style: italic;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/db765ccb047ec8429212c1a913914694.woff) format("woff")
}

@font-face {
  font-family: FrizQuadrataW05;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/202c95f3c4658c54223b0f4166bd3825.woff) format("woff")
}

@font-face {
  font-family: FrizQuadrataW05;
  font-style: italic;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/a5e4e77906b6b4b3cbf21f4c26271861.woff) format("woff")
}

@font-face {
  font-family: CorporateW05;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/a8da93d3b93aa6f5b995c8fca0a49d56.woff) format("woff")
}

@font-face {
  font-family: NimbusSansW05;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/f09f2d938e708e14f4211b5c41b1ae2c.woff) format("woff")
}

@font-face {
  font-family: NimbusSansW05;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/c70a0570c2d0687a208d5612623a9fdc.woff) format("woff")
}

@font-face {
  font-family: EurostileNextW05;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/63234fb79c05a628350bb714e8b70f1d.woff) format("woff")
}

@font-face {
  font-family: Diploma;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/bc4df074e2a0a7a841c564dba3e08fe8.woff) format("woff")
}

@font-face {
  font-family: BrushScriptMT;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/ab64825965d1d9e6e8721c549ca9b65a.woff) format("woff")
}

@font-face {
  font-family: BankGothicBT;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/59de0d7e9b43e1cc0cab80a770e9efe6.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaPaneuropean;
  font-style: italic;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/b2ebeec4803f0df250c5e20b396162b4.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaPaneuropean;
  font-style: normal;
  font-weight: 700;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/c02857e0585008d14d216e4a43b8c746.woff) format("woff")
}

@font-face {
  font-family: NeueHelveticaPaneuropean;
  font-style: normal;
  font-weight: 400;
  src: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/fonts/bf1c99f9a5316689221de8a3540abf38.woff) format("woff")
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(pl_pl) {
  --font-family-h: NeueHelveticaPaneuropean;
  --font-family-std: NeueHelveticaPaneuropean
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(ru_ru) {
  --font-family-h: NeueHelveticaPaneuropean
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=pl],
.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=ru] {
  font-family: NeueHelveticaPaneuropean !important
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(zh_hans) {
  --font-family-h: ChaletComprime, NotoSansSC;
  --font-family-body: NotoSansSC
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=zh] {
  font-family: ChaletComprime, NotoSansSC !important
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(zh_tw) {
  --font-family-h: ChaletComprime, NotoSansTC;
  --font-family-body: NotoSansTC
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=tw] {
  font-family: ChaletComprime, NotoSansTC !important
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(ja_jp) {
  --font-family-h: ChaletComprime, NotoSansJP;
  --font-family-body: NotoSansJP
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=jp] {
  font-family: ChaletComprime, NotoSansJP !important
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 :lang(ko_kr) {
  --font-family-h: ChaletComprime, NotoSansKR;
  --font-family-body: NotoSansKR
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 [data-type-lang=kr] {
  font-family: ChaletComprime, NotoSansKR !important
}

@media (min-width:1920px) {
  .rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 {
    --padding-sides: var(--padding-xl)
  }
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h1 {
  font-size: calc(var(--font-size-8) * var(--header-multiplier))
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h1,
.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h2 {
  color: var(--color-override, var(--color-h));
  font-family: var(--font-family-h);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h2 {
  font-size: calc(var(--font-size-7) * var(--header-multiplier))
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h3 {
  font-size: calc(var(--font-size-6) * var(--header-multiplier))
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h3,
.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h4 {
  color: var(--color-override, var(--color-h));
  font-family: var(--font-family-h);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h4 {
  font-size: calc(var(--font-size-5) * var(--header-multiplier))
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h5 {
  color: var(--color-override, var(--color-h));
  font-family: var(--font-family-h);
  font-size: calc(var(--font-size-4) * var(--header-multiplier));
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md)
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 h5,
.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 p {
  font-weight: var(--font-weight-regular)
}

.rockstargames-sites-gta-gen9deaacbee4aef528355067efdd6b118c2 p {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

/*# sourceMappingURL=2de7144d6e0bad1a84d02b5779d6a8dc.css.map*/