.rockstargames-sites-gta-gen9ac767e959939b4d56b2358cb263d07ad {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: var(--grid-gap-static-lg);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

[data-game=rdo][data-template=halloween] .rockstargames-sites-gta-gen9ac767e959939b4d56b2358cb263d07ad {
  --grid-gap-static-lg: 0
}

[data-game^=gta] .rockstargames-sites-gta-gen9fabefc39343f6c494eb3d049757d89c5 h4 {
  font-family: var(--font-family-std);
  font-size: var(--font-size-4)
}

[data-game=rdo] .rockstargames-sites-gta-gen9fabefc39343f6c494eb3d049757d89c5 h4,
[data-game^=rdr] .rockstargames-sites-gta-gen9fabefc39343f6c494eb3d049757d89c5 h4 {
  --color-h: #e8e8e8;
  font-family: var(--font-family-std)
}

.rockstargames-sites-gta-gen9e9e0ef1bfc3699b1e50c33dd0ce8e76a {
  padding-top: 1.5rem
}

.rockstargames-sites-gta-gen9d38af92e8657708abd3dc5295e62476c {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: initial;
  --grid-gap-dynamic: var(--grid-gap-static-lg);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893,
.rockstargames-sites-gta-gen9d38af92e8657708abd3dc5295e62476c {
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  --background-color: var(--image-title-text-background, transparent);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  background-color: var(--background-color, transparent)
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h1,
.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h1.rockstargames-sites-gta-gen9c638acf4c0c3b605c644c413db473d60 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h4,
.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h5,
.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 figure>div {
  --padding-sides: 0px
}

.rockstargames-sites-gta-gen9a9b63d3aa2f18fa6c84b19c8993a7893 .rockstargames-sites-gta-gen9bc47d354556b20071313d2c1ccc3debd {
  --description-area-margin-top: 0px
}

/*# sourceMappingURL=437118fbb8e8fa44fbec5fb8636e8f35.css.map*/