.rockstargames-sites-gta-gen9b28a6ee32abeb20049b97677a86a4314,
.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970 {
  display: block;
  height: calc(var(--logo-size, 50px) * .85);
  position: relative;
  width: calc(var(--logo-size, 50px) * .85)
}

.rockstargames-sites-gta-gen9b28a6ee32abeb20049b97677a86a4314,
.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970 {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg) no-repeat 50%/contain
}

@keyframes rockstargames-sites-gta-gen9d6728a4f86b3fc0b6ef1440dc156a483 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 3px)
  }

  40% {
    transform: translate(-1px, -1px)
  }

  60% {
    transform: translate(1px, 2px)
  }

  80% {
    transform: translate(1px, 1px)
  }

  to {
    transform: translate(0)
  }
}

@keyframes rockstargames-sites-gta-gen9e719e0ff7fd6e7b303d7422ade6f5fb5 {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(1px, -2px)
  }

  40% {
    transform: translate(-1px, 1px)
  }

  60% {
    transform: translate(-1px, -1px)
  }

  80% {
    transform: translateY(1px)
  }

  to {
    transform: translate(0)
  }
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:after,
.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:before {
  background: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/c46845952588bf44125a37117d4da32c.svg) no-repeat 50%/contain;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  transition: filter .1s;
  width: 100%
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:before {
  z-index: -1
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:after {
  z-index: -2
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:hover:after,
.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:hover:before {
  opacity: 1
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:hover:before {
  animation: rockstargames-sites-gta-gen9d6728a4f86b3fc0b6ef1440dc156a483 .4s 2 both;
  filter: invert(55%) sepia(80%) saturate(301%) hue-rotate(148deg) brightness(93%) contrast(91%)
}

.rockstargames-sites-gta-gen9a3d920a1139575706b914bc3a0100970:hover:after {
  animation: rockstargames-sites-gta-gen9e719e0ff7fd6e7b303d7422ade6f5fb5 .4s 2 both;
  filter: invert(48%) sepia(83%) saturate(4695%) hue-rotate(329deg) brightness(84%) contrast(107%)
}

.foundry_v1yii71 {
  width: var(--foundry-global-spacing-dimensions-200-2fbf5420);
  height: var(--foundry-global-spacing-dimensions-200-2fbf5420);
}

.foundry_v1yii72 {
  width: var(--foundry-global-spacing-dimensions-250-1db78665);
  height: var(--foundry-global-spacing-dimensions-250-1db78665);
}

.foundry_v1yii73 {
  width: var(--foundry-global-spacing-dimensions-300-8149e8c1);
  height: var(--foundry-global-spacing-dimensions-300-8149e8c1);
}

.foundry_v1yii74 {
  width: var(--foundry-global-spacing-dimensions-400-b120da78);
  height: var(--foundry-global-spacing-dimensions-400-b120da78);
}

.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3:focus,
.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3.rockstargames-sites-gta-gen9fe1d16bf20b328b81548691d8afbb52f {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9c1cf6de7971ef0a6a6696644a85e0da3.rockstargames-sites-gta-gen9fe1d16bf20b328b81548691d8afbb52f img {
  filter: invert()
}

@keyframes rockstargames-sites-gta-gen9ede7300a2d26c12d6be6cdef3195dc81 {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e {
  align-items: center;
  animation: rockstargames-sites-gta-gen9ede7300a2d26c12d6be6cdef3195dc81 .3s ease-in-out;
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-200);
  justify-content: center;
  min-height: var(--foundry-global-spacing-dimensions-1000);
  overflow: hidden;
  padding: var(--foundry-global-spacing-gap-200) var(--foundry-global-spacing-gap-200);
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e {
    flex-direction: row;
    justify-content: space-between
  }
}

[data-state] .rockstargames-sites-gta-gen9b1fe23bea3f2fba242edd0a1fc405b03 {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--foundry-global-spacing-gap-150);
  height: -moz-min-content;
  height: min-content;
  justify-items: center;
  width: 100%
}

[data-state] .rockstargames-sites-gta-gen9b0bba94052845aef23c56859a95b5c24 {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  height: var(--foundry-global-spacing-dimensions-400);
  justify-content: center;
  width: var(--foundry-global-spacing-dimensions-400)
}

[data-state] .rockstargames-sites-gta-gen9c1b4445e027468d78369dd46b19839ba {
  align-items: center;
  display: flex;
  font-size: var(--foundry-alias-font-size-body-paragraph);
  font-weight: var(--foundry-alias-font-weight-bold)
}

[data-state] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008 {
  width: 100%
}

@media (min-width:768px) {
  [data-state] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008 {
    width: auto
  }
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=success] {
  background: var(--foundry-alias-color-background-twotone-success)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=success] .rockstargames-sites-gta-gen9b1fe23bea3f2fba242edd0a1fc405b03 {
  color: var(--foundry-alias-color-text-standard)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=success] .rockstargames-sites-gta-gen9b0bba94052845aef23c56859a95b5c24 {
  color: var(--foundry-alias-color-icon-success)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] {
  background: var(--foundry-global-color-grey-adaptive-300)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9b1fe23bea3f2fba242edd0a1fc405b03 {
  color: var(--foundry-alias-color-text-standard)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9b0bba94052845aef23c56859a95b5c24 {
  color: var(--foundry-alias-color-text-standard)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008 {
  background: var(--foundry-global-color-white-static-100);
  border: none;
  color: var(--foundry-global-color-black-static-100)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008:active,
.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008:focus,
.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=default] .rockstargames-sites-gta-gen9c054ca052ed2ce9a96787dea8065b008:hover {
  background: var(--foundry-global-color-grey-static-300);
  border-color: var(--foundry-global-color-white-static-100)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=alert] {
  background: var(--foundry-global-color-grey-adaptive-300)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=alert] .rockstargames-sites-gta-gen9b1fe23bea3f2fba242edd0a1fc405b03 {
  color: var(--foundry-alias-color-text-standard)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=alert] .rockstargames-sites-gta-gen9b0bba94052845aef23c56859a95b5c24 {
  color: var(--foundry-alias-color-text-warning)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=disabled] {
  background: var(--foundry-global-color-grey-adaptive-200)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=disabled] .rockstargames-sites-gta-gen9b1fe23bea3f2fba242edd0a1fc405b03 {
  color: var(--foundry-alias-color-text-disabled)
}

.rockstargames-sites-gta-gen9a9cebeeb3af7469d45a5139a0606b21e[data-state=disabled] .rockstargames-sites-gta-gen9b0bba94052845aef23c56859a95b5c24 {
  color: var(--foundry-alias-color-text-disabled)
}

.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9:focus,
.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9.rockstargames-sites-gta-gen9a6776e0978db0c0adadf94072879daa2 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9b180b8bf20391f62d9648500f47cdce9.rockstargames-sites-gta-gen9a6776e0978db0c0adadf94072879daa2 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9a4f82184864de494be7bba0adebc65dc {
  backdrop-filter: "blur(50px)";
  background-color: rgba(0, 0, 0, .85);
  inset: 0;
  z-index: 999
}

.rockstargames-sites-gta-gen9f62947059d0ce17aef7e4307e3e49b66,
.rockstargames-sites-gta-gen9a4f82184864de494be7bba0adebc65dc {
  animation: rockstargames-sites-gta-gen9d29271cdfaf4640c5ec9930bca82812f .3s ease-in-out;
  display: flex;
  position: fixed
}

.rockstargames-sites-gta-gen9f62947059d0ce17aef7e4307e3e49b66 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  align-items: flex-start;
  background: var(--black-100);
  border: 1px solid var(--border-color);
  border-radius: var(--foundry-global-border-radius-100);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .45);
  flex-direction: column;
  justify-content: flex-start;
  left: 50%;
  max-height: 85vh;
  max-width: 90vw;
  overflow-y: auto;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9f62947059d0ce17aef7e4307e3e49b66 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9f62947059d0ce17aef7e4307e3e49b66 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@keyframes rockstargames-sites-gta-gen9d29271cdfaf4640c5ec9930bca82812f {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad:focus,
.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad.rockstargames-sites-gta-gen9d454b594b73c1538f820b0e4bdaa2ee0 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9d8ce457b8fc1a70cac48c1d2ab8748ad.rockstargames-sites-gta-gen9d454b594b73c1538f820b0e4bdaa2ee0 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9d1b7b447c16cefbdee5ad59e7b68f86b {
  border-radius: 100%;
  position: absolute !important;
  right: var(--foundry-global-spacing-dimensions-200);
  top: var(--foundry-global-spacing-dimensions-200);
  z-index: 1001
}

button.rockstargames-sites-gta-gen9bd3758fd41a44d885478bc015af58466 {
  background-color: var(--foundry-global-color-white-static-100);
  border-color: var(--foundry-global-color-white-static-100);
  color: var(--foundry-global-color-black-static-100);
  width: 100%
}

button.rockstargames-sites-gta-gen9bd3758fd41a44d885478bc015af58466:focus,
button.rockstargames-sites-gta-gen9bd3758fd41a44d885478bc015af58466:hover {
  background-color: var(--foundry-alias-color-icon-warning);
  border-color: var(--foundry-alias-color-icon-warning)
}

@media (min-width:768px) {
  button.rockstargames-sites-gta-gen9bd3758fd41a44d885478bc015af58466 {
    width: auto
  }
}

.rockstargames-sites-gta-gen9dbc4ca3357c35d3e0e19ed8ad95a0345 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-400);
  max-height: 85vh;
  max-width: 600px;
  overflow-y: scroll;
  padding: var(--foundry-global-spacing-gap-600);
  width: 90vw;
  -ms-overflow-style: none;
  scrollbar-width: none
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9dbc4ca3357c35d3e0e19ed8ad95a0345 {
    padding: var(--foundry-global-spacing-gap-800)
  }
}

.rockstargames-sites-gta-gen9dbc4ca3357c35d3e0e19ed8ad95a0345::-webkit-scrollbar {
  display: none
}

.rockstargames-sites-gta-gen9a6b70255a1d5a519713ba1539f4625d8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-150)
}

.rockstargames-sites-gta-gen9a6b70255a1d5a519713ba1539f4625d8 .rockstargames-sites-gta-gen9f683b3575745dd20581d9ab64cbd79ff {
  color: var(--white-100, #fff);
  font-family: var(--family-heading, "Helvetica Now Display");
  font-size: var(--foundry-alias-font-size-heading-04);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-bold);
  letter-spacing: -.6px;
  line-height: 130%
}

.rockstargames-sites-gta-gen9a6b70255a1d5a519713ba1539f4625d8 .rockstargames-sites-gta-gen9d5023e95d1cc2d3bfbb4c34517f60f3a {
  color: var(--color-body);
  color: var(--text-light);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  --btn-hover-bg-color: var(--white-100);
  --btn-hover-font-color: var(--black-100);
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-sm);
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880 {
  align-items: flex-start;
  align-items: center;
  backdrop-filter: blur(25px);
  background-color: var(--white-15);
  border: none;
  border-radius: 4px;
  display: flex;
  height: 3.5rem;
  justify-content: center;
  max-width: 600px;
  min-width: 200px;
  padding: 0 3rem;
  width: 100%
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9b39dd1e36922daeabdd78108545a94c5 {
  --btn-hover-bg-color: #00439c
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9d87840fcba9d29d24298c6b3be10887b {
  --btn-hover-bg-color: #387a26
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9f61e7995428d7de7138b74ae344f7eaa {
  --btn-hover-bg-color: var(--foundry-alias-color-brand-rockstar-gold);
  --btn-hover-font-color: var(--black-100)
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9f61e7995428d7de7138b74ae344f7eaa:active img,
.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9f61e7995428d7de7138b74ae344f7eaa:focus img,
.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880.rockstargames-sites-gta-gen9f61e7995428d7de7138b74ae344f7eaa:hover img {
  filter: invert(1)
}

.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880:active,
.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880:focus,
.rockstargames-sites-gta-gen9b1044cdb0d8f05dd2f587b5577310883 .rockstargames-sites-gta-gen9cd6940a133bd1efebacdb7faaaf08880:hover {
  background-color: var(--btn-hover-bg-color);
  color: var(--btn-hover-font-color)
}

.rockstargames-sites-gta-gen9df2cc2bc42c544f355bf29403197e46a {
  align-self: flex-start
}

.rockstargames-sites-gta-gen9f1d1638e526c51005f37452d53c31151 {
  height: var(--foundry-global-spacing-dimensions-250)
}

.rockstargames-sites-gta-gen9bcfaced142f6fe094166ec2512f9e46b {
  height: var(--foundry-global-spacing-dimensions-800);
  width: var(--foundry-global-spacing-dimensions-800)
}

:root {
  --__foundry-global-platform-scales-ratio: 1
}

:root {
  --foundry-global-font-line-height-150: 150%;
  --foundry-global-font-line-height-130: 130%;
  --foundry-global-font-line-height-120: 120%;
  --foundry-global-font-line-height-110: 110%;
  --foundry-global-font-line-height-100: 100%;
  --foundry-global-font-letter-spacing-neg-50: -0.005em;
  --foundry-global-font-letter-spacing-neg-75: -0.0075em;
  --foundry-global-font-letter-spacing-neg-100: -0.01em;
  --foundry-global-font-letter-spacing-neg-150: -0.015em;
  --foundry-global-font-letter-spacing-neg-250: -0.025em;
  --foundry-global-font-letter-spacing-250: 0.025em;
  --foundry-global-font-letter-spacing-200: 0.02em;
  --foundry-global-font-letter-spacing-100: 0.01em;
  --foundry-global-font-letter-spacing-25: 0.0025em;
  --foundry-global-font-letter-spacing-0: 0em;
  --foundry-global-font-weight-700: 700;
  --foundry-global-font-weight-400: 400;
  --foundry-global-font-family-consolas: "Consolas";
  --foundry-global-font-family-helvetica-now-text: "Helvetica Now Text";
  --foundry-global-font-family-helvetica-now-display: "Helvetica Now Display";
  --foundry-global-font-family-arial: "Arial";
  --foundry-global-border-width-50: 4px;
  --foundry-global-border-width-33: 3px;
  --foundry-global-border-width-25: 2px;
  --foundry-global-border-width-10: 1px;
  --foundry-global-border-width-0: 0px;
  --foundry-global-border-radius-pill: 1000px;
  --foundry-global-border-radius-circle: 9999px;
  --foundry-global-border-radius-400: 32px;
  --foundry-global-border-radius-300: 24px;
  --foundry-global-border-radius-200: 16px;
  --foundry-global-border-radius-150: 12px;
  --foundry-global-border-radius-100: 8px;
  --foundry-global-border-radius-50: 4px;
  --foundry-global-border-radius-25: 2px;
  --foundry-global-border-radius-0: 0px;
  --foundry-alias-font-line-height-body: var(--foundry-global-font-line-height-150);
  --foundry-alias-font-line-height-heading: var(--foundry-global-font-line-height-130);
  --foundry-alias-font-weight-bold: var(--foundry-global-font-weight-700);
  --foundry-alias-font-weight-regular: var(--foundry-global-font-weight-400);
  --foundry-alias-font-letter-spacing-label-fallback: var(--foundry-global-font-letter-spacing-200);
  --foundry-alias-font-letter-spacing-label-primary: var(--foundry-global-font-letter-spacing-200);
  --foundry-alias-font-letter-spacing-body-fallback: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-body-primary: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-heading-fallback: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-heading-primary: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-family-code-fallback: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-code-primary: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-body-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-body-primary: var(--foundry-global-font-family-helvetica-now-text);
  --foundry-alias-font-family-heading-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-heading-primary: var(--foundry-global-font-family-helvetica-now-display);
  --__foundry-global-platform-scales-scale-6250: calc(500px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-6000: calc(480px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5750: calc(460px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5500: calc(440px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5250: calc(420px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5000: calc(400px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4750: calc(380px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4500: calc(360px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4250: calc(340px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4125: calc(330px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4000: calc(320px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3750: calc(300px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3500: calc(280px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3350: calc(268px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3150: calc(252px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3000: calc(240px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2750: calc(220px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2500: calc(200px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2400: calc(192px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2350: calc(188px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2200: calc(176px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2000: calc(160px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1800: calc(144px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1700: calc(136px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1600: calc(128px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1400: calc(112px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1200: calc(96px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1150: calc(92px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1100: calc(88px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1000: calc(80px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-950: calc(76px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-900: calc(72px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-800: calc(64px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-750: calc(60px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-700: calc(56px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-650: calc(52px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-600: calc(48px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-550: calc(44px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-500: calc(40px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-450: calc(36px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-400: calc(32px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-350: calc(28px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-300: calc(24px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-250: calc(20px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-225: calc(18px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-200: calc(16px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-175: calc(14px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-150: calc(12px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-125: calc(10px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-100: calc(8px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-75: calc(6px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-50: calc(4px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-33: calc(3px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-25: calc(2px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-10: calc(1px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-0: calc(0px * var(--__foundry-global-platform-scales-ratio));
  --foundry-global-font-spacing-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-font-size-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-font-size-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-font-size-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-font-size-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-font-size-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-font-size-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-font-size-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-font-size-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-font-size-225: var(--__foundry-global-platform-scales-scale-225);
  --foundry-global-font-size-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-font-size-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-font-size-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-6250: var(--__foundry-global-platform-scales-scale-6250);
  --foundry-global-spacing-dimensions-6000: var(--__foundry-global-platform-scales-scale-6000);
  --foundry-global-spacing-dimensions-5750: var(--__foundry-global-platform-scales-scale-5750);
  --foundry-global-spacing-dimensions-5500: var(--__foundry-global-platform-scales-scale-5500);
  --foundry-global-spacing-dimensions-5250: var(--__foundry-global-platform-scales-scale-5250);
  --foundry-global-spacing-dimensions-5000: var(--__foundry-global-platform-scales-scale-5000);
  --foundry-global-spacing-dimensions-4750: var(--__foundry-global-platform-scales-scale-4750);
  --foundry-global-spacing-dimensions-4500: var(--__foundry-global-platform-scales-scale-4500);
  --foundry-global-spacing-dimensions-4250: var(--__foundry-global-platform-scales-scale-4250);
  --foundry-global-spacing-dimensions-4125: var(--__foundry-global-platform-scales-scale-4125);
  --foundry-global-spacing-dimensions-4000: var(--__foundry-global-platform-scales-scale-4000);
  --foundry-global-spacing-dimensions-3750: var(--__foundry-global-platform-scales-scale-3750);
  --foundry-global-spacing-dimensions-3500: var(--__foundry-global-platform-scales-scale-3500);
  --foundry-global-spacing-dimensions-3350: var(--__foundry-global-platform-scales-scale-3350);
  --foundry-global-spacing-dimensions-3150: var(--__foundry-global-platform-scales-scale-3150);
  --foundry-global-spacing-dimensions-3000: var(--__foundry-global-platform-scales-scale-3000);
  --foundry-global-spacing-dimensions-2750: var(--__foundry-global-platform-scales-scale-2750);
  --foundry-global-spacing-dimensions-2500: var(--__foundry-global-platform-scales-scale-2500);
  --foundry-global-spacing-dimensions-2400: var(--__foundry-global-platform-scales-scale-2400);
  --foundry-global-spacing-dimensions-2350: var(--__foundry-global-platform-scales-scale-2350);
  --foundry-global-spacing-dimensions-2200: var(--__foundry-global-platform-scales-scale-2200);
  --foundry-global-spacing-dimensions-2000: var(--__foundry-global-platform-scales-scale-2000);
  --foundry-global-spacing-dimensions-1800: var(--__foundry-global-platform-scales-scale-1800);
  --foundry-global-spacing-dimensions-1700: var(--__foundry-global-platform-scales-scale-1700);
  --foundry-global-spacing-dimensions-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-dimensions-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-dimensions-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-dimensions-1150: var(--__foundry-global-platform-scales-scale-1150);
  --foundry-global-spacing-dimensions-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-dimensions-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-dimensions-950: var(--__foundry-global-platform-scales-scale-950);
  --foundry-global-spacing-dimensions-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-dimensions-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-dimensions-750: var(--__foundry-global-platform-scales-scale-750);
  --foundry-global-spacing-dimensions-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-dimensions-650: var(--__foundry-global-platform-scales-scale-650);
  --foundry-global-spacing-dimensions-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-dimensions-550: var(--__foundry-global-platform-scales-scale-550);
  --foundry-global-spacing-dimensions-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-dimensions-450: var(--__foundry-global-platform-scales-scale-450);
  --foundry-global-spacing-dimensions-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-dimensions-350: var(--__foundry-global-platform-scales-scale-350);
  --foundry-global-spacing-dimensions-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-dimensions-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-dimensions-225: var(--__foundry-global-platform-scales-scale-225);
  --foundry-global-spacing-dimensions-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-dimensions-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-dimensions-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-125: var(--__foundry-global-platform-scales-scale-125);
  --foundry-global-spacing-dimensions-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-dimensions-75: var(--__foundry-global-platform-scales-scale-75);
  --foundry-global-spacing-dimensions-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-dimensions-33: var(--__foundry-global-platform-scales-scale-33);
  --foundry-global-spacing-dimensions-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-global-spacing-dimensions-10: var(--__foundry-global-platform-scales-scale-10);
  --foundry-global-spacing-gap-2500: var(--__foundry-global-platform-scales-scale-2500);
  --foundry-global-spacing-gap-2400: var(--__foundry-global-platform-scales-scale-2400);
  --foundry-global-spacing-gap-2350: var(--__foundry-global-platform-scales-scale-2350);
  --foundry-global-spacing-gap-2200: var(--__foundry-global-platform-scales-scale-2200);
  --foundry-global-spacing-gap-2000: var(--__foundry-global-platform-scales-scale-2000);
  --foundry-global-spacing-gap-1800: var(--__foundry-global-platform-scales-scale-1800);
  --foundry-global-spacing-gap-1700: var(--__foundry-global-platform-scales-scale-1700);
  --foundry-global-spacing-gap-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-gap-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-gap-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-gap-1150: var(--__foundry-global-platform-scales-scale-1150);
  --foundry-global-spacing-gap-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-gap-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-gap-950: var(--__foundry-global-platform-scales-scale-950);
  --foundry-global-spacing-gap-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-gap-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-gap-750: var(--__foundry-global-platform-scales-scale-750);
  --foundry-global-spacing-gap-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-gap-650: var(--__foundry-global-platform-scales-scale-650);
  --foundry-global-spacing-gap-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-gap-550: var(--__foundry-global-platform-scales-scale-550);
  --foundry-global-spacing-gap-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-gap-450: var(--__foundry-global-platform-scales-scale-450);
  --foundry-global-spacing-gap-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-gap-350: var(--__foundry-global-platform-scales-scale-350);
  --foundry-global-spacing-gap-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-gap-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-gap-225: var(--__foundry-global-platform-scales-scale-225);
  --foundry-global-spacing-gap-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-gap-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-gap-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-gap-125: var(--__foundry-global-platform-scales-scale-125);
  --foundry-global-spacing-gap-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-gap-75: var(--__foundry-global-platform-scales-scale-75);
  --foundry-global-spacing-gap-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-gap-33: var(--__foundry-global-platform-scales-scale-33);
  --foundry-global-spacing-gap-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-global-spacing-gap-10: var(--__foundry-global-platform-scales-scale-10);
  --foundry-alias-font-size-body-code: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-body-body-xs: var(--foundry-global-font-size-150);
  --foundry-alias-font-size-body-body-sm: var(--foundry-global-font-size-175);
  --foundry-alias-font-size-body-body-md: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-body-body-lg: var(--foundry-global-font-size-225);
  --foundry-alias-font-size-heading-06: var(--foundry-global-font-size-250);
  --foundry-alias-font-size-heading-05: var(--foundry-global-font-size-300);
  --foundry-alias-font-size-heading-04: var(--foundry-global-font-size-400);
  --foundry-alias-font-size-heading-03: var(--foundry-global-font-size-500);
  --foundry-alias-font-size-heading-02: var(--foundry-global-font-size-600);
  --foundry-alias-font-size-heading-01: var(--foundry-global-font-size-700);
  --foundry-alias-font-size-heading-display: var(--foundry-global-font-size-800);
  --foundry-alias-font-spacing-paragraph: var(--foundry-global-font-spacing-400)
}

.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e:focus,
.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e.rockstargames-sites-gta-gen9dd8491c9f0f40c5b71d4268cfaf1698b {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9ae211e76bbcf862dfcc2c039a7da564e.rockstargames-sites-gta-gen9dd8491c9f0f40c5b71d4268cfaf1698b img {
  filter: invert()
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-150);
  width: 100%
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper {
  overflow: visible;
  width: 100%;
  z-index: unset
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: left;
  width: 100%;
  will-change: transform;
  z-index: unset
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper-button-disabled {
  opacity: .15;
  pointer-events: none
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper-slide {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper-slide .smMax {
  flex-shrink: 1
}

.rockstargames-sites-gta-gen9cce69027d1d4ddda405accc300b4ca94 .swiper-button-lock {
  display: none
}

.rockstargames-sites-gta-gen9f19299f57f1ed76caa6896c7a813ecaf {
  align-items: center;
  align-self: stretch;
  border-radius: var(--foundry-global-border-radius-100) !important;
  display: flex;
  gap: var(--foundry-global-spacing-gap-100);
  height: 100%;
  justify-content: center;
  padding: var(--foundry-global-spacing-gap-150) var(--foundry-global-spacing-gap-300)
}

.rockstargames-sites-gta-gen9c42c619e85996f282a5b2d82490e968d {
  font-family: var(--family-heading, "Helvetica Now Display");
  font-size: var(--foundry-alias-font-size-heading-05);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-bold);
  letter-spacing: -.625px;
  line-height: 130%
}

.rockstargames-sites-gta-gen9aeabbd8b6bdd32503837a0e15e937a83 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: space-between
}

.rockstargames-sites-gta-gen9ea4642de554a3d7eb8e92a6c16611e3c {
  min-width: var(--foundry-global-spacing-dimensions-2500)
}

.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167:focus,
.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167.rockstargames-sites-gta-gen9cbca47c436f4966d6e0108b2c2daffc2 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9bdf4fa8434075463e9a365b016608167.rockstargames-sites-gta-gen9cbca47c436f4966d6e0108b2c2daffc2 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-150);
  width: auto
}

@media screen and (max-width:768px) {
  .rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 {
    width: 100%
  }
}

.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9b176bb10e7cfc23e56431b0d6f607ad3 {
  background-color: var(--foundry-global-color-white-static-100);
  border-color: var(--foundry-global-color-white-static-100);
  color: var(--foundry-global-color-black-static-100)
}

.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9b176bb10e7cfc23e56431b0d6f607ad3:focus,
.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9b176bb10e7cfc23e56431b0d6f607ad3:hover {
  background-color: var(--foundry-alias-color-icon-warning);
  border-color: var(--foundry-alias-color-icon-warning)
}

.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9c1d8d9cbb5bf81284c34f752f3b6d561,
.rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9d7648ab9f8b9b1ab2e010c482b3727bc {
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 {
    flex-direction: row
  }

  .rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9c1d8d9cbb5bf81284c34f752f3b6d561,
  .rockstargames-sites-gta-gen9feefda525c6d8eae28b3689890dc3f61 .rockstargames-sites-gta-gen9d7648ab9f8b9b1ab2e010c482b3727bc {
    width: auto
  }
}

.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a:focus,
.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a.rockstargames-sites-gta-gen9c9f7ed9a32a4968e794ffac9666c39bf {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9bfe22be95b4fa0ec28c10bbc2dffb46a.rockstargames-sites-gta-gen9c9f7ed9a32a4968e794ffac9666c39bf img {
  filter: invert()
}

.rockstargames-sites-gta-gen9bedaa0fd151691ec98fa36e2ca814543 {
  align-items: flex-start;
  color: var(--foundry-alias-color-text-header);
  flex-direction: column;
  font-family: var(--family-heading, "Helvetica Now Display");
  font-size: var(--foundry-alias-font-size-heading-03);
  font-style: normal;
  font-weight: var(--foundry-alias-font-weight-bold);
  justify-content: center
}

.rockstargames-sites-gta-gen9bedaa0fd151691ec98fa36e2ca814543,
.rockstargames-sites-gta-gen9e9b8b87dbb93a2f9e01bb20c7fd7dde0 {
  display: flex;
  gap: var(--foundry-global-spacing-gap-100)
}

.rockstargames-sites-gta-gen9e9b8b87dbb93a2f9e01bb20c7fd7dde0 {
  align-items: center;
  flex-direction: row;
  justify-content: flex-start
}

.rockstargames-sites-gta-gen9c4ef17f93492a1455c0cdb3d84c50c4d {
  color: var(--foundry-alias-color-icon-success);
  height: var(--foundry-global-spacing-dimensions-500) !important;
  width: var(--foundry-global-spacing-dimensions-500) !important
}

.rockstargames-sites-gta-gen9ddd2d5ebaa09dce343d0c1b5abcff346 {
  height: var(--foundry-global-spacing-dimensions-400)
}

.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d:focus,
.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d.rockstargames-sites-gta-gen9f52c6beb1b2d23e58207758d000d948c {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9d3a5b466d6cf6981f41353468a367e0d.rockstargames-sites-gta-gen9f52c6beb1b2d23e58207758d000d948c img {
  filter: invert()
}

.rockstargames-sites-gta-gen9ff4fad30e47fb8ee6f9a47e38bc35706 {
  animation: rockstargames-sites-gta-gen9d8a217d544cdeebb11cbdad4437f3508 1s ease-in-out forwards;
  opacity: 0
}

@keyframes rockstargames-sites-gta-gen9d8a217d544cdeebb11cbdad4437f3508 {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.rockstargames-sites-gta-gen9d91043320bc3ae5daef84bf9ef72402d {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: center;
  padding: var(--foundry-global-spacing-gap-400);
  width: 100%
}

@media screen and (min-width:768px) {
  .rockstargames-sites-gta-gen9d91043320bc3ae5daef84bf9ef72402d {
    background: var(--black-200);
    border: 1px solid var(--foundry-alias-color-border-decorative);
    border-radius: var(--border-radius-md)
  }
}

.rockstargames-sites-gta-gen9fea773bf7b714ce65ef7db9a080ee205 {
  align-items: flex-start;
  animation: rockstargames-sites-gta-gen9d8a217d544cdeebb11cbdad4437f3508 .5s ease-in-out forwards;
  background: var(--black-200);
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-400);
  opacity: 0;
  overflow: hidden;
  padding: var(--foundry-global-spacing-gap-400);
  width: 100%
}

@media screen and (min-width:768px) {
  .rockstargames-sites-gta-gen9fea773bf7b714ce65ef7db9a080ee205 {
    border: 1px solid var(--foundry-alias-color-border-decorative);
    border-radius: var(--border-radius-md)
  }
}

@media (min-width:1200px) {
  .rockstargames-sites-gta-gen9fea773bf7b714ce65ef7db9a080ee205 {
    padding: var(--foundry-global-spacing-dimensions-600)
  }
}

@media (min-width:1440px) {
  .rockstargames-sites-gta-gen9fea773bf7b714ce65ef7db9a080ee205 {
    padding: var(--foundry-global-spacing-gap-1000)
  }
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9fea773bf7b714ce65ef7db9a080ee205 {
    padding: var(--foundry-global-spacing-dimensions-1200)
  }
}

.rockstargames-sites-gta-gen9dcd2ef1d0cbfb4f6afcc3796e00c7be8 {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-150);
  width: 100%
}

.rockstargames-sites-gta-gen9b6dbb71d49b02fcbf62842f803f58be2 {
  align-self: flex-start
}

.rockstargames-sites-gta-gen9ce12c6cbfdccd19b725b2bdd8229c182 {
  align-self: center;
  display: flex
}

/*# sourceMappingURL=566cf612fa315968760003c09cb4aaa1.css.map*/