.rockstargames-sites-gta-gen9f7c6c7f374a964c878d2d276e933ee0b {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: var(--grid-gap-static-lg);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

[data-game=rdo][data-template=halloween] .rockstargames-sites-gta-gen9f7c6c7f374a964c878d2d276e933ee0b {
  --grid-gap-static-lg: 0
}

[data-game^=gta] .rockstargames-sites-gta-gen9ea6dc08aea9d51a8db44ed608c891705 h4 {
  font-family: var(--font-family-std);
  font-size: var(--font-size-4)
}

[data-game=rdo] .rockstargames-sites-gta-gen9ea6dc08aea9d51a8db44ed608c891705 h4,
[data-game^=rdr] .rockstargames-sites-gta-gen9ea6dc08aea9d51a8db44ed608c891705 h4 {
  --color-h: #e8e8e8;
  font-family: var(--font-family-std)
}

.rockstargames-sites-gta-gen9eeecd14725803dea4b8848410b644b27 {
  padding-top: 1.5rem
}

.rockstargames-sites-gta-gen9c84f82c9ba8b58c3cfcc3834228a96d7 {
  --padding-dynamic: var(--padding-static);
  --padding-dynamic-tb: initial;
  --grid-gap-dynamic: var(--grid-gap-static-lg);
  margin: 0 auto;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0,
.rockstargames-sites-gta-gen9c84f82c9ba8b58c3cfcc3834228a96d7 {
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0)
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  --background-color: var(--image-title-text-background, transparent);
  --padding-dynamic: initial;
  --padding-dynamic-tb: initial;
  background-color: var(--background-color, transparent)
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h1,
.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h1.rockstargames-sites-gta-gen9d0d6b3240859af898664c31afd5aaab3 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h4,
.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h5,
.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 [template=community] main {
  color: var(--color-h, #161616)
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 [template=community] p {
  color: var(--body-color, #2d2d2d)
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 figure>div {
  --padding-sides: 0px
}

.rockstargames-sites-gta-gen9ea3df4f9076c3f017962a018b926c3e0 .rockstargames-sites-gta-gen9e9ece151c1b5c70da591c9192e29ef50 {
  --description-area-margin-top: 0px
}

/*# sourceMappingURL=56d4d1c28b7842eafbfd7bc210000bed.css.map*/