:root {
  --__foundry-global-platform-scales-ratio: 1
}

:root {
  --foundry-global-font-line-height-150: 150%;
  --foundry-global-font-line-height-130: 130%;
  --foundry-global-font-letter-spacing-neg-10: -1%;
  --foundry-global-font-letter-spacing-neg-33: -2.5%;
  --foundry-global-font-letter-spacing-33: 2.5%;
  --foundry-global-font-letter-spacing-10: 1%;
  --foundry-global-font-letter-spacing-0: 0%;
  --foundry-global-font-weight-700: 700;
  --foundry-global-font-weight-400: 400;
  --foundry-global-font-family-consolas: "Consolas";
  --foundry-global-font-family-helvetica-now-text: "Helvetica Now Text";
  --foundry-global-font-family-helvetica-now-display: "Helvetica Now Display";
  --foundry-global-font-family-arial: "Arial";
  --foundry-global-border-width-50: 4px;
  --foundry-global-border-width-33: 3px;
  --foundry-global-border-width-25: 2px;
  --foundry-global-border-width-10: 1px;
  --foundry-global-border-width-0: 0px;
  --foundry-global-border-radius-pill: 1000px;
  --foundry-global-border-radius-circle: 9999px;
  --foundry-global-border-radius-400: 32px;
  --foundry-global-border-radius-300: 24px;
  --foundry-global-border-radius-200: 16px;
  --foundry-global-border-radius-150: 12px;
  --foundry-global-border-radius-100: 8px;
  --foundry-global-border-radius-50: 4px;
  --foundry-global-border-radius-25: 2px;
  --foundry-global-border-radius-0: 0px;
  --foundry-alias-font-line-height-body: var(--foundry-global-font-line-height-150);
  --foundry-alias-font-line-height-heading: var(--foundry-global-font-line-height-130);
  --foundry-alias-font-weight-bold: var(--foundry-global-font-weight-700);
  --foundry-alias-font-weight-regular: var(--foundry-global-font-weight-400);
  --foundry-alias-font-letter-spacing-all-caps-fallback: var(--foundry-global-font-letter-spacing-10);
  --foundry-alias-font-letter-spacing-all-caps-primary: var(--foundry-global-font-letter-spacing-10);
  --foundry-alias-font-letter-spacing-body-fallback: var(--foundry-global-font-letter-spacing-neg-33);
  --foundry-alias-font-letter-spacing-body-primary: var(--foundry-global-font-letter-spacing-neg-33);
  --foundry-alias-font-letter-spacing-heading-fallback: var(--foundry-global-font-letter-spacing-neg-33);
  --foundry-alias-font-letter-spacing-heading-primary: var(--foundry-global-font-letter-spacing-neg-33);
  --foundry-alias-font-family-code-fallback: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-code-primary: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-body-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-body-primary: var(--foundry-global-font-family-helvetica-now-text);
  --foundry-alias-font-family-heading-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-heading-primary: var(--foundry-global-font-family-helvetica-now-display);
  --__foundry-global-platform-scales-scale-6250: calc(500px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5000: calc(400px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4500: calc(360px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4000: calc(320px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3500: calc(280px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3000: calc(240px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2500: calc(200px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2200: calc(176px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2000: calc(160px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1800: calc(144px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1600: calc(128px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1400: calc(112px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1200: calc(96px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1100: calc(88px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1000: calc(80px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-900: calc(72px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-800: calc(64px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-700: calc(56px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-600: calc(48px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-500: calc(40px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-400: calc(32px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-300: calc(24px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-250: calc(20px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-225: calc(18px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-200: calc(16px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-175: calc(14px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-150: calc(12px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-100: calc(8px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-50: calc(4px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-33: calc(3px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-25: calc(2px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-10: calc(1px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-0: calc(0px * var(--__foundry-global-platform-scales-ratio));
  --foundry-global-font-spacing-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-font-size-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-font-size-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-font-size-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-font-size-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-font-size-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-font-size-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-font-size-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-font-size-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-font-size-225: var(--__foundry-global-platform-scales-scale-225);
  --foundry-global-font-size-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-font-size-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-font-size-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-6250: var(--__foundry-global-platform-scales-scale-6250);
  --foundry-global-spacing-dimensions-5000: var(--__foundry-global-platform-scales-scale-5000);
  --foundry-global-spacing-dimensions-4500: var(--__foundry-global-platform-scales-scale-4500);
  --foundry-global-spacing-dimensions-4000: var(--__foundry-global-platform-scales-scale-4000);
  --foundry-global-spacing-dimensions-3500: var(--__foundry-global-platform-scales-scale-3500);
  --foundry-global-spacing-dimensions-3000: var(--__foundry-global-platform-scales-scale-3000);
  --foundry-global-spacing-dimensions-2500: var(--__foundry-global-platform-scales-scale-2500);
  --foundry-global-spacing-dimensions-2200: var(--__foundry-global-platform-scales-scale-2200);
  --foundry-global-spacing-dimensions-2000: var(--__foundry-global-platform-scales-scale-2000);
  --foundry-global-spacing-dimensions-1800: var(--__foundry-global-platform-scales-scale-1800);
  --foundry-global-spacing-dimensions-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-dimensions-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-dimensions-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-dimensions-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-dimensions-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-dimensions-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-dimensions-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-dimensions-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-dimensions-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-dimensions-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-dimensions-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-dimensions-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-dimensions-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-dimensions-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-dimensions-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-dimensions-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-dimensions-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-dimensions-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-global-spacing-gap-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-gap-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-gap-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-gap-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-gap-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-gap-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-gap-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-gap-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-gap-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-gap-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-gap-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-gap-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-gap-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-gap-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-gap-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-gap-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-gap-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-gap-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-gap-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-alias-font-size-body-code: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-body-all-caps: var(--foundry-global-font-size-150);
  --foundry-alias-font-size-body-metadata: var(--foundry-global-font-size-150);
  --foundry-alias-font-size-body-caption: var(--foundry-global-font-size-175);
  --foundry-alias-font-size-body-paragraph: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-heading-06: var(--foundry-global-font-size-250);
  --foundry-alias-font-size-heading-05: var(--foundry-global-font-size-250);
  --foundry-alias-font-size-heading-04: var(--foundry-global-font-size-300);
  --foundry-alias-font-size-heading-03: var(--foundry-global-font-size-400);
  --foundry-alias-font-size-heading-02: var(--foundry-global-font-size-500);
  --foundry-alias-font-size-heading-01: var(--foundry-global-font-size-700);
  --foundry-alias-font-spacing-paragraph: var(--foundry-global-font-spacing-400)
}

:root {
  --foundry-alias-color-brand-rdr-red: #c00;
  --foundry-alias-color-brand-bully-yellow: #fa0;
  --foundry-alias-color-brand-bully-blue: #036;
  --foundry-global-color-black-static-100: #000;
  --foundry-global-color-black-static-90: rgba(0, 0, 0, .9);
  --foundry-global-color-black-static-80: rgba(0, 0, 0, .8);
  --foundry-global-color-black-static-65: rgba(0, 0, 0, .65);
  --foundry-global-color-black-static-50: rgba(0, 0, 0, .5);
  --foundry-global-color-black-static-40: rgba(0, 0, 0, .4);
  --foundry-global-color-black-static-15: rgba(0, 0, 0, .15);
  --foundry-global-color-black-static-10: rgba(0, 0, 0, .1);
  --foundry-global-color-white-static-100: #fff;
  --foundry-global-color-seafoam-adaptive-1400: #dadcde;
  --foundry-global-color-seafoam-adaptive-1300: #d0d2d4;
  --foundry-global-color-seafoam-adaptive-1200: #c2c6c8;
  --foundry-global-color-seafoam-adaptive-1100: #b6babd;
  --foundry-global-color-seafoam-adaptive-1000: #a3a8ac;
  --foundry-global-color-seafoam-adaptive-900: #92989c;
  --foundry-global-color-seafoam-adaptive-800: #80888c;
  --foundry-global-color-seafoam-adaptive-700: #6f787d;
  --foundry-global-color-seafoam-adaptive-600: #5f686e;
  --foundry-global-color-seafoam-adaptive-500: #4f5960;
  --foundry-global-color-seafoam-adaptive-400: #404b52;
  --foundry-global-color-seafoam-adaptive-300: #323d44;
  --foundry-global-color-seafoam-adaptive-200: #253037;
  --foundry-global-color-seafoam-adaptive-100: #1b252c;
  --foundry-global-color-seafoam-static-1400: #1b2226;
  --foundry-global-color-seafoam-static-1300: #242d33;
  --foundry-global-color-seafoam-static-1200: #303b43;
  --foundry-global-color-seafoam-static-1100: #3d4c55;
  --foundry-global-color-seafoam-static-1000: #4b5e6a;
  --foundry-global-color-seafoam-static-900: #5a717f;
  --foundry-global-color-seafoam-static-800: #6b8495;
  --foundry-global-color-seafoam-static-700: #8297a5;
  --foundry-global-color-seafoam-static-600: #98aab6;
  --foundry-global-color-seafoam-static-500: #b2c0c8;
  --foundry-global-color-seafoam-static-400: #c5cfd6;
  --foundry-global-color-seafoam-static-300: #d9dfe4;
  --foundry-global-color-seafoam-static-200: #e7ebee;
  --foundry-global-color-seafoam-static-100: #f2f4f6;
  --foundry-global-color-blue-adaptive-1400: #d2ddec;
  --foundry-global-color-blue-adaptive-1300: #c4d3e7;
  --foundry-global-color-blue-adaptive-1200: #b4c7e0;
  --foundry-global-color-blue-adaptive-1100: #a4bbda;
  --foundry-global-color-blue-adaptive-1000: #8baad0;
  --foundry-global-color-blue-adaptive-900: #7699c7;
  --foundry-global-color-blue-adaptive-800: #6189bd;
  --foundry-global-color-blue-adaptive-700: #4c78b2;
  --foundry-global-color-blue-adaptive-600: #3868a6;
  --foundry-global-color-blue-adaptive-500: #265899;
  --foundry-global-color-blue-adaptive-400: #17498a;
  --foundry-global-color-blue-adaptive-300: #0c3b76;
  --foundry-global-color-blue-adaptive-200: #052e61;
  --foundry-global-color-blue-adaptive-100: #02234c;
  --foundry-global-color-blue-static-1400: #032047;
  --foundry-global-color-blue-static-1300: #062a5b;
  --foundry-global-color-blue-static-1200: #0c3874;
  --foundry-global-color-blue-static-1100: #17498b;
  --foundry-global-color-blue-static-1000: #295b9f;
  --foundry-global-color-blue-static-900: #406faf;
  --foundry-global-color-blue-static-800: #5882bc;
  --foundry-global-color-blue-static-700: #7296c8;
  --foundry-global-color-blue-static-600: #8ba9d2;
  --foundry-global-color-blue-static-500: #a9c0de;
  --foundry-global-color-blue-static-400: #bdcfe6;
  --foundry-global-color-blue-static-300: #d4dfee;
  --foundry-global-color-blue-static-200: #e3eaf4;
  --foundry-global-color-blue-static-100: #f1f4f9;
  --foundry-global-color-green-adaptive-1400: #a3ecc0;
  --foundry-global-color-green-adaptive-1300: #84e6ab;
  --foundry-global-color-green-adaptive-1200: #58dd8d;
  --foundry-global-color-green-adaptive-1100: #2bd46f;
  --foundry-global-color-green-adaptive-1000: #26bf63;
  --foundry-global-color-green-adaptive-900: #23ad5a;
  --foundry-global-color-green-adaptive-800: #1f9a50;
  --foundry-global-color-green-adaptive-700: #1b8847;
  --foundry-global-color-green-adaptive-600: #18763d;
  --foundry-global-color-green-adaptive-500: #146535;
  --foundry-global-color-green-adaptive-400: #11552c;
  --foundry-global-color-green-adaptive-300: #0e4524;
  --foundry-global-color-green-adaptive-200: #0b361c;
  --foundry-global-color-green-adaptive-100: #082915;
  --foundry-global-color-green-static-1400: #032712;
  --foundry-global-color-green-static-1300: #043317;
  --foundry-global-color-green-static-1200: #05431e;
  --foundry-global-color-green-static-1100: #065626;
  --foundry-global-color-green-static-1000: #08692f;
  --foundry-global-color-green-static-900: #0b7f39;
  --foundry-global-color-green-static-800: #0f9444;
  --foundry-global-color-green-static-700: #15aa51;
  --foundry-global-color-green-static-600: #20c05f;
  --foundry-global-color-green-static-500: #39d878;
  --foundry-global-color-green-static-400: #5ce693;
  --foundry-global-color-green-static-300: #93f2b9;
  --foundry-global-color-green-static-200: #bef7d5;
  --foundry-global-color-green-static-100: #e0fbea;
  --foundry-global-color-yellow-adaptive-1400: #ffd86c;
  --foundry-global-color-yellow-adaptive-1300: #ffcb47;
  --foundry-global-color-yellow-adaptive-1200: #ffb923;
  --foundry-global-color-yellow-adaptive-1100: #f7aa13;
  --foundry-global-color-yellow-adaptive-1000: #e29808;
  --foundry-global-color-yellow-adaptive-900: #ce8903;
  --foundry-global-color-yellow-adaptive-800: #b87a00;
  --foundry-global-color-yellow-adaptive-700: #a36b00;
  --foundry-global-color-yellow-adaptive-600: #8e5d00;
  --foundry-global-color-yellow-adaptive-500: #794f00;
  --foundry-global-color-yellow-adaptive-400: #654200;
  --foundry-global-color-yellow-adaptive-300: #533600;
  --foundry-global-color-yellow-adaptive-200: #402a00;
  --foundry-global-color-yellow-adaptive-100: #312000;
  --foundry-global-color-yellow-static-1400: #2e1e00;
  --foundry-global-color-yellow-static-1300: #3c2800;
  --foundry-global-color-yellow-static-1200: #503400;
  --foundry-global-color-yellow-static-1100: #654200;
  --foundry-global-color-yellow-static-1000: #7e5200;
  --foundry-global-color-yellow-static-900: #976300;
  --foundry-global-color-yellow-static-800: #b07400;
  --foundry-global-color-yellow-static-700: #ca8602;
  --foundry-global-color-yellow-static-600: #e19808;
  --foundry-global-color-yellow-static-500: #fcaf17;
  --foundry-global-color-yellow-static-400: #ffc539;
  --foundry-global-color-yellow-static-300: #ffdb72;
  --foundry-global-color-yellow-static-200: #ffe8a4;
  --foundry-global-color-yellow-static-100: #fff4d4;
  --foundry-global-color-red-adaptive-1400: #fad3d3;
  --foundry-global-color-red-adaptive-1300: #f9c5c5;
  --foundry-global-color-red-adaptive-1200: #f7b5b5;
  --foundry-global-color-red-adaptive-1100: #f5a4a4;
  --foundry-global-color-red-adaptive-1000: #f28989;
  --foundry-global-color-red-adaptive-900: #ef6f6f;
  --foundry-global-color-red-adaptive-800: #eb5050;
  --foundry-global-color-red-adaptive-700: #e72424;
  --foundry-global-color-red-adaptive-600: #cc1717;
  --foundry-global-color-red-adaptive-500: #b01414;
  --foundry-global-color-red-adaptive-400: #941111;
  --foundry-global-color-red-adaptive-300: #7a0e0e;
  --foundry-global-color-red-adaptive-200: #610b0b;
  --foundry-global-color-red-adaptive-100: #4b0808;
  --foundry-global-color-red-static-1400: #401010;
  --foundry-global-color-red-static-1300: #541515;
  --foundry-global-color-red-static-1200: #6d1c1c;
  --foundry-global-color-red-static-1100: #8b2323;
  --foundry-global-color-red-static-1000: #a92d2d;
  --foundry-global-color-red-static-900: #c93838;
  --foundry-global-color-red-static-800: #e74646;
  --foundry-global-color-red-static-700: #ff5c5c;
  --foundry-global-color-red-static-600: #ff8181;
  --foundry-global-color-red-static-500: #ffa5a5;
  --foundry-global-color-red-static-400: #ffbdbd;
  --foundry-global-color-red-static-300: #ffd3d3;
  --foundry-global-color-red-static-200: #ffe3e3;
  --foundry-global-color-red-static-100: #fff3f3;
  --foundry-global-color-grey-adaptive-900: #ebebeb;
  --foundry-global-color-grey-adaptive-800: #cecece;
  --foundry-global-color-grey-adaptive-700: #b3b3b3;
  --foundry-global-color-grey-adaptive-600: #989898;
  --foundry-global-color-grey-adaptive-500: #797979;
  --foundry-global-color-grey-adaptive-400: #5b5b5b;
  --foundry-global-color-grey-adaptive-300: #3f3f3f;
  --foundry-global-color-grey-adaptive-200: #222;
  --foundry-global-color-grey-adaptive-100: #1a1a1a;
  --foundry-global-color-grey-adaptive-75: #141414;
  --foundry-global-color-grey-adaptive-50: #0e0e0e;
  --foundry-global-color-grey-adaptive-25: #000;
  --foundry-global-color-grey-static-900: #000;
  --foundry-global-color-grey-static-800: #212121;
  --foundry-global-color-grey-static-700: #464646;
  --foundry-global-color-grey-static-600: #6d6d6d;
  --foundry-global-color-grey-static-500: #919191;
  --foundry-global-color-grey-static-400: #b2b2b2;
  --foundry-global-color-grey-static-300: #d8d8d8;
  --foundry-global-color-grey-static-200: #eaeaea;
  --foundry-global-color-grey-static-100: #fdfdfd;
  --foundry-global-color-grey-static-75: #fdfdfd;
  --foundry-global-color-grey-static-50: #fdfdfd;
  --foundry-global-color-grey-static-25: #fdfdfd;
  --foundry-alias-color-brand-rockstar-gold: var(--foundry-global-color-yellow-static-500);
  --foundry-alias-color-decorative-seafoam-highest-contrast: var(--foundry-global-color-seafoam-adaptive-600);
  --foundry-alias-color-decorative-seafoam-lowest-contrast: var(--foundry-global-color-seafoam-adaptive-400);
  --foundry-alias-color-decorative-seafoam: var(--foundry-global-color-seafoam-adaptive-500);
  --foundry-alias-color-decorative-danger-highest-contrast: var(--foundry-global-color-red-adaptive-600);
  --foundry-alias-color-decorative-danger-lowest-contrast: var(--foundry-global-color-red-adaptive-400);
  --foundry-alias-color-decorative-danger: var(--foundry-global-color-red-adaptive-500);
  --foundry-alias-color-decorative-warning-highest-contrast: var(--foundry-global-color-yellow-adaptive-600);
  --foundry-alias-color-decorative-warning-lowest-contrast: var(--foundry-global-color-yellow-adaptive-400);
  --foundry-alias-color-decorative-warning: var(--foundry-global-color-yellow-adaptive-500);
  --foundry-alias-color-decorative-success-highest-contrast: var(--foundry-global-color-green-adaptive-600);
  --foundry-alias-color-decorative-success-lowest-contrast: var(--foundry-global-color-green-adaptive-400);
  --foundry-alias-color-decorative-success: var(--foundry-global-color-green-adaptive-500);
  --foundry-alias-color-decorative-information-highest-contrast: var(--foundry-global-color-blue-adaptive-600);
  --foundry-alias-color-decorative-information-lowest-contrast: var(--foundry-global-color-blue-adaptive-400);
  --foundry-alias-color-decorative-information: var(--foundry-global-color-blue-adaptive-500);
  --foundry-alias-color-border-shadow: var(--foundry-global-color-grey-adaptive-200);
  --foundry-alias-color-border-disabled: var(--foundry-global-color-grey-adaptive-300);
  --foundry-alias-color-border-seafoam-highest-contrast: var(--foundry-global-color-seafoam-adaptive-800);
  --foundry-alias-color-border-seafoam-lowest-contrast: var(--foundry-global-color-seafoam-adaptive-600);
  --foundry-alias-color-border-seafoam: var(--foundry-global-color-seafoam-adaptive-700);
  --foundry-alias-color-border-danger-highest-contrast: var(--foundry-global-color-red-adaptive-800);
  --foundry-alias-color-border-danger-lowest-contrast: var(--foundry-global-color-red-adaptive-600);
  --foundry-alias-color-border-danger: var(--foundry-global-color-red-adaptive-700);
  --foundry-alias-color-border-warning-highest-contrast: var(--foundry-global-color-yellow-adaptive-800);
  --foundry-alias-color-border-warning-lowest-contrast: var(--foundry-global-color-yellow-adaptive-600);
  --foundry-alias-color-border-warning: var(--foundry-global-color-yellow-adaptive-700);
  --foundry-alias-color-border-success-highest-contrast: var(--foundry-global-color-green-adaptive-800);
  --foundry-alias-color-border-success-lowest-contrast: var(--foundry-global-color-green-adaptive-600);
  --foundry-alias-color-border-success: var(--foundry-global-color-green-adaptive-700);
  --foundry-alias-color-border-information-highest-contrast: var(--foundry-global-color-blue-adaptive-800);
  --foundry-alias-color-border-information-lowest-contrast: var(--foundry-global-color-blue-adaptive-600);
  --foundry-alias-color-border-information: var(--foundry-global-color-blue-adaptive-700);
  --foundry-alias-color-border-control: var(--foundry-global-color-grey-adaptive-600);
  --foundry-alias-color-border-field: var(--foundry-global-color-grey-adaptive-400);
  --foundry-alias-color-border-decorative-lowest-contrast: var(--foundry-global-color-grey-adaptive-200);
  --foundry-alias-color-border-decorative: var(--foundry-global-color-grey-adaptive-300);
  --foundry-alias-color-icon-seafoam-highest-contrast: var(--foundry-global-color-seafoam-adaptive-1100);
  --foundry-alias-color-icon-seafoam-lowest-contrast: var(--foundry-global-color-seafoam-adaptive-700);
  --foundry-alias-color-icon-seafoam-higher-contrast: var(--foundry-global-color-seafoam-adaptive-1000);
  --foundry-alias-color-icon-seafoam-lower-contrast: var(--foundry-global-color-seafoam-adaptive-800);
  --foundry-alias-color-icon-seafoam: var(--foundry-global-color-seafoam-adaptive-900);
  --foundry-alias-color-icon-danger-highest-contrast: var(--foundry-global-color-red-adaptive-1100);
  --foundry-alias-color-icon-danger-lowest-contrast: var(--foundry-global-color-red-adaptive-700);
  --foundry-alias-color-icon-danger-higher-contrast: var(--foundry-global-color-red-adaptive-1000);
  --foundry-alias-color-icon-danger-lower-contrast: var(--foundry-global-color-red-adaptive-800);
  --foundry-alias-color-icon-danger: var(--foundry-global-color-red-adaptive-900);
  --foundry-alias-color-icon-warning-highest-contrast: var(--foundry-global-color-yellow-adaptive-1100);
  --foundry-alias-color-icon-warning-lowest-contrast: var(--foundry-global-color-yellow-adaptive-700);
  --foundry-alias-color-icon-warning-higher-contrast: var(--foundry-global-color-yellow-adaptive-1000);
  --foundry-alias-color-icon-warning-lower-contrast: var(--foundry-global-color-yellow-adaptive-800);
  --foundry-alias-color-icon-warning: var(--foundry-global-color-yellow-adaptive-900);
  --foundry-alias-color-icon-success-highest-contrast: var(--foundry-global-color-green-adaptive-1100);
  --foundry-alias-color-icon-success-lowest-contrast: var(--foundry-global-color-green-adaptive-700);
  --foundry-alias-color-icon-success-higher-contrast: var(--foundry-global-color-green-adaptive-1000);
  --foundry-alias-color-icon-success-lower-contrast: var(--foundry-global-color-green-adaptive-800);
  --foundry-alias-color-icon-success: var(--foundry-global-color-green-adaptive-900);
  --foundry-alias-color-icon-information-highest-contrast: var(--foundry-global-color-blue-adaptive-1100);
  --foundry-alias-color-icon-information-lowest-contrast: var(--foundry-global-color-blue-adaptive-700);
  --foundry-alias-color-icon-information-higher-contrast: var(--foundry-global-color-blue-adaptive-1000);
  --foundry-alias-color-icon-information-lower-contrast: var(--foundry-global-color-blue-adaptive-800);
  --foundry-alias-color-icon-information: var(--foundry-global-color-blue-adaptive-900);
  --foundry-alias-color-icon-subdued-lowest-contrast: var(--foundry-global-color-grey-adaptive-600);
  --foundry-alias-color-icon-subdued: var(--foundry-global-color-grey-adaptive-700);
  --foundry-alias-color-icon-illustration: var(--foundry-global-color-grey-adaptive-600);
  --foundry-alias-color-icon-disabled: var(--foundry-global-color-grey-adaptive-500);
  --foundry-alias-color-icon-standard: var(--foundry-global-color-grey-adaptive-800);
  --foundry-alias-color-text-seafoam: var(--foundry-global-color-seafoam-adaptive-900);
  --foundry-alias-color-text-danger: var(--foundry-global-color-red-adaptive-900);
  --foundry-alias-color-text-warning: var(--foundry-global-color-yellow-adaptive-900);
  --foundry-alias-color-text-information: var(--foundry-global-color-blue-adaptive-900);
  --foundry-alias-color-text-success: var(--foundry-global-color-green-adaptive-900);
  --foundry-alias-color-text-header: var(--foundry-global-color-grey-adaptive-900);
  --foundry-alias-color-text-subdued: var(--foundry-global-color-grey-adaptive-600);
  --foundry-alias-color-text-disabled: var(--foundry-global-color-grey-adaptive-500);
  --foundry-alias-color-text-standard: var(--foundry-global-color-grey-adaptive-800);
  --foundry-alias-color-background-component-tooltip: var(--foundry-global-color-grey-static-800);
  --foundry-alias-color-background-subtle-layer-2: var(--foundry-global-color-grey-adaptive-50);
  --foundry-alias-color-background-subtle-layer-1: var(--foundry-global-color-grey-adaptive-75);
  --foundry-alias-color-background-subtle-layer-0: var(--foundry-global-color-grey-adaptive-100);
  --foundry-alias-color-background-bold-layer-3: var(--foundry-global-color-grey-adaptive-300);
  --foundry-alias-color-background-bold-layer-2: var(--foundry-global-color-grey-adaptive-200);
  --foundry-alias-color-background-bold-layer-1: var(--foundry-global-color-grey-adaptive-75);
  --foundry-alias-color-background-bold-layer-0: var(--foundry-global-color-grey-adaptive-25);
  --foundry-alias-color-background-twotone-seafoam: var(--foundry-global-color-seafoam-adaptive-100);
  --foundry-alias-color-background-twotone-danger: var(--foundry-global-color-red-adaptive-100);
  --foundry-alias-color-background-twotone-warning: var(--foundry-global-color-yellow-adaptive-100);
  --foundry-alias-color-background-twotone-information: var(--foundry-global-color-blue-adaptive-100);
  --foundry-alias-color-background-twotone-success: var(--foundry-global-color-green-adaptive-100)
}

/*# sourceMappingURL=aafb24bf83c233b46de2828a5d0ecb5c.css.map*/