.rockstargames-sites-gta-gen9c386be0dcd753031c7c8370a05206972 {
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: 860px;
  padding: var(--padding-top-bottom) var(--padding-sides);
  text-align: center;
  width: 100%
}

.rockstargames-sites-gta-gen9c386be0dcd753031c7c8370a05206972 h1 {
  margin-bottom: 1rem
}

.rockstargames-sites-gta-gen9c386be0dcd753031c7c8370a05206972 form textarea {
  background: #191919;
  border: none;
  color: #fff;
  display: block;
  font-family: inherit;
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
  resize: none;
  text-align: left;
  width: 100%
}

.rockstargames-sites-gta-gen9c386be0dcd753031c7c8370a05206972 form button {
  background: #c00;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 1rem
}

.rockstargames-sites-gta-gen9c386be0dcd753031c7c8370a05206972 form button:hover {
  color: #fff
}

.rockstargames-sites-gta-gen9ccb8ae7398f53e45ded9dfe28c3993e6 {
  font-size: .825em;
  line-height: 1.3;
  margin-top: .5rem
}

.rockstargames-sites-gta-gen9d72e70db4d8f2e2475325b0ec8c822cd {
  margin-bottom: var(--section-margin-bottom)
}

.rockstargames-sites-gta-gen9e8b9707f598c854597530de876d5c0ef {
  padding: 12px
}

.rockstargames-sites-gta-gen9e8b9707f598c854597530de876d5c0ef:empty {
  display: none
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551 {
  font-family: var(--game-header-family)
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551 a {
  display: block
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9dde746ae06d964de8cfe361c04230376:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/baa032870d03761636b17aac2c11a5fb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9e9aec1e44d6e66bef96ed0f052b39200:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2fc6dc87873f88e7bb39f52783630fb7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9c6b5ad1f7ca729fc671c75dcc3186f3e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4e58f8c3b6d8808a9aa17c735978f03e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9cb8b7ecdcf5f5c25cb01a32157e44929:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/296b528dd0f3d88686021eb63b56776d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9a41a910c09fe47362ff949ad35f07dcc:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/badb4d05a59955b4b58bffa4d7f7ef90.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9c35aee37fbe06edb4c59a52073408967:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebc40b6e6d4a162948865af934ce55cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9eeb5daa122c15929afd6d10975e8bcb3:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/def0e58e0879b7d1c9a5bdf555e838e5.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9a754717f465acea44ba04bc6853ccc41:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dd680de47a094378fa317457f99f1b59.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9ae672dd1fe780d3b6f18b52e3f3e2ca1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8823ba294e06184db09624bc8146de66.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9b07410bcb9f7d843a491602c76df2ef3:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/be42539a97ae0fbb187272a613903928.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9ee38bdcb21c08692870e11ba400c373f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8dac20aeec043a8c6dab5702d322a28e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9fb9d9b31972f3cf06b24dcd241d94cca:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/19b94865eef6caef6c0d32810c2bcd48.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9ca726647ee464cffbc00336018b88ad6:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0c35269d4001f4ad49ffa0cd176890f6.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9bcffec2f62cb18453a68a9d3f5338b60:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/05aa1ea95d3c9b4ce972796ba782de70.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 a.rockstargames-sites-gta-gen9f0792205d3a2bc0175c03643ff2fa790:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fe5047d4494cc7f2b917ea03f00500de.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 .rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d a {
  border: 1px solid #cfcfd1;
  border-radius: 6px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 .rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a {
  border-bottom: 1px solid #cfcfd1
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9ddc7e36204db6670d800fe763b791f39 .rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a:before {
  display: none
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9dde746ae06d964de8cfe361c04230376:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d9dd1f6e7267e80b91394362213baa9.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9f5648f9ef8fd0b5dab9dd162e955f30c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/54260d9e704246890fdee61a9ee573cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9c2b48f9cec52080c94c06030d2e6384a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4ec3379fea78b0719b2f8885d75dfefb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9bf3d20becfafe1b65e04909b0e7f4e18:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d2b7bdc21f70d49802f34bfdc36101cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9c73d9b3e62ba1d8978cc11b3f6f4b63f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9ea6cdf8bd9c3c40638213ad13ab03976:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9ffa2f37d23d90bee1f53a3b4542d3f1e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a7511e9a7a4386d83038af497acc8c0.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9f678e94aec49f395049b3587908f836c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/14725123b261e940fa47593d5f5bd26a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9cf18c382fd6df1c51cb589332427cfb3:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c4d26921f28919b8be95a38836b46bd.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9f0260f18060c6e96640b27e6cf851850:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/248ba2222c6510a84a28a16d9d31eac8.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9a5dd996a50e86e8b5ba056801bb2f1ea:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9e21767034c45936ce182d6d32e64eb4a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4c21f7fffe733af8e4c33202d03a38df.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9c02aca39e34f0b24cf68d938daf8f56a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9bc94b9ece865e2e6e93325f782428de9:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/af2ba0eb7feee09f172363e5377abe3d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9a7df86a47c50e2649f493d0425a184cf:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c84d7054b0c9da9cbf72cbcfd034a39.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9a1401860c69980c4db2580c372bb9f23:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d69145b5edb9904a8b437f85fa26219.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9a8fbb915c03e699cbd844fb9ce20d38d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebfe0ea93779dddb8bee56e8aa07b3c7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9d996aa55e6945a058d09400bd13715f8:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9edafdf48e7c8d64d66bb90e05df1e215:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9c6b5ad1f7ca729fc671c75dcc3186f3e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9d9e3f8a5a8147a5c0b600e1bd4fcdfa8:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9c9b39c6f2fd4199fa462e02eedb67e23:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9ab0678cf2ccc90293aeb8dffc3d4ce80:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cd121dcbabd8470e0df3dc6f64c4d7a3.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9e05a05344ced03c0be6a699395aec8e9:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9e99576cbb21b9ebb786c52d979970d63:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e9ae20545f33df248a25e0c89476d14e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 a.rockstargames-sites-gta-gen9ea5b759ebe95532d36d128e2a7c66bdb:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6798b2316d4cf14e06206e912cffecc7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 .rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d a {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/24a9bf775210b3ac386552322ae2e1a9.png)
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 .rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a {
  border-bottom: 1px solid #fff
}

.rockstargames-sites-gta-gen9cc443abe2c14980fe797ae07c38a1551.rockstargames-sites-gta-gen9b7fdd152099e67cc826b3fa2a9bfe3a4 .rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a:before {
  height: 30px;
  margin-right: 12px;
  width: 30px
}

.rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d {
  display: flex;
  display: grid;
  font-size: 1.1rem;
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr))
}

.rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d a {
  padding: 1rem
}

.rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d a,
.rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 {
  display: flex;
  flex-flow: column
}

.rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 {
  margin-bottom: calc(var(--section-margin-bottom) / 2)
}

.rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a {
  align-items: center;
  color: var(--standard-color);
  display: flex;
  flex: 1 1 100%;
  padding: .75rem
}

.rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d:empty,
.rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918:empty {
  display: none
}

.rockstargames-sites-gta-gen9e9cffe7e98f54fe7ef36b758e750661d a:before,
.rockstargames-sites-gta-gen9acf5035830b2f5fbecef86ce7004c918 a:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block
}

/*# sourceMappingURL=da1b1b541e9a12c1975e0e0b60733b8b.css.map*/