.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92:focus,
.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92.rockstargames-sites-gta-gen9e49b5a5fd4ab934ece172fffe9f6577e {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9c1ed14af6fceaba7c99728a81676dd92.rockstargames-sites-gta-gen9e49b5a5fd4ab934ece172fffe9f6577e img {
  filter: invert()
}

.rockstargames-sites-gta-gen9be627ae18a7bd3cff72d3f11aeed67df {
  display: flex;
  justify-content: space-around;
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  align-items: flex-start;
  background: var(--black-200, #000);
  border: 2px solid var(--border-color, #282828);
  border-radius: var(--border-radius-md, 8px);
  flex-direction: column;
  gap: var(--grid-gap-xs, 10px);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  padding: var(--padding-sm, 20px)
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9be627ae18a7bd3cff72d3f11aeed67df {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 {
  counter-reset: my-counter;
  display: grid;
  list-style-type: none;
  grid-gap: var(--grid-gap-static-md);
  row-gap: 0;
  --ordered-list-grid-column-responsive: var(--ordered-list-grid-column, 1);
  grid-template-columns: repeat(var(--ordered-list-grid-column-responsive), 1fr);
  margin: 0;
  padding: var(--padding-t, 0) var(--padding-dynamic, 0) var(--padding-b, 0);
  text-align: left;
  width: auto
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 {
    --ordered-list-grid-column-responsive: var(--ordered-list-grid-column-mobile, 1) !important
  }
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li {
  counter-increment: my-counter
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li,
.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before {
  color: var(--color-body);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before {
  align-items: center;
  background-color: var(--white-15);
  border-radius: 100%;
  content: counter(my-counter);
  font-weight: var(--font-weight-bold);
  height: 1.75rem;
  justify-content: center;
  margin-right: var(--grid-gap-xs, 10px);
  margin-top: -.21875rem;
  min-height: 1.75rem;
  min-width: 1.75rem;
  width: 1.75rem
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:not(:last-child) {
  margin-bottom: var(--li-margin-tb, var(--grid-gap-xs, 10px))
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9fbf343ed03c1bd513ea4cadc9726af76 {
  margin: 0;
  padding-left: var(--list-padding-left, 0)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9fbf343ed03c1bd513ea4cadc9726af76 li {
  font-weight: var(--li-font-weight, 400);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--li-margin-tb, var(--grid-gap-static-sm, 1rem)) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9fbf343ed03c1bd513ea4cadc9726af76 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/055974c59ae2fd76f3c8584183967670.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: .5rem;
  left: 0;
  position: absolute;
  top: .45rem;
  width: .5rem
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 {
  margin: 0;
  padding-left: 0
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13 li,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li {
  list-style-type: none;
  margin: 1rem 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13 li:before,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/bd62daf191f66403ccb4b8b24bae7de5.svg);
  background-repeat: no-repeat;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: .6rem;
  width: 11px
}

@media (max-width:767px) {

  .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13 li:before,
  .newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before,
  [data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before {
    top: .3rem
  }
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13 li:not(:last-child),
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:not(:last-child),
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:not(:last-child) {
  margin-bottom: var(--base-rem-size)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 {
  padding-left: var(--grid-gap-static-md)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li {
  list-style-type: disc;
  margin: 0 0 1rem;
  padding: 0 0 0 .5rem
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:last-child,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:last-child,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:last-child {
  margin: 0
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2194fe129aa210950dcb07b88a28c13.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:before,
.newswireFull.rdo .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:before,
[data-game=rdo] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bbb7247d5d7a836d755491e85639f1a3 li:before {
  content: none
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 {
  margin: 0;
  padding-left: 0
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc li,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li {
  font-weight: var(--li-font-weight, 700);
  line-height: var(--li-line-height, 1.4rem);
  list-style-type: none;
  margin: var(--grid-gap-static-sm, 1rem) 0;
  padding-left: calc(var(--base-rem-size) * 1.3);
  position: relative
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2e9206b87feb4567a83a182d243ae0b6.svg);
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 20%;
  width: 11px
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9cc2c26a3dd80cf9db62c4c7f389b7859 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9cc2c26a3dd80cf9db62c4c7f389b7859 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9cc2c26a3dd80cf9db62c4c7f389b7859 li:before {
  background-image: var(--custom-star, none)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9ce372826eac3cc73094d69c0c5d9a530 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ce372826eac3cc73094d69c0c5d9a530 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ce372826eac3cc73094d69c0c5d9a530 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/a52713a70c65e31024b27e83be6847d3.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9edb9998d6516a5aa1aece9c07c1768be li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9edb9998d6516a5aa1aece9c07c1768be li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9edb9998d6516a5aa1aece9c07c1768be li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2757dccd4c25bb85b00d92fec26d2abe.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9f674d6037f10af1a1fe41a83c1e5da17 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9f674d6037f10af1a1fe41a83c1e5da17 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9f674d6037f10af1a1fe41a83c1e5da17 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/80cd85db506133304f8cddad89af1782.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9e211b0b8ae00897d696af259b3ddd837 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e211b0b8ae00897d696af259b3ddd837 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e211b0b8ae00897d696af259b3ddd837 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f191d2d6dbd04e4c9768a0a64855d1a6.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9e61db4af0805bb4c9bf820c26ac8a85f li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e61db4af0805bb4c9bf820c26ac8a85f li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e61db4af0805bb4c9bf820c26ac8a85f li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e06b78f7ccb432f507dc3be415fba32c.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9a379d41268f4f002d5ac257f67461f1d li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9a379d41268f4f002d5ac257f67461f1d li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9a379d41268f4f002d5ac257f67461f1d li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/196bc0ec80f9c57e51d21335cc76a671.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9bffe0939bda9e26ad14f6b01669338a8 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bffe0939bda9e26ad14f6b01669338a8 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9bffe0939bda9e26ad14f6b01669338a8 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0bcb70671487ed8af0621d77e074411c.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9f9c1eebf59650cd8ee84191d8fc62874 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9f9c1eebf59650cd8ee84191d8fc62874 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9f9c1eebf59650cd8ee84191d8fc62874 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/36956250db7dc74d6ca9721c977f3d41.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9d44e2fc53f269ccf2b8fbe032ef6cec9 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9d44e2fc53f269ccf2b8fbe032ef6cec9 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9d44e2fc53f269ccf2b8fbe032ef6cec9 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/7b020492bb9714c229ed738928d2e598.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9e2b6f722952b5d61d2a3b725166bfc9b li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e2b6f722952b5d61d2a3b725166bfc9b li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9e2b6f722952b5d61d2a3b725166bfc9b li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/aa0f52f2b27a17f3ddc4646a6146fe59.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9a365c5895cfd6c9f94fc994d71ba402c li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9a365c5895cfd6c9f94fc994d71ba402c li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9a365c5895cfd6c9f94fc994d71ba402c li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/562857802f2942e67d47d893b473abd7.svg)
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9ffaf58c543b36fd7fb4efec24b3564bc.rockstargames-sites-gta-gen9b2a1c0b367b250fe0606dffece9e1c02 li:before,
.newswireFull.gtao .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2a1c0b367b250fe0606dffece9e1c02 li:before,
[data-game=gtao] .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992.rockstargames-sites-gta-gen9b2a1c0b367b250fe0606dffece9e1c02 li:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/5443c35249177dc987b7561f93e3c12f.svg);
  background-size: 105%;
  height: 100%;
  width: 12px
}

.rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 span {
  color: var(--list-color-span, inherit);
  font-weight: var(--list-font-weight-span, inherit)
}

@media (max-width:640px) {
  .rockstargames-sites-gta-gen9d9620ae764026da5584e0f0a5886c992 {
    width: auto
  }
}

/*# sourceMappingURL=e0e8c18a15d359330cf447d32137cfa9.css.map*/