._1ow0ars0 {
  width: 100%;
  margin: 0 auto;
}

._1ow0ars0[data-use-padding="true"] {
  padding-inline: var(--padding-sides);
  max-width: calc(var(--content-max-width) + var(--padding-sides) * 2);
}

._1ow0ars0[data-use-padding="false"] {
  max-width: 2560px;
  padding-inline: 7.5vw;
}

._1ow0ars1 {
  display: flex !important;
  flex-direction: column;
  background-color: var(--foundry-global-color-black-static-100-43aea341);
  border-radius: var(--foundry-global-border-radius-100-742803b2);
  overflow: hidden;
}

._1ow0ars2 {
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-image: var(--engagement-image);
  width: 100%;
}

._1ow0ars4 {
  position: relative;
  width: 100%;
}

._1ow0ars4.loader {
  display: grid;
  align-content: center;
}

._1ow0ars5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  top: 0;
  gap: var(--foundry-global-spacing-gap-250-ee21f32b);
  padding: 0;
}

._1ow0ars6 {
  visibility: hidden;
  pointer-events: none;
}

._1ow0ars7 {
  display: flex;
  opacity: 1;
}

._1ow0ars8 {
  transform: translate(0, 0);
}

._1ow0ars9 {
  opacity: 0;
}

._1ow0arsa {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-400-f21302a9);
  max-width: 700px;
}

._1ow0arsb {
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

._1ow0arsf {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-gap-250-ee21f32b);
}

._1ow0arsg {
  align-items: flex-start;
}

._1ow0arsi {
  padding: 0 var(--foundry-global-spacing-gap-600-d02b9116);
}

._1ow0arsj {
  gap: var(--foundry-global-spacing-dimensions-250-1db78665);
  display: flex;
  flex-direction: column;
}

._1ow0arsk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

._1ow0arsl.override p {
  font-size: var(--foundry-alias-font-size-body-body-sm-2a8e6da3);
  color: var(--foundry-global-color-alpha-adaptive-65-5c75d572);
  letter-spacing: -0.55px;
}

._1ow0arsl .faq,
._1ow0arsl a {
  color: var(--foundry-global-color-white-static-100-d44db539);
  font-weight: var(--foundry-alias-font-weight-bold-751d319e);
  text-decoration: underline;
}

._1ow0arsm {
  width: fit-content;
  background-color: var(--foundry-global-color-grey-static-300-60d2d1b8);
}

._1ow0arsn {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-dimensions-250-1db78665);
}

._1ow0arso {
  display: flex;
  flex-direction: column;
  gap: var(--foundry-global-spacing-dimensions-250-1db78665);
}

._1ow0arso a {
  font-weight: bold;
  text-decoration: underline;
}

._1ow0arsp {
  height: var(--foundry-global-spacing-dimensions-600-552f3071);
  width: var(--foundry-global-spacing-dimensions-600-552f3071);
}

._1ow0arsq {
  color: var(--foundry-alias-color-icon-success-e23133ed);
}

._1ow0arsr {
  color: var(--foundry-alias-color-icon-danger-615a4836);
}

._1ow0arss {
  width: 100% !important;
  height: 100% !important;
}

._1ow0arst {
  display: inline-flex;
  cursor: pointer;
  padding: 0;
}

._1ow0arsu {
  position: relative;
}

._1ow0arsv {
  margin-bottom: auto;
  position: relative;
  display: inline-block;
  max-width: 100%;
}

._1ow0arsv .swiper-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: var(--foundry-global-spacing-dimensions-100-97e13da9);
  will-change: transform;
  align-items: center;
}

._1ow0arsv .swiper-slide {
  width: fit-content;
}

._1ow0arsw {
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: background 0.3s ease-in-out;
  border-radius: 0;
  border: none;
  left: 0;
  margin-left: calc(var(--foundry-global-spacing-dimensions-400-b120da78) * -3);
  transform: translateX(100%);
  background: linear-gradient(90deg, var(--foundry-global-color-black-static-100-43aea341) 0%, transparent 100%);
  display: none;
}

._1ow0arsw:focus {
  outline: none;
  border: none;
}

._1ow0arsw:focus,
._1ow0arsw:hover {
  background: linear-gradient(90deg, var(--foundry-global-color-black-static-100-43aea341) 0%, transparent 100%);
}

._1ow0arsw[data-hidden="true"] {
  display: none;
}

._1ow0arsx {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
  padding: 0;
  transition: background 0.3s ease-in-out;
  border-radius: 0;
  border: none;
  right: calc(var(--foundry-global-spacing-dimensions-400-b120da78) * -3);
  transform: translateX(-100%);
  background: linear-gradient(270deg, var(--foundry-global-color-black-static-100-43aea341) 0%, transparent 100%);
  display: none;
}

._1ow0arsx:focus {
  outline: none;
  border: none;
}

._1ow0arsx:focus,
._1ow0arsx:hover {
  background: linear-gradient(270deg, var(--foundry-global-color-black-static-100-43aea341) 0%, transparent 100%);
}

._1ow0arsx[data-hidden="true"] {
  display: none;
}

._1ow0arsy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

._1ow0ars11 {
  background-color: var(--foundry-global-color-grey-adaptive-1000-020dfb1f);
}

._1ow0ars12 {
  padding: 0;
  display: flex;
  gap: var(--foundry-global-spacing-dimensions-200-2fbf5420);
}

._1ow0ars12 button {
  padding: var(--foundry-global-spacing-dimensions-200-2fbf5420);
  background: var(--foundry-global-color-grey-adaptive-1000-020dfb1f);
  border-radius: var(--foundry-global-border-radius-50-5b3f01bf);
}

._1ow0ars12 img {
  display: block;
  height: var(--foundry-global-spacing-dimensions-200-2fbf5420);
  max-width: 100%;
  object-fit: contain;
}

._1ow0ars13.override {
  font-weight: var(--foundry-alias-font-weight-bold-751d319e);
  font-size: var(--foundry-alias-font-size-heading-04-1fdd08c0);
  letter-spacing: var(--foundry-global-font-letter-spacing-25-e01b7d49);
  line-height: var(--foundry-global-font-line-height-120-114ddbcd);
  color: var(--foundry-alias-color-text-header-c0780da4);
}

[data-font="chalet"] ._1ow0ars13 {
  font-family: ChaletComprime;
  font-size: var(--foundry-alias-font-size-heading-02-0fd2c0d9);
  line-height: var(--foundry-global-font-line-height-110-f2a1d21c);
}

@media (max-width: 1279.98px) {
  ._1ow0ars1 {
    height: auto;
    flex-direction: row;
    padding-bottom: var(--foundry-global-spacing-gap-400-f21302a9);
  }

  ._1ow0ars1.loader {
    border: none;
    background-color: inherit;
  }

  ._1ow0ars2 {
    display: none;
  }

  ._1ow0ars4.loader {
    min-height: 50px;
    background: none;
    border: none;
  }

  ._1ow0ars5 {
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
  }

  ._1ow0ars5.landingSlide {
    position: relative;
    height: auto;
  }
}

@media (min-width: 1440px) {
  ._1ow0ars0[data-use-padding="false"] {
    padding-inline: 13vw;
  }

  ._1ow0ars2 {
    flex: 1;
  }

  ._1ow0ars4 {
    flex: 1.5;
  }
}

@media (min-width: 1920px) {
  ._1ow0ars0[data-use-padding="false"] {
    padding-inline: min(16vw, calc(2560px * (16 / 100)));
  }

  ._1ow0ars4 {
    flex: 2;
  }
}

@media (min-width: 1280px) {
  ._1ow0ars1 {
    flex-direction: row;
    height: 31.8rem;
  }

  ._1ow0ars3 {
    display: none;
  }

  ._1ow0ars5 {
    position: absolute;
    max-height: 100%;
    top: 50%;
  }

  ._1ow0ars6 {
    transform: translate(100%, -50%);
  }
}

@media (min-width: 2560px) {
  ._1ow0ars1 {
    flex-direction: row;
    height: 41.8rem;
  }

  ._1ow0ars2 {
    flex: 1;
  }

  ._1ow0ars4 {
    flex: 1;
  }
}

@media (min-width: 1280px) and (max-width: 2559px) {
  ._1ow0ars2 {
    aspect-ratio: 1 / 1;
    width: 100% !important;
    height: auto !important;
  }
}

@media (min-width: 1280px) {
  ._1ow0ars7 {
    transform: translate(100%, -50%);
  }

  ._1ow0ars8 {
    transform: translate(0, -50%);
  }

  ._1ow0ars9 {
    transform: translate(-100%, -50%);
  }
}

@media (max-width: 1279.98px) {
  ._1ow0ars7 {
    transform: translateY(100%);
  }
}

@media (min-width: 1440px) {
  ._1ow0arsw {
    margin-left: calc(var(--foundry-global-spacing-dimensions-800-bbdfa298) * -2);
  }

  ._1ow0arsx {
    right: calc(var(--foundry-global-spacing-dimensions-800-bbdfa298) * -2);
  }
}

.foundry_v1yii71 {
  width: var(--foundry-global-spacing-dimensions-200-2fbf5420);
  height: var(--foundry-global-spacing-dimensions-200-2fbf5420);
}

.foundry_v1yii72 {
  width: var(--foundry-global-spacing-dimensions-250-1db78665);
  height: var(--foundry-global-spacing-dimensions-250-1db78665);
}

.foundry_v1yii73 {
  width: var(--foundry-global-spacing-dimensions-300-8149e8c1);
  height: var(--foundry-global-spacing-dimensions-300-8149e8c1);
}

.foundry_v1yii74 {
  width: var(--foundry-global-spacing-dimensions-400-b120da78);
  height: var(--foundry-global-spacing-dimensions-400-b120da78);
}

/*# sourceMappingURL=ecfdfa93656911508adf0860c0e7284c.css.map*/