.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5:focus,
.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5.rockstargames-sites-gta-gen9e5b12527bec7eae7fce9642c9827cc3b {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9a76545929bba4f1522661c9f297ea3c5.rockstargames-sites-gta-gen9e5b12527bec7eae7fce9642c9827cc3b img {
  filter: invert()
}

.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761 {
  background: var(--black-15);
  border: 1px solid var(--white-100);
  border-radius: var(--border-radius-sm);
  color: var(--white-100) !important;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-lg);
  transition: background .3s ease-out, color .3s ease-out, border-color .3s ease-out
}

.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761,
.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761.rockstargames-sites-gta-gen9b3ba679464048120f8440e7ae0d14086 {
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  text-transform: uppercase
}

.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761.rockstargames-sites-gta-gen9b3ba679464048120f8440e7ae0d14086 {
  font-size: var(--font-size-3);
  padding: var(--padding-xs) var(--padding-md)
}

.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761.rockstargames-sites-gta-gen9b3ba679464048120f8440e7ae0d14086 .rockstargames-sites-gta-gen9e146813e6b911567a15379239351bb9f {
  padding-top: .1rem
}

.rockstargames-sites-gta-gen9b35e9ba36ecaabe08c02c44808110761:hover {
  background: var(--btn-hover-bg-color, var(--white-100));
  border-color: var(--btn-hover-border-color, var(--btn-hover-bg-color));
  color: var(--btn-hover-font-color, var(--black-100)) !important
}

.rockstargames-sites-gta-gen9e146813e6b911567a15379239351bb9f {
  color: inherit;
  display: flex;
  padding-top: .2rem
}

.rockstargames-sites-gta-gen9add785fa73d6a7f8cdf490add2819974[ps]:after {
  background: red;
  content: "";
  display: inline-block;
  padding-left: 10px
}

.rockstargames-sites-gta-gen9d94aba4fb4bae812e14f8715816752c2 {
  background: var(--white-100);
  border-color: var(--white-100);
  color: var(--black-100);
  --btn-hover-bg-color: var(--black-200);
  --btn-hover-font-color: var(--white-100)
}

.rockstargames-sites-gta-gen9d3207a3907ff5e6cc1498c67d5562087 {
  background: var(--black-100);
  border-color: var(--black-100)
}

.rockstargames-sites-gta-gen9d3207a3907ff5e6cc1498c67d5562087,
.rockstargames-sites-gta-gen9d4515b6bf9a4c714239cac9e27932235 {
  color: var(--white-100);
  --btn-hover-bg-color: var(--white-100);
  --btn-hover-font-color: var(--black-100)
}

.rockstargames-sites-gta-gen9d4515b6bf9a4c714239cac9e27932235 {
  background: var(--black-15);
  border-color: var(--white-100)
}

.rockstargames-sites-gta-gen9a305be36306fd7f0977b052ccab54910,
.rockstargames-sites-gta-gen9a73b743df91203999c432aceb1093e62 {
  border: none
}

.rockstargames-sites-gta-gen9cadebea37980f01b56560143374013b3,
.rockstargames-sites-gta-gen9c28e2bcbd4ed4fc95b67860cb7033999 {
  --btn-hover-bg-color: #387a26;
  border-color: #387a26;
  justify-content: center
}

.rockstargames-sites-gta-gen9af1b302b53e77d0da20f92de2973fd29,
.rockstargames-sites-gta-gen9b5164622a2b180ed2b04eab4d489763b {
  --btn-hover-bg-color: #00439c;
  border-color: #00439c
}

.rockstargames-sites-gta-gen9c4a7b17bb99afb02a9f9b9b133be7844,
.rockstargames-sites-gta-gen9af1b302b53e77d0da20f92de2973fd29,
.rockstargames-sites-gta-gen9b5164622a2b180ed2b04eab4d489763b {
  justify-content: center
}

.rockstargames-sites-gta-gen9c4a7b17bb99afb02a9f9b9b133be7844 {
  --btn-hover-bg-color: #fcaf17;
  border-color: #fcaf17
}

.rockstargames-sites-gta-gen9c4a7b17bb99afb02a9f9b9b133be7844:hover img {
  filter: invert(1)
}

:root {
  --__foundry-global-platform-scales-ratio: 1
}

:root {
  --foundry-global-font-line-height-150: 150%;
  --foundry-global-font-line-height-130: 130%;
  --foundry-global-font-line-height-120: 120%;
  --foundry-global-font-line-height-110: 110%;
  --foundry-global-font-line-height-100: 100%;
  --foundry-global-font-letter-spacing-neg-50: -0.5%;
  --foundry-global-font-letter-spacing-neg-75: -0.75%;
  --foundry-global-font-letter-spacing-neg-100: -1%;
  --foundry-global-font-letter-spacing-neg-150: -1.5%;
  --foundry-global-font-letter-spacing-neg-250: -2.5%;
  --foundry-global-font-letter-spacing-250: 2.5%;
  --foundry-global-font-letter-spacing-200: 2%;
  --foundry-global-font-letter-spacing-100: 1%;
  --foundry-global-font-letter-spacing-25: 0.25%;
  --foundry-global-font-letter-spacing-0: 0%;
  --foundry-global-font-weight-700: 700;
  --foundry-global-font-weight-400: 400;
  --foundry-global-font-family-consolas: "Consolas";
  --foundry-global-font-family-helvetica-now-text: "Helvetica Now Text";
  --foundry-global-font-family-helvetica-now-display: "Helvetica Now Display";
  --foundry-global-font-family-arial: "Arial";
  --foundry-global-border-width-50: 4px;
  --foundry-global-border-width-33: 3px;
  --foundry-global-border-width-25: 2px;
  --foundry-global-border-width-10: 1px;
  --foundry-global-border-width-0: 0px;
  --foundry-global-border-radius-pill: 1000px;
  --foundry-global-border-radius-circle: 9999px;
  --foundry-global-border-radius-400: 32px;
  --foundry-global-border-radius-300: 24px;
  --foundry-global-border-radius-200: 16px;
  --foundry-global-border-radius-150: 12px;
  --foundry-global-border-radius-100: 8px;
  --foundry-global-border-radius-50: 4px;
  --foundry-global-border-radius-25: 2px;
  --foundry-global-border-radius-0: 0px;
  --foundry-alias-font-line-height-body: var(--foundry-global-font-line-height-150);
  --foundry-alias-font-line-height-heading: var(--foundry-global-font-line-height-130);
  --foundry-alias-font-weight-bold: var(--foundry-global-font-weight-700);
  --foundry-alias-font-weight-regular: var(--foundry-global-font-weight-400);
  --foundry-alias-font-letter-spacing-label-fallback: var(--foundry-global-font-letter-spacing-200);
  --foundry-alias-font-letter-spacing-label-primary: var(--foundry-global-font-letter-spacing-200);
  --foundry-alias-font-letter-spacing-body-fallback: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-body-primary: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-heading-fallback: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-letter-spacing-heading-primary: var(--foundry-global-font-letter-spacing-neg-250);
  --foundry-alias-font-family-code-fallback: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-code-primary: var(--foundry-global-font-family-consolas);
  --foundry-alias-font-family-body-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-body-primary: var(--foundry-global-font-family-helvetica-now-text);
  --foundry-alias-font-family-heading-fallback: var(--foundry-global-font-family-arial);
  --foundry-alias-font-family-heading-primary: var(--foundry-global-font-family-helvetica-now-display);
  --__foundry-global-platform-scales-scale-6250: calc(500px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-5000: calc(400px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4500: calc(360px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-4000: calc(320px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3500: calc(280px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-3000: calc(240px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2500: calc(200px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2400: calc(192px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2200: calc(176px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-2000: calc(160px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1800: calc(144px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1600: calc(128px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1400: calc(112px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1200: calc(96px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1100: calc(88px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-1000: calc(80px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-900: calc(72px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-800: calc(64px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-700: calc(56px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-600: calc(48px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-500: calc(40px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-400: calc(32px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-300: calc(24px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-250: calc(20px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-225: calc(18px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-200: calc(16px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-175: calc(14px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-150: calc(12px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-100: calc(8px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-50: calc(4px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-33: calc(3px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-25: calc(2px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-10: calc(1px * var(--__foundry-global-platform-scales-ratio));
  --__foundry-global-platform-scales-scale-0: calc(0px * var(--__foundry-global-platform-scales-ratio));
  --foundry-global-font-spacing-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-font-size-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-font-size-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-font-size-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-font-size-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-font-size-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-font-size-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-font-size-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-font-size-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-font-size-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-font-size-225: var(--__foundry-global-platform-scales-scale-225);
  --foundry-global-font-size-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-font-size-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-font-size-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-6250: var(--__foundry-global-platform-scales-scale-6250);
  --foundry-global-spacing-dimensions-5000: var(--__foundry-global-platform-scales-scale-5000);
  --foundry-global-spacing-dimensions-4500: var(--__foundry-global-platform-scales-scale-4500);
  --foundry-global-spacing-dimensions-4000: var(--__foundry-global-platform-scales-scale-4000);
  --foundry-global-spacing-dimensions-3500: var(--__foundry-global-platform-scales-scale-3500);
  --foundry-global-spacing-dimensions-3000: var(--__foundry-global-platform-scales-scale-3000);
  --foundry-global-spacing-dimensions-2500: var(--__foundry-global-platform-scales-scale-2500);
  --foundry-global-spacing-dimensions-2200: var(--__foundry-global-platform-scales-scale-2200);
  --foundry-global-spacing-dimensions-2000: var(--__foundry-global-platform-scales-scale-2000);
  --foundry-global-spacing-dimensions-1800: var(--__foundry-global-platform-scales-scale-1800);
  --foundry-global-spacing-dimensions-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-dimensions-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-dimensions-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-dimensions-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-dimensions-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-dimensions-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-dimensions-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-dimensions-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-dimensions-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-dimensions-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-dimensions-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-dimensions-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-dimensions-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-dimensions-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-dimensions-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-dimensions-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-dimensions-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-dimensions-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-dimensions-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-global-spacing-gap-2500: var(--__foundry-global-platform-scales-scale-2500);
  --foundry-global-spacing-gap-2400: var(--__foundry-global-platform-scales-scale-2400);
  --foundry-global-spacing-gap-2200: var(--__foundry-global-platform-scales-scale-2200);
  --foundry-global-spacing-gap-2000: var(--__foundry-global-platform-scales-scale-2000);
  --foundry-global-spacing-gap-1800: var(--__foundry-global-platform-scales-scale-1800);
  --foundry-global-spacing-gap-1600: var(--__foundry-global-platform-scales-scale-1600);
  --foundry-global-spacing-gap-1400: var(--__foundry-global-platform-scales-scale-1400);
  --foundry-global-spacing-gap-1200: var(--__foundry-global-platform-scales-scale-1200);
  --foundry-global-spacing-gap-1100: var(--__foundry-global-platform-scales-scale-1100);
  --foundry-global-spacing-gap-1000: var(--__foundry-global-platform-scales-scale-1000);
  --foundry-global-spacing-gap-900: var(--__foundry-global-platform-scales-scale-900);
  --foundry-global-spacing-gap-800: var(--__foundry-global-platform-scales-scale-800);
  --foundry-global-spacing-gap-700: var(--__foundry-global-platform-scales-scale-700);
  --foundry-global-spacing-gap-600: var(--__foundry-global-platform-scales-scale-600);
  --foundry-global-spacing-gap-500: var(--__foundry-global-platform-scales-scale-500);
  --foundry-global-spacing-gap-400: var(--__foundry-global-platform-scales-scale-400);
  --foundry-global-spacing-gap-300: var(--__foundry-global-platform-scales-scale-300);
  --foundry-global-spacing-gap-250: var(--__foundry-global-platform-scales-scale-250);
  --foundry-global-spacing-gap-200: var(--__foundry-global-platform-scales-scale-200);
  --foundry-global-spacing-gap-175: var(--__foundry-global-platform-scales-scale-175);
  --foundry-global-spacing-gap-150: var(--__foundry-global-platform-scales-scale-150);
  --foundry-global-spacing-gap-100: var(--__foundry-global-platform-scales-scale-100);
  --foundry-global-spacing-gap-50: var(--__foundry-global-platform-scales-scale-50);
  --foundry-global-spacing-gap-25: var(--__foundry-global-platform-scales-scale-25);
  --foundry-alias-font-size-body-code: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-body-body-xs: var(--foundry-global-font-size-150);
  --foundry-alias-font-size-body-body-sm: var(--foundry-global-font-size-175);
  --foundry-alias-font-size-body-body-md: var(--foundry-global-font-size-200);
  --foundry-alias-font-size-body-body-lg: var(--foundry-global-font-size-225);
  --foundry-alias-font-size-heading-06: var(--foundry-global-font-size-250);
  --foundry-alias-font-size-heading-05: var(--foundry-global-font-size-300);
  --foundry-alias-font-size-heading-04: var(--foundry-global-font-size-400);
  --foundry-alias-font-size-heading-03: var(--foundry-global-font-size-500);
  --foundry-alias-font-size-heading-02: var(--foundry-global-font-size-600);
  --foundry-alias-font-size-heading-01: var(--foundry-global-font-size-700);
  --foundry-alias-font-size-heading-display: var(--foundry-global-font-size-800);
  --foundry-alias-font-spacing-paragraph: var(--foundry-global-font-spacing-400)
}

.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836:focus,
.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836.rockstargames-sites-gta-gen9c1ac4227ecc3c60c4a623f13dd4609b6 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9edb30438bec02a28ec1d06d071bcf836.rockstargames-sites-gta-gen9c1ac4227ecc3c60c4a623f13dd4609b6 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9ea8cf4797c830e5b5dad68b2ec814e67 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1:focus,
.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1.rockstargames-sites-gta-gen9e7705468e2dbcfc45d23ef5047671698 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-sites-gta-gen9ed7115facef4ace39e8c7486e9066fe1.rockstargames-sites-gta-gen9e7705468e2dbcfc45d23ef5047671698 img {
  filter: invert()
}

.rockstargames-sites-gta-gen9fc8f7fb18de952e853977b6df36af26a {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --pc-legacy: #b2b2b2;
  --pc-enhanced: #beb279;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --scroll-thumb-color: #7d7d7d;
  --scroll-track-color: transparent;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  display: grid;
  position: relative;
  grid-gap: var(--grid-gap-lg)
}

@media (min-width:2560px) {
  .rockstargames-sites-gta-gen9fc8f7fb18de952e853977b6df36af26a {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-sites-gta-gen9fc8f7fb18de952e853977b6df36af26a {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9fc8f7fb18de952e853977b6df36af26a {
    grid-gap: var(--grid-gap-md)
  }
}

.rockstargames-sites-gta-gen9b12c469ae4536819db4253c10b2cd11d {
  display: grid;
  grid-auto-rows: min-content;
  margin-bottom: calc((var(--padding-sm) * 2) + var(--font-size-4) + 6px)
}

.rockstargames-sites-gta-gen9b12c469ae4536819db4253c10b2cd11d div {
  margin-bottom: var(--grid-gap-md)
}

.rockstargames-sites-gta-gen9b12c469ae4536819db4253c10b2cd11d div div {
  margin-bottom: unset
}

.rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304,
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec {
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: var(--black-15);
  border: 1px solid var(--cta-border-color);
  border-radius: var(--border-radius-sm);
  bottom: 0;
  color: var(--white-100);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  justify-content: center;
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 1
}

.rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304:focus-within,
.rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304:hover,
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec:focus-within,
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec:hover {
  background: var(--btn-hover-bg-color, var(--white-100));
  border-color: var(--btn-hover-border-color, var(--btn-hover-bg-color));
  color: var(--btn-hover-font-color, var(--black-100))
}

@supports not ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {

  .rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304,
  .rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec {
    --cta-background-color-noBlur: var(--black-200);
    --cta-background-color: var(--cta-background-color-noBlur) !important;
    --btn-hover-bg-color-noBlur: var(--white-100);
    --btn-hover-bg-color: var(--btn-hover-bg-color-noBlur) !important
  }
}

.rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304 {
  border-color: var(--color-white);
  box-shadow: 0 -50px 120px 0 #000;
  box-shadow: none;
  padding: 2rem !important
}

.rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304[data-variant=white] {
  background: #1a1a1a;
  border-color: var(--white-15)
}

@media (min-width:1280px) and (max-width:1660px) {
  .rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304[data-variant=elevatorPitch] {
    padding: 1rem !important
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-gta-gen9bb945d977a4db6fdd9206dbfe8581304[data-variant=elevatorPitch] {
    padding: 1rem !important
  }
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec {
  --expandingPlatformButton-expandDuration: 0.3s
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=elevatorPitch],
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=primary] {
  background: var(--rockstar-gold, #fcaf17);
  border: none;
  border-radius: var(--border-radius-sm, 4px);
  color: var(--foundry-alias-color-background-bold-layer-0);
  height: 3.5rem;
  padding: 0 !important;
  transition: background-color .3s ease-out
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=elevatorPitch] .rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0,
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=primary] .rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0 {
  align-items: stretch
}

@media (min-width:768px) and (max-width:1539px) {

  .rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=elevatorPitch],
  .rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=primary] {
    height: 3.5rem
  }
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=elevatorPitch]:hover,
.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=primary]:hover {
  background-color: var(--foundry-global-color-yellow-static-600)
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=white] {
  background: var(--white-100);
  color: var(--black-200);
  transition: all var(--expandingPlatformButton-expandDuration) ease, background var(--expandingPlatformButton-expandDuration) ease .2s
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec[data-variant=white][data-animating=false]:hover {
  background: var(--rockstar-gold, #fcaf17);
  border-color: var(--rockstar-gold, #fcaf17)
}

.rockstargames-sites-gta-gen9eaa10e0601812da4ea334974165d92ec:focus-within {
  outline: 2px auto Highlight;
  outline: 5px auto var-webkit-focus-ring-color;
  outline-offset: 1px
}

.rockstargames-sites-gta-gen9e752e3ffffce454f84c993a62a279f87 {
  width: 100%
}

.rockstargames-sites-gta-gen9e752e3ffffce454f84c993a62a279f87 .rockstargames-sites-gta-gen9ee432a5defea7b8181973d3a9ad3190b,
.rockstargames-sites-gta-gen9e752e3ffffce454f84c993a62a279f87 a {
  pointer-events: auto !important
}

.rockstargames-sites-gta-gen9e752e3ffffce454f84c993a62a279f87[data-animate=open] {
  display: grid;
  opacity: 1;
  transition: opacity .9s ease-out .3s, height .2s ease-out
}

.rockstargames-sites-gta-gen9e752e3ffffce454f84c993a62a279f87[data-animate=closed] {
  opacity: 0;
  transition: opacity .1s ease-out, height .2s ease-out
}

.rockstargames-sites-gta-gen9ee432a5defea7b8181973d3a9ad3190b {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  right: var(--padding-sm);
  top: var(--padding-sm)
}

.rockstargames-sites-gta-gen9ee432a5defea7b8181973d3a9ad3190b img {
  display: block
}

.rockstargames-sites-gta-gen9ee432a5defea7b8181973d3a9ad3190b:focus,
.rockstargames-sites-gta-gen9ee432a5defea7b8181973d3a9ad3190b:focus-visible {
  outline-color: #fff !important
}

.rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 {
  display: grid;
  grid-gap: var(--grid-gap-sm)
}

@media (min-width:768px) {
  .rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 {
    grid-template-columns: 1fr 1fr
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 {
    padding: var(--padding-xs) var(--padding-sm);
    grid-gap: var(--grid-gap-xs)
  }
}

.rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 a,
.rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 button {
  background: var(--black-200);
  padding: var(--padding-sm);
  width: 100%
}

.rockstargames-sites-gta-gen9e950c05307f67ce36d561a09027fd844 img {
  display: block;
  height: 1rem;
  max-width: 100%;
  object-fit: contain
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a {
  --btn-hover-bg-color: var(--white-100);
  --btn-hover-font-color: var(--black-100);
  align-items: center !important;
  background: var(--black-100) !important;
  border: 1px solid;
  border-color: var(--black-100);
  border-radius: var(--border-radius-sm);
  color: var(--white-100);
  cursor: pointer;
  display: inline-flex;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  justify-content: center;
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  padding: var(--padding-sm) var(--padding-lg);
  text-transform: uppercase;
  transition: background .3s ease-out, color .3s ease-out, border-color .3s ease-out
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9e6c21e19f66ac6c50547342d3dd72dd4,
.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9c03015dbaf51a94ba1826bb21f5d040f,
.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9dde1b553776bdd59373d22a43479de29 {
  --btn-hover-bg-color: #387a26;
  border-color: #387a26;
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9dd89bc9ad4dba162494e28c6358baa41,
.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9ed20f3369b590314810f7996943fdaa4,
.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9f046700558956d566323b32d87c4a54f {
  --btn-hover-bg-color: #00439c;
  border-color: #00439c;
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9ffc20241c500599d4ee134fcffd66961 {
  --btn-hover-bg-color: #fcaf17;
  border-color: #fcaf17;
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9ffc20241c500599d4ee134fcffd66961:hover img {
  filter: invert(1)
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9a2ef6590cf9e642c1a2a8c589a792928 {
  --btn-hover-bg-color: #beb279;
  border-color: #beb279;
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9a2ef6590cf9e642c1a2a8c589a792928:hover img {
  filter: invert(1)
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9e68d88a0e9f24a2f0bcf7da8a0e1b388,
.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9d0d623dce429f6ae2fd898e1d551257e {
  --btn-hover-bg-color: var(--border-color);
  border-color: var(--border-color);
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a.rockstargames-sites-gta-gen9e8e3ea0f1d334667f3928f696308060e {
  --btn-hover-bg-color: #e60012;
  border-color: #e60012;
  justify-content: center
}

.rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a:hover {
  background: var(--btn-hover-bg-color, var(--white-100)) !important;
  border-color: var(--btn-hover-border-color, var(--btn-hover-bg-color));
  color: var(--btn-hover-font-color, var(--black-100));
  cursor: pointer
}

@media (min-width:1280px) and (max-width:1660px) {
  [data-variant=elevatorPitch] .rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a {
    padding: var(--padding-sm) var(--padding-xs)
  }
}

@media (min-width:1920px) {
  [data-variant=elevatorPitch] .rockstargames-sites-gta-gen9fa40c93ee13fdec88bb8dc08ce36353a {
    padding: var(--padding-sm) var(--padding-xs)
  }
}

.rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0 {
  background: none;
  border: none;
  color: inherit;
  cursor: default;
  font: inherit;
  font-family: var(--font-family-h) !important;
  margin: 0;
  padding: calc(var(--padding-sm) + 2px) var(--padding-xs) var(--padding-sm);
  pointer-events: none;
  text-align: center;
  text-transform: uppercase;
  width: 100%
}

.rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0[aria-expanded=false] {
  cursor: pointer;
  pointer-events: auto;
  transition: color .3s ease
}

.rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0:focus {
  outline: none
}

[data-variant=white] .rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0 {
  --font-family-h: var(--rsg-font-family-h)
}

[data-brand=reddeadredemption] .rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0 {
  --font-family-h: "RDRUltra"
}

.rockstargames-sites-gta-gen9c240c5768c5acdd2bc6022568ef877f0:lang(ru_ru) {
  font-family: ChaletComprime
}

/*# sourceMappingURL=f214983b6b4914d70affd1e322d35c1e.css.map*/