.rockstargames-modules-core-feedbacke6966deef8e9fa2fc0c20c60e8e98447 {
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: 860px;
  padding: var(--padding-top-bottom) var(--padding-sides);
  text-align: center;
  width: 100%
}

.rockstargames-modules-core-feedbacke6966deef8e9fa2fc0c20c60e8e98447 h1 {
  margin-bottom: 1rem
}

.rockstargames-modules-core-feedbacke6966deef8e9fa2fc0c20c60e8e98447 form textarea {
  background: #191919;
  border: none;
  color: #fff;
  display: block;
  font-family: inherit;
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
  resize: none;
  text-align: left;
  width: 100%
}

.rockstargames-modules-core-feedbacke6966deef8e9fa2fc0c20c60e8e98447 form button {
  background: #c00;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 1rem
}

.rockstargames-modules-core-feedbacke6966deef8e9fa2fc0c20c60e8e98447 form button:hover {
  color: #fff
}

.rockstargames-modules-core-feedbackb18adb6c0d0f7b76f23444a372f9400e {
  font-size: .75em;
  margin-top: .5rem
}

.rockstargames-modules-core-feedbackbe5337748f1e0b01135113cd92b4395d {
  margin-bottom: var(--section-margin-bottom)
}

.rockstargames-modules-core-feedbackfd84bf2e2ed1843089fa2361d6036f5b {
  padding: 12px
}

.rockstargames-modules-core-feedbackfd84bf2e2ed1843089fa2361d6036f5b:empty {
  display: none
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364 {
  font-family: var(--game-header-family)
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364 a {
  display: block
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackb111f2541e43cc8c390d757c2c21533a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/baa032870d03761636b17aac2c11a5fb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbacka5b607ccdfe104ec9d24d455025378dd:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2fc6dc87873f88e7bb39f52783630fb7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackaf0dbce46cd8308ab17a19bc9e8fe701:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4e58f8c3b6d8808a9aa17c735978f03e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackae4b826011d432088e47579c20742f9d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/296b528dd0f3d88686021eb63b56776d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackfc6d0224791b79c9bc0e6fddd747b198:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/badb4d05a59955b4b58bffa4d7f7ef90.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbacke0503b1690a14aba49ec17bd179290a4:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebc40b6e6d4a162948865af934ce55cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackb64cd524f70de2178ad95b69dcf51379:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/def0e58e0879b7d1c9a5bdf555e838e5.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbacke4b6ae963d6b6495e6e4784102b97f8d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/dd680de47a094378fa317457f99f1b59.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackeaf572b02cbbf9fbc3b511ff25e942e1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8823ba294e06184db09624bc8146de66.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackc07bd581bc6346d976a3e6f72d8624eb:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/be42539a97ae0fbb187272a613903928.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackd24df2c476400150fe57e91cd3baa212:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8dac20aeec043a8c6dab5702d322a28e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackba0e6e71c000deeb2604b8ddef80be3c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/19b94865eef6caef6c0d32810c2bcd48.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackd64ab972df7e87e35c4a7ef58f396826:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/0c35269d4001f4ad49ffa0cd176890f6.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbackcb9120943a3564e86857a5d65c693059:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/05aa1ea95d3c9b4ce972796ba782de70.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 a.rockstargames-modules-core-feedbacka1afe4e225c3ad0c27ae96c886b949bd:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/fe5047d4494cc7f2b917ea03f00500de.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 .rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 a {
  border: 1px solid #cfcfd1;
  border-radius: 6px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 .rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a {
  border-bottom: 1px solid #cfcfd1
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackf5dde85a91065bce0698405c10b3fe20 .rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a:before {
  display: none
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb111f2541e43cc8c390d757c2c21533a:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d9dd1f6e7267e80b91394362213baa9.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackf7b0668549d6b772685d9568164471bb:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/54260d9e704246890fdee61a9ee573cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackee27ae9bba32e7ea531bb41c919be57f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4ec3379fea78b0719b2f8885d75dfefb.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacka12e40dad77d834a8fbcffc0d6b48be8:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/d2b7bdc21f70d49802f34bfdc36101cf.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb39df4ed28afdd0b7a0a43b3497960b6:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackaf731f308fa0e4130a2b3a1e05f32b31:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacka3d381d5c333a9add95aa9a23bdc026b:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2a7511e9a7a4386d83038af497acc8c0.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackc8cad1a5d293f47253c99c06b8fdd271:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/14725123b261e940fa47593d5f5bd26a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackce97a054d5d10f101e4da90fa0cd1661:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c4d26921f28919b8be95a38836b46bd.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb161bfd4723a4f67dcc27fb491a565b2:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/248ba2222c6510a84a28a16d9d31eac8.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackd5135a044736ab6ff22429c499e4714e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacka0248f25672f01789e845559916db5cc:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4c21f7fffe733af8e4c33202d03a38df.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb190972d51976848bc7a990fc03068d7:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/f2a6d9f8f5d2b92aa2ac4d446af7af0a.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacka2695d8670eb74682425ffd987345bfe:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/af2ba0eb7feee09f172363e5377abe3d.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb814607731e8452cafc53538e264d97c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/2c84d7054b0c9da9cbf72cbcfd034a39.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackcb2841a25f7a0b3128dbf50ac928e4d0:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/8d69145b5edb9904a8b437f85fa26219.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackdd240d6af4bf191a1674bc9c5a77ebd3:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/ebfe0ea93779dddb8bee56e8aa07b3c7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacka7bc2873a068b918ee5b3a3303768d14:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacked3fc6d2c85af36722cc59de3a747f52:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackaf0dbce46cd8308ab17a19bc9e8fe701:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackad151ad1822adf92968e7cf65b0f3c55:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackbf5bfc2ab8e3b30bb566600126de2b46:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/da09d9360a9661ae80e430e621e28fe4.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackb0bbf3adee52ab0791b9b62d0d5a5490:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/cd121dcbabd8470e0df3dc6f64c4d7a3.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackc46968e6ee5802feff02e03cf58837df:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/90136e3a94a26f89874cd39bdc98b9d2.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbacke0dd5f6ab9b33b49c42c27657dcad6b3:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e9ae20545f33df248a25e0c89476d14e.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 a.rockstargames-modules-core-feedbackfa6b7da8488ce96a9faa560cf2ede601:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/6798b2316d4cf14e06206e912cffecc7.svg);
  height: 50px;
  margin-bottom: 8px
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 .rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 a {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/24a9bf775210b3ac386552322ae2e1a9.png)
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 .rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a {
  border-bottom: 1px solid #fff
}

.rockstargames-modules-core-feedbackc7f675f8668c5cf80b6d240c3d86b364.rockstargames-modules-core-feedbackdf83489f2baff10d7e8dd23b4fa04e67 .rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a:before {
  height: 30px;
  margin-right: 12px;
  width: 30px
}

.rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-transform: uppercase
}

.rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 a {
  padding: 1rem
}

.rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 a,
.rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 {
  display: flex;
  flex-flow: column
}

.rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 {
  margin-bottom: calc(var(--section-margin-bottom) / 2)
}

.rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a {
  align-items: center;
  color: var(--standard-color);
  display: flex;
  flex: 1 1 100%;
  padding: .75rem
}

.rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3:empty,
.rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3:empty {
  display: none
}

.rockstargames-modules-core-feedbackea3691443f71af92c22df0dbaca6f9e3 a:before,
.rockstargames-modules-core-feedbackbcef5efffd7fee92036079f5083c54d3 a:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block
}

/*# sourceMappingURL=a5bc77306b0111244083fff86dbe2e83.css.map*/