.c7883b0d0aeedd50e353 {
  margin: 0 auto;
  max-width: var(--max-width);
  max-width: 860px;
  padding: var(--padding-top-bottom) var(--padding-sides);
  text-align: center;
  width: 100%
}

.c7883b0d0aeedd50e353 h1 {
  margin-bottom: 1rem
}

.c7883b0d0aeedd50e353 form textarea {
  background: #191919;
  border: none;
  color: #fff;
  display: block;
  font-family: inherit;
  margin-bottom: 12px;
  outline: none;
  padding: 8px;
  resize: none;
  text-align: left;
  width: 100%
}

.c7883b0d0aeedd50e353 form button {
  background: #c00;
  border: none;
  cursor: pointer;
  line-height: 1;
  padding: 1rem
}

.c7883b0d0aeedd50e353 form button:hover {
  color: #fff
}

.c34fb17f9cc7b940bd81 {
  font-size: .75em;
  margin-top: .5rem
}

.e52e6d78d3b02b369b9f {
  margin-bottom: var(--section-margin-bottom)
}

.b7e9f7e6a2f3a2029c9e {
  padding: 12px
}

.b7e9f7e6a2f3a2029c9e:empty {
  display: none
}

.cccf64700b11dac5987a {
  font-family: var(--game-header-family)
}

.cccf64700b11dac5987a a {
  display: block
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.dfef683a041d1cbe7527:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/900a866d9f1816a798ac.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.cfc6b027e89af2247e02:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/af28d9a7e1d4e1c936f7.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.a00dd4f7bc78b5793082:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/e6c6e48a17cae5195416.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.fabfe3659d7eea7064b5:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/13cbdc455f53368276da.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.a277d775a6585e292d40:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/46dd177c6ba4a75f6226.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.e0cedf386f9955c1ff30:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/24117d1f69b43bfae87e.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.bfe7c56ea258689b1984:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/66511c810278928dd24f.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.d56a866b12f323fb0c4c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/fab9619ae2503b3dd155.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.a68d43cbd2ec77962a68:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/8911a2c2cd7605c146fd.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.c86e56800bc8a5700be1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/39f8e5c205d80df22aaf.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.fae45690332383def963:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/40a5ea6a98c2b0d693ce.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.f88b175f669a2780a387:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/ba65eb6021d160670d19.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.c175ab13f33f9f9d6c83:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/c2a9cc28fe3da74aa0fc.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.c8e642ac166f669e85b5:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/34004296abd3fe3cfa21.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 a.f4058b19c3911b99dc27:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/8fb6158ef2e843e5497b.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 .cc568c01641bf69f1949 a {
  border: 1px solid #cfcfd1;
  border-radius: 6px
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 .bb70d767f0b4d80ca3c9 a {
  border-bottom: 1px solid #cfcfd1
}

.cccf64700b11dac5987a.c5e37f81efbbd23ed6f7 .bb70d767f0b4d80ca3c9 a:before {
  display: none
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.dfef683a041d1cbe7527:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/fd7dc42073223716ba9f.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.b7016a65383bcfbc3571:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/41553348f97af5a13983.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.a9eae835e0f576550a12:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/f8d6d0b716686a5a8279.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.b2aedadc0ba5cb9b1188:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/92b8bf0112e734c409f7.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.d7dd15b155e194e882f1:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.ce7caf868bf8d385924f:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/8b0448007ccf5d29b422.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.bdbe0047a8b26485fc86:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/25f5ebee9dfb5bec75d9.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.a5d9a6a7b8e904d75ef6:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/8fb0b07d23241579f90e.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.ea2f6731e4c15b6b8f99:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/111c21069ae61038e6ec.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.f414a19f3924821a9ddb:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/2d94ff2ca3b886548bad.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.e21923453df00c318b9e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.a42af501696fa1732c25:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/3a0bc3d7e6c06efde90d.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.fe212b69a8fa0c5315ca:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/8b0448007ccf5d29b422.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.e54a67ad0896b101913b:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/87627c7d2285b6f1cad8.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.ef0fd5ca8e146d911db7:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/e2baa0fb13fe74c4f21c.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.b5507bcc346daf85cd0d:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/58cc94136a0873332dda.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.c74e6af30879cd133b7c:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/613ff4258e70f42a9e1f.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.e5f876b6bbdf842514e2:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.f82f857a5f4f7dfe0b25:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.a00dd4f7bc78b5793082:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.efc188b58ea907a5dc20:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/f5046e9c27b52e280c8f.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.a8ac61c47c839d38c171:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/f5046e9c27b52e280c8f.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.df754e315c1d0c950b59:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/6d3861b016b3282898a2.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.e14d990b92783f081ccb:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/5ce887b24c23e5f673a4.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.fd485c5cc5f8ccbb6fae:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/f4512814f44f6bb2cc1e.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f a.c7213488ff2a969fef4e:before {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/1b036eb79169115f5067.svg);
  height: 50px;
  margin-bottom: 8px
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f .cc568c01641bf69f1949 a {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe4/__common/img/986e6e9959dc8307c7f1.png)
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f .bb70d767f0b4d80ca3c9 a {
  border-bottom: 1px solid #fff
}

.cccf64700b11dac5987a.df6c57d20b4eb111151f .bb70d767f0b4d80ca3c9 a:before {
  height: 30px;
  margin-right: 12px;
  width: 30px
}

.cc568c01641bf69f1949 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  text-transform: uppercase
}

.cc568c01641bf69f1949 a {
  padding: 1rem
}

.cc568c01641bf69f1949 a,
.bb70d767f0b4d80ca3c9 {
  display: flex;
  flex-flow: column
}

.bb70d767f0b4d80ca3c9 {
  margin-bottom: calc(var(--section-margin-bottom) / 2)
}

.bb70d767f0b4d80ca3c9 a {
  align-items: center;
  color: var(--standard-color);
  display: flex;
  flex: 1 1 100%;
  padding: .75rem
}

.cc568c01641bf69f1949:empty,
.bb70d767f0b4d80ca3c9:empty {
  display: none
}

.cc568c01641bf69f1949 a:before,
.bb70d767f0b4d80ca3c9 a:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block
}