.b3600f92f79e1d3dbe3d {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.b3600f92f79e1d3dbe3d.b7ee2d5b5da944634ce3 {
  opacity: .25;
  pointer-events: none
}

.b3600f92f79e1d3dbe3d:hover {
  opacity: 1
}

.fad379fef4fed9cdc80b {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%27110%27 height=%27100%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cg fill=%27none%27 fill-rule=%27evenodd%27%3E%3Crect fill=%27%23FCAF17%27 width=%27110%27 height=%27100%27 rx=%2720%27/%3E%3Cpath fill=%27%23000%27 d=%27m42 70 34.641-20L42 30z%27/%3E%3C/g%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 110 100%27 style=%27enable-background:new 0 0 110 100%27 xml:space=%27preserve%27%3E%3Cpath d=%27M20 0h70c11.046 0 20 8.954 20 20v60c0 11.046-8.954 20-20 20H20C8.954 100 0 91.046 0 80V20C0 8.954 8.954 0 20 0z%27 style=%27opacity:.75%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27m42 70 34.641-20L42 30z%27/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: var(--player-bigplay-active-size, 1%), var(--player-bigplay-inactive-size, 100%);
  max-width: 8rem;
  position: relative;
  transition: background-size .2s;
  width: 12vw;
  z-index: 1
}

.fad379fef4fed9cdc80b:after {
  content: "";
  display: block;
  padding-top: 90.90909091%
}

.c03bf01b233b8b5f4c70 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.c03bf01b233b8b5f4c70.d44a958396ef247f6d02 {
  opacity: .25;
  pointer-events: none
}

.c03bf01b233b8b5f4c70:hover {
  opacity: 1
}

.b50398962ecc9cc9f682 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.b50398962ecc9cc9f682.d44a958396ef247f6d02 {
  opacity: .25;
  pointer-events: none
}

.b50398962ecc9cc9f682:hover {
  opacity: 1
}

.b50398962ecc9cc9f682.ed76981908a267ecaab3 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-1248 -1300%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27EXIT-FULL-SCREEN%27 transform=%27translate%28960 358%29%27%3E%3Cg id=%27Group-5%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M10 0v6h6V3h-3V0z%27/%3E%3Cpath id=%27Fill-2%27 class=%27st0%27 d=%27M10 10v6h3v-3h3v-3z%27/%3E%3Cpath id=%27Fill-3%27 class=%27st0%27 d=%27M3 0v3H0v3h6V0z%27/%3E%3Cpath id=%27Fill-4%27 class=%27st0%27 d=%27M0 10v3h3v3h3v-6z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.b50398962ecc9cc9f682.d4445b33bd1640e1a9a7 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-1248 -1236%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27FULL-SCREEN%27 transform=%27translate%28960 294%29%27%3E%3Cg id=%27Group-5%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M0 10v6h6v-3H3v-3z%27/%3E%3Cpath id=%27Fill-2%27 class=%27st0%27 d=%27M0 0v6h3V3h3V0z%27/%3E%3Cpath id=%27Fill-3%27 class=%27st0%27 d=%27M13 10v3h-3v3h6v-6z%27/%3E%3Cpath id=%27Fill-4%27 class=%27st0%27 d=%27M10 0v3h3v3h3V0z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.dc394ca4334529e53515 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.dc394ca4334529e53515.f79f022fb8e6027c9b92 {
  opacity: .25;
  pointer-events: none
}

.dc394ca4334529e53515:hover {
  opacity: 1
}

.c5fe5dd788b170faec73 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.c5fe5dd788b170faec73.f79f022fb8e6027c9b92 {
  opacity: .25;
  pointer-events: none
}

.c5fe5dd788b170faec73:hover {
  opacity: 1
}

.c5fe5dd788b170faec73.cc7d3697c67e373ce50b {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cg transform=%27translate%2816 16%29%27%3E%3Cdefs%3E%3Cfilter id=%27a%27 filterUnits=%27userSpaceOnUse%27 x=%270%27 y=%270%27 width=%2718%27 height=%2716%27%3E%3CfeColorMatrix values=%271 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0%27/%3E%3C/filter%3E%3C/defs%3E%3Cmask maskUnits=%27userSpaceOnUse%27 x=%270%27 y=%270%27 width=%2718%27 height=%2716%27 id=%27b%27%3E%3Cg style=%27filter:url%28%23a%29%27%3E%3Cpath style=%27fill:%23fff%27 d=%27M0 0h18v16H0z%27/%3E%3C/g%3E%3C/mask%3E%3Cpath d=%27M11.5 11.5c-.9.9-2.1 1.5-3.5 1.5-2.8 0-5-2.2-5-5s2.2-5 5-5 5 2.2 5 5h-2l3.5 4L18 8h-2c0-4.4-3.6-8-8-8S0 3.6 0 8s3.6 8 8 8c2.2 0 4.2-.9 5.7-2.3l-2.2-2.2z%27 style=%27mask:url%28%23b%29;fill:%23fff%27/%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.c5fe5dd788b170faec73.e2b1747a91f2e991cf59 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-288 -1300%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27PAUSE%27 transform=%27translate%280 358%29%27%3E%3Cg id=%27Group-3%27 transform=%27translate%2818 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M0 16h4V0H0z%27/%3E%3Cpath id=%27Fill-2%27 class=%27st0%27 d=%27M8 16h4V0H8z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.c5fe5dd788b170faec73.b30ce14c322c7eb3eb72 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cpath style=%27fill:%23fff%27 d=%27M19 16v16l14-8z%27/%3E%3C/svg%3E") no-repeat 50% /cover
}

.c17267ab4fab18ec88d2 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.c17267ab4fab18ec88d2.ca02e1a3d33d5e6761c7 {
  opacity: .25;
  pointer-events: none
}

.c17267ab4fab18ec88d2:hover {
  opacity: 1
}

.f26e681298cf2139dbd5 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cpath d=%27M8 11c-1.7 0-3-1.3-3-3s1.3-3 3-3 3 1.3 3 3-1.3 3-3 3zm8-1.5v-3h-2.2c-.1-.5-.4-1.1-.6-1.5l1.6-1.6-2.1-2.1L11 2.8c-.5-.3-1-.5-1.5-.6V0h-3v2.2c-.5.1-1.1.4-1.5.6L3.4 1.3 1.3 3.4 2.8 5c-.2.4-.5 1-.6 1.5H0v3h2.2c.1.5.4 1.1.6 1.5l-1.6 1.6 2.1 2.1L5 13.2c.5.3 1 .5 1.5.6V16h3v-2.2c.5-.1 1.1-.4 1.5-.6l1.6 1.6 2.1-2.1-1.5-1.7c.3-.5.5-1 .6-1.5H16z%27 style=%27fill:%23fff%27 transform=%27translate%2816 16%29%27/%3E%3C/svg%3E") no-repeat 50% /cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  position: relative;
  transition: opacity .2s
}

.f26e681298cf2139dbd5.ca02e1a3d33d5e6761c7 {
  opacity: .25;
  pointer-events: none
}

.f26e681298cf2139dbd5:hover {
  opacity: 1
}

.fec13f5369e3b2ff2059 {
  background: rgba(0, 0, 0, .75);
  bottom: 100%;
  display: flex;
  flex-flow: column;
  opacity: 0;
  padding: 1rem 0;
  pointer-events: none;
  position: absolute;
  text-align: left;
  transition: opacity .2s
}

.fec13f5369e3b2ff2059 button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  padding: calc(var(--padding-top-bottom) / 4) var(--padding-sides);
  transition: color .2s
}

.fec13f5369e3b2ff2059 button.ef2ef4dc383f1befe3e9,
.fec13f5369e3b2ff2059 button:hover {
  color: #fcaf17
}

.fec13f5369e3b2ff2059.cfafa28f8e030a2c8c2d {
  opacity: 1;
  pointer-events: auto
}

.a11f90e9fe6553e53049 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.a11f90e9fe6553e53049.ed397f6cb5b55083c252 {
  opacity: .25;
  pointer-events: none
}

.a11f90e9fe6553e53049:hover {
  opacity: 1
}

.a538728f36f8a70af804 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-1103 -1236%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27SHARE%27 transform=%27translate%28815 294%29%27%3E%3Cg id=%27Group-3%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M0 0v16h16v-6h-3v3H3V3h3V0z%27/%3E%3Cpath id=%27Fill-2%27 class=%27st0%27 d=%27M8 0v3h2.9L5.4 8.5l2.1 2.1L13 5.1V8h3V0z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover;
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.a538728f36f8a70af804.ed397f6cb5b55083c252 {
  opacity: .25;
  pointer-events: none
}

.a538728f36f8a70af804:hover {
  opacity: 1
}

.f4edce2488c0b3bf9c3b {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.f4edce2488c0b3bf9c3b.e98a35eac5cb0eb43f85 {
  opacity: .25;
  pointer-events: none
}

.f4edce2488c0b3bf9c3b:hover {
  opacity: 1
}

.beb5506f1408f28fa824 {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 0 .75rem 0 0
}

.beb5506f1408f28fa824.e98a35eac5cb0eb43f85 {
  opacity: .25;
  pointer-events: none
}

.a45af78de03893e5cdf2 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.a45af78de03893e5cdf2.deddaa47e4586ecbbbed {
  opacity: .25;
  pointer-events: none
}

.a45af78de03893e5cdf2:hover {
  opacity: 1
}

.b65ddb0acdfd081de8c5 {
  cursor: pointer;
  opacity: .85;
  padding: 0 calc(var(--icon-size) / 2);
  transition: opacity .2s
}

.b65ddb0acdfd081de8c5.deddaa47e4586ecbbbed {
  opacity: .25;
  pointer-events: none
}

.b65ddb0acdfd081de8c5:hover {
  opacity: 1
}

.b65ddb0acdfd081de8c5.d5b78ef8ee3ad97df584 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-432 -1364%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27VOLUME-OFF%27 transform=%27translate%28144 422%29%27%3E%3Cg id=%27Group-4%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M8 0 4 4H0v8h4l4 4z%27/%3E%3Cpath class=%27st0%27 d=%27M16 6.3 14.7 5 13 6.7 11.3 5 10 6.3 11.7 8 10 9.7l1.3 1.3L13 9.3l1.7 1.7L16 9.7 14.3 8z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.b65ddb0acdfd081de8c5.c237efd424bb133c5418 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-432 -1300%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27VOLUME-HALF%27 transform=%27translate%28144 358%29%27%3E%3Cg id=%27Group-7%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-3%27 class=%27st0%27 d=%27M12 8c0-1.5-.8-2.9-2-3.6v7.2c1.2-.7 2-2.1 2-3.6%27/%3E%3Cpath id=%27Fill-5%27 class=%27st0%27 d=%27M0 4v8h4l4 4V0L4 4z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.b65ddb0acdfd081de8c5.dc1ecedd49fb755593c6 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cg id=%27VIDEO-PLAYER%27%3E%3Cg id=%27Components%27 transform=%27translate%28-432 -1236%29%27%3E%3Cg id=%27UI-COMPONENTS%27 transform=%27translate%28288 942%29%27%3E%3Cg id=%27VOLUME-ON%27 transform=%27translate%28144 294%29%27%3E%3Cg id=%27Group-7%27 transform=%27translate%2816 16%29%27%3E%3Cpath id=%27Fill-1%27 class=%27st0%27 d=%27M10 0v2.2c2.3.8 4 3.1 4 5.8s-1.7 5-4 5.8V16c3.4-.9 6-4.1 6-8S13.4.9 10 0%27/%3E%3Cpath id=%27Fill-3%27 class=%27st0%27 d=%27M12 8c0-1.5-.8-2.9-2-3.6v7.2c1.2-.7 2-2.1 2-3.6%27/%3E%3Cpath id=%27Fill-5%27 class=%27st0%27 d=%27M0 4v8h4l4 4V0L4 4z%27/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat 50% /cover
}

.c01882856ed99c2db8e4 {
  cursor: pointer;
  height: 2rem;
  position: relative
}

.c01882856ed99c2db8e4 .f1ab6eca54703af6cc93,
.c01882856ed99c2db8e4 canvas {
  width: 100%
}

.c01882856ed99c2db8e4 .f1ab6eca54703af6cc93,
.c01882856ed99c2db8e4 .b815d644b9819e032b95,
.c01882856ed99c2db8e4 canvas {
  bottom: 0;
  height: .5rem;
  left: 0;
  position: absolute;
  transition: height .3s, bottom .3s
}

:active.c01882856ed99c2db8e4 .f1ab6eca54703af6cc93,
:active.c01882856ed99c2db8e4 .b815d644b9819e032b95,
:active.c01882856ed99c2db8e4 canvas {
  height: 1rem
}

@media (hover:hover) {

  :hover.c01882856ed99c2db8e4 .f1ab6eca54703af6cc93,
  :hover.c01882856ed99c2db8e4 .b815d644b9819e032b95,
  :hover.c01882856ed99c2db8e4 canvas {
    height: 1rem
  }
}

.b815d644b9819e032b95 {
  background: #fcaf17;
  width: calc(var(--pct-current, 0) * 100%)
}

.f1ab6eca54703af6cc93 {
  background: hsla(0, 0%, 100%, .25)
}

.a23a233c6a691302eb0f {
  left: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  position: absolute;
  text-shadow: 0 0 1rem #000;
  top: 0;
  transform: translateY(0);
  transition: transform .3s;
  width: 100%;
  z-index: 1
}

.da2b977d6026210749fc {
  transform: translateY(-100%)
}

.e4061b4f884fd1d4fe32 {
  filter: blur(var(--blur-because-in-bg, 0));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: filter .8s;
  width: 100%
}

.e4061b4f884fd1d4fe32>* {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.c43e6d7442e3aed6f594 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.83%27%3E%3Cg data-name=%27Layer 2%27%3E%3Cg data-name=%27Layer 1%27%3E%3Cpath d=%27M214.55 197.37a4.94 4.94 0 1 1 1.45-3.5 4.75 4.75 0 0 1-1.45 3.5Zm-6.52-6.5a4.27 4.27 0 0 0 0 6 4.25 4.25 0 0 0 6 0 4.26 4.26 0 0 0-6-6Zm2.92.27a4.24 4.24 0 0 1 1.5.2 1.36 1.36 0 0 1 .84 1.38 1.17 1.17 0 0 1-.53 1.08 2.45 2.45 0 0 1-.78.26 1.32 1.32 0 0 1 .93.52 1.57 1.57 0 0 1 .3.84v.8a1.2 1.2 0 0 0 0 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.43Zm1 .89a2.38 2.38 0 0 0-1.16-.2H210v1.94h.87a2.48 2.48 0 0 0 .93-.13.94.94 0 0 0 .2-1.64Z%27/%3E%3Cpath d=%27M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86Z%27 style=%27fill:%23fcaf17%27/%3E%3Cpath d=%27M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 0 1-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93ZM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Z%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  bottom: 12px;
  position: absolute;
  right: 12px;
  width: 50px
}

.c43e6d7442e3aed6f594:after {
  content: "";
  display: block;
  padding-top: 91.66666667%
}

.bb7fc836f725dcfb383b {
  --padding-sides: 1rem;
  --padding-top-bottom: 1rem;
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

.bb7fc836f725dcfb383b:active {
  --player-bigplay-active-size: 100%;
  --player-bigplay-inactive-size: 1%
}

@media (hover:hover) {
  .bb7fc836f725dcfb383b:hover {
    --player-bigplay-active-size: 100%;
    --player-bigplay-inactive-size: 1%
  }
}

.ab20e10f93363e21ab64 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.83%27%3E%3Cg data-name=%27Layer 2%27%3E%3Cg data-name=%27Layer 1%27%3E%3Cpath d=%27M214.55 197.37a4.94 4.94 0 1 1 1.45-3.5 4.75 4.75 0 0 1-1.45 3.5Zm-6.52-6.5a4.27 4.27 0 0 0 0 6 4.25 4.25 0 0 0 6 0 4.26 4.26 0 0 0-6-6Zm2.92.27a4.24 4.24 0 0 1 1.5.2 1.36 1.36 0 0 1 .84 1.38 1.17 1.17 0 0 1-.53 1.08 2.45 2.45 0 0 1-.78.26 1.32 1.32 0 0 1 .93.52 1.57 1.57 0 0 1 .3.84v.8a1.2 1.2 0 0 0 0 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.43Zm1 .89a2.38 2.38 0 0 0-1.16-.2H210v1.94h.87a2.48 2.48 0 0 0 .93-.13.94.94 0 0 0 .2-1.64Z%27/%3E%3Cpath d=%27M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86Z%27 style=%27fill:%23fcaf17%27/%3E%3Cpath d=%27M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 0 1-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93ZM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Z%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  bottom: 12px;
  position: absolute;
  right: 12px;
  width: 50px
}

.ab20e10f93363e21ab64:after {
  content: "";
  display: block;
  padding-top: 91.66666667%
}

.e70fccdcb0cdf27bd31e {
  align-items: center;
  background: rgba(0, 0, 0, .75);
  display: grid;
  grid-template-columns: 100%;
  height: calc(100% - var(--icon-size));
  justify-content: center;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%
}

.dc7208d173f690085f35 {
  grid-gap: 1rem;
  --video-card-display: none;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  width: 100%
}

.dc7208d173f690085f35 h4 {
  border-bottom: 1px solid hsla(0, 0%, 100%, .25);
  grid-column: 1/-1;
  padding: .5rem 1rem;
  text-transform: uppercase
}

@media (min-width:768px) {
  .dc7208d173f690085f35 {
    --video-card-display: block
  }
}

.fd0aea2eaa6760aa8a1b {
  filter: blur(var(--blur-because-in-bg, 0));
  height: 100%;
  left: 0;
  opacity: .25;
  position: absolute;
  top: 0;
  transition: filter .8s;
  width: 100%
}

.fd0aea2eaa6760aa8a1b>* {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.c28d3906113b27ca11e4 {
  filter: blur(var(--blur-because-in-bg, 0));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: filter .8s;
  width: 100%
}

.c28d3906113b27ca11e4>* {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.b6e363b6c9fbf51c5203 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.83%27%3E%3Cg data-name=%27Layer 2%27%3E%3Cg data-name=%27Layer 1%27%3E%3Cpath d=%27M214.55 197.37a4.94 4.94 0 1 1 1.45-3.5 4.75 4.75 0 0 1-1.45 3.5Zm-6.52-6.5a4.27 4.27 0 0 0 0 6 4.25 4.25 0 0 0 6 0 4.26 4.26 0 0 0-6-6Zm2.92.27a4.24 4.24 0 0 1 1.5.2 1.36 1.36 0 0 1 .84 1.38 1.17 1.17 0 0 1-.53 1.08 2.45 2.45 0 0 1-.78.26 1.32 1.32 0 0 1 .93.52 1.57 1.57 0 0 1 .3.84v.8a1.2 1.2 0 0 0 0 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.43Zm1 .89a2.38 2.38 0 0 0-1.16-.2H210v1.94h.87a2.48 2.48 0 0 0 .93-.13.94.94 0 0 0 .2-1.64Z%27/%3E%3Cpath d=%27M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86Z%27 style=%27fill:%23fcaf17%27/%3E%3Cpath d=%27M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 0 1-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93ZM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Z%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  bottom: 12px;
  position: absolute;
  right: 12px;
  width: 50px
}

.b6e363b6c9fbf51c5203:after {
  content: "";
  display: block;
  padding-top: 91.66666667%
}

.ce7010274f740492e053 {
  background: #000;
  max-width: 480px;
  opacity: 0;
  padding: var(--padding-top-bottom) var(--padding-sides);
  pointer-events: none;
  position: relative;
  transition: opacity .2s;
  width: 100%;
  z-index: 5
}

.ce7010274f740492e053.e43d06ba0f603a663efb {
  opacity: 1;
  pointer-events: auto
}

.fbb55aaeff0998fe4f97 {
  position: relative
}

.fbb55aaeff0998fe4f97 h3 {
  margin-bottom: 20px
}

.abe91e00560b5de474f3 {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width=%2730%27 height=%2730%27 xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath d=%27m19.243 15 10.606 10.607-4.242 4.242L15 19.243 4.393 29.849.151 25.607 10.757 15 .151 4.393 4.393.151 15 10.757 25.607.151l4.242 4.242z%27 fill=%27%23FFF%27/%3E%3C/svg%3E") 50% /contain;
  cursor: pointer;
  height: 1rem;
  opacity: .85;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s;
  width: 1rem
}

.abe91e00560b5de474f3:hover {
  opacity: 1
}

.ce7a8b813fbd3c35bffe {
  display: flex;
  margin-bottom: 20px
}

.ce7a8b813fbd3c35bffe a {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  opacity: .75;
  transition: opacity .2s;
  width: 50px
}

.ce7a8b813fbd3c35bffe a:hover {
  opacity: 1
}

.ce7a8b813fbd3c35bffe a.cbe62b8f04fd4153f34d {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cpath class=%27st0%27 d=%27M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0zm0 47C11.3 47 1 36.7 1 24S11.3 1 24 1s23 10.3 23 23-10.3 23-23 23z%27/%3E%3Cpath class=%27st0%27 d=%27m33.3 30.9 1.1-6.9h-6.7v-4.5c0-1.9.9-3.7 3.9-3.7h3v-6s-2.7-.5-5.4-.5c-5.5 0-9.1 3.3-9.1 9.3V24H14v6.9h6.1v16.8c1.2.2 2.5.3 3.8.3s2.5-.1 3.8-.3V30.9h5.6z%27/%3E%3C/svg%3E")
}

.ce7a8b813fbd3c35bffe a.ac62eb2e18f222e7b7ca {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cpath class=%27st0%27 d=%27M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0zm0 47C11.3 47 1 36.7 1 24S11.3 1 24 1s23 10.3 23 23-10.3 23-23 23z%27/%3E%3Cpath class=%27st0%27 d=%27M19.6 36.7c10.6 0 16.5-8.8 16.5-16.5v-.7c1.1-.8 2.1-1.8 2.9-3-1 .5-2.2.8-3.3.9 1.2-.7 2.1-1.9 2.5-3.2-1.1.7-2.4 1.1-3.7 1.4-1.1-1.1-2.6-1.8-4.2-1.8-3.2 0-5.8 2.6-5.8 5.8 0 .5.1.9.1 1.3-4.8-.2-9.1-2.5-11.9-6-.5.9-.8 1.8-.8 2.9 0 2 1 3.8 2.6 4.8-.9 0-1.8-.3-2.6-.7v.1c0 2.8 2 5.1 4.6 5.7-.5.1-1 .2-1.5.2-.4 0-.7 0-1.1-.1.7 2.3 2.9 4 5.4 4-2 1.6-4.5 2.5-7.2 2.5-.5 0-.9 0-1.4-.1 2.6 1.5 5.6 2.5 8.9 2.5%27/%3E%3C/svg%3E")
}

.ce7a8b813fbd3c35bffe a.dc87af945a954c43c5f4 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cpath class=%27st0%27 d=%27M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0zm0 47C11.3 47 1 36.7 1 24S11.3 1 24 1s23 10.3 23 23-10.3 23-23 23z%27/%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cpath class=%27st0%27 d=%27M24 10.9c4.3 0 4.8 0 6.5.1 1.6.1 2.4.3 3 .6.7.3 1.3.6 1.8 1.2s.9 1.1 1.2 1.8c.2.6.5 1.4.6 3 .1 1.7.1 2.2.1 6.5s0 4.8-.1 6.5c-.1 1.6-.3 2.4-.6 3-.3.7-.6 1.3-1.2 1.8-.6.6-1.1.9-1.8 1.2-.6.2-1.4.5-3 .6-1.7.1-2.2.1-6.5.1s-4.8 0-6.5-.1c-1.6-.1-2.4-.3-3-.6-.7-.3-1.3-.6-1.8-1.2-.6-.6-.9-1.1-1.2-1.8-.2-.6-.5-1.4-.6-3-.1-1.7-.1-2.2-.1-6.5s0-4.8.1-6.5c.1-1.6.3-2.4.6-3 .3-.7.6-1.3 1.2-1.8s1.1-.9 1.8-1.2c.6-.2 1.4-.5 3-.6 1.7-.1 2.2-.1 6.5-.1M24 8c-4.3 0-4.9 0-6.6.1-1.7.1-2.9.3-3.9.7-1.1.4-1.9 1-2.8 1.8s-1.4 1.8-1.8 2.8c-.4 1-.7 2.2-.7 3.9C8 19.1 8 19.7 8 24s0 4.9.1 6.6c.1 1.7.3 2.9.7 3.9.4 1.1 1 1.9 1.8 2.8s1.8 1.4 2.8 1.8c1 .4 2.2.7 3.9.7 1.8.2 2.4.2 6.7.2s4.9 0 6.6-.1c1.7-.1 2.9-.3 3.9-.7 1.1-.4 1.9-1 2.8-1.8s1.4-1.8 1.8-2.8c.4-1 .7-2.2.7-3.9.2-1.8.2-2.4.2-6.7s0-4.9-.1-6.6c-.1-1.7-.3-2.9-.7-3.9-.4-1.1-1-1.9-1.8-2.8s-1.8-1.4-2.8-1.8c-1-.4-2.2-.7-3.9-.7C28.9 8 28.3 8 24 8z%27/%3E%3Cpath class=%27st0%27 d=%27M24 15.8c-4.5 0-8.2 3.7-8.2 8.2s3.7 8.2 8.2 8.2 8.2-3.7 8.2-8.2-3.7-8.2-8.2-8.2zm0 13.5c-2.9 0-5.3-2.4-5.3-5.3s2.4-5.3 5.3-5.3 5.3 2.4 5.3 5.3-2.4 5.3-5.3 5.3z%27/%3E%3Ccircle class=%27st0%27 cx=%2732.5%27 cy=%2715.5%27 r=%271.9%27/%3E%3C/svg%3E")
}

.ce7a8b813fbd3c35bffe a.f10baaf70d85f665b407 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 xmlns:xlink=%27http://www.w3.org/1999/xlink%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Csymbol id=%27icon_2%27 viewBox=%27-16 -14 32 28.5%27%3E%3Cpath class=%27st0%27 d=%27M16 0c0 1.9-1.6 3.5-3.5 3.5-.9 0-1.8-.4-2.4-1-2.4 1.7-5.7 2.8-9.4 3L2.3 13l5.2-1.1c.1-1.3 1.1-2.4 2.5-2.4s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5c-1 0-1.8-.6-2.2-1.4L2 14.3c-.2 0-.3 0-.5-.1s-.3-.2-.3-.3L-.6 5.5c-3.7-.1-7.1-1.2-9.5-3-.6.6-1.5 1-2.4 1-1.9 0-3.5-1.6-3.5-3.5 0-1.4.9-2.6 2.1-3.2-.1-.3-.1-.7-.1-1C-14-9.6-7.7-14 0-14s14 4.4 14 9.8c0 .4 0 .7-.1 1.1C15.1-2.7 16-1.4 16 0zM-8-2.5C-8-1.1-6.9 0-5.5 0S-3-1.1-3-2.5-4.1-5-5.5-5-8-3.9-8-2.5zM5.9-9.1c-1.7-1.7-5-1.8-5.9-1.8-1 0-4.2.1-5.9 1.8-.3.3-.3.7 0 .9.3.3.7.3.9 0 1.1-1.1 3.4-1.5 5-1.5s3.9.4 5 1.5c.3.3.7.3.9 0 .3-.2.3-.7 0-.9zM5.5-5C4.1-5 3-3.9 3-2.5S4.1 0 5.5 0 8-1.1 8-2.5 6.9-5 5.5-5z%27/%3E%3C/symbol%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cpath class=%27st0%27 d=%27M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0zm0 47C11.3 47 1 36.7 1 24S11.3 1 24 1s23 10.3 23 23-10.3 23-23 23z%27/%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cuse xlink:href=%27%23icon_2%27 width=%2732%27 height=%2728.5%27 id=%27XMLID_6_%27 x=%27-16%27 y=%27-14%27 transform=%27matrix%281 0 0 -1 24 24%29%27 style=%27overflow:visible%27/%3E%3C/svg%3E")
}

.ce7a8b813fbd3c35bffe a.e3b34a2f5f27ac98758a {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg version=%271.1%27 id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 x=%270%27 y=%270%27 viewBox=%270 0 48 48%27 style=%27enable-background:new 0 0 48 48%27 xml:space=%27preserve%27%3E%3Cstyle%3E.st0{fill:%23fff}%3C/style%3E%3Cpath class=%27st0%27 d=%27M24 0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0zm0 47C11.3 47 1 36.7 1 24S11.3 1 24 1s23 10.3 23 23-10.3 23-23 23z%27/%3E%3Ccircle cx=%2724%27 cy=%2724%27 r=%2723%27/%3E%3Cpath class=%27st0%27 d=%27M15.6 11.7c0 1.8-1.3 3.2-3.5 3.2-2 0-3.4-1.4-3.4-3.2 0-1.8 1.4-3.2 3.4-3.2 2.2 0 3.5 1.4 3.5 3.2zM8.9 38V17.4h6.5V38H8.9zm10.4-14c0-2.6-.1-4.7-.2-6.6h5.6l.3 2.9h.1c.9-1.3 3-3.3 6.4-3.3 4.2 0 7.4 2.8 7.4 8.9V38h-6.5V26.6c0-2.6-.9-4.5-3.3-4.5-1.8 0-2.8 1.2-3.3 2.4-.2.4-.2 1-.2 1.6V38h-6.5l.2-14z%27/%3E%3C/svg%3E")
}

.ce7a8b813fbd3c35bffe a:not(:last-child) {
  margin-right: 12px
}

.f8ebc395f3b7c5575bbc {
  display: flex
}

.f8ebc395f3b7c5575bbc:not(:last-child) {
  margin-bottom: 12px
}

.f8ebc395f3b7c5575bbc input {
  background: #292929;
  border: none;
  color: #fff;
  flex-grow: 1;
  font-size: 75%;
  font-size: .75rem
}

.f8ebc395f3b7c5575bbc button {
  background: #fcaf17;
  border: none;
  cursor: pointer;
  flex-grow: 0;
  font-weight: 700;
  text-transform: uppercase
}

.f8ebc395f3b7c5575bbc button,
.f8ebc395f3b7c5575bbc input {
  padding: calc(var(--padding-top-bottom) / 2) calc(var(--padding-sides))
}

.a4f4f68da37cef85e833 {
  background: rgba(0, 0, 0, .75);
  cursor: pointer;
  font-weight: 700;
  left: 0;
  line-height: 1;
  padding: var(--padding-top-bottom) var(--padding-sides);
  position: absolute;
  text-transform: uppercase;
  top: var(--unmute-top, 4rem)
}

.f5852b33a215e9831c6d {
  filter: blur(var(--blur-because-in-bg, 0));
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: filter .8s;
  width: 100%
}

.f5852b33a215e9831c6d>* {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.bd59373ae0a8de2c09a8 {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 216 198.83%27%3E%3Cg data-name=%27Layer 2%27%3E%3Cg data-name=%27Layer 1%27%3E%3Cpath d=%27M214.55 197.37a4.94 4.94 0 1 1 1.45-3.5 4.75 4.75 0 0 1-1.45 3.5Zm-6.52-6.5a4.27 4.27 0 0 0 0 6 4.25 4.25 0 0 0 6 0 4.26 4.26 0 0 0-6-6Zm2.92.27a4.24 4.24 0 0 1 1.5.2 1.36 1.36 0 0 1 .84 1.38 1.17 1.17 0 0 1-.53 1.08 2.45 2.45 0 0 1-.78.26 1.32 1.32 0 0 1 .93.52 1.57 1.57 0 0 1 .3.84v.8a1.2 1.2 0 0 0 0 .28v.07h-.89v-.66c0-.63-.17-1.05-.52-1.24a2.45 2.45 0 0 0-1.07-.17H210v2.12h-.95v-5.43Zm1 .89a2.38 2.38 0 0 0-1.16-.2H210v1.94h.87a2.48 2.48 0 0 0 .93-.13.94.94 0 0 0 .2-1.64Z%27/%3E%3Cpath d=%27M178.43 0H38.26C17.17 0 0 16.66 0 37.12v124.51c0 20.74 16.65 37 37.91 37h140.17c21.26 0 37.92-16.26 37.92-37V37.12C216 16.31 199.5 0 178.43 0Zm33.31 161.62c0 18.36-14.78 32.75-33.66 32.75H37.91C19 194.37 4.25 180 4.25 161.62V37.11c0-18.43 15-32.86 34-32.86h140.18c18.68 0 33.31 14.43 33.31 32.86Z%27/%3E%3Cpath d=%27M178.43 4.25H38.26c-19.06 0-34 14.43-34 32.86v124.51C4.25 180 19 194.37 37.91 194.37h140.17c18.88 0 33.66-14.39 33.66-32.75V37.11c0-18.43-14.63-32.86-33.31-32.86Z%27 style=%27fill:%23fcaf17%27/%3E%3Cpath d=%27M185.49 118.2h-27.06l-4.29-27-15.86 26.8h-3a23.14 23.14 0 0 1-2.52-10.42c0-4.6.34-9.1.34-15 0-7.76-2.28-11.92-8.37-13.38V79c12.94-1.8 18.81-10.36 18.81-22.42 0-17.12-11.39-20.84-26.32-20.84H77.08l-17 80.4h21.37l6.18-29.25h14.19c7.57 0 10.67 3.7 10.67 10.79 0 5.39-.56 9.66-.56 13.81 0 1.54.35 5.11 1.38 6.49l15.43 16.29-13.27 28.55L143.86 146 165 162.23l-4-26.93ZM108.2 71.86h-17l4.1-19.38h15.79c5.62 0 11.46 1.46 11.46 8.34 0 8.67-6.65 11.04-14.35 11.04Z%27/%3E%3Cpath style=%27fill:%23fff%27 d=%27M173.03 122.13h-17.95l-3.11-19.53-11.44 19.34h-18.11l11.01 11.6-9.05 19.44 19.78-11.75 15.58 11.98-2.9-19.75 16.19-11.33z%27/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  bottom: 12px;
  position: absolute;
  right: 12px;
  width: 50px
}

.bd59373ae0a8de2c09a8:after {
  content: "";
  display: block;
  padding-top: 91.66666667%
}

.a5cda25459ee62b7dd6f {
  --padding-sides: 1rem;
  --padding-top-bottom: 1rem;
  --icon-size: 2.5rem;
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  z-index: 1
}

.a5cda25459ee62b7dd6f.c832be6db82b278b5acc,
.a5cda25459ee62b7dd6f.c492c1dde69b17c1bc78 {
  --blur-because-in-bg: 10px
}

.a5cda25459ee62b7dd6f video {
  cursor: pointer;
  filter: blur(var(--blur-because-in-bg, 0));
  height: 100%;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  transition: filter .8s;
  width: 100%
}

.a5cda25459ee62b7dd6f.cb5f74ac63f047aef4b9 {
  cursor: pointer
}

.a5cda25459ee62b7dd6f.cb5f74ac63f047aef4b9 .f9692f99694ef25b03aa {
  display: none
}

.a5cda25459ee62b7dd6f[data-context=site] {
  --unmute-top: 0
}

.a5cda25459ee62b7dd6f[data-context=embed] {
  --unmute-top: 4rem
}

.f9692f99694ef25b03aa {
  bottom: 0;
  font-size: .75rem;
  left: 0;
  padding: 0;
  position: absolute;
  transition: transform .3s;
  width: 100%
}

.f9692f99694ef25b03aa.ced5ea141789ba6f785e {
  transform: translateY(100%)
}

.adb2b084dd8387aebd20 {
  background: rgba(0, 0, 0, .85);
  display: grid;
  grid-template-columns: var(--icon-size) var(--icon-size) 1fr var(--icon-size) var(--icon-size) var(--icon-size);
  grid-template-rows: var(--icon-size)
}

.d2856a327db8567651d1 {
  border: none;
  height: 100%;
  width: 100%
}

.f4977e1db86a85c40e16 {
  --background-color: #000;
  --color-h: #fff;
  background-color: var(--background-color, transparent);
  border: var(--border-width) solid hsla(0, 0%, 100%, .1);
  color: #fff;
  overflow: hidden;
  position: relative
}

.f4977e1db86a85c40e16.c1669ccf6a1406fb8c46 {
  max-height: 70vh;
  min-height: 30vw
}

.f4977e1db86a85c40e16:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.f4977e1db86a85c40e16>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.f4977e1db86a85c40e16 h1,
.f4977e1db86a85c40e16 h1.b07dd7904aec141c56f7 {
  color: var(--color-h-dynamic, var(--color-h1, var(--color-h, inherit)))
}

.f4977e1db86a85c40e16 h2 {
  color: var(--color-h-dynamic, var(--color-h2, var(--color-h, inherit)))
}

.f4977e1db86a85c40e16 h3 {
  color: var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit)))
}

.f4977e1db86a85c40e16 h3[data-context=newswire-subtitle] {
  color: var(--color-subtitle-dynamic, var(--color-h-dynamic, var(--color-h3, var(--color-h, inherit))))
}

.f4977e1db86a85c40e16 h4,
.f4977e1db86a85c40e16 h5,
.f4977e1db86a85c40e16 h6 {
  color: var(--color-h-dynamic, var(--color-h, inherit))
}

.f4977e1db86a85c40e16 [template=community] {
  --time-color: var(--body-color, #2d2d2d);
  --breadcrumb-separator-filter-invert: invert(0)
}

.f4977e1db86a85c40e16 [template=community] main {
  color: var(--color-h, #161616)
}

.f4977e1db86a85c40e16 [template=community] p {
  color: var(--body-color, #2d2d2d)
}