.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051:focus,
.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051.rockstargames-modules-core-videoplayeraf32c1adeafee2cb582196b5e1a74d7e {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerc29b2b868a473fd77a5f4824d8ebf051.rockstargames-modules-core-videoplayeraf32c1adeafee2cb582196b5e1a74d7e img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerff481c537a56a6fcdb1be85dfbc8944e {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.rockstargames-modules-core-videoplayerb7696fe4bc425dfd901e2fd42d959929 {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  background: #000;
  display: flex;
  max-height: 90vh;
  min-height: 30vw;
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerb7696fe4bc425dfd901e2fd42d959929 {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-modules-core-videoplayerb7696fe4bc425dfd901e2fd42d959929:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-modules-core-videoplayerb7696fe4bc425dfd901e2fd42d959929>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 {
  grid-gap: var(--grid-gap-static-sm);
  display: grid;
  margin: 0 auto;
  max-width: var(--max-width);
  overflow: hidden;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 .rockstargames-modules-core-videoplayerdab03112635854da68f0bff971acb0e1 {
  grid-gap: .75rem;
  display: flex
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 h5,
.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 time {
  font-weight: 400;
  opacity: .65
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 p {
  margin: 0;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-modules-core-videoplayera7782c0e7788cedaa96f498b60db5695 a {
  font-weight: 700
}

.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d:focus,
.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d.rockstargames-modules-core-videoplayeref9f11e69d81520d23af744fee58a1bf {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerf2a453d224393eff64143a2f6c549f8d.rockstargames-modules-core-videoplayeref9f11e69d81520d23af744fee58a1bf img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4 {
  align-items: center;
  background-color: var(--black-100);
  border: .75px solid transparent;
  border-bottom: .75px solid var(--border-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-sm);
  justify-content: flex-start;
  max-height: 10rem;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm) 0;
  transition: background-color .2s ease-in-out;
  width: 100%
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4:hover {
  background-color: hsla(0, 0%, 100%, .05)
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4:hover .rockstargames-modules-core-videoplayerd549fde5ec781c18a6066b7f4258f2cc {
  opacity: .4
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4:hover .rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
  box-shadow: inset 0 0 0 1px var(--white-40)
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4 {
    gap: var(--grid-gap-md)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4 {
    gap: var(--grid-gap-sm)
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4 {
    gap: var(--grid-gap-sm)
  }
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4:focus-within {
  outline: auto;
  outline-offset: -2px
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4.rockstargames-modules-core-videoplayerc609535ec0c949fc631b8d5bf62689f9 {
  background-color: var(--white-15);
  border: .75px solid transparent
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4.rockstargames-modules-core-videoplayerc609535ec0c949fc631b8d5bf62689f9 .rockstargames-modules-core-videoplayerd549fde5ec781c18a6066b7f4258f2cc {
  opacity: 1
}

.rockstargames-modules-core-videoplayerfbd1499c6225bbe04f3a6efc710124f4.rockstargames-modules-core-videoplayerc609535ec0c949fc631b8d5bf62689f9 .rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
  box-shadow: inset 0 0 0 1px #fff
}

.rockstargames-modules-core-videoplayera18bf34a29260f3744ed9db5b0b62fa6 {
  align-items: center;
  display: flex;
  flex-direction: row
}

.rockstargames-modules-core-videoplayere89f03b8ec58ddc87c17605b3176b6a1 {
  padding: var(--padding-sm)
}

.rockstargames-modules-core-videoplayerd549fde5ec781c18a6066b7f4258f2cc {
  height: .8rem;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  width: .8rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerd549fde5ec781c18a6066b7f4258f2cc {
    height: 1rem;
    width: 1rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerd549fde5ec781c18a6066b7f4258f2cc {
    height: 1rem;
    width: 1rem
  }
}

.rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
  aspect-ratio: 16/9;
  background-image: var(--background-image);
  background-position: 50%;
  background-size: contain;
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0 0 0 1px var(--white-40);
  height: -moz-max-content;
  height: max-content;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  width: 8rem;
  z-index: 0
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
    width: 12rem
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
    box-shadow: unset;
    width: 8rem
  }
}

.rockstargames-modules-core-videoplayerb43a390d461ee524297a88a92d487d61 {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: var(--black-65);
  border-radius: var(--border-radius-xs);
  bottom: var(--margin-xxs);
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  padding: 0 var(--padding-xxs);
  position: absolute;
  right: var(--margin-xxs)
}

.rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 {
  width: 50%
}

.rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 h3 {
  --font-family-h: "HelveticaNowText";
  font-size: var(--font-size-2);
  line-height: 1.3;
  text-align: left
}

[data-context=modal] .rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 h3 {
  font-size: var(--font-size-2)
}

[data-context=modal] .rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 h3,
[data-context=standardPage] .rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 h3 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

[data-context=standardPage] .rockstargames-modules-core-videoplayereb90e7323f5e1eeeec6ccfc9d0d83e06 h3 {
  font-size: var(--font-size-3);
  font-size: var(--font-size-2)
}

[data-context=standardPage] .rockstargames-modules-core-videoplayerf8e820c90548c2466c73c21a46cfafd7 {
  width: 8rem
}

.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be:focus,
.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be.rockstargames-modules-core-videoplayerd5ccc264da21ea239af29cad41774242 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerc80e29c909e0c6200eb7fc6b2b81f9be.rockstargames-modules-core-videoplayerd5ccc264da21ea239af29cad41774242 img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  scrollbar-color: var(--white-15) transparent;
  scrollbar-width: auto;
  width: 100%
}

.rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd::-webkit-scrollbar {
  width: 8px
}

.rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd::-webkit-scrollbar-track {
  background: transparent
}

.rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd::-webkit-scrollbar-thumb {
  background-color: var(--white-15);
  border: none;
  border-radius: 10px
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd {
    padding: 1.22rem 0 0;
    width: 20rem
  }
}

.rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd h4 {
  --font-family-h: "HelveticaNowDisplayBold";
  --letter-spacing-h: -0.025rem;
  margin: 0;
  padding: var(--padding-sm) 0 var(--padding-sm) 3rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd h4 {
    padding: var(--padding-md) 0 var(--padding-md) 3rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerecd786c5d10735ecd6747d52ee0bf5fd h4 {
    padding: 1rem 0 1rem 3rem
  }
}

.rockstargames-modules-core-videoplayerc711e423f5b3481c7183eb5b277ef06a {
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: static;
  transition: background-color ease-in-ease-out .2s
}

.rockstargames-modules-core-videoplayerc711e423f5b3481c7183eb5b277ef06a.rockstargames-modules-core-videoplayerf1bc55e95c5eb5b51f6e987e538a3efa:before {
  background: linear-gradient(0deg, transparent 20%, #121212);
  content: " ";
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}

.rockstargames-modules-core-videoplayerc711e423f5b3481c7183eb5b277ef06a.rockstargames-modules-core-videoplayerb1b0ceaedb428f958c7eb082016ad144:after {
  background: linear-gradient(180deg, transparent 20%, #121212);
  bottom: 0;
  content: " ";
  height: 1.5rem;
  pointer-events: none;
  position: absolute;
  width: 100%
}

[data-context=modal] h4 {
  background-color: var(--black-100);
  font-size: var(--font-size-5)
}

[data-context=standardPage] {
  background-color: initial;
  position: relative;
  width: 100%
}

[data-context=standardPage] .rockstargames-modules-core-videoplayerc711e423f5b3481c7183eb5b277ef06a.rockstargames-modules-core-videoplayerf1bc55e95c5eb5b51f6e987e538a3efa:after {
  bottom: 0
}

.rockstargames-modules-core-videoplayerac04eb44d3988982a1d3be9f94414cbc {
  display: flex;
  flex-direction: column;
  width: 100%
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerac04eb44d3988982a1d3be9f94414cbc {
    display: grid;
    grid-template-columns: 1fr 25rem;
    width: 100%
  }
}

[data-context=standardPage].rockstargames-modules-core-videoplayerac04eb44d3988982a1d3be9f94414cbc {
  display: grid;
  width: 100%
}

@media (max-width:1279px) {
  [data-context=standardPage].rockstargames-modules-core-videoplayerac04eb44d3988982a1d3be9f94414cbc {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr)
  }
}

@media (min-width:1280px) {
  [data-context=standardPage].rockstargames-modules-core-videoplayerac04eb44d3988982a1d3be9f94414cbc {
    grid-template-columns: 1fr 25rem;
    grid-template-rows: 1fr
  }
}

/*# sourceMappingURL=80b4e1f00ad588a724c2f955bdec9c52.css.map*/