.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836:focus,
.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836.rockstargames-modules-core-videoplayerc1ac4227ecc3c60c4a623f13dd4609b6 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayeredb30438bec02a28ec1d06d071bcf836.rockstargames-modules-core-videoplayerc1ac4227ecc3c60c4a623f13dd4609b6 img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerea8cf4797c830e5b5dad68b2ec814e67 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

:root {
  @foundry-global-font-line-height-150: 150%;
  @foundry-global-font-line-height-130: 130%;
  @foundry-global-font-line-height-120: 120%;
  @foundry-global-font-line-height-110: 110%;
  @foundry-global-font-line-height-100: 100%;
  @foundry-global-font-letter-spacing-neg-50: -0.005em;
  @foundry-global-font-letter-spacing-neg-75: -0.0075em;
  @foundry-global-font-letter-spacing-neg-100: -0.01em;
  @foundry-global-font-letter-spacing-neg-150: -0.015em;
  @foundry-global-font-letter-spacing-neg-250: -0.025em;
  @foundry-global-font-letter-spacing-250: 0.025em;
  @foundry-global-font-letter-spacing-200: 0.02em;
  @foundry-global-font-letter-spacing-100: 0.01em;
  @foundry-global-font-letter-spacing-25: 0.0025em;
  @foundry-global-font-letter-spacing-0: 0em;
  @foundry-global-font-weight-700: 700;
  @foundry-global-font-weight-400: 400;
  @foundry-global-font-family-consolas: "Consolas";
  @foundry-global-font-family-helvetica-now-text: "Helvetica Now Text";
  @foundry-global-font-family-helvetica-now-display: "Helvetica Now Display";
  @foundry-global-font-family-arial: "Arial";
  @foundry-global-border-width-50: 4px;
  @foundry-global-border-width-33: 3px;
  @foundry-global-border-width-25: 2px;
  @foundry-global-border-width-10: 1px;
  @foundry-global-border-width-0: 0px;
  @foundry-global-border-radius-pill: 1000px;
  @foundry-global-border-radius-circle: 9999px;
  @foundry-global-border-radius-400: 32px;
  @foundry-global-border-radius-300: 24px;
  @foundry-global-border-radius-200: 16px;
  @foundry-global-border-radius-150: 12px;
  @foundry-global-border-radius-100: 8px;
  @foundry-global-border-radius-50: 4px;
  @foundry-global-border-radius-25: 2px;
  @foundry-global-border-radius-0: 0px;
  @foundry-alias-font-line-height-body: @foundry-global-font-line-height-150;
  @foundry-alias-font-line-height-heading: @foundry-global-font-line-height-130;
  @foundry-alias-font-weight-bold: @foundry-global-font-weight-700;
  @foundry-alias-font-weight-regular: @foundry-global-font-weight-400;
  @foundry-alias-font-letter-spacing-label-fallback: @foundry-global-font-letter-spacing-200;
  @foundry-alias-font-letter-spacing-label-primary: @foundry-global-font-letter-spacing-200;
  @foundry-alias-font-letter-spacing-body-fallback: @foundry-global-font-letter-spacing-neg-250;
  @foundry-alias-font-letter-spacing-body-primary: @foundry-global-font-letter-spacing-neg-250;
  @foundry-alias-font-letter-spacing-heading-fallback: @foundry-global-font-letter-spacing-neg-250;
  @foundry-alias-font-letter-spacing-heading-primary: @foundry-global-font-letter-spacing-neg-250;
  @foundry-alias-font-family-code-fallback: @foundry-global-font-family-consolas;
  @foundry-alias-font-family-code-primary: @foundry-global-font-family-consolas;
  @foundry-alias-font-family-body-fallback: @foundry-global-font-family-arial;
  @foundry-alias-font-family-body-primary: @foundry-global-font-family-helvetica-now-text;
  @foundry-alias-font-family-heading-fallback: @foundry-global-font-family-arial;
  @foundry-alias-font-family-heading-primary: @foundry-global-font-family-helvetica-now-display;
  @__foundry-global-platform-scales-scale-6250: calc(500px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-6000: calc(480px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-5750: calc(460px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-5500: calc(440px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-5250: calc(420px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-5000: calc(400px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-4750: calc(380px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-4500: calc(360px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-4250: calc(340px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-4125: calc(330px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-4000: calc(320px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-3750: calc(300px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-3500: calc(280px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-3350: calc(268px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-3150: calc(252px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-3000: calc(240px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2750: calc(220px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2500: calc(200px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2400: calc(192px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2350: calc(188px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2200: calc(176px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-2000: calc(160px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1800: calc(144px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1700: calc(136px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1600: calc(128px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1400: calc(112px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1200: calc(96px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1150: calc(92px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1100: calc(88px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-1000: calc(80px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-950: calc(76px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-900: calc(72px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-800: calc(64px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-750: calc(60px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-700: calc(56px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-650: calc(52px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-600: calc(48px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-550: calc(44px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-500: calc(40px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-450: calc(36px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-400: calc(32px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-350: calc(28px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-300: calc(24px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-250: calc(20px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-225: calc(18px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-200: calc(16px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-175: calc(14px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-150: calc(12px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-125: calc(10px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-100: calc(8px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-75: calc(6px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-50: calc(4px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-33: calc(3px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-25: calc(2px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-10: calc(1px * @__foundry-global-platform-scales-ratio);
  @__foundry-global-platform-scales-scale-0: calc(0px * @__foundry-global-platform-scales-ratio);
  @foundry-global-font-spacing-400: @__foundry-global-platform-scales-scale-400;
  @foundry-global-font-size-1100: @__foundry-global-platform-scales-scale-1100;
  @foundry-global-font-size-1000: @__foundry-global-platform-scales-scale-1000;
  @foundry-global-font-size-900: @__foundry-global-platform-scales-scale-900;
  @foundry-global-font-size-800: @__foundry-global-platform-scales-scale-800;
  @foundry-global-font-size-700: @__foundry-global-platform-scales-scale-700;
  @foundry-global-font-size-600: @__foundry-global-platform-scales-scale-600;
  @foundry-global-font-size-500: @__foundry-global-platform-scales-scale-500;
  @foundry-global-font-size-400: @__foundry-global-platform-scales-scale-400;
  @foundry-global-font-size-300: @__foundry-global-platform-scales-scale-300;
  @foundry-global-font-size-250: @__foundry-global-platform-scales-scale-250;
  @foundry-global-font-size-225: @__foundry-global-platform-scales-scale-225;
  @foundry-global-font-size-200: @__foundry-global-platform-scales-scale-200;
  @foundry-global-font-size-175: @__foundry-global-platform-scales-scale-175;
  @foundry-global-font-size-150: @__foundry-global-platform-scales-scale-150;
  @foundry-global-spacing-dimensions-6250: @__foundry-global-platform-scales-scale-6250;
  @foundry-global-spacing-dimensions-6000: @__foundry-global-platform-scales-scale-6000;
  @foundry-global-spacing-dimensions-5750: @__foundry-global-platform-scales-scale-5750;
  @foundry-global-spacing-dimensions-5500: @__foundry-global-platform-scales-scale-5500;
  @foundry-global-spacing-dimensions-5250: @__foundry-global-platform-scales-scale-5250;
  @foundry-global-spacing-dimensions-5000: @__foundry-global-platform-scales-scale-5000;
  @foundry-global-spacing-dimensions-4750: @__foundry-global-platform-scales-scale-4750;
  @foundry-global-spacing-dimensions-4500: @__foundry-global-platform-scales-scale-4500;
  @foundry-global-spacing-dimensions-4250: @__foundry-global-platform-scales-scale-4250;
  @foundry-global-spacing-dimensions-4125: @__foundry-global-platform-scales-scale-4125;
  @foundry-global-spacing-dimensions-4000: @__foundry-global-platform-scales-scale-4000;
  @foundry-global-spacing-dimensions-3750: @__foundry-global-platform-scales-scale-3750;
  @foundry-global-spacing-dimensions-3500: @__foundry-global-platform-scales-scale-3500;
  @foundry-global-spacing-dimensions-3350: @__foundry-global-platform-scales-scale-3350;
  @foundry-global-spacing-dimensions-3150: @__foundry-global-platform-scales-scale-3150;
  @foundry-global-spacing-dimensions-3000: @__foundry-global-platform-scales-scale-3000;
  @foundry-global-spacing-dimensions-2750: @__foundry-global-platform-scales-scale-2750;
  @foundry-global-spacing-dimensions-2500: @__foundry-global-platform-scales-scale-2500;
  @foundry-global-spacing-dimensions-2400: @__foundry-global-platform-scales-scale-2400;
  @foundry-global-spacing-dimensions-2350: @__foundry-global-platform-scales-scale-2350;
  @foundry-global-spacing-dimensions-2200: @__foundry-global-platform-scales-scale-2200;
  @foundry-global-spacing-dimensions-2000: @__foundry-global-platform-scales-scale-2000;
  @foundry-global-spacing-dimensions-1800: @__foundry-global-platform-scales-scale-1800;
  @foundry-global-spacing-dimensions-1700: @__foundry-global-platform-scales-scale-1700;
  @foundry-global-spacing-dimensions-1600: @__foundry-global-platform-scales-scale-1600;
  @foundry-global-spacing-dimensions-1400: @__foundry-global-platform-scales-scale-1400;
  @foundry-global-spacing-dimensions-1200: @__foundry-global-platform-scales-scale-1200;
  @foundry-global-spacing-dimensions-1150: @__foundry-global-platform-scales-scale-1150;
  @foundry-global-spacing-dimensions-1100: @__foundry-global-platform-scales-scale-1100;
  @foundry-global-spacing-dimensions-1000: @__foundry-global-platform-scales-scale-1000;
  @foundry-global-spacing-dimensions-950: @__foundry-global-platform-scales-scale-950;
  @foundry-global-spacing-dimensions-900: @__foundry-global-platform-scales-scale-900;
  @foundry-global-spacing-dimensions-800: @__foundry-global-platform-scales-scale-800;
  @foundry-global-spacing-dimensions-750: @__foundry-global-platform-scales-scale-750;
  @foundry-global-spacing-dimensions-700: @__foundry-global-platform-scales-scale-700;
  @foundry-global-spacing-dimensions-650: @__foundry-global-platform-scales-scale-650;
  @foundry-global-spacing-dimensions-600: @__foundry-global-platform-scales-scale-600;
  @foundry-global-spacing-dimensions-550: @__foundry-global-platform-scales-scale-550;
  @foundry-global-spacing-dimensions-500: @__foundry-global-platform-scales-scale-500;
  @foundry-global-spacing-dimensions-450: @__foundry-global-platform-scales-scale-450;
  @foundry-global-spacing-dimensions-400: @__foundry-global-platform-scales-scale-400;
  @foundry-global-spacing-dimensions-350: @__foundry-global-platform-scales-scale-350;
  @foundry-global-spacing-dimensions-300: @__foundry-global-platform-scales-scale-300;
  @foundry-global-spacing-dimensions-250: @__foundry-global-platform-scales-scale-250;
  @foundry-global-spacing-dimensions-225: @__foundry-global-platform-scales-scale-225;
  @foundry-global-spacing-dimensions-200: @__foundry-global-platform-scales-scale-200;
  @foundry-global-spacing-dimensions-175: @__foundry-global-platform-scales-scale-175;
  @foundry-global-spacing-dimensions-150: @__foundry-global-platform-scales-scale-150;
  @foundry-global-spacing-dimensions-125: @__foundry-global-platform-scales-scale-125;
  @foundry-global-spacing-dimensions-100: @__foundry-global-platform-scales-scale-100;
  @foundry-global-spacing-dimensions-75: @__foundry-global-platform-scales-scale-75;
  @foundry-global-spacing-dimensions-50: @__foundry-global-platform-scales-scale-50;
  @foundry-global-spacing-dimensions-33: @__foundry-global-platform-scales-scale-33;
  @foundry-global-spacing-dimensions-25: @__foundry-global-platform-scales-scale-25;
  @foundry-global-spacing-dimensions-10: @__foundry-global-platform-scales-scale-10;
  @foundry-global-spacing-gap-2500: @__foundry-global-platform-scales-scale-2500;
  @foundry-global-spacing-gap-2400: @__foundry-global-platform-scales-scale-2400;
  @foundry-global-spacing-gap-2350: @__foundry-global-platform-scales-scale-2350;
  @foundry-global-spacing-gap-2200: @__foundry-global-platform-scales-scale-2200;
  @foundry-global-spacing-gap-2000: @__foundry-global-platform-scales-scale-2000;
  @foundry-global-spacing-gap-1800: @__foundry-global-platform-scales-scale-1800;
  @foundry-global-spacing-gap-1700: @__foundry-global-platform-scales-scale-1700;
  @foundry-global-spacing-gap-1600: @__foundry-global-platform-scales-scale-1600;
  @foundry-global-spacing-gap-1400: @__foundry-global-platform-scales-scale-1400;
  @foundry-global-spacing-gap-1200: @__foundry-global-platform-scales-scale-1200;
  @foundry-global-spacing-gap-1150: @__foundry-global-platform-scales-scale-1150;
  @foundry-global-spacing-gap-1100: @__foundry-global-platform-scales-scale-1100;
  @foundry-global-spacing-gap-1000: @__foundry-global-platform-scales-scale-1000;
  @foundry-global-spacing-gap-950: @__foundry-global-platform-scales-scale-950;
  @foundry-global-spacing-gap-900: @__foundry-global-platform-scales-scale-900;
  @foundry-global-spacing-gap-800: @__foundry-global-platform-scales-scale-800;
  @foundry-global-spacing-gap-750: @__foundry-global-platform-scales-scale-750;
  @foundry-global-spacing-gap-700: @__foundry-global-platform-scales-scale-700;
  @foundry-global-spacing-gap-650: @__foundry-global-platform-scales-scale-650;
  @foundry-global-spacing-gap-600: @__foundry-global-platform-scales-scale-600;
  @foundry-global-spacing-gap-550: @__foundry-global-platform-scales-scale-550;
  @foundry-global-spacing-gap-500: @__foundry-global-platform-scales-scale-500;
  @foundry-global-spacing-gap-450: @__foundry-global-platform-scales-scale-450;
  @foundry-global-spacing-gap-400: @__foundry-global-platform-scales-scale-400;
  @foundry-global-spacing-gap-350: @__foundry-global-platform-scales-scale-350;
  @foundry-global-spacing-gap-300: @__foundry-global-platform-scales-scale-300;
  @foundry-global-spacing-gap-250: @__foundry-global-platform-scales-scale-250;
  @foundry-global-spacing-gap-225: @__foundry-global-platform-scales-scale-225;
  @foundry-global-spacing-gap-200: @__foundry-global-platform-scales-scale-200;
  @foundry-global-spacing-gap-175: @__foundry-global-platform-scales-scale-175;
  @foundry-global-spacing-gap-150: @__foundry-global-platform-scales-scale-150;
  @foundry-global-spacing-gap-125: @__foundry-global-platform-scales-scale-125;
  @foundry-global-spacing-gap-100: @__foundry-global-platform-scales-scale-100;
  @foundry-global-spacing-gap-75: @__foundry-global-platform-scales-scale-75;
  @foundry-global-spacing-gap-50: @__foundry-global-platform-scales-scale-50;
  @foundry-global-spacing-gap-33: @__foundry-global-platform-scales-scale-33;
  @foundry-global-spacing-gap-25: @__foundry-global-platform-scales-scale-25;
  @foundry-global-spacing-gap-10: @__foundry-global-platform-scales-scale-10;
  @foundry-alias-font-size-body-code: @foundry-global-font-size-200;
  @foundry-alias-font-size-body-body-xs: @foundry-global-font-size-150;
  @foundry-alias-font-size-body-body-sm: @foundry-global-font-size-175;
  @foundry-alias-font-size-body-body-md: @foundry-global-font-size-200;
  @foundry-alias-font-size-body-body-lg: @foundry-global-font-size-225;
  @foundry-alias-font-size-heading-06: @foundry-global-font-size-250;
  @foundry-alias-font-size-heading-05: @foundry-global-font-size-300;
  @foundry-alias-font-size-heading-04: @foundry-global-font-size-400;
  @foundry-alias-font-size-heading-03: @foundry-global-font-size-500;
  @foundry-alias-font-size-heading-02: @foundry-global-font-size-600;
  @foundry-alias-font-size-heading-01: @foundry-global-font-size-700;
  @foundry-alias-font-size-heading-display: @foundry-global-font-size-800;
  @foundry-alias-font-spacing-paragraph: @foundry-global-font-spacing-400
}

.rockstargames-modules-core-videoplayerbbb062c75e63f4ddb7c68732a626283d {
  aspect-ratio: 16/9;
  background: #000;
  overflow: hidden;
  --__foundry-global-platform-scales-ratio: 1;
  margin: 0 auto;
  max-height: calc(100vh - 80px * var(--__foundry-global-platform-scales-ratio))
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerbbb062c75e63f4ddb7c68732a626283d {
    --__foundry-global-platform-scales-ratio: 1.125
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-videoplayerbbb062c75e63f4ddb7c68732a626283d {
    --__foundry-global-platform-scales-ratio: 1.25
  }
}

@media (min-width:2560px) {
  .rockstargames-modules-core-videoplayerbbb062c75e63f4ddb7c68732a626283d {
    --__foundry-global-platform-scales-ratio: 1.375
  }
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce {
  display: grid;
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%;
  grid-gap: var(--grid-gap-static-sm);
  overflow: hidden
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce .rockstargames-modules-core-videoplayerbd5679f1dd0e7beb6c8a22d18e4f8521 {
  display: flex;
  grid-gap: .75rem
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce h5,
.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce time {
  font-weight: 400;
  opacity: .65
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce p {
  margin: 0;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-modules-core-videoplayeradbc37c9f4745c8e0c41c73270d19cce a {
  font-weight: 700
}

.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e:focus,
.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e.rockstargames-modules-core-videoplayere731732dae75541ae9db02ecf2259df0 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayere544de569721b5dfe7e6e8a1d344571e.rockstargames-modules-core-videoplayere731732dae75541ae9db02ecf2259df0 img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1 {
  align-items: center;
  background-color: var(--black-100);
  border: .75px solid transparent;
  border-bottom: .75px solid var(--border-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-sm);
  justify-content: flex-start;
  max-height: 10rem;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm) 0;
  transition: background-color .2s ease-in-out;
  width: 100%
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1:hover {
  background-color: hsla(0, 0%, 100%, .05)
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1:hover .rockstargames-modules-core-videoplayerfdb5a681fcfe3ce0b4a20b26192a5933 {
  opacity: .4
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1:hover .rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
  box-shadow: inset 0 0 0 1px var(--white-40)
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1 {
    gap: var(--grid-gap-md)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1 {
    gap: var(--grid-gap-sm)
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1 {
    gap: var(--grid-gap-sm)
  }
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1:focus-within {
  outline: auto;
  outline-offset: -2px
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1.rockstargames-modules-core-videoplayerdfa18a3e1121b115ce28719e687c9c92 {
  background-color: var(--white-15);
  border: .75px solid transparent
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1.rockstargames-modules-core-videoplayerdfa18a3e1121b115ce28719e687c9c92 .rockstargames-modules-core-videoplayerfdb5a681fcfe3ce0b4a20b26192a5933 {
  opacity: 1
}

.rockstargames-modules-core-videoplayerdafe0618826d8c0f25d33bfae2bf94e1.rockstargames-modules-core-videoplayerdfa18a3e1121b115ce28719e687c9c92 .rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
  box-shadow: inset 0 0 0 1px #fff
}

.rockstargames-modules-core-videoplayerfa8d856b3f040699d4a834912d97a787 {
  align-items: center;
  display: flex;
  flex-direction: row
}

.rockstargames-modules-core-videoplayerd8ff1f1cd991f0b66db4f3ec3ce7f339 {
  padding: var(--padding-sm)
}

.rockstargames-modules-core-videoplayerfdb5a681fcfe3ce0b4a20b26192a5933 {
  height: .8rem;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  width: .8rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerfdb5a681fcfe3ce0b4a20b26192a5933 {
    height: 1rem;
    width: 1rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerfdb5a681fcfe3ce0b4a20b26192a5933 {
    height: 1rem;
    width: 1rem
  }
}

.rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
  aspect-ratio: 16/9;
  background-image: var(--background-image);
  background-position: 50%;
  background-size: contain;
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0 0 0 1px var(--white-40);
  height: -moz-max-content;
  height: max-content;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  width: 8rem;
  z-index: 0
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
    width: 12rem
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
    box-shadow: unset;
    width: 8rem
  }
}

.rockstargames-modules-core-videoplayere0b92a537be778f508517156e23d7534 {
  backdrop-filter: blur(30px);
  background: var(--black-65);
  border-radius: var(--border-radius-xs);
  bottom: var(--margin-xxs);
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  padding: 0 var(--padding-xxs);
  position: absolute;
  right: var(--margin-xxs)
}

.rockstargames-modules-core-videoplayere971dcb28fd73512230ca6fc8174a047 {
  width: 50%
}

.rockstargames-modules-core-videoplayere971dcb28fd73512230ca6fc8174a047 h3 {
  --font-family-h: "HelveticaNowText";
  font-size: var(--font-size-2);
  line-height: 1.3;
  text-align: left
}

[data-context=modal] .rockstargames-modules-core-videoplayere971dcb28fd73512230ca6fc8174a047 h3 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

[data-context=standardPage] .rockstargames-modules-core-videoplayere971dcb28fd73512230ca6fc8174a047 h3 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-3);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

[data-context=standardPage] .rockstargames-modules-core-videoplayerf52ea4c2866961cfd4e53bae19f8f4fa {
  width: 8rem
}

.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90:focus,
.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90.rockstargames-modules-core-videoplayerd975877cfeee6736ba88d2392da66b8c {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerfc9f31bbc1cdb1312dcef83948284b90.rockstargames-modules-core-videoplayerd975877cfeee6736ba88d2392da66b8c img {
  filter: invert()
}

.rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  scrollbar-color: var(--scroll-thumb-color) var(--scroll-track-color);
  scrollbar-width: auto;
  width: 100%
}

.rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3::-webkit-scrollbar {
  width: 8px
}

.rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3::-webkit-scrollbar-track {
  background: transparent
}

.rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border: none;
  border-radius: 10px
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3 {
    padding: 1.22rem 0 0;
    width: 20rem
  }
}

.rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3 h4 {
  --font-family-h: "HelveticaNowDisplayBold";
  --letter-spacing-h: -0.025rem;
  margin: 0;
  padding: var(--padding-sm) 0 var(--padding-sm) 3rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3 h4 {
    padding: var(--padding-md) 0 var(--padding-md) 3rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayere35de9890266722d0f0c1be67e686fb3 h4 {
    padding: 1rem 0 1rem 3rem
  }
}

.rockstargames-modules-core-videoplayerc1a8bf10574d742b1e2b9746acf41ca9 {
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: static;
  transition: background-color ease-in-ease-out .2s
}

.rockstargames-modules-core-videoplayerc1a8bf10574d742b1e2b9746acf41ca9.rockstargames-modules-core-videoplayere54083a9b2e4d70483a813474f5b55a8:before {
  background: linear-gradient(0deg, transparent 20%, #121212);
  content: " ";
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}

.rockstargames-modules-core-videoplayerc1a8bf10574d742b1e2b9746acf41ca9.rockstargames-modules-core-videoplayerb4d30838275ac273c053480004e06f0d:after {
  background: linear-gradient(180deg, transparent 20%, #121212);
  bottom: 0;
  content: " ";
  height: 1.5rem;
  pointer-events: none;
  position: absolute;
  width: 100%
}

[data-context=modal] h4 {
  background-color: var(--black-100);
  font-size: var(--font-size-5)
}

[data-context=standardPage] {
  background-color: transparent;
  position: relative;
  width: 100%
}

[data-context=standardPage] .rockstargames-modules-core-videoplayerc1a8bf10574d742b1e2b9746acf41ca9.rockstargames-modules-core-videoplayere54083a9b2e4d70483a813474f5b55a8:after {
  bottom: 0
}

.rockstargames-modules-core-videoplayerf8afc9cc531b89e7796a8659b33faa7d {
  display: flex;
  flex-direction: column;
  width: 100%
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerf8afc9cc531b89e7796a8659b33faa7d {
    display: grid;
    grid-template-columns: 1fr 25rem;
    width: 100%
  }
}

[data-context=standardPage].rockstargames-modules-core-videoplayerf8afc9cc531b89e7796a8659b33faa7d {
  display: grid;
  width: 100%
}

@media (max-width:1279px) {
  [data-context=standardPage].rockstargames-modules-core-videoplayerf8afc9cc531b89e7796a8659b33faa7d {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr)
  }
}

@media (min-width:1280px) {
  [data-context=standardPage].rockstargames-modules-core-videoplayerf8afc9cc531b89e7796a8659b33faa7d {
    grid-template-columns: 1fr 25rem;
    grid-template-rows: 1fr
  }
}

/*# sourceMappingURL=a36e0cbe058ff11dfb786ef49eb77a52.css.map*/