.rockstargames-modules-core-videoplayerc4ce9d4236143b4ff058398ef09477ac {
  --aspect-ratio: 16/9;
  --aspect-ratio-default: 1;
  background: #000;
  display: flex;
  max-height: 90vh;
  min-height: 30vw;
  overflow: hidden;
  position: relative
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerc4ce9d4236143b4ff058398ef09477ac {
    --aspect-ratio-default: 16/9
  }
}

.rockstargames-modules-core-videoplayerc4ce9d4236143b4ff058398ef09477ac:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio, var(--aspect-ratio-default))));
  width: 100%
}

.rockstargames-modules-core-videoplayerc4ce9d4236143b4ff058398ef09477ac>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 {
  grid-gap: var(--grid-gap-static-sm);
  display: grid;
  margin: 0 auto;
  max-width: var(--max-width);
  overflow: hidden;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 .rockstargames-modules-core-videoplayerb7ce74df2183953c21d700b548126071 {
  grid-gap: .75rem;
  display: flex
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 h5,
.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 time {
  font-weight: 400;
  opacity: .65
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 p {
  margin: 0;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.rockstargames-modules-core-videoplayerff28beadc2a5985dbda23b5dd14974a4 a {
  font-weight: 700
}

.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b:focus,
.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b.rockstargames-modules-core-videoplayerdf1f79269045b4753faf81a308771d67 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerc8707a079e7373cfd7a7f77479b9fe9b.rockstargames-modules-core-videoplayerdf1f79269045b4753faf81a308771d67 img {
  filter: invert()
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a {
  --font-family-body: "Chalet";
  --font-family-h: "ChaletComprime";
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --letter-spacing-body: 0;
  --letter-spacing-h: 0;
  --line-height-sm: 1;
  --line-height-md: 1.1;
  --line-height-lg: 1.6;
  --black-200: #000;
  --black-100: #121212;
  --black-65: hsla(0, 0%, 7%, .65);
  --black-40: hsla(0, 0%, 7%, .4);
  --black-15: hsla(0, 0%, 7%, .15);
  --text-dark: #2d2d2d;
  --border-color: #2d2d2d;
  --white-100: #fff;
  --white-65: hsla(0, 0%, 100%, .65);
  --white-40: hsla(0, 0%, 100%, .4);
  --white-15: hsla(0, 0%, 100%, .15);
  --text-light: #e8e8e8;
  --focusring-blue: blue;
  --red: #e03232;
  --circoloco-red: #eb1818;
  --rockstar-gold: #fcaf17;
  --playstation-blue: #00439c;
  --microsoft-green: #387a26;
  --color-h: var(--white-100);
  --color-body: var(--text-light);
  --green-light: #c1f7bd;
  --green-dark: #81da85;
  --max-width-sm: 640px;
  --max-width-md: 1088px;
  --max-width-lg: 1920px;
  --max-width-xl: 2560px;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 8rem;
  --grid-gap-xxs: var(--spacing-xxs);
  --grid-gap-xs: var(--spacing-xs);
  --grid-gap-sm: var(--spacing-sm);
  --grid-gap-md: var(--spacing-md);
  --grid-gap-lg: var(--spacing-lg);
  --grid-gap-xl: var(--spacing-xl);
  --padding-xxs: var(--spacing-xxs);
  --padding-xs: var(--spacing-xs);
  --padding-sm: var(--spacing-sm);
  --padding-md: var(--spacing-md);
  --padding-lg: var(--spacing-lg);
  --padding-xl: var(--spacing-xl);
  --margin-xxs: var(--spacing-xxs);
  --margin-xs: var(--spacing-xs);
  --margin-sm: var(--spacing-sm);
  --margin-md: var(--spacing-md);
  --margin-lg: var(--spacing-lg);
  --margin-xl: var(--spacing-xl);
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --gradient-overlay-bottom: linear-gradient(180.08deg, transparent 25%, rgba(0, 0, 0, .5) 65%, rgba(0, 0, 0, .6));
  --gradient-overlay-right: linear-gradient(270deg, rgba(0, 0, 0, .9), transparent);
  --promo-banner-z-index: 11500;
  align-items: center;
  background-color: var(--black-100);
  border: .75px solid transparent;
  border-bottom: .75px solid var(--border-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-sm);
  justify-content: flex-start;
  max-height: 10rem;
  padding: var(--padding-sm) var(--padding-sm) var(--padding-sm) 0;
  transition: background-color .2s ease-in-out;
  width: 100%
}

@media (min-width:2560px) {
  .rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a {
    --max-width-md: 1440px
  }
}

@media (max-width:767px) {
  .rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a {
    --spacing-lg: 2rem;
    --spacing-xl: 4rem
  }
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a:hover {
  background-color: hsla(0, 0%, 100%, .05)
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a:hover .rockstargames-modules-core-videoplayerdd5def1f3dba51bbad8b3f4a8bcfb2bc {
  opacity: .4
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a:hover .rockstargames-modules-core-videoplayerb326a396f30341afee720ea501e71328 {
  box-shadow: inset 0 0 0 1px var(--white-40)
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a {
    gap: var(--grid-gap-md)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a {
    gap: var(--grid-gap-sm)
  }
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a:focus-within {
  outline: auto;
  outline-offset: -2px
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a.rockstargames-modules-core-videoplayera12de6e14f3df5b0562dd68d32186f89 {
  background-color: var(--white-15);
  border: .75px solid transparent
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a.rockstargames-modules-core-videoplayera12de6e14f3df5b0562dd68d32186f89 .rockstargames-modules-core-videoplayerdd5def1f3dba51bbad8b3f4a8bcfb2bc {
  opacity: 1
}

.rockstargames-modules-core-videoplayerba9370971792cbbc06310974342ebb1a.rockstargames-modules-core-videoplayera12de6e14f3df5b0562dd68d32186f89 .rockstargames-modules-core-videoplayerb326a396f30341afee720ea501e71328 {
  box-shadow: inset 0 0 0 1px #fff
}

.rockstargames-modules-core-videoplayerabf0714059417ae79695bc3faea057c9 {
  align-items: center;
  display: flex;
  flex-direction: row
}

.rockstargames-modules-core-videoplayercaddbdbe7c48667d41ade95c58cf406e {
  padding: var(--padding-sm)
}

.rockstargames-modules-core-videoplayerdd5def1f3dba51bbad8b3f4a8bcfb2bc {
  height: .8rem;
  opacity: 0;
  transition: opacity .2s ease-in-out;
  width: .8rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerdd5def1f3dba51bbad8b3f4a8bcfb2bc {
    height: 1rem;
    width: 1rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerdd5def1f3dba51bbad8b3f4a8bcfb2bc {
    height: 1rem;
    width: 1rem
  }
}

.rockstargames-modules-core-videoplayerb326a396f30341afee720ea501e71328 {
  aspect-ratio: 16/9;
  background-image: var(--background-image);
  background-position: 50%;
  background-size: contain;
  border-radius: var(--border-radius-sm);
  box-shadow: inset 0 0 0 1px var(--white-40);
  height: -moz-max-content;
  height: max-content;
  position: relative;
  transition: box-shadow .2s ease-in-out;
  width: 8rem;
  z-index: 0
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerb326a396f30341afee720ea501e71328 {
    width: 12rem
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerb326a396f30341afee720ea501e71328 {
    box-shadow: unset;
    width: 8rem
  }
}

.rockstargames-modules-core-videoplayera0c5a0cc358fe449dfd96fcd06956f67 {
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background: var(--black-65);
  border-radius: var(--border-radius-xs);
  bottom: var(--margin-xxs);
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  padding: 0 var(--padding-xxs);
  position: absolute;
  right: var(--margin-xxs)
}

.rockstargames-modules-core-videoplayerb239038297c037c2b3e7358ae6fe159a {
  width: 50%
}

.rockstargames-modules-core-videoplayerb239038297c037c2b3e7358ae6fe159a h3 {
  --font-family-h: "HelveticaNowText";
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  line-height: 1.3;
  text-align: left
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayerb239038297c037c2b3e7358ae6fe159a h3 {
    font-size: var(--font-size-4)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-videoplayerb239038297c037c2b3e7358ae6fe159a h3 {
    font-size: var(--font-size-2)
  }
}

.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99 {
  align-items: center;
  background: var(--white-15);
  border: none;
  border-radius: 100px;
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-body);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: var(--rem-125);
  min-width: var(--rem-6);
  padding: var(--padding-xs) var(--padding-sm);
  text-align: center;
  transition: background-color .3s ease-in-out
}

.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99 img {
  height: var(--nav-icon-size);
  margin-left: var(--grid-gap-xs);
  transition: filter .3s ease-in-out;
  width: var(--nav-icon-size)
}

.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99:focus,
.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99:hover {
  background-color: var(--white-40);
  outline: none
}

.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99.rockstargames-modules-core-videoplayerb0eb1d52ac6f45537d6b1037cd500b97 {
  background: var(--white-100);
  color: var(--black-200)
}

.rockstargames-modules-core-videoplayerb4b38ae15f6cb01e082eeb6279f59a99.rockstargames-modules-core-videoplayerb0eb1d52ac6f45537d6b1037cd500b97 img {
  filter: invert()
}

.rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  scrollbar-color: var(--white-15) transparent;
  scrollbar-width: auto;
  width: 100%
}

.rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104::-webkit-scrollbar {
  width: 8px
}

.rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104::-webkit-scrollbar-track {
  background: transparent
}

.rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104::-webkit-scrollbar-thumb {
  background-color: var(--white-15);
  border: none;
  border-radius: 10px
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104 {
    padding: 1.22rem 0 0;
    width: 25rem
  }
}

.rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104 h2 {
  --font-family-h: "HelveticaNowDisplayBold";
  --letter-spacing-h: -0.025rem;
  background-color: var(--black-100);
  font-size: var(--font-size-5);
  margin: 0;
  padding: var(--padding-sm) 0 var(--padding-sm) 3rem
}

@media (min-width:768px) {
  .rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104 h2 {
    padding: var(--padding-md) 0 var(--padding-md) 3rem
  }
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayera34fe6a55423f248167ff18052d68104 h2 {
    padding: 1rem 0 1rem 3rem
  }
}

.rockstargames-modules-core-videoplayerb4deecbb844461dd25fa7068ff6fc25d {
  background: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  position: static;
  transition: background-color ease-in-ease-out .2s
}

.rockstargames-modules-core-videoplayerb4deecbb844461dd25fa7068ff6fc25d.rockstargames-modules-core-videoplayerd47ac617f0b291d7de81a9a26460c4e0:before {
  background: linear-gradient(0deg, transparent 20%, #121212);
  content: " ";
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1
}

.rockstargames-modules-core-videoplayerb4deecbb844461dd25fa7068ff6fc25d.rockstargames-modules-core-videoplayerdf3aac6821625752a839a08930915003:after {
  background: linear-gradient(180deg, transparent 20%, #121212);
  bottom: 0;
  content: " ";
  height: 3rem;
  pointer-events: none;
  position: absolute;
  width: 100%
}

.rockstargames-modules-core-videoplayerd5575ea79a0fce90d5d5bfe6bcfc4ed0 {
  display: flex;
  flex-direction: column;
  width: 100%
}

@media (orientation:landscape) {
  .rockstargames-modules-core-videoplayerd5575ea79a0fce90d5d5bfe6bcfc4ed0 {
    display: grid;
    grid-template-columns: 1fr 25rem;
    width: 100%
  }
}

/*# sourceMappingURL=a37e41d101923ae26350ef07df8192cb.css.map*/