.edc5d4b57a6ce58d98e1 {
  --aspect-ratio: 16/9;
  background: #000;
  display: flex;
  max-height: 70vh;
  min-height: 30vw;
  overflow: hidden;
  position: relative
}

.edc5d4b57a6ce58d98e1:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.edc5d4b57a6ce58d98e1>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.ed0e45925b31e0dd9b3d {
  grid-gap: var(--grid-gap-static-sm);
  display: grid;
  margin: 0 auto;
  max-width: var(--max-width);
  overflow: hidden;
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.ed0e45925b31e0dd9b3d .ca606836a2761a2226d8 {
  grid-gap: .75rem;
  display: flex
}

.ed0e45925b31e0dd9b3d h5,
.ed0e45925b31e0dd9b3d time {
  color: var(--tag-color, var(--body-color));
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 1.6
}

.ed0e45925b31e0dd9b3d time {
  font-weight: 400;
  opacity: .65
}

.ed0e45925b31e0dd9b3d p {
  margin: 0;
  max-width: calc(var(--max-width-dynamic, var(--max-width-static-md)) + var(--padding-dynamic, 0px) * 2) !important;
  width: 100%
}

.ed0e45925b31e0dd9b3d a {
  font-weight: 700
}