.rockstargames-sites-rockstargames-downloadsed0f965d4863ef72030b9c9340b437f6 {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: var(--padding-top-bottom) var(--padding-sides);
  width: 100%
}

.rockstargames-sites-rockstargames-downloadsed0f965d4863ef72030b9c9340b437f6 .rockstargames-sites-rockstargames-downloadsfdf441763609bfdc6f69298f5995da70 {
  --line-height-h: 1.3;
  font-family: var(--font-family-h);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-h);
  margin: 0 0 1.5rem
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargames-downloadsed0f965d4863ef72030b9c9340b437f6 .rockstargames-sites-rockstargames-downloadsfdf441763609bfdc6f69298f5995da70 {
    font-size: var(--font-size-6)
  }
}

.rockstargames-sites-rockstargames-downloadsed0f965d4863ef72030b9c9340b437f6 .rockstargames-sites-rockstargames-downloadsacf438d1a843d6f0cec22a63e895257b {
  --grid-gap-dynamic: var(--grid-gap-static-xl);
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self)
}

.rockstargames-sites-rockstargames-downloadsaa0184ceee1a8ababa8eecbd64dd7156 {
  grid-gap: var(--standard-grid-gap);
  grid-row-gap: var(--grid-gap-static-lg);
  display: grid
}

@media (max-width:767px) {
  .rockstargames-sites-rockstargames-downloadsaa0184ceee1a8ababa8eecbd64dd7156 {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
}

@media screen and (min-width:0px) and (max-width:1023px) {
  .rockstargames-sites-rockstargames-downloadsaa0184ceee1a8ababa8eecbd64dd7156 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }
}

@media screen and (min-width:1024px) {
  .rockstargames-sites-rockstargames-downloadsaa0184ceee1a8ababa8eecbd64dd7156 {
    grid-template-columns: repeat(4, minmax(0, 1fr))
  }
}

.rockstargames-sites-rockstargames-downloadse20fc95736f8e4427afe967a97afc491 {
  grid-row-gap: var(--standard-grid-gap);
  grid-column-gap: var(--standard-grid-gap);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr))
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  --image-rounding-dynamic: 0;
  --card-background-color: transparent;
  grid-gap: var(--grid-gap-static-sm);
  background: var(--card-background-color);
  border: none;
  border-radius: var(--image-rounding-dynamic, 0);
  display: flex;
  flex-flow: column;
  overflow: hidden;
  overflow: unset;
  transition: transform .2s ease
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6 {
  --grid-gap-dynamic: var(--grid-gap-static-md);
  grid-gap: var(--grid-gap-dynamic);
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self);
  padding: 2rem 1.5rem
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6 .rockstargames-sites-rockstargames-downloadsee6ad5941b34f2a12d300ef2368423c5,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6 .rockstargames-sites-rockstargames-downloadsee6ad5941b34f2a12d300ef2368423c5 {
  --line-height-h: 1.3;
  color: var(--color-h)
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6 {
  padding: 1.5rem
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsee6ad5941b34f2a12d300ef2368423c5,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsee6ad5941b34f2a12d300ef2368423c5 {
  font-size: var(--font-size-3);
  font-weight: 400
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsf42d262bfa89477f865c8173e66022f6 {
  padding: 0
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsd07edad6f1525d075b213bb316186420,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsd07edad6f1525d075b213bb316186420 {
  --image-rounding-dynamic: var(--image-rounding-static-sm);
  border-radius: var(--image-rounding-dynamic, 0)
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsfb8ac9439c78426a0140ee099ea33002,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsfb8ac9439c78426a0140ee099ea33002 {
  grid-gap: var(--grid-gap-static-xs);
  display: grid
}

.rockstargames-sites-rockstargames-downloadsbc64ad87be0adc7a06282d7801c893fd .rockstargames-sites-rockstargames-downloadsfb8ac9439c78426a0140ee099ea33002 h5,
.rockstargames-sites-rockstargames-downloadsd62cf2413dbcaa6b8bf2756cfb695509 .rockstargames-sites-rockstargames-downloadsfb8ac9439c78426a0140ee099ea33002 h5 {
  color: var(--color-h);
  font-family: var(--font-family-h)
}

.rockstargames-sites-rockstargames-downloadsd07edad6f1525d075b213bb316186420 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 {
  cursor: pointer;
  position: relative
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsee6ad5941b34f2a12d300ef2368423c5 {
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, .65);
  display: flex;
  padding: var(--grid-gap-static-xs)
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 ul.rockstargames-sites-rockstargames-downloadsc6e88bf02d7b423fb82689fa9a31889b {
  background-color: var(--background-color);
  border-radius: 0 0 var(--image-rounding-static-xs) var(--image-rounding-static-xs);
  box-shadow: 0 0 0 transparent;
  color: var(--body-color);
  list-style-type: none;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  padding-left: 0 !important;
  position: absolute;
  transition: all .3s ease-in-out, opacity .1s ease-out;
  width: 100%;
  z-index: 151
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 ul.rockstargames-sites-rockstargames-downloadsc6e88bf02d7b423fb82689fa9a31889b.rockstargames-sites-rockstargames-downloadsf2d57daef4e81e109ce9020f9053008f {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  max-height: 280px;
  opacity: 1
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 ul.rockstargames-sites-rockstargames-downloadsc6e88bf02d7b423fb82689fa9a31889b li.rockstargames-sites-rockstargames-downloadsc52328930434e0870534f17b61fb8a9e a {
  display: block;
  padding: var(--grid-gap-static-xs) var(--grid-gap-static-sm)
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 ul.rockstargames-sites-rockstargames-downloadsc6e88bf02d7b423fb82689fa9a31889b li.rockstargames-sites-rockstargames-downloadsc52328930434e0870534f17b61fb8a9e a:hover {
  background: var(--standard-color);
  color: #161616
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7 {
  background-size: cover;
  right: var(--grid-gap-static-sm);
  transition: .3s ease;
  width: 13px
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7,
.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7:after {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  position: absolute;
  transform: rotate(0deg)
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724%27 height=%2724%27 fill=%27none%27%3E%3Cpath stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m6 9 6 6 6-6%27/%3E%3C/svg%3E");
  content: "";
  display: inline-block;
  right: 0;
  top: 0;
  transition: transform .3s;
  width: 24px
}

.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7.rockstargames-sites-rockstargames-downloadsf2d57daef4e81e109ce9020f9053008f,
.rockstargames-sites-rockstargames-downloadsf2d57daef4e81e109ce9020f9053008f.rockstargames-sites-rockstargames-downloadsbb1bbcc881d580e99efcf8e33e777b22 .rockstargames-sites-rockstargames-downloadsc268bf0aa04635bbd796094d4ec60aa7:after {
  transform: rotate(180deg)
}

.rockstargames-sites-rockstargames-downloadsb8af3492282e3baae6f81491853cc98b {
  margin-top: var(--grid-gap-static-md);
  text-align: center
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 {
  --standard-grid-gap: var(--grid-gap-static-md);
  background: var(--card-background-color);
  border-radius: var(--image-rounding-static);
  margin-bottom: var(--grid-gap-static-xl);
  overflow: hidden;
  padding: var(--grid-gap-static-md)
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 {
    --standard-grid-gap: 0;
    border-radius: 0;
    grid-template-columns: 100%;
    margin-bottom: var(--grid-gap-static-xl);
    margin-left: calc(var(--padding-sides) * -1);
    margin-top: calc(var(--padding-top-bottom) * -1);
    width: 100vw
  }
}

@media (min-width:1024px) and (max-width:1400px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 {
    padding: var(--grid-gap-static-lg) var(--grid-gap-static-md)
  }

  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 .rockstargames-sites-rockstargames-downloadsd07edad6f1525d075b213bb316186420 {
    background-position: top;
    background-size: contain
  }

  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 p {
    font-size: var(--font-size-2)
  }
}

@media (min-width:1024px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 {
    grid-template-columns: 50% 1fr;
    padding: var(--grid-gap-static-lg)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc1b8b0e50c272a038bec07baa988d833 {
    --standard-grid-gap: var(--grid-gap-static-lg);
    grid-template-columns: 55% 1fr;
    padding: var(--grid-gap-static-md) var(--grid-gap-static-lg)
  }
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsd07edad6f1525d075b213bb316186420 {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsb4e907dae9617525d8eddc6248097ed0 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/4e16885cf869849e5d6301c448021d1d.jpg);
  background-size: cover
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsc90eb8417c19441eb196d9e941397a85 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/03efbe97dcd11c41147b4a7e9ea08a51.jpg)
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsffa8fcc8ee1ba7368da0e5cf04a11c6f {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/62a7245d89778f07e77721c77828d2cb.jpg)
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsfa2436581864d414a4f6f7c69457b098 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/b7c0ec6d76dbc78c60e7b2237ace331e.jpg)
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadsdb0c9e7735300c6ee6c9a7438ca56c78 {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/e163a22613e726a39a63c91c99ac956a.jpg)
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e {
  grid-gap: var(--grid-gap-static-md);
  align-items: flex-start;
  display: flex;
  flex-flow: column
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e {
    padding: 0 0 var(--grid-gap-static-md)
  }
}

@media (min-width:1920px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e {
    padding: var(--grid-gap-static-md) 0
  }
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e .rockstargames-sites-rockstargames-downloadsd2b92a096e1128c2304435a9a4244cac {
  --grid-gap-dynamic: var(--grid-gap-static-xs);
  grid-gap: var(--grid-gap-dynamic);
  align-content: var(--grid-align-content);
  align-items: var(--grid-align-items);
  align-self: var(--grid-align-self);
  display: grid;
  grid-template-columns: repeat(var(--grid-num-columns, 1), minmax(0, 1fr));
  grid-template: var(--grid-template-override, auto/repeat(var(--grid-num-columns, 1), minmax(0, 1fr)));
  justify-content: var(--grid-justify-content);
  justify-items: var(--grid-justify-items);
  justify-self: var(--grid-justify-self)
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e h2 {
  --line-height-h: 1.5
}

.rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e a {
  align-self: flex-start
}

@media (max-width:1023px) {
  .rockstargames-sites-rockstargames-downloadsa7fff4c56194e0df4d2eac72331a281c .rockstargames-sites-rockstargames-downloadse931040df13c29c73e01769d7833808e a {
    text-align: center;
    width: 100%
  }
}

.rockstargames-sites-rockstargames-downloadsfdf441763609bfdc6f69298f5995da70.rockstargames-sites-rockstargames-downloadsafcc30ca4253a012887dce9b96be02a8 {
  grid-gap: var(--grid-gap-static-sm);
  display: grid
}

.rockstargames-sites-rockstargames-downloadsfdf441763609bfdc6f69298f5995da70.rockstargames-sites-rockstargames-downloadsafcc30ca4253a012887dce9b96be02a8 .rockstargames-sites-rockstargames-downloadsa25ce36c4853860a4a08a1c1153a2591 {
  font-size: var(--font-size-3)
}

/*# sourceMappingURL=4526f7b9f8b4855917710392691a2ef3.css.map*/