.rockstargames-modules-core-heroab34c150959a3e817c63f243582c5dd0 {
  --hero-content-width: 100%;
  background: var(--black-200);
  color: var(--white-100);
  overflow: hidden;
  position: relative;
  width: 100%
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroab34c150959a3e817c63f243582c5dd0 {
    --hero-text-width: 25rem;
    --hero-content-padding-right: var(--padding-sides);
    --hero-content-padding-tb: var(--padding-sides);
    --hero-content-width: calc(var(--hero-text-width) + var(--padding-sides) + var(--hero-content-padding-right));
    align-items: flex-end;
    background: linear-gradient(180deg, var(--black-200) 50%, var(--black-100) 50.5%);
    display: flex;
    min-height: 45vw
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-heroab34c150959a3e817c63f243582c5dd0 {
    --hero-content-padding-tb: var(--padding-lg);
    --hero-content-padding-right: 5%
  }
}

@media (min-width:2560px) {
  .rockstargames-modules-core-heroab34c150959a3e817c63f243582c5dd0 {
    --hero-text-width: 30rem;
    --hero-content-padding-tb: var(--padding-xl)
  }
}

@media (min-width:3840px) {
  .rockstargames-modules-core-heroab34c150959a3e817c63f243582c5dd0 {
    background: var(--black-200);
    min-height: unset;
    min-height: 30vw
  }
}

.rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0 {
  overflow: hidden
}

@media (max-width:767px) {
  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0 {
    --aspect-ratio: 1;
    position: relative
  }

  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio)))
  }

  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

@media (max-width:1023px) {
  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0 {
    --aspect-ratio: 16/9;
    position: relative;
    width: 100%
  }

  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0:before {
    content: "";
    display: block;
    height: 0;
    padding-bottom: calc(100% / calc(var(--aspect-ratio)))
  }

  .rockstargames-modules-core-heroa405ffcbe811ff8a1d60214a55f258d0>* {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
  }
}

.rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01,
.rockstargames-modules-core-heroe2066b3a6a753da9c56bc06c5dc8fb16,
.rockstargames-modules-core-herof0a3e366f73eb509f74764114db394da {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01 {
  --background-top-offset: var(--spacing-sm);
  background: var(--background-image-mobile);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 178.9344635% 5.61871529%, 357.86895752% 11.23743057%, 414% 135.86395264%, 414% 314.88659668%, 318.09069824% 398.00003052%, 139.06799316% 398%, .00001565% 358.04541016%, .00000783% 179.02270508%, 0 0);
  clip-path: polygon(0 0, 178.9344635% 5.61871529%, 357.86895752% 11.23743057%, 414% 135.86395264%, 414% 314.88659668%, 318.09069824% 398.00003052%, 139.06799316% 398%, .00001565% 358.04541016%, .00000783% 179.02270508%, 0 0);
  top: var(--background-top-offset)
}

@media (min-width:0px) {
  .rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01 {
    height: calc(100vw - var(--background-top-offset))
  }
}

@media (min-width:768px) {
  .rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01 {
    background: var(--background-image-desktop) top /cover no-repeat;
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
    height: calc(100% - var(--background-top-offset))
  }
}

@media (min-width:2560px) {
  .rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01 {
    background: var(--background-image-desktop) top right /contain no-repeat;
    background-color: var(--black-200);
    width: 100%
  }
}

@media (min-width:3840px) {
  .rockstargames-modules-core-herod7078d6fe2f842243694d795c612ad01 {
    background: var(--background-image-desktop) top /cover no-repeat;
    margin: 0 auto;
    max-width: calc(var(--max-width-dynamic, var(--content-max-width)) + var(--padding-dynamic, 0px) * 2) !important;
    width: 100%
  }
}

.rockstargames-modules-core-heroe2066b3a6a753da9c56bc06c5dc8fb16 {
  background: var(--foreground-image-mobile) top /contain no-repeat;
  left: unset;
  top: var(--foreground-vertical-offset-mobile)
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroe2066b3a6a753da9c56bc06c5dc8fb16 {
    background-position: top calc(var(--foreground-vertical-offset-desktop)) right var(--foreground-horizontal-offset-desktop);
    background-repeat: no-repeat;
    background-size: var(--foreground-image-width-desktop) auto;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96.098%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96.098%, 0 100%);
    width: 100vw
  }
}

@media (min-width:3840px) {
  .rockstargames-modules-core-heroe2066b3a6a753da9c56bc06c5dc8fb16 {
    --gradient: linear-gradient(90deg, transparent 65%, var(--black-200) 80%);
    background: var(--gradient), var(--foreground-image-desktop) top /contain no-repeat
  }
}

.rockstargames-modules-core-herof0a3e366f73eb509f74764114db394da {
  background: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, .65) 75%, var(--black-200) 90%);
  bottom: -1px;
  top: unset
}

@media (min-width:1024px) {
  .rockstargames-modules-core-herof0a3e366f73eb509f74764114db394da {
    background: linear-gradient(90deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .7) 35%, transparent 65%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%)
  }
}

@media (min-width:2560px) {
  .rockstargames-modules-core-herof0a3e366f73eb509f74764114db394da {
    background: linear-gradient(90deg, var(--black-200) 25%, rgba(0, 0, 0, .65) 40%, transparent 75%)
  }
}

.rockstargames-modules-core-heroda1339e874fd7b777ca7187052e225d2 {
  --padding-dynamic: var(--padding-sides);
  --padding-dynamic-tb: var(--hero-content-padding-tb);
  grid-gap: var(--grid-gap-md);
  align-content: flex-end;
  display: grid;
  justify-content: center;
  padding: var(--padding-t, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0) var(--padding-b, var(--padding-dynamic-tb, 0)) var(--padding-dynamic, 0);
  position: relative;
  z-index: 1
}

@media (min-width:0px) and (max-width:767px) {
  .rockstargames-modules-core-heroda1339e874fd7b777ca7187052e225d2 {
    margin-top: -35%;
    padding-bottom: var(--padding-xl)
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .rockstargames-modules-core-heroda1339e874fd7b777ca7187052e225d2 {
    margin-top: -25%;
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroda1339e874fd7b777ca7187052e225d2 {
    justify-content: flex-start;
    min-width: var(--hero-content-width);
    padding-right: var(--hero-content-padding-right) !important
  }
}

.rockstargames-modules-core-herofc28603be86c8fa586af0b0032b0ebe2 {
  grid-gap: var(--grid-gap-xs);
  display: grid;
  max-width: var(--hero-text-width)
}

.stackButtons .rockstargames-modules-core-herob9653ab22109f4990c7506dd5f5f7642 {
  display: flex;
  flex-direction: column
}

.stackButtons .rockstargames-modules-core-herob9653ab22109f4990c7506dd5f5f7642 span a {
  width: 100%
}

.rockstargames-modules-core-herod8632d3148c6bfef59643b1eda6efc93 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg);
  max-width: var(--hero-text-width)
}

.rockstargames-modules-core-herod8632d3148c6bfef59643b1eda6efc93 p {
  font-size: inherit !important
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 {
  --shape: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  bottom: 0;
  position: relative;
  right: 0;
  width: 100%;
  z-index: 1
}

@media (max-width:1023px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 {
    background: linear-gradient(180deg, var(--black-200) 60%, var(--black-100) 60%);
    padding-bottom: var(--padding-lg)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 {
    margin-bottom: calc(var(--margin-lg) * -1);
    width: calc(100% - var(--hero-content-width))
  }
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
  --slides-per-view-multiplier: 1;
  --slides-per-view: 2
}

@media (min-width:500px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
    --slides-per-view: 3
  }
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
    --slides-per-view: 2;
    padding-left: 0
  }
}

@media (min-width:1440px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
    --slides-per-view: 4
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 [data-size=lg] {
    --slides-per-view: 6
  }
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 h2 {
  color: var(--color-h) !important;
  font-family: var(--font-family-h) !important;
  font-size: var(--font-size-6) !important;
  font-weight: var(--font-weight-regular) !important;
  letter-spacing: var(--letter-spacing-h) !important;
  line-height: var(--line-height-md) !important;
  padding-left: var(--padding-sm)
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide {
  --aspect-ratio: 70/101;
  -webkit-clip-path: var(--shape);
  clip-path: var(--shape);
  overflow: hidden;
  position: relative
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide:before {
  content: "";
  display: block;
  height: 0;
  padding-bottom: calc(100% / calc(var(--aspect-ratio)))
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide>* {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide div {
  align-items: flex-end;
  background-image: var(--background-image-mobile);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide div {
    background-image: var(--background-image-desktop)
  }
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide div:before {
  background: var(--gradient-overlay-bottom);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%
}

.rockstargames-modules-core-heroe21c6325d8b2975ccb4448071d8ebee1 .swiper-slide div h5 {
  color: var(--color-h);
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-md);
  padding: 10%;
  shape-outside: var(--shape);
  width: 100%;
  z-index: 0
}

.rockstargames-modules-core-heroc91dbfc46b32d701ad406e8e05d6c7b7 {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  gap: var(--spacing-xs);
  justify-content: center;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroc91dbfc46b32d701ad406e8e05d6c7b7 {
    flex-direction: row;
    padding: 0
  }
}

.rockstargames-modules-core-heroc91dbfc46b32d701ad406e8e05d6c7b7:after {
  background: linear-gradient(180deg, #000, transparent);
  content: "";
  height: 32px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0
}

.rockstargames-modules-core-heroc91dbfc46b32d701ad406e8e05d6c7b7 a {
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
  width: 100%;
  z-index: 1
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 {
  align-items: center;
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border: 1px solid var(--white-100, #fff);
  border-radius: var(--border-radius-sm, 4px);
  color: var(--white-100);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-xs, .5rem);
  height: var(--button-height-3, 3rem);
  justify-content: center;
  padding: 0 var(--padding-sm);
  transition: all .3s ease-in-out;
  width: 100%
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1[data-brand=reddeadredemption] {
  --font-family-h: RDRUltra
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1[data-brand=reddeadredemption] :lang(pl_pl) {
  --font-family-h: RDRUltra, NeueHelveticaPaneuropean
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 img {
  height: 1.25rem;
  width: auto
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 .rockstargames-modules-core-herobb2dd534268087593550f76172be7a4b {
  display: flex;
  flex-shrink: 0;
  font-family: var(--font-family-h);
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-h);
  line-height: var(--line-height-sm);
  text-transform: uppercase
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1.rockstargames-modules-core-heroaaf54771bc646af7279967df2d3408f0 {
  background-color: var(--white-100);
  color: var(--black-100)
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1:hover {
  background-color: var(--btn-active-color);
  border-color: var(--btn-active-color)
}

.rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1:hover.rockstargames-modules-core-heroaaf54771bc646af7279967df2d3408f0 {
  color: var(--white-100)
}

@media (min-width:1280px) {
  .rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 {
    padding: 0 var(--padding-md)
  }
}

@media (min-width:768px) and (max-width:1539px) {
  .rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 {
    height: 2.5rem
  }

  .rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 img {
    height: 1rem
  }

  .rockstargames-modules-core-herod5cc9adff876740d5ab25bb87f06a7d1 .rockstargames-modules-core-herobb2dd534268087593550f76172be7a4b {
    font-family: var(--font-family-h);
    font-size: var(--font-size-4);
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-h);
    line-height: var(--line-height-sm);
    text-transform: uppercase
  }
}

.rockstargames-modules-core-herof9c8c35a94febb66f009d6b0c9dd8fe2 {
  grid-gap: 1.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%
}

@media (max-width:767px) {
  .rockstargames-modules-core-herof9c8c35a94febb66f009d6b0c9dd8fe2 {
    padding: var(--padding-sm) var(--padding-sides)
  }
}

.rockstargames-modules-core-heroaf3be3bd90650750afa5b0dae0721e5d {
  background-image: url(https://media-rockstargames-com.akamaized.net/mfe6/prod/__common/img/70872fcb201d64ae367f661e8279fcea.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding-bottom: 3rem;
  position: relative
}

.rockstargames-modules-core-heroad77f0d746ff170cdd1d173e1f4510cc {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: var(--grid-gap-md);
  width: 100%
}

.rockstargames-modules-core-heroad77f0d746ff170cdd1d173e1f4510cc .rockstargames-modules-core-herod1e1b4df85976f6b353085e8adc33480,
.rockstargames-modules-core-heroad77f0d746ff170cdd1d173e1f4510cc .rockstargames-modules-core-herobf74a634c9febdae8d97e6e241de28f0 {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-modules-core-heroad77f0d746ff170cdd1d173e1f4510cc .rockstargames-modules-core-herod1e1b4df85976f6b353085e8adc33480 {
  color: var(--white-65, hsla(0, 0%, 100%, .65));
  font-size: var(--font-size-2)
}

.rockstargames-modules-core-heroad77f0d746ff170cdd1d173e1f4510cc .rockstargames-modules-core-herobf74a634c9febdae8d97e6e241de28f0 {
  color: var(--white-100, #fff);
  font-size: var(--font-size-2)
}

.rockstargames-modules-core-herob8e0233267ba05921810793260210866 {
  --hero-background-height: 85%;
  aspect-ratio: 4/5;
  background: transparent;
  color: var(--white-100);
  overflow: hidden;
  position: relative
}

@media (min-width:768px) {
  .rockstargames-modules-core-herob8e0233267ba05921810793260210866 {
    aspect-ratio: 2.5/1
  }
}

.rockstargames-modules-core-heroa34402c543cdc21c911019f01fbf538d {
  overflow: hidden
}

.rockstargames-modules-core-heroa6b35a523a2b0fc6d56844cf3dae0884,
.rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100vw
}

.rockstargames-modules-core-heroa6b35a523a2b0fc6d56844cf3dae0884 {
  background-clip: content-box;
  background-image: var(--background-image-mobile, none);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 100vw
}

@media (max-width:767px) {
  .rockstargames-modules-core-heroa6b35a523a2b0fc6d56844cf3dae0884 {
    -webkit-mask-image: none;
    mask-image: none
  }
}

.rockstargames-modules-core-heroa6b35a523a2b0fc6d56844cf3dae0884:before {
  background-color: var(--black-200);
  content: "";
  height: calc(100% - var(--hero-background-height));
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroa6b35a523a2b0fc6d56844cf3dae0884 {
    background-image: var(--background-image-desktop, var(--background-image-mobile, none))
  }
}

.rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
  background-clip: content-box;
  background-image: var(--foreground-image-mini, var(--foreground-image-mobile, none));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: var(--foreground-vertical-offset-mini, 0);
  height: var(--foreground-image-height-mini, 100%);
  left: var(--foreground-horizontal-offset-mini, 0);
  -webkit-mask-image: var(--background-image-mask);
  mask-image: var(--background-image-mask);
  mask-mode: alpha;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  overflow: hidden;
  width: var(--foreground-image-width-mini, 100vw)
}

@media (max-width:767px) {
  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
    -webkit-mask-image: none;
    mask-image: none
  }

  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c:after {
    background: linear-gradient(180deg, transparent, #000);
    bottom: 0;
    content: "";
    height: calc(100% - var(--hero-background-height));
    left: 0;
    position: absolute;
    right: 0
  }
}

@media (min-width:0px) {
  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
    background-image: var(--foreground-image-mobile, none);
    bottom: var(--foreground-vertical-offset-mobile, 0);
    height: var(--foreground-image-height-mobile, 100%);
    left: var(--foreground-horizontal-offset-mobile, 0);
    width: var(--foreground-image-width-mobile, 100vw)
  }
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
    background-image: var(--foreground-image-tablet, var(--foreground-image-desktop, none));
    background-size: cover;
    bottom: var(--foreground-vertical-offset-tablet, 0);
    height: var(--foreground-image-height-tablet, 100%);
    left: var(--foreground-horizontal-offset-tablet, 0);
    width: var(--foreground-image-width-tablet, 100vw)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
    background-image: var(--foreground-image-desktop, none);
    bottom: var(--foreground-vertical-offset-desktop, 0);
    height: var(--foreground-image-height-desktop, 100%);
    left: var(--foreground-horizontal-offset-desktop, 0);
    width: var(--foreground-image-width-desktop, 100vw)
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-heroe1ec5a44ae4546611241d132fd0a6f3c {
    background-image: var(--foreground-image-ultrawide, none);
    bottom: var(--foreground-vertical-offset-ultrawide, 0);
    height: var(--foreground-image-height-ultrawide, 100%);
    left: var(--foreground-horizontal-offset-ultrawide, 0);
    width: var(--foreground-image-width-ultrawide, 100vw)
  }
}

.rockstargames-modules-core-heroad14c1e60798ec06d48a6094dc712a40 {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%
}

.rockstargames-modules-core-heroa2d080d07749082874680f254a4169fd {
  display: grid;
  width: 75%
}

@media (min-width:768px) {
  .rockstargames-modules-core-heroa2d080d07749082874680f254a4169fd {
    width: 100%
  }
}

.rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs) 0;
  position: relative;
  width: 100vw
}

@media (min-width:768px) {
  .rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 {
    grid-gap: var(--grid-gap-sm);
    align-items: unset;
    bottom: 0;
    height: var(--hero-background-height);
    justify-content: center;
    padding: 0 0 0 10vw;
    position: absolute;
    width: 40vw
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 {
    padding: 0 0 0 12vw;
    width: 48vw
  }
}

@media (min-width:1440px) {
  .rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 {
    grid-gap: var(--grid-gap-md)
  }
}

@media (min-width:1920px) {
  .rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 {
    width: 37vw
  }
}

.rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 [data-brand=rdr1rsp] {
  --brand-icon-size: 70vw
}

@media (min-width:768px) {
  .rockstargames-modules-core-herof5d7467c97b2f0c0fc53f85aa30c4cf9 [data-brand=rdr1rsp] {
    --brand-icon-size: 35vw
  }
}

.rockstargames-modules-core-herod7afacab3be4aad5d956b85cf9102ba5 {
  display: flex;
  flex-direction: row
}

.rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 {
  align-items: center;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background: var(--black-65, hsla(0, 0%, 7%, .65));
  border-radius: var(--border-radius-md, 8px);
  bottom: 0;
  display: inline-flex;
  gap: var(--grid-gap-sm, 20px);
  margin: var(--margin-sm);
  max-width: 14rem;
  padding: var(--padding-sm, 20px);
  position: absolute;
  right: 0
}

@supports not ((-webkit-backdrop-filter: blur(50px)) or (backdrop-filter: blur(50px))) {
  .rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 {
    background: var(--black-200)
  }
}

@media (min-width:1024px) {
  .rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 {
    max-width: 15rem
  }
}

.rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 .rockstargames-modules-core-herob54eb29bfc9e1c04759c5a86db9f899d,
.rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 .rockstargames-modules-core-herofacdc7c8011a78565764be582b6d2fbc {
  color: var(--color-body);
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-regular);
  letter-spacing: var(--letter-spacing-body);
  line-height: var(--line-height-lg)
}

.rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 .rockstargames-modules-core-herob54eb29bfc9e1c04759c5a86db9f899d {
  color: var(--white-65, hsla(0, 0%, 100%, .65))
}

.rockstargames-modules-core-heroc0dad90d57612ad751be9db5d79d20a4 .rockstargames-modules-core-herofacdc7c8011a78565764be582b6d2fbc {
  color: var(--white-100, #fff)
}